@charset "utf-8";

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video, button, input, textarea, select{margin:0;padding:0;border:0;font:inherit}
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {display:block}
body{line-height:1.2}
body,select,input,textarea,button,pre{font-family:Dotum,Gulim,Sans-serif;font-size:12px;color:#666;-webkit-text-size-adjust:none}
a{text-decoration:none;color:#666}
a:hover{text-decoration:underline;color:#3375b7}
fieldset,img{border:0}
img{max-width:100%;vertical-align:top; -ms-interpolation-mode:bicubic}
img,video,audio,object,embed,iframe{max-width:100%}
legend, caption {position:absolute;width:1px;height:1px;clip:rect(1px, 1px, 1px, 1px)}
h1,h2,h3,h4,h5,strong,b,th{font-weight:bold}
pre{word-break:break-all;white-space:pre-line}
i, address {font-style:normal}
ol, ul {list-style:none}
blockquote, q {quotes:none}
blockquote:before, blockquote:after,
q:before, q:after {content:none}
table {border-collapse:collapse;border-spacing:0;table-layout:fixed}
button{overflow:hidden;border:0;background-color:transparent;-webkit-appearance:none;cursor:pointer}
h1,h2,h3,h4,h5{font-weight:bold}
.blind {position:absolute;width:1px;height:1px;clip:rect(1px,1px,1px,1px)}
:focus{outline:none}

/* default */
.mt0{margin-top:0 !important}
.mb0{margin-bottom:0 !important}
.mr0{margin-right:0 !important}
.ml0{margin-left:0 !important}

.mt4{margin-top:4px}
.mt5{margin-top:5px}
.mt7{margin-top:7px}
.mt10{margin-top:10px}
.mt15{margin-top:15px}
.mt20{margin-top:20px}
.mt25{margin-top:25px}
.mt30{margin-top:30px}
.mt40{margin-top:40px}
.mt50{margin-top:50px}
.mt80{margin-top:80px}

.mr10{margin-right:10px}
.mr15{margin-right:15px}
.mr30{margin-right:30px}

.mb3{margin-bottom:3px}
.mb4{margin-bottom:4px}

.ml5{margin-left:5px}
.ml10{margin-left:10px}
.ml15{margin-left:15px}
.ml20{margin-left:20px}
.ml25{margin-left:25px}
.ml40{margin-left:40px}

.p0{padding:0 !important}
.pt0{padding-top:0 !important}
.pr0{padding-right:0 !important}
.pb0{padding-bottom:0 !important}
.pl0{padding-left:0 !important}

.brl0{border-left:0 !important}
.brb0{border-bottom:0 !important}

.vt{vertical-align:top !important}
.vm{vertical-align:middle !important}
.tl{text-align:left !important}
.tc{text-align:center !important}
.tr{text-align:right !important}

.block{display:block !important}
.hidden{overflow:hidden}

.f_l {float:left}
.f_r {float:right}
.clear:after{display:block;clear:both;content:''}

/* text */
.u{text-decoration:underline !important}
.bold{font-weight:bold !important}
.ls-1{letter-spacing:-1px}
.fs11{font-size:11px !important}
.fs16{font-size:16px !important}
.fc_blu{color:#3375b7 !important}
.fc_blk{color:#333 !important}
.fc_blk2{color:#4f4f4f !important}
.fc_gry{color:#999 !important}
.fc_gry2{color:#666 !important}
.fc_red{color:#cb2121 !important}
.fc_red2{color:#c40f0f !important}
.ellipsis{display:inline-block;text-overflow:ellipsis;white-space:nowrap;word-wrap:normal;overflow:hidden;/*vertical-align:top;*/max-width:100%}
.ellipsis2{display:block;display:-webkit-box;overflow:hidden;text-overflow:ellipsis;-webkit-box-orient:vertical;word-wrap:break-word;-webkit-line-clamp:2;line-height:1.2;max-height:28px}
/* -webkit-line-clamp:1;line-height: 1.4;height:64px */

/* btn */
.btn_s{display:inline-block;border-radius:3px;border-style:solid;border-width:1px;padding:3px 8px 2px;font-size:11px}
.btn_s:hover{text-decoration:none}
.btn_m{display:inline-block;border-style:solid;border-width:1px;padding:7px 20px 5px;font-size:12px}
.btn_m:hover{text-decoration:none}
.btn_m2{display:inline-block;border-style:solid;border-width:1px;padding:5px 20px 2px;font-size:12px}
.btn_m2:hover{text-decoration:none}
.btn_r{display:inline-block;border-style:solid;border-width:1px;padding:12px 23px 10px;text-align:center;font-weight:bold;font-size:16px}
.btn_r:hover{text-decoration:none}
.btn_type{background-color:#3375b7;border-color:#3375b7;color:#fff}
.btn_type2{background-color:#4f4f4f;border-color:#4f4f4f;color:#fff}
.btn_type3{background-color:#8c8c8c;border-color:#8c8c8c;color:#fff}
.btn_type4{background-color:transparent;border-color:#3375b7;color:#3375b7}
.btn_type5{background-color:#f2f2f2;border-color:#999;color:#666}
.btn_type6{background-color:transparent;border-color:#4f4f4f;color:#4f4f4f}
.btn_type7{background-color:transparent;border-color:#8c8c8c;color:#8c8c8c}

.btn_area a, .btn_area button{margin-left:5px}
.btn_area a:first-child, .btn_area button:first-child{margin-left:0}
.btn_area:after{display:block;clear:both;content:''}
.btn_area2{padding-top:20px;border-top:1px solid #ddd;text-align:center}
.btn_area2 a, .btn_area2 button{margin-left:10px}
.btn_area2 a:first-child, .btn_area2 button:first-child{margin-left:0}
.btn_area3{text-align:center}
.btn_area3 a, .btn_area3 button{margin-left:10px}
.btn_area3 a:first-child, .btn_area3 button:first-child{margin-left:0}

/* form */
input,textarea,select,button,a,.input,.select{vertical-align:middle;line-height:1.2}
input[type="text"],
input[type="password"],
input[type="tel"]{height:24px;padding:2px 10px 0;border:1px solid #cbcbcb;color:#666}
/*input[type="file"] {background-color:#fff; border:1px solid #ccc; padding:5px}*/
textarea{padding:7px 10px;border:1px solid #cbcbcb;color:#666;resize:none}
.placeholder{position:relative;display:inline-block}
.placeholder .i_text{}
.placeholder .lbl{display:block;position:absolute;top:5px;left:10px;z-index:1;line-height:1.6;color:#999}
.input{display:inline-block;vertical-align:middle;padding:0 9px;border:1px solid #cbcbcb}
.input input{width:100%;border:0;padding-right:0;padding-left:0;background-color:transparent}
.input textarea{width:100%;border:0;padding-right:0;padding-left:0}
.input_cal input{width:66px;letter-spacing:-1px}
.input_cal button, .input_cal a{margin-left:10px}
.input_cal label{top:12px !important}
.input_length{position:relative;padding-bottom:16px}
.input_length .btn_control{position:absolute;bottom:0;left:0;width:100%;height:15px;border-top:1px solid #ebebeb;background:#fbfbfb url(../images/ico_arr2.gif) no-repeat 50% 50%}
.input_srchlist{position:relative}
.input_srchlist .scroll{display:none;position:absolute;top:;margin-top:-1px;left:0;height:200px;background-color:#fff;border:1px solid #cbcbcb}
.input_srchlist ul{padding:10px}
.input_srchlist ul button{height:20px}
.input_srchlist ul button:hover{text-decoration:underline}
.input_srchlist{}
::-webkit-input-placeholder{color:#999}
:-ms-input-placeholder{color:#999}

select{padding:6px 7px;border:1px solid #cbcbcb;vertical-align:middle}
select[disabled]{background-color:#f5f5f5;color:#999}
.select{position:relative;display:inline-block;height:26px;background:#fff url(../images/select_arr.gif) no-repeat 100% 50%;border:1px solid #cbcbcb;vertical-align:middle;z-index:1}
.select label{position:absolute;color:#999;top:0;left:9px;height:26px;line-height:2.5;z-index:-1;font-weight:normal}
.select label.chk{color:#666}
.select select{width:100%;height:26px;padding:0 4px;padding:0 20px 0 0\9;opacity:0;filter:alpha(opacity=0);border:0}
.select select, .select option {font:12px dotum, "돋움", sans-serif;color:#999}
.select.disabled{background-color:#f5f5f5}
.select.disabled label{}

label{cursor:auto;color:#333}
input[type="checkbox"], input[type="radio"]{vertical-align:-2px; width:13px; height:13px;margin-right:5px}
.checkbox{display:inline-block;position:relative;text-align:left}
.checkbox a{display:inline-block;vertical-align:middle;font-size:12px;color:#878787}
.checkbox input{width:1px;height:1px;border:0;margin:-1px;padding:0;overflow:hidden;position:absolute;clip:rect(0,0,0,0)}
.checkbox label{display:inline-block;position:relative;z-index:10;width:auto;height:19px;line-height:15px;padding:2px 0 2px 24px;background-size:19px auto;background-position:0 0;background-repeat:no-repeat;font-weight:300;font-size:12px;color:#878787;cursor:pointer;vertical-align:middle}
.checkbox label{background-image:url(../images/mw/checkbox2.png)}
.checkbox input:checked + label{background-image:url(../images/mw/checkbox2_on.png)}
.checkbox label.on{background-image:url(../images/mw/checkbox2_on.png)}
.checkbox.ty input + label{background-image:url(../images/mw/checkbox.png);background-size:25px auto;height:25px;line-height:18px;padding-left:33px;font-size:14px;font-weight:500;color:#000}
.checkbox.ty input:checked + label{background-image:url(../images/mw/checkbox_on.png)}
.checkbox.ty label.on{background-image:url(../images/mw/checkbox_on.png)}

.filebox{height:23px;color:#fff}
.filebox strong{margin-right:10px;color:#333}
.filebox label{display:inline-block;height:11px;background-color:#3375b7;padding:6px 20px;font-size:12px;color:#fff;cursor:pointer}
/*.filebox .upload-name, .filebox input[type="text"][disabled]{background-color:#fff;border:1px solid #cbcbcb;height:15px;padding:3px 5px;font-size:11px;color:#999;appearance:none;-webkit-appearance:none;vertical-align:top}*/
/*.filebox input[type="file"]{width:0;height:0;margin:0;padding:0;border:0;overflow:hidden;position:absolute}*/
span.filebox{display:inline-block}
.filebox.type label{padding:8px 20px}
.filebox.type .upload-name, .filebox.type input[type="text"][disabled]{padding:5px}

/* layout */
#wrap{padding:20px;max-width:1640px}
/*#wrap:before{content:'';display:block;position:absolute;width:12.2%;max-width:204px;top:45px;bottom:20px;left:20px;background-color:#f5f5f5}*/
header{position:relative}
header h1{margin-left:10px}
header .btn_user{position:absolute;top:2px;right:10px;padding-bottom:7px}
header .btn_user button{padding-right:17px;background:url(../images/ico_arr.gif) no-repeat 100% 50%}
header .btn_user .dep{display:none;position:absolute;top:19px;right:0;background:#fff;border:1px solid #ccc;padding:10px;text-align:center;width:65px;line-height:1.5}
header .btn_user .dep:before{content:'';display:block;width:7px;height:4px;background-image:url(../images/bg_arr.gif);position:absolute;top:-4px;left:50%;margin-left:-3px}
header .btn_user .dep a{padding-left:7px;background:url(../images/ico_square3.gif) no-repeat 0 50%}
header .btn_user:hover .dep{display:block}
header{}
#gnb{margin-top:8px;background-color:#3375b7}
#gnb ul{}
#gnb ul:after{display:block;clear:both;content:''}
#gnb li{float:left;width:12.5%}
#gnb a{display:block;line-height:40px;text-align:center;font-weight:bold;font-size:14px;color:#fff}
#gnb a:hover, #gnb a.active{background-color:#165ea5;text-decoration:none}

#container{position:relative}
#container:before{content:'';display:block;width:12.5%;background-color:#f5f5f5;position:absolute;top:0;bottom:0;left:0}
#container:after{display:block;clear:both;content:''}
.lnb{position:relative;z-index:10;float:left;width:12.5%;padding:20px 0}
.lnb ul li:first-child{margin-top:0 !important}
.lnb h2{margin:0 20px;padding:18px 0 17px 11px;border-top:1px solid #ccc;font-size:14px;color:#333}
.lnb h2:first-child{padding-top:0;border-top:0}
.lnb h2+ul{margin:-9px 0 17px 40px}
.lnb h2+ul li{margin-top:6px}
.lnb h2+ul li a:hover, .lnb h2+ul li a.selected,
.lnb h2 a:hover, .lnb h2 a.selected{text-decoration:underline;font-weight:bold;color:#3375b7}
.lnb ul.etc{margin:0 20px;padding:18px 10px 17px 10px;border-top:1px solid #ccc;border-bottom:1px solid #ccc}
.lnb ul.etc li{margin-top:8px}
.lnb ul.etc li a{font-size:11px;color:#888}
#ct{position:relative;overflow:hidden;padding:20px 0 0 20px}
#ct h2{padding-bottom:7px;border-bottom:1px solid #ccc;font-size:16px}
#ct .path{position:absolute;top:23px;right:10px;font-size:11px;color:#888}
#ct .path .on{color:#333}
.inner{margin:20px 10px}

/* ui */
.ui_frm{padding:45px 30px;border:1px solid #ddd}
.ui_frm2{padding:20px;background-color:#f0f5f9;border:1px solid #abc4d8;line-height:1.6;color:#333}
.ui_frm3{padding:18px;border:1px solid #ddd}
.ui_frm4{border:1px solid #ddd}
.ui_frm4 .article{padding:18px}
.ui_s_type{position:relative;display:inline-block;padding:2px 5px 1px;background-color:#eff7ff;border:1px solid #abbfd3;font-size:11px}
.ui_s_type button, .ui_s_type a{position:absolute;top:5px;right:5px;line-height:0}

/* layer */
.ly_pop{display:none;position:fixed;top:0;left:0;z-index:99;width:100%;height:100%;text-align:center}
.ly_pop .bg{position:absolute;top:0;left:0;width:100%;height:100%;background-color:#000;opacity:.5;filter: alpha(opacity=50)}
.ly_pop .wrap{position:relative;z-index:1;display:inline-block;background:#fff;vertical-align:middle;text-align:left}
.ly_pop .blank{display:inline-block;width:0;height:100%;vertical-align:middle}
.ly_pop h2{padding:16px 30px 14px;border-bottom:1px solid #ddd;font-size:16px;color:#333}
.ly_pop .popcls{position:absolute;top:18px;right:30px}
.ly_pop .elm{padding:30px}
.ly_pop.w600 .wrap{width:600px}
.ly_pop.w700 .wrap{width:700px}

/* scroll*/
.scroll{overflow-y:auto;overflow-x:hidden;-webkit-overflow-scrolling:touch}

/* datepicker */
.datepicker { width: 90px; padding-right: 30px; }
.btnDatepicker { margin-left: -30px; padding-right: 13px; }
/* .btnDatepicker > img {  } */

input[type=text]:disabled,
input[type=password]:disabled,
input[type=number]:disabled { background-color: #ddd; }
select:disabled { background-color: #ddd; }

/* added */
.none{
    display: none;
}
.input_datepicker{
    background: url(http://localhost/resources/images/ico_cal.gif) no-repeat scroll 76px 7px;
    width: 100% !important;
    cursor: pointer;
}

/* 2018.01.24 추가 */
.btn_type { text-decoration: none; }
.btn_type:hover { color: #fff; }
.btn_type2:hover { color: #fff; }