@charset "utf-8";

/* title */
.title_type{font-size:14px;color:#3375b7}
.title_type2{padding-left:11px;background:url(../images/ico_square.gif) no-repeat 0 50%;font-size:12px;color:#333}
.title_type3{text-align:center;font-size:20px;color:#333}
.title_type4{padding:8px 20px 8px 27px;background-color:#eff7ff}
.title_type5{padding:10px 19px;background-color:#f2f2f2;border:1px solid #ddd;font-size:14px}
.title_type6{padding:18px;border-bottom:1px solid #ddd;font-size:16px;color:#333}
.title_type6 .stxt{font-weight:normal;font-size:11px;color:#999}

/* text */
.txt_stamp{text-align:center;font-weight:bold;word-spacing:20px;line-height:1.5;font-size:20px;color:#333}

/* form */
.srch_type li{margin-top:10px}
.srch_type li:first-child{margin-top:0}
.srch_type2{padding:20px 0;border-top:1px solid #ddd;border-bottom:1px solid #ddd}
.chk_wrapping{text-align:right}
.chk_wrapping label{margin-left:7px}
.chk_wrapping input{margin-left:45px}
.chk_list:after{display:block;clear:both;content:''}
.chk_list li{float:left;width:25%}
.chk_list .ellipsis{max-width:100%}
.form_inp_group{position:relative;padding-right:71px}
.form_inp_group .input{background-color:#f2f2f2}
.form_inp_group .input label{top:3px;font-size:14px;font-weight:bold;color:#333}
.form_inp_group .btn_plus{position:absolute;top:0;right:0}
.form_inp_group{}

/* tab */
.tab_type{border-bottom:1px solid #3375b7}
.tab_type:after{display:block;clear:both;content:''}
.tab_type li{float:left}
.tab_type button{height:39px;padding:0 20px;background-color:#8c8c8c;color:#ccc}
.tab_type button.active{background-color:#3375b7;font-weight:bold;color:#fff}
.tab_type{}

.tab_type2{position:relative;border-bottom:1px solid #3375b7}
.tab_type2 li{float:left}
.tab_type2 li button,
.tab_type2 li strong{display:inline-block;padding:12px 20px 10px;background-color:#bbb;font-size:14px;color:#fff}
.tab_type2 li button.active,
.tab_type2 li strong{background-color:#3375b7;font-weight:bold;color:#fff}
.tab_type2 .pos{position:absolute;top:0;right:0}
.tab_type2{}

/* table */
.tbl_type table{width:100%;border-right:1px solid #ddd;border-bottom:1px solid #ddd}
.tbl_type th, .tbl_type td{padding:11px 0 10px !important;border-top:1px solid #ddd;border-left:1px solid #ddd}
.tbl_type th{background-color:#f2f2f2;color:#333}
.tbl_type th.tc{padding-right:5px;padding-left:5px}
.tbl_type th.cal strong{margin:3px 0 0 10px;font-size:16px;color:#333;display:inline-block;vertical-align:middle}
.tbl_type th.cal .select{margin-left:15px}
.tbl_type th.spce{padding:3px 10px !important}
.tbl_type tr.spce th{padding:3px 10px !important}
.tbl_type td{text-align:center}
.tbl_type td.stit{background-color:#f9f9f9}
.tbl_type tr.spce td{padding:3px 10px !important}
.tbl_type tr.spce2 td{padding:3px 0px !important}
.tbl_type tr.spce3 td{padding:3px 5px !important}
.tbl_type td.spce{padding:3px 10px !important}
.tbl_type td.spce2{padding-right:20px !important;padding-left:20px !important}
.tbl_type td.spce3{padding-right:15px !important;padding-left:15px !important}
.tbl_type td.cal{padding:0 !important;text-align:left;color:#333}
.tbl_type td.cal>button{position:relative;width:100%;text-align:left}
.tbl_type td.cal>button:before{content:'';display:none;position:absolute;top:-1px;left:-1px;right:-1px;bottom:-1px}
.tbl_type td.cal .day{display:block;padding:11px 11px 10px}
.tbl_type td.cal ul:after{display:block;clear:both;content:''}
.tbl_type td.cal li{position:relative;float:left;width:50%;padding:11px 0 10px;border-top:1px solid #eee;border-right:1px solid #eee;text-indent:10px}
.tbl_type td.cal li:nth-child(2n){float:none;overflow:hidden;width:auto;border-right:0}
.tbl_type td.cal li .count{position:absolute;top:11px;right:10px}
.tbl_type td.cal li .count b{margin-right:6px;color:#3375b7}
.tbl_type td.cal.today{background-color:#eff7ff}
.tbl_type td.cal.today>button{overflow:visible}
.tbl_type td.cal.today>button:before{display:block;border:1px solid #abbfd3}
.tbl_type td.cal.today li{border-color:#fff}
.tbl_type td.cal.selected{background-color:#fff7ef}
.tbl_type td.cal.selected>button{overflow:visible}
.tbl_type td.cal.selected>button:before{display:block;border:1px solid #d3bfaa}
.tbl_type td.cal.selected li{border-color:#fff}
.tbl_type .scroll.calendar{border-bottom:1px solid #ddd}
.tbl_type{}

.tbl_type2 .input_sum_list li{padding:3px 5px;border-top:1px solid #ddd}
.tbl_type2 .input_sum_list li:first-child{border-top:0}
.tbl_type2 table{width:100%;border-top:1px solid #ddd;border-right:1px solid #ddd}
.tbl_type2 th, .tbl_type2 td{border-bottom:1px solid #ddd;border-left:1px solid #ddd}
.tbl_type2 th{padding:5px 10px 5px 10px !important;background-color:#f2f2f2;text-align:left;color:#333}
.tbl_type2 th.tc{padding-right:10px !important}
.tbl_type2 th em{margin-right:3px;color:#b73333}
.tbl_type2 th.stit{padding:15px 10px 14px !important;background-color:#fff;text-align:center}
.tbl_type2 th.spce{padding-left:31px !important}
.tbl_type2 th .stxt{display:block;margin-top:5px;font-size:11px;font-weight:normal}
.tbl_type2 td{padding:9px 15px 8px !important;line-height:1.5em}
.tbl_type2 td.inp_type>div{position:relative;padding-right:95px}
.tbl_type2 td.inp_type a, .tbl_type2 td.inp_type button{position:absolute;top:0;right:0}
.tbl_type2 td.inp_type .input{display:block}
.tbl_type2 td.inp_type2>div{position:relative}
.tbl_type2 td.inp_type2 .pos{position:absolute;top:0}
.tbl_type2 td.photo{padding:0 !important;text-align:center; background-repeat: no-repeat; background-position: center center; background-size: contain}
.tbl_type2 td.photo img{max-width:199px}
.tbl_type2 td.tr{padding-right:18px !important}
.tbl_type2 td.spce{padding:4px 5px !important}
.tbl_type2 td.spce2{padding:0 !important}
.tbl_type2 td.spce3{padding:4px 15px !important}
.tbl_type2 td.spce4{padding:8px 5px !important}
.tbl_type2{}

.tbl_type3{border-top:1px solid #333;border-bottom:1px solid #333}
.tbl_type3>table{width:100%}
.tbl_type3 th{padding:13px 20px;background-color:#f2f2f2;text-align:left;color:#333}
.tbl_type3 td{padding:20px 19px;border-top:1px solid #ddd}
.tbl_type3 tr.user td{padding:9px 19px 8px;font-size:11px;color:#999}
.tbl_type3 td.stit{background-color:#f2f2f2;border-right:1px solid #ddd;font-weight:bold;padding:0;text-align:center;color:#333}
.tbl_type3 tr.issue td{padding:15px}
.tbl_type3{}

.tbl_type4 .select{height:21px;margin-right:5px}
.tbl_type4 .select select{height:21px}
.tbl_type4 .select label{height:21px;line-height:2}
.tbl_type4 .placeholder .lbl{line-height:1.2}
.tbl_type4 table{width:100%;border:1px solid #ddd !important}
.tbl_type4 th, .tbl_type4 td{border-bottom:1px solid #f3f3f3;border-left:0;text-align:center}
.tbl_type4 tr:last-child td{border-bottom:0}
.tbl_type4 th{padding:3px 0 !important;background-color:#fbfbfb;font-weight:normal;color:#333}
.tbl_type4 td{padding:5px 0 !important}
.tbl_type4 td.tl{padding-left:20px !important;padding-right:10px !important}
.tbl_type4 td.spce{padding-left:20px !important;padding-right:20px !important}
.tbl_type4 td.spce2{padding-left:10px !important;padding-right:10px !important}
.tbl_type4 tr.spce td{padding:2px 0 !important}
.tbl_type4 td.point{background-color:#eff7ff}
.tbl_type4 td.point2{background-color:#fff7ef}
.tbl_type4 table.listbx{border-top:0 !important;background-color:#f8f8f8}
.tbl_type4 table.listbx table{border:0 !important}
.tbl_type4 table.listbx td{padding:7px 10px !important;text-align:left}
.tbl_type4 table.listbx td ul{margin:7px 0 0 15px}
.tbl_type4.v1 td{border-left:1px solid #f3f3f3}
.tbl_type4.v1 td:first-child{border-left:0}
.tbl_type4.v1{}

/* comment */
.cmt_type .note_set{position:relative;margin-top:10px;padding-right:99px}
.cmt_type .listbx{border:1px solid #ddd}
.cmt_type .listbx .input{display:block;padding-right:0;border:0}
.cmt_type .listbx .input textarea{overflow-y:scroll;height:48px}
.cmt_type .notefile{min-height:23px;padding:3px 20px;background-color:#f2f2f2;border-bottom:1px solid #ddd}
.cmt_type .notefile:after{display:block;clear:both;content:''}
.cmt_type .notefile .chk{float:left;margin-top:4px}
.cmt_type .notefile .filebox{float:right}
.cmt_type .notefile .chk label{margin-left:5px;font-size:11px}
.cmt_type .notefile .filebox .upload-name,
.cmt_type .notefile .filebox input[type="text"][disabled]{width:136px}
.cmt_type .btn_enter{position:absolute;top:0;right:0;width:94px;height:94px}
.cmt_type .cmtlist{margin-top:10px;padding:0 19px;border:1px solid #ddd}
.cmt_type .cmtlist:after{display:block;clear:both;content:''}
.cmt_type .cmtlist .article{position:relative;padding:20px 0 20px 57px;background:url(../images/bg_brd_line.gif) repeat-x}
.cmt_type .cmtlist .article>ul:after{display:block;clear:both;content:''}
.cmt_type .cmtlist .article:first-child{background:none}
.cmt_type .cmtlist .user{position:absolute;top:19px;left:0;font-size:12px;color:#333}
.cmt_type .cmtlist li.date{float:left;cfont-size:11px;color:#999}
.cmt_type .cmtlist li.btns{float:right}
.cmt_type .cmtlist li.btns a, .cmt_type .cmtlist li.btns button{margin-left:22px;font-size:11px}
.cmt_type .cmtlist .txtresult{margin-top:12px;line-height:1.4;text-align:justify}
.cmt_type .cmtlist .subcmt{margin-top:15px;padding:5px 0 0 77px;background:none}
.cmt_type .cmtlist .subcmt .user{top:0;padding:3px 0 0 20px;background:url(../images/ico_enter.gif) no-repeat 0 0}
.cmt_type{}

/* list */
.list_type li{margin-top:10px;padding-left:15px;background:url(../images/ico_square2.gif) no-repeat 0 5px}
.list_type li:first-child{margin-top:0}
.list_type li a.selected{text-decoration:underline;color:#3375b7}
.list_type.v1 li{background:none;padding-left:0}

.list_type2{border-right:1px solid #ddd;border-bottom:1px solid #ddd}
.list_type2 li{padding:10px;border-top:1px solid #ddd;border-left:1px solid #ddd}
.list_type2{}

.list_type3 li{}
.list_type3{}
.list_type3{}

.list_stamp:after{display:block;clear:both;content:''}
.list_stamp li{float:left;min-width:98px;margin-left:5px;border:1px solid #cbcbcb;text-align:center}
.list_stamp li:first-child{margin-left:0}
.list_stamp .bx{padding:7px 5px 5px}
.list_stamp span, .list_stamp strong{display:block}
.list_stamp .name{padding:5px 0;border-bottom:1px solid #ddd;background-color:#f2f2f2;font-size:11px;color:#333}
.list_stamp .brnd{color:#3375b7}
.list_stamp .date{margin-top:4px;font-size:11px;color:#999}
.list_stamp .result{padding:3px 0;border-top:1px solid #ddd;font-size:11px}
.list_stamp{}

.list_fileup{}
.list_fileup .filebox, .list_fileup button{margin-left:20px}
.list_fileup button{margin-top:-5px}
.list_fileup ul{padding:10px 20px;border:1px solid #ddd}
.list_fileup li{margin-top:5px;font-size:11px}
.list_fileup li:first-child{margin-top:0}
.list_fileup li:after{display:block;clear:both;content:''}
.list_fileup .btn_down{float:left;padding:2px 0 1px 18px;background:url(../images/ico_file.gif) no-repeat 0 50%;color:#666}
.list_fileup .data{float:right;margin-top:1px}
.list_fileup .data span{display:inline-block;vertical-align:middle}
.list_fileup .btn_del{height:16px;margin-top:1px;padding-left:24px;background:url(../images/ico_del2.gif) no-repeat 0 50%;font-size:11px;color:#999}
.list_fileup{}

.list_group{border:1px solid #ddd}
.list_group .btn_control{width:100%;padding:8px 0;text-indent:15px;background:url(../images/ico_plus2.gif) no-repeat 92% 50%;border-bottom:1px solid #f3f3f3;text-align:left;font-weight:bold;color:#333}
.list_group>ul>li{}
.list_group ul.dep{display:none;padding:0 15px 10px;border-bottom:1px solid #f3f3f3}
.list_group ul.dep>li{margin-top:7px;color:#333}
.list_group ul.dep2{margin-left:8px}
.list_group ul.dep2 li{margin-top:5px;font-size:11px;color:#666}
.list_group>ul>li.open ul.dep{display:block}
.list_group>ul>li.open .btn_control{background-image:url(../images/ico_minus2.gif)}
.list_group{}

.list_check_wrap{padding-top:10px;border-top:1px solid #4f4f4f}
.list_check_wrap .count_set{position:relative;margin-bottom:5px}
.list_check_wrap .count_set .btns{position:absolute;top:0;right:0}
.list_check_wrap .count_set .count{display:inline-block;vertical-align:middle;margin-left:5px;font-size:11px;color:#333}
.list_check_wrap .count_set{}
.list_check{border:1px solid #ddd}
.list_check .th{position:relative;height:17px;padding:4px 0 0;text-align:center;background-color:#fbfbfb;color:#333}
.list_check .th input{position:absolute;top:4px;left:10px}
.list_check li{padding:8px 10px 0;height:21px;border-top:1px solid #f3f3f3}
.list_check li label{color:#666}
.list_check .ellipsis{max-width:100%}
.list_check{}

/* paging */
.paging{padding:20px 0;line-height:normal;text-align:center}
.paging a,
.paging strong{display:inline-block;margin:0 -3px;padding:4px 8px;text-decoration:none;vertical-align:top}
.paging a:hover,
.paging a:active,
.paging a:focus{font-weight:bold}
.paging strong{color:#3375b7}
.paging .direction{width:21px;height:21px;padding:0;font-size:0;color:transparent}
.paging .first{background-image:url(../images/page_first.gif)}
.paging .prev{margin-right:10px;margin-left:5px;background-image:url(../images/page_prev.gif)}
.paging .next{margin-right:5px;margin-left:10px;background-image:url(../images/page_next.gif)}
.paging .last{background-image:url(../images/page_last.gif)}

/* tab */
.tab_books_slide{position:relative;padding:0 40px}
.tab_books_slide .list:after{display:block;clear:both;content:''}
.tab_books_slide .list li{float:left;width:25%}
.tab_books_slide .list li button{width:100%;overflow:visible}
.tab_books_slide .list li a{display:block}
.tab_books_slide .list li button, .tab_books_slide .list li a{position:relative;height:40px;line-height:40px;padding:0 20px;border:1px solid #ddd;border-right:0;text-align:left;color:#333}
.tab_books_slide .list li button:before, .tab_books_slide .list li a:before{content:'';display:none;position:absolute;top:-1px;right:-1px;bottom:-1px;left:-1px;z-index:1;border:1px solid #abbfd3}
.tab_books_slide .list li button.selected, .tab_books_slide .list li a.selected{background-color:#eff7ff}
.tab_books_slide .list li button.selected:before, .tab_books_slide .list li a.selected:before{display:block}
.tab_books_slide .list li button.selected span, .tab_books_slide .list li a.selected span{font-weight:bold}
.tab_books_slide .list li:first-child button, .tab_books_slide .list li:first-child a{border-left:0}
.tab_books_slide .ellipsis{max-width:100%}
.tab_books_slide .flex-prev, .tab_books_slide .flex-next{display:block;width:40px;height:40px;color:transparent;font-size:1px;position:absolute;top:0}
.tab_books_slide .flex-prev{left:0;background-image:url(../images/page2_prev.gif)}
.tab_books_slide .flex-next{right:0;background-image:url(../images/page2_next.gif)}
.tab_books_slide{}

/* join */
.login_section{position:absolute;top:20px;bottom:20px;left:20px;right:20px;background-color:#f5f5f5}
.login_section fieldset{position:absolute;top:50%;margin-top:-235px;left:50%;width:340px;margin-left:-200px;padding:30px;background-color:#fff;border:1px solid #ddd;border-top:2px solid #3375b7}
.login_section h1{}
.login_section h1+p{margin-top:10px}
.login_section .tab{margin-top:28px;background-color:#999}
.login_section .tab li{float:left;width:50%}
.login_section .tab li button{width:100%;height:42px;line-height:43px;font-size:14px;color:#fff}
.login_section .tab li button.active{background-color:#3375b7}
.login_section .form{}
.login_section .form li{margin-top:13px}
.login_section .form .input{border:0;border-bottom:1px solid #aaa}
.login_section .form input, .login_section .form .lbl{font-size:14px}
.login_section .form input{height:33px}
.login_section .form .lbl{top:7px}
.login_section .btn_login{width:100%;margin-top:20px;font-weight:100}
.login_section .menu{margin:20px 0 0 43px}
.login_section .menu li{float:left;margin-left:10px;padding-left:11px;background:url(../images/bg_bar.gif) no-repeat 0 50%}
.login_section .menu li:first-child{margin-left:0;padding-left:0;background:none}
.login_section .cs{margin-top:30px;background-color:#eff7ff;border:1px solid #abbfd3;padding:18px 0 18px 18px;line-height:1.5;font-size:11px;color:#3375b7}
.login_section{top:0;bottom:0;left:0;right:0}

/* 추가분 */

.tbl_type2 td.photo{padding:0 !important;text-align:center; background-repeat: no-repeat; background-position: center center; background-size: contain}
.tbl_type2 td.photo img{max-width:199px}

.input_sum_list > li input { margin-top: 2px; margin-bottom: 2px; }
.input_sum_list > li select { margin-top: 2px; margin-bottom: 2px; }
.input_sum_list > li .btnAdd { display: inline; }
.input_sum_list > li .btnDel { display: inline; }
/* .input_sum_list > li:first-child .btnAdd { display: inline; }
.input_sum_list > li:first-child .btnDel { display: none; } */

.input_select_list > li {
    /* margin: 0px 0px; */
    /* display: inline-block; */
    border-bottom: 1px dotted #eee;
    padding: 0px !important;
    /* padding: 2px 5px 2px 4px !important; */
}
.input_select_list > li:last-child {
    /* margin: 0px 0px; */
    /* display: inline-block; */
    border-bottom: 0px solid #ddd;
}
.input_select_list > li input { margin-top: 2px; margin-bottom: 2px; }
.input_select_list > li select { margin-top: 2px; margin-bottom: 2px; }
.input_select_list > li.no-padding { padding: 0px !important; border-bottom: 1px solid #ddd; }
.input_select_list > li.no-padding:last-child { padding: 0px !important; border-bottom: 0px double #ddd; }

.input_select_list > li > table:not(.tbl_type2) { border: none; }
.input_select_list > li > table:not(.tbl_type2) td.spce {
    padding: 4px 5px !important;
}
.input_select_list > li > table:not(.tbl_type2) tr th { padding: 9px 5px 8px 7px !important; text-align: left; }
.input_select_list > li > table:not(.tbl_type2) tr:first-child th:first-child { border-bottom: none; text-align: center; border-left: none; }
.input_select_list > li > table:not(.tbl_type2) tr:last-child th { border-bottom: none; }
.input_select_list > li > table:not(.tbl_type2) tr:last-child td { border-bottom: none; }
.input_select_list .round {
    display: inline-block;
    padding: 2px 4px;
    /* background-color: #ddd; */
    border-radius: 12px;
    text-align: center;
}
.input_select_list .round:empty { background-color: transparent; }
/* .spce2 > .input_select_list > li { padding: 3px 5px; } */

.empty:empty { background-color: none; }
.w20 { display: inline-block; width: 20px; }
.w40 { display: inline-block; width: 40px; }
.w60 { display: inline-block; width: 60px; }
.w80 { display: inline-block; width: 80px; }
.w100 { display: inline-block; width: 100px; }
.w140 { display: inline-block; width: 140px; }
.w200 { display: inline-block; width: 200px; }
.w3em { display: inline-block; width: 3em; box-sizing: content-box; }

.txtLeft { text-align: left; }
.txtCenter { text-align: center; }
.txtRight { text-align: right; }
.txtLetSpac { letter-spacing: -0.2em; }

.bg_ddd { background-color: #ddd; }
.p2x4 { padding: 2px 4px; }
.p4x7 { padding: 4px 7px; }
.mtb2 { margin-top: 2px; margin-bottom: 2px; }


.txtPaperType { padding-left: 2px; padding-right: 2px; }
.txtPaperType:not(:last-child) {  }
.txtPaperType:empty { display: none; }
.txtPaperType:not(:last-child):after { margin-right: 4px; margin-left: 10px; content: '/'; }
.txtPaperType:last-child {  }

.infoBg { background-color: #eeff00 }
/* .infoBg:empty { background-color: #ffffff } */
.infoBg2 { background-color: #ffb259 }
/* .infoBg2:empty { background-color: #ffffff } */
.bgInfo { background-color: #eeff00 }
.bgFFF { background-color: #ffffff }
.bgDDD { background-color: #dddddd }

.disInBlock { display: inline-block; }

.floatRight { float: right; }

.tmp { display: none; }

.input-block { display: block; width: 100%; min-height: 26px; border: 1px solid #cbcbcb; padding: 2px; box-sizing: border-box; }
.input-block > * {
    position: relative;
    display: inline;
    padding: 4px 24px 4px 10px;
    margin: 2px 2px;
    background-color: #ddd;
    line-break: initial;
    height: 22px;
    line-height: 22px;
    word-break: keep-all;
    white-space: nowrap;
    border-radius: 4px;
}
.input-block > * > .btn {
    vertical-align: middle;
    position: absolute !important;
    width: 12px;
    height: 12px;
    line-height: 0.8em;
    top: 4px !important;
    right: 4px !important;
    border-radius: 12px;
    background-color: #aaa;
    color: #fff;
    font-size: 0.8em;
    text-align: center;
    padding: 0px;
}

.hide { display: none; }