$urlImg : "../image/";
$baseFontSize : 10;
$mq-tablet: 1024px;
$mq-mobile: 768px;

$bg:#F8F8F8;
$fcr:#ff4901;
$fcr2:#E90000;
$fcb:#1480FF;

@function px($pixels, $context: $baseFontSize) {
  @return ($pixels) / $context + rem;
} 

@mixin tablet {
    @media (max-width: #{$mq-tablet}) {
      @content;
    }
}

@mixin mobile {
    @media (max-width: #{$mq-mobile}) {
      @content;
    }
}
  
@mixin blind {
    position: absolute;
	width: 1px;
	height: 1px;
	clip: rect(1px, 1px, 1px, 1px);
}

@mixin clear {
    &:after{
        content: '';
        display: block;
        clear: both;
    }
}

@mixin wfn{
    font-family:'Noto Sans KR', Dotum, Gulim, Sans-serif;
}

@mixin wfr{
    font-family: 'Nunito Sans','Noto Sans KR', sans-serif;
}

$inr: 20;
@mixin inr($cus:false, $v:null){    
    @if $cus{
        padding-right:px($v);
        padding-left:px($v);
    }@else{
        padding-right:px($inr);
        padding-left:px($inr);
    }
}

@mixin pos($p: null,$l: null,$r: null,$t: null,$b: null) {
    position: $p;
    left: $l;
    right: $r;
    top: $t;
    bottom: $b;
}

@mixin bdr($v:null, $o:false){
    overflow: hidden;
    @if $o {
        border-radius:50%;
    }@else{
        border-radius:px($v);
    }
}

@mixin checkbox($type:null){
    display:inline-block;
    position:relative;
    input{
        @include blind;
    }
    input + label{
        display:inline-block;
        position:relative;
        cursor:pointer;
        &:before{
            content:'';
            display:inline-block;
            position:absolute;
            background-repeat:no-repeat;
            background-size:100% 100%;
        }
    }
}

@mixin checkToggle {
    position:relative;
    display:inline-block;
    width:px(42);
    height:px(24);
    background-color:#d3d3d3;
    @include bdr(18*2);
    &, &:before{
        transition: .25s;
    }
    &:before{
        content:'';
        display:inline-block;
        @include pos(absolute, $t:px(1.5), $l:px(2));
        width:px(42/2);
        height:px(42/2);
        background-color:#fff;
        border-radius:50%;
    }
    &:checked{
        background-color:#222;
        &:before{
            transform: translateX(px(17));
        }
    }
}

// icon
@mixin iconArr($w:null, $h:null, $c:null, $ro:false, $thick:.15rem){
    font-size:0;
    display:inline-block;
    width:px($w);height:px($h);
    vertical-align:middle;
    border-width:$thick $thick 0 0;
    border-style:solid;
    border-color:$c;
    @if $ro {
        transform: rotate($ro + deg);
    }
}

@mixin iconArrRadius($w:null, $h:null, $m:null, $c:null, $ro:false, $thick:.15rem){
    font-size:0;
    &,&:before,&:after{
        display:inline-block;
        vertical-align:middle;
    }
    width:px($w);
    height:px($w);
    position:relative;
    &:before,&:after{
        content:'';
        background-color:$c;
        height:$thick;
        width:100%;
        position:absolute;
        left:0;        
    }
    &:before{
        border-top-right-radius:px(6);
        border-bottom-right-radius:px(6);
        transform: rotate(-45deg);
        top:px($m);
    }
    &:after{
        border-top-right-radius:px(6);
        border-bottom-right-radius:px(6);
        transform: rotate(45deg);
        bottom:px($m)
    }
    @if $ro {
        transform: rotate($ro + deg);
    }
}

@mixin iconPlus($w:null, $h:null, $b:null, $c:null, $ro:null){
    font-size:0;line-height:0;color:transparent;
    display:inline-block;
    vertical-align:middle;
    position:relative;
    height:$b;width:$w;
    background-color:$c;
    transform: rotate($ro + deg);
    &:before{
        content:'';
        display:inline-block;
        width:$b;height:$h;
        background-color:$c;
        @include pos(absolute, $t:50%, $l:50%);
        transform: translate(-50%,-50%);
    }
}

@mixin iconSemo($w:null, $h:null, $c:null, $ro:null){
    font-size:0;line-height:0;color:transparent;
    display:inline-block;vertical-align:middle;
    width:0;height:0;
    border-left: $w solid transparent;
    border-right: $w solid transparent;
    border-top: $h solid $c;
    transform: rotate($ro + deg);
}

@mixin bgf($ps:false, $v:null){
    display:inline-block;
    vertical-align:middle;
    background-repeat:no-repeat;
    color:transparent;
    white-space:nowrap;
    text-indent:-1000rem;
    font-size:1px;
    @if $ps {
        background-size:$v auto;
    }@else{
        background-size:100% 100%;
    }
}

@mixin bar($h:null, $c:null, $emp:false, $w:1px){
    position:relative;
    z-index:1;
    &:before{
        content:'';
        display:block;
        height:px($h);
        background-color:$c;
        position:absolute;
        z-index:-1;
    }
    @if $emp{
        &:before{
            width:$w;
        }
    }@else{
        &:before{
            width:$w;
        }
    }
}

@mixin iscroll($type:null, $w:null, $h:null){
	-webkit-overflow-scrolling: touch;
    @if $type == "y" {
        overflow-x:hidden;
        overflow-y:scroll;
        width:$w;
        height:$h;
    }@else if $type == "x" {
        overflow-y:hidden;
        overflow-x:scroll;
        width:$w;
        height:$h;
    }@else if $type == "xy" {
        overflow:scroll;
        width:$w;
        height:$h;
    }
}

@mixin elip($ty){
    line-height:1.2;
    padding-right:2px;
    @if $ty == "l1" {
        display:inline-block;
        text-overflow:ellipsis;
        white-space:nowrap;
        word-wrap:normal;
        overflow:hidden;
        max-width:100%;
    }@else if $ty == "l2" {
        overflow:hidden;
        text-overflow: ellipsis;
        display: -webkit-box;
        -webkit-line-clamp: 2; /* 라인수 */
        -webkit-box-orient: vertical;
        word-wrap:break-word;
    }
}

@mixin loading($style:null, $w:null, $h:null, $st:null, $c:null){
    display:inline-block;
    @if $style == "circle" {
        @keyframes ball-clip-rotate{
            0%{transform: rotate(0deg)}
            50%{transform: rotate(180deg)}
            100%{transform: rotate(360deg)}
        }
        width:$w;height:$h;border-radius:100%;
        border:0 solid $c;border-bottom-color: transparent;
        border-width:$st;
        animation: ball-clip-rotate 0.75s linear infinite;
    }
}


@mixin ani {
    transform:translateY(40px);
    opacity:0;
}


// media
@mixin mq($screen-width){
    @if $screen-width == "small" {
        @media all and (max-width:320px) {
            @content;
        }
    }@else if $screen-width == "fold" {
        @media all and (min-width:640px) {
            @content;
        }
    }
}

