@charset "UTF-8";
/* reset */
*, *:after, *:before {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-text-size-adjust: none;
     -moz-text-size-adjust: none;
      -ms-text-size-adjust: none;
          text-size-adjust: none;
  -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
  -webkit-font-smoothing: antialiased;
}

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  word-break: keep-all;
  word-wrap: break-word;
  white-space: normal;
  line-height: 1;
}

html, body {
  font-family: 'Noto Sans KR', Dotum, Gulim, Sans-serif;
  letter-spacing: -0.5px;
  color: #222;
  font-weight: 300;
  -webkit-overflow-scrolling: touch;
}

html {
  font-size: 62.5%;
}

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block;
}

code {
  font-family: 'Nunito Sans','Noto Sans KR', sans-serif;
}

ol, ul {
  list-style: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
  table-layout: fixed;
}

img, video, audio, object, embed, iframe {
  max-width: 100%;
}

img {
  height: auto;
  vertical-align: top;
}

i, address {
  font-style: normal;
}

em {
  font-style: inherit;
}

a, s {
  text-decoration: none;
  color: #222;
}

h1, h2, h3, h4, h5, strong, b, th {
  font-weight: normal;
}

pre {
  font-family: 'Noto Sans KR', Dotum, Gulim, Sans-serif;
  word-break: break-all;
  white-space: pre-line;
}

legend, caption, .blind {
  position: absolute;
  width: 1px;
  height: 1px;
  clip: rect(1px, 1px, 1px, 1px);
}

.scroll {
  -webkit-overflow-scrolling: touch;
}

:focus {
  outline: 0;
}

button, select {
  text-transform: none;
}

button {
  cursor: pointer;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

button, input, optgroup, select, textarea {
  -webkit-appearance: none;
          appearance: none;
  -moz-appearance: none;
  margin: 0;
  padding: 0;
  background-color: transparent;
  border-radius: 0;
  border: 0;
  font-family: inherit;
  font-size: inherit;
  letter-spacing: inherit;
  line-height: inherit;
}

input::-ms-clear {
  display: none;
}

select {
  overflow: hidden;
  white-space: nowrap;
  width: 100%;
  text-align: left;
  padding-left: 2rem;
  font-size: 1.6rem;
  font-weight: 300;
  color: #222222;
}

select::-ms-expand {
  display: none;
}

.it {
  font-style: italic !important;
}

.terms_list {
  margin-top: 4rem;
}

.terms_list .checkbox {
  display: inline-block;
  position: relative;
  -webkit-transform: translateZ(0);
          transform: translateZ(0);
}

.terms_list .checkbox input {
  position: absolute;
  width: 1px;
  height: 1px;
  clip: rect(1px, 1px, 1px, 1px);
}

.terms_list .checkbox input + label {
  display: inline-block;
  position: relative;
  cursor: pointer;
}

.terms_list .checkbox input + label:before {
  content: '';
  display: inline-block;
  position: absolute;
  background-repeat: no-repeat;
  background-size: 100% 100%;
}

.terms_list .checkbox input + label {
  line-height: 2.2rem;
}

.terms_list .checkbox input + label i {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  position: relative;
  overflow: hidden;
  border-radius: 0.3rem;
  width: 2.2rem;
  height: 2.2rem;
  display: inline-block;
  vertical-align: middle;
  margin-right: 0.6rem;
  border: 1.5px solid #e0e0e0;
  background-color: #ffffff;
}

.terms_list .checkbox input + label i:before {
  content: '';
  position: absolute;
  left: 0.4rem;
  top: 0.5rem;
  font-size: 0;
  display: inline-block;
  width: 1.1rem;
  height: 0.6rem;
  vertical-align: middle;
  border-width: 0.2rem 0.2rem 0 0;
  border-style: solid;
  border-color: #ffffff;
  -webkit-transform: rotate(135deg);
          transform: rotate(135deg);
}

.terms_list .checkbox input:checked + label {
  color: #333333;
}

.terms_list .checkbox input:checked + label i, .terms_list .checkbox input:checked + label i:before {
  border-color: #ffffff;
}

.terms_list .checkbox.i_all {
  display: block;
  margin-bottom: 1rem;
}

.terms_list .checkbox.i_all input + label {
  width: 100%;
  letter-spacing: -0.1rem;
  font-weight: 300;
  font-size: 1.6rem;
  color: #222222;
}

.terms_list .checkbox.i_all input + label i {
  border: 1.5px solid #DDDDDD;
}

.terms_list .checkbox.i_all input:checked + label i {
  border-color: #222222;
  background-color: #333333;
}

.terms_list .checkbox.i_all input:checked + label i:before {
  border-color: #ffffff;
}

.terms_list .checkbox.i_sub {
  display: block;
}

.terms_list .checkbox.i_sub .btn {
  font-weight: 300;
  font-size: 1.4rem;
  color: #7a7a7a;
}

.terms_list .checkbox.i_sub .btn em {
  color: #555555;
}

.terms_list .checkbox.i_sub input + label i {
  width: 1.8rem;
  height: 1.8rem;
  margin-right: 0.3rem;
  border: 1.5px solid #e2e2e2;
}

.terms_list .checkbox.i_sub input + label i:before {
  position: absolute;
  left: 0.3rem;
  top: 0.45rem;
  font-size: 0;
  display: inline-block;
  width: 0.9rem;
  height: 0.5rem;
  vertical-align: middle;
  border-width: 0.2rem 0.2rem 0 0;
  border-style: solid;
  border-color: #ffffff;
  -webkit-transform: rotate(135deg);
          transform: rotate(135deg);
}

.terms_list .checkbox.i_sub input:checked + label i {
  border-color: #e0e0e0 !important;
}

.terms_list .checkbox.i_sub input:checked + label i:before {
  border-color: #565656;
}

.terms_list .item_list li ~ li {
  margin-top: 1.2rem;
}

#wrap {
  position: relative;
  overflow: hidden;
  min-width: 1200px;
}

#header {
  background-color: transparent;
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  width: 100%;
  z-index: 3;
}

#header.fixed {
  background-color: #ffffff;
  border-bottom: 1px solid #eeeeee;
}

#header.fixed .innerWrap .logo {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

#header.fixed .innerWrap .logo a {
  background-image: url("../image/logo_on.png");
}

#header.fixed .innerWrap nav ul li a {
  color: #a7a7a7;
}

#header.fixed .innerWrap nav ul li a.on, #header.fixed .innerWrap nav ul li a:hover {
  color: #222222;
}

#header.fixed .innerWrap nav .btn_close {
  display: none;
}

#header .innerWrap {
  max-width: 120rem;
  margin: 0 auto;
  padding: 2.2rem 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#header .innerWrap .logo {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

#header .innerWrap .logo a {
  display: block;
  display: inline-block;
  vertical-align: middle;
  background-repeat: no-repeat;
  color: transparent;
  white-space: nowrap;
  text-indent: -1000rem;
  font-size: 1px;
  background-size: 100% 100%;
  width: 11.2rem;
  height: 3.5rem;
  background-image: url("../image/logo.png");
}

#header .innerWrap nav {
  -webkit-box-flex: 0;
      -ms-flex: 0 auto;
          flex: 0 auto;
}

#header .innerWrap nav ul {
  overflow: hidden;
}

#header .innerWrap nav ul li {
  float: left;
}

#header .innerWrap nav ul li a {
  color: rgba(255, 255, 255, 0.4);
  font-size: 1.8rem;
  font-weight: 300;
}

#header .innerWrap nav ul li a.on, #header .innerWrap nav ul li a:hover {
  font-weight: 500 !important;
  color: #ffffff;
}

#header .innerWrap nav ul li ~ li {
  margin-left: 6rem;
}

#header .innerWrap nav .btn_close {
  display: none;
}

#header .innerWrap .btnBack,
#header .innerWrap .btnAllMenuOpen,
#header .innerWrap .btnAllMenuClose {
  display: none;
}

.sub_page #header {
  background-color: #ffffff;
  border-bottom: 1px solid #eeeeee;
}

.sub_page #header .innerWrap .logo a {
  background-image: url("../image/logo_on.png");
}

.sub_page #header .innerWrap nav ul li a {
  color: #a7a7a7;
}

.sub_page #header .innerWrap nav ul li a.on, .sub_page #header .innerWrap nav ul li a:hover {
  font-weight: 500;
  color: #222222;
}

.sub_page #footer {
  margin-top: 10rem;
}

#container > section .innerWrap {
  position: relative;
  max-width: 120rem;
  margin: 0 auto;
}

.main .titWrap .subTxt {
  margin-top: 4.5rem;
  font-size: 2.8rem;
  font-weight: 700;
  color: #ff4901;
}

.main .titWrap .tit {
  margin-top: 2rem;
  font-size: 5.6rem;
  line-height: 6.8rem;
  font-weight: 200;
  letter-spacing: -0.3rem;
  color: #222222;
}

.main .titWrap .tit strong {
  font-weight: 700;
}

.main .titWrap .tit em {
  font-style: italic;
}

.main .titWrap .infoTxt {
  margin-top: 4rem;
  font-size: 2rem;
  line-height: 3.2rem;
  font-weight: 300;
  color: #555555;
}

.main .titWrap .infoTxt span {
  font-weight: 500;
}

.main .mbr {
  display: none;
}

section.con01 {
  background: url("../image/bg_con01.jpg") top center no-repeat;
}

section.con01 .innerWrap {
  padding-bottom: 0 !important;
  height: 90rem;
}

section.con01 .info_wrap {
  position: absolute;
  left: 0;
  top: 20rem;
}

section.con01 .titWrap {
  letter-spacing: -2px;
}

section.con01 .titWrap .subTxt {
  -webkit-transform: translateY(40px);
          transform: translateY(40px);
  opacity: 0;
  margin-top: 0;
  font-size: 6rem;
  line-height: 8.4rem;
  color: #ffffff;
  font-weight: 100;
}

section.con01 .titWrap .subTxt strong {
  position: relative;
  font-weight: 700;
  font-size: 7rem;
}

section.con01 .titWrap .txt {
  -webkit-transform: translateY(40px);
          transform: translateY(40px);
  opacity: 0;
  position: relative;
  margin-top: 2rem;
  font-size: 2.4rem;
  line-height: 3.8rem;
  color: rgba(255, 255, 255, 0.5);
}

section.con01 .titWrap .txt strong {
  color: #ff5715;
  font-weight: 700;
}

section.con01 .titWrap .txt em {
  font-style: italic;
}

section.con01 .btnWrap {
  -webkit-transform: translateY(40px);
          transform: translateY(40px);
  opacity: 0;
  margin-top: 6rem;
}

section.con01 .btnWrap .btn {
  position: relative;
  font-family: 'Nunito Sans','Noto Sans KR', sans-serif;
  width: 26rem;
  padding: 2.85rem 0;
  border-radius: 1.2rem;
  border: 0.2rem solid #919091;
  text-align: center;
}

section.con01 .btnWrap .btn span {
  position: relative;
  padding-left: 4.7rem;
  font-weight: 600;
  font-size: 2.2rem;
  color: #ffffff;
}

section.con01 .btnWrap .btn span:before {
  content: '';
  display: inline-block;
  vertical-align: middle;
  background-repeat: no-repeat;
  color: transparent;
  white-space: nowrap;
  text-indent: -1000rem;
  font-size: 1px;
  background-size: 100% 100%;
  position: absolute;
  left: 0;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  width: 3.4rem;
  height: 3.8rem;
}

section.con01 .btnWrap .btn.google span:before {
  background-image: url("../image/main_icon_google.png");
}

section.con01 .btnWrap .btn.apple span:before {
  width: 3.4rem;
  background-image: url("../image/main_icon_apple.png");
}

section.con01 .btnWrap .btn ~ .btn {
  margin-left: 1.2rem;
}

section.con01 .info_txt {
  opacity: 0;
  margin-top: 2rem;
  font-weight: 300;
  font-size: 1.4rem;
  color: rgba(255, 255, 255, 0.5);
}

section.con01 .imgWrap {
  position: absolute;
  right: -3.8rem;
  bottom: 0;
}

section.con01 .imgWrap [class*="img"] {
  position: absolute;
}

section.con01 .imgWrap .img01 {
  overflow: hidden;
  width: 69.2rem;
  height: 76.9rem;
  right: 0;
  bottom: 0;
}

section.con01 .imgWrap .img01 .item {
  -webkit-transform: translateY(40px);
          transform: translateY(40px);
  opacity: 0;
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 100%;
  background: url("../image/img_con01_01.png") top center no-repeat;
}

section.con01 .imgWrap .img01 .item .message01 {
  opacity: 1;
  -webkit-transform: translateY(-193px);
          transform: translateY(-193px);
  position: absolute;
  left: 11.2rem;
  top: 40.8rem;
  width: 35rem;
  height: 17.7rem;
  background: url("../image/img_message.png") top center no-repeat;
}

section.con01 .imgWrap .img01 .item .message01.on {
  background: url("../image/img_message_active.png") top center no-repeat;
  -webkit-transition: background 5s;
  transition: background 5s;
}

section.con01 .imgWrap .img01 .item .message02 {
  opacity: 0;
  -webkit-transform: translateY(-30px);
          transform: translateY(-30px);
  position: absolute;
  left: 8.1rem;
  top: 20.9rem;
  z-index: 1;
  width: 41.2rem;
  height: 23.9rem;
  background: url("../image/img_message02.png") top center no-repeat;
}

section.con01 .imgWrap .img02 {
  overflow: hidden;
  z-index: 1;
  right: 0rem;
  bottom: -7.6rem;
  width: 36.9rem;
  height: 35.6rem;
}

section.con01 .imgWrap .img02 span {
  opacity: 0;
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 100%;
  background: url("../image/img_con01_03.png") top center no-repeat;
}

section.con02 {
  background-color: #f5f5f7;
  padding: 12rem 0;
}

section.con02 .innerWrap {
  height: 57.2rem;
}

section.con02 .titWrap {
  opacity: 0;
  -webkit-transform: translateX(10%);
          transform: translateX(10%);
  position: absolute;
  right: 0;
  top: 0;
  width: 55rem;
}

section.con02 .infoList {
  opacity: 0;
  -webkit-transform: translateX(10%);
          transform: translateX(10%);
  position: absolute;
  right: 0;
  top: 36.8rem;
  width: 55rem;
  border-top: 1px solid #dddddd;
  padding-top: 4rem;
}

section.con02 .infoList .tit {
  display: inline-block;
  font-size: 1.6rem;
  font-weight: 700;
  color: #222222;
  margin-left: 1.2rem;
  text-decoration: underline;
}

section.con02 .infoList ul {
  margin-top: 1rem;
}

section.con02 .infoList ul li {
  position: relative;
  padding-left: 1.2rem;
  font-size: 1.4rem;
  line-height: 2rem;
  color: #a7a7a7;
}

section.con02 .infoList ul li ~ li {
  margin-top: 0.5rem;
}

section.con02 .infoList ul li:before {
  content: '-';
  position: absolute;
  left: 0;
  top: -0.1rem;
}

section.con02 .imgWrap {
  position: absolute;
  left: -1.9rem;
  top: 0;
  width: 64.9rem;
  height: 64rem;
  opacity: 0;
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
  background: url("../image/img_con02_01.png") center no-repeat;
}

section.con02 .imgWrap [class*="img"] {
  position: absolute;
  opacity: 0;
  -webkit-transform: translateY(-10px);
          transform: translateY(-10px);
  width: 7.8rem;
  height: 8rem;
  font-size: 1.7rem;
  font-weight: 700;
  color: #ffffff;
  background: url("../image/bg_con02_txt.png") center no-repeat;
}

section.con02 .imgWrap [class*="img"] .tit {
  display: block;
  padding-top: 1.6rem;
  width: 5rem;
  text-align: center;
}

section.con02 .imgWrap [class*="img"] .count {
  position: absolute;
  right: 1.6rem;
  top: -0.2rem;
  padding: 0.5rem 0rem;
  min-width: 2.2rem;
  text-align: center;
  font-size: 1.2rem;
  font-weight: 700;
  color: #ffffff;
  overflow: hidden;
  border-radius: 5rem;
  background-color: #ff3a1a;
}

section.con02 .imgWrap [class*="img"].img01 {
  background: url("../image/bg_con02_txt01.png") center no-repeat;
  top: 20.5rem;
  left: 28.3rem;
}

section.con02 .imgWrap [class*="img"].img02 {
  background: url("../image/bg_con02_txt02.png") center no-repeat;
  top: 37.6rem;
  left: 37.1rem;
}

section.con02 .imgWrap [class*="img"].img03 {
  background: url("../image/bg_con02_txt03.png") center no-repeat;
  top: 27.4rem;
  left: 14rem;
}

section.con03 {
  background-color: #ffffff;
  overflow: hidden;
}

section.con03 .innerWrap {
  height: 80.9rem;
}

section.con03 .titWrap {
  opacity: 0;
  -webkit-transform: translateX(-10%) translateY(-50%);
          transform: translateX(-10%) translateY(-50%);
  position: absolute;
  top: 50%;
  width: 60rem;
}

section.con03 .titWrap .subTxt {
  margin-top: 0;
}

section.con03 .imgWrap {
  position: absolute;
  right: 0;
  top: 0;
  width: 60rem;
}

section.con03 .imgWrap [class*="img"] {
  position: absolute;
}

section.con03 .imgWrap .img01 {
  overflow: hidden;
  z-index: 1;
  top: 6rem;
  left: 5rem;
  width: 52.5rem;
  height: 20.1rem;
}

section.con03 .imgWrap .img01 span {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 100%;
  background: url("../image/con03_img01.png") top center no-repeat;
}

section.con03 .imgWrap .img02 {
  z-index: 1;
  top: 8.5rem;
  left: 7.7rem;
  width: 47.2rem;
  height: 68.3rem;
}

section.con03 .imgWrap .img02:before {
  content: '';
  position: absolute;
  left: -27px;
  top: -85px;
  z-index: 2;
  width: 52.5rem;
  height: 14.3rem;
  background: #fff url("../image/con03_img_bg.png") left bottom no-repeat;
}

section.con03 .imgWrap .img02 span {
  -webkit-transform: translateY(-477px);
          transform: translateY(-477px);
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  background: url("../image/con03_img02.png") top center no-repeat;
}

section.con03 .bu01 {
  position: absolute;
  overflow: hidden;
  z-index: 1;
  bottom: 0rem;
  left: 39rem;
  width: 41.4rem;
  height: 21.8rem;
}

section.con03 .bu01 span {
  -webkit-transform: translateY(40px);
          transform: translateY(40px);
  opacity: 0;
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 100%;
  background: url("../image/con03_img03.png") top center no-repeat;
}

section.con03 .bu02 {
  position: absolute;
  overflow: hidden;
  z-index: 1;
  bottom: 10.4rem;
  right: -1.6rem;
  width: 21.3rem;
  height: 20.8rem;
}

section.con03 .bu02 span {
  -webkit-transform: translateY(40px);
          transform: translateY(40px);
  opacity: 0;
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  background: url("../image/con03_img04.png") top center no-repeat;
}

section.con04 {
  background-color: #f5f5f7;
}

section.con04 .innerWrap {
  height: 81rem;
}

section.con04 .titWrap {
  opacity: 0;
  -webkit-transform: translateX(10%) translateY(-50%);
          transform: translateX(10%) translateY(-50%);
  position: absolute;
  right: 0;
  top: 50%;
  width: 55rem;
}

section.con04 .titWrap .subTxt {
  margin-top: 0;
}

section.con04 .imgWrap {
  position: absolute;
  left: 0;
  top: 0;
  width: 60rem;
}

section.con04 .imgWrap [class*="img"] {
  position: absolute;
}

section.con04 .imgWrap .itemList {
  position: absolute;
  left: 0;
  top: 13.9rem;
  opacity: 0;
  -webkit-transform: translateY(-30px);
          transform: translateY(-30px);
}

section.con04 .imgWrap .itemList .img01 {
  overflow: hidden;
  z-index: 1;
  top: 0rem;
  left: 0rem;
  width: 40.2rem;
  height: 6.6rem;
}

section.con04 .imgWrap .itemList .img01 span {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  background: url("../image/con04_img01.png") top center no-repeat;
}

section.con04 .imgWrap .itemList .img02 {
  overflow: hidden;
  z-index: 1;
  top: 8.3rem;
  left: 0rem;
  width: 40.2rem;
  height: 6.6rem;
}

section.con04 .imgWrap .itemList .img02 span {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  background: url("../image/con04_img02.png") top center no-repeat;
}

section.con04 .imgWrap .itemList .img03 {
  overflow: hidden;
  z-index: 1;
  top: 16.8rem;
  left: 0rem;
  width: 40.2rem;
  height: 6.7rem;
}

section.con04 .imgWrap .itemList .img03 span {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  background: url("../image/con04_img03.png") top center no-repeat;
}

section.con04 .imgWrap .itemList .img04 {
  overflow: hidden;
  z-index: 1;
  top: 25.2rem;
  left: -0.3rem;
  width: 39.6rem;
  height: 5.7rem;
}

section.con04 .imgWrap .itemList .img04 span {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  background: url("../image/con04_img04.png") top center no-repeat;
}

section.con04 .imgWrap .itemList02 {
  opacity: 0;
  -webkit-transform: translateY(-30px);
          transform: translateY(-30px);
  position: absolute;
  left: -4.4rem;
  top: 45.5rem;
  overflow: hidden;
  width: 48.3rem;
  height: 25.3rem;
  background: url("../image/con04_img05.png") top center no-repeat;
}

section.con04 .imgWrap .itemList02 .img01 {
  top: 11.4rem;
  left: 6.3rem;
  width: 35.5rem;
  height: 7.4rem;
  line-height: 7.4rem;
  border-radius: 1.3rem;
  background-color: #f4f4f4;
  text-align: center;
  font-size: 2rem;
  color: #555555;
}

section.con04 .imgWrap .itemList02 .img01 code {
  font-size: 3.5rem;
  font-weight: 700;
  color: #ff3701;
}

section.con04 .imgWrap .itemList02 .img01 code:before {
  content: attr(per);
}

section.con04 .imgWrap .itemList02 .img02 {
  overflow: hidden;
  z-index: 1;
  top: 11.4rem;
  left: 5.6rem;
  width: 36.9rem;
  height: 8.8rem;
}

section.con04 .imgWrap .itemList02 .img02 span {
  opacity: 0;
  -webkit-transform: translateY(10px);
          transform: translateY(10px);
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  background: url("../image/con04_img06.png") top center no-repeat;
}

section.con04 .imgWrap .itemList03 {
  position: absolute;
  left: -16.7rem;
  top: 42rem;
}

section.con04 .imgWrap .itemList03 .img01 {
  overflow: hidden;
  z-index: 1;
  top: 11.4rem;
  left: 5.6rem;
  width: 17.5rem;
  height: 20.4rem;
}

section.con04 .imgWrap .itemList03 .img01 span {
  opacity: 1;
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  background: url("../image/con04_img08.png") top center no-repeat;
}

section.con04 .imgWrap .itemList03 .img02 {
  z-index: 1;
  top: 3.7rem;
  left: 7.8rem;
  width: 11.3rem;
  height: 9.9rem;
}

section.con04 .imgWrap .itemList03 .img02 span {
  opacity: 1;
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  background: url("../image/con04_img07.png") top center no-repeat;
}

section.con04 .imgWrap .itemList03 .img02 span.on {
  -webkit-animation: wobble-hor-bottom 0.8s both;
          animation: wobble-hor-bottom 0.8s both;
}

@-webkit-keyframes wobble-hor-bottom {
  0%,
  100% {
    -webkit-transform: translateX(0%);
    transform: translateX(0%);
    -webkit-transform-origin: 50% 50%;
    transform-origin: 50% 50%;
  }
  15% {
    -webkit-transform: translateX(-30px) rotate(-6deg);
    transform: translateX(-30px) rotate(-6deg);
  }
  30% {
    -webkit-transform: translateX(15px) rotate(6deg);
    transform: translateX(15px) rotate(6deg);
  }
  45% {
    -webkit-transform: translateX(-15px) rotate(-3.6deg);
    transform: translateX(-15px) rotate(-3.6deg);
  }
  60% {
    -webkit-transform: translateX(9px) rotate(2.4deg);
    transform: translateX(9px) rotate(2.4deg);
  }
  75% {
    -webkit-transform: translateX(-6px) rotate(-1.2deg);
    transform: translateX(-6px) rotate(-1.2deg);
  }
}

@keyframes wobble-hor-bottom {
  0%,
  100% {
    -webkit-transform: translateX(0%);
    transform: translateX(0%);
    -webkit-transform-origin: 50% 50%;
    transform-origin: 50% 50%;
  }
  15% {
    -webkit-transform: translateX(-30px) rotate(-6deg);
    transform: translateX(-30px) rotate(-6deg);
  }
  30% {
    -webkit-transform: translateX(15px) rotate(6deg);
    transform: translateX(15px) rotate(6deg);
  }
  45% {
    -webkit-transform: translateX(-15px) rotate(-3.6deg);
    transform: translateX(-15px) rotate(-3.6deg);
  }
  60% {
    -webkit-transform: translateX(9px) rotate(2.4deg);
    transform: translateX(9px) rotate(2.4deg);
  }
  75% {
    -webkit-transform: translateX(-6px) rotate(-1.2deg);
    transform: translateX(-6px) rotate(-1.2deg);
  }
}

section.con05 {
  background: url("../image/bg_con04.png") top center no-repeat;
  height: 37.9rem;
}

section.con05 .innerWrap {
  padding-top: 9.3rem;
  text-align: center;
}

section.con05 .innerWrap span {
  display: block;
}

section.con05 .subTit {
  font-family: 'Nunito Sans',Sans-serif;
  font-size: 2.8rem;
  font-weight: 700;
  color: #ffffff;
  letter-spacing: 0;
}

section.con05 .callNum {
  margin-top: 2.6rem;
  font-family: 'Nunito Sans',Sans-serif;
  font-size: 7.2rem;
  font-weight: 800;
  color: #ffffff;
}

section.con05 .txt {
  margin-top: 2rem;
  font-size: 2rem;
  font-weight: 300;
  color: rgba(255, 255, 255, 0.6);
}

section.con05 .txt span {
  margin-top: 1.3rem;
  font-size: 1.6rem;
}

#footer {
  border-top: 0.1rem solid #eeeeee;
}

#footer .innerWrap {
  position: relative;
  max-width: 120rem;
  margin: 0 auto;
  overflow: hidden;
  padding: 4.7rem 0;
  font-size: 1.6rem;
  color: #222222;
}

#footer .tit {
  display: block;
  margin-bottom: 1.4rem;
  font-weight: 500;
}

#footer .tit em {
  letter-spacing: -2px;
}

#footer .colWrap {
  overflow: hidden;
}

#footer .colWrap .infoList {
  float: left;
  width: 50%;
}

#footer .colWrap .infoList * {
  font-size: 1.4rem;
  color: #222222;
  font-weight: 300;
}

#footer .colWrap .infoList.right {
  padding-left: 6.6rem;
  position: relative;
}

#footer .colWrap .infoList.right ul {
  clear: both;
}

#footer .colWrap .infoList.right ul.list02 {
  position: absolute;
  left: 6.6rem;
  top: 0;
}

#footer .colWrap .infoList.right ul.list01 {
  position: absolute;
  left: 6.6rem;
  top: 2.8rem;
}

#footer .infoList li {
  float: left;
  margin-bottom: 1rem;
}

#footer .infoList li:before {
  content: '';
  display: inline-block;
  width: 0.1rem;
  height: 1.6rem;
  margin: 0 1.2rem;
  vertical-align: -3px;
  background-color: #dfdfdf;
}

#footer .infoList li:first-child:before, #footer .infoList li.clear:before {
  display: none;
}

#footer .infoList li.clear {
  clear: both;
}

#footer .infoList li .btn {
  color: #222222;
  font-size: 1.4rem;
  font-weight: 300;
}

#footer .infoList li .btn.point {
  font-weight: 400;
  color: #ff4901;
}

#footer .copy {
  margin-top: 0.5rem;
  font-size: 1.4rem;
  color: #999999;
}

/* sub page */
.sub_page #container {
  padding-top: 16.5rem;
  max-width: 120rem;
  margin: 0 auto;
}

.sub_page .sub_page_tit {
  margin-bottom: 4rem;
  text-align: center;
  font-size: 3.4rem;
  font-weight: 700;
}

.tab_wrap {
  font-size: 0;
}

.tab_wrap li {
  display: inline-block;
}

.tab_wrap li a {
  font-size: 2.6rem;
  font-weight: 700;
  color: #cccccc;
}

.tab_wrap li a.on, .tab_wrap li a:hover {
  color: #222222;
}

.tab_wrap li ~ li {
  margin-left: 5rem;
}

.tab_wrap + .tab_wrap02,
.tab_wrap + .bbs_wrap,
.tab_wrap + .qna_wrap {
  margin-top: 4rem;
}

.tab_wrap02 {
  overflow: hidden;
}

.tab_wrap02 li {
  float: left;
}

.tab_wrap02 li a, .tab_wrap02 li button {
  word-break: keep-all;
  display: block;
  overflow: hidden;
  border-radius: 5rem;
  padding: 1.3rem 2rem;
  font-size: 1.6rem;
  font-weight: 500;
  color: #a7a7a7;
  background-color: #f4f4f4;
}

.tab_wrap02 li a.on, .tab_wrap02 li button.on {
  color: #ff4901 !important;
  background-color: #ffe4d9 !important;
}

.tab_wrap02 li a:hover, .tab_wrap02 li button:hover {
  background-color: #eaeaea;
}

.tab_wrap02 li ~ li {
  margin-left: 0.6rem;
}

.tab_wrap02 + .bbs_wrap {
  margin-top: 2rem;
}

.bbs_wrap {
  border-top: 1px solid #222222;
}

.bbs_wrap .bbs_list {
  width: 100%;
}

.bbs_wrap .bbs_list td {
  text-align: center;
  font-size: 1.6rem;
  font-weight: 300;
  color: #7a7a7a;
  padding: 3rem 0;
  border-bottom: 1px solid #dddddd;
}

.bbs_wrap .bbs_list td.tit {
  text-align: left;
  font-size: 1.8rem;
  font-weight: 500;
  color: #222222;
}

.bbs_wrap .bbs_list td.tit div {
  max-width: 100%;
  display: inline-block;
  position: relative;
  padding-right: 1rem;
}

.bbs_wrap .bbs_list td.tit div.new:after {
  content: '';
  position: absolute;
  right: 0;
  top: -5px;
  overflow: hidden;
  border-radius: 0.25rem;
  width: 0.5rem;
  height: 0.5rem;
  background-color: #ff4901;
}

.bbs_wrap .bbs_list td.tit div a {
  display: inline-block;
  max-width: 100%;
  line-height: 1.2;
  padding-right: 2px;
  display: inline-block;
  text-overflow: ellipsis;
  white-space: nowrap;
  word-wrap: normal;
  overflow: hidden;
  max-width: 100%;
}

.bbs_wrap .bbs_list tr:hover {
  background-color: #f9f9f9;
}

.bbs_wrap .bbs_list tr.nodata:hover {
  background-color: #ffffff;
}

.bbs_wrap .bbs_list tr.nodata td {
  padding: 12rem 0;
}

.bbs_wrap .bbs_view .tit_wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 3.7rem 1.9rem;
  border-bottom: 1px solid #dddddd;
}

.bbs_wrap .bbs_view .tit_wrap .tit {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  font-size: 2.4rem;
  font-weight: 500;
  line-height: 1.2;
  padding-right: 2px;
  display: inline-block;
  text-overflow: ellipsis;
  white-space: nowrap;
  word-wrap: normal;
  overflow: hidden;
  max-width: 100%;
}

.bbs_wrap .bbs_view .tit_wrap .date {
  -webkit-box-flex: 0;
      -ms-flex: 0 auto;
          flex: 0 auto;
  font-size: 1.6rem;
  font-weight: 300;
  color: #7a7a7a;
}

.bbs_wrap .bbs_view .detail_wrap {
  padding: 5rem 1.9rem;
  border-bottom: 1px solid #dddddd;
}

.bbs_wrap .bbs_view .detail_wrap pre {
  font-size: 1.6rem;
  color: #555555;
  line-height: 2.4rem;
}

.pagination {
  margin: 4rem auto 0;
  text-align: center;
  font-size: 0;
}

.pagination [class*="btn_"],
.pagination ul {
  display: inline-block;
  vertical-align: middle;
}

.pagination [class*="btn_"] {
  width: 4rem;
  height: 4rem;
  display: inline-block;
  vertical-align: middle;
  background-repeat: no-repeat;
  color: transparent;
  white-space: nowrap;
  text-indent: -1000rem;
  font-size: 1px;
  background-size: 100% 100%;
  background-image: url("../image/btn_prev.png");
  background-size: 1.2rem 2rem;
  background-position: center;
}

.pagination [class*="btn_"].btn_next {
  background-image: url("../image/btn_next.png");
}

.pagination ul {
  margin: 0 2rem;
}

.pagination ul li {
  display: inline-block;
  vertical-align: middle;
}

.pagination ul li a {
  display: block;
  overflow: hidden;
  border-radius: 5rem;
  width: 4rem;
  padding: 1.1rem 0;
  line-height: 1;
  border: 1px solid #fff;
  font-size: 1.6rem;
  font-weight: 300;
  color: #a7a7a7;
}

.pagination ul li a.on {
  border: 1px solid #e1e1e1;
  color: #ff4901;
  font-weight: 500;
}

.pagination ul li ~ li {
  margin-left: 0.9rem;
}

.btn_wrap {
  text-align: center;
  margin: 4rem auto 0;
  font-size: 0;
}

.btn_wrap .btn {
  min-width: 20rem;
  padding: 2.1rem 0;
  display: inline-block;
  text-align: center;
  font-size: 1.8rem;
  font-weight: 500;
  color: #fff;
  border-radius: 1.2rem;
  background-color: #333333;
}

.btn_wrap .btn.small {
  min-width: 17rem;
}

.btn_wrap .btn.big {
  min-width: 30rem;
}

.btn_wrap .btn ~ .btn {
  margin-left: 1rem;
}

.btn_wrap .btn.point {
  background-color: #ff4901;
}

.btn_wrap .btn.cancel {
  background-color: #a7a7a7;
}

.btn_wrap.type02 {
  overflow: hidden;
}

.btn_wrap.type02 .btn.small {
  float: left;
  margin-left: 0;
}

.btn_wrap.type02 .btn.big {
  float: right;
  margin-left: 1rem;
}

.btn_wrap.down_wrap .btn {
  min-width: 23.5rem;
  padding: 2.1rem 0;
  display: inline-block;
  text-align: center;
  border-radius: 1.2rem;
  border: 2px solid #dddddd;
  background-color: #ffffff !important;
}

.btn_wrap.down_wrap .btn span {
  padding-left: 3.2rem;
  line-height: 2.4rem;
  position: relative;
  font-family: 'Nunito Sans','Noto Sans KR', sans-serif;
  font-weight: 700;
  font-size: 1.8rem;
  font-weight: 700;
  color: #222;
}

.btn_wrap.down_wrap .btn span:before {
  content: '';
  display: inline-block;
  vertical-align: middle;
  background-repeat: no-repeat;
  color: transparent;
  white-space: nowrap;
  text-indent: -1000rem;
  font-size: 1px;
  background-size: 100% 100%;
  position: absolute;
  left: 0;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  width: 2.2rem;
  height: 2.4rem;
}

.btn_wrap.down_wrap .btn.google {
  background-color: #ffffff;
}

.btn_wrap.down_wrap .btn.google span:before {
  background-image: url("../image/icon_google.png");
}

.btn_wrap.down_wrap .btn.apple {
  background-color: #a7a7a7;
}

.btn_wrap.down_wrap .btn.apple span:before {
  background-image: url("../image/icon_apple.png");
}

.acco_list {
  width: 100%;
}

.acco_list .tit {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  position: relative;
  width: 100%;
  height: 8.5rem;
  padding-left: 53px;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  text-align: left;
  font-size: 1.8rem;
  font-weight: 500;
  border-bottom: 1px solid #dddddd;
}

.acco_list .tit span {
  display: block;
  line-height: 1.2;
  padding-right: 2px;
  display: inline-block;
  text-overflow: ellipsis;
  white-space: nowrap;
  word-wrap: normal;
  overflow: hidden;
  max-width: 100%;
  padding-right: 5rem;
  color: #222222;
}

.acco_list .tit:before {
  content: 'Q.';
  position: absolute;
  left: 3rem;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  font-family: 'Nunito Sans','Noto Sans KR', sans-serif;
  font-weight: 700;
}

.acco_list .tit:after {
  content: '';
  font-size: 0;
  display: inline-block;
  width: 1.6rem;
  height: 1.6rem;
  vertical-align: middle;
  border-width: 0.15rem 0.15rem 0 0;
  border-style: solid;
  border-color: #222222;
  border-width: 0.2rem 0.2rem 0 0 !important;
  position: absolute;
  right: 3rem;
  top: 4rem;
  -webkit-transform: translateY(-50%) rotate(135deg);
          transform: translateY(-50%) rotate(135deg);
  -webkit-transition: .2s ease .0s;
  transition: .2s ease .0s;
}

.acco_list .tit.on {
  background-color: #f9f9f9;
  border-bottom: 1px solid #f9f9f9;
}

.acco_list .tit.on:after {
  -webkit-transform: translateY(-50%) rotate(-45deg);
          transform: translateY(-50%) rotate(-45deg);
}

.acco_list .tit.on + .cont {
  background-color: #f9f9f9;
  border-bottom: 1px solid #dddddd;
}

.acco_list .cont {
  display: none;
  padding: 0 0 4rem 5.3rem;
}

.acco_list .cont pre {
  font-size: 1.6rem;
  font-weight: 300;
  line-height: 2.4rem;
  color: #555555;
}

.acco_list .cont.on {
  display: block;
}

.accoCont {
  display: none;
}

.accoTit.on + .accoCont {
  display: block;
}

.accoWrap .accoItem .accoTit {
  background: #9ba6b9;
  border-bottom: 1px solid #fff;
  color: #fff;
  font-size: 15px;
  font-weight: 500;
}

.accoWrap .accoItem .accoTit.on {
  background: #fff;
  color: #4278d9;
  border-bottom: 1px solid #e6e6e6;
}

.accoWrap .accoItem .accoTit:after {
  width: 16px;
  height: 9px;
}

.accoWrap .accoItem .accoCont {
  padding: 20px 0;
  border-bottom: 1px solid #e6e6e6;
}

.qna_wrap {
  border-radius: 4rem;
  background-color: #f8f8f8;
  padding: 7.8rem 0;
}

.qna_wrap .tit_wrap {
  margin-bottom: 4rem;
  text-align: center;
}

.qna_wrap .tit_wrap .call_tit {
  font-size: 2.2rem;
  font-weight: 700;
  display: block;
  letter-spacing: 0;
  font-family: 'Nunito Sans','Noto Sans KR', sans-serif;
}

.qna_wrap .tit_wrap .call_num {
  display: block;
  margin: 2rem 0 2rem;
  font-size: 5.4rem;
  font-weight: 900;
}

.qna_wrap .tit_wrap .call_num em {
  color: #ff4901;
}

.qna_wrap .tit_wrap .tit {
  font-size: 1.6rem;
  color: #555555;
  font-weight: 300;
}

.qna_wrap .tit_wrap .tit br {
  display: none;
}

.qna_wrap .tit_wrap .tit span {
  display: block;
  margin-top: 1rem;
  font-size: 1.4rem;
  color: #a7a7a8;
}

.form_wrap .tit {
  text-align: center;
}

.form_wrap .tit strong {
  font-size: 2.2rem;
  font-weight: 500;
}

.form_wrap .tit span {
  display: block;
  margin-top: 1rem;
  font-size: 1.4rem;
  color: #a7a7a8;
}

.form_wrap .terms_list {
  max-width: 52rem;
  margin: 1.8rem auto 0;
}

.form_wrap .terms_list .checkbox {
  min-height: 2.2rem;
  margin-bottom: 0;
}

.form_wrap .terms_list .checkbox.i_sub i {
  top: -0.3rem;
}

.form_wrap .terms_list .checkbox span {
  position: absolute;
  left: 2.7rem;
  top: 0.4rem;
  font-size: 1.6rem;
  font-weight: 300;
}

.form_wrap .terms_list .checkbox span em {
  font-size: 1.4rem;
  color: #a7a7a7;
}

.form_wrap .terms_list .sub_txt_wrap {
  margin-top: 1rem;
}

.form_wrap .terms_list .sub_txt_wrap * {
  font-size: 1.4rem;
  font-weight: 300;
  color: #7a7a7a;
}

.form_wrap .terms_list .sub_txt_wrap .txt_list {
  margin-left: 2.8rem;
}

.form_wrap .terms_list .sub_txt_wrap .txt_list li {
  position: relative;
  padding-left: 0.7rem;
}

.form_wrap .terms_list .sub_txt_wrap .txt_list li:before {
  content: '-';
  position: absolute;
  left: 0;
  top: -0.1rem;
}

.form_wrap .terms_list .sub_txt_wrap .txt_list li span {
  color: #555555;
}

.form_wrap .terms_list .sub_txt_wrap .txt_list li ~ li {
  margin-top: 0.6rem;
}

.form_wrap .terms_list .sub_txt_wrap .txt {
  margin-top: 1.5rem;
  color: #e80000;
  position: relative;
  padding-left: 1.7rem;
}

.form_wrap .terms_list .sub_txt_wrap .txt:before {
  content: '※';
  position: absolute;
  left: 0;
  top: 0;
}

.form_inner {
  margin-top: 3rem;
}

.form_inner .form {
  max-width: 52rem;
  margin: 0 auto;
}

.form_inner .form .item {
  position: relative;
}

.form_inner .form .item ~ .item {
  margin-top: 1rem;
}

.form_inner .form .item.col02 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.form_inner .form .item.col02 .ip_box {
  -webkit-box-flex: 0;
      -ms-flex: 0 22.6rem;
          flex: 0 22.6rem;
}

.form_inner .form .item.col02 .ip_box ~ .ip_box {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  margin-left: 1rem;
}

.form_inner .form .item .ip_wrap {
  position: relative;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 39rem;
  height: 5.4rem;
  border-radius: 1.2rem;
  background-color: #ffffff;
}

.form_inner .form .item .ip_wrap .select_box {
  position: absolute;
  left: 0.2rem;
  bottom: 0.2rem;
  z-index: 1;
  width: 11.5rem;
  height: 5rem;
}

.form_inner .form .item .ip_wrap .select_box:after {
  right: 0;
}

.form_inner .form .item .ip_wrap .select_box select {
  width: 100%;
  height: 5rem;
}

.form_inner .form .item .ip_wrap .select_box ~ .ip_box .lbl {
  left: 13rem;
}

.form_inner .form .item .ip_wrap .select_box ~ .ip_box input {
  width: 15rem !important;
  margin-left: 11.5rem !important;
}

.form_inner .form .item .btn {
  position: absolute;
  right: 0;
  top: 0;
  width: 12rem;
  height: 5.4rem;
  text-align: center;
  font-size: 1.6rem;
  font-weight: 300;
  border-radius: 1.2rem;
  color: #fff;
  background-color: #333333;
}

.form_inner .form .item .btn:disabled {
  color: #a7a7a7;
  background-color: #dddddd;
}

.lbl {
  display: none;
  position: absolute;
  left: 2rem;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  font-size: 1.6rem;
  font-weight: 300;
  color: #a7a7a7;
}

.select_box {
  position: relative;
}

.select_box:after {
  content: '';
  position: absolute;
  right: 2rem;
  top: 1.95rem;
  -webkit-transform: rotate(135deg);
          transform: rotate(135deg);
  font-size: 0;
  display: inline-block;
  width: 0.7rem;
  height: 0.7rem;
  vertical-align: middle;
  border-width: 0.15rem 0.15rem 0 0;
  border-style: solid;
  border-color: #222222;
  border-width: 0.2rem 0.2rem 0 0 !important;
}

.ip_box {
  display: block;
  position: relative;
  border: 2px solid #dddddd;
  background-color: #ffffff;
  overflow: hidden;
  border-radius: 1.2rem;
  width: 100%;
}

.ip_box .time {
  position: absolute;
  right: 2rem;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  font-size: 1.4rem;
  font-weight: 300;
  color: #e80000;
}

.ip_box .ipt {
  display: block;
  min-height: 15.6rem;
  font-size: 1.4rem;
}

.ip_box input, .ip_box .ipt {
  width: 100%;
  padding: 1.3rem 2rem;
  font-size: 1.6rem;
  font-weight: 300;
  color: #222222;
}

.ip_box.focus {
  border: 2px solid #ff4901;
  -webkit-box-shadow: 0 0.8rem 1rem rgba(255, 73, 1, 0.15);
          box-shadow: 0 0.8rem 1rem rgba(255, 73, 1, 0.15);
  background-color: #fff;
}

.ip_box.focus .lbl, .ip_box.focus button.pen {
  display: none !important;
}

.ip_box.focus .select_box .lbl {
  display: block !important;
}

.ip_box.focus .select_box .lbl.hide {
  display: none !important;
}

.ip_box.in {
  border: 2px solid #dddddd;
}

.ip_box.in.focus {
  -webkit-box-shadow: none;
          box-shadow: none;
}

.ip_box.in.focus .select_box .lbl {
  display: none !important;
}

.ip_box.in.focus .select_box .lbl.show {
  display: block !important;
}

.ip_box .select_box .lbl {
  position: relative;
  top: 0;
  -webkit-transform: translateY(0);
          transform: translateY(0);
  line-height: 50px;
  background-color: #ffffff;
}

.ip_box .select_box select {
  width: 100%;
  height: 5rem;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;
  cursor: pointer;
}

.ip_box .select_box .lbl {
  margin-top: 0;
  background-color: #ffffff;
}

.ip_box.textarea_box {
  position: relative;
}

.ip_box.textarea_box .lbl {
  position: absolute;
  left: 2rem;
  top: 2.7rem;
}

.ip_box.textarea_box textarea {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 2rem;
  width: 100%;
  min-height: 16rem;
  font-size: 1.6rem;
  font-weight: 300;
  color: #222222;
}

/* 공동인증서 */
#container.certificate {
  margin-top: 8rem;
  padding-top: 0;
  max-width: 100%;
  height: 88rem;
  background: url("../image/bg_certificate.jpg") top center no-repeat;
  background-size: cover;
}

#container.certificate .sub_txt {
  margin-top: 0;
}

#container.certificate + #footer {
  margin-top: 0;
}

#container.certificate .inner_wrap {
  max-width: 120rem;
  margin: 0 auto;
}

#container.certificate .inner_wrap .tit_wrap {
  padding: 10.8rem 0 8rem 0;
  text-align: center;
}

#container.certificate .inner_wrap .tit_wrap .sub_txt {
  display: block;
  font-size: 2.4rem;
  font-weight: 700;
  color: #ff5b01;
}

#container.certificate .inner_wrap .tit_wrap .tit {
  display: block;
  margin-top: 2.5rem;
  font-size: 4.8rem;
  font-weight: 200;
  color: #ffffff;
}

#container.certificate .inner_wrap .tit_wrap .tit strong {
  font-weight: 700;
}

#container.certificate .inner_wrap .tit_wrap .tit .bu {
  position: relative;
  padding-right: 6.3rem;
}

#container.certificate .inner_wrap .tit_wrap .tit .bu:after {
  content: '';
  display: inline-block;
  vertical-align: middle;
  background-repeat: no-repeat;
  color: transparent;
  white-space: nowrap;
  text-indent: -1000rem;
  font-size: 1px;
  background-size: 100% 100%;
  position: absolute;
  right: 1rem;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  width: 3.5rem;
  height: 1.6rem;
  background-image: url("../image/bu_next.png");
}

#container.certificate .inner_wrap .con_wrap {
  overflow: hidden;
}

#container.certificate .inner_wrap .con_wrap .img_wrap {
  position: relative;
  width: 60rem;
  height: 59.5rem;
  float: left;
}

#container.certificate .inner_wrap .con_wrap .img_wrap .img01 {
  -webkit-transform: translateY(40px);
          transform: translateY(40px);
  opacity: 0;
  position: absolute;
  left: 13.5rem;
  bottom: 0;
  display: inline-block;
  vertical-align: middle;
  background-repeat: no-repeat;
  color: transparent;
  white-space: nowrap;
  text-indent: -1000rem;
  font-size: 1px;
  background-size: 100% 100%;
  width: 52.5rem;
  height: 59.6rem;
  background-image: url("../image/img_certificate.png");
}

#container.certificate .inner_wrap .con_wrap .img_wrap .img02 {
  opacity: 0;
  -webkit-transform: scale(0.8);
          transform: scale(0.8);
  -webkit-transform-origin: top center;
          transform-origin: top center;
  position: absolute;
  left: 8.5rem;
  top: 27.4rem;
  display: inline-block;
  vertical-align: middle;
  background-repeat: no-repeat;
  color: transparent;
  white-space: nowrap;
  text-indent: -1000rem;
  font-size: 1px;
  background-size: 100% 100%;
  width: 49.4rem;
  height: 12.9rem;
  background-image: url("../image/img_certificate02.png");
}

#container.certificate .inner_wrap .con_wrap .txt_wrap {
  width: 60rem;
  float: left;
  padding-left: 8rem;
}

#container.certificate .inner_wrap .con_wrap .txt_wrap .step_wrap {
  padding-top: 4rem;
}

#container.certificate .inner_wrap .con_wrap .txt_wrap .step_wrap .tit {
  display: block;
  font-size: 2rem;
  font-weight: 700;
  color: #ffffff;
}

#container.certificate .inner_wrap .con_wrap .txt_wrap .step_wrap .txt {
  margin-top: 1.7rem;
  font-size: 1.8rem;
  font-weight: 300;
  color: rgba(255, 255, 255, 0.6);
}

#container.certificate .inner_wrap .con_wrap .txt_wrap .step_wrap .txt strong {
  font-weight: 500;
}

#container.certificate .inner_wrap .con_wrap .txt_wrap .step_wrap li ~ li {
  margin-top: 5.7rem;
}

#container.certificate .inner_wrap .con_wrap .txt_wrap .step_wrap .btn {
  margin-top: 2.8rem;
  display: inline-block;
  min-width: 28rem;
  padding: 2.5rem 0;
  text-align: center;
  font-size: 2rem;
  font-weight: 500;
  color: #ffffff;
  border-radius: 1rem;
  -webkit-box-shadow: 0 2rem 3rem rgba(27, 27, 37, 0.5);
          box-shadow: 0 2rem 3rem rgba(27, 27, 37, 0.5);
  background-color: #ff4901;
}

#container.certificate .inner_wrap .con_wrap .txt_wrap .step_wrap .btn span {
  padding-left: 2.8rem;
  line-height: 2rem;
  position: relative;
}

#container.certificate .inner_wrap .con_wrap .txt_wrap .step_wrap .btn span:before {
  content: '';
  display: inline-block;
  vertical-align: middle;
  background-repeat: no-repeat;
  color: transparent;
  white-space: nowrap;
  text-indent: -1000rem;
  font-size: 1px;
  background-size: 100% 100%;
  position: absolute;
  left: 0;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

#container.certificate .inner_wrap .con_wrap .txt_wrap .step_wrap .btn.down span:before {
  width: 2rem;
  height: 1.9rem;
  background-image: url("../image/icon_down.png");
}

#container.certificate .inner_wrap .con_wrap .txt_wrap .step_wrap .btn.copy span:before {
  width: 1.7rem;
  height: 2rem;
  background-image: url("../image/icon_copy.png");
}

#container.certificate .inner_wrap .con_wrap .txt_wrap .step_wrap .step_list {
  margin-top: 2rem;
}

#container.certificate .inner_wrap .con_wrap .txt_wrap .step_wrap .step_list li {
  font-size: 1.8rem;
  font-weight: 300;
  color: rgba(255, 255, 255, 0.6);
  line-height: 2.6rem;
}

#container.certificate .inner_wrap .con_wrap .txt_wrap .step_wrap .step_list li ~ li {
  margin-top: 0.9rem;
}

#container.certificate .inner_wrap .con_wrap .txt_wrap .step_wrap .step_list li code {
  display: inline-block;
  vertical-align: top;
  margin-right: 1rem;
  overflow: hidden;
  border-radius: 5rem;
  width: 2.6rem;
  height: 2.6rem;
  line-height: 2.6rem;
  background-color: rgba(255, 255, 255, 0.2);
  font-size: 1.4rem;
  font-weight: 600;
  color: #ffffff;
  text-align: center;
}

/* 가입하기 */
.ly_join .wrap {
  padding: 4rem;
  width: 56rem;
  height: auto;
  overflow: hidden;
  border-radius: 2rem;
}

.ly_join .wrap .btn_close {
  position: absolute;
  right: 2.5rem;
  top: 2.5rem;
  width: 2.2rem;
  height: 2.2rem;
}

.ly_join .wrap .btn_close i {
  position: relative;
  left: 0;
  font-size: 0;
  line-height: 0;
  color: transparent;
  display: inline-block;
  vertical-align: middle;
  position: relative;
  height: 0.2rem;
  width: 2.6rem;
  background-color: #222;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

.ly_join .wrap .btn_close i:before {
  content: '';
  display: inline-block;
  width: 0.2rem;
  height: 2.6rem;
  background-color: #222;
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.ly_join .wrap .content {
  overflow-y: hidden;
}

.ly_join .wrap .form_wrap .tit {
  margin-top: 2rem;
}

.ly_join .wrap .form_wrap .tit strong {
  font-size: 3rem;
  font-weight: 700;
}

.ly_join .wrap .form_wrap .tit span {
  display: block;
  margin-top: 1.5rem;
  font-size: 1.8rem;
  line-height: 2.6rem;
  color: #555555;
}

.ly_join .wrap .form_inner {
  margin-top: 2.5rem;
}

.ly_join .wrap .form_inner .form .ip_wrap {
  width: 36rem;
}

.ly_join .wrap .form_inner .form .btn {
  width: 11rem;
}

.ly_join .wrap .terms_list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.ly_join .wrap .terms_list .all_list {
  -webkit-box-flex: 0;
      -ms-flex: 0 10rem;
          flex: 0 10rem;
  margin-top: 0.2rem;
}

.ly_join .wrap .terms_list .item_list {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.ly_join .wrap .terms_list .item_list {
  overflow: hidden;
  position: relative;
}

.ly_join .wrap .terms_list .item_list .checkbox {
  min-height: 1.9rem;
}

.ly_join .wrap .terms_list .item_list li {
  float: left;
  letter-spacing: -1px;
  margin-right: 1rem;
  margin-top: 0.5rem;
}

.ly_join .wrap .terms_list .item_list li:nth-child(3) {
  margin-right: 0;
}

.ly_join .wrap .sub_tit {
  margin-top: 1rem;
  display: block;
  text-align: center;
  font-size: 1.4rem;
  font-weight: 300;
  color: #a7a7a7;
}

.ly_join .wrap .step_end_wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 3rem;
}

.ly_join .wrap .step_end_wrap li {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  text-align: center;
  font-size: 1.6rem;
  font-weight: 300;
  color: #666666;
}

.ly_join .wrap .step_end_wrap li ~ li {
  margin-left: 2.5rem;
}

.ly_join .wrap .step_end_wrap li ~ li div {
  position: relative;
}

.ly_join .wrap .step_end_wrap li ~ li div:before {
  content: '';
  display: inline-block;
  vertical-align: middle;
  background-repeat: no-repeat;
  color: transparent;
  white-space: nowrap;
  text-indent: -1000rem;
  font-size: 1px;
  background-size: 100% 100%;
  position: absolute;
  left: -1.4rem;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  width: 1rem;
  height: 1.7rem;
  background-image: url("../image/bu_join_end.png");
}

.ly_join .wrap .step_end_wrap li .tit {
  display: block;
  margin-top: 1.4rem;
  line-height: 2.2rem;
}

.ly_join .wrap .step_end_wrap li .tit code {
  display: inline-block;
  vertical-align: middle;
  margin-right: 0.7rem;
  overflow: hidden;
  border-radius: 5rem;
  width: 2.2rem;
  height: 2.2rem;
  line-height: 2.2rem;
  background-color: #333333;
  font-size: 1.4rem;
  font-weight: 600;
  color: #ffffff;
  text-align: center;
}

/* error*/
.errorBody {
  position: absolute;
  width: 100%;
  height: 100%;
  text-align: center;
  background-color: #f2f3f5;
}

.errorWrap {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  text-align: center;
}

.errorWrap .tit:before {
  content: '';
  width: auto;
  height: 12.3rem;
  display: block;
  margin: 0 auto 2.1rem;
  background: url(../image/img_error.png) top center no-repeat;
  background-size: auto 100%;
}

.errorWrap .tit {
  letter-spacing: -1.5px;
  margin-bottom: 2.1rem;
  font-size: 3.2rem;
  font-weight: 700;
  line-height: 1;
  color: #222222;
}

.errorWrap .txt {
  letter-spacing: -1.5px;
  margin-bottom: 3.8rem;
  font-size: 1.6rem;
  font-weight: 300;
  line-height: 2.4rem;
  color: #999999;
}

.errorWrap .btn {
  position: relative;
  display: block;
  width: 27.5rem;
  margin: 0 auto;
  height: 6rem;
  line-height: 1;
  background-color: #ff4901;
  border-radius: 1.2rem;
  -webkit-box-shadow: 0 1rem 2rem rgba(255, 82, 21, 0.3);
          box-shadow: 0 1rem 2rem rgba(255, 82, 21, 0.3);
}

.errorWrap .btn span {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  display: block;
  padding: 2.1rem 0;
  text-align: center;
  color: #fff;
  font-weight: 500;
  font-size: 1.8rem;
}

/* layer popup */
.ly_pop {
  display: none;
  z-index: 999;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
}

.ly_pop:before {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
}

.ly_pop .wrap {
  min-width: 33rem;
  z-index: 1;
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  overflow: hidden;
  border-radius: 2rem;
  background-color: #ffffff;
  -webkit-box-shadow: 0 0 3rem rgba(0, 0, 0, 0.1);
          box-shadow: 0 0 3rem rgba(0, 0, 0, 0.1);
}

.ly_pop .content {
  padding: 2rem;
  text-align: center;
}

.ly_pop .content .txt {
  padding-top: 1.5rem;
  font-size: 1.6rem;
  line-height: 2.4rem;
  font-weight: 300;
  color: #222222;
}

.sub_txt {
  margin-top: 1rem;
  font-size: 1.6rem;
  line-height: 2.4rem;
  font-weight: 300;
  color: #ff4901;
}

.ly_pop .btn_area {
  position: relative;
  margin-top: 3.5rem;
}

.ly_pop .btn_area [class*="btn"] {
  display: block;
  width: 100%;
  padding: 1.9rem 0;
  line-height: 1;
  border-radius: 1.2rem;
  text-align: center;
  font-weight: 300;
  font-size: 1.6rem;
  background-color: #333333;
  color: #ffffff;
}

.ly_pop .btn_area [class*="btn"] ~ [class*="btn"] {
  margin-top: 1rem;
}

.ly_agree .wrap {
  width: 600px;
  height: 700px;
  border-radius: 0;
}

.ly_agree .global_terms {
  display: block;
  position: static;
}

.ly_agree .global_terms * {
  text-align: left;
  line-height: 1.3;
}

.ly_agree .global_terms .content {
  overflow-x: hidden;
}

/* error*/
/* 모바일 */
/*# sourceMappingURL=pc.css.map */