@charset "utf-8";

@import url('fullpage.min.css');

.inner{position:absolute;z-index:1;top:50%;left:50%;width:1280px;margin-left:-640px}
.btn_top{display:none;position:absolute;bottom:21px;right:70px;z-index:9;transition: bottom .6s ease}
.btn_top.act1{display:block}
.btn_top.sec5{bottom: 183px}

.title_type{margin-bottom:45px;font-size:36px;text-align:center}
.title_type i{display:inline-block;background-image:url(../image/bg_com.png);vertical-align:middle;color:transparent;white-space:nowrap}
.title_type .ico_cau{width:58px;height:58px;background-position:0 -64px;margin:-2px 25px 0 0}

.btn_area{margin-top:25px}
.btn_area{text-align:center}
.btn_area a, .btn_area button{margin-left:7px}
.btn_area a:first-child, .btn_area button:first-child{margin-left:0}
.btn_area .btn_skip{background-color:#222;color:#fff;width:276px;height:60px}
.btn_area .notice{margin-top:10px;font-size:14px;font-weight:300;color:#E50927}

.form_type>ul{border-top:1px solid #D4D4D4;border-bottom:1px solid #D4D4D4;padding:35px 40px 45px}
.form_type>ul>li{position:relative;padding-left:94px;margin-top:13px}
.form_type>ul>li:first-child{margin-top:0}
.form_type .box{display:inline-block}
.form_type .box.text{line-height:48px}
.form_type .tab{border:0 !important}
.form_type .tab ul:after{display:block;clear:both;content:''}
.form_type .tab li{position:relative;float:left;width:33.3%}
.form_type .tab li>span{display:block;line-height:49px;text-decoration:none;font-weight:400;font-family:'Roboto';font-size:16px;color:#666;text-align:center;border:1px solid #dedede;margin-left:-1px;cursor:pointer}
.form_type .tab li.last{width:33.4%}
.form_type .tab li:first-child a{margin-left:0}
.form_type .tab li.active{z-index:1}
.form_type .tab li.active>span{border-color:#ee1e4f;color:#ee1e4f}
.form_type .stit{position:absolute;top:0;left:0;line-height:46px;padding-top:1px;display:inline-block;font-size:16px;color:#000}
.form_type .cau{margin-top:40px;padding-top:20px;border-top:1px solid #e1e1e1;text-align:center;font-weight:300;letter-spacing:-.09em;font-size:14px;color:#a0a0a0}
.form_type .cau2{margin-bottom:40px;font-weight:300;font-size:16px;text-align:center;color:#666}
.form_type li.num{margin-top:15px;padding-left:199px;border:0}
.form_type li.num .select{position:absolute;top:0;left:94px;width:70px}
@-moz-document url-prefix() {
  .form_type li.num select{text-indent:0}
}
.form_type li.num input{width:255px}
.form_type li.num .btn_num{width:98px;margin-left:10px;background-color:#7c7c7c;vertical-align:top;color:#fff}
.form_type li.num .btn_num.on{background-color:#ea273a}
.form_type li.num2 .box{position:relative}
.form_type li.num2{margin-top:0;border:0}
.form_type li.num2 .btn_re{margin-left:18px;border-bottom:1px solid #5A5A5A;font-size:15px;color:#5A5A5A}
.form_type li.num2 .timer{position:absolute;top:19px;right:20px;font-size:15px;color:#777;text-align:right}
.form_type li.num2 .timer em{margin-left:10px;color:#E50927}
.form_type li.num2 input{width:300px}
.form_type li.ip input{width:360px}
.form_type li.captcha{padding-left:249px;border:0 !important}
.form_type li.captcha .pinArea{position:absolute;top:0;left:94px;padding:12px 10px 5px;border:1px solid #e1e1e1}
.form_type li.captcha .pin_btn{display:block;margin-top:4px;text-align:right}
.form_type li.captcha .pinArea .pin_img{display:inline-block;text-align:center}
.form_type li.captcha .pinArea .pin_img img{width:128px;height:42px}
.form_type li.captcha .userNum label{display:block;padding:3px 0 6px;font-size:16px;color:#000}
.form_type li.captcha .userNum input{width:205px}

/* slideshow */
.slideshow{overflow:hidden;height:93%}
.slideshow, .slideshow:after{position:absolute;top:0;left:0;z-index:0;width:100%}
.slideshow:after{content:'';height:100%;background:url(../image/slideshow_bg_dot.png);z-index:1}
.slideshow .bar{display:block;width:0;height:2px;background-color:#fff;opacity:1;position:absolute;top:0;left:0;z-index:1;-webkit-animation:barAnimation 4s linear infinite 0s;animation:barAnimation 4s linear infinite 0s}
.slideshow div span{width:100%;height:100%;position:absolute;top:0px;left:0px;color:transparent;background-size:cover;background-position:50% 50%;background-repeat:no-repeat;opacity:0;z-index:0;-webkit-backface-visibility:hidden;-webkit-animation:imageAnimation 8s linear infinite 0s;animation:imageAnimation 8s linear infinite 0s}
.slideshow div:nth-child(1) span{background-image:url(../image/pass_slideshow_img01.png)}
.slideshow div:nth-child(2) span{background-image:url(../image/pass_slideshow_img02.png);animation-delay:4s}
/* animation images */
@-webkit-keyframes imageAnimation{
	0%{opacity:0;transform:scale(1.5);animation-timing-function:ease-in-out}
	5%{opacity:1}
	50%{opacity:1;transform:scale(1)}
	55%{opacity:0}
	100%{opacity:0}
}
@keyframes imageAnimation{
	0%{opacity:0;transform:scale(1.5);animation-timing-function:ease-in-out}
	5%{opacity:1}
	50%{opacity:1;transform:scale(1)}
	55%{opacity:0}
	100%{opacity:0}
}
@-webkit-keyframes barAnimation{
	0%{width:0;-webkit-animation-timing-function:ease-in-out}
	50%{opacity:1}
	100%{opacity:0;width:100%}
}
@keyframes barAnimation{
	0%{width:0;animation-timing-function:ease-in-out}
	50%{opacity:1}
	100%{opacity:0;width:100%}
}
/* ie9 */
.ie9 .slideshow div:nth-child(1) span{opacity:1}

/* header */
/*header{position:fixed;top:45px;left:50%;margin-left:-640px;width:1280px;z-index:99}*/
header{position:fixed;top:45px;left:0;width:100%;min-width:1000px;z-index:99}
header>section{max-width:1280px;padding:0 15px;margin:0 auto}
header h1{float:left}
header h1 button{width:77px;height:24px;background:url(../image/logo.png) no-repeat;color:transparent;white-space:nowrap}
header li.btn_copy{margin-top:-10px;margin-left:34px}
header li.btn_copy button{padding:9px 25px 12px;background-color:rgba(0,37,144,.45);border-radius:20px;font-weight:300;font-size:16px;color:#fff !important}
header li.btn_copy i{width:19px;height:9px;background-position:0 0;margin:-6px 0 0 8px}
header .lnb{display:none}
header .gnb{float:right}
header .gnb li{position:relative;float:left;margin-left:64px}
header .gnb li:first-child{margin-left:0}
header .gnb li:first-child:before{display:none}
header .gnb li a{display:block;text-decoration:none}
header .gnb li button,
header .gnb li a{vertical-align:top;font-size:18px;color:#d2d2de}
header .gnb li.selected button,
header .gnb li.selected a{font-weight:500;color:#27236a !important}
header .gnbBtn{display:none}
header.chg h1 button{background-image: url(../image/logo_black.png)}
header.chg li button, header.chg li a{color:#aaa}
header.chg li.btn_copy button{padding-top:8px;padding-bottom:11px;border:1px solid #dd0a6d;background-color:transparent;color:#dd0a6d !important}
header.chg li.btn_copy i{background-position:0 -20px}
footer{position:relative;z-index:1;height:126px;padding-top:40px;background-color:#20252b}
footer i{margin:0 6px}
footer{font-size:14px;color:#7b7e80}
footer button, footer a{color:#fff}
footer>div{position:relative;max-width:1280px;margin:0 auto}
footer address{margin-top:15px;line-height:1.5}
footer .logo{position:absolute;top:22px;right:0;width:131px;height:37px;background-position:-153px 0}
footer .logo.sktlogo {background-image: url(../image/bg_skt.png); width: 128px; height: 50px; background-position: 50% 50%; top: 13px}
footer .logo2{position:absolute;top:22px;right:0;width:131px;height:37px;background-position:-78px -64px}
footer address span{margin-left:20px}
footer address b{font-weight:400}

.appdown_fix{display:none}

/* content */
#fp-nav ul li{width:18px;height:auto;font-size:0;margin:16px 0 0 0;text-align:center}
#fp-nav ul li:first-child{margin-top:0}
#fp-nav ul li a span{position:relative;top:auto;left:auto;display:inline-block;vertical-align:top;border-radius:0;margin:0;width:7px;height:7px;background-color:#fff;opacity:.5;filter:alpha(opacity=50);border-radius:50%}
#fp-nav.right{right:73px}
#fp-nav ul li:hover a span, #fp-nav ul li a.active span, #fp-nav ul li:hover a.active span{margin:0;width:12px;height:12px;background-color:transparent;border:4px solid #dd0a6d;opacity:1;filter:alpha(opacity=100)}
#fp-nav.chg ul li a span{background-color:#010101;opacity:.2;filter:alpha(opacity=20)}
#fp-nav.chg ul li:hover a span, #fp-nav.chg ul li a.active span, #fp-nav.chg ul li:hover a.active span{margin:0;width:10px;height:10px;background-color:transparent;opacity:1;filter:alpha(opacity=100)}

.mtxt{position:relative;margin-top:-80px;padding-bottom:120px;letter-spacing:-3px;font-size:60px;color:#fff;font-weight:100}
.mtxt i{position:absolute;bottom:0;left:50%;margin-left:-20px;width:40px;height:21px;background-position:-29px 0}
.mtxt em{font-weight:100;font-style:italic}
.mtxt2{letter-spacing:-.075em;font-size:55px;font-weight:100;color:#000}
.mtxt2 em{font-style:italic}

.countSet{position:absolute;bottom:18px;left:50%;margin-left:-521.5px;z-index:1;width:1081px;height:278px;background:url(../image/section0_bg_bx.png) no-repeat}
.countSet h3{margin:-20px 0 20px;font-size:16px;font-weight:300;color:#303030}
.countSet ul{margin:95px 0 0 75px}
.countSet ul:after{display:block;clear:both;content:''}
.countSet li{float:left;width:300px;background:url(../image/section0_bg_dot.gif) repeat-y;font-size:25px;color:#191919}
.countSet li:first-child{background:none}
.countSet li strong{display:inline-block;overflow:hidden;margin-top:-18px;padding-right:2px;vertical-align:middle;letter-spacing:-2px;font-weight:700;font-size:50px;font-family:'Open Sans', sans-serif}
.countSet ul+p{margin-top:26px;font-weight:300;font-size:14px;color:#b0b0b0;text-align:center}
.countSet .count_balance2{width:31px;letter-spacing:2px;text-indent:-33px;text-align:right}
.btmbg{display:block;position:absolute;bottom:0;left:0;right:0;height:91px}

.section{background-size:cover;display:none}
.section .elm{
	display:block;position:absolute;background-repeat:no-repeat;
	-webkit-transition-timing-function:ease-out;transition-timing-function:ease-out;
	-webkit-transition-duration:.7s;transition-duration:.7s;
	-webkit-transition-delay:0s;transition-delay:0s;
}
.ie9 .section .elm{filter:alpha(opacity=100) !important}

#section0{background-color:#000;text-align:center}
#section0 .inner{margin-top:-90px}
#section0 .btmbg{background-color:#fff}

#section1{text-align:right}
#section1 .inner{margin-top:-254px}
#section1 .btmbg{background-color:#f5f5f5}
#section1 .hp{-webkit-transition-delay:.5s;transition-delay:.5s;width:640px;height:640px;background-image:url(../image/section1_hp.png);top:61px;left:151px}
#section1.active .hp{-webkit-transform:translate3d(30px, -30px, 0px);transform:translate3d(31px, -30px, 0)}
#section1 .hp_bg{transition-delay:.5s;width:754px;height:757px;background-image:url(../image/section1_hp_bg.png);top:20px;left:138px}
#section1.active .hp_bg{-webkit-transform:translate3d(-60px, 60px, 0px);transform:translate3d(-60px, 60px, 0)}
#section1 .mtxt2{margin-top:23px}
#section1 .stxt{margin-top:27px;letter-spacing:-.075em;font-weight:100;font-size:22px;color:#635755;line-height: 1.6}
#section1 .img{width:342px;height:205px;background-image:url(../image/section1_img.png);top:270px;left:561px;opacity:0;filter:alpha(opacity=0);-webkit-transition-timing-function:cubic-bezier(0.175, 0.885, 0.320, 1.275);transition-timing-function:cubic-bezier(0.175, 0.885, 0.320, 1.275)}
#section1.active .img{left:591px;opacity:1;filter:alpha(opacity=100);-webkit-transition-delay:1.3s;transition-delay:1.3s}
#section1 .databx{width:325px;height:185px;padding:37px 0 0 47px;background-image:url(../image/section1_img2.png);top:-68px;left:0;text-align:left;-webkit-transform:translate(30px, 0);transform:translate(30px, 0);opacity:0;filter:alpha(opacity=0);-webkit-transition-timing-function:cubic-bezier(0.175, 0.885, 0.320, 1.275);transition-timing-function:cubic-bezier(0.175, 0.885, 0.320, 1.275)}
#section1 .databx h3{font-size:16px;color:#111}
#section1 .databx h3+p{margin-top:22px;font-size:20px}
#section1 .databx h3+p strong{display:inline-block;vertical-align:middle;margin-top:-17px;padding-right:6px;letter-spacing:-.03em;font-family:'Roboto', sans-serif;font-weight:500;font-size:50px;color:#111}
#section1 .databx ul.data{letter-spacing:0;margin-top:12px}
#section1 .databx ul.data li{position:relative;float:left;margin-left:20px;padding-left:22px;font-size:17px;color:#111}
#section1 .databx ul.data li>span{position:relative;z-index:1}
#section1 .databx ul.data li b{color:#ea273a}
#section1 .databx ul.data li em{font-style:italic}
#section1 .databx ul.data li:before{content:'';position:absolute;top:6px;left:0;width:2px;height:14px;background-color:#ddd}
#section1 .databx ul.data li>span:before{content:'';display:block;position:absolute;bottom:2px;left:-2px;right:-2px;height:9px;z-index:-1}
#section1 .databx ul.data li>span:before{background-color:#c9ccf2}
#section1 .databx ul.data li:first-child{margin-left:0;padding-left:0}
#section1 .databx ul.data li:first-child:before{display:none}
#section1 .databx ul.data li:first-child>span:before{background-color:#aeedf5}
#section1 .databx.curve{top:285px;left:620px;width:265px;padding-right:60px;transform:translate(-30px, 0);text-align:right}
#section1 .databx.curve h3{margin-right:22px}
#section1 .databx.curve ul.data{display:inline-block;vertical-align:top;margin:6px 22px 0 0}
#section1 .databx.curve ul.data li{font-family: 'Roboto', sans-serif;font-size:20px}
#section1 .databx.curve ul.data li i{width:13px;height:12px;margin:-4px 8px 0 0}
#section1 .databx.curve ul.data li.up{color:#ef1b1b}
#section1 .databx.curve ul.data li.up i{background-position:-249px -64px}
#section1 .databx.curve ul.data li>span:before{background-color:#ffe4e4}
#section1.active .databx{
  opacity:1;filter:alpha(opacity=100);
  -webkit-transition-delay:1.3s;transition-delay:1.3s;
  -webkit-transform:translate(0, 0) !important;transform:translate(0, 0) !important;
}
.ie9 #section1 .hp{top:31px;left:181px}
.ie9 #section1 .hp_bg{top:80px;left:78px}
.ie9 #section1 .img{left:591px}
.ie9 #section1 .img2{left:-16px}
.ie9 #section1.active .databx{-webkit-transform:translate(30px, 0);transform:translate(30px, 0)}
.ie9 #section1.active .databx.curve{-webkit-transform:translate(-30px, 0);transform:translate(-30px, 0)}

#section2{background-color:#f5f5f5}
#section2 .inner{margin-top:-304px}
#section2 .mtxt2.mid {margin-top: 45px}
#section2 .stxt{margin-top:45px;line-height:1.6;letter-spacing:-.075em;font-weight:100;font-size:20px;color:#897d7c}
#section2 .stxt em{font-style:italic}
#section2 .stxt strong{color:#000}
#section2 .stxt b{display:inline-block;margin:-14px 0 0 0;vertical-align:middle;font-family: 'Roboto', sans-serif;font-size:40px;color:#000}
#section2 .stxt2{margin-top:40px;letter-spacing:-.075em;font-size:26px;color:#000}
#section2 .stxt2 .emp{display:inline-block;vertical-align:middle;margin-top:2.5px;padding-bottom:9px;background:url(../image/section2_emp_line.png) repeat-x 0 100%}
#section2 .hp, #section2 .hp2, #section2 .hp3{opacity:0;transform:translate3d(-40px, 40px, 0)}
#section2.active .hp, #section2.active .hp2, #section2.active .hp3{-webkit-transition-timing-function:cubic-bezier(0.175, 0.885, 0.320, 1.275);transition-timing-function:cubic-bezier(0.175, 0.885, 0.320, 1.275);opacity:1;transform:translate3d(0, 0, 0)}
#section2 .hp{width:585px;height:612px;background-image:url(../image/section2_hp1.png);top:354px;left:226px;-webkit-transition-delay:.25s;transition-delay:.25s;z-index:1}
#section2 .hp2{width:586px;height:611px;background-image:url(../image/section2_hp2.png);top:318px;left:700px;-webkit-transition-delay:.5s;transition-delay:.5s}
#section2 .hp3{width:586px;height:612px;background-image:url(../image/section2_hp3.png);top:-57px;left:645px;-webkit-transition-delay:.75s;transition-delay:.75s}

#section3{background-color:#ececef;text-align:center}
#section3 .btmbg{background-color:#d7dbe2}
#section3 .inner{margin-top:-260px}
#section3 .stxt{margin-top:20px;line-height:1.6;letter-spacing:-.075em;font-weight:100;font-size:20px;color:#897d7c}
#section3 .appdown{width:982px;margin:90px auto 0}
#section3 .appdown:after{display:block;clear:both;content:''}
#section3 .appdown li{position:relative;display:inline-block;padding-left:296px}
#section3 .appdown h3{margin:-20px 0 0 -6px;font-size:20px}
#section3 .appdown button{position:relative;z-index:1;display:block;margin-top:-17px}
#section3 .appdown button:fist-child{z-index:0;margin-top:0}
#section3 .appdown .logo{position:absolute;top:-20px;left:-24px}
#section3 .appdown .logo i{display:block;width:179px;height:179px;background-repeat:no-repeat}
#section3 .appdown li.t .logo i{background-image:url(../image/logo_pass_t.png)}
#section3 .appdown li.kt{float:right}
#section3 .appdown li.kt .logo i{background-image:url(../image/logo_pass_kt.png)}
#section3 .cscenter{width:746px;height:100px;position:absolute;z-index:1;bottom:0;left:50%;margin-left:-479px;padding:35px 0 0 212px;text-align:left}
#section3 .cscenter:before{content:'';display:block;position:absolute;top:0;bottom:0;right:0;left:0;z-index:-1;background-color:#fff;opacity:.4;filter:alpha(opacity=40)}
#section3 .cscenter h3{margin:12px 0 0;float:left;color:#392f2d}
#section3 .cscenter ul{position:relative;float:left;margin-left:118px}
#section3 .cscenter ul:before{content:'';display:block;width:5px;background:url(../image/section2_bg_line.png) repeat-y;position:absolute;top:0;bottom:0;left:-58px}
#section3 .cscenter li{float:left;text-align:left;font-size:17px;font-weight:100;color:#807574}
#section3 .cscenter li strong{display:block;font-size:30px;color:#392f2d}
#section3 .cscenter li.withdraw{margin-left:30px;text-align:center}
#section3 .cscenter li.withdraw p{margin-top:7px;font-size:15px;font-weight:300;color:#939494}
#section3 .tlogo{display:block;width:139px;height:140px;background:url(../image/logo_t.png);margin:0 0 0 -5px}
#section3 .btn_dw{margin-top:40px}
#section3 h3, #section3 .tel, #section3 .cs{margin-left:15px}
#section3 h3{margin-top:10px;font-size:22px}
#section3 .tel{margin-top:5px;font-weight:500;font-family:'Roboto', sans-serif;font-size:45px;color:#ea273a}
#section3 .cs{font-weight:100;font-size:15px;color:#949494}
#section3 .cs span{font-size:20px;color:#5a5a5a}
#section3 .hp{opacity:0;filter:alpha(opacity=0);width:680px;height:531px;background-image:url(../image/section2_hp.png);top:306px;right:-60px}
#section3.active .hp{-webkit-transform:translate3d(-30px, -30px, 0);transform:translate3d(-30px, -30px, 0);opacity:1;filter:alpha(opacity=100)}
#section3 .scene1{width:605px;height:490px;background-image:url(../image/section2_img1.png);top:224px;right:3px;opacity:0;filter:alpha(opacity=0);-webkit-transition-delay:.5s;-webkit-transition-timing-function:cubic-bezier(0.175, 0.885, 0.320, 1.275);transition-delay:.5s;transition-timing-function:cubic-bezier(0.175, 0.885, 0.320, 1.275)}
#section3.active .scene1{-webkit-transform:translate3d(-30px, -30px, 0);transform:translate3d(-30px, -30px, 0);opacity:1;filter:alpha(opacity=100)}
#section3 .scene2{-webkit-transition-delay:.6s;-webkit-transition-timing-function:cubic-bezier(0.175, 0.885, 0.320, 1.275);transition-delay:.6s;transition-timing-function:cubic-bezier(0.175, 0.885, 0.320, 1.275);
	opacity:0;filter:alpha(opacity=0);width:606px;height:545px;background-image:url(../image/section2_img2.png);top:150px;right:2px}
#section3.active .scene2{-webkit-transform:translate3d(-30px, -30px, 0);transform:translate3d(-30px, -30px, 0);opacity:1;filter:alpha(opacity=100)}
#section3 .scene3{-webkit-transition-delay:.7s;-webkit-transition-timing-function:cubic-bezier(0.175, 0.885, 0.320, 1.275);transition-delay:.7s;transition-timing-function:cubic-bezier(0.175, 0.885, 0.320, 1.275);width:503px;height:358px;background-image:url(../image/section2_img3.png);top:69px;right:106px;opacity:0;filter:alpha(opacity=0)}
#section3.active .scene3{-webkit-transform:translate3d(-30px, -30px, 0);transform:translate3d(-30px, -30px, 0);opacity:1;filter:alpha(opacity=100)}
.ie9 #section3{z-index:1}
.ie9 #section3 .hp{top:276px;right:-30px}
.ie9 #section3 .scene1{top:194px;right:33px}
.ie9 #section3 .scene2{top:120px;right:32px}
.ie9 #section3 .scene3{top:39px;right:136px}

#section4{background-color:#dad9e0}
#section4 .fp-scroller{height:auto}
#section4 .inner{position:relative;top:0;top:auto;left:auto;width:1280px;height:;margin:0 auto;padding:207px 0 145px}
#section4 .keyword{width:469px;height:473px;background-image:url(../image/section3_keyboard.png);top:-91px;right:-30px;-webkit-transition-delay:.5s;-webkit-transition-timing-function:cubic-bezier(0.25, 0.46, 0.45, 0.94);transition-delay:.5s;transition-timing-function:cubic-bezier(0.25, 0.46, 0.45, 0.94)}
#section4.active .keyword{-webkit-transform:translate3d(-30px, 60px, 0);transform:translate3d(-30px, 60px, 0)}
#section4 .cup{width:325px;height:378px;background-image:url(../image/section3_cup.png);bottom:136px;left:-30px;-webkit-transition-delay:.5s;-webkit-transition-timing-function:cubic-bezier(0.25, 0.46, 0.45, 0.94);transition-delay:.5s;transition-timing-function:cubic-bezier(0.25, 0.46, 0.45, 0.94)}
#section4.active .cup{-webkit-transform:translate3d(30px, -30px, 0);transform:translate3d(30px, -30px, 0)}
#section4 .hp{transition-delay:.7s;transition-timing-function:cubic-bezier(0.175, 0.885, 0.320, 1.275);
	width:438px;height:733px;background-image:url(../image/section3_hp.png);top:247px;left:123px;
	opacity:0;filter:alpha(opacity=0)}
#section4.active .hp{-webkit-transform:translate3d(0, -60px, 0);transform:translate3d(0, -60px, 0);opacity:1;filter:alpha(opacity=100)}
#section4 .hptel{width:218px;height:38px;background-image:url(../image/section3_hp_tel.png);background-position:0 -10px;background-size:100% auto;top:337px;left:277px;opacity:0;filter:alpha(opacity=0);-webkit-transition-timing-function:cubic-bezier(0.645, 0.045, 0.355, 1);transition-timing-function:cubic-bezier(0.645, 0.045, 0.355, 1)}
#section4.active .hptel{-webkit-transition-delay:1.5s;transition-delay:1.5s;width:341px;height:98px;background-position:0 0;left:215px;opacity:1;filter:alpha(opacity=100)}
#section4 .mtxt2{margin-left:664px}
#section4 .mtxt2 i{width:31px;height:24px;background-position:-112px 0;margin:-2px 12px 0 14px}
#section4 ol{margin:45px 0 0 665px}
#section4 ol li{position:relative;padding:5px 0 0 45px;font-size:20px;letter-spacing:-1px}
#section4 ol li:first-child{margin-top:0;padding-bottom:25px}
#section4 ol li:first-child:before{content:'';display:inline-block;width:2px;position:absolute;top:39px;bottom:3px;left:16px;border-width:0 1px;border-style:solid;border-color:#b9bfca}
#section4 ol li strong{color:#dc267d}
#section4 ol li button{margin:16px 0 0 -10px}
#section4 .n{display:inline-block;width:36px;height:36px;line-height:36px;border-radius:50%;background-color:#b2b9c5;text-align:center;font-family:'Roboto', sans-serif;font-weight:500;font-size:17px;color:#fff;position:absolute;top:0;left:0}
#section4 .input{width:348px;margin-top:25px;background-color:#fff;border:1px solid #9ba4b3}
#section4 .input .bar{display:inline-block;vertical-align:middle;width:11px;height:2px;background-color:#ccc}
#section4 .input input{vertical-align:middle;width:86px;text-align:center;background-color:transparent;border:0}
#section4 .input.focus{border-color:#353e51}
.ie9 #section4 .hp{top:170px}
.ie9 #section4 .keyword{top:-91px;right:0}
.ie9 #section4 .cup{bottom:166px;left:0}
.ie9 #section4 .hptel{top:494px;left:215px;width:341px;height:78px;background-position:0 0}

.window{background-color:#fff}
.window h1{margin-bottom:30px;font-size:36px;text-align:center}
.window .content{width:595px;margin:0 auto;padding:9rem 0 120px}
.window #footer{position:relative;background-color:#F8F8F8;line-height:1.6;color:#5A5A5A;font-size:14px;padding:35px 0 35px 72px}
.window #footer .bar{display:inline-block;position:relative;margin-left:14px}
.window #footer .bar:before{
    content:'';display:inline-block;width:1px;height:13px;background-color:#B5B5B5;margin:-1px 14px 0 0;vertical-align:middle;
}
.window #footer .logo{position:absolute;top:50px;right:80px}
.window #footer .logo i{display:inline-block;width:83px;height:32px;background:url(../image/logo_skt.png) no-repeat}

.withdraw fieldset{display:none}

.ly_agree pre{height:554px;margin-top:15px;padding-right:10px;text-align:justify;line-height:1.4;font-size:16px}
.ly_agree pre h2{margin-top:20px;font-size:18px}
.ly_agree pre h2:first-child{margin-top:0}
.ly_agree pre table{margin:20px 0;border-top:1px solid #333;border-right:1px solid #333}
.ly_agree pre th, .ly_agree pre td{padding:15px;border-bottom:1px solid #333;border-left:1px solid #333}
.ly_agree pre th{background-color:#eee;text-align:center}
.ly_agree pre td{word-break:break-all}
.ly_agree pre table+h2{margin-top:0}

.ly_docopy .content{padding:45px 75px 60px 85px;width:900px}
.ly_docopy .txtMain{line-height:1.1;font-size:54px;letter-spacing:-3px;font-weight:100}
.ly_docopy .txtMain span{color:#27236a}
.ly_docopy .btn_cls{position:absolute;top:54px;right:60px;width:44px;height:44px;background:url(../image/bg_com.png) -294px 0;color:transparent;white-space:nowrap}
.ly_docopy ol{position:relative}
.ly_docopy ol:before{content:'';display:inline-block;width:1px;background-color:#000;position:absolute;top:1px;bottom:63px;left:20px}
.ly_docopy ol li{position:relative;margin-top:35px;padding:7px 0 0 57px;font-size:22px}
.ly_docopy ol li .num{position:absolute;top:0;left:0;display:block;width:40px;height:40px;line-height:42px;background-color:#000;border-radius:50%;font-size:30px;font-weight:100;font-family:'Roboto', sans-serif;text-align:center;color:#fff}
.ly_docopy ol li p{margin-bottom:18px}

.ly_alert .content{width:400px;height:auto;padding:0;border-top:0;font-size:18px;text-align:center}
.ly_alert p{padding:40px 0;font-weight:400}

/* loading */
.spinner{margin:0 auto;width:80px;height:80px;text-align:center;background:#343746;border-radius:50%}
.spinner > div{background:#fff;height:100%;width:4px;display:inline-block;margin-left:3px;-webkit-animation:sk-stretchdelay 1.2s infinite ease-in-out;animation:sk-stretchdelay 1.2s infinite ease-in-out}
.spinner > div:first-of-type{margin-left:0}
.spinner .rect2{-webkit-animation-delay:-1.1s;animation-delay:-1.1s}
.spinner .rect3{-webkit-animation-delay:-1.0s;animation-delay:-1.0s}
.spinner .rect4{-webkit-animation-delay:-0.9s;animation-delay:-0.9s}
.spinner .rect5{-webkit-animation-delay:-0.8s;animation-delay:-0.8s}
@-webkit-keyframes sk-stretchdelay{
	0%, 40%, 100%{-webkit-transform:scaleY(0.25)}
	20%{-webkit-transform:scaleY(0.5)}
}
@keyframes sk-stretchdelay{
	0%, 40%, 100% {
		transform:scaleY(0.25);-webkit-transform:scaleY(0.25);
	}20%{
		transform:scaleY(0.5);-webkit-transform:scaleY(0.5);
	}
}
.spinner_img{display:none}

.ly_loading{display:none;position:fixed;_position:absolute;top:0;left:0;width:100%;height:100%;z-index:990}
.ly_loading .bg{position:absolute;top:0;left:0;width:100%;height:100%;background:#000;opacity:.4;filter:alpha(opacity=40)}
.ly_loading .cont{width:100%;height:100%;position:absolute;top:0;left:0;z-index:999;text-align:center}
.ly_loading .cont:before{height:100%;content:'';display:inline-block;vertical-align:middle}
.ly_loading .ele{width:90%;position:relative;display:inline-block;vertical-align:middle;margin:0 auto 0 -2px}
.ly_loading.ie9 .spinner{display:none}
.ly_loading.ie9 .spinner_img{display:block}

/* 190823 공인인증서 복사 설치 확인 팝업 */
#ly_exec .content{height:300px}
#ly_exec .title{color:#222}
#ly_exec .copyBtn{text-align:center}
#ly_exec .scroll a{display:inline-block;width:120px;height:50px;line-height:50px;text-align:center;color:#fff;background-color:#222;text-decoration:none}

@media all and (max-width:1280px) {
	.fullpage-wrapper {min-width: 1280px}
}

@media all and (max-width:1024px) {
}

/* Mobile Device */
@media all and (max-width:769px) {

    .form_type>ul{padding:2.5rem 2rem 2.5rem}
    .form_type>ul>li{padding-left:9.4rem;margin-top:2.5rem}
    .form_type .box{display:block}
    .form_type .box.text{line-height:normal;font-size:1.6rem}
    .form_type .stit{display:block;line-height:normal;padding-top:0;font-size:1.6rem}
    .form_type .cau{margin-top:4rem;padding-top:2rem;font-size:1.4rem}
    .form_type .cau2{margin-bottom:4rem;font-size:1.6rem}
    .form_type li.num .stit,
    .form_type li.num2 .stit,
    .form_type li.captcha .stit{position:static;margin-bottom:1rem}
    .form_type li.num .box,
    .form_type li.captcha .box{position:relative;padding-left:8.5rem}
    .form_type li.num{margin-top:2.5rem;padding-left:0}
    .form_type li.num .select{left:0;width:8rem}
    .form_type li.num input,
    .form_type li.num2 input,
    .form_type li.ip input,
    .form_type li.captcha .userNum input{width:100%}
    .form_type li.num .btn_num{width:9.8rem;margin-left:1rem}
    .form_type li.num2{padding-left:0}    
    .form_type li.num2 .box{padding-right:5rem}
    .form_type li.num2 .btn_re{margin-left:0;font-size:1.5rem;position:absolute;bottom:1.3rem;right:0}
    .form_type li.num2 .timer{top:1.6rem;right:6.1rem;font-size:1.2rem}
    .form_type li.num2 .timer em{margin-left:.5rem;color:#E50927;font-size:1.3rem}
    .form_type li.captcha{padding-left:0}
    .form_type li.ip{padding-left:8.4rem}
    .form_type li.ip .stit{top:1rem}
    .form_type li.captcha .pinArea{left:0;bottom:0;top:auto;padding:0.8rem 1rem 0.5rem;border:1px solid #e1e1e1}
    .form_type li.captcha .pin_btn{display:block;margin-top:2px;text-align:right}
    .form_type li.captcha .pinArea .pin_img{display:inline-block;text-align:center}
    .form_type li.captcha .pinArea .pin_img img{width:10.8rem;height:3.5rem}
    .form_type li.captcha .userNum{display:block;padding-left:13.5rem}
    .form_type li.captcha .userNum label{display:block;padding:0.3rem 0 0.6rem;font-size:1.6rem;color:#000}

    .btn_area{margin-top:2.5rem;padding:0 2rem}
    .btn_area a, .btn_area button{margin-left:.7rem;font-size:1.6rem}
    .btn_area .btn_skip{width:100%;height:6rem}
    .btn_area .notice{margin-top:1rem;font-size:1.2rem}

    header li.btn_copy,
    #fp-nav,
    .btmbg{display:none}

    .btn_top{
    position:fixed;bottom:8.25rem !important;right:1.5rem;width:4rem;
    transition: none;
    }
    .btn_top.btm{bottom:1.5rem !important}

    header{min-width:100%;top:0;padding:3rem 0}
    header>section{max-width:none;padding:0 0 0 2.25rem}
    header h1 button{background-image:url(../image/mw/logo.png);background-size:100%;width:5.4375rem;height:1.8125rem}

    header .gnb{display:none}
    header .lnb{display:block}
    header .lnb{
    position:fixed;top:0;right:-80%;height:100%;width:80%;padding-top:10rem;
    background-color:#fff;text-align:center;
    transition: right .35s ease;
    }
    header .lnb li{float:none;margin-left:0}
    header .lnb li button,
    header .lnb li.selected button{font-weight:400;color:#000 !important}
    header .lnb li button{height:10rem;font-size:2.8125rem}  
    header .gnbBtn{
        display:block;position:absolute;top:1.8rem;right:1.1rem;width:4.5rem;height:4.5rem;
        -webkit-transition:all .35s ease-in-out;transition:all .35s ease-in-out;
    }

    header .gnbBtn i{position:relative;vertical-align:middle;margin:-.3rem 0 0 0}
    header .gnbBtn i,
    header .gnbBtn i:before,
    header .gnbBtn i:after{width:2.5rem;height:.3125rem;background-color:#fff;display:inline-block;border-radius:.625rem}
    header .gnbBtn i:before,
    header .gnbBtn i:after{display:inline-block;position:absolute;right:0;content:''}
    header .gnbBtn i:before{top:-.8rem}
    header .gnbBtn i:after{bottom:-.75rem;width:1.375rem}  
    header.open ul{right:0}
    header.open .gnbBtn{-webkit-transform:rotate(45deg);transform:rotate(45deg)}
    header.open .gnbBtn i{margin:0 0 0 .8rem;display:block;width:3rem;height:3rem;background-color:transparent}
    header.open .gnbBtn i:before,
    header.open .gnbBtn i:after{background-color:#000;top:50%;left:50%;width:.3125rem;height:2.5rem;margin:0}
    header.open .gnbBtn i:before{
        -webkit-transform:translate(-50%, -50%);
        transform:translate(-50%, -50%);
    }
    header.open .gnbBtn i:after{
        -webkit-transform:translate(-50%, -50%) rotate(90deg);
        transform:translate(-50%, -50%) rotate(90deg);
    }  
    header.chg{background-color:rgba(255,255,255,.75)}
    header.chg h1 button{background-image:url(../image/mw/logo_black.png)}  
    header.chg .gnbBtn i, header.chg .gnbBtn i:before, header.chg .gnbBtn i:after{background-color:#000}
    header.chg.open .gnbBtn i{background-color:#fff}

    footer{
    height:auto;padding:4.375rem 0 6.875rem;
    background-color:#fff;text-align:center;
    }
    footer i{margin:0 1.25rem;color:#b7b7b7}
    footer button{font-weight:500;font-size:1.375rem;color:#333}
    footer address{line-height:1.7;color:#555;font-size:1.125rem}    
    footer address span{margin-left:1.25rem}
    footer address span.br{margin-left:0}
    footer address b{color:#7b7b7b}

    .section{position:relative}
    .fp-tableCell, .fp-scrollable{height:auto !important;vertical-align:top}
    .fullpage-wrapper{min-width:100%}
    .inner{width:100%;position:static;margin-left:0}
    .countSet{
    bottom:0;margin-left:0;width:100%;height:auto;left:auto;
    background:rgba(0,0,0,.24);padding:3.125rem 0 1.0625rem 0;
    }
    .countSet ul{margin:0}
    .countSet li{
    display:inline-block;vertical-align:top;float:none;width:auto;
    background:url(../image/mw/section0_bg_dot.png) no-repeat 0 50%;
    background-size:.125rem auto;
    padding:0 1.5625rem;font-size:1.5625rem;color:#fff;
    }
    .countSet h3{margin:0 0 1.5625rem 0;font-size:1.375rem;color:rgba(214,214,214,.73)}
    .countSet li strong{
    padding-right:.125rem;margin-top:-.9375rem;letter-spacing:-.1rem;;font-size:3.125rem;
    }
    .countSet ul+p{margin-top:1.5rem;font-size:1.25rem;color:rgba(255,255,255,.24)}
    .mtxt{margin-top:0;padding-bottom:0;letter-spacing:-.35rem;font-size:4rem}
    .mtxt i{display:none}
    .mtxt2{font-size:3.5rem}
    .mtxt2 strong{font-weight:700}
    .slideshow{height:100%}
    .slideshow .bar{height:.125rem}
    .slideshow div:nth-child(1) span{background-image:url(../image/mw/pass_slideshow_img01.png)}
    .slideshow div:nth-child(2) span{background-image:url(../image/mw/pass_slideshow_img02.png)}

    .section{overflow:hidden;display:block !important}
    #section0{height:50rem !important}
    #section0 .inner{margin-top:16.25rem}
    #section1{
    height:65.125rem !important;
    text-align:left
    }
    #section1 .inner{margin-top:0;padding:7.5rem 0 0 3.75rem}
    #section1 .mtxt2{margin-top:0}
    #section1 .stxt{margin-top:1.875rem;font-size:1.375rem}
    #section1 .hp{
    top:auto;bottom:-8.5rem;left:auto;right:-5.625rem;width:39rem;height:39rem;
    background-image:url(../image/mw/section1_hp.png);
    background-size:100%;
    /* -webkit-transform: translate(0, 0); */
    transform: translate(-1.25rem, 3.75rem)
    }
    #section1.active .hp{
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    transform: translate(0, 0)
    }
    #section1 .hp_bg{
    top:auto;bottom:-6rem;left:auto;right:0;width:37.75rem;height:35.9375rem;
    background-image:url(../image/mw/section1_hp_bg.png);background-size:100%;
    opacity:0;
    }
    #section1.active .hp_bg{-webkit-transform: translate3d(0, 0, 0);transform: translate3d(0, 0, 0);opacity:1}
    #section1 .databx{
    top:auto;bottom:21.7rem;left:auto;right:2.125rem;
    width:22.8125rem !important;height:13.875rem;padding:2.1875rem 0 0 3.125rem;
    background-image:url(../image/mw/section1_databx_bg.png);background-size:100%;
    -webkit-transform: translateX(-2rem);transform: translateX(-2rem)
    }
    #section1 .databx h3{font-size:1rem}
    #section1 .databx ul.data{margin-top:.75rem}
    #section1 .databx ul.data li{margin-left:1.25rem;padding-left:1.375rem;font-size:1.0938rem}
    #section1 .databx ul.data li:before{width:1px;height:0.875rem;top:.4rem}
    #section1 .databx ul.data li>span:before{height:0.5625rem}
    #section1 .databx h3+p{margin-top:1.375rem;font-size:1.25rem}
    #section1 .databx h3+p strong{margin-top:-1.0625rem;padding-right:.375rem;letter-spacing:-.2rem;font-size:3.125rem}
    #section1 .databx.curve{
    left:auto;right:16.5rem;top:auto;bottom:1.5rem;padding-right:3.125rem;
    -webkit-transform: translateX(2rem);transform: translateX(2rem)
    }
    #section1 .databx.curve ul.data li i{width:.8125rem;height:.75rem;background-size:100%;background-position:0 0 !important}
    #section1 .databx.curve ul.data li{font-size:1.25rem}
    #section1 .databx.curve ul.data li i{margin:-.25rem .5rem 0 0}
    #section1 .databx.curve ul.data li.up i{background-image:url(../image/mw/ico_curve_dw.png)}
    #section2{
    height:77.85rem !important;
    padding:7.5rem 0 0 3.125rem;
    background-color:#f9f9f9
    }
    #section2 .inner{margin-top:0}
    #section2 .mtxt2.mid{margin-top:1.5rem;letter-spacing:-.3rem;font-size:3rem}
    #section2 .stxt{margin-top:2.5rem;font-size:1.375rem}
    #section2 .hp, #section2 .hp2, #section2 .hp3{top:auto;height:38.25rem;background-size:100%;left:auto}
    #section2 .hp{width:36.625rem;bottom:-13rem;right:-11.5rem;background-image:url(../image/mw/section2_hp1.png)}
    #section2 .hp2{width:36.5625rem;bottom:-16rem;right:19rem;background-image:url(../image/mw/section2_hp2.png)}
    #section2 .hp3{width:36.625rem;bottom:10rem;right:-7rem;background-image:url(../image/mw/section2_hp3.png)}
    #section3{height:auto !important;padding-top:6.875rem;padding-bottom:3.125rem}
    #section3 .inner{margin-top:0;display:flex;flex-direction:column}
    #section3 .mtxt2{order:1}
    #section3 .stxt{color:#666}
    #section3 .appdown{order:2;width:auto;margin:3.5rem 0 0}
    #section3 .appdown li{display:block;padding-left:0;text-align:center}
    #section3 .appdown .logo{position:static}
    #section3 .appdown .logo i{display:inline-block}
    #section3 .appdown li.t .logo i{
    width:15.75rem;height:15.6875rem;
    background:url(../image/mw/logo_pass_skt.png);
    background-size:100%;
    }
    #section3 .appdown button{
    margin-top:0;height:9rem;background-size:100%;
    background-repeat:no-repeat;
    position:absolute;top:15.625rem;left:50%;
    -webkit-transform:translateX(-50%);transform:translateX(-50%);
    }
    #section3 .appdown button img{display:none}
    #section3 .appdown button:first-of-type{
    margin-left:-8.5rem;width:19.4375rem;
    background-image:url(../image/mw/btn_down_gle.png);
    }
    #section3 .appdown button:last-of-type{
    margin-left:9.4rem;width:19.3125rem;
    background-image:url(../image/mw/btn_down_app.png);
    }
    #section3 .stxt{order:3;margin-top:9rem;font-size:1.25rem}
    #section3 .cscenter{
    left:auto;width:auto;height:auto;position:relative;
    width:36.25rem;margin:5.3125rem auto 0;padding:2.5rem 0 0 3.125rem;border-top:1px solid #d3d3d3;
    }
    #section3 .cscenter:before{display:none}
    #section3 h3{font-size:1.375rem}
    #section3 .cscenter ul{margin-left:1.875rem;padding-left:2rem}
    #section3 .cscenter ul:before{
    top:50%;left:0;width:1px;height:3.125rem;background-color:#e2e3e6;
    -webkit-transform: translateY(-50%);transform: translateY(-50%);
    }
    #section3 .cscenter li{font-size:1rem;color:#7a7a7a}
    #section3 .cscenter li strong{margin-bottom:0.4375rem;font-size:1.875rem}
    #section4{height:auto !important}
    #section4 .inner{display:none}

    .appdown_fix{justify-content:flex-start;position:fixed;top:auto;bottom:0;left:0;right:0;z-index:3;padding:1.1875rem 0;background-color:#fff;box-shadow: 0 -.4rem 1.34375rem rgba(121,121,121,.44);text-align:center}
    .appdown_fix li a, .appdown_fix li span{display:inline-block;width:261px;height:99px;background-repeat:no-repeat;color:transparent;white-space:nowrap;text-indent:-1000rem}
    .appdown_fix li{position:relative;margin-left:0;width:50%;padding-left:1rem}
    .appdown_fix li:last-child{padding-left:0;padding-right:1rem}
    .appdown_fix li:last-child:before{
    content:'';display:inline-block;position:absolute;top:50%;left:0;width:1px;height:3rem;background-color:#e1e1e1;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
    }
    .appdown_fix li a, .appdown_fix li span{height:4.5rem;background-size:100%;background-position:50%}
    .appdown_fix .btn_gle{
    width:12.4375rem;
    background-image:url(../image/mw/btn_down_gle_fix.png);
    }
    /*.appdown_fix ul .btn_app{width:5.3125rem;background-position:0 -8.3125rem}*/
    .appdown_fix .btn_app{
    width:10.625rem;
    background-image:url(../image/mw/btn_down_app_fix.png);
    }
    .appdown_fix ul.nofix{display:none}
    .appdown_fix.on{display:flex}

    .window{background-color:#fff}
    .window h1{margin-bottom:2.5rem;font-size:3rem;text-align:center;letter-spacing:-.2rem}
    .window .content{width:auto;margin:0 auto;padding:2.5rem 0 5rem}
    .window #footer{font-size:1.4rem;padding:4.5rem 2rem 2rem;font-size:1rem}
    .window #footer .br{display:block}
    .window #footer .bar{margin-left:1rem}
    .window #footer .bar:before{content:'';display:inline-block;width:1px;height:1.1rem;background-color:#B5B5B5;margin:-1px .8rem 0 0}
    .window #footer .bar:nth-child(3){margin-left:0}
    .window #footer .bar:nth-child(3):before{display:none}
    .window #footer .logo{top:2rem;right:auto;left:2rem}
    .window #footer .logo i{width:4.15rem;height:1.6rem;background-size:100% 100%}

    .ly_pop .content{position:absolute}
    .ly_pop .btn_cls{z-index:9}
    .ly_agree h2.title{position:relative;padding:1.5rem 2rem;z-index:5;background-color:#fff}
    .ly_agree .content{top:0;left:0;width:100%;height:100%;padding:0}
    .ly_agree pre{margin-top:0;padding:7rem 2rem 2rem;position:absolute;top:0;left:0;width:100%;height:100%}
  
}

@media all and (max-width:401px) {
  .countSet li strong{font-size:2.8rem}
  #section1 .databx.curve{right:12rem}
  /* #section3 .appdown button{
    position:static;margin:0 auto !important;
    -webkit-transform: translateX(0);transform: translateX(0);
  }
  #section3 .stxt{margin-top:1rem} */
}

@media all and (max-width:321px) {
  footer i{margin:0 .75rem}
  footer button{font-size:1.25rem}
  .mtxt{font-size:3.5rem}
  .countSet li{padding:0 1rem}
  .countSet li strong{font-size:2.5rem}
  #section1 .databx{right:.5rem}
  #section1 .databx.curve{right:8rem}
  #section2{height:80.85rem !important}
  #section2 .mtxt2.mid{font-size:2.75rem}
  #section3 .cscenter{padding-left:2.125rem}
  #section3 .cscenter li strong{font-size:1.55rem}
}