// 공통
.homePc {
    .mbOn {
        display: none;
    }
    .mbOff {
        display: block;
    }
}
ul[class *= "col"] {
    @include clearfix;
    li {
        float: left;
    }
    &.col3 {
        li {
            width: 33.3%;
        }
    }
}
.mainSec {
    @include pos($p:relative);
    @include cssImg($s:cover);
    color: #000;
    text-align: center;
    font-size: 0;
    .img {
        display: block;
        img {
            width: 100%;
        }
    }
    &.aniTxt {
        h4,
        p,
        .list li {
            opacity: 0;
            @include pos($p:relative);
            transition: bottom 0.6s ease-in-out, opacity 0.6s ease-in-out;
            -webkit-transition: bottom 0.6s ease-in-out, opacity 0.6s ease-in-out;
            -ms-transition: bottom 0.6s ease-in-out, opacity 0.6s ease-in-out;
            -moz-transition: bottom 0.6s ease-in-out, opacity 0.6s ease-in-out;
        }
        h4 {
            @include pos($b:-90px);
        }
        p {
            @include pos($b:-60px);
            transition-delay: 0.3s;
            -webkit-transition-delay: 0.3s;
            -ms-transition-delay: 0.3s;
            -moz-transition-delay: 0.3s;
        }
        .list {
            li {
                @include pos($b:-60px);
                transition-delay: 0.6s;
                -webkit-transition-delay: 0.6s;
                -ms-transition-delay: 0.6s;
                -moz-transition-delay: 0.6s;
            }
        }
        &.arrived {
            h4,
            p,
            .list li {
                @include pos($b:0);
                opacity: 1;
            }
            .lineU {
                &:after {
                    width: 100%;
                }
            }   
        }
    }
}
.desc {
    h4 {
        letter-spacing: -2px;
        font-weight: 700;
        font-size: 66px;
    }
    p {
        font-weight: 500;
        font-size: 18px;
        line-height: 1.8;
    }
    .lineU {
        display: inline-block;
        font-weight: 700;
        color: #000;
        @include pos($p:relative);
        z-index: 1;
        &:after {
            content: '';
            display: block;
            width: 0;
            height: 26px;
            @include pos($p:absolute,$l:0,$r:0,$b:0);
            background-color: #45fcb3;
            z-index: -1;
            transition: width 0.5s ease-in-out;
            -webkit-transition: width 0.5s ease-in-out;
            -ms-transition: width 0.5s ease-in-out;
            -moz-transition: width 0.5s ease-in-out;
            transition-delay: 1s;
            -webkit-transition-delay: 1s;
            -ms-transition-delay: 1s;
            -moz-transition-delay: 1s;
        }
    }
}
#wrap {
    @include pos($p:relative);
    min-width: 1070px;
    .goTop {
        display: block;
        width: 70px;
        height: 70px;
        @include pos($p:fixed,$r:80px,$b:60px);
        @include cssImg();
        background-image: url($urlImg + 'btn_top.png');
        z-index: 600;
        opacity: 0;
        transition: opacity 0.5s ease;
        -webkit-transition: opacity 0.5s ease;
        -ms-transition: opacity 0.5s ease;
        -moz-transition: opacity 0.5s ease;
        &.show {
            opacity: 1;
        }
    }
}

// header
#header {
    @include pos($p:fixed,$l:0,$r:0,$t:0);
    z-index: 700;
    min-width: 1070px;
    background-color: #fff;
}
.headWrap {
    padding: 25px 80px;
    @include clearfix;
    @media all and (max-width: 1024px) {
        padding-left: 40px;
        padding-right: 40px;
    }
    .logo {
        float: left;
        width: 162px;
        height: 30px;
        button {
            display: block;
            width: 100%;
            height: 100%;
            @include cssImg();
            background-image: url($urlImg + 'logo.png');
        }
    }
    .gnb {
        float: right;
        margin-top: 4px;
        li {
            margin-left: 50px;
            &:first-child {
                margin-left: 0;
            }
            @media all and (max-width: 1024px) {
                margin-left: 30px;
            }
        }
        .gnbBtn {
            display: block;
            font-weight: 700;
            font-size: 18px;
            @include pos($p:relative);
            z-index: 1;
            &:after {
                content: '';
                display: block;
                width: 0;
                height: 26px;
                @include pos($p:absolute,$l:0,$r:0,$b:0);
                background-color: #45fcb3;
                z-index: -1;
                transition: width 0.3s ease-in-out;
                -webkit-transition: width 0.3s ease-in-out;
                -ms-transition: width 0.3s ease-in-out;
                -moz-transition: width 0.3s ease-in-out;
            }
            &:hover,
            &.on {
                &:after {
                    width: 100%;
                }
            }
        }
    }
}

#cont {
    padding-top: 80px;
}
// content
.sec0 {
    padding: 210px 0 258px;
    &.arrived {
        .desc {
            h3 {
                &:before {
                    height: 100%;
                }
                &:after {
                    height: 120px;
                }
            }
        }
    }
    .desc {
        p {
            margin-bottom: 50px;
            letter-spacing: -2px;
            font-weight: 700;
            font-size: 40px;
            transition-delay: 1.6s;
            -webkit-transition-delay: 1.6s;
            -ms-transition-delay: 1.6s;
            -moz-transition-delay: 1.6s;
        }
        .lineU {
            &:after {
                height: 18px;
                @include pos($b:15px);
                transition-delay: 2.2s;
                -webkit-transition-delay: 2.2s;
                -ms-transition-delay: 2.2s;
                -moz-transition-delay: 2.2s;
            }
        }
        h3 {
            width: 946px;
            height: 180px;
            margin: 0 auto;
            @include pos($p:relative);
            &:before,
            &:after {
                content: '';
                display: block;
                @include pos($p:absolute);
                @include cssImg();
            }
            &:before {
                width: 100%;
                height: 0;
                @include pos($b:0);
                background-image: url($urlImg + 'sec0_title.png');
                transition: all 0.8s ease-in-out;
                -webkit-transition: all 0.8s ease-in-out;
                -ms-transition: all 0.8s ease-in-out;
                -moz-transition: all 0.8s ease-in-out;
            }
            &:after {
                width: 1066px;
                height: 0;
                @include pos($t:162px,$l:-60px);
                background-image: url($urlImg + 'sec0_shw.png');
                transition: height 0.8s ease-in-out;
                -webkit-transition: height 0.8s ease-in-out;
                -ms-transition: height 0.8s ease-in-out;
                -moz-transition: height 0.8s ease-in-out;
                transition-delay: 0.8s;
                -webkit-transition-delay: 0.8s;
                -ms-transition-delay: 0.8s;
                -moz-transition-delay: 0.8s;
            }
        }
    }
}
.sec1 {
    padding: 210px 0;
    background-image: url($urlImg + 'sec1_bg.png');
    color: #fff;
    .desc {
        .lineU {
            color: #fff;
        }
    }
    &.arrived {
        .desc {
            .lineU {
                color: #000;
                transition: color 0.1s ease;
                -webkit-transition: color 0.1s ease;
                -ms-transition: color 0.1s ease;
                -moz-transition: color 0.1s ease;
                transition-delay: 1.8s;
                -webkit-transition-delay: 1.8s;
                -ms-transition-delay: 1.8s;
                -moz-transition-delay: 1.8s;
            }
        }
    }
    .bee {
        @include cssImg();
        @include pos($p:absolute);
        animation:cloud infinite 3s;
        -ms-animation:cloud infinite 3s;
        -moz-animation:cloud infinite 3s;
        -webkit-animation:cloud infinite 3s;
        &:after {
            content: '';
            display: block;
            @include cssImg();
            @include pos($p:absolute);
        }
        &.big {
            width: 273px;
            height: 283px;
            background-image: url($urlImg + 'bee_big.png');
            @include pos($r:352px,$t:-133px);
            &:after {
                width: 352px;
                height: 382px;
                background-image: url($urlImg + 'line_big.png');
                @include pos($l:100%,$t:130px);
            }
        }
        &.small {
            width: 508px;
            height: 182px;
            background-image: url($urlImg + 'line_small.png');
            @include pos($l:0,$b:-7px);
            &:after {
                width: 76px;
                height: 79px;
                background-image: url($urlImg + 'bee_small.png');
                @include pos($r:-75px,$t:15px);
            }
        }
    }
    p {
        margin: 38px 0;
    }
    .earth {
        @include pos($p:relative);
        padding: 230px 0;
        &.centered {
            .ani {
                li {
                    @for $i from 1 to 5 {
                    &:nth-of-type(#{$i}) {
                        opacity: 1;
                        @include pos($l:0);
                    }
                }
                }
            }
            .imgWrap {
                .honey {
                    opacity: 1;
                }
            }
        }
        .ani {
            overflow: hidden;
            text-align: center;
            li {
                line-height: 1;
                font-weight: 800;
                font-size: 130px;
                color: #45fcb3;
                @include pos($p:relative);
                opacity: 0;
                transition: all 1s ease-in-out;
                -webkit-transition: all 1s ease-in-out;
                -ms-transition: all 1s ease-in-out;
                -moz-transition: all 1s ease-in-out;
                &:nth-of-type(1) {
                    @include pos($l:-500px);
                }
                &:nth-of-type(2) {
                    @include pos($l:-260px);
                }
                &:nth-of-type(3) {
                    @include pos($l:710px);
                }
                &:nth-of-type(4) {
                    @include pos($l:310px);
                }
                @for $i from 1 to 5 {
                    &:nth-of-type(#{$i}) {
                        transition-delay: ($i - 1) * 0.3s;
                        -webkit-transition-delay: ($i - 1) * 0.3s;
                        -ms-transition-delay: ($i - 1) * 0.3s;
                        -moz-transition-delay: ($i - 1) * 0.3s;
                    }
                }
            }
        }
        .imgWrap {
            @include pos($p:absolute,$l:0,$r:0,$t:0,$b:0);
            .honey {
                @include pos($p:absolute);
                @include cssImg();
                opacity: 0;
                transition: opacity 0.2s ease;
                -webkit-transition: opacity 0.2s ease;
                -ms-transition: opacity 0.2s ease;
                -moz-transition: opacity 0.2s ease;
                transition-delay: 2s;
                -webkit-transition-delay: 2s;
                -ms-transition-delay: 2s;
                -moz-transition-delay: 2s;
                animation:cloud infinite 3s;
                -ms-animation:cloud infinite 3s;
                -moz-animation:cloud infinite 3s;
                -webkit-animation:cloud infinite 3s;
                animation-delay: 3s;
                -webkit-animation-delay: 3s;
                -ms-animation-delay: 3s;
                -moz-animation-delay: 3s;
                &:nth-of-type(1) {
                    width: 125px;
                    height: 151px;
                    background-image: url($urlImg + 'honeypot_big.png');
                    @include pos($t:-10px,$l:354px);
                }
                &:nth-of-type(2) {
                    width: 92px;
                    height: 80px;
                    background-image: url($urlImg + 'honeypot_sm.png');
                    @include pos($t:378px,$r:380px);
                }
            }
        }
    }
    .process {
        display: inline-block;
        &.mbOn {
            display: none;
        }
        > .img {
            width: 500px;
            margin: 5px auto 35px;
        }
        > ul {
            font-size: 0;
            li {
                float: none;
                display: inline-block;
                @include pos($p:relative);
                text-align: center;
            }
        }
        .txt {
            display: block;
            font-weight: 700;
            font-size: 22px;
        }
        .col3 {
            li {
                width: auto;
                margin-left: 55px;
                &:first-child {
                    margin-left: 0;
                }
            }
            .txt {
                @include pos($p:absolute,$l:0,$r:0,$t:50%);
                transform: translateY(-50%);
                -webkit-transform: translateY(-50%);
                -ms-transform: translateY(-50%);
                -moz-transform: translateY(-50%);
            }
        }
        .col4 {
            width: 945px;
            height: 247px;
            padding-top: 68px;
            @include cssImg();
            background-image: url($urlImg + 'sec1_process_bg04.png');
            li {
                @for $i from 1 to 5 {
                    &:nth-of-type(#{$i}) {
                        .txt {
                            &:before {
                                background-image: url($urlImg + 'sec1_process_icon0' + $i + '.png');
                            }
                        }
                    }
                }
                @for $i from 1 to 4 {
                    &:nth-of-type(#{$i}) {
                        margin-right: 70 + 30 * ($i - 1) + px;
                    }
                }
            }
            .txt {
                &:before {
                    content: '';
                    display: block;
                    width: 70px;
                    height: 70px;
                    margin: 0 auto 22px;
                    @include cssImg();
                }
            }
        }
    }
}

.sec2,
.sec3 {
    padding-top: 125px;
    padding-bottom: 155px;
    .desc {
        p {
            margin: 28px 0;
        }
    }
    .adList {
        display: inline-block;
        li {
            margin-top: 50px;
        }
        .txt {
            font-weight: 700;
            font-size: 20px;
            &:before {
                content: '';
                display: block;
                width: 100px;
                height: 80px;
                margin: 0 auto 25px;
            }
        }
    }
}
.sec2 {
    .adList {
        li {
            @for $i from 1 to 7 {
                &:nth-of-type(#{$i}) {
                    .txt {
                        &:before {
                            background-image: url($urlImg + 'sec2_adlist_icon0' + $i + '.png');
                        }
                    }
                }
            }
        }
    }
}
.sec3 {
    background-image: url($urlImg + 'sec3_bg.png');
    .bee {
        width: 318px;
        height: 227px;
        @include pos($p:absolute,$l:0,$t:0);
        @include cssImg();
        background-image: url($urlImg + 'sec3_line.png');
        animation:cloud infinite 3s;
        -ms-animation:cloud infinite 3s;
        -moz-animation:cloud infinite 3s;
        -webkit-animation:cloud infinite 3s;
        &:after {
            content: '';
            display: block;
            width: 151px;
            height: 183px;
            @include pos($p:absolute,$r:-80px,$t:-70px);
            @include cssImg();
            background-image: url($urlImg + 'sec3_bee.png');
        }
    }
    .adList {
        li {
            @for $i from 1 to 7 {
                &:nth-of-type(#{$i}) {
                    .txt {
                        &:before {
                            background-image: url($urlImg + 'sec3_adlist_icon0' + $i + '.png');
                        }
                    }
                }
            }
        }
    }
}
.sec4 {
    padding-top: 130px;
    padding-bottom: 213px;
    background-color: #34149c;
    .flow {
        width: 785px;
        height: 327px;
        @include pos($p:absolute,$r:0,$t:-37px);
        @include cssImg();
        background-image: url($urlImg + 'flow.png');
    }
    .desc {
        color: #fff;
        p {
            margin-top: 30px;
        }
        .lineU {
            color: #fff;
        }
    }
    &.arrived {
        .desc {
            .lineU {
                color: #000;
                transition: color 0.1s ease;
                -webkit-transition: color 0.1s ease;
                -ms-transition: color 0.1s ease;
                -moz-transition: color 0.1s ease;
                transition-delay: 1.8s;
                -webkit-transition-delay: 1.8s;
                -ms-transition-delay: 1.8s;
                -moz-transition-delay: 1.8s;
            }
        }
    }
    .diagram {
        width: 637px;
        margin: 190px auto 0;
        @include pos($p:relative);
        > strong {
            display: block;
            @include pos($p:absolute,$l:0,$r:0,$t:150px);
            font-weight: 700;
            font-size: 46px;
            margin-top: 20px;
            opacity: 0;
            transition: all 0.5s ease-in-out;
            -webkit-transition: all 0.5s ease-in-out;
            -ms-transition: all 0.5s ease-in-out;
            -moz-transition: all 0.5s ease-in-out;
            &:before {
                content: '';
                display: block;
                width: 142px;
                height: 146px;
                @include pos($p:relative,$l:50%,$b:-25px);
                margin-left: -60px;
                @include cssImg();
                background-image: url($urlImg + 'sec4_diagram_rocket.png');
                opacity: 0;
                transition: opacity 0.2s ease-in-out;
                -webkit-transition: opacity 0.2s ease-in-out;
                -ms-transition: opacity 0.2s ease-in-out;
                -moz-transition: opacity 0.2s ease-in-out;
                animation:cloud infinite 3s;
                -ms-animation:cloud infinite 3s;
                -moz-animation:cloud infinite 3s;
                -webkit-animation:cloud infinite 3s;
                animation-delay: 2.2s;
                -webkit-animation-delay: 2.2s;
                -ms-animation-delay: 2.2s;
                -moz-animation-delay: 2.2s;
            }
        }
        .img {
            &[class *= 'dia'] {
                @include pos($p:absolute);
                opacity: 0;
                transition: opacity 0.5s ease;
                -webkit-transition: opacity 0.5s ease;
                -ms-transition: opacity 0.5s ease;
                -moz-transition: opacity 0.5s ease;
            }
        }
        &.separate {
            > strong {
                margin-top: 0;
                opacity: 1;
                &:before {
                    opacity: 1;
                    transition-delay: 0.5s;
                    -webkit-transition-delay: 0.5s;
                    -ms-transition-delay: 0.5s;
                    -moz-transition-delay: 0.5s;
                }
            }
            .img {
                &[class *= 'dia'] {
                    opacity: 1;
                }
            }
            .dia1 {
                @include pos($l:200px,$t:-96px);
                transition-delay: 0.8s;
                -webkit-transition-delay: 0.8s;
                -ms-transition-delay: 0.8s;
                -moz-transition-delay: 0.8s;
            }
            .dia2 {
                @include pos($r:-132px,$t:135px);
                transition-delay: 1.1s;
                -webkit-transition-delay: 1.1s;
                -ms-transition-delay: 1.1s;
                -moz-transition-delay: 1.1s;
            }
            .dia3 {
                @include pos($r:-22px,$b:-50px);
                transition-delay: 1.4s;
                -webkit-transition-delay: 1.4s;
                -ms-transition-delay: 1.4s;
                -moz-transition-delay: 1.4s;
            }
            .dia4 {
                @include pos($l:8px,$b:-52px);
                transition-delay: 1.7s;
                -webkit-transition-delay: 1.7s;
                -ms-transition-delay: 1.7s;
                -moz-transition-delay: 1.7s;
            }
            .dia5 {
                @include pos($l:-103px,$t:123px);
                transition-delay: 2s;
                -webkit-transition-delay: 2s;
                -ms-transition-delay: 2s;
                -moz-transition-delay: 2s;
            }
        }
    }
}
.sec5 {
    @include pos($p:relative);
    @include clearfix;
    text-align: left;
    > * {
        width: 50%;
        height: 100%;
    }
    .map {
        overflow: hidden;
        float: left;
        display: block;
        @include pos($p:relative);
        min-height: 1000px;
        img {
            width: 100%;
            height: 100%;
        }
        iframe {
            width: 100%;
            height: 100%;
            @include pos($p:absolute,$l:0,$r:0,$t:0,$b:0);
        }
    }
    .desc {
        float: right;
        padding: 110px 0 58px 80px;
        @include pos($p:relative);
        background-color: #070a11;
        color: #fff;
        .bee {
            width: 388px;
            height: 264px;
            @include cssImg();
            @include pos($p:absolute,$r:0,$t:0);
            background-image: url($urlImg + 'sec5_line.png');
            &:before {
                content: '';
                display: block;
                width: 175px;
                height: 206px;
                @include pos($p:absolute,$l:-160px,$t:-90px);
                @include cssImg();
                background-image: url($urlImg + 'sec5_bee.png');
            }
        }
        h4 {
            font-weight: 800;
            font-size: 100px;
        }
        p {
            font-weight: 700;
            font-size: 40px;
            color: #45fcb3;
            line-height: 1.3;
        }
        .list {
            margin: 107px 0 130px;
            li {
                margin-top: 46px;
                > * {
                    display: block;
                }
                strong {
                    font-weight: 700;
                    font-size: 26px;
                }
                span {
                    margin-top: 14px;
                    font-weight: 500;
                    font-size: 18px;
                    line-height: 1.5;
                }
            }
        }
        .copy {
            font-weight: 500;
            font-size: 16px;
            opacity: 0.3;
        }
    }
}

// mobile
.homeMb {
    body {
        -webkit-text-size-adjust: 100%;
    }
    .mbOn {
        display: block;
    }
    .mbOff {
        display: none;
    }
    ul[class *= "col"] {
        &.col3 {
            li {
                width: 50%;
            }
        }
    }
    #wrap {
        overflow: hidden;
        min-width: 0;
        height: 100%;
        .goTop {
            width: ptr(90);
            height: ptr(90);
            @include pos($r:ptr(20),$b:ptr(20));
            background-image: url($urlImg + 'm_btn_top.png');
        }
    }
    // header
    #header {
        min-width: 0;
    }
    .headWrap {
        padding: ptr(28) 0;
        .gnb {
            display: none;
        }
        .logo {
            float: none;
            width: ptr(185);
            height: ptr(36);
            margin: 0 auto;
            button {
                background-image: url($urlImg + 'm_logo.png');
            }
        }
    }
    .desc {
        padding: 0 ptr(34);
        h4,
        p,
        .list li{
            @include pos($b:0);
            opacity: 1;
            transition: none;
            -webkit-transition: none;
        }
        h4 {
            letter-spacing: ptr(-4);
            font-size: ptr(52);
        }
        p,
        li {
            font-weight: 500;
            font-size: ptr(28);
            line-height: 1.6;
            letter-spacing: ptr(-1);
            @media all and (max-width: 320px) {
                font-size: ptr(26);
            }
        }
        li + li {
            margin-top: ptr(14);
        }
        .lineU {
            &:after {
                height: ptr(34);
                transition-delay: 0s;
                -webkit-transition-delay: 0s;
                transition-duration: 1s;
                -webkit-transition-duration: 1s;
            }
        }
    }
    // content
    #cont {
        width: 100%;
        height: 100%;
        padding-top: ptr(92);
    }
    .mainSec {
        &.aniTxt {
            &.arrived {
                h4,
                p {
                    @include pos($b:0);
                }
            }
        }
    }
    .sec0 {
        padding: ptr(285) 0 ptr(392);
        &.arrived {
            .desc {
                h3 {
                    &:after {
                        height: ptr(77);
                    }
                }
            }
        }
        .desc {
            p {
                margin-bottom: ptr(40);
                letter-spacing: ptr(-2);
                font-size: ptr(44);
                line-height: 1.3;
            }
            .lineU {
                &:after {
                    height: ptr(18);
                    @include pos($b:ptr(20));
                }
            }
            h3 {
                width: ptr(584);
                height: ptr(110);
                &:before,
                &:after {
                    transition: none;
                    -webkit-transition: none;
                }
                &:before {
                    height: 100%;
                    background-image: url($urlImg + 'm_sec0_title.png');
                }
                &:after {
                    width: ptr(640);
                    height: ptr(77);
                    @include pos($l:ptr(-28),$t:ptr(100));
                    background-image: url($urlImg + 'm_sec0_shw.png');
                }
            }
        }
    }
    .sec1 {
        padding: ptr(160) 0 ptr(180);
        background-image: url($urlImg + 'm_sec1_bg.png');
        p,
        ul {
            margin: ptr(50) 0 0;
        }
        .desc {
            .lineU {
                transition-delay: 1.2s;
                -webkit-transition-delay: 1.2s;
            }
        }
        .bee {
            &.big {
                width: ptr(244);
                height: ptr(264);
                background-image: url($urlImg + 'm_bee_big.png');
                @include pos($r:ptr(55),$t:ptr(-123));
                &:after {
                    width: ptr(70);
                    height: ptr(866);
                    background-image: url($urlImg + 'm_line_big.png');
                    @include pos($l:auto,$r:ptr(-60),$t:ptr(140));
                }
            }
            &.small {
                width: ptr(95);
                height: ptr(182);
                background-image: url($urlImg + 'm_line_small.png');
                @include pos($b:-14);
                &:after {
                    width: ptr(80);
                    height: ptr(80);
                    background-image: url($urlImg + 'm_bee_small.png');
                    @include pos($r:ptr(-80),$t:ptr(14))
                }
            }
        }
        .earth {
            padding: ptr(175) 0 ptr(195);
            .imgWrap {
                .honey {
                    &:nth-of-type(1) {
                        width: ptr(80);
                        height: ptr(114);
                        background-image: url($urlImg + 'm_honeypot_big.png');
                        @include pos($l:0,$t:ptr(50));
                    }
                    &:nth-of-type(2) {
                        width: ptr(68);
                        height: ptr(60);
                        background-image: url($urlImg + 'm_honeypot_sm.png');
                        @include pos($r:ptr(34),$t:ptr(105));
                    }
                }
            }
            .ani {
                li {
                    margin-top: ptr(40);
                    font-size: ptr(90);
                    transition-duration: 1.4s;
                    -webkit-transition-duration: 1.4s;
                    &:first-child {
                        margin-top: 0;
                    }
                    @for $i from 1 to 5 {
                        &:nth-of-type(#{$i}) {
                            transition-delay: $i * 0.4s;
                            -webkit-transition-delay: $i * 0.4s;
                        }
                    }
                }
            }
        }
        .process {
            &.mbOn {
                display: block;
            }
            .img {
                width: 100%;
                margin: 0 auto;
            }
        }
    }
    .sec2,
    .sec3 {
        padding-top: ptr(155);
        .desc {
            p {
                margin: ptr(45) 0 ptr(115);
            }
            ul {
                margin: ptr(45) 0 ptr(115);
                &.adList {
                    margin: 0;
                }
            }
        }
        .adList {
            li {
                margin-top: ptr(75);
                &:nth-of-type(1),
                &:nth-of-type(2) {
                    margin-top: 0;
                }
            }
            .txt {
                font-size: ptr(28);
                &:before {
                    width: ptr(120);
                    height: ptr(96);
                    margin: 0 auto ptr(25);
                    @include cssImg();
                }
            }
        }
    }
    .sec2 {
        padding-bottom: ptr(215);
        .adList {
            li {
                @for $i from 1 to 7 {
                    &:nth-of-type(#{$i}) {
                        .txt {
                            &:before {
                                background-image: url($urlImg + 'm_sec2_adlist_icon0' + $i + '.png');
                            }
                        }
                    }
                }
            }
        }
    }
    .sec3 {
        padding-bottom: ptr(175);
        background-image: url($urlImg + 'm_sec3_bg.png');
        .adList {
            li {
                @for $i from 1 to 7 {
                    &:nth-of-type(#{$i}) {
                        .txt {
                            &:before {
                                background-image: url($urlImg + 'm_sec3_adlist_icon0' + $i + '.png');
                            }
                        }
                    }
                }
            }
        }
        .bee {
            width: ptr(73);
            height: ptr(228);
            background-image: url($urlImg + 'm_sec3_line.png');
            @include pos($t:ptr(26));
            &:after {
                width: ptr(136);
                height: ptr(190);
                background-image: url($urlImg + 'm_sec3_bee.png');
                @include pos($r:ptr(-124),$t:ptr(-110));
            }
        }
    }
    .sec4 {
        padding-top: ptr(160);
        padding-bottom: ptr(180);
        .flow {
            width: ptr(572);
            height: ptr(178);
            background-image: url($urlImg + 'm_flow.png');
            @include pos($r:ptr(-10),$t:ptr(-37));
        }
        .desc {
            p,
            ul {
                margin: ptr(60) 0 ptr(115);
            }
            .lineU {
                transition-delay: 1.2s;
                -webkit-transition-delay: 1.2s;
            }
        }
        .diagram {
            width: 100%;
            margin: 0 auto;
        }
    }
    .sec5 {
        display: flex;
        display: -webkit-flex;
        flex-direction: column-reverse;
        -webkit-flex-direction: column-reverse;
        flex-wrap: wrap;
        -webkit-flex-wrap: wrap;
        > * {
            float: none;
            width: 100%;
            flex: 1;
            -webkit-flex: 1;
        }
        .map {
            min-height: 100%;
            padding-bottom: 125%;
            div {
                width: 100%;
                height: 100%;
                @include pos($p:absolute,$l:0,$r:0,$t:0,$b:0);
            }
        }
        .desc {
            padding: ptr(100) ptr(47) ptr(100);
            > .copy {
                display: block;
                margin-top: ptr(24);
                font-size: ptr(22);
            }
            h4 {
                font-size: ptr(100);
            }
            p {
                font-weight: 700;
                font-size: ptr(44);
                line-height: 1.3;
            }
            .list {
                margin: ptr(86) 0 0;
                li {
                    margin-top: ptr(45);
                    strong {
                        font-size: ptr(32);
                    }
                    span {
                        margin-top: ptr(24);
                        font-size: ptr(26);
                    }
                }
            }
            .bee {
                width: ptr(131);
                height: ptr(240);
                background-image: url($urlImg + 'm_sec5_line.png');
                &:before {
                    width: ptr(175);
                    height: ptr(208);
                    background-image: url($urlImg + 'm_sec5_bee.png');
                    @include pos($l:ptr(-165),$t:ptr(-125));
                }
            }
        }
    }
}