
.btn_wrap{

width:780px;
text-align:right;
height:30px;
padding:15px 0 0px 0;
}
.btn_wrap_center{

width:780px;
text-align:center;
height:30px;
padding:15px 0 0px 0;
}
/* UI Object */
a.btn_big{display:inline-block;padding-right:4px;background:url(/static/images/intra/common/bg_btn_default.gif) no-repeat 100% 0;font-family:'µ¸¿ò',dotum;font-size:12px;color:#444;
line-height:26px;word-spacing:-1px;text-decoration:none !important;white-space:nowrap;font-weight:bold;}
a.btn_big span,a.btn_big strong{display:block;padding:1px 8px 0 12px;background:url(/static/images/intra/common/bg_btn_default.gif) no-repeat}
a.btn_sml{display:inline-block;padding-right:4px;background:url(/static/images/intra/ico_v02.gif) no-repeat 100% -27px;font-family:'µ¸¿ò',dotum;
font-size:11px;color:#444;line-height:21px;letter-spacing:-1px;word-spacing:-1px;text-decoration:none !important;white-space:nowrap}
a.btn_sml span,a.btn_sml strong{display:block;padding:1px 4px 0 8px;background:url(/static/images/intra/ico_v02.gif) no-repeat -55px -30px;text-indent:-5000px;width:24px;}
/* //UI Object */

