
#maincontent {
	width:800px;
	height:800px;
	margin:0px;
	padding:0px;
}

.noticecontain{

}

.noticecontain li{
	float:left;
	width:400px;
	height:130px;
	margin:0px;
	padding:0px;
}

.noticeTxt {
	clear:both;
	position:relative;
	left:00px;
	top:0px;	
	height:110px;
}

.noticeTxt li{
	clear:both;
	width:330px;
	height:25px;
	line-height:28px;
	border-bottom:1px solid #dbdcdd;
	padding:0 0 0 10px; 
	text-indent:0px;
}

.noticeTxt li:hover{
	background:#f5f6f6;
}

.noticeTxt .tit{
	float:left;
	border-bottom:2px solid #1d84a1;
	font-size:14px;
	font-weight:bold;
	letter-spacing:-1px;
	margin:0px;
	padding:0px;
	color:#225084;
}

.noticeTxt .tit:hover{
	background:#ffffff;
}

.noticeTxt .tit02{
	float:left;
	border-bottom:2px solid #1d84a1;
	font-size:14px;
	font-weight:bold;
	letter-spacing:-1px;
	margin:0px;
	padding:0px;
	color:#ff0000;
}

.noticeTxt .tit02:hover{
	background:#ffffff;
}

.noticeTxt span{
	position:absolute;
	float:right;
	left:85%;
	top:0px;
	text-align:right;
	font-size:11px;
	font-weight:normal;
	margin:0px;
	padding:0px;
}

.point {
	position:relative;
	top:40px;
	border:4px double #f6b958;
	background:#fef2c7;
	padding:10px 0 10px 0 ;
	width:180px;
}
.point h3{
	font-weight:bold;
	font-size:14px;
	color:#ee7310;
	margin:0 0 5px 0; 
}
.point ul{
	margin:0 auto;
	width:160px;
	text-align:left;
}
.point ul li{
	padding:10px 0 5px 15px ;
	text-indent:-15px;
	line-height:18px;
	color:#846a55;
	letter-spacing:-0.5px;
}
#gallery{
	position:relative;
	height:600px;
}

#gallery ul{
	position:relative;
	left:0px;
	top:0px;
	width:800px;
}

#gallery li{
	float:left;
	width:160px;
	padding:15px 20px 15px 20px;
}

#gallery li em{
	display:inline-block;
	margin:10px 0 5px 0;
	line-height:18px;
	font-style:normal;
}

.group_bx img{
	vertical-align:middle;
}

.h_scroll2{
	overflow-y:scroll;
	overflow-x:hidden;
	width:780px;
}

#login {
	position:relative;
	top:40px;
	border:4px double #f6b958;
	background:#fef2c7;
	padding:10px 0 10px 0 ;
	width:180px;
}

#login h3{
	padding:5px 0 5px 0;
	font-weight:bold;
}


/*공시지가 테이블*/


/*기본테이블*/
#notice {
left:0px;
}

#print {

}

.tbl_member_notice  {
width:790px;
margin:0  auto;

border-top:2px solid #0d73a3;
}
.tbl_member_notice  th{
height:25px;
line-height:25px;
background:url(/static/images/intra/common/th_bg.gif) repeat-x left bottom;
border-bottom:1px solid #c7c2c2;font-size:11px;
border-left:1px solid #d8d6d6;font-size:11px;
color:#205576;

font-size:11px;
}
.tbl_member_notice  th.company{border-left:0px solid #d6d6d6;width:250px;}
.tbl_member_notice  td.company{border-left:0px solid #d6d6d6;font-size:12px;}
.tbl_member_notice  th.date{background:#eceaea;}

.tbl_member_notice  td{
height:20px;
line-height:24px;
background:#ffffff;
text-align:center;
border-left:1px solid #d8d6d6;font-size:11px;
border-bottom:1px solid #d6d6d6;
}
.tbl_member_notice  td img{
vertical-align:top;
_margin-top:-8px;
}
.noticeTxt{
margin:10px 0 5px 0;
font-size:12px;
line-height:18px;
text-indent:-35px;
padding:0 0 0 35px;
}

.btnPrint{
float:right;
margin:-10px 0 5px 0;

}

#cardlist {

}



.tbl_card_notice  {
width:790px;
margin:0  auto;
border-top:2px solid #0d73a3;
}
.tbl_card_notice  th{
height:25px;
line-height:25px;
background:url(/static/images/intra/common/th_bg.gif) repeat-x left bottom;
border-bottom:1px solid #c7c2c2;font-size:11px;
border-left:1px solid #d8d6d6;font-size:11px;
color:#205576;

font-size:11px;
}
.tbl_card_notice  td{
height:24px;
line-height:24px;
background:#ffffff;
text-align:center;
border-left:1px solid #d8d6d6;font-size:12px;
border-bottom:1px solid #d6d6d6;
}
.tbl_card_notice  th.date, .tbl_card_notice  td.date {border-left:0px solid #d6d6d6}

.tbl_card_notice  .date{
width:100px;
}
.tbl_card_notice  th.subject, .tbl_card_notice  th.down{text-align:center;}
.tbl_card_notice  td.subject{
text-align:left;
padding:0 0 0 10px;
}
.tbl_card_notice  td.down{
width:260px;
text-align:left;
padding:0 0 0 5px;
font-size:11px;
line-height:16px;
}





	.tbl_member_state  {
	width:800px;
	margin:0  auto;
	margin-bottom:10px;
	border-top:2px solid #0d73a3;
	}
	.tbl_member_state  th{
	height:25px;
	line-height:12px;
	background:url(/static/images/intra/common/th_bg.gif) repeat-x left bottom;
	border-bottom:1px solid #c7c2c2;font-size:11px;
	border-left:1px solid #d8d6d6;font-size:11px;
	color:#205576;
	letter-spacing:-0.5px;
padding:3px 0 3px 0;
	font-size:11px;

	}
	.tbl_member_state  td{
	height:24px;
	line-height:24px;
	background:#ffffff;
	text-align:center;
	border-left:1px solid #d8d6d6;font-size:12px;
	border-bottom:1px solid #d6d6d6;

font-size:11px;
font-weight:normal;
	}

.tbl_member_state  th.member, .tbl_member_state  td.member {border-left:0px solid #d6d6d6;width:60px;font-size:12px;}
.tbl_member_state  th.company, .tbl_member_state  td.company {border-left:0px solid #d6d6d6;width:65px;font-size:12px;}	


	.tbl_product_commission  {
	width:800px;
	margin:0  auto;
	margin-bottom:10px;
	border-top:2px solid #0d73a3;
	}
	.tbl_product_commission  th{
	height:20px;
	line-height:12px;
	background:url(/static/images/intra/common/th_bg.gif) repeat-x left bottom;
	border-bottom:1px solid #c7c2c2;font-size:11px;
	border-left:1px solid #d8d6d6;font-size:11px;
	color:#205576;
	letter-spacing:-1px;

	font-size:11px;
	}
	.tbl_product_commission  td{
	height:24px;
	line-height:16px;
	background:#ffffff;
	text-align:center;
	border-left:1px solid #d8d6d6;font-size:12px;
	border-bottom:1px solid #d6d6d6;
font-size:11px;
	}
.tbl_product_commission   th.card, .tbl_product_commission   td.card {border-left:0px solid #d6d6d6;width:85px;font-size:12px;}

.tbl_product_commission .date {width:65px;}

.tbl_product_commission  th.vat{background:#eceaea;font-weight:normal;}
/*분기별수수료율*/
	.tbl_quarter_commission  {
	width:800px;
	margin:0  auto;
	margin-bottom:10px;
	border-top:2px solid #0d73a3;
	}
	.tbl_quarter_commission  th{
	height:24px;
	line-height:24px;
	background:url(/static/images/intra/common/th_bg.gif) repeat-x left bottom;
	border-bottom:1px solid #c7c2c2;font-size:11px;
	border-left:1px solid #d8d6d6;font-size:11px;
	color:#205576;
	letter-spacing:-1px;

	font-size:11px;
	}
	.tbl_quarter_commission  td{
	height:24px;
	line-height:16px;
	background:#ffffff;
	text-align:center;
	border-left:1px solid #d8d6d6;font-size:12px;
	border-bottom:1px solid #d6d6d6;
font-size:11px;
	}

	.tbl_quarter_commission   th.card {border-left:0px solid #d6d6d6;width:105px;}
		.tbl_quarter_commission   th.bank {border-left:0px solid #d6d6d6;width:105px;}

	.tbl_quarter_commission   td.card {border-left:0px solid #d6d6d6;width:65px;font-size:12px;}
		.tbl_quarter_commission   td.bank {border-left:0px solid #d6d6d6;width:65px;font-size:12px;}

	.tbl_quarter_commission   th.note {width:200px;}



/*휴면카드*/
.tbl_dormant{
	width:800px;
	margin:0  auto;
	margin-bottom:10px;
	border-top:2px solid #0d73a3;
	}
	.tbl_dormant  th{
	height:24px;
	line-height:24px;
	background:url(/static/images/intra/common/th_bg.gif) repeat-x left bottom;
	border-bottom:1px solid #c7c2c2;font-size:11px;
	border-left:1px solid #d8d6d6;font-size:11px;
	color:#205576;
	letter-spacing:-1px;

	font-size:11px;
	}
	.tbl_dormant  td{
	height:24px;
	line-height:16px;
	background:#ffffff;
	text-align:center;
	border-left:1px solid #d8d6d6;font-size:12px;
	border-bottom:1px solid #d6d6d6;
font-size:11px;
	}
	.tbl_dormant th.company{border-left:0px solid #d6d6d6;}
	.tbl_dormant td.company{border-left:0px solid #d6d6d6;font-size:12px;}
	.tbl_dormant th.card{border-left:0px solid #d6d6d6;}
	.tbl_dormant td.card{border-left:0px solid #d6d6d6;font-size:12px;}
	.tbl_dormant td.note{text-align:left;padding:0 0 0 10px;line-height:16px;}

/*신용등급별 이자율*/
.tbl_credit_interest{
	width:800px;
	margin:0  auto;
	margin-bottom:10px;
	border-top:2px solid #0d73a3;
	}
.tbl_credit_interest th{
	height:24px;
	line-height:24px;
	background:url(/static/images/intra/common/th_bg.gif) repeat-x left bottom;
	border-bottom:1px solid #c7c2c2;font-size:11px;
	border-left:1px solid #d8d6d6;font-size:11px;
	color:#205576;
	letter-spacing:-1px;
	font-size:11px;
	}
.tbl_credit_interest td{
	height:24px;
	line-height:16px;
	background:#ffffff;
	text-align:center;
	border-left:1px solid #d8d6d6;font-size:12px;
	border-bottom:1px solid #d6d6d6;

font-size:11px;
	}
.tbl_credit_interest th.section,.tbl_credit_interest td.section {
border-left:0px  solid #000;
}

/*적용금리대별 회원분포현황*/
.tbl_rate_state {

	width:800px;
	margin:0  auto;
	margin-bottom:10px;
	border-top:2px solid #0d73a3;
	}
	.tbl_rate_state  th{
	height:24px;
	line-height:18px;
	background:url(/static/images/intra/common/th_bg.gif) repeat-x left bottom;
	border-bottom:1px solid #c7c2c2;font-size:11px;
	border-left:1px solid #d8d6d6;font-size:11px;
	color:#205576;
	letter-spacing:-1px;

	font-size:11px;
	}
	.tbl_rate_state  td{
	height:24px;
	line-height:16px;
	background:#ffffff;
	text-align:center;
	border-left:1px solid #d8d6d6;font-size:12px;
	border-bottom:1px solid #d6d6d6;
font-size:11px;

	}



.tbl_rate_state th.company{border-left:0px solid #d6d6d6;width:180px;}
.tbl_rate_state td.company{border-left:0px solid #d6d6d6;font-size:12px;}


.gudietxt{
border:1px solid #d6d6d6;
background:#f6f6f6;
color:#555555;
font-size:11px;
padding:5px 0 5px 10px;
}
.gudietxt .mtxt{
text-indent:-35px;
padding:0 0 0 35px;
margin:5px 5px 5px 5px;
line-height:16px;
letter-spacing:-0.5px;

}

.gudietxt  .rect{
margin:10px 10px 10px 25px;
}
.rect li{
background:url(/static/images/intra/common/bl_rect.gif)  no-repeat 4px 5px;
padding:0 0 0 20px;
text-indent:-5px;
}
.gudietxt  .rect  ul {
margin:0 0 10px 0;}
.gudietxt  .rect  ul li{
padding:0 0 0 0;
background: url() no-repeat -100px -100px  ;
color:#686767;
letter-spacing:-0.5px;
}


.dtext{
}

.dtext .tit{
padding:0 0 0 20px;
margin:0 0 0px 0;
font-weight:normal;
background:url(/static/images/intra/common/bl_item.gif)  no-repeat 6px 45%;
font-size:12px;
font-weight:bold;
}
.dtext li{
padding:0 0 0 25px;
}





/*업종별수수료료율*/

.market_wrap{


}
.market_wrap li{
float:left;
padding:0 0 20px 0;
}
.tbl_market_rate {
	width:150px;
	float:left;
	margin:0  auto;
	margin-bottom:10px;
	border-top:2px solid #0d73a3;
	}
	.tbl_market_rate  th{
	height:24px;
	line-height:18px;
	background:url(/static/images/intra/common/th_bg.gif) repeat-x left bottom;
	border-bottom:1px solid #c7c2c2;font-size:11px;
	border-left:1px solid #d8d6d6;font-size:11px;
	color:#205576;
	letter-spacing:-1px;
margin:0px;
padding:0px;
text-align:center;
	font-size:11px;
	}
	.tbl_market_rate  td{
text-align:left;
	background:#ffffff;
	text-align:center;
	border-left:1px solid #d8d6d6;font-size:12px;
	border-bottom:1px solid #d6d6d6;
font-size:11px;
padding:0px;
margin:0px;
padding:0px;
	height:24px;
	}

	.tbl_market_rate td.section,.tbl_market_rate th.section{
	border-left:0px;width:150px;
	font-size:12px;
		height:24px;}
	.tbl_market_rate td.price{
	width:30px;
	font-size:11px;
		height:24px;}
		.tbl_market_rate .section a, .tbl_market_rate .section .item{
line-height:14px;

margin:0px;
padding:0px;
	font-size:11px;}
 .tbl_market_rate .section .item{	
	display:none;}
		.t_scroll {
overflow-x:scroll;overflow-y:hidden;
width:635px;

padding:0px 0px 0px 0px 0px;
}


		.tbl_market_item {
		
	border-top:2px solid #0d73a3;

width:1000px;
margin:0 0 100px 0;

left:0px;
top:0px;
margin-bottom:10px;
}
	.tbl_market_item  th{
	height:24px;
	line-height:18px;
	background:url(/static/images/intra/common/th_bg.gif) repeat-x left bottom;
	border-bottom:1px solid #c7c2c2;font-size:11px;
	border-left:1px solid #d8d6d6;font-size:11px;
	color:#205576;
	letter-spacing:-1px;
text-align:center;
	font-size:11px;
	}
	.tbl_market_item  td{
	height:24px;
	line-height:16px;
	background:#ffffff;
	text-align:center;
	border-left:1px solid #d8d6d6;font-size:12px;
	border-bottom:1px solid #d6d6d6;
font-size:11px;

	}



	/*할부금융상품 비교공시*/
.tbl_product {
	width:800px;
	margin:0  auto;
	margin-bottom:10px;
	border-top:2px solid #0d73a3;
	}
	.tbl_product  th{
	height:24px;
	line-height:18px;
	background:url(/static/images/intra/common/th_bg.gif) repeat-x left bottom;
	border-bottom:1px solid #c7c2c2;font-size:11px;
	border-left:1px solid #d8d6d6;font-size:11px;
	color:#205576;
	letter-spacing:-1px;
	font-size:11px;
	}
	.tbl_product  td{
	height:24px;
	line-height:16px;
	background:#ffffff;
	text-align:center;
	border-left:1px solid #d8d6d6;font-size:12px;
	border-bottom:1px solid #d6d6d6;
font-size:11px;
	}


.tbl_product .company{border-left:0px solid #d6d6d6;width:180px;}
.tbl_product .note{border-left:0px solid #d6d6d6;width:180px;}



/*할부금융상품 비교공시_검색조건*/

#searchBx{
border:5px solid #cfe1e9;
padding:10px;
margin:0 0 10px 0 ;
}
#searchBx table{
margin:0 0 0 110px;
}

.tbl_guideIn{
position:relative;
left:70px;
margin:0 0 10px 150px;
width:500px;
background:#fff;
border-left:1px solid #d8d6d6;font-size:12px;
border-top:1px solid #d8d6d6;font-size:12px;

}
.tbl_guideIn td{
text-align:center;
border-right:1px solid #d8d6d6;font-size:12px;
	border-bottom:1px solid #d6d6d6;
}


/*write*/

#write_wrap {}

.tbl_write {
	width:795px;
	/* margin:0  auto;*/
	margin-top:15px;
	margin-bottom:10px;
	border-top:2px solid #0d73a3;
	}
	.tbl_write  th{
		border-bottom:1px solid #d6d6d6;

	}
	.tbl_write  td{
	height:29px;
	line-height:29px;
	background:#ffffff;
	text-align:left;
	border-bottom:1px solid #d6d6d6;
font-size:12px;
padding:0 0 0 10px;

	}
	.tbl_write .subject{
	background:url(/static/images/intra/common/th_bg.gif) repeat-x left top;
	height:29px;
	line-height:29px;
	text-align:left;
	padding:0 0 0 10px;
	border-bottom:1px solid #d6d6d6;

	}
	
	.tbl_write td{padding:2px;}
		.tbl_write  .subject span{
		margin:0 0 0 10px;
		}
				.tbl_write  .subject em{
		font-style:normal;
		font-weight:100;
		margin:0 0 0 10px;
		}
		
		.tbl_write .iTem{
		background-color:#ececec;
		font-weight:bold;
		padding-left:15px;
		}

.tbl_write .name,.tbl_write .date,.tbl_write .view,.tbl_write .category {
border-bottom:1px solid #d6d6d6;

	/*background:url(/static/images/intra/common/bl_rect.gif) no-repeat 0px 46%;*/
	text-align:left;
	padding:0 14px 0 15px;
	line-height:29px;
	height:26px;
_padding:3px 14px 0 15px;
}


.tbl_write .contentTxt {
padding:15px 20px 15px 20px;
line-height:19px;

}
.tbl_write .br {
height:40px;

}

.tbl_write .btn {
height:40px;
border-top:2px solid #0d73a3;
border-bottom:0px;
text-align:right;
padding:0 10px 0 0;
}

.tbl_write .file {
background:#f5f5f5;
padding: 0 0 0 20px;
}

.contentTxt  .i_textarea {
width:100%;
height:150px;
padding:10px 10px 10px 10px;
overflow-y:scroll;
}

.tbl_write .i_file{
border:1px solid #d6d6d6;
background:#fff;
}

/*view*/
#write_wrap {}

.tbl_view {
	width:795px;
	margin:0  auto;
	margin-top:15px;

	margin-bottom:10px;
	border-top:2px solid #0d73a3;
	}
	tbl_view  th{
	height:26px;
	line-height:26px;
		border-bottom:1px solid #d6d6d6;
font-size:11px;
	border-left:1px solid #d8d6d6;font-size:11px;
	color:#205576;
	letter-spacing:-1px;
	font-size:11px;
		text-align:left;
	}
	.tbl_view  td{
	height:29px;
	line-height:29px;

	background:#ffffff;
	text-align:left;
	border-bottom:1px solid #d6d6d6;
font-size:12px;
padding:0 0 0 0px;
	}
	.tbl_view .subject{
	background:url(/static/images/intra/common/th_bg.gif) repeat-x left top;
	height:29px;
	line-height:29px;
	text-align:left;
	padding:0 0 0 0px;
	border-bottom:1px solid #d6d6d6;

	}
		.tbl_view  .subject span{
		margin:0 0 0 10px;
		}
				.tbl_view  .subject em{
		font-style:normal;
		font-weight:100;
		margin:0 0 0 10px;
		}
.tbl_view .name,.tbl_view .date,.tbl_view .view {
border-bottom:1px solid #d6d6d6;

	/*background:url(/static/images/intra/common/bl_rect.gif) no-repeat 0px 46%;*/
	text-align:right;
	padding:0 14px 0 0;
	line-height:29px;
_padding:3px 14px 0 0;

}
.tbl_view .name,.tbl_view .category{
text-align:center;
padding:0px;
border-bottom:1px solid #d6d6d6;
_padding:3px 14px 0 0;

}


.tbl_view .prev {
	border-bottom:1px solid #d6d6d6;
text-align:left;
padding:0 0 0 0px;
	height:23px;
		background:#ffffff url(/static/images/intra/common/bl_prev.gif) no-repeat 4px 46%;
	text-align:center;
}

.tbl_view .next {
	border-bottom:1px solid #d6d6d6;
text-align:left;
padding:0 0 0 0px;
	height:23px;
	text-align:center;

			background:#ffffff url(/static/images/intra/common/bl_next.gif) no-repeat 4px 46%;


}

.tbl_view .contentTxt {
padding:15px 20px 15px 20px;
line-height:19px;

}
.tbl_view .br {
height:40px;

}

.tbl_view .btn {
height:40px;
border-top:2px solid #0d73a3;
border-bottom:0px;
text-align:right;
padding:0 10px 0 0;
}

.tbl_view .file {
background:#f5f5f5;
padding: 0 0 0 20px;
}



.listView{
position:relative;
left:20px;
top:10px;
height:35px;
width:780px;
text-align:left;
vertical-align:text-bottom;
}


.listView em{

display:inline-block;
font-style:normal;
padding:0 10px 0 20px;
font-weight:bold;
background:url(/static/images/intra/common/ico_list.gif) no-repeat 0px 1px;
}

.listView span{
float:right;
display:inline-block;
letter-spacing:0;
font-size:11px;
.margin:-15px 0 0 0;


padding:0 15px 0 0;
}

.listView span strong{
color:#f82626;
}
.search_bx{

left:0px;
margin:10px 0 10px 0;
width:800px;
border-top:1px solid #d9d9d9;
border-bottom:1px solid #d9d9d9;
_padding:10px 0 0 0;
height:40px;
_height:30px;

line-height:40px;
background:#f2f2f2;
text-align:center;
}

.group_bx img{
vertical-align:middle;}

.h_scroll2{
overflow-y:scroll;
overflow-x:hidden;
width:780px;
}

/*기본테이블*/

.bbsWarp {

}
.tbl_list  {
width:780px;
margin:0  auto;
background:url(/static/images/intra/common/th_bg2.gif) repeat-x left -4px;
_background:url(/static/images/intra/common/th_bg2.gif) repeat-x left -0px;

border-top:2px solid #0d73a3;

}


.tbl_list  th{
height:29px;
line-height:29px;
background:url(/static/images/intra/common/th_line.gif) no-repeat 100% 50%;
border-bottom:1px solid #d6d6d6;
_border-bottom:1px solid #d6d6d6;

}
.tbl_list  th:first-child {
border-left:1px solid #bbbbbb;}

.tbl_list  th:last-child {
border-right:1px solid #bbbbbb;
background:url() no-repeat 100% 50%;

}

.tbl_list  td{
height:29px;
line-height:16px;
background:#ffffff;
text-align:center;
border-bottom:1px solid #d6d6d6;

}
.tbl_list td.subject{
text-align:left;
overflow:hidden; text-overflow:ellipsis;



}
.tbl_list .png{
_margin:-10px 0 0 0;
_vertical-align:top;
}

.tbl_list th.hide{
width:40px;
letter-spacing:-2px;
}
.tbl_list th.down{
width:35px;
letter-spacing:-1px;
}
.tbl_list th.hits{
width:48px;
letter-spacing:-1px;
}
.tbl_list th.date{
width:65px;
letter-spacing:-1px;
}
.tbl_list th.name{
width:65px;
letter-spacing:-0.5px;
}
.tbl_list th.select{
width:30px;
letter-spacing:-0.5px;
}
.tbl_list th.num{
width:50px;
letter-spacing:-0px;
}
.tbl_list th.category{
width:80px;
}


.num_wrap{

clear:both;
width:780px;
text-align:center;
margin:0px 0 -25px 0;

}

.num_wrap a:link,.num_wrap a{height:10px;font-weight:normal;width:23px;display:inline-block;text-align:center;margin:0 2px 0 2px;letter-spacing:-1px;}
.num_wrap a.checked,.num_wrap a:hover{font-weight:bold;color:#339900;text-decoration:underline;}



/*자료검색*/

#datasearch {}


/*검색결과*/
.search_result {
width:780px;
position:relative;
border-top:2px solid #969696;
border-bottom:1px solid #969696;

}

.search_result li {
border-bottom:1px dotted #dbdada;
padding:10px 0 10px 0; 
}
.search_result .even{
background:#f6f6f6;

}
.search_result ul{
position:relative;
left:50px;
}
.search_result ul li{
border:0px;
height:22px;
padding:0px;
}
.search_result .subject{
font-weight:bold;
color:#395aac;
text-decoration:underline;
}
.search_result .date{
font-size:11px;
}
.search_result .site{
color:#27a6c6;
}
.search_result .file{
color:#838383;
}



.tbl_join  {
width:760px;
margin:0  auto;
margin-left:20px;

border-top:2px solid #0d73a3;

}


.tbl_join  th{
height:29px;
line-height:29px;
background:#eff1f3;
width:120px;
border-bottom:1px solid #c8cccf;
text-align:left;
padding:0 0 0 20px;
}
.tbl_join  td	{
height:29px;
line-height:29px;
border-bottom:1px solid #c8cccf;
padding:0 0 0 20px; 
}


#join_wrap .i_check {border:0;}
#join_wrap .i_radio {border:0;}



.tbl_intra_inner {
	margin:0  auto;
	margin-bottom:10px;
	/*border-top:2px solid #0d73a3;*/
	border-top:1px solid #c7c2c2;
	}

.tbl_intra_inner  th{
	height:25px;
	line-height:12px;
	background:url(/static/images/intra/common/th_bg.gif) repeat-x left bottom;
	border-bottom:1px solid #c7c2c2;font-size:11px;
	border-left:1px solid #d8d6d6;font-size:11px;
	color:#205576;
	letter-spacing:-0.5px;
	padding:3px 0 3px 0;
	font-size:11px;
	}
	
.tbl_intra_inner  th.thheight{
	height:27px;
	line-height:12px;
	background:url(/static/images/intra/common/th_bg.gif) repeat-x left bottom;
	border-bottom:1px solid #c7c2c2;font-size:11px;
	border-left:1px solid #d8d6d6;font-size:11px;
	color:#205576;
	letter-spacing:-0.5px;
	padding:3px 0 3px 0;
	font-size:11px;
	}
	
.tbl_intra_inner  td{
	height:24px;
	line-height:24px;
	background:#ffffff;
	text-align:center;
	border-left:1px solid #d8d6d6;font-size:12px;
	border-bottom:1px solid #d6d6d6;
	font-size:11px;
	font-weight:normal;
	}
	
.tbl_intra_inner  td.tdheight{
	height:27px;
	line-height:24px;
	background:#ffffff;
	text-align:center;
	border-left:1px solid #d8d6d6;font-size:12px;
	border-bottom:1px solid #d6d6d6;
	font-size:11px;
	font-weight:normal;
	}

.tbl_intra_inner  th.member, .tbl_intra_inner  td.member {border-left:0px solid #d6d6d6;width:60px;font-size:12px;}
.tbl_intra_inner  th.company, .tbl_intra_inner  td.company {border-left:0px solid #d6d6d6;width:65px;font-size:12px;}
.tbl_intra_inner  th.thr, .tbl_intra_inner  td.tdr {border-right:1px solid #d8d6d6;width:65px;font-size:12px;}
.tbl_intra_inner  th.end, .tbl_intra_inner  td.end {border-right:none;border-left:0px solid #d6d6d6;border-bottom:none;width:65px;font-size:12px;}

.ellipsis {
	white-space:nowrap;
	width:90%; 
    overflow:hidden;
    text-overflow:ellipsis;
    -moz-binding: url('/static/xml/ellipsis.xml#ellipsis');
    table-layout:fixed;
}

.tbl_creditMember{
	width:1200px;
	margin:0  auto;
	margin-bottom:10px;
	border-top:2px solid #0d73a3;
	}
.tbl_creditMember th{
	height:24px;
	line-height:21px;


	background:url(/static/images/portal/common/th_bg.gif) repeat-x left bottom;
	border-bottom:1px solid #c7c2c2;font-size:11px;
	border-left:1px solid #d8d6d6;font-size:11px;
	color:#205576;
	letter-spacing:-1px;
	font-size:11px;
	}
.tbl_creditMember td{
	height:24px;
	line-height:16px;
	background:#ffffff;
	text-align:center;
	letter-spacing:0px;
	padding:0 2px 0 2px;
	border-left:1px solid #d8d6d6;font-size:12px;
	border-bottom:1px solid #d6d6d6;
font-size:11px;

	}
.tbl_creditMember .grade{
background:#e7f3fa;
line-height:14px;
padding:0px;
font-weight:normal;
}
.tbl_creditMember .default{
height:18px;
}

.tbl_creditMember_item{
	width:180px;
	margin:0  auto;
	margin-bottom:10px;
	border-top:2px solid #0d73a3;
	}

.tbl_creditMember_item th{
	height:24px;
	line-height:24px;
	background:url(/static/images/portal/common/th_bg.gif) repeat-x left bottom;
	border-bottom:1px solid #c7c2c2;font-size:11px;
	border-right:1px solid #d8d6d6;font-size:11px;
	color:#205576;
	letter-spacing:-1px;
	font-size:11px;
	}
.tbl_creditMember_item .rate{
font-weight:normal;
letter-spacing:0px;
}

.tbl_2wrap{
width:800px;
}

.tbl_2wrap_left{
float:left;
width:180px;
margin:0px;
padding:0px;
}
.tbl_2wrap_right{
float:left;
margin:0px;
padding:0px;
overflow:scroll;
overflow-x:scroll;
overflow-y:hidden;
width:600px;
}