/*body{
background:url(/static/images/intra/common/bg.gif)  repeat-x;
font-family:dotum;
font-size:12px;
line-height:18px;
color:#4e4d4d;
}
#wrap{
100%;
margin:0 auto;
}*/

/* #contain {width:1032px;margin:0 auto;
}*/

/*#header{
width:1005;
height:102px;
position:relative;
z-index:1;}
#header h1{
position:absolute;
left:0px;
top:25px;
}*/
#sectrion{width:1000px;}

#lnb{
width:180px;
float:left;
height:100px;
text-align:center;
position:relative;
text-align:center;
}
#lnb h2{
position:relative;
top:50px;
width:180px;
text-align:center;
_font-size:17px;
}
#lnbMenu{
clear:both;
position:absolute;
left:0px;
top:100px;
width:180px;
border-top:2px solid #1da27c;
font-family:dotum;
}

/* UI Object */
.lnbMenu{position:relative;width:200px;font-size:12px;font-family:Tahoma, Geneva, sans-serif;line-height:normal;}
.lnbMenu ul{margin:0px 0 0 0;padding:0;list-style:none;}
.lnbMenu li{position:relative;margin:0 0 -1px 0;_margin:0 0 0px 0;vertical-align:top;*zoom:1}
.lnbMenu li:first-child {position:relative;margin:-1px 0 0 0;_margin:0 0 0px 0;}
.lnbMenu li a {width:173px;
display:inline-block;
height:30px;
border-bottom:1px solid #e6e6e6;
line-height:30px;
text-align:left;
padding: 0 0 0 7px;

}
.lnbMenu li a:hover, .lnbMenu li a.checked {width:173px;
display:inline-block;
height:30px;
border-bottom:1px solid #1da27c;
border-top:0px solid #3f5aaa;
line-height:30px;
text-align:left;
padding: 0 0 0 7px;
font-weight:bold;
background:#1ea27d url(/static/images/intra/common/menuCheck.gif)  no-repeat 95% 45%;
color:#ffffff;
}
 li a.plus {
background: url(/static/images/intra/common/bl_plusmenu.gif)  no-repeat 95% 45%;

}

li a.plus:hover {
background:#1ea27d url(/static/images/intra/common/bl_plusmenu.gif)  no-repeat 95% 45%;
color:#ffffff;

}


.lnbMenu li li a span{color:#798790;letter-spacing:-1px;background:url(/static/images/intra/common/bl_2depth.gif) no-repeat 0px 30%;
_background:url(/static/images/intra/common/bl_2depth.gif) no-repeat 0px 45%; padding:0 0 8px 5px; font-size:11px;letter-spacing:-2px;}
.lnbMenu li.active{z-index:2;border-bottom:1px solid #3f5aaa;font-weight:bold;
border-top:1px solid #3f5aaa;}
.lnbMenu li li.active{border:0;}
.lnbMenu li.active a{border:0;color:#ffffff;}


.lnbMenu li.active .i{background-position:0 -44px;}
.lnbMenu li.active li a{border:0;height:26px;font-weight:normal;color:#000;background:url();color:#000;}
.lnbMenu li.active li a :hover { color:#000;}
.lnbMenu li.active ul{display:block;background:#fcfdfe;color:#000;}
.lnbMenu li.active li.active a span{font-weight:bold;}

.depth3 {
border-bottom:1px solid #5168c5;
height:24px;
width:800px;
margin:0 0 10px 0; 
margin:0px;
padding:0px;
}

.depth3 li {
float:left;
margin:0px;
padding:0px;
background:url(/static/images/intra/common/3depth_bg_off.gif) repeat-x ;

}
.depth3 li a{
display:inline-block;
height:25px;
line-height:25px;
font-weight:bold;
padding:0 18px 0 18px;
background:url(/static/images/intra/common/3depth_bg_off.gif) repeat-x ;
color:#555555;
}
.depth3 li a:hover,.depth3 li a.active{
display:inline-block;
height:25px;
line-height:25px;
font-weight:bold;
padding:0 18px 0 18px;
background:url(/static/images/intra/common/3depth_bg_on.gif) repeat-x ;
color:#ffffff;
}

/* //UI Object */



/*#content{
position:relative;
float:right;
width:790px;
}*/

#subVisual{
clear:both;
position:relative;
top:-8px;
height:105px;
width:795px;
border-bottom:1px solid #cacaca;
margin:0px 0px 00px 0px;
z-index:-1;
}
#subVisual .title{
position:relative;
top:47px;
left:0px;
font-size:14px;
letter-spacing:-2px;
}
 .location{
position:relative;
top:34px;
left:0px;
font-family:dotum;
font-size:11px;
letter-spacing:-0.9px;
vertical-align:bottom;
}
 .location a{width:50px; }
 .titImg01 {background:url(/static/images/intra/common/titImg01.png) no-repeat right 7px;z-index:-2;}
 .titImg02 {background:url(/static/images/intra/common/titImg01.png) no-repeat right 7px;z-index:-1;}
 .titImg03 {background:url(/static/images/intra/common/titImg01.png) no-repeat right 7px;z-index:-1;}
 .titImg04 {background:url(/static/images/intra/common/titImg04.png) no-repeat right 7px;z-index:-1;}
  .titImg05 {background:url(/static/images/intra/common/titImg05.png) no-repeat right 7px;z-index:-1;}
 .titImg06 {background:url(/static/images/intra/common/titImg06.png) no-repeat right 7px;z-index:-1;}
  .titImg07 {background:url(/static/images/intra/common/titImg07.png) no-repeat right 7px;z-index:-1;}
  .titImg10 {background:url(/static/images/intra/common/titImg01.png) no-repeat right 7px;z-index:-1;}
  .titImg11 {background:url(/static/images/intra/common/titImg11.png) no-repeat right 7px;z-index:-1;}
#article {
width:795px;
word-wrap:break-word;
top:-10px;
margin:0px 0px 10px 0px;
color:#4e4d4d;
min-height:600px;
}


/* #footer {
clear:both;
padding:12px 0 0 0;
height:83px;
width:775px;
width:1000px;
border-top:1px solid #d9d9d9;
position:relative;
margin:0 auto;
left:-16px;
}
#footer h3{
float:left;
position:relative;
left:39px;
top:10px;
}*/

#fnb{
clear:both;
position:absolute;
left:209px;
top:13px;
}
#fnb li{float:left;color:#3b3939;}
#fnb li.bin{width:20px;background:url(/static/images/intra/common/fnb_line.gif) no-repeat 50% 45%;	}

/* #footer .copyright{
clear:both;
position:absolute;
left:209px;
top:35px;
font-size:11px;
line-height:14px;
color:#8f8f8f;
}*/



#topmenu {position:absolute;top:3px;left:860px;width:160px;}
#topmenu li{float:left;padding:0 6px 06px;}

/* #gnb .homepage{position:absolute;top:-4px;padding:0px 0px 0px 0px;text-align:right;left:700px;}
#gnb{list-style:none;  font-size:1px; height:15px;margin:0px;padding:0px;width:1050px;z-index:30;font-size:12px;font-weight:bold;padding:0 10px 0 10px;
position:relative; left:200px;top:30px;height:60px;
}

#sNavi01,#gnb #sNavi02,#gnb #sNavi03,#gnb #sNavi04,#gnb #sNavi05,#gnb #sNavi06,#gnb #sNavi07

{position:absolute;top:42px;_top:44px;padding:0px;height:30px;line-height:30px;margin:0 auto;
text-align:center;
}
#gnb #sNavi01{left:20px;}

#gnb #sNavi02{left:120px;}
#gnb #sNavi03{left:-280px;}
#gnb #sNavi04{left:-200px;}
#gnb #sNavi05{left:480px;}
#gnb #sNavi06{left:580px;}
#gnb #sNavi07{left:300px;}
#gnb #sNavi07{left:380px;}



#gnb li{padding:0 30px 0 30px;margin:0 auto;}

#gnb ul{width:1320px; }

#gnb  ul li {padding:0 13px 0 13px}
#gnb a {color:#d5fedf;}
#gnb a:hover{color:#ffffff;}

#gnb  li{float:left;}
#gnb  li ul li{float:left;letter-spacing:-1.2px;}

#gnb .frist {width:150px;}


#gnb a.menu {color:#0a523d;font-size:15px;}

#gnb span {letter-spacing:-1.8px;font-size:11px;}
*/

.loginInfo{
position:absolute;
top:3px;
left:410px;
padding: 0 0 0 10px;
width:420px;
color:#6d6d6d;
font-size:11px;
letter-spacing:-1px;
line-height:18px;
vertical-align:text-top;
text-align:right;
}
.loginInfo .bl{
vertical-align:top;

}
.loginInfo .btn_login{
vertical-align:text-bottom;

}
.loginInfo strong{
font-weight:bold;
color:#000;
}

/* 신규CSS */
.panel980{position:relative;width:980px;margin:0 auto;*zoom:1}
.panel980:after{display:block;clear:both;content:''}
.scroll{overflow-x:hidden;overflow-y:auto}
#contain{width:980px;margin:0 auto;padding-top:100px;*zoom:1}
#contain:after{display:block;clear:both;content:''}
#contain .leftline{border-left:1px solid #e4e4e4 !important}
#wrap{min-width:980px}
#header{position:fixed;top:0;left:0;width:100%;height:100px;background:#fff url(../img/com/header_bg_bar.gif) repeat-x 50% 100%;z-index:15}
#header .mem_set{position:absolute;top:15px;right:0}
#header .mem_set li{float:left;margin-left:9px;padding-left:10px;background:url(../img/com/header_bar.gif) no-repeat 0 2px}
#header .mem_set li:first-child{margin-left:0;padding-left:0;background:none}
#header .user-in{font-family:dotum;font-size:11px;color:#222}
#header.fixed{position:fixed;top:0;left:0;width:100%;z-index:20}
#header .submenu{display:none;position:absolute;top:96px;left:0;width:100%;padding-bottom:4px;border-top:1px solid #e6e6e6;background:#f8f8f8 url(../img/com/header_bg_bar.gif) repeat-x 50% 100%;z-index:10}
#header .submenu .panel980{width:757px;padding-left:223px}
#header .submenu table{border-right:1px solid #e6e6e6}
#header .submenu a{letter-spacing:-1px;text-decoration:none;font-size:11px}
#header .submenu a:hover{color:#05805d}
#header .submenu h2{text-align:center}
#header .submenu h2 a{font-size:13px;font-weight:normal;color:#333}
#header .submenu h2:hover a{text-decoration:none}
#header .submenu td{width:101px;padding:20px 12px;border-left:1px solid #e6e6e6;vertical-align:top}
#header .submenu menu{margin-top:15px}
#header .submenu li{margin-top:7px}
#header .submenu .btcls{position:absolute;bottom:10px;right:-52px}
#gnb{clear:both;padding-top:42px;*zoom:1}
#gnb:after{display:block;clear:both;content:''}
#gnb h1, #gnb li{float:left}
#gnb menu{float:right;margin-top:7px;padding-right:19px}
#gnb li{margin-left:86px}
#gnb li:first-child{margin-left:0}
#gnb li a{text-decoration:none;font-family:NanumBold;font-size:15px;color:#333}
#gnb li a.active{color:#1da27c}

.totalmenu{display:none;position:absolute;top:96px;left:50%;margin-left:-491px;width:972px;background:#fff;border:4px solid #1da27c;font-family:dotum;z-index:10}
.totalmenu td{width:227px;padding:18px 0 17px 20px;vertical-align:top;border-top:1px solid #d8d8d8;border-left:1px solid #d8d8d8}
.totalmenu h2{padding-left:22px;background:url(../img/com/totalmenu_ico.gif) no-repeat;font-size:14px;color:#1da27c}
.totalmenu tr.first td{border-top:0}
.totalmenu menu{clear:both;margin-top:15px;*zoom:1}
.totalmenu menu:after{display:block;clear:both;content:''}
.totalmenu menu li{clear:both;margin-top:5px;padding-left:8px;background:url(../img/com/ico_bu2.gif) no-repeat 0 4px}
.totalmenu menu li a{font-weight:bold;color:#222}
.totalmenu menu li li{padding-left:0;background:none}
.totalmenu menu li li a{letter-spacing:-1px;font-weight:normal;font-size:11px;color:#666}
.totalmenu td.ty{width:368px}
.totalmenu td.ty menu{float:left;clear:none;margin-left:20px}
.totalmenu td.even{border-left:0}
.totalmenu td.even menu{margin-top:30px}

.dashbdmenu{display:none;position:absolute;top:96px;left:50%;margin-left:-491px;width:892px;padding:20px 40px;background:#fff;border:4px solid #4576d3;font-family:dotum;z-index:10}
.dashbdmenu .hst-row{margin-top:45px}
.dashbdmenu .tblst2 th, .dashbdmenu .tblst2 td{padding-top:14px;padding-bottom:14px}

#container{clear:both;background:#fff;*zoom:1}
#container.fixed{padding-top:100px}
#container .panel980{border-left:1px solid #e4e4e4;*zoom:1}
#container .panel980:after{display:block;clear:both;content:''}

.snb{float:left;width:183px;border-right:1px solid #e4e4e4;border-bottom:1px solid #e4e4e4}
.snb h2{position:relative;margin:0 0 0 -1px;width:145px;height:67px;padding:44px 20px 0 20px;background:#1da27c url(../img/com/snb_bg_top.gif) no-repeat 100% 100%;line-height:27px;font-weight:normal;font-size:24px;color:#fff}
.snb menu li{clear:both}
.snb menu > li{border-top:1px solid #e4e4e4}
.snb menu > li > a{display:block;padding:15px 0 15px 20px;background:url(../img/com/snb_arr.gif) no-repeat 89% 50%;color:#222}
.snb menu > li.selected > a{background-image:url(../img/com/snb_arr_selected.gif);font-weight:bold;color:#1da27c}
.snb menu ul{display:none;clear:both;padding:13px 10px 13px 20px;background:#fafafa;border-top:1px solid #e4e4e4}
.snb menu ul li{border-top:0;margin-top:8px;padding:0 0 0 13px;background:url(../img/com/snb_bg_bar2.gif) no-repeat 0 5px}
.snb menu ul li:first-child{margin-top:0}
.snb menu ul li a{display:inline-block;padding:0;background-image:none;font-weight:normal;font-size:11px;color:#666}
.snb menu ul li.selected{background-image:url(../img/com/snb_bg_bar.gif)}
.snb menu ul li.selected a{font-weight:bold;color:#1da27c}
.snb menu > li.selected ul{display:block}
.snb menu > li.dep{background:url(../img/com/snb_bg_submenu.gif) no-repeat 89% 15px}
.snb menu > li.dep > a{background:none}
.snb menu > li.dep.selected{background-image:url(../img/com/snb_arr_selected.gif)}
.snb.v1 h2{height:80px;padding-top:31px}
.snb.v2 h2{background-image:url(../img/com/snb_bg_top2.gif)}

#content{float:left;width:735px;min-height:300px;padding:25px 0 100px 60px;margin-left:-1px;border-left:1px solid #e4e4e4}
#content h1{margin:20px 0 50px;padding-bottom:14px;border-bottom:1px solid #cbcbcb;font-size:30px;color:#222}
#content .path{text-align:right}
#content .path a, #content-new .path strong{font-family:dotum;font-size:11px}
#content .path span{display:inline-block;width:5px;height:9px;background:url(../img/com/path_arr.gif);vertical-align:top;margin:2px 5px 0;line-height:0;font-size:0}

#footer{clear:both;position:relative;background:#6d6d6d}
#footer .panel980{width:717px;padding:40px 0 35px 263px}
#footer .logo{position:absolute;top:30px;left:0}
#footer menu{*zoom:1}
#footer menu:after{display:block;clear:both;content:''}
#footer li{float:left;margin-left:10px;padding-left:11px;background:url(../img/com/footer_bar.gif) no-repeat 0 2px}
#footer li:first-child{margin-left:0;padding-left:0;background:none}
#footer li, #footer li a{font-size:13px;color:#fff}
#footer address{clear:both;margin-top:12px;line-height:1.5;color:#d0d0d0}
#footer.wide{margin-top:240px}

nav.quick{position:fixed;top:211px;left:50%;margin:0 0 0 499px;z-index:0}
nav.quick li{margin-top:1px}
nav.quick a{display:inline-block;width:50px;height:50px;background:url(../img/btn/quick_btn.gif);vertical-align:top}
nav.quick a.totalmenu-ctl{background-position:0 0}
nav.quick a.totalmenu-ctl:hover{background-position:0 -51px}
nav.quick a.totalmenu-ctl.active{background-position:0 -102px}
nav.quick a.dashboard-ctl{background-position:0 -153px}
nav.quick a.dashboard-ctl:hover{background-position:0 -204px}
nav.quick a.dashboard-ctl.active{background-position:0 -102px}

.mw{position:fixed;top:0;left:0;width:100%;height:100%;z-index:10;display:none}
.mw .bg{position:absolute;top:0;left:0;width:100%;height:100%;background:#000;opacity:.8;filter:alpha(opacity=80)}
.mw .fg{position:absolute;top:50%;left:50%;background:#fff url(../img/com/pop_top_bg.gif) repeat-x;font-family:dotum}
.mw header{position:relative;padding:18px 20px 15px;border-bottom:1px solid #d8d8d8}
.mw header h1{font-family:NanumBold;font-size:24px;color:#222}
.mw .btCls{position:absolute;top:15px;right:20px}

.agreebox{position:relative;clear:both;padding:45px 20px 20px;border:1px solid #7269a4;line-height:1.8;font-family:dotum;color:#222}
.agreebox .sbj{position:absolute;top:15px;left:0;background:#6759b4;padding:2px 20px;line-height:1.4;color:#fff}
.agreebox ul{margin-left:15px}