@charset "utf-8";

/* layout */
.ui_flex_cc{
    display:-webkit-box;display:-ms-flexbox;display:flex;
    -webkit-box-align:center;-ms-flex-align:center;align-items:center;
    -webkit-box-pack:center;-ms-flex-pack:center;justify-content:center;
}
.ui_cont_half{display:-webkit-box;display:-ms-flexbox;display:flex}
.ui_cont_half>section{
    -webkit-box-flex: 1;-ms-flex: 1;flex: 1;
    border:1px solid #ddd;border-radius:9px;
    margin-left:10px;background-color:#fff;padding:30px 30px 45px
}
.ui_cont_half>section:first-child{margin-left:0}
.ui_cont_half:after{content:'';display:block;clear:both}
.inner2{padding:20px 30px 45px}
#container{background-color:#f7f7f7}
#header, #content, .inner{width:1280px;margin:0 auto;position:relative}

#header:after{content:'';display:block;clear:both}
#header h1{float:left;margin-top:63px}
#header .snb{float:right;margin-top:40px}
#header .snb>ul>li{float:left;position:relative;margin-left:20px;padding-left:22px}
#header .snb>ul>li:before{
    content:'';display:inline-block;width:2px;height:15px;background-color:#ddd;
    position:absolute;top:3px;left:0;
}
#header .snb>ul>li:first-child{margin-left:0;padding-left:0}
#header .snb>ul>li:first-child:before{display:none}
#header .snb>ul>li>a, #header .snb>ul>li>button{font-size:16px;font-weight:500}
#header .snb .cs>button{position:relative;padding-bottom:10px}
#header .snb .cs>button:after{
    content:'';display:inline-block;width:9px;height:6px;
    background:url(../image/header_ico_arr.png) no-repeat;
    background-size:100% 100%;vertical-align:middle;
    margin:-3px 0 0 10px;
}
#header .snb .cs ul{background-color:#fff;border:1px solid #ddd;position:absolute;top:28px;left:3px;width:95px;z-index:1;padding-bottom:14px;display:none}
#header .snb .cs li{padding-left:18px;margin-top:12px}
#header .snb .cs a{font-size:16px;color:#666;font-weight:500;}
#header .snb .cs.open>button{color:#3e7ee9}
#header .snb .cs.open>button:after{background-image:url(../image/header_ico_arr_on.png)}
#header .tnb{position:absolute;bottom:0;right:0}
#header .tnb:after{display:block;clear:both;content:''}
#header .tnb li{float:left;margin-left:10px}
#header .tnb li:first-child{margin-left:0}
#header .tnb li a,
#header .tnb li.time>span{border-radius:22px}
#header .tnb li a{display:block;font-weight:500;line-height:44px;padding:0 24px;font-size:18px}
#header .tnb li.time{margin-right:10px;color:#fff;font-size:24px}
#header .tnb li.time strong{margin-right:35px;font-size:20px}
#header .tnb li.time>span{line-height:46px;background-color:#607497;padding:0 28px;}
#header .tnb li.time i{width:25px;height:25px;background-image:url(../image/ico_watch.png);margin:-4px 10px 0 0}
#header .tnb li.dsk a{border:1px solid #333;color:#333;background-color:#fff}
#header .tnb li.end a{background-color:#333;border:1px solid #333;color:#fff}

#footer{padding:45px 0}
#footer .lg{float:left}
#footer address{float:right;margin-top:10px;color:#ddd;font-size:14px}
#footer address p{margin-top:10px}
#footer address span{display:inline-block;position:relative;padding-left:5px;margin-left:5px}
#footer address span:before{
    content:'';display:inline-block;width:1px;height:13px;background-color:#fff;
    position:absolute;left:0;top:50%;margin-top:1px;
    -webkit-transform: translateY(-50%);transform: translateY(-50%);
}

#content{padding-top:45px;padding-bottom:80px}

#container_lnb{min-width:1280px;padding-right:40px;padding-left:40px;background-color:#f7f7f7}
#container_lnb #content{padding-top:0;padding-bottom:0;overflow:hidden}
#container_lnb #header, #container_lnb #content{width:auto}

.handle_lnb{
    width:110px;height:36px;line-height:34px;font-size:18px;font-weight:500;
    display:inline-block;background:url(../image/lnb_btn.png) no-repeat;
    color:#fff;text-align:left;text-indent:18px;
    position:absolute;top:18px;left:-40px;
}
.handle_lnb:hover{text-decoration:none;}
.lnbwrap{position:relative;padding:65px 0 80px;}
.lnbwrap:after{display:block;clear:both;content:''}
.lnb{width:118px;padding:20px;margin-right:40px;border:1px solid #ddd;border-radius:9px;background-color:#fff;float:left}
.lnb .favset{text-align:center;padding-bottom:20px}
.lnb .favset a{display:inline-block;vertical-align:top;text-indent:-3000em;font-size:0}
.lnb .favset a:first-child{margin-left:0 !important}
.lnb .favset a.fav{width:30px;height:30px;background-image:url(../image/ico_star.png)}
.lnb .favset a.pen{width:32px;height:32px;background-image:url(../image/ico_pen.png);margin-left:30px}
.lnb.user{margin-right:10px}
.lnb.user .name{display:block;font-size:18px;margin-bottom:30px}
.lnb.open{width:348px;padding:0}
.lnb.user.open{width:208px;padding:30px 20px 25px}
.lnb.open .favset{padding-bottom:10px}
.lnb.open .favset a{width:auto;height:auto;margin-left:35px;text-indent:0;font-size:18px;font-weight:500;background:none}
.lnb.open .favset a i{margin:-4px 10px 0 0}
.lnb.open .favset{width:348px;padding-top:17px}
.lnb.open .favset a.fav{line-height:30px;}
.lnb.open .favset a.fav i{width:30px;height:30px;background-image:url(../image/ico_star.png)}
.lnb.open .favset a.pen{line-height:32px;}
.lnb.open .favset a.pen i{width:32px;height:32px;background-image:url(../image/ico_pen.png)}
.lnb .menu .sm{display:block;text-align:center;width:100%;background:#eef5ff;padding:25px 0;line-height:1.4;border-radius:9px}
.lnb .menu .sm:hover,
.lnb .menu .sm.active{background-color:#3e7ee9;color:#fff}
.lnb .menu .handle_lnb_menu{
    display:none;padding:15px 0 15px 19px;width:100%;text-align:left;
    background:#eef5ff url(../image/ico_arr3.png) no-repeat 94% 50%;
}
.lnb .menu>li{margin-top:10px}
.lnb .menu>li:first-child{margin-top:0}
.lnb .menu>li>a,
.lnb .menu>li>button{font-weight:500;font-size:18px;}
.lnb .menu>li>article{display:none;padding:20px 20px 10px}
.lnb .menu>li.open>button{background-image:url(../image/ico_arr2.png)}
.lnb .menu>li.open>article{display:block}
.lnb .menu .calendar_set .view{padding:0 10px;margin-top:12px;color:#666}
.lnb .menu .calendar_set .view li{position:relative;margin-top:10px}
.lnb .menu .calendar_set .view .date{color:#3e7ee9;font-weight:500}
.lnb .menu .calendar_set .view .date strong{position:absolute;top:0;right:0}
.lnb .menu .list{color:#666}
.lnb .menu .list>li{margin-top:12px;padding-top:12px;border-top:1px solid #ddd}
.lnb .menu .list>li:first-child{margin-top:0;padding-top:0;border-top:0}
.lnb .menu .list>li .bgf{margin-top:-6px;margin-left:5px}
.lnb .menu .list a{color:#666}
.lnb .menu .list .fav{width:20px;height:20px;background-image:url(../image/ico_star.png)}
.lnb .menu .list .pen{width:21px;height:20px;background-image:url(../image/ico_pen.png)}
.lnb .menu2{border-bottom:1px solid #ddd}
.lnb .menu2>li{border-top:1px solid #ddd}
.lnb .menu2>li>a{position:relative;display:block;padding:16px 0;color:#666;text-decoration:none;font-weight:500;font-size:18px}
.lnb .menu2>li>a:hover,
.lnb .menu2>li>a.active{color:#3e7ee9}
.lnb .menu2>li>a .ms{
    display:inline-block;line-height:22px;height:24px;padding:0 16px;border-radius:16px;font-size:14px;
    position:absolute;top:50%;right:0;font-weight:500;
    -webkit-transform: translateY(-50%);transform: translateY(-50%);
}
.lnb .menu2>li>a .ms.c1{background-color:#3e7ee9;color:#fff}
.lnb.open .menu .sm{display:none}
.lnb.open .menu .handle_lnb_menu{display:block}
.lnbAll{width:430px;float:left}
.lnbAll.open{width:620px}
.lnbAll .lnb{margin-right:10px}
.lnbAll .lnb.user{margin-right:0}

.text_box{background-color:#f7f7f7;font-weight:500;padding:18px}
a.text_box{display:block;text-align:center}

#gnb{margin-bottom:22px}
#gnb:after{content:'';display:block;clear:both}
#gnb h2{float:left;font-size:32px;font-weight:500}
#gnb .menu{float:right}
#gnb .menu li{float:left;margin-left:20px}
#gnb .menu li:first-child{margin-left:0}
#gnb .menu a{display:inline-block;width:250px;line-height:46px;background-color:#333;font-size:18px;color:#f7f7f7;text-align:center;border-radius:24px;}

.contField{background-color:#fff;padding:35px 40px 50px;border:1px solid #ddd;border-radius:9px}
.contField h3{margin-bottom:20px;font-size:22px}
.contField2{background-color:#fff;border:1px solid #ddd;border-radius:9px}
.contField2 h2{font-size:22px}

.score_set{position:relative;padding-left:20px}
.score_set ul{display:inline-block;background:url(../image/bg_bar.png) no-repeat 50% 0}
.score_set ul:after{content:'';display:block;clear:both}
.score_set li{float:left;margin-top:15px;position:relative;font-weight:500}
.score_set li:first-child{margin-right:30px;margin-top:0}
.score_set strong{color:#666;font-size:36px}
.score_set .pot{color:#f82c2c}
.score_set .tooltip_wrap{display:inline-block;vertical-align:top;margin-top:22px}

/* slide */
.slide_horiList{padding-right:40px;padding-left:41px}
.slide_horiList .slick-arrow{
    display:inline-block;vertical-align:middle;background-repeat:no-repeat;text-indent:-3000px;font-size:1px;background-position:50% 50%;
    position:absolute;top:30px;z-index:1;
    width:40px;height:40px;
}
.slide_horiList .slick-prev{left:0;background-image:url(../image/slide_prev.png)}
.slide_horiList .slick-next{right:0;background-image:url(../image/slide_next.png)}
.slide_horiList .slick-dots{margin-top:7px;text-align:center}
.slide_horiList .slick-dots>li{display:inline-block;vertical-align:top;margin-left:20px}
.slide_horiList .slick-dots>li:first-child{margin-left:0}
.slide_horiList .slick-dots button{display:inline-block;text-indent:-3000px;font-size:1px;width:14px;height:14px;background-color:#999;border-radius:50%;}
.slide_horiList .slick-dots .slick-active button{background-color:#3e7ee9}
.slide_horiList.case1{padding-right:0;padding-left:0}

.slide_horiWide .sample{display:block;height:280px;background-color:#8e8e8e}
.slide_horiWide .slick-dots{position:absolute;bottom:20px;left:0;width:100%;text-align:center}
.slide_horiWide .slick-dots>li{display:inline-block;vertical-align:top;margin-left:18px}
.slide_horiWide .slick-dots>li:first-child{margin-left:0}
.slide_horiWide .slick-dots button{display:inline-block;text-indent:-3000px;font-size:1px;width:10px;height:10px;background-color:#ddd;border-radius:50%;}
.slide_horiWide .slick-dots .slick-active button{background-color:#fff}

.loginCont{width:auto !important}
.loginCont .frm{padding-top:80px;width:450px;margin:0 auto}
.loginCont .frm li{margin-top:20px}
.loginCont .frm li input{border-radius:26px;height:45px;padding-left:20px;padding-right:20px;width:408px}
.loginCont .frm .skip{margin-top:40px}
.loginCont .frm .skip button{width:100%;padding:20px 0;background-color:#3e7ee9;font-weight:500;font-size:22px;color:#fff;border-radius:36px;text-align:center}
.loginCont .thumlst{margin:100px auto 0;width:1280px}
.loginCont .thumlst .sample{display:block;height:200px;background-color:#8e8e8e}
.loginCont .thumlst li{float:left;width:400px;margin-left:40px}
.loginCont .thumlst li:first-child{margin-left:0}
.loginCont{}

.mainCont{padding:0;border:0;background-color:transparent}
.mainCont section{position:relative;border:1px solid #ddd;border-radius:10px;background-color:#fff}

.main_infobox>section{
    width:628px;float:left;margin-top:20px;
    -webkit-box-sizing:border-box;box-sizing:border-box;
}
.main_infobox>section:nth-child(2n){float:right}
.main_infobox>section:first-child,
.main_infobox>section:nth-child(2){margin-top:0}
.main_infobox:after{display:block;clear:both;content:''}
.main_infobox .userinfo{height:288px;padding:25px 0 0 40px}
.main_infobox .userinfo .chg{position:absolute;top:29px;right:39px;z-index:1}
.main_infobox .wibdsk{height:288px}
.main_infobox .wibdsk h3{margin-bottom:34px;padding:25px 0 28px 38px;border-bottom:1px solid #ddd;font-size:22px}
.main_infobox .wibdsk .que{
    width:24px;height:24px;background-image:url(../image/ico_q.png);
    position:absolute;top:27px;right:35px;
}
.main_infobox .wibdsk ul{padding-left:19px}
.main_infobox .wibdsk li{float:left;margin-left:20px}
.main_infobox .wibdsk li a{display:block;background-color:#f7f7f7;border:1px solid #ddd;width:170px;height:43px;padding-top:96px;text-align:center;background-repeat:no-repeat;border-radius:10px;}
.main_infobox .wibdsk li a.tutor{background-image:url(../image/ico_book.png);background-position:50% 21px}
.main_infobox .wibdsk li a.wib{background-image:url(../image/ico_cau.png);background-position:50% 23px}
.main_infobox .wibdsk li a.mgud{background-image:url(../image/ico_mov.png);background-position:50% 28px}
.main_infobox .notice{height:264px;padding:25px 40px 0 40px}
.main_infobox .notice h3{margin-bottom:17px}
.main_infobox .notice .more{position:absolute;top:30px;right:40px;display:inline-block;padding-right:12px;background:url(../image/ico_arr.png) no-repeat 98% 50%}
.main_infobox .notice ul{border-top:1px solid #333}
.main_infobox .notice li,
.main_infobox .notice li a{color:#666}
.main_infobox .notice li{padding:14px 0 15px;border-bottom:1px solid #ddd}
.main_infobox .notice li a{display:block;position:relative;padding:0 115px 0 10px}
.main_infobox .notice li a:hover .p{text-decoration:underline;}
.main_infobox .notice .p{line-height:1.4}
.main_infobox .notice .date{position:absolute;top:2px;right:15px}
.main_task{padding:25px 40px;margin-top:20px}
.main_task h3{position:relative}
.main_task h3 .tip{display:inline-block;line-height:36px;width:100px;vertical-align:middle;margin:-4px 19px 0 0;text-align:center;color:#fff;font-size:18px;border-radius:22px;}
.main_task h3 .tip.c1{background-color:#3e7ee9}
.main_task h3 .tip.c2{background-color:#333}
.main_task .taskArticle{margin-top:35px;color:#666}
.main_task .taskArticle:after{display:block;clear:both;content:''}
.main_task .taskArticle>li{position:relative;float:left;width:318px;height:273px;padding:25px 30px 0;margin-left:30px;background-color:#eef5ff;border-radius:10px}
.main_task .taskArticle>li:first-child{margin-left:0}
.main_task .taskArticle h4{font-size:18px;margin-bottom:15px;color:#333}
.main_task .taskArticle .btns{position:absolute;bottom:30px;left:60px;right:60px}
.main_task .taskArticle .btns li{margin-top:10px}
.main_task .taskArticle .btns a{display:block;padding:12px 0 14px;background-color:#ccc;color:#666;font-size:18px;text-align:center;border-radius:22px;border:1px solid #fff}
.main_task .taskArticle .btns a.even{background-color:#fff;border-color:#666}
.main_task .taskArticle .btns a.click:after{
    content:'';display:inline-block;width:74px;height:38px;background:url(../image/ico_click.png) no-repeat;
    position:absolute;top:-5px;right:-40px;
}
.main_task.end .taskArticle>li{background-color:#f7f7f7}

.caution{position:relative;color:#666;padding-left:15px;line-height:1.4}
.caution:before{
    content:'';display:inline-block;width:5px;height:5px;background-color:#3e7ee9;
    border-radius:50%;position:absolute;left:0;top:10px;
}

.bbsCont .frm{margin-bottom:10px}
.bbsCont .frm:after{display:block;clear:both;content:''}
.bbsCont .frm li{float:left;width:45%;border:1px solid #ddd;background-color:#fff;border-radius:9px}
.bbsCont .frm li:first-child{margin-right:10px}
.bbsCont .frm .txt{padding:0 30px;line-height:48px;font-size:18px}
.bbsCont .frm .ip{position:relative;float:none;width:auto;overflow:hidden;padding:9px 70px 8px 30px}
.bbsCont .frm .ip input{
    width:100%;background-color:transparent;border:0;padding:0;font-size:18px;
    -webkit-box-sizing: border-box;box-sizing: border-box;
}
.bbsCont .frm .ip .srch{padding:5px;position:absolute;top:6px;right:24px}
.bbsCont .frm .ip .srch i{width:24px;height:24px;background-image:url(../image/ico_glass.png)}
.bbsCont .tab{padding:14px 30px;color:#666}
.bbsCont .tab li{margin-left:17px;padding-left:17px;position:relative;float:left}
.bbsCont .tab li:before{content:'';display:inline-block;width:1px;height:16px;background-color:#ddd;position:absolute;top:2px;left:0}
.bbsCont .tab li:first-child{margin-left:0;padding-left:0}
.bbsCont .tab li:first-child:before{display:none}
.bbsCont2 .tab_type{margin:60px 0 15px}
.bbsCont2 .title_type2{margin-top:10px}
.bbsCont2 .caution{margin-top:15px}
.bbsCont2 .detailbx{display:none;padding:30px}
.bbsCont2 .detailbx .tbl_type2{margin-top:30px}
.bbsCont2 .graphbx{display:none;padding:30px}
.bbsCont2 .graphbx .graph{float:left;width:735px;height:300px;overflow:hidden;margin-right:50px}
.bbsCont2 .graphbx .list{overflow:hidden}
.bbsCont2 .graphbx .list h3{margin-bottom:15px}
.bbsCont2 .contField2{padding-bottom:50px}
.bbsCont2 .inner2{padding-bottom:0}

.selfTesk{padding-top:26px !important}
.selfTesk .txtbx{background-color:#f7f7f7;padding:15px 20px;line-height:1.45;font-weight:500;}
.selfTesk h3{margin-bottom:17px}
.selfTesk .date_a{color:#999}

/* popup */
.ly_alert .content{width:500px}
.ly_alert .btn_area_center{margin-top:30px}

.ly_ability .content{width:500px}
.ly_ability .content>.scroll{height:500px;border-top:1px solid #333}
.ly_ability .tbl_type2{border-top:0}

.ly_pwchg_dsk .content{width:500px}
.ly_pwchg_dsk h4{margin-top:25px}
.ly_pwchg_dsk p.dsk{margin-top:18px;text-align:center;padding:30px;font-size:20px;color:666;border-radius:10px;background-color:#f7f7f7}
.ly_pwchg_dsk p.dsk strong{color:#f82c2c;font-weight:700}
.ly_pwchg_dsk .list_type2{margin-top:15px}
.ly_pwchg_dsk .tbl_type2{margin-top:30px}
.ly_pwchg_dsk .btn_area_center{margin-top:30px}
.ly_pwchg_dsk .check_close{text-align:right;border-top:1px solid #ddd;margin-top:30px;padding-top:30px}
.ly_pwchg_dsk .check_close .checkbox{margin-right:20px}
.ly_pwchg_dsk .check_close label{color:#666}

.ly_img_dsk .content{width:800px}
.ly_img_dsk h4{margin:25px 0 15px;font-weight:400;color:#222}
.ly_img_dsk .img{border-radius:8px;overflow:hidden}
.ly_img_dsk .txt{margin-top:17px;color:#666}
.ly_img_dsk .txt2{margin-top:20px;padding:18px 30px 15px;min-height:96px;border:1px solid #ddd;border-radius:9px;color:#666;line-height:1.4}
.ly_img_dsk .txt3{margin-bottom:20px;color:#666;line-height:1.5}
.ly_img_dsk .btn_area_center{margin-top:30px}
.ly_img_dsk .view{background-color:#f7f7f7;height:400px}

.ly_txt_dsk h4{margin:25px 0 20px;font-weight:400;color:#222}
.ly_txt_dsk .btn_area_center{margin-top:30px}
.ly_txt_dsk article{
    border-radius:9px;background-color:#f7f7f7;
    width:740px;height:294px;color:#666
}

.ly_coach .close{top:40px;right:0}
.ly_coach .close i{width:61px;height:61px;background-image:url(../image/ico_x2.png)}
.ly_coach .content{
    background-color:transparent;width:1280px;padding:0;border:0;
    top:0;-webkit-transform: translateX(-50%);transform: translateX(-50%)
}
.ly_coach .balloon{
    width:616px;height:103px;background:url(../image/coach_ball.png) no-repeat;letter-spacing:-1px;
    position:absolute;top:125px;right:45px;padding:18px 0 0 37px;color:#fff;font-size:20px;font-weight:500;
    -webkit-box-sizing:border-box;box-sizing:border-box;
}
.ly_coach .balloon i{width:24px;height:24px;background-image:url(../image/ico_q2.png);margin:-4px 5px 0 0}
.ly_coach .wibdsk{float:none}
.ly_coach .main_infobox{position:absolute;top:241px;right:0}
.ly_coach .notice{
    width:469px;height:555px;background:url(../image/coach_pop_bg.png);padding:70px 90px 0 60px;
    position:absolute;top:221px;left:160px;text-align:justify;
    -webkit-box-sizing:border-box;box-sizing:border-box;
}
.ly_coach .notice h3{margin-bottom:32px;font-size:22px;color:#3e7ee9}
.ly_coach .notice p{line-height:1.5}
.ly_coach .notice .list_type{margin-top:35px;font-size:16px;line-height:1.4;color:#666}
.ly_coach .notice .btn_area_center{margin-top:30px}
.ly_coach .notice .btn_r{font-size:18px}

.ly_1on1_write .content{width:500px}

.ly_outdata .content{width:800px}
.ly_outdata .dataselect{width:100%}
.ly_outdata .tbl_type2,
.ly_outdata .btn_area_center{margin-top:30px}

.ly_data_lst .content{width:800px}
.ly_data_lst .btn_area_center{margin-top:30px}
.ly_data_lst .tbl_type .scroll{max-height:350px;overflow-y:scroll}
.ly_data_lst .srchbx{display:none}
.ly_data_lst .srchbx.before{display:block}
.ly_data_lst .srchbx.after li{float:left;width:50%}
.ly_data_lst .srchbx.after li.txt{line-height:1.4;font-weight:500;text-align:center}
.ly_data_lst .srchbx.after li.ip{text-align:right}
.ly_data_lst .srchbx.after li.ip>span{position:relative;display:inline-block;border:1px solid #ddd;padding-right:38px;border-radius:5px;margin-top:5px;width:298px;}
.ly_data_lst .srchbx.after li.ip input{
    width:100%;background-color:transparent;border:0;
    -webkit-box-sizing: border-box;box-sizing: border-box;
}
.ly_data_lst .srchbx.after li.ip .srch{padding:4px 10px;position:absolute;top:2px;right:0}
.ly_data_lst .srchbx.after li.ip .srch i{width:17px;height:17px;background-image:url(../image/ico_glass.png);vertical-align:top;}

.ly_print_area .content{width:800px}
.ly_print_area .tbl_type .scroll{max-height:400px;overflow-y:scroll}
.ly_print_area .btn_area_center{margin-top:30px}

.ly_fid_write .content{width:800px}
.ly_fid_write .scroll{overflow:scroll;width:740px}
.ly_fid_write .scroll_wrap{width:1270px;max-height:600px}
.ly_fid_write .ui_cont_half section{padding:0 0 40px;border:0;border-radius:0;border-left:1px solid #ddd;margin-left:30px;padding-left:30px}
.ly_fid_write .ui_cont_half section:first-child{border-left:0;padding-left:0;margin-left:0}
.ly_fid_write .ui_cont_half .selfTesk{padding-top:0 !important}
.ly_fid_write .selfTesk .tbl_type2 th,
.ly_fid_write .selfTesk .tbl_type2 td{padding-right:0;padding-left:0;text-align:center}
.ly_fid_write .selfTesk .tbl_type2 td.sbj{text-align:left}
.ly_fid_write .btn_area_center{margin-top:30px}

.ly_self_check .title{margin-bottom:25px}
.ly_self_check .content{width:800px}
.ly_self_check .txt{line-height:1.5;color:#666}
.ly_self_check .frm li{margin-top:45px}
.ly_self_check .frm strong{display:block;margin-bottom:10px}
.ly_self_check .btn_area_center{margin-top:30px}

.ly_alarm .content{
    width:320px;height:320px;border-radius:50%;
    backgrOund-image:url(../image/ico_phone.png);
    background-repeat:no-repeat;
    background-size:116px 204px;
    background-position:50% 55%;
}
.ly_alarm a.fig{display:block}
.ly_alarm a.fig i{position:absolute;background-repeat:no-repeat;background-size:100% 100%}
.ly_alarm a.fig i.bell{
    width:58px;height:66px;background-image:url(../image/ico_bell.png);top:130px;left:130px;
    -webkit-animation: bell-shake .5s ease 1s infinite alternate forwards;
    animation: bell-shake .5s ease 1s infinite alternate forwards;
}
.ly_alarm a.fig i.wave,
.ly_alarm a.fig i.wave2{
    opacity:0;
    -webkit-animation: bell-wave .5s step-end infinite alternate forwards;
    animation: bell-wave .5s step-end infinite alternate forwards;
}
.ly_alarm a.fig i.wave{width:188px;height:66px;background-image:url(../image/bg_wave.png);top:130px;left:66px}
.ly_alarm a.fig i.wave2{
    width:230px;height:96px;background-image:url(../image/bg_wave2.png);top:113px;left:45px;
    -webkit-animation-delay:1.2s;animation-delay:1.2s;
}
.ly_alarm a.fig i.click{
    width:110px;height:52px;background-image:url(../image/ico_click2.png);top:50px;left:143px;opacity:0;
    transform: translateY(10%);
    -webkit-animation: bell-click .5s ease 1.5s 1 alternate forwards;
    animation: bell-click .5s ease 1.5s 1 alternate forwards;
}
@-webkit-keyframes bell-click{
    0%{ opacity:0; transform: translateY(10%); }
    100%{ opacity:1; transform: translateY(0); }
}
@keyframes bell-click{
    0%{ opacity:0; transform: translateY(10%); }
    100%{ opacity:1; transform: translateY(0); }
}
@-webkit-keyframes bell-wave{
    0%{ opacity:0; }
    50%{ opacity:1; }
    100%{ opacity:0; }
}
@keyframes bell-wave{
    0%{ opacity:0; }
    50%{ opacity:1; }
    100%{ opacity:0; }
}
@-webkit-keyframes bell-shake{
    0%{ transform: translateX(-5%) }
    10%{ transform: translateX(0) }
    20%{ transform: translateX(5%) }
    30%{ transform: translateX(0) }
    100%{ transform: translateX(0) }
}
@keyframes bell-shake{
    0%{ transform: translateX(-5%) }
    10%{ transform: translateX(0) }
    20%{ transform: translateX(5%) }
    30%{ transform: translateX(0) }
    100%{ transform: translateX(0) }
}

/* mobile web */
html.mw img{max-width:100%}
html.mw, html.mw body{height:100%}
html.mw #header,
html.mw #content,
html.mw .inner{width:auto;margin:0}
html.mw #container{background-color:#fff}
html.mw #footer{padding:30px 20px;text-align:left}
html.mw #footer .lg{float:none}
html.mw #footer .lg img{width:163px;height:auto}
html.mw #footer address{float:none;font-size:12px;line-height:1.6;margin-top:25px}
html.mw #footer address span:before{height:11px;}
html.mw #footer address span:first-of-type{padding-left:0;margin-left:0}
html.mw #footer address span:first-of-type:before{display:none}
html.mw #footer address p{margin-top:15px}
.mw_deskCont{text-align:center}
.mw_deskCont #header{padding-top:30px}
.mw_deskCont #header h1{float:none;margin-top:0}
.mw_deskCont #header h1 img{width:160px;height:auto}
.mw_deskCont #content{padding:45px 20px 40px}
.mw_deskCont .txt{margin-bottom:30px;font-size:14px;font-weight:500;line-height:1.4}
.mw_deskCont .txt2{margin-top:20px;line-height:1.4;font-size:14px;text-align:left;color:#666}