/* reset */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video, select {
	margin: 0;
	padding: 0;
	border: 0;
	font: inherit;
	vertical-align: baseline;
}
a {
    color: #000;
    text-decoration: none;
}
img {
    vertical-align: top;
    max-width: 100%;
}
html {font-size: 16px;}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
    font-family:'Noto Sans','Titillium Web','Roboto','Montserrat', Dotum,Gulim,Sans-serif;
    line-height: 1.3;
    letter-spacing: -0.5px;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
    border-spacing: 0;
    table-layout: fixed;
}
button {
    border: none;
    margin: 0;
    padding: 0;
    width: auto;
    overflow: visible;
    background: transparent;
    cursor: pointer;
}
input[type="text"],
input[type="checkbox"] {
    font-family:'Noto Sans','Titillium Web','Roboto','Montserrat', Dotum,Gulim,Sans-serif;
    background: transparent;
    box-shadow: none;
    width: auto;
    height: auto;
    border: none;
    margin: 0;
    padding: 0;
    border-radius: 0;
}
select {
    text-transform: none;
    -webkit-appearance: none;
    margin:0;
    padding:0;
    background: transparent;
    border-radius: 0;
    border: 0;
}
legend {
    @include pos($p:absolute,$l:-9999px);
    text-indent: -1000rem;
}
/* ie 8 이하 alert */
.ie_down_ver {
    @include pos($p:fixed,$l:0,$t:0,$r:0);
    padding: 20px 0;
    text-align: center;
    background-color: #fff;
    z-index: 999;
    a {
        display: block;
        padding-top: 15px;
        color: red;
        font-size: 20px;
        font-weight: 600;
    }
}
/* 공통 */
#wrap {
    @media all and (max-width: 1000px) {
        overflow: hidden;
    }
}
.moBr {
    display: none;
    @media all and (max-width: 1000px) {
        display: block;
    }
}
.hide {
    display: block;
    text-indent: -9999px;
}
.upper {text-transform: uppercase;}
.tco {color: #fc9c05 !important;}
.img {display: block;}
.goTop {
    display: block;
    visibility: hidden;
    opacity: 0;
    width: 60px;
    height: 60px;
    @include pos($p:fixed,$r:0,$b:0);
    background-color: #fc9c05;
    z-index: 999;
    transition: visibility 1s ease, opacity 1s ease;
    -webkit-transition: visibility 1s ease, opacity 1s ease;
    @media all and (max-width: 910px) {
        display: none;
    }
    &.on {
        visibility: visible;
        opacity: 1;
    }
    &:after {
        content: '';
        display: block;
        width: 20px;
        height: 27px;
        @include pos($p:absolute,$l:50%,$t:50%);
        margin-top: -13.5px;
        margin-left: -10px;
        @include bgSet;
        background-image: url($urlImg + 'go_top.png');
    }   
}
ul[class *= "col"] {
    @include clearfix;
    li {
        float: left;
    }
}
.descWrap {
    @include clearfix;
    margin-top: 150px;
    @media all and (max-width: 1000px) {
        margin-top: ptr(90);
    }
    &.left {
        float: left;
        text-align: left;
        > * {
            float: left;
        }
        .desc {
            margin-left: 53px;
            @media all and (max-width: 1000px) {
                margin-left:0;
            }
        }
    }
    &.right {
        float: right;
        text-align: right;
        > * {
            float: right;
        }
        .desc {
            margin-right: 53px;
            @media all and (max-width: 1000px) {
                margin-right:ptr(55);
            }
        }
    }
    &.center {
        display: inline-block;
        text-align: center;
    }
    .tit {
        display: inline-block;
        font-size: 0;
        font-weight: 700;
        letter-spacing: 1px;
        @media all and (max-width: 1000px) {
            display: none;
        }
    }
    .num {
        display: block;
        width: 11px;
        margin-bottom: 21px;
        @include bgSet;
    }
    .stit {
        display: block;
        width: 11px;
        margin-top: 18px;
        @include bgSet;
    }
    .line {
        display: block;
        width: 2px;
        height: 32px;
        margin-left: 3px;
        &:after {
            content: '';
            display: block;
            width: 100%;
            height: 100%;
            background-color: #fff;
        }
    }
    .desc {
        h2 {
            font-size: 56px;
            font-weight: 200;
            letter-spacing: -2px;
            @media all and (max-width: 1000px) {
                font-size: ptr(65);
            }
            strong {
                font-weight: 600;
            }
        }
        p {
            font-size: 15px;
            font-weight: 100;
            line-height: 1.6;
            @media all and (max-width: 1000px) {
                font-size: ptr(24);
            }
        }
        p:not(.tco) {
            margin: 35px 0;
            @media all and (max-width: 1000px) {
                margin: ptr(20) 0;
            }
        }
    }
}
.section {
    .mb {
        display: none;
        width: 100%;
        height: 100%;
        img {
            width: 100%;
            max-width: none;
        }
        @media all and (max-width: 1000px) {
            display: block;
            
        }
    }
    .slick-slide {
        @include pos($p:relative);
    }
    .slick-dots { // slick dots
        width: 100%;
        padding: 0 250px;
        @include clearfix;
        @include pos($p:absolute,$t:450px);
        box-sizing: border-box;
        text-align: left;
        @media all and (max-width: 1280px) {
            padding: 0 100px;
        }
        @media all and (max-width: 1024px) {
            padding: 0 25px;
        }
        @media all and (max-width: 1000px) {
            padding: 0 ptr(50);
            @include pos($p:absolute,$b:auto,$t:ptr(530));
        }
        li {
            float: left;
            margin: 0 4px;
            font-size: 0;
            button {
                width: 16px;
                height: 16px;
                font-size: 0;
                @include pos($p:relative);
                border: 1px solid transparent;
                background: transparent;
                border-radius: 50%;
                @media all and (max-width: 1000px) {
                    width: ptr(16);
                    height: ptr(16);
                }
                &:after {
                    content: '';
                    display: inline-block;
                    width: 4px;
                    height: 4px;
                    @include pos($p:absolute,$l:50%,$t:50%);
                    transform: translate(-50%,-50%);
                    -webkit-transform: translate(-50%,-50%);
                    background: #fff;
                    border-radius: 50%;
                    @media all and (max-width: 1000px) {
                        width: ptr(4);
                        height: ptr(4);
                    }
                }
            }
        }
        .slick-active {
            button {
                border-color: #eda01f;
                &:after {
                    background: #eda01f;
                }
            }
        }
    }
}

/* bg */
.sec1 {
    background-image: url($urlImg + 'sec2_bg.png');
    background-position: left top;
    background-repeat: no-repeat;
    @media all and (max-width: 1000px) {
        background-image: none;
        .bg {
            background-repeat: no-repeat;
            background-size:100% 100%;
        }
    }
    .num {
        height: 16px;
        background-image: url($urlImg + 'tit_num01.png');
    }
    .stit {
        height: 151px;
        background-image: url($urlImg + 'tit_stit01.png');
    }
    .line {
        &:after {
            background-color: #000;
        }
    }
    .desc {
        p {
            color: #676767;
        }
    }
}
.sec2 {
    background-image: url($urlImg + 'sec4_bg.png');
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-size: cover;
    @media all and (max-width: 1000px) {
        background-image: none;
    }
    .num {
        height: 18px;
        background-image: url($urlImg + 'tit_num02.png');
    }
    .stit {
        height: 190px;
        background-image: url($urlImg + 'tit_stit02.png');
    }
    .desc {
        p {
            color: rgba(255,255,255,0.65);
        }
    }
}
.sec3 {
    background-image: url($urlImg + 'sec5_bg.png');
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-size: cover;
    @media all and (max-width: 1000px) {
        background-image: none;
    }
    .num {
        height: 19px;
        background-image: url($urlImg + 'tit_num03.png');
    }
    .stit {
        height: 78px;
        background-image: url($urlImg + 'tit_stit03.png');
    }
}

/* header */
#header {
    border-bottom: 1px solid rgba(255,255,255,0.35);
    text-align: center;
    @include pos($p:fixed,$l:0,$r:0,$t:0);
    z-index: 900;
    @media all and (max-width: 1000px) {
        border-bottom: 0px;
    }
    &.lnbOn {
        @include pos($p:fixed,$l:0,$r:0,$t:0,$b:0);
        nav {
            @include pos($p:absolute,$t:ptr(94),$b:0,$r:0);
            width: 90%;
            background-color: #fff;
        }
        .moBtn {
            &.open {
                display: none;
            }
        }
        .lnb {
            .moList {
                display: block;
            }
        }
    }
    &.chgLine {
        border-bottom: 1px solid rgba(0,0,0,0.08);
        @media all and (max-width: 1000px) {
            border-bottom: 0px;
        }
    }
    .headWrap {
        @include clearfix;
        width: 100%;
        padding: 0 250px;
        box-sizing: border-box;
        font-size: 0;
        @media all and (max-width: 1280px) {
            padding: 0 100px;
        }
        @media all and (max-width: 1024px) {
            padding: 0 25px;
        }
        @media all and (max-width: 1000px) {
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
            padding: 0;
        }
    }
    * {
        color: #fff;
    }
    .logo {
        float: left;
        padding: 32px 0 28px;
        @media all and (max-width: 1000px) {
            float: none;
            @include pos($p:absolute,$l:0,$t:ptr(94));
            order: 1;
            padding: 0;
            margin-left: ptr(40);
        }
        a {
            width:128px;
            height: 20px;
            background-image: url($urlImg + 'logo.png');
            @include bgSet;
            @media all and (max-width: 1000px) {
                width: ptr(245);
                height: ptr(37);
                margin-top: ptr(47);
                background-image: url($urlImg + 'm_logo.png');
            }
        }
    }
    nav {
        display: inline-block;
        font-size: 16px;
        @media all and (max-width: 1000px) {
            order: 2;
            width: 0;
            @include pos($p:absolute,$r:0,$t:ptr(94));
            padding-top: ptr(47);
            transition: width 0.5s ease;
            -webkit-transition: width 0.5s ease;
        }
        ul {
            @media all and (max-width: 1000px) {
                display: none;
            }
        }
        li {
            padding: 0 30px;
        }
        .btn {
            display: block;
            cursor: pointer;
            padding: 31px 0 29px;
            margin-bottom: -1px;
            &.now {
                border-bottom: 2px solid #fff;
            }
        }
    }
    .tel {
        display: block;
        float: right;
        padding: 31px 0 26px;
        font-size: 18px;
        @media all and (max-width: 1000px) {
            float: none;
            width: 100%;
            order: 0;
            padding: ptr(20) 0;
            background-color: #fc9c05;
            font-size: ptr(42);
        }
        i {
            display: inline-block;
            @media all and (max-width: 1000px) {
                @include pos($p:relative);
                padding-left: ptr(70);
            }
            &:before {
                content: '';
                display: inline-block;
                width: 14px;
                height: 14px;
                margin: 0 9px 0 0;
                background-image: url($urlImg + 'call_icon.png');
                @include bgSet;
                @media all and (max-width: 1000px) {
                    width: ptr(54);
                    height: ptr(54);
                    margin: 0;
                    @include pos($p:absolute,$l:0);
                    border: 1px solid #fff;
                    border-radius: 50%;
                    background-image: url($urlImg + 'm_call_icon.png');
                    background-size: ptr(25) ptr(25);
                }
            }
        }
    }
    .lnb {
        display: none;
        @media all and (max-width: 1000px) {
            display: block;
            width: 100%;
            height: 100%;
        }
        .moList {
            display: none;
            box-sizing: border-box;
            a {
                display: inline-block;
                @include pos($p:relative);
                padding: ptr(60) 0;
                font-size: ptr(39);
                color: #000;
                &:after {
                    content: '';
                    display: block;
                    @include pos($p:absolute,$l:50%,$b:0);
                    transform: translateX(-50%);
                    -webkit-transform: translateX(-50%);
                    width: ptr(27);
                    height: 1px;
                    background-color: #000;
                }
            }
            ul {
                display: block;
                width: 100%;
                @include pos($p:absolute,$t:50%);
                transform: translateY(-50%);
                -webkit-transform: translateY(-50%);
            }
            li {
                width: 100%;
                padding: 0;
                &:last-child {
                    a {
                        &:after {
                            display: none;
                        }
                    }
                }
            }
        }
    }
    .moBtn {
        display: block;
        @include pos($p:relative);
        float: right;
        width: ptr(41);
        height: ptr(41);
        @include bgSet;
        z-index: 5;
        &.open {
            margin-right: ptr(40);
            background-image: url($urlImg + 'mo_btn_on.png');
        }
        &.close {
            margin: 0 ptr(40);
            background-image: url($urlImg + 'mo_btn_x.png');
        }
        button {
            display: block;
            width: 100%;
            height: 100%;
        }
    }
    .black {
        * {
            color: #000;
            @media all and (max-width: 1000px) {
                color: #fff;
            }
        }
        .logo {
            a {
                background-image: url($urlImg + 'logo_b.png');
            }
        }
        .btn {
            &.now {
                border-color: #000;
            }
        }
        .tel {
            &:before {
                background-image: url($urlImg + 'call_icon_b.png');
            }
        }
    }
}

/* section */

.sec0 {
    overflow: hidden;
    @include pos($p:relative);
    color: #fff;
    @media all and (max-width: 1000px) {
         overflow: visible;
    }
    .bnSlide,
    div[class *= 'slick'] {
        height: 100%;
    }
    .slick-slide {
        background-color: #000;
        .img {
            width: 100%;
            height: 100%;
            @include bgSet;
        }
    }
    .slide1 {
        .img {
            background-image: url($urlImg + 'sec1_slide1.png');
            @media all and (max-width: 1000px) {
                background-image: none;
            }
        }
    }
    .slide2 {
        .img {
            background-image: url($urlImg + 'sec1_slide2.png');
            @media all and (max-width: 1000px) {
                background-image: none;
            }
        }
    }
    .bnDesc {
        width: 100%;
        height: 100%;
        @include pos($p:absolute,$l:0,$r:0,$t:0,$b:0);
        padding: 265px 250px 0;
        margin: 0 auto;
        box-sizing: border-box;
        @media all and (max-width: 1280px) {
            padding: 265px 100px 0;
        }
        @media all and (max-width: 1024px) {
            padding: 265px 25px 0;
        }
        @media all and (max-width: 1000px) {
            padding: ptr(265) ptr(50) 0;
        }
        h2 {
            font-size: 56px;
            font-weight: 100;
            letter-spacing: -2px;
            @media all and (max-width: 1000px) {
                font-size: ptr(56);
            }
            strong {
                font-weight: 500;
            }
            i {
                font-style: italic;
            }
        }
    }
    .mouse {
        height: 85px;
        @include pos($p:absolute,$l:50%,$b:14px);
        transform: translateX(-50%);
        -webkit-transform: translateX(-50%);
        text-align: center;
        @media all and (max-width: 1000px) {
            height: auto;
            @include pos($b:ptr(72));
        }
        &:before {
            content: '';
            display: block;
            width: 22px;
            height: 37px;
            margin: 0 auto;
            background-image: url($urlImg + 'mouse_icon.png');
            @include bgSet;
            @include mouse;
            @media all and (max-width: 1000px) {
                width: ptr(30);
                height: ptr(51);
                background-image: url($urlImg + 'm_mouse_icon.png');
            }
        }
        .txt {
            margin-top: 10px;
            display: block;
            width: 100px;
            height: 9px;
            background-image: url($urlImg + 'mouse_txt.png');
            @include bgSet;
            @media all and (max-width: 1000px) {
                width: ptr(137);
                height: ptr(12);
                background-image: url($urlImg + 'm_mouse_txt.png');
            }
            &:after {
                content: '';
                display: block;
                @include pos($p:absolute,$l:50%);
                width: 2px;
                height: 85px;
                margin: 0 auto;
                background-color: #faa61a;
                @include line;
                animation-duration: 1s;
                -webkit-animation-duration: 1s;
                @media all and (max-width: 1000px) {
                    height: ptr(100);
                }
            }
        }
    }
}

.sec1 {
    &.active {
        .slick-active {
            .tit {
                .line {
                    &:after {
                        @include line;
                        animation-duration: 1s;
                        -webkit-animation-duration: 1s;
                    }
                }
            }
            .imgWrap {
                .com1 {
                    .dot {
                        @include dot($d:1.5s);
                    }
                    .line1 {
                        &:after {
                            @include linew;
                            animation-delay: 2s;
                            -webkit-animation-delay: 2s;
                        }
                    }
                    .line2 {
                        &:after {
                            @include linew;
                            animation-delay: 2.5s;
                            -webkit-animation-delay: 2.5s;
                        }
                    }
                    .comLogo {
                        @include dot($d:3s);
                    }
                }
                .com2 {
                    .dot {
                        @include dot($d:3.5s);
                    }
                    .line1 {
                        &:after {
                            @include linew;
                            animation-delay: 4s;
                            -webkit-animation-delay: 4s;
                        }
                    }
                    .comLogo {
                        @include dot($d:4.5s);
                    }
                }
                .com3 {
                    .dot {
                        @include dot($d:5s);
                    }
                    .line1 {
                        &:after {
                            @include linew;
                            animation-delay: 5.5s;
                            -webkit-animation-delay: 5.5s;
                        }
                    }
                    .line2 {
                        &:after {
                            @include linew;
                            animation-delay: 6s;
                            -webkit-animation-delay: 6s;
                        }
                    }
                    .comLogo {
                        @include dot($d:6.5s);
                    }
                }
                .com4 {
                    .dot {
                        @include dot($d:7s);
                    }
                    .line1 {
                        &:after {
                            @include linew;
                            animation-delay: 7.5s;
                            -webkit-animation-delay: 7.5s;
                        }
                    }
                    .comLogo {
                        @include dot($d:8s);
                    }
                }
                .com5 {
                    .dot {
                        @include dot($d:8.5s);
                    }
                    .line1 {
                        &:after {
                            @include linew;
                            animation-delay: 9s;
                            -webkit-animation-delay: 9s;
                        }
                    }
                    .line2 {
                        &:after {
                            @include linew;
                            animation-delay: 9.5s;
                            -webkit-animation-delay: 9.5s;
                        }
                    }
                    .comLogo {
                        @include dot($d:10s);
                    }
                }
            }
            //sec11 애니메이션
            .logoSize {
                @include logomv;
                animation-delay: 1.5s;
                -webkit-animation-delay: 1.5s;
            }
            .explainList {
                li {
                    @include exmv;
                    
                }
                li:nth-of-type(1) {
                    animation-delay: 2s;
                    -webkit-animation-delay: 2s;
                }
                li:nth-of-type(2) {
                    animation-delay: 2.5s;
                    -webkit-animation-delay: 2.5s;
                }
                li:nth-of-type(3) {
                    animation-delay: 3s;
                    -webkit-animation-delay: 3s;
                }
            }
            //sec12 애니메이션
        }
    }
    .bg {
        width: 100%;
        padding: 0 250px;
        box-sizing: border-box;
        @media all and (max-width: 1280px) {
            padding: 0 100px;
        }
        @media all and (max-width: 1024px) {
            padding: 0 25px;
        }
        @media all and (max-width: 1000px) {
            @include pos($p:absolute,$l:0,$r:0,$t:0,$b:0);
            padding: 0 ptr(55);
            .imgWrap {
                display: none;
            }
        }
        .area {
            width: 100%;
            height: 100%;
            @include clearfix;
            @include pos($p:relative);
        }
    }
    .comSlide,
    div[class *= 'slick'],
    .bg {
        width: 100%;
        height: 100%;
    }
    .slick-list {
        overflow: visible;
    }
    .slick-slide {
        overflow: hidden;
    }
    .slick-dots {
        width: 100%;
        padding: 0 250px;
        margin-left: 62px;
        @include pos($p:absolute,$l:0,$t:480px);
        box-sizing: border-box;
        @media all and (max-width: 1280px) {
            padding: 0 100px;
        }
        @media all and (max-width: 1024px) {
            padding: 0 25px;
        }
        @media all and (max-width: 1000px) {
            @include pos($p:absolute,$l:0,$r:0,$t:ptr(80));
            padding: 0 ptr(55);
            margin-left: 0;
            display: flex;
            flex-wrap: wrap;
            justify-content: flex-end;
        }
        &.up {
            @include pos($p:absolute,$l:0,$t:350px);
            @media all and (max-width: 1000px) {
                @include pos($p:absolute,$l:0,$r:0,$t:ptr(80));
            }
        }
        li {
            button {
                border: none;
                &:after {
                    background: #b8b8b8;
                }
            }
        }
        .slick-active {
            button {
                border: 1px solid #eda01f;
                border-radius: 50%;
            }
        }
    }
    
    .sec11 {
        .imgWrap {
            @include pos($p:absolute,$r:0,$b:0);
            .earth {
                display: block;
                @include pos($p:absolute,$r:0,$b:-170px);
                &:before {
                    content: '';
                    display: block;
                    width: 665px;
                    height: 603px;
                    background-image: url($urlImg + 'earth.png');
                    @include bgSet;
                    @include earth;
                }
            }
            .comLogo {
                display: block;
                @include bgSet;
                &.logo1 {
                    width: 231px;
                    height: 37px;
                    background-image: url($urlImg + 'img_comlogo1.png')
                }
                &.logo2 {
                    width: 134px;
                    height: 24px;
                    background-image: url($urlImg + 'img_comlogo2.png')
                }
                &.logo3 {
                    float: right;
                    width: 120px;
                    height: 17px;
                    background-image: url($urlImg + 'img_comlogo3.png')
                }
                &.logo4 {
                    width: 130px;
                    height: 21px;
                    background-image: url($urlImg + 'img_comlogo4.png')
                }
                &.logo5 {
                    width: 146px;
                    height: 14px;
                    background-image: url($urlImg + 'img_comlogo5.png')
                }
            }
            .com {
                @include pos($p:absolute);
                z-index: 2;
                .dot {
                    @include pos($p:absolute);
                    z-index: -1;
                }
                .line {
                    display: block;
                    height: 1px;
                    @include pos($p:absolute);
                    &:after {
                        content: '';
                        display: block;
                        width: 100%;
                        height: 100%;
                        background-color: #a0a0a0;
                    }
                }
                .img {
                    width: 100%;
                    height: 100%;
                    overflow: hidden;
                    @include pos($p:relative);
                }
                .ltr {
                    img {
                        float: right;
                        width: 100%;
                        height: 100%;
                    }
                }
                .btt {
                    img {
                        @include pos($p:absolute,$t:100%);
                    }
                }
                &.com1 {
                    .img {
                        width: 381px;
                        height: 60px;
                    }
                    @include pos($l:-220px,$t:90px);
                    .dot {
                        @include pos($p:absolute,$r:-13px,$b:-15px);
                    }
                    .line1 {
                        width: 90px;
                        @include pos($r:-6px,$b:18px);
                        transform: rotate(-154deg);
                        -webkit-transform: rotate(-154deg);
                    }
                    .line2 {
                        width: 60px;
                        @include pos($r:77px,$t:22px);
                    }
                }
                &.com2 {
                    .img {
                        width: 134px;
                        height: 142px;
                    }
                    @include pos($l:356px,$t:-120px);
                    .dot {
                        @include pos($p:absolute,$l:3px,$b:-15px);
                    }
                    .line1 {
                        width: 125px;
                        @include pos($l:-20px,$b:50px);
                        transform: rotate(-60deg);
                        -webkit-transform: rotate(-60deg);
                    }
                }
                &.com3 {
                    .img {
                        width: 178px;
                        height: 161px;
                    }
                    @include pos($r:-25px,$t:-15px);
                    .dot {
                        @include pos($p:absolute,$l:-9px,$b:-15px);
                    }
                    .line1 {
                        width: 105px;
                        @include pos($l:-51px,$b:51px);
                        transform: rotate(90deg);
                        -webkit-transform: rotate(90deg);
                    }
                    .line2 {
                        width: 60px;
                        @include pos($l:-3px,$b:118px);
                        transform: rotate(-30deg);
                        -webkit-transform: rotate(-30deg);
                    }
                }
                &.com4 {
                    .img {
                        width: 218px;
                        height: 53px;
                    }
                    @include pos($l:-90px,$t:190px);
                    .dot {
                        @include pos($p:absolute,$r:-13px,$b:-15px);
                    }
                    .line1 {
                        width: 90px;
                        @include pos($r:-13px,$b:16px);
                        transform: rotate(210deg);
                        -webkit-transform: rotate(210deg);
                    }
                }
                &.com5 {
                    .img { 
                        width: 224px;
                        height: 77px;
                    }
                    @include pos($l:-100px,$t:340px);
                    .dot {
                        @include pos($p:absolute,$r:-11px,$b:11px);
                    }
                    .line1 {
                        width: 50px;
                        height: 1px;
                        @include pos($r:-7px,$b:13px);
                        transform: rotate(150deg);
                        -webkit-transform: rotate(150deg);
                    }
                    .line2 {
                        width: 90px;
                        height: 1px;
                        @include pos($r:33px,$b:22px);
                        transform: rotate(30deg);
                        -webkit-transform: rotate(30deg);
                    }
                }
            }
            .com1,
            .com5 {
                .line1 {
                    &:after {
                        float: left;
                    }
                }
                .line2 {
                    &:after {
                        float: right;
                    }
                }
            }
            .com2 {
                .line1 {
                    &:after {
                        float: left;
                    }
                }
            }
            .com3 {
                .line1 {
                    &:after {
                        float: right;
                    }
                }
            }
        }
    }
    .sec12 {
        .imgWrap {
            @include pos($p:absolute,$r:0,$b:0);
        }
        .logoSize {
            img {
                margin: 0 auto;
            }
        }
        .explainList {
            margin:87px 0 95px;
            transform: translateX(42px);
        }
        li {
            @include pos($p:relative);
            opacity: 0;
            transition: opacity 2s ease, transform 1s ease;
            -webkit-transition: opacity 2s ease, transform 1s ease;
            .img {
                width: 214px;
                height: 213px;
                @include bgSet;
                &:before {
                    content: '';
                    display: block;
                    width: 22px;
                    height: 95px;
                    @include pos($p:absolute,$l:0,$t:50%);
                    margin-top: -47.5px;
                    @include bgSet;
                }
                &.ex1 {
                    background-image: url($urlImg + 'logo_explain1.png');
                    &:before {
                        display: none;
                    }
                }
                &.ex2 {
                    background-image: url($urlImg + 'logo_explain2.png');
                    &:before {
                        background-image: url($urlImg + 'shadow2.png');
                    }
                }
                &.ex3 {
                    background-image: url($urlImg + 'logo_explain3.png');
                    &:before {
                        background-image: url($urlImg + 'shadow3.png');
                    }
                }
            }
        }
        
        li:nth-of-type(1) {
            transform: translateX(-21px);
            -webkit-transform: translateX(-21px);
        }
        li:nth-of-type(2) {
            transform: translateX(-42px);
            -webkit-transform: translateX(-42px);
        }
        li:nth-of-type(3) {
            transform: translateX(-63px);
            -webkit-transform: translateX(-63px);
        }
    }
}

.sec2 {
    .bg {
        height: 100%;
        padding: 0 250px;
        @media all and (max-width: 1280px) {
            padding: 0 100px;
        }
        @media all and (max-width: 1024px) {
            padding: 0 25px;
        }
        @media all and (max-width: 1000px) {
            @include pos($p:relative);
            padding: 0;
        }
    }
    .area {
        width: 100%;
        height: 100%;
        @include pos($p:relative);
        color: #fff;
        @media all and (max-width: 1000px) {
            @include pos($p:absolute,$l:0,$r:0,$t:0,$b:0);
        }
    }
    .comWrap {
        width: 452px;
        @include pos($p:absolute,$r:0,$b:0);
        @include clearfix;
        padding: 24px;
        background-color: rgba(0,0,0,0.32);
        box-sizing: border-box;
        @media all and (max-width: 1000px) {
            width: 100%;
            padding: ptr(55);
            @include pos($p:absolute,$l:0,$r:0,$b:0);
        }
        > * {
            display: block;
            float: left;
            
        }
    }
    .cooperlate {
        @include pos($p:absolute,$l:24px,$t:50%);
        margin-top: -10px;
        color: rgba(255,255,255,0.65);
        @media all and (max-width: 1000px) {
            font-size: ptr(20);
            @include pos($l:ptr(55));
            margin-top: ptr(-10);
        }
    }
    .cooperSlide {
        width: 100%;
        padding-left: 140px;
        box-sizing: border-box;
        @media all and (max-width: 1000px) {
            padding-left: ptr(265);
        }
        * {
            width: 100%;
        }
        .slick-slide {
            width: 100%;
            height: 37px;
            @media all and (max-width: 1000px) {
                height: ptr(45);
            }
            .img {
                height: 100%;
                margin: 0 auto;
                background-repeat: no-repeat;
                background-position: center center;
                background-size: contain;
            }
            &.slide1 {
                .img {
                    width: 88px;
                    background-image: url($urlImg + 'img_cooperate1.png');
                    @media all and (max-width: 1000px) {
                        width: ptr(107);
                        background-image: url($urlImg + 'm_img_cooperate1.png');
                    }
                }
            }
            &.slide2 {
                .img {
                    width: 121px;
                    background-image: url($urlImg + 'img_cooperate2.png');
                    @media all and (max-width: 1000px) {
                        width: ptr(145);
                        background-image: url($urlImg + 'm_img_cooperate2.png');
                    }
                }
            }
            &.slide3 {
                .img {
                    width: 150px;
                    background-image: url($urlImg + 'img_cooperate3.png');
                    @media all and (max-width: 1000px) {
                        width: ptr(182);
                        background-image: url($urlImg + 'm_img_cooperate3.png');
                    }
                }
            }
            &.slide4 {
                .img {
                    width: 132px;
                    background-image: url($urlImg + 'img_cooperate4.png');
                    @media all and (max-width: 1000px) {
                        width: ptr(161);
                        background-image: url($urlImg + 'm_img_cooperate4.png');
                    }
                }
            }
            &.slide5 {
                .img {
                    width: 107px;
                    background-image: url($urlImg + 'img_cooperate5.png');
                    @media all and (max-width: 1000px) {
                        width: ptr(129);
                        background-image: url($urlImg + 'm_img_cooperate5.png');
                    }
                }
            }
            &.slide6 {
                .img {
                    width: 123px;
                    background-image: url($urlImg + 'img_cooperate6.png');
                    @media all and (max-width: 1000px) {
                        width: ptr(150);
                        background-image: url($urlImg + 'm_img_cooperate6.png');
                    }
                }
            }
        }
        .slick-arrow {
            width: 10px;
            height: 18px;
            margin-top: -9px;
            font-size: 0;
            @include pos($p:absolute,$t:50%);
            @include bgSet;
            z-index: 700;
            @media all and (max-width: 1000px) {
                width: ptr(12);
                height: ptr(21);
                margin-top: ptr(-10.5);
            }
        }
        .slick-prev {
            @include pos($l:0);
            background-image: url($urlImg + 'cooper_prev.png');
            @media all and (max-width: 1000px) {
                background-image: url($urlImg + 'm_cooper_prev.png');
            }
        }
        .slick-next {
            @include pos($r:0);
            background-image: url($urlImg + 'cooper_next.png');
            @media all and (max-width: 1000px) {
                background-image: url($urlImg + 'm_cooper_next.png');
            }
        }
    }
    .stepWrap {
        width: 580px;
        @include pos($p:absolute,$t:250px);
        float: left;
        text-align: center;
        @media all and (max-width: 1000px) {
            display: none;
        }
        .person {
            &:first-child {
                margin-bottom: 22px;
            }
            &:last-child {
                margin-top: 22px;
            }
        }
        .line {
            display: block;
            &:after {
                content: '';
                display: block;
                width: 100%;
                height: 100%;
                background-color: rgba(255,255,255,0.22);
            }
            &.col {
                width: 1px;
                height: 74px;
                margin: 16px auto;
            }
            &.row {
                width: 32px;
                height: 1px;
            }
        }
        .dot {
            display: block;
            width: 30px;
            height: 30px;
            margin: 0 auto;
            @include pos($p:relative);
            border: 1px solid rgba(255,255,255,0.22);
            border-radius: 50%;
            &:after {
                content: '';
                display: block;
                width: 7px;
                height: 7px;
                @include pos($p:absolute,$l:50%,$t:50%);
                margin-top: -3.5px;
                margin-left: -3.5px;
                background-color: #fff;
                border-radius: 50%;
            }
        }
    }
    .stepRow {
        width: 208px;
        height: 208px;
        @include pos($p:absolute);
        &:nth-of-type(1) {
            @include pos($t:60px);
        }
        &:nth-of-type(2) {
            @include pos($t:196px);
        }
        &:nth-of-type(3) {
            @include pos($b:60px);
        }
        &.left {
            @include pos($l:0);
            padding-right: 68px;
            dd {
                @include pos($l:0);
            }
            .row {
                @include pos($r:0);
                &:after {
                    float: right;
                }
            }
        }
        &.right {
            @include pos($r:0);
            padding-left: 68px;
            dd {
                @include pos($r:0);
            }
            .row {
                @include pos($l:0);
                &:after {
                    float: left;
                }
            }
        }
        .row {
            @include pos($p:absolute,$t:50%);
            margin: 0 18px;
        }
        dd{
            display: block;
            width: 208px;
            height: 208px;
            @include pos($p:absolute);
            border: 1px solid transparent;
            border-radius: 50%;
            @include bgSet;
            background-image: url($urlImg + 'step_border.png');
        }
    }
    .stepDesc {
        width: 100%;
        @include pos($p:absolute,$t:50%);
        transform: translate(0,-50%);
        -webkit-transform: translate(0,-50%);
        .step {
            display: block;
            font-size: 15px;
            color: rgba(252,156,5,0.57);
        }
        .desc {
            display: block;
            margin: 13px 0 23px;
            font-size: 18px;
        }
        .img {
            margin: 0 auto;
            img {
                max-width: none;
            }
        }
    }
    &.active {
        .person {
            &:first-child {
                @include dot($d:1.5s);
            }
            &:last-child {
                @include dot;
                animation-delay: 9s;
                -webkit-animation-delay: 9s;
            }
        }
        .line {
            &.col:nth-of-type(1) {
                &:after {
                    @include line;
                    animation-delay: 2.5s;
                    -webkit-animation-delay: 2.5s;
                }
            }
            &.col:nth-of-type(2) {
                &:after {
                    @include line;
                    animation-delay: 4.5s;
                    -webkit-animation-delay: 4.5s;
                }
            }
            &.col:nth-of-type(3) {
                &:after {
                    @include line;
                    animation-delay: 6.5s;
                    -webkit-animation-delay: 6.5s;
                }
            }
            &.col:nth-of-type(4) {
                &:after {
                    @include line;
                    animation-delay: 8.5s;
                    -webkit-animation-delay: 8.5s;
                }
            } // 세로줄
        }
        .stepRow:nth-of-type(1) {
            .row {
                &:after {
                    @include linew;
                    animation-delay: 3.5s;
                    -webkit-animation-delay: 3.5s;
                }
            }
            dd {
                @include dot;
                animation-delay: 4s;
                -webkit-animation-delay: 4s;
            }
        }
        .stepRow:nth-of-type(2) {
            .row {
                &:after {
                    @include linew;
                    animation-delay: 5.5s;
                    -webkit-animation-delay: 5.5s;
                }
            }
            dd {
                @include dot;
                animation-delay: 6s;
                -webkit-animation-delay: 6s;
            }
        }
        .stepRow:nth-of-type(3) {
            .row {
                &:after {
                    @include linew;
                    animation-delay: 7.5s;
                    -webkit-animation-delay: 7.5s;
                }
            }
            dd {
                @include dot;
                animation-delay: 8s;
                -webkit-animation-delay: 8s;
            }
        } //step 가로줄, 원
        .dot:nth-of-type(1) {
            @include dot;
            animation-delay: 3s;
            -webkit-animation-delay: 3s;
        }
        .dot:nth-of-type(2) {
            @include dot;
            animation-delay: 5s;
            -webkit-animation-delay: 5s;
        }
        .dot:nth-of-type(3) {
            @include dot;
            animation-delay: 7s;
            -webkit-animation-delay: 7s;
        } //step 점
        .descWrap {
            .line {
                &.col:nth-of-type(1) {
                    &:after {
                        animation-duration: 1s;
                        -webkit-animation-duration: 1s;
                        animation-delay: 0s;
                        -webkit-animation-delay: 0s;
                    }
                }
            }
        }
    }
}

.sec3 {
    @include pos($p:relative);
    .bg {
        width: 100%;
        height: 100%;
        @include pos($p:relative);
    }
    .area {
        padding: 0 250px;
        text-align: center;
        color: #fff;
        @media all and (max-width: 1280px) {
            padding: 0 100px;
        }
        @media all and (max-width: 1024px) {
            padding: 0 25px;
        }
        @media all and (max-width: 1024px) {
            @include pos($p:absolute,$l:0,$r:0,$t:0);
            padding: 0 ptr(55);
        }
    }
    .descWrap {
        margin-top: 120px;
        @media all and (max-width: 1000px) {
            margin-top: ptr(200);
        }
        h2 {
            margin-top: 25px;
            @media all and (max-width: 1000px) {
                margin-top: 0;
                font-size: ptr(50);
            }
        }
        p {
            @media all and (max-width: 1000px) {
                font-size: ptr(18);
            }
        }
        .apply {
            display: inline-block;
            @include pos($p:relative);
            @include clearfix;
            padding-right: 106px;
            padding-bottom: 12px;
            border-bottom: 3px solid #fff;
            @media all and (max-width: 1000px) {
                padding-right: ptr(118);
                padding-bottom: ptr(18);
                border-bottom: 1px solid #fff;
                .pc {
                    display: none;
                }
                .img {
                    width: ptr(128);
                    height: ptr(60);
                    @include bgSet;
                    background-image: url($urlImg + 'm_apply.png');
                }
            }
            > * {
                float: left;
            }
            .arrow {
                display: block;
                width: 37px;
                height: 21px;
                @include pos($p:absolute,$r:0,$t:50%);
                margin-top: -10px;
                @include bgSet;
                background-image: url($urlImg + 'apply_arrow.png');
                @media all and (max-width: 1000px) {
                    width: ptr(34);
                    height: ptr(25);
                    margin-top: ptr(-12.5);
                    background-image: url($urlImg + 'm_apply_arrow.png');
                }
            }
        }
        small {
            display: block;
            margin-top: 20px;
            font-size: 15px;
            font-weight: 100;
            @media all and (max-width: 1000px) {
                font-size: ptr(16);
            }
        }
    }
    &.active {
        .arrow {
            &.mv {
                @include arrowmv;
                animation-delay: 1.5s;
                -webkit-animation-delay: 1.5s;
            }
            &.bounce {
                @include arrowbounce;
            }
        }
        .tit {
            .line {
                &:after {
                    @include line;
                    animation-duration: 1s;
                    -webkit-animation-duration: 1s;
                }
            }
        }
    }
}

/* footer */
#footer {
    @include pos($p:absolute,$l:0,$r:0,$b:0);
    background-color: #fff;
    @media all and (max-width: 1000px) {
        @include pos($p:static);
    }
    .footWrap {
        padding: 40px 250px 80px;
        font-size: 12px;
        letter-spacing: -1px;
        @media all and (max-width: 1280px) {
            padding: 40px 100px 80px;
        }
        @media all and (max-width: 1024px) {
            padding: 40px 25px 98px;
        }
        @media all and (max-width: 1000px) {
            padding: ptr(50) ptr(64) ptr(210);
        }
        .comInfo {
            font-size: 0;
            text-align: center;
        }
        dl {
            display: inline-block;
            margin: 0 10px 5px;
            font-size: 12px;
            @include clearfix;
            @media all and (max-width: 1000px) {
                margin: 0 ptr(15) ptr(10);
                font-size: ptr(18);
            }
            > * {
                float: left;
            }
            dt {
                font-weight: 600;
                color: #373737;
            }
            dd {
                margin-left: 3px;
                color: #646464;
            }
        }
        small {
            display: block;
            text-align: center;
            color: #646464;
        }
    }
}