@charset "utf-8";
@import url(font.css);
@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,700');
@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,500');
@import url('../../../resources/global/css/global.css');
/*
	font-family: 'Open Sans', sans-serif;
	font-family: 'Roboto', sans-serif;
*/

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video, button, input, textarea, select{margin:0;padding:0;border:0;font:inherit}
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {display:block}
body{line-height:1.3}
body,select,input,textarea,button,pre{font-family:'Noto Sans',Dotum,Gulim,Sans-serif;letter-spacing:-.05em;color:#333;-webkit-text-size-adjust:none}
fieldset,img{border:0}
img{vertical-align:top; -ms-interpolation-mode:bicubic}
img,video,audio,object,embed,iframe{max-width:100%}
legend, caption {position:absolute;width:1px;height:1px;clip:rect(1px, 1px, 1px, 1px)}
h1,h2,h3,h4,h5,strong,b,th{font-weight:500}
pre{word-break:break-all;white-space:pre-line}
i, address {font-style:normal}
ol, ul {list-style:none}
blockquote, q {quotes:none}
blockquote:before, blockquote:after,
q:before, q:after {content:none}
table {border-collapse:collapse;border-spacing:0;table-layout:fixed}
.blind {position:absolute;width:1px;height:1px;clip:rect(1px,1px,1px,1px)}
:focus{outline:none}
.scroll{overflow-y:auto;overflow-x:hidden;-webkit-overflow-scrolling:touch}
.ml0{margin-left:0 !important}
a{text-decoration:none}

/* common */
.fc_red{color:#ea273a !important}
.bold{font-weight:500}
.u{text-decoration:underline}
.fsup{font-size:18px !important}
.ico_com{display:inline-block;background-image:url(../images/bg_com.png);vertical-align:middle;color:transparent;white-space:nowrap}

button{overflow:hidden;border:0;background-color:transparent;-webkit-appearance:none;cursor:pointer}
.ie8_down_ver{position:fixed;top:0;left:0;z-index:999;width:100%;padding:20px 0;background-color:#fff;border-bottom:1px solid #d9d9d9;text-align:center;font-size:15px;font-weight:bold}
.ie8_down_ver a{text-decoration:underline;color:#e60000}

input,textarea,select{vertical-align:middle;-webkit-border-radius:0;-webkit-appearance:none}
input,textarea,select,.input,.select{vertical-align:middle;line-height:1.2}
input[type="text"],
input[type="password"],
input[type="tel"]{height:54px;line-height:53px;padding:2px 10px 0;border:1px solid transparent;font-size:16px;color:#333}
input[type="password"]{font-family:dotum;letter-spacing:0}
textarea{padding:15px 20px;border:1px solid #cbcbcb;background-color:transparent;font-size:14px;color:#333;resize:none}
label{cursor:auto}
select{overflow:hidden;white-space:nowrap;width:100%;background-color:transparent;background-image:url(../images/select_arr.png);background-position:100% 50%;background-size:auto 5px;background-repeat:no-repeat;border:0;font-size:18px;color:#101010}
.select{display:inline-block;padding:0 14px 0 16px;border:1px solid #e1e1e1;height:45px;line-height:43px}
.inp_box{position:relative;display:inline-block}
.inp_box .i_text{position:relative;width:100%;height:45px;padding:10px}
.lbl{display:block;position:absolute;top:13px;left:12px;z-index:10;font-size:15px;color:#aeaeae}

.btn_m{display:inline-block;height:54px;line-height:55px;border-width:1px;border-style:solid;font-size:16px}
.btn_m2{display:inline-block;vertical-align:middle;line-height:47px;font-size:15px;text-decoration:none}
.btn_r{display:inline-block;vertical-align:middle;line-height:52px;font-size:20px;text-decoration:none}
.btn_type{background-color:#ea273a;color:#fff}
.btn_type2{background-color:#c0c0c0;color:#fff}

.checkbox{display:inline-block;position:relative;text-align:left}
.checkbox input{position:absolute; left:0; top:0; width:13px; height:13px; opacity:0; filter:alpha(opacity=0)}
.checkbox label{display:inline-block;position:relative;z-index:1;width:auto;background-repeat:no-repeat;background-position:0 50%;cursor:pointer;color:#666}
.checkbox.circle label{padding-top:8px;padding-bottom:8px;padding-left:41px;background-image:url(../images/checkbox_circle.gif);font-size:14px}
.checkbox.circle input:checked + label{background-image:url(../images/checkbox_circle_on.gif)}
.checkbox.circle label.on{background-image:url(../images/checkbox_circle_on.gif)}

.checkbox.square label{padding-top:5px;padding-bottom:5px;padding-left:32px;background-image:url(../images/checkbox_square.gif);background-position:0 0;font-size:14px}
 .checkbox.square input:checked + label{background-image:url(../images/checkbox_square_on.gif)}
.checkbox.square label.on{background-image:url(../images/checkbox_square_on.gif)}

.title_type{position:relative;margin-bottom:50px;font-size:36px;text-align:center;font-size:0;}
.title_type i{display:inline-block;background-image:url(../images/mb_ico_cau.png);vertical-align:middle;color:transparent;white-space:nowrap}
.title_type .ico_cau{vertical-align:top;width:58px;height:58px;background-position:center;margin:10px 13px 0 0;background-size:58px;}
.title_type .tit_wrap {display:inline-block;text-align:left;letter-spacing:-2px;}
.title_type .tit_wrap .tit {font-size:38px;font-weight:500;color:#222222}
.title_type .s{font-size:18px;color:#ff1a1a;font-weight:300;margin-top:3px;margin-left:1px}
.title_type .tit_wrap .tit,
.title_type .tit_wrap .s {display:block;}

.btn_area{text-align:center}
.btn_area a, .btn_area button{margin-left:7px}

.form_type input[type="text"],
.form_type input[type="password"]{height:45px;padding:0 10px;border:1px solid #e1e1e1;font-size:18px}
.form_type .box{display:inline-block;font-size:0}
.form_type .tab{border:0 !important}
.form_type .tab>ul{padding-left:1px}
.form_type .tab ul:after{display:block;clear:both;content:''}
.form_type .tab li{position:relative;float:left;width:33.3%}
.form_type .tab li>span{display:block;line-height:49px;text-decoration:none;font-weight:400;font-family:'Roboto';font-size:16px;color:#666;text-align:center;border:1px solid #dedede;margin-left:-1px;cursor:pointer}
.form_type .tab li.last{width:33.4%}
.form_type .tab li:first-child a{margin-left:0}
.form_type .tab li.active{z-index:1}
.form_type .tab li.active>span{border-color:#ee1e4f;color:#ee1e4f}
.form_type .stit{position:absolute;top:0;left:0;line-height:46px;padding-top:1px;display:inline-block;font-size:16px;color:#000}
.form_type .cau{margin-top:40px;padding-top:20px;border-top:1px solid #e1e1e1;text-align:center;font-weight:300;letter-spacing:-.09em;font-size:14px;color:#a0a0a0}
.form_type .cau2{margin-bottom:40px;font-weight:300;font-size:16px;text-align:center;color:#666;}
.form_type>ul>li{position:relative;border-bottom:1px solid #dedede;border-right:1px solid #dedede;border-left:1px solid #dedede;padding-left:94px}
.form_type li.num{margin-top:15px;padding-left:94px;border:0;font-size:0}
.form_type li.num .select{margin-right:11px}
.form_type li.num select{width:61px;text-indent:10px}
@-moz-document url-prefix() {
  .form_type li.num select{text-indent:0}
}
.form_type li.num input{width:170px}
.form_type li.num .btn_num{width:98px;margin-left:11px;background-color:#7c7c7c;vertical-align:top;color:#fff}
.form_type li.num .btn_num.on{background-color:#ea273a}
.form_type li.num2 .box{position:relative}
.form_type li.num2{margin-top:15px;border:0}
.form_type li.num2 .btn_re{margin-left:15px;border-bottom:1px solid #7c7c7c;font-size:15px;color:#7c7c7c}
.form_type li.num2 .timer{position:absolute;top:13px;right:18px;font-size:15px;color:#9f9f9f;text-align:right}
.form_type li.num2 .timer span{margin-left:10px}
.form_type li.num2 input{width:276px}
.form_type li.captcha{margin-left:70px;padding-left:173px;border:0 !important}
.form_type li.captcha .pinArea{position:absolute;top:0;left:0;padding:8px 10px 5px;border:1px solid #d3d5d6}
.form_type li.captcha .pin_btn{margin-top:2px;text-align:right}
.form_type li.captcha .pinArea .pin_img{max-width:131px;text-align:center}
.form_type li.captcha .userNum label{display:block;padding:3px 0 8px;font-weight:100;font-size:17px;color:#000}
.form_type li.captcha .userNum input{width:163px}

.error{font-size:14px;color:#ff5e64}
.error .ico_chk{margin:0 7px 0 0}
p.error{margin:10px 0 0 5px}
p.error+p.error{margin-top:4px}

.ly_pop{display:none;position:fixed;top:0;left:0;width:100%;height:100%;z-index:99;text-align:center}
.ly_pop .bg{position:fixed;top:0;left:0;width:100%;height:100%;background-color:#000;opacity:.85;
filter: alpha(opacity=85);}
.ly_pop .btn_cls{position:absolute;top:19px;right:30px;width:20px;height:20px;background:url(../images/bg_com.png) no-repeat -80px 0;color:transparent;white-space:nowrap}
.ly_pop .content{position:relative;z-index:1;display:inline-block;width:540px;height:605px;padding:16px 30px 20px;background:#fff;border-top:4px solid #27236a;vertical-align:middle;text-align:left;box-shadow:3px 3px 30px rgba(0,0,0,.2)}
.ly_pop .blank{display:inline-block;width:0;height:100%;vertical-align:middle}
.ly_pop h2.title{padding-bottom:10px;font-weight:400;font-size:20px;border-bottom:1px solid #27236a;color:#27236a;}

/* Mobile Device */
@media all and (max-width:768px) {
    *, *:after, *:before{-webkit-tap-highlight-color:rgba(0,0,0,0);-webkit-tap-highlight-color:transparent;-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box;-webkit-font-smoothing:antialiased}
    html{
        -ms-touch-action:none;
        font-size:62.5%;
    }
    body{-webkit-text-size-adjust:none;-moz-text-size-adjust:none;-ms-text-size-adjust:none;-o-text-size-adjust:none;text-size-adjust:none;-webkit-user-select:auto;position:relative}
    .br{display:block}

    .title_type{margin-bottom:1.75rem;}
    .title_type .tit_wrap .tit {font-size:2.4rem}
    .title_type .s{margin-top:.75rem;font-size:1.1rem;text-align:center;margin-left:0;}
    .title_type i{display:block}
    .title_type .ico_cau{margin:0 auto 1.6rem;width:4.6rem;height:4.6rem;background:url(../images/mb_ico_cau.png) no-repeat 50% 50%;background-size:100% 100%}
    .btn_m2{line-height:3.7rem;font-size:1.2rem}
    .btn_r{line-height:5rem;font-size:1.3rem;font-weight:700}
}