@charset "utf-8";

@import url('https://fonts.googleapis.com/css?family=Noto+Sans+KR:100,300,400,500,700,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700&display=swap');

/* reset */
html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,embed,figure,figcaption,footer,header,hgroup,menu,nav,output,ruby,section,summary,time,mark,audio,video,select,dl,dt,dd {margin: 0;padding: 0;border: 0;font: inherit;vertical-align: baseline;}
h1,h2,h3,h4,h5,h6,strong {font-weight: bold;}
a {color: #333;text-decoration: none;}
img {vertical-align: top;max-width: 100%;}
html {font-size:12px;}
article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section {display: block;}
body,body * {font-family: 'Noto Sans KR', 'Roboto', Dotum, Gulim, Sans-serif;line-height: 1.4;letter-spacing: -0.75px;-webkit-tap-highlight-color: transparent;color: #222;box-sizing: border-box;}
ol,ul {list-style: none;}
blockquote,q {quotes: none;}
blockquote:before,blockquote:after,q:before,q:after {content: '';content: none;}
table {border-collapse: collapse;border-spacing: 0;table-layout: fixed;}
button {border: none;margin: 0;padding: 0;width: auto;overflow: visible;background: transparent;cursor: pointer;}button:focus{outline:none}
input,textarea,input[type="text"],input[type="checkbox"],input[type="tel"] {font-family: 'Noto Sans KR', 'Roboto', Dotum, Gulim, Sans-serif;background: transparent;box-shadow: none;width: auto;height: auto;border: none;margin: 0;padding: 0;border-radius: 0;-webkit-user-select: auto;-webkit-appearance: none;-moz-appearance: none;appearance: none;}input:focus,textarea:focus,input[type="text"]:focus,input[type="checkbox"]:focus,input[type="tel"]:focus {outline: none;outline: 0;}input::-ms-clear,textarea::-ms-clear,input[type="text"]::-ms-clear,input[type="checkbox"]::-ms-clear,input[type="tel"]::-ms-clear {display: none;}
select {text-transform: none;-webkit-appearance: none;margin: 0;padding: 0;background: transparent;border-radius: 0;border: 0;}
select:focus { border: 0; outline: 0; }
select::-ms-expand{display:none}
legend {text-indent: -1000rem;}
pre {word-wrap: break-word;white-space: pre-line;}
.hide {display: block;overflow: hidden;width: 0;height: 0;font-size: 0;clip: clip(-1px, -1px, -1px, -1px);position: absolute;left: -9999px;}
code {font-family: 'Roboto','Noto Sans KR', sans-serif;}
.header_wrap {position: fixed;left: 0;right: 0;top: 0;z-index: 9;}
#header {position: relative;width: 100%;padding:20px 0;left: 0;right: 0;top: 0;z-index: 2;background-color: #fff;}
#header h1 {text-align:center;font-size:19px;font-weight:500;color:#2A2A2A;}
#header [class*="btn"] {position: absolute;display:block;top:0;right:0;width:55.5px;height:66px;font-size:0;background: url(../images/icon_close.png) center no-repeat;background-size:16px;}
.thumbview_detail {padding-top:100px}
.detail_imgview {padding:0 24px}
.thumbview_detail dl {text-align:center}
.coupon_tit {margin-bottom:17px;font-size:15px;color:#686868;font-weight:300;}
.thumbview_detail dt img {max-width:228px;border-radius:5px;overflow:hidden;}
.thumbview_detail .txt {margin:22px 0 10px;font-size:16px;font-weight:500;color:#7253F3}
.barcode {margin-bottom:10px;}
.thumbview_detail figcaption code {font-size:20px;font-weight:400;color:#D8D8D8;word-spacing: 20px;}
.detail_imgview dl dd .barcode .barcodeImg img {display: block;width: auto;max-height:70px;margin: 0 auto;}
.thumbview_detail .list {margin-top:60px;}
.thumbview_detail .list>li {position: relative;display: flex;justify-content: space-between;padding-top:10px;padding-bottom:10px;border-top: 1px solid #DFDFDF;color: #000000;font-size:15px;}
.thumbview_detail .list>li:last-child {border-bottom: 1px solid #DFDFDF}
.list>li .th {flex: 0 75px;font-weight:500;}
.list>li .td {flex: 1;color: #6D6D6D;text-align: right;}
.list>li .td code {color: #6D6D6D;}
.list>li .th:before {content:'';display:inline-block;margin-right:7px;vertical-align: middle;width:2px;height:2px;background:#000000;}
.coupon_btn_wrap {margin:28px 0 28px 0;text-align:center;}
.coupon_btn_wrap .btn {display:block;width:100%;padding:20px 0;line-height:1;background:#000000;border-radius:7px;font-size:16px;color:#FFFFFF;font-weight:700;}
.coupon_btn_wrap .btn code {font-size:16px;color:#FFFFFF;font-weight:500;}
.coupon_btn_wrap .txt {margin-top:7px;font-size:14px;color:#575757;}
.coupon_btn_wrap .txt code {font-size:14px;color:#575757;}
.thumbview_detail .detail_txt_wrap {padding:30px 24px;background:#F8F8F8}
.thumbview_detail .detail_txt_wrap .th {font-size:16px;font-weight:700;color: #000000;}
.thumbview_detail .detail_txt_wrap .td {margin-top:7px;}
.thumbview_detail .detail_txt_wrap pre {font-size:13.5px;line-height:1.5;color: #575757;font-weight:300;}
.ly_pop_full{display:none;z-index:30;position:fixed;top:0;right:0;bottom:0;left:0}
.ly_pop_full:before{content:'';position:absolute;top:0;right:0;bottom:0;left:0;background-color:rgba(1,1,1,.8)}
.ly_pop_full .wrap{width:calc(100% - 48px);z-index:1;background-color:transparent;position:absolute;top:50%;left:50%;transform: translate(-50%, -50%);text-align:center;}
.ly_pop_full .coupon_btn_wrap .btn {background:#7253F3;}
.ly_pop_full h1 {font-size:22px;font-weight:500;color:#ffffff;}
.ly_pop_full .sub_txt {margin-top:30px;font-size:16px;font-weight:300;color:#ffffff;}
.ly_pop_full .sub_txt02 {position:absolute;bottom:45px;width:100%;text-align:center;font-size:14px;font-weight:300;color:#ffffff;opacity:0.61;}








