/* base */
body,div,p,h1,h2,h3,h4,h5,h6,ul,ol,li,dl,dt,dd,table,th,td,form,fieldset,legend,input,textarea,button,select{margin:0;padding:0}
p,menu,ul,ol,li,dl,dt,dd,table,th,td,form,fieldset,legend,input,textarea,button,select{line-height:14px}
table{border-collapse:collapse; border-spacing:0}
.ie7 table{table-layout:fixed}
img, button{border:0; font-size:0}
button{border:0;padding:0;background:transparent;cursor:pointer;*overflow:visible;outline:none; selector-dummy:expression(this.hideFocus=true)}
label{display:inline-block;vertical-align:middle;cursor:pointer;margin:-4px 5px 0 5px}
ul,ol{list-style:none}
menu,ul,ol,dl{font-size:0}
li,dt,dd{font-size:12px}
em,address{font-style:normal}
a{text-decoration:none;color:#666}
a:hover{text-decoration:underline;outline:none; selector-dummy:expression(this.hideFocus=true)}
a:active,a:visited{text-decoration:none}
fieldset{margin:0px; padding:0px; border:none}
.blind, legend{visibility:hidden;overflow:hidden;position:absolute;top:0;left:0;width:0;height:0;font-size:0;line-height:0}
caption{visibility:hidden;overflow:hidden;width:0;height:0;font-size:0;line-height:0}
hr{display:none}
body{background:#787878;font-family:'돋움','Dotum';font-size:12px;line-height:14px;color:#666}
.hide{display:none}

/* skip */
.skip{display:block;position:absolute;top:-1px;left:-1px;ove-3flow:hidden;height:1px;width:1px;font-size:0;line-height:0}
.skip:focus{position:static;width:auto;height:auto;padding:0.3em 0.5em;background:#031634;font-weight:700;font-size:11px;line-height:1.5;color:#fff;text-decoration:none;outline:none}

/* scrollbar color 
div,textarea{scrollbar-face-color:#fff; scrollbar-highlight-color:#fff; scrollbar-3dlight-color:#D2D2D2; scrollbar-darkshadow-color:#fff; scrollbar-shadow-color:#fff; scrollbar-arrow-color:#D2D2D2; scrollbar-track-color:#D2D2D2}

/* rollover */
.rollover a img, .rollover a input {display:inline}
.rollover a img.over, .rollover a input.over {display:none}
.rollover a:hover {position:relative}
.rollover a:hover img, .rollover a:hover input {display:none}
.rollover a:hover img.over, .rollover a:hover input.over {display:inline}
.rolloverNo a img, .rolloverNo a input {display:inline}
.rolloverNo a:hover img, .rolloverNo a:hover input, .rolloverNo .on img{display:inline}
.rolloverNo a:hover img.over, .rolloverNo a:hover input.over, .rolloverNo .on img.over{display:none}

/* align */
.fl{float:left}
.fr{float:right}
.clear{clear:both}
.clearfix{*zoom:1}
.clearfix:after{display:block;clear:both;content:''}
.tl{text-align:left !important}
.tc{text-align:center !important}
.tr{text-align:right !important}
.vt{vertical-align:top; position:relative}
.vm{vertical-align:middle}
.vamfix input, .vamfix select, .vamfix textarea{vertical-align:middle}
.vamfix img{position:relative; vertical-align:middle; margin-top:-2px}
.vamfix label {margin-top:-2px}
.vamfix input[type=radio], .vamfix input[type=checkbox]{margin-top:-3px}
.vab{vertical-align:bottom}

/* default value */
.m0{margin:0 !important}
.mt0{margin-top:0 !important}
.mr0{margin-right:0 !important}
.mb0{margin-bottom:0 !important}
.ml0{margin-left:0 !important}
.p0{padding:0 !important}
.pt0{padding-top:0 !important}
.pr0{padding-right:0 !important}
.pb0{padding-bottom:0 !important}
.pl0{padding-left:0 !important}
.br0{border:0 !important}
.brt0{border-top:0 !important}
.brr0{border-right:0 !important}
.brb0{border-bottom:0 !important}
.brl0{border-left:0 !important}

.mt5{margin-top:5px !important}
.mt7{margin-top:7px !important}
.mt8{margin-top:8px !important}
.mt10{margin-top:10px !important}
.mt15{margin-top:15px !important}
.mt20{margin-top:20px !important}
.mt25{margin-top:25px !important}
.mt30{margin-top:30px !important}
.mt35{margin-top:35px !important}
.mt40{margin-top:40px !important}
.mt45{margin-top:45px !important}
.mt50{margin-top:50px !important}
.mt55{margin-top:55px !important}
.mt60{margin-top:60px !important}
.mt65{margin-top:65px !important}
.mt65{margin-top:65px !important}
.mt100{margin-top:100px !important}

.ml3{margin-left:3px !important}
.ml5{margin-left:5px !important}
.ml7{margin-left:7px !important}
.ml10{margin-left:10px !important}
.ml15{margin-left:15px !important}
.ml17{margin-left:17px !important}
.ml20{margin-left:20px !important}
.ml25{margin-left:25px !important}
.ml30{margin-left:30px !important}
.ml40{margin-left:40px !important}
.ml45{margin-left:45px !important}
.ml50{margin-left:50px !important}

.mr3{margin-right:3px !important}
.mr5{margin-right:5px !important}
.mr10{margin-right:10px !important}
.mr15{margin-right:15px !important}
.mr17{margin-right:17px !important}
.mr20{margin-right:20px !important}
.mr25{margin-right:25px !important}
.mr30{margin-right:30px !important}
.mr40{margin-right:40px !important}
.mr50{margin-right:50px !important}

.pt8{padding-top:8px !important}
.pt12{padding-top:12px !important}
.pt40{padding-top:40px !important}
.pt50{padding-top:50px !important}
.pt65{padding-top:65px !important}
.pt70{padding-top:70px !important}
.pt90{padding-top:90px !important}
.pl10{padding-left:10px !important}
.pb100{padding-bottom:100px !important}

/* selectbox design */
.select{display:inline-block; *display:inline; position:relative;line-height:normal; vertical-align:middle; *zoom:1;z-index:20}
.select *{margin:0;padding:0;letter-spacing:-1px;font-size:12px;font-family:verdana;cursor:pointer}
.select .my_value{overflow:visible; position:relative; top:0; left:0; z-index:2; border:2px solid #707070; background-color:#fff;background-repeat:no-repeat;background-position:100% 50%;color:#5a5a5a;text-align:left; line-height:24px; .line-height:19px}
.select .my_value.selected{}
.select.open .my_value, .select .my_value.outLine{border:2px solid #7c86b4}
.select button.my_value{width:100%; height:24px; *padding-left:5px;text-indent:5px; *text-indent:0}
.select div.my_value{height:22px; text-indent:8px}
.select .ctrl{position:absolute; top:0; right:0; width:18px; height:22px; border:2px solid #7c86b4;border-left:1px solid #a0a9d0;background:#a0a9d0}
.select .arrow{position:absolute; width:0; height:0; top:9px; right:6px; border-top:3px solid #fff;border-left:3px solid #a0a9d0;border-right:3px solid #a0a9d0;font-size:0;line-height:0}
.select ul{overflow:hidden; position:absolute; top:23px; left:0; width:100%; border:0; border-top:1px solid #999; border-bottom:1px solid #999; background:#fff; list-style:none}
.select ul.a_list{display:none}
.select.open ul.a_list{display:block}
.select ul.i_list{left:-2000%}
.select.open ul.i_list{left:0}
.select li{overflow:hidden; position:relative; height:22px; border-left:1px solid #999; border-right:1px solid #999; white-space:nowrap;text-align:left !important}
.select li input.option{position:absolute; width:100%; height:20px; line-height:20px}
.select li label{position:absolute; top:0; left:0; width:100%; height:18px; background:#fff; color:#5a5a5a; line-height:18px; text-indent:8px; *text-indent:6px}
.select li a{display:block; height:22px; background:#fff; color:#5a5a5a; line-height:24px; text-indent:8px; *text-indent:6px; text-decoration:none}
.select li.hover *{background:#fff; color:#5a5a5a}
.select_go{overflow:visible; height:21px; width:28px; *margin:-1px 0 -1px 4px; padding:0; border:2px solid #bababa; background:#eee; font:bold 11px Tahoma; color:#5a5a5a; line-height:19px; _line-height:normal; vertical-align:middle; cursor:pointer}

.select1 button.my_value{padding-left:10px;background-image:url(../../img/common/selectbox_bu.gif);height:37px;line-height:37px;border-radius:4px;border:1px solid #ccc}
.select1 ul{top:35px;border-color:#ccc;z-index:30}
.select1 li{height:28px;border-color:#ccc}
.select1 li a{padding-left:10px;height:30px;line-height:30px}
.select1 li.hover *{background:#e0e0e0}
.select1.open .my_value, .select1 .my_value.outLine{border:1px solid #ccc}

.select2 button.my_value{padding-left:10px;background-image:url(../../img/common/selectbox_bu.gif);height:30px;line-height:28px;border:1px solid #ccc}
.select2 ul{top:29px;border-color:#ccc;z-index:30}
.select2 li{height:28px;border-color:#ccc}
.select2 li a{padding-left:10px;height:30px;line-height:30px}
.select2 li.hover *{background:#e0e0e0}
.select2.open .my_value, .select2 .my_value.outLine{border:1px solid #ccc}

.select3 button.my_value{padding-left:10px;background-image:url(../../img/common/selectbox_bu.gif);height:30px;line-height:28px;border-radius:4px;border:1px solid #ccc}
.select3 ul{top:29px;border-color:#ccc;z-index:30}
.select3 li{height:28px;border-color:#ccc}
.select3 li a{padding-left:10px;height:30px;line-height:30px}
.select3 li.hover *{background:#e0e0e0}
.select3.open .my_value, .select3 .my_value.outLine{border:1px solid #ccc}

/* text effect */
.elip{display:inline-block;overflow:hidden;white-space:nowrap;text-overflow:ellipsis;-o-text-overflow:ellipsis}
.mxw1{width:497px}
.mxw2{width:560px}
.mxw3{width:397px}
.mxw4{width:302px}
.mxw5{width:240px}
.mxw6{width:175px}
.mxw7{width:72px}
.txef{color:#2e51b4}
.txef2{color:#fbaa30}
.txef3{font-family:NanumBarunGothic;font-size:14px;color:#333}

/* form */
.inp1{overflow:hidden;display:inline-block;padding:4px;background:#fff;border-radius:3px;border:1px solid #ccc}
.inp1 input{width:100%;height:24px;line-height:22px;margin:0;padding:3px 0 0 13px;border:0;color:#474747}
.ie7 .inp1 input{height:22px}
.inp2{overflow:hidden;display:inline-block;height:20px;padding:4px;background:#fff;border:1px solid #ccc}
.inp3{overflow:hidden;display:inline-block;height:17px;padding:4px;background:#fff;border:1px solid #dedede}
.txtarea{padding:10px;border:1px solid #c9c9c9;line-height:16px}

.fileHidden{position:absolute; overflow:hidden; width:75px; height:30px; background:url(../../img/common/btn_srch3.gif) no-repeat 5px 0}
.fileBtn{position:absolute; left:5px; top:0; height:40px; width:105px; filter:alpha(opacity=0); opacity:0; -moz-opacity:0; cursor:pointer}

/* layout */
#wrap{}
#container{padding:40px 0;background:#ecedef}
.panel{width:984px;margin:0 auto;*zoom:1}
.panel:after{display:block;clear:both;content:''}
.scroll{overflow-y:auto;overflow-x:hidden}

#header{height:123px;background:url(../../img/common/header_bg.gif) repeat-x}
.lnb{float:right;height:35px}
.lnb li{float:left;margin-left:7px;padding:12px 0 0 8px;background:url(../../img/common/header_bar.gif) no-repeat 0 15px}
.lnb li:first-child{margin-left:0;padding-left:0;background:none}
.lnb li a{font-family:NanumBarunGothic;color:#fff}
.lnb li.n1{margin:4px 0 0 20px;padding:6px 14px 5px 14px;background:#fff}
.lnb li.n1 a{font-family:NanumBarunGothicBold;color:#da8118}
.gnb{position:relative;clear:both;border-right:1px solid #ddd;border-left:1px solid #ddd;*zoom:1}
.gnb:after{display:block;clear:both;content:''}
.gnb h1{float:left;width:178px;margin-top:21px;text-align:center}
.gnb > ul{position:relative;float:left;background:#fff;z-index:1}
.gnb li{overflow:hidden;float:left;height:87px;border-left:1px solid #ddd}
.gnb li a{display:block;width:200px;padding:35px 0 52px;text-align:center;font-family:NanumBarunGothicBold;font-size:19px;color:#4b4c50}
.gnb li a:hover{text-decoration:none}
.gnb li.n1 a{background:url(../../img/common/header_icon_menu.gif) no-repeat 30px 32px;color:#1073b8}
.gnb .submenu{display:none;position:absolute;top:87px;left:-1px;width:804px;padding-left:178px;border:1px solid #ddd;background:#fff url(../../img/common/gnb_submenu_bg.gif) no-repeat 0 100%}
.gnb .submenu ul{overflow:hidden;height:0;float:left;width:200px;padding-top:11px;border-left:1px solid #ddd}
.gnb .submenu ul.last{border-right:1px solid #ddd}
.gnb .submenu li{clear:both;height:auto;margin-top:12px;border-left:0}
.gnb .submenu li a{padding:0;font-family:NanumBarunGothicBold;line-height:16px;font-size:14px;color:#888}
.gnb .submenu .btClose{position:absolute;bottom:5px;right:5px}
.snb{float:left;width:180px}
.snb h2{padding:70px 0 68px;background:#2e51b4;text-align:center;font-family:NanumBarunGothicBold;line-height:31px;font-size:29px;color:#fff}
.snb .menu_v{clear:both;background:#fff;border-right:1px solid #d3d3d3;border-left:1px solid #d3d3d3}
.snb .menu_v a{display:block}
.snb .menu_v > ul > li{border-bottom:1px solid #d3d3d3}
.snb .menu_v > ul > li > a{padding:17px 0 15px 20px;font-family:NanumBarunGothicBold;font-size:13px}
.snb .menu_v > ul > li:hover > a, .snb .menu_v > ul > li.active > a{background:#f5f5f5 url(../../img/common/snb_ico_bu.gif) no-repeat 92% 48%;text-decoration:none;color:#2e51b4}

#content{overflow:hidden;float:right;width:704px;padding:45px 40px;background:#fff}
#content h1{margin-top:12px;padding-bottom:14px;;border-bottom:1px solid #cdcdcd;font-family:NanumBarunGothicBold;line-height:33px;font-size:31px;color:#333}

#footer{position:relative;clear:both;width:984px;margin:0 auto;padding:23px 0 25px}
#footer ul{*zoom:1}
#footer ul:after{display:block;clear:both;content:''}
#footer li{float:left;margin-left:9px;padding-left:10px;background:url(../../img/common/footer_bar.gif) no-repeat 0 2px}
#footer li:first-child{margin-left:0;padding-left:0;background:none}
#footer li a{}
#footer li a img{vertical-align:top}
#footer address{margin-top:10px;line-height:16px;font-size:11px;color:#bcbcbc}
#footer .btSitemap{position:absolute;top:19px;right:0}

/* paging */
.pgSt{position:relative;width:100%;text-align:center}
.pgSt img{vertical-align:middle}
.pgSt a{border:1px solid #d3d3d3;text-decoration:none;color:#757b87}
.pgSt a, .pgSt strong{display:inline-block;min-width:16px;height:25px;line-height:26px;margin-left:5px;padding:0 4px}
.pgSt a:hover, .pgSt strong{border:1px solid #666;background:#666;font-weight:bold;color:#fff}
.pgSt a.prev, .pgSt a.next, .pgSt a.first, .pgSt a.last{height:auto;padding:0;border:0}
.pgSt a.prev, .pgSt a.prev:hover, .pgSt a.next, .pgSt a.next:hover,
.pgSt a.first, .pgSt a.first:hover, .pgSt a.last, .pgSt a.last:hover{padding:0;background:none;border:0;font-size:0}
.pgSt a.prev img, .pgSt a.next img,
.pgSt a.first img, .pgSt a.last img{position:relative;top:-4px}
.pgSt a.prev{margin-right:0}
.pgSt a.next{margin-right:0;margin-left:5px}
.pgSt a.first{margin-left:0}
.pgSt a.last{margin-left:5px}
.ie7 .pgSt a.prev img, .ie7 .pgSt a.next img{top:-3px}

.pgst2{clear:both;border-top:1px solid #a0a0a0;border-bottom:1px solid #a0a0a0}
.pgst2 li{padding:13px 0 13px 20px;border-top:1px solid #d3d3d3}
.pgst2 li:first-child{border-top:0}
.pgst2 li strong{display:inline-block;margin-right:40px;padding-right:20px;background-repeat:no-repeat;background-position:100% 50%;font-family:NanumBarunGothicBold;line-height:18px;font-size:16px;color:#333}
.pgst2 li strong.prev{background-image:url(../../img/common/bu02.gif)}
.pgst2 li strong.next{background-image:url(../../img/common/bu01.gif)}
.pgst2 li a{vertical-align:middle}

/* tab */
.tabSt{clear:both;background:url(http://image.findall.co.kr/FACache/Land/common/tab_bg_line3.gif) repeat-x 0 100%;*zoom:1}
.tabSt:after{display:block;clear:both;content:''}
.tabSt li{float:left;margin-left:-1px;border-width:1px 1px 0 1px;border-style:solid;border-color:#cacaca;background:#fff}
.tabSt li:first-child{margin-left:0}
.tabSt li a{display:block;height:24px;padding-top:10px;text-align:center;font-family:NanumBarunGothicBold;color:#333}
.tabSt li.selected{position:relative;padding-bottom:1px;border:2px solid #1e1e1e;border-bottom:0;background:#fff}
.tabSt li a:hover, .tabSt li.selected a{text-decoration:none;color:#333}
.tabSt li.n1 a{width:232px}
.tabSt li.n2 a{width:234px}
.tabSt li.n3 a{width:174px}
.tabSt li.n4 a{width:175px}

/* bbs */
.bbsLst{clear:both;border-top:2px solid #000}
.bbsLst table{width:100%}
.bbsLst th, .bbsLst td{padding-top:12px;padding-bottom:12px;}
.bbsLst th{border-bottom:1px solid #a0a0a0;background:#f8f8f8;font-family:NanumBarunGothicBold;line-height:18px;font-size:16px;color:#333}
.bbsLst td{text-align:center;border-bottom:1px solid #d3d3d3}
.bbsLst td a:hover{font-weight:bold}
.bbsLst td > div{margin-right:15px;margin-left:15px;text-align:left}
.bbsLst .nodata{padding:35px 0;text-align:center}

.bbsView{clear:both}
.bbsView .title{padding:13px 0;border-top:2px solid #000;border-bottom:1px solid #a0a0a0;background:#f8f8f8}
.bbsView .title table{width:100%}
.bbsView .title td{text-align:center}
.bbsView .title .subject{text-align:left;font-weight:bold;line-height:17px;color:#333}
.bbsView .title .subject > div{margin:0 20px}
.bbsView .title .subject .txt{display:inline-block;margin-right:5px;vertical-align:middle;font-family:NanumBarunGothic;line-height:17px;font-size:16px}
.bbsView .list{clear:both;border-top:1px solid #a0a0a0;border-bottom:1px solid #a0a0a0}
.bbsView .list table{width:100%}
.bbsView .list th, .bbsView .list td{padding-top:13px;padding-bottom:13px;border-bottom:1px solid #d3d3d3}
.bbsView .list .subject{text-align:left;font-family:NanumBarunGothic;font-size:14px;color:#333}
.bbsView .list .subject > div{margin-left:20px}
.bbsView .list tr.last th, .bbsView .list tr.last td{border-bottom:0}
.bbsView .article{clear:both;padding:20px;border-bottom:1px solid #d3d3d3;line-height:17px}
.bbsView .file{padding:8px 20px 15px;border-bottom:1px solid #d3d3d3}
.bbsView .file, .bbsView .file li{clear:both}
.bbsView .file li{margin-top:5px}
.bbsView .file a{margin-left:10px;text-decoration:underline}
.bbsView .file, .bbsView .file img{vertical-align:middle}

/* table */
.tblSt{clear:both;border-top:2px solid #000}
.tblSt table{width:100%;border-bottom:1px solid #a0a0a0}
.tblSt th, .tblSt td{padding-top:15px;padding-bottom:14px;border-top:1px solid #d3d3d3}
.tblSt tr.first th, .tblSt tr.first td{border-top:0}
.tblSt tr.type th, .tblSt tr.type td{padding-top:7px;padding-bottom:7px}
.tblSt th{background:#f8f8f8;text-align:left}
.tblSt th > span{margin-left:30px}
.tblSt th em{color:#ff0000}
.tblSt td > div{margin-right:10px;margin-left:10px}
.tblSt tr.line th, .tblSt tr.line td{border-top:1px solid #a0a0a0}
.tblSt.v1 th{text-align:center;color:#333}
.tblSt.v1 th, .tblSt.v1 td{border-left:1px solid #d3d3d3}
.tblSt.v2 th, .tblSt.v2 td{border-left:1px solid #d3d3d3}
.tblSt.v2 th{text-align:center;color:#333}
.tblSt.v2 td{text-align:center}
.tblSt.v3 th, .tblSt.v3 td{border-left:1px solid #d3d3d3}
.tblSt.v3 th{border-right:1px solid #a0a0a0;border-left:1px solid #a0a0a0;text-align:center;color:#333}
.tblSt.v3 td{text-align:right}