@charset "euc-kr";

@font-face {
  font-family: 'NanumBarunGothic';
  font-style: normal;
  font-weight: 400;
  src: local('Nanum Barun Gothic Regular'), local('Nanum Barun Gothic-Regular'), local('NanumBarunGothic Regular');
  src: url(font/NanumBarunGothic.eot);
  src: url(font/NanumBarunGothic.eot?#iefix) format('embedded-opentype'),
       /*url(font/NanumBarunGothic.woff) format('woff'),*/
       url(font/NanumBarunGothic.ttf) format('truetype');
}
@font-face {
  font-family: 'NanumBarunGothicBold';
  font-style: normal;
  font-weight: 700;
  src: local('Nanum Barun Gothic Bold'), local('Nanum Barun Gothic-Bold'), local('NanumBarunGothic Bold');
  src: url(font/NanumBarunGothicBold.eot);
  src: url(font/NanumBarunGothicBold.eot?#iefix) format('embedded-opentype'),
       /*url(font/NanumBarunGothicBold.woff) format('woff'),*/
       url(font/NanumBarunGothicBold.ttf) format('truetype');
}
