@charset "utf-8";

@import url('font.css?v=2014-11-30');
@import url('common.css?v=2014-11-30');

.path{font-size:11px}
.path strong{color:#3393d5}

.sta{overflow:hidden;height:37px}
.sta .select, .sta .inp1, .sta input, .sta .txt, .sta .bar{vertical-align:top}
.sta .txt{display:inline-block;margin:15px 10px 0 0;font-family:NanumBarunGothic;font-size:14px;color:#333}
.sta .bar{display:inline-block;margin:15px 8px}
.ie7 .sta .select{margin-right:5px}

.base_count{color:#333}
.base_count strong{color:#2e51b4}
.base_caution{font-family:NanumBarunGothic;line-height:16px;font-size:14px}
.base_caution2{clear:both;text-align:right}
.base_caution2 b{margin-right:10px;font-family:NanumBarunGothicBold;font-size:14px;color:#2e51b4}
.base_caution2 img{vertical-align:middle}

.hst{clear:both;padding-top:17px;background:url(../../img/content/01_03_bar.gif) no-repeat;font-family:NanumBarunGothicBold;font-size:22px;color:#333}
.hst2{clear:both;padding-top:17px;background:url(../../img/common/bu04.gif) no-repeat;font-family:NanumBarunGothicBold;line-height:24px;font-size:22px;color:#333}
.hst3{clear:both;padding:10px 0;background:url(../../img/common/bg_pattern.gif);text-align:center;font-size:16px;color:#fff}

/* main */
.main_ct{float:none !important;width:984px !important;margin:0 auto;padding:0 !important;background:none !important}
.main_ct .visual{height:405px;background:url(../../img/content/main_visual.jpg) no-repeat}
.main_ct .section{margin-top:20px;*zoom:1}
.main_ct .section:after{display:block;clear:both;content:''}
.main_ct .section li{float:left;width:299px;height:125px;margin-left:15px;padding:25px 0 0 19px}
.main_ct .section li h3{line-height:28px;font-size:26px;font-family:NanumBarunGothicBold;color:#fff}
.main_ct .section li p{margin:7px 0 10px;font-family:NanumBarunGothic;line-height:17px;font-size:13px}
.main_ct .section li:first-child{margin-left:0}
.main_ct .section li.n1{background:url(../../img/content/main_section1_bg.gif)}
.main_ct .section li.n1 p{color:#caeaec}
.main_ct .section li.n2{background:url(../../img/content/main_section2_bg.gif)}
.main_ct .section li.n2 p{color:#9fcceb}
.main_ct .section li.n3{background:url(../../img/content/main_section3_bg.gif)}
.main_ct .section li.n3 p{color:#f6e1c0}
.main_ct .notice{position:relative;float:left;width:609px;height:309px;padding:28px 20px 0 20px;background:#fff;border:1px solid #e5e5e5}
.main_ct .notice .tab{padding-bottom:18px;margin-bottom:13px;border-bottom:1px solid #8a8f99;*zoom:1}
.main_ct .notice .tab:after{display:block;clear:both;content:''}
.main_ct .notice .tab li{float:left;margin-left:15px;padding-left:15px;background:url(../../img/content/main_notice_bar.gif) no-repeat 0 1px}
.main_ct .notice .tab li:first-child{margin-left:0;padding-left:0;background:none}
.main_ct .notice .tab li a{font-family:NanumBarunGothicBold;line-height:21px;font-size:19px;color:#888}
.main_ct .notice .tab li a:hover{text-decoration:none}
.main_ct .notice .tab li a.selected{color:#393b40}
.main_ct .notice .btMore{position:absolute;top:25px;right:24px}
.main_ct .notice table{width:100%}
.main_ct .notice table tr.first th, .main_ct .notice table tr.first td{background:none !important}
.main_ct .notice th, .main_ct .notice td{padding-top:13px;padding-bottom:13px;background:url(../../img/content/main_notice_line.gif) repeat-x}
.main_ct .notice th > span, .main_ct .notice td > span{margin-left:10px}
.main_ct .notice th{text-align:left;font-weight:normal}
.main_ct .notice th strong{color:#1073b8}
.main_ct .notice th a{width:340px}
.main_ct .notice td{text-align:center}
.main_ct .notice #advertise{display:block}
.main_ct .survey{float:right;width:288px;height:309px;padding:28px 0 0 28px;background:#fff;border:1px solid #e5e5e5}
.main_ct .survey h3{font-family:NanumBarunGothicBold;line-height:21px;font-size:19px;color:#393b40}
.main_ct .survey p.txt{margin-top:7px;font-size:11px;color:#888}
.main_ct .survey p.txt2{margin-top:18px;padding-left:12px;background:url(../../img/content/main_survey_icon.gif) no-repeat 0 4px;font-weight:bold;color:#333}
.main_ct .survey dl{margin-top:18px}
.main_ct .survey dt{position:relative;padding-left:16px;font-weight:bold;line-height:16px;color:#1073b8}
.main_ct .survey dt span{position:absolute;top:0;left:0;font-weight:normal;font-family:NanumBarunGothicBold;font-size:15px}
.main_ct .survey dd{padding-top:6px}
.main_ct .survey ul{margin-left:17px;*zoom:1}
.main_ct .survey ul:after{display:block;clear:both;content:''}
.main_ct .survey li{float:left;width:125px;margin-top:8px}
.main_bn{position:relative;clear:both;width:984px;margin:0 auto;background:#fff;border:1px solid #e5e5e5;*zoom:1}
.main_bn:after{display:block;clear:both;content:''}
.main_bn h3{float:left;width:153px;padding:21px 0 0 20px}
.main_bn #mainBn{overflow:hidden;float:left;width:809px}
.main_bn .slides td{height:75px;padding-right:55px}
.main_bn .slides .type td{padding-right:110px}
.main_bn .flex-direction-nav, .main_bn .flex-pauseplay{position:absolute;top:40px}
.main_bn .flex-direction-nav li, .main_bn .flex-pauseplay li{float:left;margin-left:3px}
.main_bn .flex-direction-nav a, .main_bn .flex-pauseplay a{display:block;width:14px;height:14px;background-image:url(../../img/content/main_bn_nav.gif);background-repeat:no-repeat;text-indent:-3000em}
.main_bn .flex-direction-nav{left:20px}
.main_bn .flex-pauseplay{left:54px}
.main_bn .flex-pauseplay a{float:left;margin-left:3px}
.main_bn .flex-play{background-position:-34px 0}
.main_bn .flex-pause{background-position:-51px 0}
.main_bn .flex-prev{background-position:0 0}
.main_bn .flex-next{background-position:-17px 0}

/* GSTIS소개 */
.p01_bg{height:1799px;background:url(../../img/content/01_01_img.jpg) no-repeat}
.p02_bg{height:2419px;background:url(../../img/content/01_02_img.jpg) no-repeat}

/* 통계 */
.chart_form{padding:5px;background:url(../../img/common/bg_pat.gif)}
.chart_form .inner{padding:2px 20px 20px;background:#fff}
.chart_form table{width:100%}
.chart_form th, .chart_form td{padding-top:18px}
.chart_form th{text-align:left}
.chart_form th > span{display:inline-block;padding-left:9px;background:url(../../img/common/bu03.gif) no-repeat 0 50%;font-family:NanumBarunGothic;line-height:16px;font-size:14px;color:#333}
.chart_form .chkLst{*zoom:1}
.chart_form .chkLst:after{display:block;clear:both;content:''}
.chart_form .chkLst li{width:100px}
.chart_form .chkLst2{float:left;margin-left:9px}
.chart_form .chkLst2 li{clear:both;margin-top:10px;font-size:11px}
.chart_form .chkLst3{padding-bottom:10px}
.chart_form .chkLst li{float:left;font-size:11px}
.chart_form .txtLst{clear:both;padding:10px;line-height:16px;font-size:11px;color:#2e51b4}
.chart_form .txtLst{}
.chart_form .link{margin-top:5px;text-align:right}
.chart_form .link a{margin-left:5px}
.ie7 .chart_form .chkLst2{margin-left:0}
.ie7 .chart_form .chkLst2 li{margin-top:4px}
.ie7 .chart_form .chkLst3{padding-bottom:7px}
.chart_tab{clear:both;*zoom:1}
.chart_tab:after{display:block;clear:both;content:''}
.chart_tab li{float:left;margin-right:3px}
.chart{clear:both;margin-top:3px;border:1px solid #cacaca}
.chart_tbl{clear:both;border-top:2px solid #000}
.chart_tbl table{width:100%;border-right:1px solid #a0a0a0}
.chart_tbl th, .chart_tbl td{padding-top:11px;padding-bottom:11px;border-left:1px solid #a0a0a0;border-bottom:1px solid #a0a0a0}
.chart_tbl th{background:#f8f8f8;font-family:NanumBarunGothic;font-size:14px;color:#333}
.chart_tbl td{text-align:right}
.chart_tbl td > div{margin-right:14px}
.chart_caution_lst{clear:both;padding:0 20px 20px;border:1px solid #cacaca}
.chart_caution_lst th, .chart_caution_lst td{padding-top:16px;vertical-align:top;line-height:19px}
.chart_caution_lst th > span{padding-left:7px;background:url(../../img/common/bu05.gif) no-repeat 0 50%;color:#2e51b4}
.chart_caution_lst td{}
.chart_caution_lst{}

/* 관련기관 안내 */
.family_info{clear:both;border-left:1px solid #cacaca}
.family_info table{width:100%}
.family_info td{width:20%;height:98px;border-top:1px solid #cacaca;border-right:1px solid #cacaca;border-bottom:1px solid #cacaca;text-align:center}
.family_info td img{display:inline-block;margin-bottom:10px}

/* 사이트맵 */
.sitemap{clear:both;*zoom:1}
.sitemap:after{display:block;clear:both;content:''}
.sitemap .box{float:left;width:168px;margin-left:10px;text-align:center}
.sitemap h3{padding:13px 0 10px;background:#1073b8;font-family:NanumBarunGothicBold;line-height:18px;font-size:16px;color:#fff}
.sitemap li{border-bottom:1px solid #cacaca}
.sitemap li a{display:block;padding:11px 0 8px;font-family:NanumBarunGothicBold;line-height:16px;font-size:14px;color:#333}

/* 로그인 */
.lognForm{clear:both;width:402px;margin:0 auto;padding:54px 74px 50px;background:#fafafa;border:4px solid #cdcdcd}
.lognForm table{width:100%}
.lognForm th, .lognForm td{vertical-align:top}
.lognForm th{padding-top:5px;text-align:left;font-family:NanumBarunGothicBold;line-height:16px;font-size:14px;color:#444}
.lognForm td{padding-bottom:9px}
.lognForm .chk{margin:3px 0 0 70px}
.lognForm .chk label{font-size:11px}
.lognForm ul{clear:both;margin-top:40px;padding:30px 10px 0 9px;border-top:1px solid #ddd;*zoom:1}
.lognForm ul:after{display:block;clear:both;content:''}
.lognForm li{float:right}
.lognForm .txt{float:left;margin-top:6px;padding-left:7px;background:url(../../img/common/bu03.gif) no-repeat 0 5px;font-family:NanumBarunGothicBold}