@import 'mixin';

// 문자보간 #{}을 이용해 코드의 어디든지 변수 값을 넣을 수 있다
$family: unquote("Droid+sans"); //sass의 내장함수
@import url("http://fonts.googleapis.com/css?family=#{$family}");

.container{
    $size: 100px;
    .item{
        width:$size;
        height:$size;
        background:tomato
    }
}

// 중첩 밖에서 사용해야할 경우
.list{
    $w: 100px !global;
    $h: 100px !global;
    li{
        width:$w;
        height:$h;
    }
    @at-root .box2{
        width:$w;
        height:$h;
        background:tomato;
    }
}

// 동일한 네임 스페이스를 가지는 속성들
.box{
    font:{
        weight: bold;
        size: 10px;
        font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    }
    margin:{
        top: 10px;
        left: 20px;
    }
    padding:{
        bottom:40px;
        right:30px;
    }
}

// 전역설정 !global(플래그) 변수의 유효범위를 설정
$color: red;
.box3{
    width:$w;
    height:$h;
    $color: #111 !global;
    background:$color;
}
.box3_1{
    width:$w;
    height:$h;
    background:$color
}
.box3_2{
    $color:blue;
    width:$w;
    height:$h;
    background:$color
}

// 변수 초기값 설정 !default(플래그) 할당되지 않은 변수의 초기값 설정 할당되어 있는 변수가 있다면 변수가 기존 할당 값을 사용
$color: red;
.box4{
    width:$w;
    height:$h;
    $color: #111 !default;
    background:$color;
}
.box4_1{
    $color: #111 !default;
    width:$w;
    height:$h;
    background:$color
}

// color 연산
.box5{
    width:$w;
    height:$h;
    $color:rgba(0,0,0,.5);
    color:opacify($color, .3); // 30% 더 불투명하게 / .5 + .3
    background-color:transparentize($color, .2) // 20% 더 투명하게 / .5 - .2
}

/*
논리연산 if
    ㄴand 그리고
    ㄴor 또는
    ㄴnot 부정(분대)
*/
.box6{
    $w:100px;
    display:block;
    @if ($w > 50px and $w > 90px){
        width:400px;
    }
    @if not ($w < 50px){ // 조건의 반대
        width:400px;
    }
}

// 가변인수의 개념
.box7{
    @include var(
        100px,
        200px,
        url("image/01.png") no-repeat 10px 20px,
        url("image/02.png") no-repeat
    );
}
.box8{
    div{
        // 매개변수 순서와 개수에 맞게 전달
        $font-values: italic, bold, 16px, sans-serif;
        @include font($font-values...);
    }
    span{
        // 필요한 값만 키워드 인수로 변수에 담아 전달
        $font-values: (style: italic, size: 22px); // map 데이터 형태
        @include font($font-values...);
    }
    a{
        // 필요한 값만 키워드 인수로 전달
        @include font((weight:900, family: monospace)...);
    }
}

// @content
.box9{
    @include icon("image/01.png") {
        display:block;
        width:$w;
        height:$h;
    };
}

// @extend
.box10{
    @extend .box5;
    background:darkblue;    
}

// 함수
@function columns($number:1, $columns:12, $width:1200px){
    @return $width * ($number / $columns);
}
.box11{
    $width:980px;
    li:nth-child(1){
        width: columns();
    }
    li:nth-child(2){
        width: columns(8);
    }
    li:nth-child(3){
        width: columns(3);
    }
}

// if함수
.box12{
    $w:550px;
    width: if($w>300px, $w, null);
    height:100px;
    background:red
}

// if조건문(지시어)
@function limitSize($size){
    @if ($size >= 0 and $size <= 200px){
        @return 200px;
    }@else {
        @return 800px;
    }
}
.box13{
    width: limitSize(180px);
    height: limitSize(340px);
    background:red;
}
.box14{
    @include positionCenter(100px, 100px, fixed);
}
.box15{
    @include positionCenter(100px, 100px, relative);
}

// for문
@for $index from 1 through 3 {
    .through li:nth-child(#{$index}){
        width:20px * $index;
        height:20px * $index;
        background:red
    }
}
@for $index from 2 to 5 {
    .to li:nth-child(#{$index}){
        width:20px * $index;
        height:20px * $index;
        background:blue
    }
}

// each반복문
$fruits: (apple, orange, banna, mango);
.fruits{
    @each $fruit in $fruits {
        $index: index($fruits, $fruit);
        li:nth-child(#{$index}){
            left:50px * $index;
            // background: url("image/#{$fruit}.png");

        }
    }
}
// ease반복문 map
$fruits-data: (
    apple: korea,
    orange: china,
    banana: japan
);
@each $fruit, $country in $fruits-data{
    // map-keys($fruits-data) => (apple, orange, banana)
    // map-values($fruits-data) => (korea, china, japan)
    $fruits-data-key-list: map-keys($fruits-data);
    $index: index($fruits-data-key-list, $fruit);
    .fruits-data li.#{$fruit}{
        width:100px * $index;
        background:url("image/#{$country}.png");
    }
}