/* base */
html{font-size:125%;font-size:3.125vw}
html,body{position:relative}
header{height:44px;padding:4px 16px 11px;z-index:3}
.header_inner{padding-bottom:2px}
.header_tit{font-size:18px;line-height:27px}
.ico-back{top:1px}
.header_btn{width:28px;height:28px}
@media all and (min-width: 586px) { /* 폴더폰 */
    html{font-size:76.5%}
}

/* 소개 */
/* .aboutBg{overflow:hidden !important;background-color:#f2f3f5} */
.aboutCont{
    position: relative;height:100%;
    line-height:1.4;text-align:center;
    -webkit-transition-duration:.5s;transition-duration:.5s;
    -webkit-transition-timing-function:ease;transition-timing-function:ease;
}
.aboutCont:after{
    content:'';display:inline-block;width:2.4rem;height:1.4rem;
    background:url(../image/license/section1_ico_dw.png) no-repeat;background-size:100% 100%;
    position:absolute;bottom:1rem;left:50%;z-index:1;
    -webkit-transform: translate(-50%, -10px);transform: translate(-50%, -10px);
    -webkit-animation: up-down-bounce .5s cubic-bezier(.63,.09,.75,.46) infinite alternate;
    animation: up-down-bounce .5s cubic-bezier(.63,.09,.75,.46) infinite alternate;
}
.aboutCont.last:after{
    opacity:0;
}
.aboutCont .swiper-container{width:100%;height:100%}
.aboutCont .swiper-slide{overflow-y:scroll;-webkit-overflow-scrolling:touch}
.aboutCont .fp-tableCell{vertical-align:top}
.aboutCont .swiper-pagination{text-align:center;width:100%}
.aboutCont .swiper-pagination-bullet{width:8px;height:8px;margin:0 2px !important;top:0;left:0;background-color:#535353;opacity:1}
.aboutCont .swiper-pagination-bullet-active{background-color:#4d9fff}
.aboutCont .titGoup{position:absolute;left:0;right:0;top:6rem;z-index:2;overflow:hidden}
.aboutCont h2{display:inline-block;background-image:url(../image/license/bg_title.png);background-size:32rem auto}
.aboutCont .txt{font-size:1.4rem;font-weight:300;color:#222}
.aboutCont .po{color:#4d9fff !important}
.aboutCont figure{display:block;position:absolute;left:0;right:0;bottom:0}
.aboutCont figure i,
.aboutCont figure i:before,
.aboutCont figure i:after{
    -webkit-transition-duration:.5s;transition-duration:.5s;
    -webkit-transition-delay:0;transition-delay:0;
    opacity:0;
}
.aboutCont [class*="active"] [class*="active"] figure i,
.aboutCont [class*="active"] [class*="active"] figure i:before,
.aboutCont [class*="active"] [class*="active"] figure i:after{opacity:1}
.aboutCont figure i{
    display:inline-block;background-size:100% 100%;position:absolute;font-style:normal;left:50%;
    -webkit-transform: translateX(-50%);transform: translateX(-50%)
}
.aboutCont figure i:before,
.aboutCont figure i:after{background-size:100% 100%;position:absolute;display:inline-block}
.aboutCont .swiper-pagination{bottom:auto !important}
.aboutCont .skip{display:inline-block;width:19rem;height:4rem;line-height:3.9rem;background-color:#4d9fff;color:#fff;font-weight:500;font-size:1.4rem;border-radius:2rem}
.aboutCont .section{position:absolute;left:0;right:0;display:block}
.aboutCont #section1{
    background:url(../image/license/section1_bg.png) repeat-x 0 100%;
    background-size:auto 35rem;background-color:#fff;
}
/* .aboutCont #section1 .fp-scroller{height:100%} */
/* .aboutCont #section1,
.aboutCont #section1 .fp-scrollable,
.aboutCont #section1 .fp-scroller{height:62rem !important} */
.aboutCont #section1 .swiper-pagination{top:26.8rem}
.aboutCont #section1 h2{width:22.5rem;height:10.5rem}
.aboutCont #section1 .txt{margin-top:1.5rem}
.aboutCont #section1 .txt2{margin-top:1rem;font-weight:300;font-size:1.2rem;color:#959595}
.aboutCont #section1 figure{height:27rem;bottom:0}
/* 1-1 */
.aboutCont #section1 .swiper-slide:first-child figure i{left:auto}
.aboutCont #section1 figure i{opacity:0}
.aboutCont #section1 figure .back{
    background-image:url(../image/license/section1_hp.png);opacity:1;
    background-repeat:no-repeat;background-position:1rem 0;
    width:31.05rem;height:28.25rem;right:0;bottom:-5.75rem;
    -webkit-transform: translateX(0);transform: translateX(0)
}
.aboutCont #section1 figure .icon{
    width:7.45rem;height:7.45rem;top:5rem;right:6.5rem;
    background-image:url(../image/license/section1_ico1.png);
    -webkit-transform: translate(5%,70%) scale(0);transform: translate(5%,70%) scale(0)
}
.aboutCont #section1 figure .icon2{
    width:5.45rem;height:5.45rem;top:18rem;right:21.8rem;
    background-image:url(../image/license/section1_ico2.png);
    -webkit-transform: translate(100%,0%) scale(0);transform: translate(100%,0%) scale(0)
}
.aboutCont #section1 figure .user{
    width:22.05rem;height:13.6rem;top:12.5rem;right:1.5rem;
    background-image:url(../image/license/section1_license.png);
    -webkit-transform: translate(-10%, 5%);transform: translate(-10%, 5%);
}
.aboutCont #section1[class*="active"] [class*="active"] figure i{opacity:1}
.aboutCont #section1[class*="active"] [class*="active"] figure .user{
    -webkit-transform: translate(0, 0);transform: translate(0, 0);
    -webkit-transition-delay: .5s;transition-delay: .5s;
}
.aboutCont #section1[class*="active"] [class*="active"]  figure .icon,
.aboutCont #section1[class*="active"] [class*="active"]  figure .icon2{
    -webkit-transform:translate(0,0) scale(1);transform:translate(0,0) scale(1);
    -webkit-transition-timing-function:cubic-bezier(0.175, 0.885, 0.320, 1.275);
    transition-timing-function:cubic-bezier(0.175, 0.885, 0.320, 1.275);
}
.aboutCont #section1[class*="active"] [class*="active"]  figure .icon{
    -webkit-transition-delay: .75s;transition-delay: .75s;
}
.aboutCont #section1[class*="active"] [class*="active"]  figure .icon2{
    -webkit-transition-delay: .95s;transition-delay: .95s;
}
@media all and (min-width: 586px) { /* 폴더폰 */
    .aboutCont #section1 figure .back{
        width:37.55rem;height:27.55rem;right:2rem;bottom:-5.2rem;
        background-image:url(../image/license/section1_hp3.png);
        background-position:0 0;
    }
    .aboutCont #section1 figure .icon{
        width:7.45rem;height:7.45rem;top:5rem;right:14.5rem;
    }
    .aboutCont #section1 figure .icon2{
        width:5.45rem;height:5.45rem;top:18rem;right:31rem;
    }
    .aboutCont #section1 figure .user{
        width:22.05rem;height:13.6rem;top:12.5rem;right:10.5rem;
    }
}
/* //1-1 */
/* 1-2 */
.aboutCont #section1 figure .back2{width:19.55rem;height:17.95rem;bottom:0;background-image:url(../image/license/section1_hp2.png);margin-left:.5rem;opacity:1}
.aboutCont #section1 figure .ball{
    width:12.3rem;height:4.8rem;top:13rem;margin-left:-5.5rem;
    background-image:url(../image/license/section1_ball.png);
    -webkit-transform: translate(-50%, 20%);transform: translate(-50%, 20%);
}
.aboutCont #section1 figure .ball2{
    width:16.1rem;height:4.8rem;top:17.3rem;margin-left:4.5rem;
    background-image:url(../image/license/section1_ball2.png);
    -webkit-transform: translate(-50%, 20%);transform: translate(-50%, 20%);
}
.aboutCont #section1 figure .bar{
    width:15.1rem;height:.6rem;bottom:2.7rem;margin-left:.4rem;
    background-image:url(../image/license/section1_bar.png);opacity:1;
}
.aboutCont #section1[class*="active"] [class*="active"] figure .bar{
    -webkit-animation: line-up-down 1s ease-in-out .25s 1 alternate forwards;
    animation: line-up-down 1s ease-in-out .25s 1 alternate forwards;
}
.aboutCont #section1[class*="active"] [class*="active"] figure .ball,
.aboutCont #section1[class*="active"] [class*="active"] figure .ball2{
    -webkit-transform: translate(-50%, 0);transform: translate(-50%, 0);
    -webkit-transition-timing-function:cubic-bezier(0.175, 0.885, 0.320, 1.275);
    transition-timing-function:cubic-bezier(0.175, 0.885, 0.320, 1.275);
}
.aboutCont #section1[class*="active"] [class*="active"] figure .ball{-webkit-transition-delay: 1.25s;transition-delay: 1.25s}
.aboutCont #section1[class*="active"] [class*="active"] figure .ball2{-webkit-transition-delay: 1.5s;transition-delay: 1.5s}
/* //1-2 */
.aboutCont #section1 figure .user2{width:20.4rem;height:14rem;background-image:url(../image/license/section1_license2.png);bottom:3.8rem}
.aboutCont #section1 figure .ball3{
    width:8.95rem;height:9.05rem;bottom:1.75rem;margin-left:8.3rem;
    background-image:url(../image/license/section1_ball3.png);
    flex-direction:column;justify-content:center;display:flex;align-items:center;
    font-size:1.173rem;color:#fff;line-height:1.2;
}
.aboutCont #section1 figure .ball3 span{display:inline-block;margin-top:-.5rem;color:#a5ceff}
.aboutCont #section1 figure .ball3 strong{font-family: 'Roboto', sans-serif;font-size:1.9725rem}

.aboutCont #section2{background-color:#deedff}
.aboutCont #section2 .txt2{
    left:0;width:100%;font-size:1.3rem;
    -webkit-transform: translateX(0);transform: translateX(0);
}
.aboutCont #section2 .swiper-pagination{top:29.6rem}
.aboutCont #section2 h2{width:24rem;height:10.25rem;background-position:0 -13rem}
.aboutCont #section2 .txt{margin-top:1.5rem}
.aboutCont #section2 .skip{margin-top:1.25rem}
/* 2-1 */
.aboutCont #section2 figure{height:21.2rem}
.aboutCont #section2 figure .back{background-image:url(../image/license/section2_hp.png);width:21.25rem;height:16.85rem;bottom:0;margin-left:1.1rem;opacity:1}
.aboutCont #section2 figure .ball{
    margin-left:5.9rem;bottom:3rem;
    -webkit-transform: translateX(-50%) scale(0);transform: translateX(-50%) scale(0);
    -webkit-transition-timing-function:cubic-bezier(0.175, 0.885, 0.320, 1.275);
    transition-timing-function:cubic-bezier(0.175, 0.885, 0.320, 1.275);
}
.aboutCont #section2 figure .ball:before,
.aboutCont #section2 figure .ball:after{content:''}
.aboutCont #section2 figure .ball:before{
    position:static;background-image:url(../image/license/section2_ball.png);
    background-size:100% 100%;width:8.35rem;height:8.25rem;
}
.aboutCont #section2 figure .ball:after{
    width:9.95rem;height:9.95rem;
    background-color:rgba(77,159,255,.17);border-radius:50%;
    left:-.95rem;top:-1rem;z-index:-1;
    -webkit-transform-origin: center center;transform-origin: center center;
    -webkit-transform:scale(.7);transform:scale(.7);
}
.aboutCont #section2[class*="active"] [class*="active"] figure .ball{
    -webkit-transform: translateX(-50%) scale(1);transform: translateX(-50%) scale(1);
    -webkit-transition-duration: .75s;transition-duration: .75s;
    -webkit-transform-origin: center center;transform-origin: center center;
}
.aboutCont #section2[class*="active"] [class*="active"] figure .ball:after{
    -webkit-animation: size-up-down .75s ease-in-out .5s 5 alternate forwards;
    animation: size-up-down .75s ease-in-out .5s 5 alternate forwards;
}
/* //2-1 */
/* 2-2 */
.aboutCont #section2 figure .back2{background-image:url(../image/license/section2_hp2.png);width:21.35rem;height:16.7rem;bottom:0;margin-left:.2rem}
.aboutCont #section2 figure .back2:after{
    content:'';width:0;height:0;left:50%;top:50%;margin:2.5rem 0 0 -.025rem;
    background-image:url(../image/license/section2_hp2_pic.png);
    background-position:50% 50%;background-size:13rem 8.35rem;
    -webkit-transform: translate(-50%,-50%);transform: translate(-50%,-50%);
}
.aboutCont #section2[class*="active"] [class*="active"] figure .back2:after{
    -webkit-animation:picture 1s ease .5s forwards;
    animation:picture 1s ease .5s forwards;
}
/* //2-2 */
/* 2-3 */
.aboutCont #section2 figure .back3{background-image:url(../image/license/section2_hp3.png);width:21.5rem;height:16.65rem;bottom:0;margin-left:.3rem}
.aboutCont #section2 figure .back3:before,
.aboutCont #section2 figure .back3:after{z-index:1}
.aboutCont #section2 figure .back3:after{
    content:'';width:13.75rem;height:10.1rem;left:-7rem;top:2.2rem;
    background-image:url(../image/license/section2_license.png);
    opacity:1;
}
.aboutCont #section2 figure .back3:before{
    content:'';width:21.6rem;height:6.2rem;left:4.5rem;top:4rem;
    background-image:url(../image/license/section2_ball2.png);
    -webkit-transform: translateX(-10%);transform: translateX(-10%);
}
.aboutCont #section2 figure .tx{
    display:inline-block;font-size:2vw;
    text-align:left;line-height:7.8vw;font-weight:300;color:#6a6a6a;
    position:absolute;top:14.3vw;left:50%;margin-left:6.5vw;
    -webkit-transform: translateX(-50%);transform: translateX(-50%);
}
.aboutCont #section2 figure .back3 .tx{opacity:0}
.aboutCont #section2[class*="active"] [class*="active"] figure .back3:after{
    left:0;opacity:0;
    -webkit-transition-delay:.3s;transition-delay:.3s;
}
.aboutCont #section2[class*="active"] [class*="active"] figure .back3 .tx{
    opacity:1;
    -webkit-transition-delay:.5s;transition-delay:.5s;
}
.aboutCont #section2[class*="active"] [class*="active"] figure .back3:before{
    -webkit-transition-delay:1s;transition-delay:1s;
    -webkit-transform: translateX(0);transform: translateX(0);
}
/* //2-3 */

.aboutCont #section3 h2{width:24.9rem;height:10.4rem;background-position:0 -25.85rem}
.aboutCont #section3 .tab{display:flex;background-color:#f0f0f0;justify-content:center;align-items:center;margin:0 2.6rem;margin-top:1.7rem;position:relative}
.aboutCont #section3 .tab li{flex:1 1 0}
.aboutCont #section3 .tab button{
    height:4.6rem;font-size:1.4rem;color:#afafaf;width:100%;position:relative;z-index:1;
}
.aboutCont #section3 .tab button,
.aboutCont #section3 .tab[class*="on"]:before{
    -webkit-transition:all .35s ease 0s;
    transition:all .35s ease 0s;
}
.aboutCont #section3 .tab,
.aboutCont #section3 .tab[class*="on"]:before{border-radius:2.4rem}
.aboutCont #section3 .tab[class*="on"]:before{
    content:'';display:inline-block;background-color:#4d9fff;
    height:100%;width:15.5rem;position:absolute;top:0;
}
.aboutCont #section3 .tab.on1:before{left:0;box-shadow:.25rem 0 .4rem rgba(172,172,172,.61)}
.aboutCont #section3 .tab.on1 li:first-child button,
.aboutCont #section3 .tab.on2 li:last-child button{color:#fff}
.aboutCont #section3 .tab.on1 li:first-child button{text-indent:2rem}
.aboutCont #section3 .tab.on2:before{left:12rem;width:14.7rem;box-shadow:-.25rem 0 .4rem rgba(172,172,172,.61)}
.aboutCont #section3 .tab.on2 li:last-child button{text-indent:-1.3rem}
.aboutCont #section3 .txt{margin-top:1.7rem}
.aboutCont #section3 .txt.tx3{display:none}
/* .aboutCont #section3 .swiper-container{display:none} */
.aboutCont #section3 #slide3{display:block}
.aboutCont #section3 #slide3 .swiper-pagination{top:33.1rem}
.aboutCont #section3 #slide4 .swiper-pagination{top:35.1rem}
.aboutCont #section3 figure{height:20rem}
@media all and (min-width: 586px) { /* 폴더폰 */
    .aboutCont #section3 .tab.on1:before{width:24rem}
    .aboutCont #section3 .tab.on2:before{left:19.4rem;width:23.2rem}
}
/* 3-1 */
.aboutCont #section3 figure .back4{background-image:url(../image/license/section3_hp4.png);width:21.25rem;height:17.95rem;bottom:0;margin-left:1rem}
.aboutCont #section3 figure .ball{
    margin-left:5.9rem;bottom:3rem;
    -webkit-transform: translateX(-50%) scale(0);transform: translateX(-50%) scale(0);
    -webkit-transition-timing-function:cubic-bezier(0.175, 0.885, 0.320, 1.275);
    transition-timing-function:cubic-bezier(0.175, 0.885, 0.320, 1.275);
    -webkit-transform-origin: center center;transform-origin: center center;
}
.aboutCont #section3 figure .ball:before,
.aboutCont #section3 figure .ball:after{content:''}
.aboutCont #section3 figure .ball:before{
    position:static;background-image:url(../image/license/section3_ball6.png);
    background-size:100% 100%;width:8.35rem;height:8.25rem;
}
.aboutCont #section3 figure .ball:after{
    width:9.95rem;height:9.95rem;
    background-color:rgba(77,159,255,.17);border-radius:50%;
    left:0;top:0;z-index:-1;
    left:-.95rem;top:-1rem;z-index:-1;
    -webkit-transform-origin: center center;transform-origin: center center;
    -webkit-transform: scale(.7);transform: scale(.7);
}
.aboutCont #section3[class*="active"] [class*="active"] figure .ball{
    -webkit-transform: translateX(-50%) scale(1);transform: translateX(-50%) scale(1);
    -webkit-transition-duration: .75s;transition-duration: .75s;
}
.aboutCont #section3[class*="active"] [class*="active"] figure .ball:after{
    -webkit-animation: size-up-down .75s ease-in-out .5s 5 alternate forwards;
    animation: size-up-down .75s ease-in-out .5s 5 alternate forwards;
}
/* //3-1 */
/* 3-2, 3-3 */
.aboutCont #section3 figure .back5, .aboutCont #section3 figure .back6{bottom:0}
.aboutCont #section3 figure .back5:before,
.aboutCont #section3 figure .back6:before{
    content:'';
    -webkit-transform: translateY(10%);transform: translateY(10%)
}
.aboutCont #section3 figure .back5{background-image:url(../image/license/section3_hp5.png);width:16.75rem;height:17.7rem}
.aboutCont #section3 figure .back5:before{
    width:21.45rem;height:6.5rem;top:6.5rem;left:-2.2rem;
    background-image:url(../image/license/section3_ball4.png);
}
.aboutCont #section3 figure .back6{background-image:url(../image/license/section3_hp6.png);width:19.55rem;height:17.8rem}
.aboutCont #section3 figure .back6:before{
    content:'';width:14.3rem;height:5.05rem;top:5.9rem;left:5.4rem;
    background-image:url(../image/license/section3_ball5.png);
}
.aboutCont #section3 figure .bar{
    width:15.1rem;height:.6rem;bottom:2.5rem;opacity:1;
    background-image:url(../image/license/section1_bar.png);
}
.aboutCont #section3[class*="active"] [class*="active"] figure .back5:before,
.aboutCont #section3[class*="active"] [class*="active"] figure .back6:before{
    -webkit-transform: translateX(0);transform: translateX(0);
}
.aboutCont #section3[class*="active"] [class*="active"] figure .back5:before{
    -webkit-transition-delay: .25s;transition-delay: .25s;
}
.aboutCont #section3[class*="active"] [class*="active"] figure .bar{
    -webkit-animation: line-up-down 1s ease-in-out .25s 1 alternate forwards;
    animation: line-up-down 1s ease-in-out .25s 1 alternate forwards;
}
.aboutCont #section3[class*="active"] [class*="active"] figure .back6:before{
    -webkit-transition-delay: 1.25s;transition-delay: 1.25s;
}
/* //3-2, 3-3 */
/* 3-4 */
.aboutCont #section3 figure .back{background-image:url(../image/license/section3_hp.png);width:21.5rem;height:15.7rem;bottom:0}
.aboutCont #section3 figure .back:before{
    content:'';width:22.3rem;height:6.25rem;top:4.5rem;left:1rem;z-index:2;
    background-image:url(../image/license/section3_ball.png);
    -webkit-transform: translateY(10%);transform: translateY(10%);
}
.aboutCont #section3[class*="active"] [class*="active"] figure .back:before{
    -webkit-transition-delay: 1.75s;transition-delay: 1.75s;
    -webkit-transform: translateX(0);transform: translateX(0);
}
.aboutCont #section3 figure .back .pw{
    width:4rem;height:1.5rem;opacity:1;
    position:absolute;top:5.8rem;right:8.6rem;background-color:#fbfbfb;
}
.aboutCont #section3 figure .back .pw:last-child{top:8.2rem}
.aboutCont #section3[class*="active"] [class*="active"] figure .back .pw{
    -webkit-animation: show-floor .75s step-end .25s forwards;
    animation: show-floor .75s step-end .25s forwards;
}
.aboutCont #section3[class*="active"] [class*="active"] figure .back .pw:last-child{
    -webkit-animation-delay:1s;animation-delay:1s;
}
/* //3-4 */
/* 3-5 */
.aboutCont #section3 figure .back2{
    background-image:url(../image/license/section3_hp2.png);
    width:15.75rem;height:16.6rem;bottom:0
}
.aboutCont #section3 figure .back2:before{
    content:'';width:19.15rem;height:6.4rem;top:3.5rem;left:1.8rem;
    background-image:url(../image/license/section3_ball2.png);
    -webkit-transform: translateY(10%);transform: translateY(10%);
}
.aboutCont #section3[class*="active"] [class*="active"] figure .back2:before{
    -webkit-transition-delay: .25s;transition-delay: .25s;
    -webkit-transform: translateX(0);transform: translateX(0);
}
/* //3-5 */
/* 3-6 */
.aboutCont #section3 figure .back3{background-image:url(../image/license/section3_hp3.png);width:21.5rem;height:15.65rem;bottom:0}
.aboutCont #section3 figure .back3:before{
    content:'';width:22.15rem;height:6.3rem;top:4.7rem;left:2.2rem;
    background-image:url(../image/license/section3_ball3.png);
    -webkit-transform: translateY(10%);transform: translateY(10%);
}
.aboutCont #section3[class*="active"] [class*="active"] figure .back3:before{
    -webkit-transition-delay: .25s;transition-delay: .25s;
    -webkit-transform: translateX(0);transform: translateX(0);
}
/* //3-6 */

.aboutCont #section4{background-color:#f2f3f5}
.aboutCont #section4 .titGoup{position:static;padding-top:6rem}
.aboutCont #section4 figure{position:relative;display:inline-block;padding-top:4.2rem;margin:1rem 0 10rem}
.aboutCont #section4 figure:after{display:block;clear:both;content:''}
.aboutCont #section4 figure:before{
    content:'';display:inline-block;width:0.2rem;height:0;
    background-image:url(../image/license/section4_line.png);
    background-size:.2rem 3.3rem;opacity:1;
    position:absolute;top:0;left:50%;
    -webkit-transform: translateX(-50%);transform: translateX(-50%);
}
.aboutCont #section4[class*="active"] figure:before{
    height:3.3rem;
    -webkit-transition-duration: .5s;transition-duration: .5s;
    -webkit-transition-delay: .25s;transition-delay: .25s;
}
.aboutCont #section4 figure i{
    color:transparent;white-space:nowrap;text-indent:-1000rem;font-size:1px;
    width:9.3rem;height:9.3rem;position:static;float:left;margin:0 0 1.5rem 2.25rem;
    -webkit-transform: translateY(-20px);transform: translateY(-20px);
}
.aboutCont #section4 figure i:nth-child(odd){clear:both;margin-left:0}
.aboutCont #section4 figure .ball1{ /* 경찰청 */
    background-image:url(../image/license/section4_ball1.png);
}
.aboutCont #section4 figure .ball2{ /* CU */
    background-image:url(../image/license/section4_ball2.png);
}
.aboutCont #section4 figure .ball3{ /* GS25 */
    background-image:url(../image/license/section4_ball3.png);
}
.aboutCont #section4 figure .ball0{ /* 추가예정 */
    background-image:url(../image/license/section4_ball0.png);
}
.aboutCont #section4 h2{width:24rem;height:10.25rem;background-position:0 -42.55rem}
.aboutCont #section4[class*="active"] figure i{
    -webkit-transform: translateY(0);transform: translateY(0);opacity:1;
    -webkit-transition-duration:1s;transition-duration:1s;
    -webkit-transition-timing-function:cubic-bezier(0.175, 0.885, 0.320, 1.275);
    transition-timing-function:cubic-bezier(0.175, 0.885, 0.320, 1.275);
}
.aboutCont #section4[class*="active"] figure .ball1,
.aboutCont #section4[class*="active"] figure .ball2{
    -webkit-transition-delay:.6s;transition-delay:.6s;
}
.aboutCont #section4[class*="active"] figure .ball3,
.aboutCont #section4[class*="active"] figure .ball0{
    -webkit-transition-delay:.8s;transition-delay:.8s;
}
.aboutCont #section4 .txt{margin-top:1.4rem}
.aboutCont #section4 .txt2{margin-top:.75rem;font-size:1.2rem;font-weight:300;color:#959595}
.aboutCont .skip.more{
    overflow:hidden;width:22rem;margin-bottom:2.75rem;
    position:fixed;bottom:0;left:50%;z-index:10;opacity:0;visibility: hidden;
    -webkit-transform: translateX(-50%);transform: translateX(-50%);
    -webkit-transition-duration: .5s;transition-duration: .5s
}
.aboutCont .skip.more.on{
    opacity:1;visibility:visible
}

/* keyframe */
@-webkit-keyframes line-up-down{
    0%{ -webkit-transform: translate(-50%, 0) }
    50%{ -webkit-transform: translate(-50%, 340%) }
    100%{ -webkit-transform: translate(-50%, 0) }
}
@keyframes line-up-down{
    0%{ transform: translate(-50%, 0) }
    50%{ transform: translate(-50%, 340%) }
    100%{ transform: translate(-50%, 0) }
}
@-webkit-keyframes picture{
    0%{ width:0;height:0; }
    50%{ width:13rem;height:8.4rem; }
    70%{ opacity:1 }
    75%{ opacity:.5 }
    80%{ opacity:1 }
    85%{ opacity:.5 }
    90%{ opacity:1 }
    100%{ opacity:1; width:13rem;height:8.4rem; }
}
@keyframes picture{
    0%{ width:0;height:0; }
    50%{ width:13rem;height:8.4rem; }
    70%{ opacity:1 }
    75%{ opacity:.5 }
    80%{ opacity:1 }
    85%{ opacity:.5 }
    90%{ opacity:1 }
    100%{ opacity:1; width:13rem;height:8.4rem; }
}
@-webkit-keyframes show-floor{
    0%{ width:4rem }
    16%{ width:3.1rem }
    32%{ width:2.6rem }
    48%{ width:2.05rem }
    64%{ width:1.55rem }
    80%{ width:.95rem }
    96%,100%{ width:0 }
}
@keyframes show-floor{
    0%{ width:4rem }
    16%{ width:3.1rem }
    32%{ width:2.6rem }
    48%{ width:2.05rem }
    64%{ width:1.55rem }
    80%{ width:.95rem }
    96%,100%{ width:0 }
}
@-webkit-keyframes size-up-down{
    0%{ -webkit-transform: scale(.7) }
    100%{ -webkit-transform: scale(1) }
}
@keyframes size-up-down{
    0%{ transform: scale(.7) }
    100%{ transform: scale(1) }
}
@-webkit-keyframes up-down-bounce{
    to{ transform: translate(-50%, 0) }
}
@keyframes up-down-bounce{
    to{ transform: translate(-50%, 0) }
}

/* 세로가 긴폰만 */
html.hw .aboutCont .titGoup{top:7.5rem}
html.hw .aboutCont #section1 .txt{margin-top:2.5rem}
html.hw .aboutCont #section1 .txt2{margin-top:2rem}
html.hw .aboutCont #section1 .swiper-pagination{top:31.5rem}
html.hw .aboutCont #section2 .txt{margin-top:2.2rem}
html.hw .aboutCont #section2 .skip{margin-top:2.25rem}
html.hw .aboutCont #section2 .swiper-pagination{top:34rem}
html.hw .aboutCont #section3 .tab{margin-top:2.8rem}
html.hw .aboutCont #section3 .txt{margin-top:2.9rem}
html.hw .aboutCont #section3 #slide4 .swiper-pagination{top:40.1rem}
html.hw .aboutCont #section3 #slide3 .swiper-pagination{top:38.1rem}
html.hw .aboutCont #section4 .txt{margin-top:2rem}
html.hw .aboutCont #section4 .txt2{margin-top:1.75rem}

/* height:574 이하 */
html.hw574 .aboutCont .titGoup{top:4.5rem;-webkit-transform: scale(.87);transform: scale(.87)}
html.hw574 .aboutCont #section1 .swiper-pagination{top:24rem}
html.hw574 .aboutCont #section2 .swiper-pagination{top:26.2rem}
html.hw574 .aboutCont #section3 #slide4 .swiper-pagination,
html.hw574 .aboutCont #section3 #slide3 .swiper-pagination{top:28.1rem}