@charset "utf-8";
@import url('swiper.min.css');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@400;500;700&family=Roboto:wght@400;500;700&display=swap');
@font-face{
    src:url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_six@1.2/S-CoreDream-4Regular.woff') format('woff');
    font-family:'S-CoreDream';font-weight:400;font-style:normal
} 
@font-face{
    src:url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_six@1.2/S-CoreDream-5Medium.woff') format('woff');
    font-family:'S-CoreDream';font-weight:500;font-style:normal
}
@font-face{
    src:url('font/GmarketSansBold.woff') format('woff');
    font-family:'gmarket sans';font-weight:700;font-style:normal
}
/* font-family:'Roboto', sans-serif; */
/* font-family:'S-CoreDream', sans-serif; */
/* font-family:'gmarket sans', sans-serif; */

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video{margin:0;padding:0;border:0}
*, *:before, *:after{-webkit-box-sizing:border-box;box-sizing:border-box;-webkit-tap-highlight-color:rgba(255,255,255,0)}
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section{display:block}
html{
  -webkit-text-size-adjust:none;
  -webkit-overflow-scrolling:touch;
  touch-action:manipulation;
  font-size:.625rem;
  /* font-size:10px */
  height:100%
}
body{
  height:100%;font-size:1.4rem;font-weight:400;letter-spacing:-.05rem;line-height:1;color:#222;
  font-family:"Noto Sans KR", "Apple SD Gothic Neo", sans-serif;
  word-wrap:break-word;word-break:keep-all;
  -webkit-touch-callout:none;-webkit-user-select:none
}
.bgf{background:#fff}
.bgGray{background-color:#f4f4f4}
a{text-decoration:none;color:inherit}
abbr[title]{border-bottom:none;text-decoration:underline}
pre{font-family:"Noto Sans KR", "Apple SD Gothic Neo", sans-serif;white-space:pre-line}
strong{font-weight:500}
sub, sup{position:relative;font-size:.075rem}
sub{bottom:-.025rem}
sup{top:-.05rem}
ol, ul{list-style:none}
table{border-collapse:collapse;border-spacing:0}
img{max-width:100%;border:0}
legend{max-width:100%;white-space:normal;color:inherit}
button, input, optgroup, select, textarea{
  -webkit-appearance:none;appearance:none;
  margin:0;padding:0;background-color:transparent;border-radius:0;border:0;
  font-family:inherit;font-size:inherit;letter-spacing:inherit;line-height:inherit
}
button, select{text-transform:none}
select{background-color:transparent}
button, a{cursor:pointer}
textarea{overflow:auto}
[type="tel"]::-webkit-inner-spin-button, [type="tel"]::-webkit-outer-spin-button, [type="search"]::-webkit-search-decoration{-webkit-appearance:none;appearance:none}
[type="search"]{-webkit-appearance:textfield}
[hidden]{display:none}
.fsup{font-size:1.6rem}
.u{text-decoration:underline}
.bold{font-weight:500}
:focus{outline:none}
.blind{position:absolute;width:1px;height:1px;clip:rect(1px, 1px, 1px, 1px)}
.secu{-webkit-text-security:disc;font-family:"verdana"}
.t_r{text-align:right}
.scroll{overflow-x:hidden;overflow-y:scroll;position:relative}
.ip-blind{position:absolute;width:0;height:0;left:-9999rem}
.scroll{height:100%;overflow-x:hidden;overflow-y:scroll;-webkit-overflow-scrolling:touch}
.scroll::-webkit-scrollbar{display:none}