@font-face {
    font-family: 'Noto Sans';
    font-style: normal;
    font-weight: 400;
	src: url(font/eot/NotoSansKR-Regular-Hestia.eot);
    src: local(※), url(font/woff/NotoSansKR-Regular-Hestia.woff) format('woff')
}

@font-face {
    font-family: 'Noto Sans';
    font-style: normal;
    font-weight: 100;
	src: url(font/eot/NotoSansKR-Thin-Hestia.eot);
    src: local(※), url(font/woff/NotoSansKR-Thin-Hestia.woff) format('woff')
}

@font-face {
    font-family: 'Noto Sans';
    font-style: normal;
    font-weight: 300;
	src: url(font/eot/NotoSansKR-Light-Hestia.eot);
    src: local(※), url(font/woff/NotoSansKR-Light-Hestia.woff) format('woff')
}

@font-face {
    font-family: 'Noto Sans';
    font-style: normal;
    font-weight: 350;
	src: url(font/eot/NotoSansKR-DemiLight-Hestia.eot);
    src: local(※), url(font/woff/NotoSansKR-DemiLight-Hestia.woff) format('woff')
}

@font-face {
    font-family: 'Noto Sans';
    font-style: normal;
    font-weight: 500;
	src: url(font/eot/NotoSansKR-Medium-Hestia.eot);
    src: local(※), url(font/woff/NotoSansKR-Medium-Hestia.woff) format('woff')
}

@font-face {
    font-family: 'Noto Sans';
    font-style: normal;
    font-weight: 700;
	src: url(font/eot/NotoSansKR-Bold-Hestia.eot);
    src: local(※), url(font/woff/NotoSansKR-Bold-Hestia.woff) format('woff')
}

@font-face {
    font-family: 'Noto Sans';
    font-style: normal;
    font-weight: 900;
	src: url(font/eot/NotoSansKR-Black-Hestia.eot);
    src: local(※), url(font/woff/NotoSansKR-Black-Hestia.woff) format('woff')
}