/* NotoSans */
@font-face {
    font-family: 'NotoSans';
    font-style: normal;
    font-weight: 350;
    src: local(※), url(../font/NotoSansKR-Regular.woff) format('woff');
    text-rendering: optimizeLegibility;
}
@font-face {
    font-family: 'NotoSans';
    font-style: normal;
    font-weight: 100;
    src: local(※), url(../font/NotoSansKR-Thin.woff) format('woff');
    text-rendering: optimizeLegibility;
}
@font-face {
    font-family: 'NotoSans';
    font-style: normal;
    font-weight: 300;
    src: local(※), url(../font/NotoSansKR-Light.woff) format('woff');
    text-rendering: optimizeLegibility;
}
@font-face {
    font-family: 'NotoSans';
    font-style: normal;
    font-weight: 400;
    src: local(※), url(../font/NotoSansKR-DemiLight.woff) format('woff');
    text-rendering: optimizeLegibility;
}
@font-face {
    font-family: 'NotoSans';
    font-style: normal;
    font-weight: 500;
    src: local(※), url(../font/NotoSansKR-Medium.woff) format('woff');
    text-rendering: optimizeLegibility;
}
@font-face {
    font-family: 'NotoSans';
    font-style: normal;
    font-weight: 700;
    src: local(※), url(../font/NotoSansKR-Bold.woff) format('woff');
    text-rendering: optimizeLegibility;
}

@import url('https://fonts.googleapis.com/css?family=Nanum+Gothic:400,700,800&display=swap');

/* font-family: 'Nanum Gothic', sans-serif; */