html.lgu{

    $fc_p:#ff3782;
    
    body{
        background-color:#f4f4f4;
        &.type{
            background-color:#fff;
        }
    }

    .fix.btm.goOut{
        bottom:0 !important
    }
    
    // common
    .title_type{
        .count{
            background-color:#fff1f6;
            color:$fc_p
        }
    }
    .title_bank{
        color:#4e4e4e
    }
    .checkbox{
        &-notice{
            input{
                &:checked + label{
                    background-color:$fc_p;
                    &:before{
                        background-image:url($urlImg + "lgu/checkbox_notice_on.png")
                    }
                }
            }
        }
        &-text input+label{
            background-color:$fc_p
        }
    }
    .btn_area_wide{
        padding:0;
        button, a{            
            &:disabled{
                background-color:#e5e5e5;
                border-color:#e5e5e5;
            }
            border-radius:0;
            border-color:#222;
            background-color:#222;
        }
        .tooltip{
            background-image:url($urlImg + "lgu/tooltip_sizefix.png");
            color:$fc_p
        }
    }
    .btn_area_half{
        padding:0;
        > li{
            margin-left:0;
            a, button{
                border-radius:0;
                box-shadow:none;                
            }
            &:first-child a,
            &:first-child button{
                border-color:#ddd;
                background-color:#ddd;
                color:#333
            }
            &:last-child a,
            &:last-child button{
                border-color:#222;
                background-color:#222
            }
        }
    }
    .btn_area_simp{
        text-align:center;
        a, button{
            font-weight:700;
            @include btn($style:"m", $p:px(14) px(60) px(16), $fc:$fc_p, $br:px(34), $bg:#fffcfd);
            i{
                @include lineArr($custom:"plus", $w:px(23), $h:px(23), $c:$fc_p, $ro:0);
                margin:px(-4) px(14) 0 0;
            }
        }
        &.arr{
            a,button{
                i{
                    display:none;
                }
                &:after{
                    content:'';
                    @include lineArr($w:px(13), $h:px(13), $c:$fc_p, $ro:45);
                    margin:px(-6) 0 0 px(8);
                }
            }
        }
    }
    .list_thumb{
        .n:after{
            background-color:$fc_p;
        }
        .war{
            color:$fc_p;
        }
    }
    .list_brand{
        dl > dd{
            ul.nameset{
                >li.data{
                    .day{
                        background-color:#fffcfd;
                        border-color:$fc_p;
                        color:$fc_p;
                    }
                    .skip{
                        color:$fc_p;
                        border-color:$fc_p;
                        &:after{
                            border-color:$fc_p;
                        }
                    }
                }
            }
            ul.bankset{
                .skip, .skip2{
                    border-color:$fc_p;
                    color:$fc_p;
                    &:after{
                        border-color:$fc_p;
                    }
                }
                .false{
                    font-weight:700;
                    color:#222;
                }
            }
        }
    }
    .list_brand2{
        ul.list{
            >li{
                .th{
                    .month{
                        color:$fc_p
                    }
                }
                .td{
                    &.false{
                        color:#222
                    }
                }
                &.false{
                    color:$fc_p
                }
            }
        }
    }
    .list_dealsrch{
        h3 code{
            color:$fc_p
        }
        .list{
            .up{
                color:#222
            }
            .dw{
                color:#186de0
            }
            > li{
                > a{
                    &.fake{
                        figure.plus{
                            border-color:$fc_p;
                            i, i:before{
                                background-color:$fc_p;
                            }
                        }
                    }
                }
            }
        }
    }
    .list_coupon{
        dd.n .name p:after{
            background-color:$fc_p;
        }
        >li.end dd:after{
            background-color:#fffcfd;
            border-color:$fc_p;
            color:$fc_p;
        }
    }
    .bn_autoview{
        &[data-name="cma입출금"]{
            background-color:#1eb6a2;
            .skip{
                background-color:#078574;
                border-color:#078574;
            }
        }
    }
    .ly_pop{
        .wrap{
            border-radius:px(18);
        }
        .content{
            background-color:transparent;
            border-radius:0;
            padding-top:px(80);
            padding-bottom:px(90);
        }
        &.btm{
            .wrap{
                border-bottom-left-radius:0;
                border-bottom-right-radius:0;
                background-color:#fff;
            }
        }
        &.full{
            .wrap{
                border-radius:0;
            }
            .content{
                padding-bottom:0
            }
        }
    }
    header{
        h1, .tab_type{
            border-bottom:0
        }
        .checkbox-notice{
            transform: translateY(0);
            top:px(34);
        }
        .navbar{
            border-bottom:1px solid #eee;
        }
        .btn_noti.n i{
            background-image:url($urlImg + "lgu/ico_bell_n.png");
        }
        .btn_prev, .btn_close, .btn_home{
            i{
                transform: none;
                border:0;
                &:before{
                    display:none
                }
            }
        }
        .btn_prev{
            left:px(12);
            i{
                @include bg("icon","lgu/header_ico_prev.png",$w:px(36),$h:px(29));
            }
        }
        .btn_close{
            left:auto;
            right:px(12);
            top:px(20);
            i{
                background-color:transparent;
                @include bg("icon","lgu/header_ico_x.png",$w:px(32),$h:px(32));
            }
        }
        .btn_home{
            left:px(20);
            i{
                @include bg("icon","lgu/ico_home.png",$w:px(49),$h:px(48));
            }
        }
    }
    .inner_wrap{
        background-color:#f4f4f4
    }
    #footer{
        padding:px(10) 0 0 0;
        .nav{
            display:flex;
            justify-content:flex-start;
            background-color:transparent;
            padding:px(10) 0 px(10) px(20);
            li{
                float:none;
                &:before{
                    height:px(18);
                    background-color:#aaa;
                }
            }
            a, button{
                padding:0 px(14);
                height:px(40);
                width:100%;
                color:#222
            }
            .pot{
                color:$fc_p
            }
        }
        address{
            margin-top:0;
            text-align:left;
            padding:px(36) px(34);
            color:#999;
            border-top:1px solid #e7e7e7;
            p.cs{
                color:#7f7f7f;
                b{
                    display:inline-block;
                    margin-bottom:px(10);
                }
            }
        }
    }
    .navbar{
        box-shadow:none;
        ul{
            padding:0 px(10);
            li{
                a{
                    line-height:px(78);
                    &.active{
                        &:before{
                            top:auto;
                            bottom:0;height:2px;
                            background-color:#222;
                        }
                    }
                }
            }
        }
    }

    // content
    #ct{
        margin-top:px(18);
    }

    .live_watch{
        .shield .load:before{
            @include loading("circle", px(26), px(26), px(4), $fc_p);
        }
        &[data-type="일시조회"]{
            padding-top:px(7);
        }
        &[data-type="모니터링2"]{
            border-color:$fc_p;
            background-color:$fc_p;
        }
    }

    .profile_pushlst{
        padding-bottom:px(60);
    }
    .profile_pricelist{
        padding-bottom:0;
        .myassets{
            margin-top:0
        }
        .btn_alram{
            &.n i{
                background-image:url($urlImg + "lgu/ico_bell_n.png");
            }
        }
        .causet{
            li{
                .opened{
                    border-color:#222;
                    background-color:#222;
                }
            }
            &.bank{
                li.mtx{
                    b{
                        color:#2e2e2e
                    }
                }
            }
        }
        .wonset{
            .fc, .fc2{ color:$fc_p !important }
            dt{
                .count{
                    background-color:#fff1f6;
                    color:$fc_p;
                }
            }
        }
    }
    .profile_topview{
        .swiper-pagination-bullet{
            width:4px;
            height:4px;
            background-color:#d9d9d9;
            &-active{
                background-color:$fc_p;
            }
        }
        .swiper-slide{
            &[data-title="나도피해"]{
                background-image:url($urlImg + "lgu/bg_fingerprint.png");
                .btn_area_wide{
                    a, button{
                        border-radius:px(10);
                    }
                }
                > article{
                    &:before, &:after{
                        background-image:url($urlImg + "ani/bg_finger_border_lgu.png");
                    }
                    .que{
                        &:before{
                            background-color:$fc_p;
                        }
                        color:$fc_p;
                    }
                    > i{
                        background-image:url($urlImg + "ani/bg_gagebar_lgu.png")
                    }
                }
            }
            &[data-title="이체얼마"]{
                .print>ul>li{
                    .col{
                        color:$fc_p
                    }
                }
            }
        }
    }
    .profile_paynotice{
        .skip{
            box-shadow:none
        }
        .skip2{
            color:$fc_p
        }
        &[data-title="결제한번"]{
            padding-bottom:px(20);
            figure{
                bottom:px(100)
            }
            .skip{
                border:0;
                border-top:1px solid #e3e3e3;
                background-color:#fff;
                color:$fc_p
            }
        }
        &[data-title="결제한번2"]{
            figure{
                background-image:url($urlImg + "ani/bg_regist_ani_bg_lgu.png");
            }
            .paylst>li.b h3:before{
                background-color:#fff878
            }
        }
        &[data-title="결제한번3"]{
            .skip{
                background-color:#222;
                border-color:#222;
                color:#fff
            }
        }
        &[data-title="도용방지"]{
            figure:before{
                background-image:url($urlImg + "ani/bg_banknote2_lgu.png");
            }
            h2+p .emp:before{
                background-color:#fff878
            }
        }
        &[data-title="피해보상"]{
            h2+p .emp:before{
                background-color:#fff878
            }
        }
        &[data-title="자동이체"]{
            .sample{
                left:0;right:0;bottom:0;
                &:after{
                    background-image:url($urlImg + "ani/img_sample_bank_lgu.png");
                }
            }
            .skip{
                bottom:px(-2);right:0;left:0;
                border-radius:0;
                background-color:#222;
                border-color:#222;
            }
        }
    }
    .profile_paynotice2{
        .won{
            color:$fc_p
        }
        .skip{
            border-color:#222;
            background-color:#222;
        }
    }
    .profile_dealcount{
        .count{
            border-color:$fc_p;
            color:$fc_p
        }
    }
    .profile_simpbank{
        background-color:#fff;
        > hgroup{
            background-color:#f4f4f4;
            color:#222;
            p{
                color:#8e8e8e
            }
        }
    }
    .profile_eventview{
        padding-bottom:px(30);
        h2{
            .tip{
                background-image:url($urlImg + "lgu/ico_txt_benefit.png");
            }
            .emp:before{
                background-color:#fff878
            }
        }
        &[data-sbj="혜택하나"]{
            &:before{ display:none }
            figure{
                bottom:px(125);
            }
            .btn_area_wide{
                margin-top:px(390);
                a, button{
                    border:0;
                    border-top:1px solid #e3e3e3;
                    box-shadow:none;
                    background-color:#fff;
                    color:$fc_p
                }
            }
        }
        &[data-sbj="혜택두울"]{
            &:before{
                bottom:px(130);
            }
            .btn_area_wide{
                a, button{
                    border:0;
                    border-top:1px solid #e3e3e3;
                    box-shadow:none;
                    background-color:#fff;
                    color:#222
                }
            }
        }
    }
    .profile_coupon{
        background-color:#f4f4f4 !important;
        .giftset li:last-child figure{
            background-image:url($urlImg + "lgu/figure_coupon.png");
        }
    }
    .profile_bankselct{
        background-color:#fff
    }

    .bankview_direct{
        .title_bx{
            margin-bottom:px(36) !important
        }
        .bankgo{
            border-color:$fc_p;
            background-color:$fc_p;
        }
    }
    .bankview_direct2{
        .titleset2{
            padding-top:px(70);
            padding-bottom:px(50);
            h2{
                font-size:px(25);
            }
            .won{
                margin-top:0;
                color:#E92755
            }
        }
        .caution_line{
            font-size:px(24);
            +section{
                padding-top:px(30)
            }
        }
        .btn_area_simp{
            margin-top:px(70);
        }
    }

    .frmview_rowlst{
        background-color:#fff
    }

    .thumbview_baselst{
        background-color:#fff
    }
    .thumbview_coupon{
        padding:px(55) 0 px(70) !important;
        .gallery-thumbs{
            .swiper-slide-thumb-active{
                img{
                    border-color:#ff4188
                }
                &:after{
                    @include lineArr($custom:"triangle", $w:px(13), $h:px(17), $c:#ff4188, $ro:0);
                    @include pos($aot, $l:50%, $b:px(-15));
                    transform: translateX(-50%);
                }
            }
        }
    }

    .visual_free{
        padding-bottom:0;
    }
    .visual_banksrch{
        .btn_area_wide{
            padding-top:px(36);
            padding-bottom:px(36);
            a, button{
                border-radius:px(10)
            }
        }
    }

    .ly_datalist{
        .wrap{
            background-color:#f4f4f4;
        }
        .content{
            padding-top:px(96);
        }
    }
    .ly_agrchk{
        .checkbox{
            input + label{
                &:before{
                    @include bg("icon", "lgu/checkbox_check2.png");
                }
            }
            input:checked + label:before{
                background-image:url($urlImg + "lgu/checkbox_check2_on.png");
            }
            &.all{
                input + label{
                    &:before{
                        @include bg("icon", "lgu/checkbox_check3.png");
                    }
                }
                input:checked + label{
                    border:1px solid #222;
                    color:#222;
                    &:before{
                        background-image:url($urlImg + "lgu/checkbox_check3_on.png");
                    }
                }
            }
        }
    }
    .ly_cpinfo{
        .close{
            left:px(40)
        }
    }
    // 200907 유료가입자 대상 이벤트팝업
    .ly_thanks,
    .ly_events {
        .wrap {
            width: 80%;
            margin: 0 auto;
            @include pos($aot,$l:0,$r:0,$t:50%);
            transform: translate(0,-50%);
            text-align: right;
        }
        .close{
            width: px(56);
            height: px(56);
            padding: px(20);
            background: url($urlImg + '/lgu/ico_x_pop.png') no-repeat 50% 50%;
            background-size: 100% 100%;
        }
        .content {
            padding: 0;
        }
        .img {
            overflow: hidden;
            display: block;
        }
        .btmbtn{
            padding: 0 px(20);
            button{
                height: px(80);
                color: #fff;
                font-size: px(24);
            }
        }
    }
    .ly_thanks {
        .img {
            border-radius: px(10);
        }
    }
    .ly_events {
        .wrap {
            width: 90%;
        }
        .content {
            @include iscroll("vertical",$w:100%,$h:px(930));
            border-radius: px(10);
            text-align: left;
            -webkit-backface-visibility: hidden;
            -moz-backface-visibility: hidden;
            -webkit-transform: translate3d(0, 0, 0);
            -moz-transform: translate3d(0, 0, 0);
            -webkit-transform: translateZ(0);
            -webkit-mask-image: -webkit-radial-gradient(circle, white, black);
            @media screen and (max-width:325px){
                @include iscroll("vertical",$w:100%,$h:px(735));
            }   
        }
        .evt_desc {
            padding: px(36) px(40) px(40);
            background-color: #fff;
            border-bottom-right-radius: px(10);
            border-bottom-left-radius: px(10);
            * {
                color: #333;
                font-style: normal;
            }
            .noti {
                dl {
                    display: flex;
                    margin-top: px(8);
                    &:first-child {
                        margin-top: 0;
                    }
                }
                dt {
                    width: px(130);
                    padding-right: px(20);
                    font-weight: 700;
                    font-size: px(24);
                }
                dd {
                    width: calc(100% - 6.5rem);
                    font-weight: 300;
                    font-size: px(22);
                    strong {
                        font-weight: 400;
                        font-size: px(22);
                        color: #000;
                    }
                }
            }
            .btn {
                margin: px(24) 0;
                button {
                    display: block;
                    width: 100%;
                    height: px(94);
                    text-align: center;
                    font-weight: 500;
                    font-size: px(34);
                    color: #fff;
                    background-color: #f2683f;
                    border-radius: px(45);
                }
            }
            p {
                font-weight: 300;
                font-size: px(22);
                em {
                    color: #727FC8;
                }
            }
        }
    }
}
