html.skt{

    body{
        background-color:#f4f4f4;
        &.type{
            background-color:#fff
        }
    }

    // common
    .title_type{
        position:$rav;
        letter-spacing:px(-3);
        font-size:px(36);
        color:#222;
        .count{
            width:auto;height:auto;line-height:normal;
            position:$rav;
            margin-left:px(20);
            padding-left:px(20);
            background-color:transparent;
            font-weight:400;
            font-size:px(28);
            color:#7a7a7a;
            &:before{
                content:'';
                @include bar("divide", $w:1px, $h:px(24), $c:#7a7a7a);
                @include pos($aot, $t:50%, $l:0);
                transform: translateY(-50%);
                margin-top:px(1.5);
            }
        }
        .spl{
            @include pos($aot,$r:0,$t:0);
            height:px(48);line-height:px(44);
            padding:0 px(20);
            border-radius:px(26);
            border:1px solid #d3d3d3;
            letter-spacing:px(-1);
            font-size:px(24);
            color:#222;
        }
    }
    .title_type3{
        s{
            font-size:px(28);
        }
    }
    .checkbox{
        &-notice{
            input{
                + label{
                    width:px(88);
                    height:px(52);
                    border-radius:px(30);
                    &:before{
                        left:px(4);
                        background:#fff;
                        width:px(44);height:px(44);
                        border-radius:50%;
                    }
                }
                &:checked + label{
                    background-color:#222;
                    &:before{
                        left:px(40);
                    }
                }
            }
        }
        // &_box_balloon{
        //     padding:0;
        //     > section{
        //         @include inner(px(44), px(44), px(40), px(40), $bg:#fff);
        //         border-radius:0;
        //         box-shadow: 0 px(-4) px(20) rgba(0,0,0,.2);
        //     }
        //     h3{
        //         font-size:px(32);
        //         + p{
        //             margin-top:px(6);
        //         }
        //     }
        // }
    }
    .btn_area_wide{
        background-color:transparent;
        button, a{
            padding-top:px(18);
            padding-bottom:px(20);
            &:disabled{
                background-color:#e5e5e5;
                border-color:#e5e5e5;
            }
            box-shadow:none;
            background-color:#222;
            border-color:#222;
            border-radius:px(8);
            &:disabled{
                background-color:#d3d3d3;
                border-color:#d3d3d3;
            }
            s{
                display:block;
                margin-top:0;
                font-size:px(24);
                color:#7a7a7a;
            }
        }
    }
    .btn_area_simp{
        margin-top:0;
        border-bottom:1px solid #f4f4f4;
        text-align:center;
        a{
            display:block;
        }
        button{
            width:100%;
        }
        a,button{
            padding:px(40) 0;
            font-size:px(32);
            i{
                @include lineArr($custom:"plus", $w:px(23), $h:px(23), $c:#222, $ro:0);
                margin:px(-4) 0 0 px(14);
            }
        }
        &.arr{
            a, button{
                i{
                    display:none;
                }
                &:after{
                    content:'';
                    @include lineArr($w:px(14), $h:px(14), $c:#222, $ro:45);
                    margin:px(-6) 0 0 px(12)
                }
            }
        }
    }
    .btn_area_half{
        flex-direction:column;
        >li{
            margin-left:0;
        }
    }
    .nodata_bx{
        font-size:px(28);
        color:#a7a7a7;
        .mtxt{
            font-weight:400;
            font-size:px(32);
            + p{
                margin-top:px(12);
            }
        }
        figure{
            &[data-fig="없음"]{
                @include bg("icon", "skt/fig_war.png", $w:px(108), $h:px(108));
            }
        }
    }
    .tab_type{
        background-color:#f4f4f4;
        border-bottom:0;
        border-radius:px(8);
        >li{
            flex:1;
            a, button{
                color:#7a7a7a;
                > span{
                    line-height:px(68);
                }
            }
            a.active, button.active{
                background-color:#fff;
                border:1px solid #d3d3d3;
                border-radius:px(8);
                color:#222;
                > span{
                    &:before{
                        display:none
                    }
                }
            }
        }
    }
    .tab_type2{
        background-color:#f4f4f4;
    }
    .list_thumb{
        >li{
            border-bottom:1px solid #f4f4f4;
            margin-bottom:0;
            padding:px(40) 0;
            &:first-child{
                border-top:0;
                padding-top:0;
            }
        }
        dt{
            flex:0 0 px(96);
            height:px(96);
        }
        dd{
            margin-left:px(24);
            .bank{
                font-size:px(28);
                .bar{
                    margin-left:px(4);
                    padding-left:0;
                    &:before{
                        display:none
                    }
                }
            }
        }
    }
    .list_brand{
        dl{
            > dd{
                ul.bankset{
                    > li{
                        line-height:1.5;
                        &.bank{
                            font-size:px(28);
                            color:#a7a7a7;
                            code{
                                margin-top:0
                            }
                        }
                        &.won{
                            font-weight:700;
                            font-size:px(32);
                            code{
                                font-size:px(32);
                            }
                        }
                    }
                }
            }
        }
    }
    .list_frm2{
        .th{
            font-size:px(28);
            font-weight:700;
            color:#222
        }
    }
    .list_normal{
        >li{
            padding-top:px(36);
            padding-bottom:px(36);
            flex-direction: column;
            &:first-child{
                padding-top:0
            }
            .th{
                font-size:px(32);
            }
            .td{
                &.date{
                    margin-top:px(16);
                    font-size:px(28);
                    s{
                        position:$rav;
                        margin-left:px(20);
                        padding-left:px(18);
                        &:before{
                            content:'';
                            margin-top:px(2);
                            @include bar("divide", $w:1px, $h:px(20), $c:#a7a7a7);
                            @include pos($aot, $t:50%, $l:0);
                            transform: translateY(-50%);
                        }
                    }
                }
            }
        }
    }
    .list_normal2{
        font-size:px(28);
        >li{
            .td{
                font-weight:500;
            }
        }
    }
    .list_coupon{
        dd{
            >ul{
                >li{
                    font-size:px(32);
                    &.date{
                        font-size:px(28);
                        color:#7a7a7a
                    }
                }
            }
            &.n{
                .name{
                    &:after, p:after{
                        background-color:#00A8E8;
                    }
                }
            }
            &.arr{
                &:after{
                    display:none
                }
            }
            &.arr2{
                &:after{
                    width:px(14);
                    height:px(14);
                    border-color:#a7a7a7;
                }
            }
        }
        >li.end{
            dd{
              &:after{
                  content:'사용완료';
                  border:0;
                  background-color:#efefef;
                  font-weight:400;
                  color:#222;
              }
            }
        }
    }
    .list_coupon2{
        .barcode{
            dt{
                &:after{
                    width:px(54);
                    height:px(54);
                    background-image:url($urlImg + "skt/ico_glass.png");
                    background-size:px(23) px(23);
                }
            }
            dd{
                &.wonset{
                    .won{
                        font-size:px(32);
                        code{
                            font-size:px(44)
                        }
                    }
                    .date{
                        font-size:px(28);
                        color:#a7a7a7;
                    }
                }
            }
        }
    }
    .list_rankup{
        font-size:px(32);
        color:#7a7a7a;
        >li{
            padding-left:px(50)
        }
    }
    .detail_imgview{
        dl{
            dd{
                .barcode{
                    + figcaption{
                        button{
                            border-color:#222;
                            font-size:px(28);
                            color:#222;
                        }
                    }
                }
            }
        }
    }
    .ly_pop{
        .btn_area_half{
            padding-top:px(30);
            padding-bottom:px(10);
            background-color:#fff;
            >li{
                button, a{
                    box-shadow:none;
                    border:0;
                    background-color:transparent;
                    border-radius:px(16);
                    font-weight:400;
                    font-size:px(32);
                    color:#7a7a7a;
                }
                .skip{
                    background-color:#222;
                    color:#fff
                }
            }
        }
    }
    header{
        h1{
            border-bottom:0;
            font-weight:400;
            font-size:px(36);
        }
        [class^="btn_"]{
            top:px(20);
        }
        .btn_prev i{
            width:px(24);
            height:px(24);
        }
        .btn_del{
            font-weight:400;
            font-size:px(28);
            color:#7a7a7a
        }
    }
    .inner_wrap{
        background-color:#f4f4f4;
        > section{
            margin-top:px(20);
            &:first-of-type{ margin-top:0 }
            .title_{
                &type, &bx{
                    margin-bottom:px(90)
                }
                &bx{
                    .title_type{
                        margin-bottom:0
                    }
                }
            }
        }
    }
    #footer{
        padding: px(40) px(30);
        address {
            margin-top: px(12);
            line-height:1.4;
            p {
                margin-top: px(8);
                &:first-child {
                    margin-top: 0;
                    color: #333;
                }
            }
        }
    }

    // content 
    .live_watch_tab {
        & .tab + .live_watch {
            margin-left:0;
        }
        
        &.center .live_watch {
            margin:0 auto;
            padding-right:0 !important;
        }
    }
    .live_watch{
        border-radius:0;
        &[data-type="일시조회"]{
            font-size:px(28);
            color:#7A7A7A;
            font-weight:400;
            margin-left:px(40);
            padding-top:px(30);
            padding-bottom:px(32); 
            i{
                width:px(32);height:px(32);
                font-size:0;
                background-image:url($urlImg+"skt/ico_refresh_new.png")
            }
            code{
                padding-left:0;
                margin-left:0;
                &:before{
                    display:none
                }
            }
        }
        &[data-type="모니터링"]{
            padding-top:0;padding-bottom:0;
            background-color:#00A8E8;
            line-height:px(80);
            font-size:px(28);
            &:after{
                content:'';
                @include bg("icon", "skt/ico_war.png", $w:px(28), $h:px(34));
                margin:px(-6) 0 0 px(16);
            }
        }
        &_wrap{
            height:px(80);
            + section{
                margin-top:px(20) !important;
            }
            &.slowhide{
                .live_watch{
                    right:0;left:0;top:0;
                    animation-name:hide-skt;
                }
                @keyframes hide-skt{
                    to{
                        transform:translateY(-44px);
                    }
                }
            }
        }
        &_tab{
            display:flex;
            justify-content:space-between;
            align-items:center;
            height:px(80);
            .tab{
                display:flex;
                margin-top:px(-4);
                li{
                    margin-left:px(40);
                }
                a,button{
                    font-size:px(24);
                    color:#a7a7a7;
                    &.active{
                        color:#222;
                    }
                }
            }
        }
    }

    .proof_print{
        h2, h3{
            text-align:center;
        }
        h2{
            font-size:px(56);
            &:before, &:after{display:none}
        }
        h3{
            font-size:px(24);
            letter-spacing:px(5);
            font-weight:700;
            &:before, &:after{display:none}
        }
        .paper{
            .cover{
                position:static;
                transform: translate(0,0);
            }
            .list_normal{
                width:auto;
                >li{
                    flex-direction: row;
                    border-bottom:1px solid #f4f4f4;
                    margin-top:0;
                    padding:px(30) px(10) px(30) px(20);
                    .th, .td{
                        font-size:px(30);
                    }
                    .th{
                        flex:0 0 px(180);
                    }
                    .td{
                        &.reward{
                            strong{
                                font-size:px(30);
                            }
                        }
                    }
                }
            }
        }
    }

    .caution_dskbx{
        padding-top:px(60);
        padding-bottom:px(100);
        letter-spacing:px(-2.5);
        h4{
            margin-bottom:px(30)
        }
    }

    .profile_dealcount{
        h3{
            font-size:px(44);
            font-weight:500;
            color:#222;
        }
        s{
            font-size:px(24);
            color:#a7a7a7;
        }
        .tab_type{
            + h3{
                margin-top:px(46);
            }
        }
        .count{
            margin-top:px(30);
            border-color:#00A8E8;
            font-weight:500;
            font-size:px(72);
            color:#00A8E8;
            code{
                margin-top:px(-20)
            }
            &.before{
                border-color:#FF4747;
                color:#FF4747
            }
        }
        .skip{
            @include btn($style:"r2", $bg:#222, $fc:#fff, $br:px(8), $p:px(18) 0 px(24));
            width:px(503.84);
            margin:px(20) auto 0;
            s{
                display:block;
                margin-top:0;
                font-size:px(24);
                color:#7a7a7a;
            }
        }
    }
    .profile_paynotice2{
        h3{
            font-size:px(44);
            font-weight:500;
            color:#222;
        }
        .tab_type{
            + h3{
                margin-top:px(46);
            }
        }
        .won{
            margin-top:px(40);
            color:#00A8E8;
            letter-spacing:px(-3);
            font-weight:500;
            font-size:px(48);
            code{
                font-weight:600;
                font-size:px(60);
            }
            &.before{
                color:#FF4747
            }
            &.after{
                font-size:px(66);
                code{
                    font-size:px(72);
                    margin:px(-14) 0 0 0;
                }
            }
        }
        .count{
            margin-top:px(30);
            border-bottom:1px solid #00A8E8;
            font-weight:500;
            font-size:px(72);
            color:#00A8E8;
            code{
                margin-top:px(-20)
            }
            &.before{
                border-color:#FF4747;
                color:#FF4747
            }
        }
        .skip{
            box-shadow:none;border:0;
            @include btn($style:"r2", $bg:#222, $fc:#fff, $br:px(8), $p:px(18) 0 px(24));
            width:px(503.84);
            margin:px(40) auto 0;
            s{
                display:block;
                margin-top:0;
                font-size:px(24);
                color:#7a7a7a;
            }
        }
        &.case1{
            h3{
                font-size:px(36);
            }
            .won{
                margin-top:px(20)
            }
        }
    }
    .profile_bankselct{
        padding:0;
        h2{
            margin-bottom:px(70);
        }
        fieldset{
            margin-bottom:0;
            padding-bottom:px(60);
            padding-top:px(50);
            background-color:#fff;
            figure{
                img{
                    width:px(152)
                }
            }
            .bank, .select-line2{
                .view{
                    border:0;
                    i{
                        width:px(18);
                        height:px(18);
                        margin-top:.3rem;
                    }
                }
            }
            .date{
                font-size:px(28)
            }
            + section{
                margin-top:px(20) !important;
            }
        }
    }
    .profile_coupon{
        background-color:#f4f4f4 !important;
        .tabset{
            background-color:#fff;
            padding:px(40) px(40) 0;
        }
        .giftset{
            padding:px(45) 0 !important;
            h4{
                font-size:px(28);
                color:#7a7a7a
            }
            li{
                flex:1 1 auto;
                p{
                    position:$rav;
                    font-weight:500;
                    font-size:px(44);
                    margin-top:px(10);
                    code{
                        font-weight:600;
                        font-size:px(44);
                    }
                    &:after{
                        content:'';
                        @include lineArr($w:px(14), $h:px(14), $c:#222, $ro:45);
                        margin:0 0 0 px(10);
                    }
                    &.won{
                        color:#00A8E8;
                        &:after{
                            border-color:#00A8E8;
                        }
                    }
                }
            }
        }
        .download{
            margin-top:px(20);
            h3{
                margin-bottom:0;
            }
        }
        .title_bx{
            margin-bottom:px(34) !important
        }
    }
    .profile_pricetab{
        padding-top:px(40);
        .tab_type{
            padding-top:0;
            padding-bottom:0;
        }
        .proof_print{
            padding:px(80) px(20) 0;
        }
    }

    .bankview_direct{
        padding-top:px(40);
    }

    .detail_imgview{
        + .caution_dskbx{
            margin-top:px(-100);
            background-color:#fff
        }
    }
    .thumbview_coupon{
        padding-top:px(55) !important;
        padding-right:0 !important;
        padding-left:0 !important;
        .title_bx{
            margin-bottom:px(36) !important;
        }
        .gallery-top{
            h4{
                margin-bottom:px(36) !important;
                font-size:px(32)
            }
        }
        .gallery-thumbs{
            padding-top:px(8);
            .swiper-slide-thumb-active{
                img{
                    width:px(144);
                    height:px(144);
                    border:2px solid #fff;
                    box-shadow:0 0 0 3px;
                }
                &:after{
                    display:none;
                }
            }
        }
    }
    .thumbview_detail{
        .detail_imgview{
            padding-bottom:px(140);
        }
    }

    .visual_main{
        .btn_area_wide{
            background-color:#fff;
            padding-bottom:px(160);
        }
        .profile_dealcount{
            padding-top:px(60) !important;
            padding-bottom:px(60) !important;
            h3{
                font-weight:700
            }
            .count{
                &, code{
                    font-size:px(60);
                }
            }
        }
        .steps{
            padding-bottom:px(60);
            h4{
                margin-bottom:px(80);
                letter-spacing:px(-3);
                font-size:px(44);
            }
            ol{
                position:$rav;
                &:before{
                    content:'';
                    @include bar("divide",$w:1px,$c:#d6d6d6);
                    @include pos($aot,$b:px(114), $t:px(60), $l:px(150));
                }
                li{
                    position:$rav;
                    padding-left:px(180);
                    margin-top:px(80);
                    font-size:px(28);
                    color:#979797;
                    counter-increment:rankup-counter;
                    h5{
                        margin-bottom:px(6);
                        font-size:px(32);
                        color:#222;
                    }
                    &:before{
                        content:'STEP'counter(rankup-counter);
                        display:block;
                        margin-bottom:px(10);
                        font-size:px(28);
                        font-weight:500;
                        color:#00A8E8;
                    }
                    &:after{
                        content:'';
                        @include bar("divide", $w:7px, $h:7px, $c:#222);
                        @include pos($aot,$t:px(50),$l:px(146));
                        border-radius:50%;
                    }
                    figure{
                        @include pos($aot,$l:0,$t:0);
                        width:px(120);height:px(120);
                        border:1px solid #e6e6e6;
                        border-radius:50%;
                        display:flex;
                        justify-content:center;
                        align-items:center;
                        &:before{
                            content:'';
                            background-repeat:no-repeat;
                            background-position:50% 50%;
                            background-size:100% 100%;
                        }
                    }
                    &:first-child{
                        figure{
                            &:before{
                                background-image:url($urlImg + "skt/figure_glass.png");
                                width:px(53);height:px(53);
                            }
                        }
                    }
                    &:nth-child(2){
                        figure{
                            &:before{
                                background-image:url($urlImg + "skt/figure_wallet.png");
                                width:px(53);height:px(47);
                            }
                        }
                    }
                    &:nth-child(3){
                        figure{
                            &:before{
                                background-image:url($urlImg + "skt/figure_bell.png");
                                width:px(48);height:px(53);
                            }
                        }
                    }
                    &:nth-child(4){
                        figure{
                            &:before{
                                background-image:url($urlImg + "skt/figure_shield.png");
                                width:px(43);height:px(55);
                            }
                        }
                    }
                    &:nth-child(5){
                        figure{
                            &:before{
                                background-image:url($urlImg + "skt/figure_w.png");
                                width:px(67);height:px(65);
                            }
                        }
                    }
                }
            }
        }
    }
    .visual_steps{
        h2{
            margin-top:px(55)
        }
        .btn_area_wide{
            margin-top:px(100)
        }
    }

    .ly_alert2{
        .content{
            padding-top:px(80);
            padding-bottom:px(10);
            font-size:px(36);
            font-weight:400;
            color:#7a7a7a;
            h3{
                font-size:px(40);
                &+span{
                    display: block;
                    margin-top: px(30);
                }
            }
            .txt{
                margin-top:0;
                font-size:px(36);
                font-weight:400;
                color:#7a7a7a;
            }
            .btn_area_half{
                margin-top:px(36);
            }
            .btn_area_wide{
                padding-right:0;
                padding-left:0;
                margin-top:px(36);
            }
        }
    }
    .ly_help{
        .content{
            padding:px(50) px(50) px(180) px(50);
            h3{
                text-align:center;
                font-size:px(40);
            }
            h4{
                font-size:px(34);
            }
        }
    }
    .ly_cpinfo{
        .close{
            right:px(40)
        }
    }

}

// 계좌변경 팝업
#mw-chgaccount{
    .content {
        padding-top: px(46);
        padding-bottom: px(46);
        h2 {
            margin-bottom: px(10);
            font-weight: 700;
            font-size: px(36);
        }
    }
    .scroll{
        @include iscroll(vertical,$w:100%,$h:100%);
    }
    .btn_area_wide{
        padding: 0;
    }
    .acc_info{
        height: px(720);
        margin-bottom: px(52);
        padding: 0 px(6);
    }
    .notice{
        margin-top: px(28);
        strong,
        li{
            font-size: px(24);
            color: #A7A7A7;
        }
        strong{
            display: block;
            @include pos($pos:$rav);
            padding-left: px(40);
            font-weight: 400;
            &:before{
                content: '';
                display: block;
                width: px(33);
                height: px(37);
                @include pos($pos:$aot,$l:0,$t:px(4));
                background: url($urlImg + '/skt/ico_account_noti.png') no-repeat 50% 50%;
                background-size: 100% 100%;
            }
        }
        ul{
            margin-top: px(6);
            padding-left: px(44);
        }
        li{
            font-weight: 300;
            &:before{
                content: '-';
                margin-right: px(8);
            }
        }
    }
    .info{
        li{
            border-bottom: 1px solid #F4F4F4;
        }
        .acc_btn{
            display: block;
            width: 100%;
            padding: px(40) 0;
            @include pos($pos:$rav);
            text-align: left;
            >*{
                display: block;
            }
            .name{
                font-weight: 400;
                font-size: px(32);
            }
            .num{
                font-size: px(28);
                color: #A7A7A7;
            }
            .ico{
                display: block;
                width: px(48);
                height: px(48);
                margin-top: px(-24);
                @include pos($pos:$aot,$r:px(4),$t:50%);
                border-radius: 50%;
                border: px(3) solid #D3D3D3;
                background-position: 50% 50%;
                background-repeat: no-repeat;
                background-size: 100% 100%;
            }
            &.selected{
                .ico{
                    background-image: url($urlImg + '/skt/account_btn_selected.png');
                    border: none;
                }
            }
        }
    }
}
.__PREFIX__icon {
    
    @keyframes rotate-center {
        0% {
          -webkit-transform: rotate(0);
                  transform: rotate(0);
        }
        100% {
          -webkit-transform: rotate(360deg);
                  transform: rotate(360deg);
        }
    }
      
}