@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700&display=swap');

* html .clfix {height:1%;}
.clfix {display:block;zoom:1;}
.clfix:after {content: ".";display:block;height:0px;clear:both;visibility:hidden;}

/* footer */
.global_footer_btinfo{font-weight:500;font-size:11px;color:#3E3E3E;display:inline-block;vertical-align:top}
.global_footer_btinfo:after{
    content:'';display:inline-block;width:6px;height:6px;vertical-align:middle;margin:-2px 0 0 6px;
    border-top:1px solid #333;border-right:1px solid #333;
    -webkit-transform: rotate(45deg);transform: rotate(45deg);
}
.global_footer{padding:0 !important;text-align:left}
.global_footer>article{padding:20px;line-height:1.5}
.global_footer .infobx{font-size:0}
.global_footer .btn_info{margin-left:10px;font-size:12px;color:#3E3E3E;display:inline-block;vertical-align:top;}
.global_footer .btn_info, .global_footer .btn_info strong{font-weight:700;font-family: 'Noto Sans KR', sans-serif;}
.global_footer .btn_info:first-child{margin-left:0}
.global_footer .btn_info:after{
    content:'';display:inline-block;width:6px;height:6px;vertical-align:middle;margin:-2px 2px 0 6px;
    border-top:1px solid #333;border-right:1px solid #333;
    -webkit-transform: rotate(45deg);transform: rotate(45deg);
}
.global_footer .cau,
.global_footer .cau button,
.global_footer .cau a{font-size:11px;color:#7E7E7E}
.global_footer .cau .po{margin-bottom:4px}
.global_footer .cau button,
.global_footer .cau a{text-decoration:underline}
.global_footer .cau i{vertical-align:middle;margin:-2px 3px 0 0}
.global_footer .cau address{margin-top:4px;font-size:11px;color:#B2B2B2}
.global_footer .list{margin:0 !important;padding:0 !important;line-height:1.5;}
.global_footer .list li{position:relative;margin-top:2px;padding-left:8px;font-size:11px;color:#7E7E7E}
.global_footer .list li strong{font-weight:700;color:#7E7E7E}
.global_footer .list li:first-child{margin-top:0}
.global_footer .list li:before{content:'-';position:absolute;top:0;left:0}
.global_footer .btn_info + .cau,
.global_footer .btn_info + .list{margin:10px 0 0 0 !important}
.global_footer .btn_info + .cau,
.global_footer .list li,
.global_footer .cau button,
.global_footer .cau a{font-weight:300 !important}
.global_footer .list + .btn_info{margin-top:10px !important}

.global_footer .innerWrap {padding:23px 0 3px;line-height:1;font-family: 'Noto Sans KR', sans-serif;}
.global_footer .infoList * {letter-spacing:-0.6px;font-size:12px;}
.global_footer .infoList {overflow:hidden;margin-top:10px;font-size:0;}
.global_footer .infoList.type02 {margin-top:5px;}
.global_footer .infoList li {float:left;color:#555555;font-weight:300;}
.global_footer .infoList.type02 li {margin-top:5px;}
.global_footer .infoList .tit,
.global_footer .infoList .point {font-weight:500;} 
.global_footer .infoList .btn.point {color:#ff6815;}
.global_footer .infoList .btn {color:#111111;}
.global_footer .infoList li:first-child,
.global_footer .infoList li.clfix {padding-left:0}
.global_footer .infoList li.clfix {clear:both}
.global_footer .infoList li:first-child:before,
.global_footer .infoList li.clfix:before {display:none;}
.global_footer .infoList li:before {content: '';display:inline-block;width:1px;height:13px;margin:0 9px;vertical-align:-2px;background-color: #a6a7a7;}
.global_footer .copy {font-size:12px;margin-top:8px;color:#999999;font-weight:300;}

/* footer */ 
.global_footer .txt01,
.global_footer .notice li {display:block;font-size:12px;}
.global_footer .txt01 {color:#000000}
.global_footer .notice {margin-top:15px;color:#333333;}
.global_footer .notice li {position:relative;padding-left:8px;font-weight:300;}
.global_footer .notice li:before {content:'*';position:absolute;top:2px;left:0;}
.global_footer .txt02,
.global_footer .btn_info02 {letter-spacing:-0.5px;}
.global_footer .txt02 {margin-top:35px;font-size:12px;color:#333333;font-weight:300;}
.global_footer .btn_info02 {font-size:12px;color:#333333;font-weight:300;text-decoration:underline;}

/* 홈페이지용 */
.global_footer.pc{font-size:14px}
.global_footer.pc>article{position:relative;max-width:1280px;margin:0 auto}
.global_footer.pc .btn_info{font-size:16px}
.global_footer.pc .cau,
.global_footer.pc .cau address,
.global_footer.pc .cau button, .global_footer.pc .cau a, .global_footer .list{font-size:14px}

/* 가입창-돋움 */
.global_footer.wfd,
.global_footer.wfd .btn_info{font-family:'Dotum'}
.global_footer.wfd .btn_info{font-size:12px;font-weight:bold}
.global_footer.wfd .cau,
.global_footer.wfd .cau address,
.global_footer.wfd .cau button, .global_footer.wfd .cau a{font-size:11px}
.global_footer.wfd .list li strong,
.global_footer.wfd .f_b{font-weight:bold}

/* 모바일 */
.global_footer.mo{font-size:12px}
.global_footer.mo .btn_info{font-size:14px}
.global_footer.mo .cau,
.global_footer.mo .cau address,
.global_footer.mo .cau button, .global_footer.mo .cau a,
.global_footer.mo .list li{font-size:12px}

/* 반응형 */
.global_footer.res{font-size:2.66vw}
.global_footer.res .btn_info{font-size:3vw}
.global_footer.res .cau,
.global_footer.res .cau address,
.global_footer.res .cau button, .global_footer.res .cau a,
.global_footer.res .list li{font-size:2.66vw}
.global_footer.res .f_up{font-size:3vw}

.global_footer.center{text-align:center}
.global_footer.mcenter{margin:0 auto}
.global_footer.line{border-top:1px solid #d4d4d4}
.global_footer .f_c{color:#333 !important}
.global_footer .f_up{font-size:14px !important}
.global_footer .f_b{font-weight:700 !important}

[class*="ly_cpinfo_"]{display:none;position:fixed;top:0;left:0;width:100%;height:100%;z-index:999}
[class*="ly_cpinfo_"].open{display:block}
[class*="ly_cpinfo_"] h2{padding-top:30px;font-size:18px;text-align:center;font-weight:400}
[class*="ly_cpinfo_"] .close{
    position:absolute;top:30px;font-size:0;width:22px;height:22px;z-index:1;
    -webkit-transform: rotate(45deg);transform: rotate(45deg);
}
[class*="ly_cpinfo_"] .close i{
    display:inline-block;width:1px;height:100%;color:transparent;white-space:nowrap;text-indent:-1000rem;
    background-color:#333;position:absolute;top:1px;left:50%;
    -webkit-transform:translateX(-50%);transform:translateX(-50%);
}
[class*="ly_cpinfo_"] .close:before{
    content:'';display:inline-block;width:1px;height:100%;
    background-color:#333;position:absolute;top:1px;left:50%;
    -webkit-transform:rotate(90deg) translateX(-50%);
    transform:rotate(90deg) translateX(-50%);
}
[class*="ly_cpinfo_"] .list{margin:25px auto 0;font-size:12px;width:310px}
[class*="ly_cpinfo_"] .list>li{display:flex;margin-top:7px}
[class*="ly_cpinfo_"] .list>li>strong,
[class*="ly_cpinfo_"] .list>li>span{float:left}
[class*="ly_cpinfo_"] .list>li>strong{width:38%;text-align:right;color:#222}
[class*="ly_cpinfo_"] .list>li>span{width:57%;margin-left:5%;text-align:left;color:#A7A7A7}
[class*="ly_cpinfo_"] .list .tel{display:none}
[class*="ly_cpinfo_"] .tabs{margin-top:30px}
[class*="ly_cpinfo_"] .tabs:after{display:block;clear:both;content:''}
[class*="ly_cpinfo_"] .tabs button{float:left;position:relative;height:46px;font-size:16px;color:#7d7d7d;background-color:#313131;border-left:1px solid #000}
[class*="ly_cpinfo_"] .tabs button:first-child{border-left:0}
[class*="ly_cpinfo_"] .tabs.t2 button{width:50%}
[class*="ly_cpinfo_"] .tabs.t3 button{width:33.3%}
[class*="ly_cpinfo_"] .tabs.t3 button:firt-child{width:33.4%}
[class*="ly_cpinfo_"] .tabs button.active{z-index:1;font-weight:500;background-color:#fff;color:#222;border-color:#fff}
[class*="ly_cpinfo_"] .tabs + .list_terms{margin-top:0 !important}
[class*="ly_cpinfo_"] .list_terms{margin-top:30px;padding:15px 20px;border-top:6px solid #F4F4F4}
[class*="ly_cpinfo_"] .list_terms li{border-top:1px solid #F4F4F4}
[class*="ly_cpinfo_"] .list_terms li:first-child{border-top:0}
[class*="ly_cpinfo_"] .list_terms a{display:block;text-decoration:none}
[class*="ly_cpinfo_"] .list_terms a,
[class*="ly_cpinfo_"] .list_terms button{position:relative;width:100%;padding:15px 0;text-align:left;font-size:14px;color:#222;}
[class*="ly_cpinfo_"] .list_terms a:after,
[class*="ly_cpinfo_"] .list_terms button:after{
    content:'';display:inline-block;width:6px;height:6px;
    position:absolute;top:50%;right:7px;margin-top:-2px;
    border-top:1px solid #b5b5b5;border-right:1px solid #b5b5b5;
    -webkit-transform:translateY(-50%) rotate(45deg);transform:translateY(-50%) rotate(45deg);
}
[class*="ly_cpinfo_"] .content{height:100%;overflow-x:hidden;overflow-y:auto;-webkit-overflow-scrolling:touch}
[class*="ly_cpinfo_"] .telecom_terms .list_terms{display:none;margin-top:0}
.ly_cpinfo_res .wrap,
.ly_cpinfo_pc .wrap{
    width:460px;height:660px;z-index:1;background-color:#fff;position:absolute;top:50%;left:50%;
    -webkit-transform: translate(-50%, -50%);transform: translate(-50%, -50%);
}
.ly_cpinfo_res:before,
.ly_cpinfo_pc:before{content:'';position:absolute;top:0;right:0;bottom:0;left:0;background-color:rgba(0,0,0,.7)}
.ly_cpinfo_res .close.right,
.ly_cpinfo_pc .close.right{right:30px}
.ly_cpinfo_res .close.left,
.ly_cpinfo_pc .close.left{left:30px}
.ly_cpinfo_mw .close.right{right:20px}
.ly_cpinfo_mw .close.left{left:20px}
.ly_cpinfo_mw{background-color:#fff}
.ly_cpinfo_mw .wrap{position:relative;width:100%;height:100%;padding:0 !important}

@-webkit-keyframes ball-clip-rotate{
    0%{-webkit-transform: rotate(0deg)}
    50%{-webkit-transform: rotate(180deg)}
    100%{-webkit-transform: rotate(360deg)}
}
@keyframes ball-clip-rotate{
    0%{transform: rotate(0deg)}
    50%{transform: rotate(180deg)}
    100%{transform: rotate(360deg)}
}
.ly_loading{display:none;z-index:30;position:fixed;top:0;right:0;bottom:0;left:0}
.ly_loading:before{content:'';position:absolute;top:0;right:0;bottom:0;left:0;background-color:rgba(0,0,0,.65)}
.ly_loading .wrap{
    width:86%;z-index:1;background-color:transparent;
    position:absolute;top:50%;left:50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}
.ly_loading .loading-circle{
    position:absolute;top:50%;left:50%;box-sizing:border-box;
    margin-top:-10px;margin-left:-10px;width:25px;height:25px;
    background:transparent;border: 0 solid #fff;border-width:2px;
    border-bottom-color: transparent;border-radius: 100%;
    -webkit-animation: ball-clip-rotate .75s linear infinite;
    animation: ball-clip-rotate .75s linear infinite;
}

@media screen and (max-width:769px) {
    .global_footer.pc .btn_info{font-size:14px}
    .global_footer.pc .cau,
    .global_footer.pc .cau button,
    .global_footer.pc .cau a,
    .global_footer.pc .cau address{font-size:11px}
    .ly_cpinfo_res .close.right{right:20px}
    .ly_cpinfo_res .close.left{left:20px}
    .ly_cpinfo_res{background-color:#fff}
    .ly_cpinfo_res .wrap{position:relative;width:100%;height:100%}
}