@charset "utf-8";

@import url("../../../CDF/css/base.css?v=2015-09-22"); /* 초기설정 */
@import url("../../../CDF/css/global.css?v=2015-09-22"); /* 모든 프로젝트 공통 */
@import url("../../../CDF/css/popup.css?v=2015-09-22"); /* 공통팝업 */

/* Reset */
* {margin:0;padding:0;-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box;-webkit-text-size-adjust:none;-webkit-tap-highlight-color:rgba(0,0,0,0);letter-spacing:-1px}
:focus {outline:0}
html,body,input,select,textarea,button {line-height:1.4;font-family:'나눔고딕',NanumGothic,'굴림',Gulim,Helvetica,sans-serif !important;font-size:12px;color:#333}
header,footer,section,article,aside,nav,hgroup,details,menu,figure,figcaption {display:block}
caption {width:0;height:0;line-height:0;font-size:0;position:absolute;left:0;​top:-1000em;overflow:hidden}
fieldset,img {border:0;vertical-align:top}
img,video,audio,object,embed,iframe {max-width:100%}
table {border-spacing:0;border-collapse:collapse}
ul,ol {list-style:none}
address,em {font-style:normal}
button {width:100%;background:none;border:0;text-align:center;overflow:hidden;cursor:pointer;-webkit-appearance:none}
a:link,a:visited,a:hover,a:active,a:focus {color:#333;text-decoration:none}

/* Common */
.rt {position:relative}
.sr {width:0;height:0;line-height:0;font-size:0;position:absolute;left:0;​top:-1000em;overflow:hidden}

/* Form */
input,select,textarea {width:100%; height:30px; border:1px solid #ccc !important; padding:5px !important; vertical-align:middle}
input[type="radio"], input[type="checkbox"] {height:auto; border:0}
select, .select {width:100%; height:30px; background:url('http://image.findall.co.kr/FACache/m_paper_findall2/common/select_arrow2.png') no-repeat right bottom; background-size:28px 28px; border:1px solid #ddd; background-color:#fff; padding:5px 15px 5px 5px !important; text-align:left; -webkit-appearance:none; -webkit-border-radius:0}

/* Button */
.bt100 {padding:15px 0; text-align:center}
.bt100 ul {width:100%; display:table}
.bt100 ul li {padding-left:10px; display:table-cell}
.bt100 ul li:first-child {padding-left:0}

/* Main */
.bg_hd {background:url('http://image.findall.co.kr/FACache/m_paper_findall2/common/bg_header.png'); background-size:150px auto; display:inline-block; vertical-align:top}
.bg_hd span {width:0; height:0; line-height:0; visibility:hidden; overflow:hidden}
#Header {
    height:99px; padding:0 10px;
    background:#2896ff;
    background:-moz-linear-gradient(left,  #2896ff 0%, #1a6ccd 50%, #1953b3 75%, #06539a 100%);
    background:-webkit-gradient(linear, left top, right top, color-stop(0%,#2896ff), color-stop(50%,#1a6ccd), color-stop(75%,#1953b3), color-stop(100%,#06539a));
    background:-webkit-linear-gradient(left,  #2896ff 0%,#1a6ccd 50%,#1953b3 75%,#06539a 100%);
    background:-o-linear-gradient(left,  #2896ff 0%,#1a6ccd 50%,#1953b3 75%,#06539a 100%);
    background:-ms-linear-gradient(left,  #2896ff 0%,#1a6ccd 50%,#1953b3 75%,#06539a 100%);
    background:linear-gradient(to right,  #2896ff 0%,#1a6ccd 50%,#1953b3 75%,#06539a 100%);
    filter:progid:DXImageTransform.Microsoft.gradient( startColorstr='#2896ff', endColorstr='#06539a',GradientType=1 );
}
header#Header.none {height:auto; padding:0; background:none}
.logo_ar {height:49px; text-align:center; padding-top:15px}
.logo_ar .logo {width:72px; height:auto}
.search_ar {height:41px; background-color:#fff; border:1px solid #3a82c7; position:relative}
.search_ar .s1 {width:100px; position:absolute; left:0; top:0}
.search_ar select {height:39px; background:url('http://image.findall.co.kr/FACache/m_paper_findall2/common/select_arrow.png') no-repeat right bottom; background-size:39px 39px; border:0 !important; font-size:1.083em}
.search_ar .s2 {padding:0 45px 0 100px}
.search_ar input {width:100%; height:39px; border:0 !important; font-size:1.083em}
.search_ar .s3 {width:45px; position:absolute; right:0; top:0}
.search_ar .bt_search {background-position:0 0; width:45px; height:39px}
.search_ar .bt_search:before {width:1px; height:20px; background-color:#ccc; position:absolute; left:0; top:10px; content:''}

#Nav {height:40px; background-color:#fff; border-bottom:1px solid #ccc; position:relative}
#Nav ul {width:100%; padding:0 90px 0 10px; display:table}
#Nav ul li {height:40px; text-align:center; display:table-cell; vertical-align:middle}
#Nav ul li a {font-size:1.167em; font-weight:bold; display:inline-block}
#Nav ul li.active {border-bottom:3px solid #2896ff}
#Nav ul li.active a {padding-top:2px; color:#2896ff}
#Nav ul li.job a {margin:0 -3px}
#Nav ul li.goods a {margin:0 -4px}
#Nav .bt_go {width:75px; height:25px; border:1px solid #299dc6; border-radius:13px; text-align:center; padding:1px 5px 0 5px; font-size:0.929em; font-weight:bold; color:#299dc6; position:absolute; right:10px; top:7px}

.bg_main {background:url('http://image.findall.co.kr/FACache/m_paper_findall2/cont/bg_main.png'); background-size:250px auto; display:inline-block; vertical-align:top}
.bg_main span {width:0; height:0; line-height:0; visibility:hidden; overflow:hidden}
#Main #Section {background-color:#eee; padding:10px; position:relative}
#Main #Section article {background-color:#fff; margin-top:10px; position:relative}
#Main #Section article:first-child {margin-top:0}
#Main #Section article dl dt {width:100%; position:absolute; left:0; top:0}
#Main #Section article dl dt .txt {padding-top:23px; margin-right:7px; font-size:1.500em; font-weight:bold; display:inline-block; float:left}
#Main #Section article dl dt .ico_arrow {background-position:-25px -95px; width:10px; height:17px; margin-top:28px; float:left}
#Main #Section article dl dd ul {width:100%; padding-top:15px; display:table}
#Main #Section article dl dd ul li {width:33.3%; height:43px; text-align:center; display:table-cell; position:relative}
#Main #Section article dl dd ul li:before {width:1px; height:38px; background-color:#ccc; position:absolute; left:0; top:2px; content:''}
#Main #Section article dl dd ul li:first-child:before {display:none}
#Main #Section article dl dd ul li .txt {width:100%; height:14px; font-size:0.917em; position:absolute; left:0; top:29px; overflow:hidden}

#Main #Section .job_ar {height:75px; border-bottom:2px solid #29cbfc; padding-left:176px}
.ico_job {background-position:0 0; width:55px; height:55px; margin:9px 13px 0 13px; float:left}
#Main #Section .job_ar dl dd ul li .ico_job01 {background-position:0 -60px; width:23px; height:28px}
#Main #Section .job_ar dl dd ul li .ico_job02 {background-position:-25px -60px; width:21px; height:22px; margin-top:3px}
#Main #Section .job_ar dl dd ul li .ico_job03 {background-position:-50px -60px; width:26px; height:24px; margin-top:2px}

#Main #Section .land_ar {height:75px; border-bottom:2px solid #63d586; padding-left:176px; margin-bottom:95px}
.ico_land {background-position:-60px 0; width:46px; height:46px; margin:14px 18px 0 18px; float:left}
#Main #Section .land_ar dl dd ul li .ico_land01 {background-position:-80px -60px; width:32px; height:26px}
#Main #Section .land_ar dl dd ul li .ico_land02 {background-position:-115px -60px; width:24px; height:26px}
#Main #Section .land_ar dl dd ul li .ico_land03 {background-position:-145px -60px; width:23px; height:25px}

#Main #Section .car_ar {width:46%; height:75px; border-bottom:2px solid #eed25b; position:absolute; left:10px; top:170px}
.ico_car {background-position:-115px 0; width:62px; height:31px; margin:21px 10px 0 10px; float:left}

#Main #Section .goods_ar {width:46%; height:75px; border-bottom:2px solid #feb583; position:absolute; right:10px; top:170px}
.ico_goods {background-position:-185px 0; width:42px; height:45px; margin:14px 14px 0 14px; float:left}
#Main #Section .goods_ar dl dt .txt {line-height:21px; padding-top:16px}

#Main #Section .town_ar .ico_arrow {margin:0; position:absolute; right:15px; top:28px; z-index:9}

.zone_ar {padding:10px 10px 15px 10px}
.zone_ar .top {margin-bottom:10px; overflow:hidden}
.zone_ar .top .left {float:left}
.zone_ar .top .left .ico_zone {background-position:0 -95px; width:20px; height:20px; margin:1px 3px 0 0}
.zone_ar .top .left .txt {font-size:1.333em}
.zone_ar .top .left .txt strong {font-weight:normal; color:#2896ff}
.zone_ar .top .right {float:right}
.zone_ar .top .right a {margin-right:10px; font-size:1.083em; color:#555}
.zone_ar .top .right .bt_zone_set {background-position:-40px -95px; width:16px; height:16px; margin-right:3px}
.zone_ar .top .right .bt_zone_all {background-position:-65px -95px; width:14px; height:14px; margin-right:3px}
.zone_ar .cont a {display:block; position:relative}
.zone_ar .cont .txt {margin-top:-8px; font-size:1.167em; color:#fff; position:absolute; left:10px; top:50%; z-index:9}
.zone_ar .cont .txt strong {font-weight:normal; color:#00deff}
.zone_ar .cont .bt_zone_arrow {background-position:-85px -95px; width:21px; height:21px; margin-top:-10px; position:absolute; right:12px; top:50%; z-index:9}
.zone_ar .cont img {width:100%; height:auto}

.zone_ar .cont ul {width:100%; display:table}
.zone_ar .cont ul li {width:25%; height:75px; padding-left:5px; display:table-cell; vertical-align:top}
.zone_ar .cont ul li:first-child {padding-left:0}
.zone_ar .cont ul li .line {width:100%; height:75px; border:1px solid #ccc; text-align:center}
.zone_ar .cont ul li img {width:80%; margin-top:28px}
.zone_ar .cont ul li .town {height:31px; line-height:31px; border-bottom:2px solid #2896ff; font-size:1.167em; font-weight:bold; display:inline-block}
.zone_ar .cont ul li .town_paper {line-height:15px; padding-top:7px; font-size:0.917em}

.ad_ar img {width:100%; height:auto}

.call_ar {padding:10px}
.call_ar ul {overflow:hidden}
.call_ar ul li {width:50%; height:48px; font-weight:bold; float:left; position:relative}
.call_ar ul li .tit {margin-bottom:1px; font-size:0.917em; display:block}
.call_ar ul li .point {font-size:1.333em; letter-spacing:0}
.call_ar ul li .bt_call {background-position:-115px -95px; width:17px; height:17px; position:absolute; right:10px; top:11px}
.call_ar ul li.paper .point {color:#fd8028}
.call_ar ul li.pc {padding-left:10px}
.call_ar ul li.pc:before {width:1px; height:33px; background-color:#ccc; position:absolute; left:0; top:3px; content:''}
.call_ar ul li.pc .point {color:#fa6374}
.call_ar ul li.pc .bt_call {background-position:-140px -95px; right:0}
.call_ar ul li.explan {width:100%; height:auto; border-top:1px solid #ccc; padding-top:5px; font-size:0.917em; color:#777}
.call_ar ul li.explan span {margin-left:4px; color:#2896ff}

.notice_ar {border-bottom:1px solid #ccc; margin:0 10px; padding:8px 0 11px 0; position:relative}
.notice_ar .tit_ar {position:absolute; left:0; top:10px; z-index:9}
.notice_ar .tit_ar .tit {height:20px; border:1px solid #333; border-radius:10px; padding:2px 5px 0 5px; font-size:0.917em; display:inline-block}
.notice_ar .cont_ar ul li {padding:4px 20px 0 60px; position:relative}
.notice_ar .cont_ar ul li a .ico_new {background-position:-165px -95px; width:14px; height:14px; margin:3px 0 0 4px}
.notice_ar .cont_ar ul li a .bt_more {background-position:-185px -95px; width:6px; height:10px; position:absolute; right:5px; top:8px}

/* Main - Town */
.logo_ar .town {height:25px; background-color:#555; border-radius:13px; margin:-3px 5px 0 0; padding:2px 10px 0 10px; font-size:1.250em; font-weight:bold; color:#fff; display:inline-block; vertical-align:top}
.data_ar ul {width:100%; display:table}
.data_ar ul li {width:33.3%; border-left:1px solid #eee; padding:10px 0; display:table-cell; text-align:center}
.data_ar ul li:first-child {border-left:0}
.data_ar ul li .tit {font-size:1.083em; font-weight:bold; display:block}
.data_ar ul li .ico_data01 {background-position:0 -120px; width:42px; height:42px}
.data_ar ul li .ico_data02 {background-position:-50px -120px; width:45px; height:34px; margin-top:8px}
.data_ar ul li .ico_data03 {background-position:-105px -120px; width:41px; height:38px; margin-top:4px}

/* Footer */
.bg_foo {background:url('http://image.findall.co.kr/FACache/m_paper_findall2/common/bg_footer.png'); background-size:150px auto; display:inline-block; vertical-align:top}
.bg_foo span {width:0; height:0; line-height:0; visibility:hidden; overflow:hidden}
#Footer {background-color:#485f76}
#Footer .bt_ar {background-color:#fff; padding:15px 10px; overflow:hidden}
#Footer .bt_ar .bt_prev {float:left}
#Footer .bt_ar .bt_prev .ico_prev {background-position:0 0; width:6px; height:10px; margin:7px 5px 0 0}
#Footer .bt_ar .bt_top {float:right}
#Footer .bt_ar .bt_top .ico_top {background-position:-10px 0; width:10px; height:6px; margin:9px 5px 0 0}
#Footer .bott_ar {background-color:#485f76; padding:15px 10px 30px 10px}
#Footer .bott_ar ul {width:100%; display:table}
#Footer .bott_ar ul li {width:25%; height:30px; line-height:30px; border:1px solid #2c3844; border-left:0; background-color:#647b93; text-align:center; display:table-cell}
#Footer .bott_ar ul li:first-child {border-left:1px solid #2c3844}
#Footer .bott_ar ul li a {font-size:0.917em; font-weight:bold; color:#fff}
#Footer .bott_ar address {line-height:15px; padding-top:15px; font-size:0.917em; color:#fff}
#Footer .bott_ar .link_ar {font-size:0.917em; color:#fff}
#Footer .bott_ar .link_ar span {letter-spacing:0}
#Footer .bott_ar .link_ar a {padding-left:10px; margin-left:10px; color:#fff; position:relative}
#Footer .bott_ar .link_ar a:before {width:1px; height:10px; background-color:#fff; position:absolute; left:0; top:1px; content:''}
footer#Footer.fixm {padding-bottom:70px}

/* List */
.sort_fm {background-color:#fafafa; padding:10px 10px 5px 10px} 
.sort_fm .fm ul {width:100%; display:table}
.sort_fm .fm ul li {width:33.3%; padding:0 0 6px 6px; display:table-cell}
.sort_fm .fm ul li:first-child {width:33.4%; padding:0 0 6px 0}
.sort_fm .bt .bt_search {background-color:#8c9cab; border:1px solid #8c9cab; border-radius:0; color:#fff}

.dt_list.all_list .tit .txt {padding-top:5px; font-size:1em; float:left; color:#555}
.dt_list.all_list .tit .txt strong {font-size:1.250em; color:#2896ff}
.dt_list.all_list .tit select {width:auto; float:right}
.dt_list.all_list .list ul li .info {padding-right:130px}
.dt_list.all_list .list ul li .info .brand {font-weight:bold; color:#ff7901}
.dt_list.all_list .list ul li .info .pay {font-size:1.250em; font-weight:bold}
.dt_list.all_list .list ul li .info .model span {padding:0 5px; font-size:0.917em; color:#555; position:relative}
.dt_list.all_list .list ul li .info .model span:before {width:1px; height:10px; background-color:#555; position:absolute; left:0; top:1px; content:''}
.dt_list.all_list .list ul li .info .model span:first-child {padding-left:0}
.dt_list.all_list .list ul li .info .model span:first-child:before {display:none}
.dt_list.all_list .list ul li .date {width:53px; padding-top:25px; text-align:center; font-size:0.917em; color:#777; position:absolute; right:10px; top:0}
.dt_list.all_list .list ul li .photo {width:64px; height:48px; position:absolute; right:63px; top:8px}
.dt_list.all_list .list ul li .photo img {width:64px; height:48px}

/* Paginate */
.bg_pg {background:url('http://image.findall.co.kr/FACache/m_paper_findall2/common/bg_paging.png'); background-size:50px auto; display:inline-block; vertical-align:top}
.bg_pg span {width:0; height:0; line-height:0; visibility:hidden; overflow:hidden}
.paginate {text-align:center; padding-top:15px}
.paginate button {width:30px; height:30px; background-color:#fff; border:1px solid #ddd}
.paginate button span {margin-top:2px}
.paginate .bt_first .bt_first_arrow {background-position:0 0; width:12px; height:12px}
.paginate .bt_prev .bt_prev_arrow {background-position:-15px 0; width:7px; height:11px}
.paginate .bt_next .bt_next_arrow {background-position:-25px 0; width:7px; height:11px}
.paginate .bt_last .bt_last_arrow {background-position:-35px 0; width:12px; height:12px}
.paginate a,
.paginate strong {width:30px; height:30px; border:1px solid #ddd; padding-top:6px; font-size:1.167em; text-decoration:none; vertical-align:top; display:inline-block}
.paginate strong {color:#2896ff}

/* Detail */
#Section .subj.pay {min-height:50px; background-color:#fafafa; padding:5px 15px; position:relative}
#Section .subj.pay strong {font-weight:normal; color:#ff7901}
#Section .subj.pay h2 {font-size:1.500em; font-weight:bold; text-overflow:ellipsis; overflow:hidden; white-space:nowrap}
#Section .subj.pay h2 span {font-size:0.833em; font-weight:normal}

.dt_pic {border-bottom:2px solid #2896ff; position:relative}
.lSSlideOuter {overflow:hidden; -webkit-touch-callout:none; -webkit-user-select:none; -khtml-user-select:none; -ms-user-select:none; user-select:none}
.lightSlider:before,
.lightSlider:after {content:''; display:table}
.lightSlider {overflow:hidden}
.lSSlideWrapper {max-width:100%; overflow:hidden; position:relative}
.lSSlideWrapper > .lightSlider:after {clear:both}
.lSSlideWrapper .lSSlide {
    -webkit-transform:translate(0px, 0px);
    -ms-transform:translate(0px, 0px);
    transform:translate(0px, 0px);
    -webkit-transition:all 1s;
    -webkit-transition-property:-webkit-transform,height;
    -moz-transition-property:-moz-transform,height;
    transition-property:transform,height;
    -webkit-transition-duration:inherit !important;
    transition-duration:inherit !important;
    -webkit-transition-timing-function:inherit !important;
    transition-timing-function:inherit !important;
}
.lSSlideOuter .lSPager.lSpg {width:100%; text-align:center; position:absolute; left:0; bottom:10px; z-index:9}
.lSSlideOuter .lSPager.lSpg > li {cursor:pointer; display:inline-block; padding:0 5px}
.lSSlideOuter .lSPager.lSpg > li a {width:8px; height:8px; background-color:#eee; border-radius:30px; display:inline-block; overflow:hidden; text-indent:-999em; position:relative; z-index:9; -webkit-transition:all 0.5s linear 0s; transition:all 0.5s linear 0s}
.lSSlideOuter .lSPager.lSpg > li:hover a,
.lSSlideOuter .lSPager.lSpg > li.active a {width:15px; background-color:#2896ff}
.lSSlideOuter .lightSlider,
.lSSlideOuter .lSPager {padding-left:0}
.lSSlideOuter .lightSlider > *,
.lSSlideOuter .lSGallery li {display:table-cell}
.lSSlideOuter .lightSlider > li {height:270px !important; text-align:center; vertical-align:middle}
.lSSlideOuter .lightSlider > li > img {max-height:270px !important; vertical-align:middle}

.dt_sns {margin:0}
.bg_meth {background:url('http://image.findall.co.kr/FACache/m_paper_findall2/cont/bg_method.png'); background-size:150px auto; display:inline-block; vertical-align:top}
.bg_meth span {width:0; height:0; line-height:0; visibility:hidden; overflow:hidden}
.dt_method {background-color:#fff}
.dt_method .bt_meth_map .ico_meth_map {background-position:0 0; width:14px; height:19px; margin:12px 5px 0 0}
.dt_method .bt_meth_sms .ico_meth_sms {background-position:-20px 0; width:18px; height:18px; margin:12px 5px 0 0}
.dt_method .bt_meth_call {background-color:#fe495a; border:1px solid #fe495a; color:#fff}

/* Map */
.bg_map {background:url('http://image.findall.co.kr/FACache/m_paper_findall2/cont/bg_map.png'); background-size:150px auto; display:inline-block; vertical-align:top}
.bg_map span {width:0; height:0; line-height:0; visibility:hidden; overflow:hidden}
.close_bt {background-position:0 0; width:21px; height:21px; position:absolute; right:15px; top:14px}
.map_cont {overflow:hidden; position:relative}
.map_detail {width:100%; height:78px; background-color:#fff; border-top:2px solid #2896ff; padding:10px 76px 0 10px; position:fixed; left:0; bottom:0; z-index:9}
.map_detail .brand {font-size:1.083em; color:#2896ff}
.map_detail .subj {font-size:1.250em; font-weight:bold}
.map_detail .adr {color:#555}
.map_call_bt {background-position:-25px 0; width:51px; height:51px; position:fixed; right:15px; bottom:13px; z-index:99}

/* Layer Popup */
.bg_false {background:url('http://image.findall.co.kr/FACache/m_paper_findall2/cont/bg_false.png'); background-size:150px auto; display:inline-block; vertical-align:top}
.bg_false span {width:0; height:0; line-height:0; visibility:hidden; overflow:hidden}
.ly_pop {display:none}
.ly_pop .bg {width:100%; height:100%; position:fixed; top:0; left:0; z-index:9997; background-color:#000; opacity:.5; filter:alpha(opacity=50)}
.ly_pop .cont {width:100%; height:100%; position:absolute; top:0; left:0; z-index:9998; text-align:center}
.ly_pop .cont:before {height:100%; content:''; display:inline-block; vertical-align:middle}
.ly_pop .cont .element {width:90%; position:relative; display:inline-block; vertical-align:middle; margin:0 auto}
.ly_pop .cont .element .bt_pop_close {background-position:0 0; width:21px; height:21px; position:absolute; right:15px; top:14px}
.ly_pop .cont .element .ele {background-color:#fff; text-align:left}
.ly_pop .cont .element .ele .tit {height:50px; background-color:#2896ff; text-align:center; padding-top:13px; font-size:1.667em; font-weight:bold; color:#fff}

/* 허위정보 신고 */
.ly_pop .cont .element .ele .top {margin:15px 15px 0 15px; border-bottom:1px solid #ccc}
.ly_pop .cont .element .ele .top .subtit {font-size:1.333em; font-weight:bold; margin-bottom:7px}
.ly_pop .cont .element .ele .top .ico_false {background-position:-25px 0; width:18px; height:19px; margin-right:5px}
.ly_pop .cont .element .ele .top .firm {line-height:20px; margin-bottom:11px}
.ly_pop .cont .element .ele .refer {background-color:#edf8fd; border:1px solid #bbd1db; margin-bottom:10px}
.ly_pop .cont .element .ele .refer ul {padding:10px 10px 5px 0}
.ly_pop .cont .element .ele .refer ul li {padding-left:20px; margin-bottom:5px; color:#555}
.ly_pop .cont .element .ele .refer ul li .ico_false_bul {background-position:-45px 0; width:3px; height:3px; margin:7px 5px 0 -8px}
.ly_pop .cont .element .ele .exp {margin-bottom:13px; font-size:0.917em; color:#555}
.ly_pop .cont .element .ele .false_info {margin:0 15px}
.ly_pop .cont .element .ele .false_info ul.fm li {width:100%; padding-top:15px; display:table; table-layout:fixed}
.ly_pop .cont .element .ele .false_info ul.fm li .subj {width:65px; font-size:1.167em; color:#777; display:table-cell}
.ly_pop .cont .element .ele .false_info ul.fm li .subj span {color:#2896ff}
.ly_pop .cont .element .ele .false_info ul.fm li .value {font-size:1.167em; display:table-cell; position:relative; text-overflow:ellipsis; overflow:hidden; white-space:nowrap}
.ly_pop .cont .element .ele .false_info ul.fm li .value .error {padding-top:5px; font-size:0.833em; color:#fe495a}
.ly_pop .cont .element .ele .false_info ul.fm li .value .byte {font-size:0.833em; color:#999; float:right}
.ly_pop .cont .element .ele .false_info ul.fm li .value .byte strong {color:#2896ff}
.ly_pop .cont .element .ele .false_info .bt100 ul li button {border-radius:0}
.ly_pop .cont .element .ele .false_info .bt_false {background-color:#2896ff; border:1px solid #2896ff; color:#fff}

/* 검색 */
.search_result {margin-bottom:10px; position:relative}
.search_result .txt {padding-top:8px; color:#555}
.search_result .txt strong {color:#ff6b50}
.search_result .txt .num {color:#2896ff}
.search_result .bt_sort {position:absolute; right:10px; top:0}
.search_result .bt_sort ul li {width:52px; height:25px; border:1px solid #ccc; float:left}
.search_result .bt_sort ul li button {padding:3px 0; color:#ccc}
.search_result .bt_sort ul li.active {border:1px solid #333}
.search_result .bt_sort ul li.active button {color:#333}

/* APP */
.app_job #Section .subj.pay {width:100%; background-color:#edfafe; display:table}
.app_job #Section .subj.pay h2 {text-align:center; padding:0 30px; font-size:1.333em; display:table-cell; vertical-align:middle}
.app_job .dt_busi {border-bottom:0}
.app_job #Nav,
.app_land #Nav {height:36px; border-top:1px solid #ddd}
.app_job #Nav ul,
.app_land #Nav ul {padding:0}
.app_job #Nav ul li,
.app_land #Nav ul li {height:34px; line-height:34px}
.app_job #Nav ul li.active,
.app_land #Nav ul li.active {background-color:#f5f5f5; border-bottom:0; color:#555}

.app_job .txt_year {color:#ff7784}
.app_job .txt_month {color:#cd7fe2}
.app_job .txt_day {color:#b3ce1d}
.app_job .txt_time {color:#fd9c76}
.app_job .txt_talks {color:#47c1a8}
.app_job .txt_talk {color:#555}
.app_job .txt_knowhow {color:#ed7f5a}
.app_job .txt_new {color:#b6d54b}
.app_job .dt_cont a.dt_view_bt {background-color:#2896ff; border:2px solid #2896ff; color:#fff}
.app_job .dt_cont .dt_view_bt_arrow {background-position:-95px 0}

.app_job .dt_method ul li,
.app_land .dt_method ul li {width:33.3%}
.app_job .dt_sms_bt,
.app_land .dt_sms_bt,
.app_car .dt_sms_bt,
.app_goods .dt_sms_bt,
.app_service .dt_sms_bt {background-color:#555; border:1px solid #555; color:#fff}
.app_job .dt_method ul li a.bt_type3.dt_mob_bt,
.app_land .dt_method ul li a.bt_type3.dt_mob_bt,
.app_car .dt_method ul li a.bt_type3.dt_mob_bt,
.app_goods .dt_method ul li a.bt_type3.dt_mob_bt,
.app_service .dt_method ul li a.bt_type3.dt_mob_bt {background-color:#fe495a; border:1px solid #fe495a}

.app_land #Section .subj.pay {padding-right:200px}
.app_land #Section .subj.pay h2 span {font-weight:bold}
.app_land #Section .subj.pay strong,
.app_car #Section .subj.pay strong,
.app_goods #Section .subj.pay strong {color:#555}
.app_land #Section .subj.pay .price {width:200px; text-align:right; padding-right:50px; font-size:1.333em; font-weight:bold; position:absolute; right:0; top:14px}
.app_land #Section .subj.pay .price strong {font-weight:bold; color:#333; display:inline-block}
.mm {color:#ff7b43}
.zs {color:#4791b0}
.ws {color:#6dbf0b}
.app_land .dt_pic {border-bottom:0}
.lSAction {width:100%; position:absolute; left:0; top:50%; margin-top:-25px}
.lSAction .lSPrev {width:35px; height:51px; background:url('http://image.findall.co.kr/FACache/m_paper_findall2/cont/detail_arrow_left.png') no-repeat; background-size:35px 51px; display:inline-block; position:absolute; left:0}
.lSAction .lSNext {width:35px; height:51px; background:url('http://image.findall.co.kr/FACache/m_paper_findall2/cont/detail_arrow_right.png') no-repeat; background-size:35px 51px; display:inline-block; position:absolute; right:0}
.app_land #Nav ul li {width:50%}
.dt_cont .dt_tbl tr td .btUnit {width:auto; height:17px; margin-left:5px; padding:0 5px; border:1px solid #999; font-size:0.833em; font-weight:bold}
.dt_cont .dt_tbl tr td .btUnit .dt_ico_unit {background-position:-110px 0; width:15px; height:10px; margin:3px 4px 0 0}

/* 지역벼룩시장 선택 */
.ad_pp{clear:both;padding:10px;border-bottom:2px solid #52acff;background:#666;color:#fff}
.ad_pp h2{margin-bottom:2px;font-size:1.2em;font-weight:bold;color:#c8f36b}

.hsec{position:relative;padding:15px 75px 15px 10px}
.hsec_tit{position:relative;padding-left:20px}
.hsec_tit{font-size:1.2em;font-weight:bold;-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box}
.hsec_tit span{color:#ffa235}
.hsec_tit:before{display:block;content:'';position:absolute;top:3px;left:0;width:16px;height:13px;background:url(http://image.findall.co.kr/FAImage/M_Paper2/findall/common/pac_com.png) no-repeat -79px 0;background-size:340px auto;-webkit-background-size:340px auto}
.hsec_mss{clear:both;margin-top:3px;padding-top:6px;border-top:2px solid #bbb;color:#aaa}
.hsec_lst{clear:both;margin-top:3px;padding-top:5px;border-top:2px solid #bbb}
.hsec_lst a{display:inline-block;position:relative;padding:0 6px;font-weight:bold;color:#7ba932;-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box}
.hsec_lst a:before{content:'';display:block;position:absolute;top:2px;left:0;width:1px;height:12px;background:#bbb}
.hsec_lst a:first-child{padding-left:0}
.hsec_lst a:first-child:before{display:none}
.btn_pac{display:inline-block;padding:5px 8px 4px 8px;border-radius:3px;-webkit-border-radius:3px;line-height:1.5;text-align:center;white-space:nowrap}
.btns1{min-width:38px;border-radius:5px;-webkit-border-radius:5px;border:1px solid #26292d;background:#f3f3f3}
.btns2{border-radius:4px;-webkit-border-radius:4px;border:1px solid #2b2b2b;background:#cf735e;color:#fff}
.btns3{box-shadow:0 1px 0 #93d000 inset;border-radius:4px;-webkit-border-radius:4px;border:1px solid #000;background:#84bb00;font-weight:bold;color:#fff}
.hsec .btns1{position:absolute;top:23px;right:8px}
.imsc{display:inline-block;overflow:hidden;background-color:transparent;background-image:url(http://image.findall.co.kr/FAImage/M_Paper2/findall/common/pac_com.png);background-repeat:no-repeat;background-size:320px auto;-webkit-background-size:320px auto;white-space:nowrap}
.imsc_bu{width:11px;height:7px;background-position:-92px -7px;text-indent:20px}
.imsc_bu.active{width:11px;height:7px;background-position:-92px 0;text-indent:20px}
.btns1 .imsc_bu{margin:6px 0 0 5px;vertical-align:top}

.slct_area{display:none;clear:both;border-top:1px solid #a7a8a9;padding:0 10px;background:#f3f3f3}
.slct_area ul{display:table;width:100%;padding:10px 0;border-bottom:1px solid #ccc}
.slct_area li{display:table-cell;width:45%;padding-left:9px;vertical-align:top}
.slct_area li:first-child{width:33%;padding-left:0}
.slct_area li:last-child{width:auto}
.slct_area li .btns2{width:100%}
.btnate{padding:10px 0;text-align:center}

.imsc_heart{width:11px;height:9px;background-position:-129px 0} /* 하트 */
.imsc_site{width:14px;height:12px;background-position:-154px 0} /* 사이트 */
.imsc_view{width:11px;height:11px;background-position:-169px 0} /* 보기 */

.lst_section{clear:both;background:#f3f3f3;border-bottom:1px solid #808080}
.lst_section .tab{display:table;width:100%;border-top:1px solid #808080}
.lst_section .tab li{display:table-cell;width:50%;border-top:1px solid #c3c3c3;border-right:1px solid #c3c3c3}
.lst_section .tab li:first-child, .lst_section .tab li:nth-child(2){border-top:0}
.lst_section .tab li:last-child{width:auto;border-right:0}
.lst_section .tab a{display:block;height:35px;text-align:center;line-height:35px;font-size:1.167em;font-weight:bold;white-space:nowrap}
.lst_section .tab a.active{background:#fff}
.lst_section .cityset{overflow:hidden;height:0}
.lst_section .cityset .tab{float:left;width:48.2%;border-top:1px solid #c3c3c3;border-right:1px solid #c3c3c3}
.lst_section .cityset ul{padding:10px;background:#fff;border-top:1px solid #e7e7e7}
.lst_section .cityset ul:first-child{border-bottom:0}
.lst_section .cityset ul:after{display:block;clear:both;content:''}
.lst_section .cityset li:first-child{float:left;width:40%}
.lst_section .cityset li:last-child{float:right;width:60%;text-align:right}
.lst_section .cityset li:first-child strong{display:block;font-size:1.167em;font-weight:bold;color:#7ba932}
.lst_section .cityset li:first-child strong a{color:#7ba932}
.lst_section .cityset li:first-child span{display:inline-block;position:relative;padding:0 4px;font-size:11px;color:#aaa}
.lst_section .cityset li:first-child span:before{content:'';display:inline-block;position:absolute;top:1px;left:0;width:1px;height:13px;background:#c7c7c7}
.lst_section .cityset li:first-child span:first-child{padding-left:0}
.lst_section .cityset li:first-child span:first-child:before{display:none}
.lst_section .cityset li:last-child{padding-top:6px}
.lst_section .cityset li:last-child a{display:inline-block;margin-left:7px}
.lst_section .cityset li:last-child .imsc{vertical-align:top;margin:3px 3px 0 0}
.lst_section .cityset li:last-child a.selected{color:#ffa235}
.lst_section .cityset li:last-child a.selected .imsc_heart{background-position:-142px 0}
.lst_section .tab li{position:relative}
.lst_section .tab .clse{display:none;position:absolute;top:0;right:0;width:100%;height:35px;z-index:10}
.lst_section_v1{margin-top:10px}
.lst_section_v1 .tab .imsc2{margin:9px 10px 0 0;vertical-align:top}
.lst_section_v1 .tab .imsc2_city8{margin-top:11px}

/* 공지사항 */
.hsec2{padding:10px 10px 7px;border-bottom:2px solid #989898;font-weight:bold;font-size:1.2em;color:#ff4e00}
.hsec2 .imsc{vertical-align:top}
.imsc_mike{width:8px;height:15px;background-position:-181px 0} /* 마이크 */
.hsec2 .imsc_mike{margin:2px 8px 0 0}

.lst_bbs{clear:both}
.lst_bbs li{clear:both;border-bottom:1px solid #e5e5e5}
.lst_bbs a{display:block;padding:8px 10px 7px}
.lst_bbs strong{display:block;margin-bottom:1px;font-size:1.167em}
.lst_bbs em{color:#888}

.view_bbs{clear:both;border-bottom:1px solid #999}
.view_bbs_h{position:relative;padding:10px 90px 10px 10px}
.view_bbs_h em{font-size:12px;color:#777}
.view_bbs_h .btns5{position:absolute;top:11px;right:10px}
.view_bbs .subject{font-weight:bold;font-size:16px}
.view_bbs_body{clear:both;padding:15px 10px;border-top:1px solid #555}
.view_bbs_body.txBig, .view_bbs_body.txBig strong, .view_bbs_body.txBig th, .view_bbs_body.txBig td{font-size:17px;line-height:21px}
.view_bbs_body.txSmall, .view_bbs_body.txSmall strong, .view_bbs_body.txSmall th, .view_bbs_body.txSmall td{font-size:14px;line-height:1.25em}
.view_bbs_body img{max-width:100%;height:auto}
.view_bbs_h .fontP .imsc_plus{width:11px;height:2px;margin:9px 5px 0 0;background-position:-192px -4px;vertical-align:top}
.view_bbs_h .btns5{position:absolute;top:11px;right:10px}
.btns5{border-radius:0;-webkit-border-radius:0;border:1px solid #b2b2b2;background:#fff;font-weight:bold;color:#777}
.btns5 .imsc_plus{margin:4px 5px 0 0;vertical-align:top}
.imsc_plus{width:11px;height:11px;background-position:-192px 0} /* + */

.pgnate2{clear:both;margin:10px 10px 0 10px;border-radius:5px;-webkit-border-radius:5px;border:1px solid #bbb}
.pgnate2 ul{display:table;width:100%;table-layout:fixed}
.pgnate2 li{display:table-cell;border-left:1px solid #bbb;text-align:center}
.pgnate2 li:first-child{border-left:0}
.pgnate2 a{display:block;line-height:32px;font-weight:bold;color:#aaa}
.pgnate2 a .imsc{vertical-align:top}
.pgnate2 a .imsc_bu4{margin:7px 5px 0 0}
.pgnate2 a .imsc_bu5{margin:7px 0 0 5px}
.pgnate2 a .imsc_list{margin:9px 5px 0 0}
.pgnate2 a.active{color:#555}
.imsc_bu4{width:9px;height:15px;background-position:-205px 0} /* < */
.imsc_bu5{width:9px;height:15px;background-position:-233px 0} /* > */
.imsc_list{width:13px;height:12px;background-position:-217px 0} /* 리스트 */
.pgnate2 a .imsc_bu4{margin:8px 5px 0 0}
.pgnate2 a .imsc_bu5{margin:8px 0 0 5px}
.pgnate2 a .imsc_list{margin:10px 5px 0 0}

/* 전체서비스 */
.imsc_basket{width:15px;height:12px;background-position:-194px -20px} /* 바구니 */
.imsc_pp{width:12px;height:14px;background-position:-212px -20px} /* 신문 */
.imsc_new{width:12px;height:12px;background-position:-285px 0;text-indent:-40px} /* 새글 */
.imsc_job{width:45px;height:45px;background-position:0 -81px} /* 구인구직 */
.imsc_zip{width:45px;height:45px;background-position:-46px -81px} /* 부동산 */
.imsc_car{width:45px;height:45px;background-position:-93px -81px} /* 자동차 */
.imsc_prod{width:45px;height:45px;background-position:-140px -81px} /* 상품&서비스 */

.hsec3{padding:15px 10px 7px;border-bottom:1px solid #999;font-weight:bold;font-size:1.2em;color:#333}
.hsec3 strong{color:#0f8cff}
.hsec3 .imsc{vertical-align:top}
.hsec3 .imsc_basket{margin:3px 5px 0 0}
.hsec3 .imsc_pp{margin:3px 5px 0 0}
.hsec3 .imsc_earth{margin:2px 5px 0 0}
.hsec3 .imsc_info{margin:2px 5px 0 0}
.hsec3 .imsc_note{margin:3px 5px 0 0}
.hsec3 .imsc_person{margin:3px 5px 0 0}
.hsec3 .imsc_home2{margin:3px 5px 0 0}
.hsec3 .imsc_car2{margin:5px 5px 0 0}
.hsec3 .imsc_prod2{margin:3px 5px 0 0}
.hsec3_mt{padding-top:25px}
.hsec3_brb{border-bottom:2px solid #6ba4de}

.service_app{clear:both;padding-top:15px;border-bottom:1px solid #bbb}
.service_app ul:after{display:block;clear:both;content:''}
.service_app li{float:left;width:25%;text-align:center; padding-bottom:15px}
.service_app li a span {float:none !important}
.service_app li a span.ico_job {margin:0}
.service_app li a span.ico_land {margin:5px 0}
.service_app li a span.ico_car {margin:12px 0}
.service_app li a span.ico_goods {margin:5px 0}
.service_app li em{display:block;padding-top:6px;font-weight:bold;font-size:1.167em;color:#333}

.service_pp{clear:both;padding:10px 10px 0 10px}
.service_pp .imsc2{margin:7px 10px 0 0;vertical-align:top}
.service_pp ul:after{display:block;clear:both;content:''}
.service_pp li{float:left;width:48%;margin-top:10px}
.service_pp li:nth-child(2n){float:right}
.service_pp li a{display:block;padding-left:8px;border:1px solid #bbb;line-height:30px}
.service_pp .imsc2_city8{margin-top:9px}

.imsc2{display:inline-block;overflow:hidden;background-color:transparent;background-image:url(http://image.findall.co.kr/FAImage/M_Paper_n/common/pac_city.png);background-repeat:no-repeat;background-size:320px auto;-webkit-background-size:320px auto;white-space:nowrap}
.imsc2_city1{width:16px;height:16px;background-position:0 0} /* 서울 */
.imsc2_city2{width:20px;height:16px;background-position:-21px 0} /* 강원 */
.imsc2_city3{width:38px;height:15px;background-position:-51px 0} /* 경기/인천 */
.imsc2_city4{width:37px;height:12px;background-position:-99px 0} /* 경북/대구 */
.imsc2_city5{width:42px;height:13px;background-position:-145px 0} /* 충청 */
.imsc2_city6{width:33px;height:14px;background-position:-198px 0} /* 경남/부산 */
.imsc2_city7{width:37px;height:16px;background-position:-241px 0} /* 전라 */
.imsc2_city8{width:27px;height:11px;background-position:-397px 0;background-size:440px} /* 제주 */

.imsc_findall, .imsc_job2, .imsc_food, .imsc_land, .imsc_findall_pusan, .imsc_findall_daegu, .imsc_food, .imsc_prod, .imsc_alba, .imsc_match, .imsc_lease {background:url(http://image.findall.co.kr/FAImage/M_Paper2/findall/common/bg_app.png);background-size:320px auto}
.imsc_findall{width:57px;height:57px;background-position:0 0} /* 벼룩시장 */
.imsc_job2{width:57px;height:57px;background-position:-61px 0} /* 구인구직 */
.imsc_land{width:57px;height:57px;background-position:-183px 0} /* 부동산 */

.imsc_findall_pusan{width:57px;height:57px;background-position:0 -60px} /* 부산 벼룩시장 */
.imsc_findall_daegu{width:57px;height:57px;background-position:-61px -60px} /* 대구 벼룩시장 */
.imsc_food{width:57px;height:57px;background-position:-122px 0} /* 요리음식 */
.imsc_prod{width:57px;height:57px;background-position:-122px -60px} /* 생산/기술/건설 */
.imsc_alba{width:57px;height:57px;background-position:-244px 0} /* 알바 */
.imsc_match{width:57px;height:57px;background-position:-183px -60px} /* 맞춤취업 */
.imsc_lease{width:57px;height:57px;background-position:-244px -60px} /* 상가임대 */

/* 최근 본 정보 */
.imsc_note {width:11px; height:13px; background-position:-293px -81px}
.hsec3 .imsc {vertical-align:top}
.hsec3 .imsc_note {margin:3px 5px 0 0}

.menu_tab{clear:both;border-bottom:1px solid #aaa}
.menu_tab ul:after{content:'';display:block;clear:both}
.menu_tab li{float:left;width:24.5%;border-right:1px solid #aaa;text-align:center}
.menu_tab li:last-child{overflow:hidden;float:none;width:auto;border-right:0}
.menu_tab li a{display:block;background:#f3f3f3;font-weight:bold;line-height:36px;font-size:1.2em;color:#999}
.menu_tab li a.active{background:#fff;color:#000}

.icon{display:inline-block;padding:1px 3px 0;border-radius:3px;-webkit-border-radius:6px;border:1px solid #666073;line-height:13px;text-align:center;white-space:nowrap;font-size:10px;color:#fff}
.icon.ico_year{background:#cc7bbe} /* 연 */
.icon.ico_month{background:#8f61ff} /* 월 */
.icon.ico_day{background:#97ab2e} /* 일 */
.icon.ico_time{background:#45b8bc} /* 시 */
.icon.ico_pay_reach{background:#b4b4b4} /* 협 */
.icon.ico_char{background:#78c1d3} /* 전 */
.icon.ico_deal{background:#fa8700} /* 매 */
.icon.ico_rent{background:#70b61d} /* 월 */
.icon.ico_claim{background:#c18800} /* 권 */

.tx_pac2.txs1{display:inline-block;padding:1px 5px 0;border:1px solid #a7a7a7;line-height:13px;text-align:center;white-space:nowrap}
.tx_pac2.txs1{background:#eee;color:#bc2020}
#wrap.android .tx_pac2.txs1{padding:1px 5px 2px;line-height:12px}
.tx_pac3{display:inline-block;padding:1px 10px 0;border-radius:3px;-webkit-border-radius:3px;border:1px solid #a7a7a7;line-height:20px;text-align:center;white-space:nowrap;font-size:12px}
.tx_pac3.txs1{border:1px solid #43517d;background:#7086c7;color:#fff}

.bbsLst li a {height:54px; font-size:1.2em}
.bbsLst li.lstup a {height:52px}
div.nodata{display:table;width:100%;border-bottom:1px solid #e1e1e1}
div.nodata > div{display:table-cell;height:100px;text-align:center;vertical-align:middle;font-size:1.2em}

/* 지점 안내 */
.imsc_earth {width:16px; height:16px; background-position:-249px -49px}
.hsec3 .imsc {vertical-align:top}
.hsec3 .imsc_earth {margin:2px 5px 0 0}

.shopinfo{clear:both;padding:10px;font-size:1.2em}
.shopinfo h3{font-weight:bold;color:#333}
.shopinfo h3 strong{color:#538f19}
.shopinfo_tel{position:relative;display:table;clear:both;margin:10px auto 0;padding:15px 15px 15px 105px;background:#f3f3f3}
.shopinfo_tel .ico_earth{display:block;position:absolute;top:10px;left:15px;width:78px;height:61px;background:url(http://image.findall.co.kr/FAImage/M_Paper_n/content/bg_earth.png);background-size:78px 61px}
.shopinfo_tel ul{}
.shopinfo_tel li{clear:both;color:#0f8cff;font-weight:bold;color:#0f8cff}
.shopinfo_tel li:last-child{margin-top:7px;padding-top:7px;border-top:1px solid #aaa}
.shopinfo_tel li strong{display:inline-block;width:87px;margin-right:7px;color:#777}
.shopinfo_info{clear:both;margin-top:13px}
.shopinfo_info .imsc_bu7{margin:3px 5px 0 0;vertical-align:top}
.shopinfo_info li{font-weight:bold}
.shopinfo_info li:first-child{margin-bottom:10px;color:#777}
.shopinfo_info li:first-child strong{float:left;margin-right:5px;height:25px;color:#444}
.shopinfo_info li:first-child b{display:inline-block;color:#ff8a00}
.shopinfo_info li p.dsk{color:#777}
.shopbank{display:none;clear:both}
.shopbank table{width:100%}
.shopbank tr:nth-child(even){background:#f3f3f3}
.shopbank th, .shopbank td{padding-left:18px;line-height:33px;font-size:1.2em}
.shopbank th{border-bottom:1px solid #aaa;text-align:left;color:#005dff}
.shopbank td{font-weight:bold}
.shopbank td:first-child{color:#444}
.shopbank td:last-child{color:#777}
.shopbank#adLine{display:block}

.imsc_bu7 {width:6px; height:10px; background-position:-300px 0}
.shopinfo_info .imsc_bu7 {margin:3px 5px 0 0; vertical-align:top}

.shopdsk_htab{position:relative;border-bottom:2px solid #6ba4de}
.shopdsk_htab .menu_shopdsk{position:absolute;top:10px;right:0}
.shopdsk_htab ul{position:absolute;bottom:8px;right:10px;display:table;border-radius:4px;-webkit-border-radius:4px;border:2px solid #6ba4de}
.shopdsk_htab ul li{display:table-cell;width:70px}
.shopdsk_htab ul li a{display:block;line-height:22px;font-size:1.2em;font-weight:bold;text-align:center;color:#6ba4de}
.shopdsk_htab ul li.selected{background:#6ba4de}
.shopdsk_htab ul li.selected a{color:#fff}

.ad_bank{margin:15px 10px 0 10px;padding:15px 0;background:#f3f3f3;border:1px solid #aaa;font-size:1.2em}
.ad_bank, .ad_bank li{clear:both}
.ad_bank ul{display:table;margin:0 auto}
.ad_bank li:first-child{font-weight:bold;color:#444}
.ad_bank li:first-child strong{margin-left:5px;color:#000}
.ad_bank li:last-child{padding-top:3px;color:#a73636}

.imsc_info {width:16px; height:16px; background-position:-267px -49px}
.hsec3 .imsc {vertical-align:top}
.hsec3 .imsc_info {margin:2px 5px 0 0}

/* 신문보기 */
.nwstab{display:table;width:100%;margin:0 0 10px 0;padding:0} /* app위해 padding:0 */
.nwstab li{display:table-cell;width:50%;background:#e4e4e4;border-bottom:1px solid #898989;border-left:1px solid #cfcfcf;text-align:center;vertical-align:middle}
.nwstab li a{display:block;padding:10px;font-weight:bold;color:#898989}
.nwstab li:first-child a{border-left:0}
.nwstab li.selectd{border-bottom:1px solid #fff;background:#fff}
.nwstab li.selectd a{color:#099add}

/* Layer Popup - App */
.ly_pop .cont .element.app {width:100%}
.ly_pop .cont .element.app .ele .top {margin:0 15px;padding-top:30px}
.ly_pop .cont .element.app .bt_pop_close {background-position:-50px 0;width:18px;height:18px}

/* PicSlider - App */
.dt_pic .item .btn_area {width:66px; height:37px; line-height:37px; background-color:#000; opacity:0.6; filter:alpha(opacity=60); text-align:center; font-size:1.3em; color:#fff; position:absolute; left:0; top:222px}