$baseFontSize : 20;
@function px($pixels, $context: $baseFontSize) {
    @return ($pixels) / $context * 10px;
    // @return ($pixels) / $context * 1rem;
}

@mixin webfont(){
    font-family: "NotoSans", "Apple SD Gothic Neo", "Helvetica", "Roboto", "DroidSans", "맑은 고딕", "Malgun Gothic", sans-serif;
}
@mixin webfont-verdana(){
    font-family: "verdana", sans-serif;
}

@mixin blind($type){
    @if $type == "pos"{
        position: $aot;
        width: 0;
        height: 0;
        left: -9999rem;
    }@else if $type == "txt"{
        color:transparent;
        font-size:0;
        line-height:0;
    }
}

@mixin clear(){
    &:after{content: "";display: block;clear: both;}
}

@mixin elip($type){
    @if $type == "line1" {
        display:block;
        text-overflow:ellipsis;
        white-space:nowrap;
        word-wrap:normal;
        overflow:hidden;
        max-width:100%;
        line-height:1.2
    }@else if $type == "line2" {
        overflow:hidden;
        text-overflow: ellipsis;
        display: -webkit-box;
        -webkit-line-clamp: 2; /* 라인수 */
        -webkit-box-orient: vertical;
        word-wrap:break-word; 
        line-height:1.3;
        /* height: px(76);  말줄임X 그냥 자르기 위해 */
    }
}

@mixin inner($t:px(60), $r:px(40), $b:px(60), $l:px(40)){
    background-color:$color-white;
    position: relative;
    padding:$t $r $b $l;
}

@mixin btn(){
    display:inline-block;
    text-align:center;
    border-width:1px;
    border-style:solid;
}

@mixin bar($w:null, $h:null, $c:null){
    position:$aot;
    width:$w; height:$h;
    background-color:$c;    
}

@mixin mq($screen-width){
    @if $screen-width == "small" {
        @media all and (max-width:320px) {
            @content;
        }
    }
}