@mixin iscroll($dr, $w:null, $h:null){
    -webkit-overflow-scrolling:touch;
    width:$w; height:$h;
    @if $dr == "vertical" {
        overflow-x:hidden;
        overflow-y:scroll;
    }@else if $dr == "horizon" {
        overflow-y:hidden;
        overflow-x:scroll;
    }
}

@mixin lineArr($w:null, $h:null, $c:null, $ro:null, $align:null){
    font-size:0;line-height:0;color:$color0;
    display:$ibk;width:$w;height:$h;
    vertical-align:middle;
    border-width:1px 1px 0 0;
    border-style:solid;
    border-color:$c;
    transform: rotate($ro + deg);
    @if $align == "vertical" {
        position: $aot;
        top: 50%;
        transform: rotate($ro + deg) translateY(-50%)
    }
    @if $align == "horizon" {
        position: $aot;
        left: 50%;
        transform: rotate($ro + deg) translateX(-50%)
    }
}

@mixin pos($pos, $align:null, $t:null, $r:null, $b:null, $l:null){
    position: $pos;
    top: $t;
    right: $r;
    bottom: $b;
    left: $l;
    @if $align == "vertical"{
        top: 50%;
        transform: translateY(-50%)
    }@else if $align == "horizon"{
        left: 50%;
        transform: translateX(-50%)
    }@else if $align == "vhcenter"{
        top: 50%; left: 50%;
        transform: translate(-50%, -50%)
    }@else if $align == "full"{
        top:0;left:0;width:100%;height:100%;
        transform: translate(0, 0)
    }@else if $align == "top"{
        top:0;left:0;width:100%;
        transform: translate(0, 0)
    }@else if $align == "bottom"{
        top:auto;bottom:0;left:0;width:100%;
        transform: translate(0, 0)
    }
}

$urlImg: "../image/";
@mixin bgStyle($type, $img, $h:null, $v:null){
    background-position: $h $v;
    @if $type == "rpt-no"{
        background-image:url($urlImg + $img);
        background-repeat: no-repeat;
    }@else if $type == "rpt-x"{
        background-image:url($urlImg + $img);
        background-repeat: repeat-x;
    }@else if $type == "icon"{
        display:$ibk;text-indent:-3000em;
        vertical-align:middle;
        background-repeat:no-repeat;
        background-size:px(375);
        background-image:url($urlImg + $img);
    }
}