// color
$color0: transparent;
$color-white: #fff;
$color-black: #000;
$color-blue: #0075dc;
$color-blue2: #1278cc;
$color-blue3: #0075d8;
$color-blue4: #303c94;
$color-blue5: #151647;
$color-blue6: #323c8f;
$color-blue7: #0077df;
$color-blue8: #f2f7fe;
$color-blue-gray: #8b8cad;
$color-blue-gray2: #626278;
$color-blue-dark: #151644;
$color-blue-dark2: #1c1c47;
$color-blue-dark3: #5370ac;
$color-blue-dark4: #343560;
$color-gray: #a8a8a8;
$color-gray2: #999;
$color-gray3: #888;
$color-gray4: #666;
$color-gray5: #363636;
$color-gray6: #333;
$color-gray7: #303030;
$color-gray8: #ccc;
$color-gray9: #ddd;
$color-gray10: #dcdcdc;
$color-gray11: #f6f6f6;
$color-gray12: #ebebeb;
$color-gray13: #e1e1e1;
$color-gray14: #f4f4f4;
$color-gray15: #eee;
$color-gray16: #e5e5e5;
$color-gray17: #e6e6e6;
$color-gray18: #222;
$color-green: #20bc01;
$color-yellow: #fae100;
$color-yellow2: #feb100;
$color-yellow3: #f6ab00;
$color-yellow4: #d8a056;
$color-yellow5: #ffba00;
$color-magenta: #32192c;
$color-red: #ff0000;
$color-red2: #ea3323;

// short
$st: static;
$rav: relative;
$aot: absolute;
$ibk: inline-block;
$hdn: hidden;
$vsb: visible;
$ct: center;