@charset "utf-8";
.banner .light, .banner .doll, .banner .filo, .banner .home{left:50%}
.banner .light{
    background-repeat:no-repeat;z-index:3;opacity:0;
    animation-duration:1s;
    animation-timing-function:ease-in-out;
    animation-fill-mode:forwards;
    animation-iteration-count:infinite;
    animation-name:right;
}
.banner .light1{
    top:433px;margin-left:-139px;
    width:68px;height:37px;
    background-image:url(../image/baner_top_light1.png);
    animation-delay:1s;
}
.banner .light2{
    top:461px;margin-left:-104px;
    width:73px;height:35px;
    background-image:url(../image/baner_top_light2.png);
    animation-delay:1.1s;
}
.banner .light3{
    /* border:1px solid red;opacity:1; */
    top:287px;margin-left:-773px;
    width:238px;height:94px;
    background-image:url(../image/baner_top_light3.png);
    animation-delay:5.4s;
}
.banner .home{
    top:358px;margin-left:-584px;
    width:339px;height:188px;
    background-image:url(../image/baner_top_home.png);
    animation-delay:1.5s;animation-duration:1.5s;
}
@keyframes right {
    0%, 30%, 40%, 100%{ opacity:0; }
    25%, 35%{ opacity:1; }
}
.banner .doll{
    bottom:330px;z-index:4;
    background-repeat:no-repeat;
    background-size:100% 100%;background-position:0 100%;
    background-image:url(../image/baner_top_doll.png);
    animation-delay:4s;
    animation-duration:2s;
    animation-timing-function:ease-in-out;
    animation-fill-mode:forwards;
    animation-name:doll;
}
.banner .doll-m{
    margin-left:-570px;
    width:307px;height:342px;
    animation-name:doll-m;
    animation-delay:0s;
    animation-duration:2s;
    animation-iteration-count:infinite;
}
@-webkit-keyframes doll {
    0%{ 
        opacity:0;width:0;height:0;margin-left:-400px;
        transform:translateY(0);
    }
    15%{ 
        opacity:1;margin-left:-570px;width:307px;height:342px;
    }
    16%{ background-image:url(../image/baner_top_doll.png) }
    17%{ background-image:url(../image/baner_top_doll_s1.png) }
    18%{ background-image:url(../image/baner_top_doll_s2.png) }
    19%{ background-image:url(../image/baner_top_doll_s3.png) }
    20%{background-image:url(../image/baner_top_doll_s4.png)}
    21%{ background-image:url(../image/baner_top_doll_s5.png) }
    22%{ background-image:url(../image/baner_top_doll_s6.png) }
    23%{ background-image:url(../image/baner_top_doll_s7.png) }
    24%{ background-image:url(../image/baner_top_doll_s8.png) }
    25%{ background-image:url(../image/baner_top_doll_s9.png); transform:translateY(-5%); }
    26%{ background-image:url(../image/baner_top_doll_s8.png) }
    27%{ background-image:url(../image/baner_top_doll_s7.png) }
    28%{ background-image:url(../image/baner_top_doll_s6.png) }
    29%{ background-image:url(../image/baner_top_doll_s5.png) }
    30%{ background-image:url(../image/baner_top_doll_s4.png) }
    31%{ background-image:url(../image/baner_top_doll_s3.png) }
    32%{ background-image:url(../image/baner_top_doll_s2.png) }
    33%{ background-image:url(../image/baner_top_doll_s1.png) }
    34%{ background-image:url(../image/baner_top_doll.png) }
    35%{ background-image:url(../image/baner_top_doll_s1.png); transform:translateY(0); }
    36%{ background-image:url(../image/baner_top_doll_s2.png) }
    37%{ background-image:url(../image/baner_top_doll_s3.png) }
    38%{ background-image:url(../image/baner_top_doll_s4.png) }
    39%{ background-image:url(../image/baner_top_doll_s5.png) }
    40%{ background-image:url(../image/baner_top_doll_s6.png) }
    41%{ background-image:url(../image/baner_top_doll_s7.png) }
    42%{ background-image:url(../image/baner_top_doll_s8.png) }
    43%{ background-image:url(../image/baner_top_doll_s9.png) }
    44%{ background-image:url(../image/baner_top_doll_s8.png) }
    45%{ background-image:url(../image/baner_top_doll_s7.png) }
    46%{ background-image:url(../image/baner_top_doll_s6.png) }
    47%{ background-image:url(../image/baner_top_doll_s5.png) }
    48%{ background-image:url(../image/baner_top_doll_s4.png) }
    49%{ background-image:url(../image/baner_top_doll_s3.png); transform:translateY(0); }
    50%{ background-image:url(../image/baner_top_doll_s2.png) }
    51%{ background-image:url(../image/baner_top_doll_s1.png) }
    52%, 100%{ background-image:url(../image/baner_top_doll.png) }
    100%{
        margin-left:-570px;
        width:307px;height:342px;
    }
}
@-ms-keyframes doll {
    0%{ opacity:0;width:0;height:0;margin-left:-400px}
    15%,100%{opacity:1;margin-left:-570px;width:307px;height:342px}
}
@keyframes doll-m{
    0%{ background-image:url(../image/baner_top_doll.png); transform:translateY(0); }
    1%{ background-image:url(../image/baner_top_doll_s1.png) }
    2%{ background-image:url(../image/baner_top_doll_s2.png) }
    3%{ background-image:url(../image/baner_top_doll_s3.png) }
    4%{ background-image:url(../image/baner_top_doll_s4.png) }
    5%{ background-image:url(../image/baner_top_doll_s5.png) }
    6%{ background-image:url(../image/baner_top_doll_s6.png) }
    7%{ background-image:url(../image/baner_top_doll_s7.png) }
    8%{ background-image:url(../image/baner_top_doll_s8.png) }
    9%{ background-image:url(../image/baner_top_doll_s9.png) }
    10%{ background-image:url(../image/baner_top_doll_s8.png) }
    11%{ background-image:url(../image/baner_top_doll_s7.png) }
    12%{ background-image:url(../image/baner_top_doll_s6.png) }
    13%{ background-image:url(../image/baner_top_doll_s5.png) }
    14%{ background-image:url(../image/baner_top_doll_s4.png) }
    15%{ background-image:url(../image/baner_top_doll_s3.png) }
    16%{ background-image:url(../image/baner_top_doll_s2.png) }
    17%{ background-image:url(../image/baner_top_doll_s1.png); transform:translateY(-5%); }
    18%{ background-image:url(../image/baner_top_doll.png) }
    19%{ background-image:url(../image/baner_top_doll_s1.png) }
    20%{ background-image:url(../image/baner_top_doll_s2.png) }
    21%{ background-image:url(../image/baner_top_doll_s3.png) }
    22%{ background-image:url(../image/baner_top_doll_s4.png) }
    23%{ background-image:url(../image/baner_top_doll_s5.png) }
    24%{ background-image:url(../image/baner_top_doll_s6.png) }
    25%{ background-image:url(../image/baner_top_doll_s7.png) }
    26%{ background-image:url(../image/baner_top_doll_s8.png) }
    27%{ background-image:url(../image/baner_top_doll_s9.png) }
    28%{ background-image:url(../image/baner_top_doll_s8.png) }
    29%{ background-image:url(../image/baner_top_doll_s7.png) }
    30%{ background-image:url(../image/baner_top_doll_s6.png) }
    31%{ background-image:url(../image/baner_top_doll_s5.png) }
    32%{ background-image:url(../image/baner_top_doll_s4.png) }
    33%{ background-image:url(../image/baner_top_doll_s3.png) }
    34%{ background-image:url(../image/baner_top_doll_s2.png) }
    35%, 100%{ background-image:url(../image/baner_top_doll_s1.png); transform:translateY(0); }
}

.banner .filo{
    z-index:1;
    width:16px;height:22px;
    top:246px; margin-left:-284px;
    transform: rotate(100deg);
    border-radius: 50% 50% 50% 50% / 60% 60% 40% 40%;
    background: rgba(255,255,255,1);
    -webkit-box-shadow: 0px 0px 10px rgba(255,255,255,0.8), 0px 0px 30px rgba(255,255,255,0.8), 0px 0px 50px rgba(255,255,255,0.6), 0px 0px 70px rgba(255,255,255,0.6), -80px -15px 120px 0px rgba(255,255,255,0.4);
    -moz-box-shadow: 0px 0px 10px rgba(255,255,255,0.8), 0px 0px 30px rgba(255,255,255,0.8), 0px 0px 50px rgba(255,255,255,0.6), 0px 0px 70px rgba(255,255,255,0.6), -80px -15px 120px 0px rgba(255,255,255,0.4);
    -ms-box-shadow: 0px 0px 10px rgba(255,255,255,0.8), 0px 0px 30px rgba(255,255,255,0.8), 0px 0px 50px rgba(255,255,255,0.6), 0px 0px 70px rgba(255,255,255,0.6), -80px -15px 120px 0px rgba(255,255,255,0.4);
    -o-box-shadow: 0px 0px 10px rgba(255,255,255,0.8), 0px 0px 30px rgba(255,255,255,0.8), 0px 0px 50px rgba(255,255,255,0.6), 0px 0px 70px rgba(255,255,255,0.6), -80px -15px 120px 0px rgba(255,255,255,0.4);
    box-shadow: 0px 0px 10px rgba(255,255,255,0.8), 0px 0px 30px rgba(255,255,255,0.8), 0px 0px 50px rgba(255,255,255,0.6), 0px 0px 70px rgba(255,255,255,0.6), -80px -15px 120px 0px rgba(255,255,255,0.4);
    animation-duration:10s;
    animation-timing-function:ease-in-out;animation-timing-function:ease-in-out;
    animation-fill-mode: forwards;
    animation-delay:0s;
    animation-name:move;
}

@keyframes move {
    0%{ opacity:0; top:246px; margin-left:-284px; transform: rotate(30deg) } 
    5%{
       opacity:1;
       width:22px;height:16px;
    }
    8%{
        top:552px; margin-left:120px;
        width:22px; height:16px;
        transform: rotate(30deg);
    }
    8.5%{
        top:552px; margin-left:120px;
        width:16px;height:22px;
        transform: rotate(74deg);
    }
    12.5%{
        opacity:1;
    }
    13%{
        opacity:0;
        top:826px; margin-left:-670px;
        width:16px;height:22px;
        transform: rotate(74deg);
    }
    13.1%{
        opacity:0;
        top:700px; margin-left:-600px;
        width:22px;height:16px;
        transform: rotate(-16deg);
    }
    15%{
        opacity:1;
        top:670px; margin-left:-538px;
        width:22px;height:16px;
        transform: rotate(30deg);
    }
    18%{
        top:422px; margin-left:-816px;
        transform: rotate(36deg);
    }
    18.5%{
        transform: rotate(160deg);
    }
    /* 원형도는곳시작 */
    19%{
        top:427px; margin-left:-826px;
        transform: rotate(168deg);
    }
    19.1%{
        top:429px; margin-left:-836px;
        transform: rotate(172deg);
    }
    19.2%{
        top:430px; margin-left:-846px;
        transform: rotate(176deg);
    }
    19.3%{
        top:431px; margin-left:-856px;
        transform: rotate(182deg);
    }
    19.4%{
        top:430px; margin-left:-866px;
        transform: rotate(188deg);
    }
    19.5%{
        top:429px; margin-left:-876px;
        transform: rotate(190deg);
    }
    19.6%{
        top:427px; margin-left:-886px;
        transform: rotate(194deg);
    }
    19.7%{
        top:425px; margin-left:-896px;
        transform: rotate(198deg);
    }
    19.8%{
        top:421px; margin-left:-906px;
        transform: rotate(200deg);
    }
    19.9%{
        top:416px; margin-left:-916px;
        transform: rotate(206deg);
    }
    20%{
        top:411px; margin-left:-925px;
        transform: rotate(210deg);
    }
    20.1%{
        top:401px; margin-left:-935px;
        transform: rotate(232deg);
    }
    20.2%{
        top:391px; margin-left:-940px;
        transform: rotate(252deg);
    }
    20.3%{
        top:381px; margin-left:-942px;
        transform: rotate(270deg);
    }
    20.4%{
        top:371px; margin-left:-940px;
        transform: rotate(284deg);
    }
    20.5%{
        top:361px; margin-left:-934px;
        transform: rotate(314deg);
    }
    20.6%{
        top:354px; margin-left:-926px;
        transform: rotate(330deg);
    }
    20.7%{
        top:346px; margin-left:-910px;
        transform: rotate(340deg);
    }
    20.8%{
        width:22px;height:16px;
        top:346px; margin-left:-914px;
        transform: rotate(-136deg);
    }
    23%{
        width:16px;height:22px;
        top:302px; margin-left:-946px;
        transform: rotate(-120deg);
    }
    27%{
        opacity: 1;
    }
    28%{
        opacity: 0;
        top:140px; margin-left:-400px;
        transform: rotate(-120deg);
    }
    /* 반도체들어가기전 */
    29.1%{
        opacity: 0;
        top:500px; margin-left:-100px;
        transform: rotate(38deg);
    }
    30%{
        opacity: 1;
        top:520px; margin-left:-70px;
        transform: rotate(80deg);
    }
    34%{
        top:668px; margin-left:-470px;
    }
    34.5%{
        top:660px; margin-left:-486px;
        transform: rotate(130deg);
    }
    38%{
        top:394px; margin-left:-790px;
        transform: rotate(130deg);
    }
    38.5%{
        opacity: 1;
        transform: rotate(100deg);
    }
    42%, 100%{
        opacity: 0;
        margin-left:-720px;
    }
}

.mini-header {
  height: 74px;
  width: 100%;
  background: #131317;
  border-bottom: 1px solid #2b2a2f;
}

.mini-header .header-wrapper {
  width: 1240px;
  height: 74px;
  overflow: hidden;
  margin: 0 auto;
  position: relative;
}

.mini-header .sy-logo {
  position: absolute;
  top: 13px;
  left: 0;
  cursor: pointer;
}

.mini-header .sy-navi,
.mini-header .cl-navi,
.mini-header .ar-navi {
  position: absolute;
  top: 0;
  right: -64px;
  height: 74px;z-index:5;
}

.mini-header .sy-navi a,
.mini-header .cl-navi a,
.mini-header .ar-navi a {
  color: #c9c9dd;
  width: 90px;
  height: 74px;
  line-height: 74px;
  text-align: center;
  margin-right: 64px;
  font-size: 16px;
  float: left;
  text-decoration: none;
  cursor: pointer;
}

.mini-header .sy-navi a:hover,
.mini-header .cl-navi a:hover,
.mini-header .ar-navi a:hover,
.mini-header .sy-navi .on,
.mini-header .cl-navi .on,
.mini-header .ar-navi .on {
  color: #fff;
  font-weight: 500;
}

.mini-header .sy-navi .sd,
.mini-header .ar-navi .sd {
  position: absolute;
  width: 90px;
  height: 4px;
  background: #266cff;
  left: 0;
  bottom: 0;
}

.mini-header .cl-navi .sd {
  position: absolute;
  width: 90px;
  height: 4px;
  background: #266cff;
  left: 308px;
  bottom: 0;
}

.slogan {
  color: #ffffff;
  font-size: 18px;
}

.slogan>div {
  padding: 0 30px;
  display: inline-block;
  border-right: 2px solid #ffffff;
  height: 14px;
  line-height: 14px;
  position: relative;
}
.slogan>div:first-child{padding-left: 0}
.slogan>div>div {
  position: absolute;
  display: none;
  padding: 16px 10px 16px 22px;
  box-sizing: border-box;
  border: 1px solid #535353;
  background: #000000;
  top: 0;
  right: 30px;
  transform: translateX(100%);
  width: 200px;
  height: 100px;
  overflow-y: auto;
  line-height: 1.4;
  text-align: left;
  border-radius: 10px;
}

.slogan>div>div>div {
  width: 100%;
  height: 100%;
  overflow-y: auto;
  padding-right: 15px;
  box-sizing: border-box;
}

.slogan>div>div>div::-webkit-scrollbar {
  width: 5px;
  background-color: #F5F5F5;
}

.slogan>div>div>div::-webkit-scrollbar-track {
  box-shadow: inset -2px 0 0px rgba(0, 0, 0, 1);
  background-color: rgba(0, 0, 0, 0.5);
}

.slogan>div>div>div::-webkit-scrollbar-track-piece {
  box-shadow: inset 2px 0px 0px rgba(0, 0, 0, 1)
}

.slogan>div>div>div::-webkit-scrollbar-thumb {
  border-radius: 10px;
  box-shadow: inset 0 0 6px rgba(0, 0, 0, .3);
  background-color: #555;
}

.slogan>div:last-child {
  border: none;
}

.banner_wrap {
  min-width: 1240px;
  height: 786px;
  margin: 0 auto;
  background: #181C27;
  position: relative;
  z-index: 1;
  overflow: hidden
}

.banner {
  width: 1920px;
  margin: 0 auto;
  left: -500px;
  right: -500px;
  overflow: hidden;
  position: absolute;
  background: #181C27;
  height: 100%;
}

.banner li {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  text-align: center;
  /*background: #181C27;*/
}

.banner h2, .banner h2+p,
.banner .slogan,
.banner .act-download{left:50%;margin-left:70px;color:#fff}
.banner h2, .banner h2+p,
.banner .slogan{
    opacity: 0;
    animation-duration:1s;
    animation-timing-function:ease-in-out;animation-timing-function:ease-in-out;
    animation-fill-mode: forwards;
    animation-name:text-mov;
}
.banner h2{top:200px;font-size:84px;font-weight:400;letter-spacing:-5px}
.banner h2+p{top:330px;font-weight:100;font-size:41px;letter-spacing:-3px}
.banner .slogan{top:450px}
.banner .act-download{margin-left:40px;top:500px;z-index:2}

.banner .slick-active h2{animation-delay:0s}
.banner .slick-active h2+p{animation-delay:.35s}
.banner .slick-active .slogan{animation-delay:.7s}
@keyframes text-mov{
    from{ opacity: 0; transform: translateX(35px); }
    to{ opacity: 1;transform: translateX(0); }
}


.banner .banner-bg {
  width: 100%;
  vertical-align: top;
  -ms-interpolation-mode: bicubic;
  left: 0;
  top: 0;
}
.banner .banner-bg.replace{display:none}
.banner .banner-p1 {
  position: absolute;
}

.banner .banner-p2 {
  position: absolute;
}

.banner .banner-wd {
  position: absolute;
  /* right: 20%;
        top: 120px; */
  right: 0;
  top: 0;
}

.banner video {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  _width: 1240px;
}

.banner a {
  color: #2871d5;
}

.banner .banner_download {
  background: url('../image/banner_download.png');
  display: block;
}

.banner .banner_download:hover {
  width: 243px;
  height: 76px;
  background-position: 0 -76px;
}

.banner .banner_download:active {
  width: 243px;
  height: 76px;
  background-position: 0 0px;
}

.banner .banner_download {
  width: 243px;
  height: 76px;
  background-position: 0 -152px;
}

.banner .banner_word {
  position: absolute;
  bottom: 20px;
  left: 55%;
  z-index: 9;
  text-align: left;
  width: 235px;
  line-height: 25px;
}

.banner .desc {
  text-indent: -9999em;
  width: 100%;
  overflow: hidden;
}

.banner-download {
  position: absolute;
  top: 450px;
  z-index: 99;
  /* right: 350px; */
  left: 50%;
  text-align: center;
}

.banner-download span,
.banner-download a {
  color: #a5a5a5;
  line-height: 25px;
  float: left;
  /*margin-right: 5px;*/
  font-size: 14px;
  text-align: right;
}

.banner-download span a {
  color: #fff;
  text-decoration: underline;
}

.banner-download span.update {
  opacity: .7;
  font-size: 12px;
  color: #fff;
  text-align: center;
  margin-top: 5px;
}

.banner_labels {
  margin: 700px auto 0;
  width: 502px;
  position: relative;
  z-index: 999;
}

.banner_label {
  float: left;
  width: 114px;
  height: 31px;
  background-repeat: no-repeat;
  background-position: 0 -31px;
  margin-right: 18px;
}

.banner_label.on,
.banner_label:hover {
  background-position: 0 0;
}

/* act_wrapper */
.act_wrapper {
  zoom: 1;
  position: relative;
  z-index: 1;
  min-width: 1240px;
  margin: auto;
  overflow: hidden;
  background: #131319;
}

.act_wrapper .act_bg {
  position: absolute;
  top: 0;
  width: 1920px;
  left: 50%;
  margin-left: -960px;
  z-index: 2
}

.act_wrapper .act_inner {
  position: relative;
  z-index: 5;
  width: 1240px;
  margin: auto;
  height: 1040px;
}

#change-log .act_wrapper .act_inner {
  height: auto;
}

.act-title {
  position: absolute;
  top: 512px;
  right: 10px;
  color: #ffffff;
  font-size: 15px;
  text-align: right;
  opacity: 0.3;
  filter: alpha(opacity=30);
}

.act-date {
  position: absolute;
  top: 537px;
  right: 10px;
  color: #ffffff;
  opacity: 0.3;
  filter: alpha(opacity=30);
  font-size: 15px;
}

/* act-cnt */
.act_wrapper .act_inner .act-cnt {
  position: relative;
  width: 100%;
  margin-top: 50px;
}

.act_wrapper .titles {
  font-size: 24px;
  line-height: 1;
  color: #e6e7ed;
}

.act_wrapper .titles.changelog {
  font-size: 20px;
  font-weight: bold;
}

.hot-title {
  width: 136px;
  height: 51px;
  position: absolute;
  background: url('../image/hot-title.png');
}

.act_wrapper .act_inner .act-cnt .content {
  position: relative;
  margin-top: 28px;
  width: 100%;
  height: 360px;
}

.main-content-wrapper {
  width: 460px;
  height: 360px;
  position: relative;
  float: left;
}

.main-content-wrapper .oh {
  width: 100%;
  height: 100%;
}
.main-content-wrapper .ico_hot{position:absolute;top:-3px;left:-3px;z-index:1}

.main-content-wrapper .ol {
  height: 72px;
  width: 100%;
  position: absolute;
  /*background: rgba(0,0,0,.3);*/
  bottom: 0;
  left: 0;
}

.main-content-wrapper .oh img {
  position: absolute;
  bottom: 0;
}

.main-content-wrapper .content-name {
  font-size: 16px;
  color: #fff;
  width: 315px;
  height: 16px;
  line-height: 16px;
  position: absolute;
  bottom: 40px;
  left: 15px;
}
.main-content-wrapper .content-name .elip{max-width:240px;margin-top:-2px}

.main-content-wrapper .content-name .ico_n{margin:-2px 0 0 13px}

.main-content-wrapper .content-desc {
  font-weight:100;font-size: 13px;color: #fff;
  width:315px;line-height:14px;opacity:.6;position: absolute;
  bottom: 15px;
  left: 15px;
}

.main-content-wrapper .content-download {
  position: absolute;bottom:-15px;right:0;
  cursor: pointer;
}

.content-wrapper {
  position: relative;
  float: left;
  width: 240px;
  height: 360px;
  height:381px;
  /* overflow: hidden; */
  margin-left: 20px;
  transition: .35s;
}
.content-wrapper:first-child{margin-left:0}
.content-wrapper .oh {
    width: 100%;
    height: 100%;
}

.content-wrapper .ol {
  height: 72px;
  width: 100%;
  position: absolute;
  /*background: rgba(0,0,0,.3);*/
  bottom: 0;
  left: 0;
}
.content-wrapper .oh img {
  position: absolute;
  bottom:0;width:100%;height:100%;max-height:360px
}
.content-wrapper .oh img.over{display:none}

.content-wrapper .content-download {
  display: block;
  width: 74px;
  line-height:28px;
  height: 30px;
  text-align: center;
  cursor: pointer;
  text-decoration: none;
  color: #ffffff;
  background: rgba(0, 0, 0, 0.38);
  position: absolute;
  border: solid rgba(255, 255, 255, 0.89) 1px;
  bottom: 14px;
  right: 14px;
  font-size: 14px;
}
.content-wrapper .ico_hot{position:absolute;top:18px;left:-3px;z-index:1}
.content-wrapper .content-name {
font-size: 16px;
color: #fff;
width: 315px;
height: 16px;
line-height: 16px;
position: absolute;
bottom: 40px;
left: 15px;
}
.content-wrapper .content-name .elip{max-width:240px;margin-top:-2px}
.content-wrapper .content-name .ico_n{margin:-2px 0 0 13px}
.content-wrapper .content-desc {
font-size: 12px;
color: #fff;
width: 130px;
height: 14px;
line-height: 14px;
opacity: .6;
position: absolute;
bottom: 15px;
left: 15px;
}
.content-wrapper .content-download:hover {
  background: #0768f0;border-color:#0768f0;
}
.content-wrapper.wide{width:460px;overflow:visible}
.content-wrapper.wide .oh img{max-height:100%}
.content-wrapper.wide .content-download {
    font-size:0;position:absolute;bottom:-15px;right:0;width:158px;height:74px;
    background:url(../image/btn_down2.png) no-repeat;border:0
  }
.content-wrapper.wide .content-download:hover{}
.content-wrapper.wide .content-desc {
    font-weight:100;font-size: 13px;color: #fff;
    width:315px;line-height:14px;opacity:.6;position: absolute;
    bottom: 15px;
    left: 15px;
}
.content-wrapper.wide .oh img{display:none}
.content-wrapper.wide .oh img.over{display:inline}
@keyframes widemov(){
    
}

/* act-sec */
.act_wrapper .act_inner .act-sec {
  position: relative;
  font-size: 16px;
  color: #fff;
  line-height: 26px;
  width: 1240px;
  margin-top: 60px;
  margin-bottom: 188px;
  overflow: hidden;
}

.act-sec .titles {
  margin-bottom: 28px;
}

.act-sec .news-swiper {
  height: 360px;
  width: 720px;
  float: left;
  cursor: pointer;
}

.act-sec .news-imgs {
  height: 318px;
}

.act-sec .news-img img {
  /* display: none; */
}

.act-sec .news-img.on img {
  /* display: block; */
}

.act-sec .news-tabs {
  height: 42px;
  position: relative;
}

.act-sec .news-tab {
  float: left;
}

.act-sec .news-tab a {
  display: block;
  width: 180px;
  text-align: center;
  border-top: 1px solid #1f1f21;
  background: #000;
  color: #b1b2be;
  font-size: 14px;
  line-height: 41px;
  text-decoration: none;
}

.act-sec .news-tab.on a {
  border-color: #323440;
  background: #323440;
  color: #fff;
}

.act-sec .news-panel {
  height: 360px;
  width: 450px;
  padding: 0 25px;
  float: left;
  margin-left: 20px;
  background: #21232b;
  border-radius: 4px;
}

.act-sec .news-class {
  height: 45px;
  width: 100%;
  border-bottom: solid #474b56 1px;
  position: relative;
  margin-bottom: 20px;
}

.act-sec .news-class span {
  line-height: 43px;
  font-size: 18px;
  width: 81px;
  margin-right: 20px;
  float: left;
  height: 43px;
  color: rgba(255, 255, 255, .5);
  text-align: center;
  cursor: pointer;
}

.act_wrapper .act_inner .news-class .on {
  color: #fff;
}

.news-panel .su {
  position: absolute;
  width: 81px;
  height: 3px;
  background: #266cff;
  left: 0;
  bottom: -1px;
}

.news-panel .head-news {
  height: 90px;
  position: relative;
  display: block;
  text-decoration: none;
  cursor: pointer;
  margin-bottom: 12px;
}

.news-panel .head-news img {
  display: block;
  height: 100%;
  margin: 0 auto;
}

.news-panel .lite-news {
  font-size: 15px;
  line-height: 42px;
  display: block;
  text-decoration: none;
  color: #fff;
}

.news-panel .lite-news .cat{margin-right:4px;color:#1972f6}

.news-panel .lite-news .description{max-width:340px;margin-top:-1px}
.news-panel .lite-news:hover .description{text-decoration: underline}

.news-panel .lite-news .date {
  float: right;
  font-size: 13px;
  color: #b1b2be;
  filter: alpha(opacity=75);
  opacity: 0.75;
}

.notice_slick{position:absolute;left:454px;top:26px}
.notice_slick a{max-width:360px}
.notice_slick a span{margin-right:4px;color:#1972f6}

.baner_ball{position:fixed;right:60px;top:50%;z-index:9;margin-top:100px}
.baner_ball .btn_cls{position:absolute;top:0;right:0}

#footer{padding:0 0 100px;background-color:#131319;text-align:center}
#footer address{margin-top:20px;line-height:1.6;font-size:12px;color:#5a5a5e}
#footer nav{font-size:14px}
#footer nav a{color:#a0a1a3}
#footer nav a.pot{color:#a33e3e}
#footer nav i{display:inline-block;verticla-align:middle;width:1px;height:11px;background-color:#373738;margin:0 24px}

.ie9 .banner .banner-bg,
.ie9 .banner .doll,
.ie9 .banner .light,
.ie9 .banner .filo{display:none}
.ie9 .banner .banner-bg.replace{display:inline}
.ie9 .banner h2,
.ie9 .banner h2+p,
.ie9 .banner .slogan{opacity: 1}