@charset "utf-8";

/* common */
.ly_sys .fc{color:#ff3782}
.ly_sys .wrap{overflow:hidden;width:88%;border-radius:0.6rem}
.ly_sys .content{padding:3.6rem 2rem 2.6rem;text-align:center}
.ly_sys .txt,
.ly_sys .txt2{font-size:1.5rem;color:#000}
.ly_sys .title{font-weight:700;font-size:1.7rem}
.ly_sys .title+p{margin-top:1rem}
.ly_sys .title+span{display:block;margin-top:0.4rem;font-size:1.3rem;color:#777;letter-spacing:-0.1rem;}
.ly_sys .title+.pre{margin-top:2.5rem}
.ly_sys .title+.scroll{height:7rem;margin-top:2.5rem}
.ly_sys .title+.scroll.type2{height:13.5rem}
/* .ly_sys pre{font-size:1.25rem;color:#777} */
.ly_sys pre strong{color:#222}
.ly_sys *[class*="btn_area"]{border-top:1px solid #e7e7e7}

.ly_addrfrm .content.result{padding-bottom:7rem}
.ly_addrfrm .content .btn_area_sigle{padding-bottom:2.1rem}
.ly_checkdetail .content:after{bottom:10.5rem}
.ly_checkdetail .scroll{height:26rem}
.ly_checkdetail ul.btn_area_sigle.btn2 li:last-child{margin-top:0.6rem}
.ly_checkdetail ul.btn_area_sigle.btn2{padding-bottom:0.7rem}
.ly_real_agency .btn_area_sigle{margin-top:0}
.list_table2.clst{border-bottom:0}

button:disabled{background-color:#ddd;border-color:#ddd}

.tooltip:before{width:1.2rem;height:1.2rem;background-image:url(../image/lgu/ico_cau.png)}
.btn_area_sigle .tooltip_wrap{margin-bottom:-0.5rem}
.tooltip.case1{width:22.7rem;height:3.65rem;position:relative;padding-top:1rem;text-indent:-1rem;background-image:url(../image/lgu/tooltip_case1_bg.png);-webkit-box-shadow: 0.4rem 0.75rem 1.05rem 0px rgba(0, 0, 0, 0.38);box-shadow: 0.4rem 0.75rem 1.05rem 0px rgba(0, 0, 0, 0.38)}
.tooltip.case1:after{content:'';display:block;width:1.1rem;height:0.8rem;position:absolute;left:50%;top:100%;background:url(../image/lgu/tooltip_tail.png) no-repeat left top;background-size:100% 100%}

.inew{background-color:#ff3782}

.btn_area_half button.btn_xr,
.btn_area_half button.btn_r,
.btn_area_half a.btn_xr{border-radius:0}
button.btn_xr{height:4.6rem;border-radius:0.6rem}
a.btn_xr{line-height:4.4rem;border-radius:0.6rem}
button.btn_r{height:4.1rem;border-radius:0.6rem}
a.btn_r{line-height:3.8rem;border-radius:1.75rem}
.btn_type{background-color:#fff;border-color:#e8e8e8;color:#848484}
.btn_type2{background-color:#333;border-color:#333;color:#fff}
.btn_type3{background-color:#ddd;border-color:#ddd;color:#333}
/* .btn_type3{background-color:#ff3782;border-color:#ff3782;color:#fff} */
/* .btn_type4{background-color:#fffcfd;border-color:#ff3782;color:#ff3782} */
.btn_type4{border-color:#333;color:#333}
.btn_type5{border-color:#EFF0F2;background-color:#EFF0F2;color:#666}
.btn_type6{border-color:#fff;background-color:#fff;color:#222}
.btn_type7{background-color:#ff3782;border-color:#ff3782;color:#fff}
.btn_type8{background-color:#F8F9FB;text-decoration:underline;color:#5A5A5A;border-color:transparent}
button[class*="btn_pop_type"]{border:0;background-color:#fff;font-size:1.7rem}
button[class*="btn_pop_type"].btn_xr{height:5.75rem}
.btn_pop_type1{color:#000;font-weight:400}
.btn_pop_type2{color:#FF3782;font-weight:700}
.btn_area_sigle{padding:0 1.8rem 1.4rem}
.btn_area_sigle.above_footer{padding-bottom:3.6rem}
.profile_maintop.intro+.btn_area_sigle{padding-bottom:3.6rem}
.btn_area_sigle.pop_type{padding:0}

.ipbx .timer{color:#ff3782}

.title_txt .fc{color:#ff3782}

.select_type .label{background-image:url(../image/lgu/select_arr2.png)}

.list_table .th{letter-spacing:-0.1rem}
.list_table .fc{color:#ff3782}
.list_table .fw{font-weight:700}
.list_table2 .fc{color:#ff3782}
.list_table2 .data_page{color:#ff3782;letter-spacing:0}
.list_table2 .body .td.count code{border-color:#ff3782;color:#ff3782}
.list_table2.clst .fc{color:#ff3782}
.list_checkbx .checkbox input:checked + label{background-color:#ff3782}
.list_checkbx .checkbox input:checked + label:before{border-color:#e11361}
.list_checkbx.line .checkbox input:checked + label{border-color:#ff3782;color:#ff3782;background-color:#FFF9FB}
.list_checkbx2 .checkbox.name input:checked + label:before{background-image:url(../image/lgu/checkbox_square_on.png)}
.list_checkbx2 ul.cat .checkbox.sms input:checked + label{background-image:url(../image/lgu/figure_sms_on.png)}
.list_checkbx2 ul.cat .checkbox.phone input:checked + label{background-image:url(../image/lgu/figure_phone2_on.png)}
.list_checkbx2 ul.cat .checkbox input:checked + label{color:#ff3782}
.list_checkbx2 .nameset h3{font-size:1.5rem}
.list_bigbtn .td code{border-color:#ff3782;color:#ff3782}
.list_bigbtn2 .selected{color:#ff3782}
.list_bigbtn2.wide button, .list_bigbtn2.wide a{justify-content:space-between;-webkit-justify-content:space-between}
.list_bigbtn2 button span{font-size:1.35rem}
.list_bigbtn2.wide .elip1{flex:0 1 auto;-webkit-flex:0 1 auto}
.list_bigbtn2.wide .date{padding-top:0.125rem;font-size:1.2rem;flex:0 0 9.2rem}
.list_bigbtn2 button.on, .list_bigbtn2 a.on{border-color:#ff3782;color:#ff3782}
.list_rowshort .total code{color:#ff3782}
.list_rowshort [data-type="허용"] .mark{border-color:#ff3782;background-color:#ff3782}

.tab_type2 .active{background-color:#fff9fb;color:#ff3782}
.tab_type2 .active:before{border-color:#ff3782}
.tab_type2.radius .active{border-color:#ff3782;color:#ff3782}

.tab_type.swiper-container{padding:0}
.tab_type.swiper-container .swiper-slide a{padding:0 2.5rem}
.tab_type.swiper-container a.active{font-weight:700}
.tab_type.swiper-container a.active:before{left:0;right:0}

/* content */
html,body,#wrap{background-color:#F8F9FB}
html.fff,
html.fff body{background-color:#fff}
#header .tab_type+.tab_type{border-bottom:1px solid #d3d3d3}
#header.shw .tab_type+.tab_type{border-bottom:0}
#header .btn_switch{display:flex;display:-webkit-flex;flex-direction:column;-webkit-flex-direction:column;justify-content:center;-webkit-justify-content:center;align-items:flex-end;-webkit-align-items:flex-end;right:0;padding:1.2rem 1.9rem 1.2rem 0}
#header .btn_switch .dot{display:block;width:0.4rem;height:0.4rem;margin-top:0.3rem;border-radius:50%;background-color:#999}
#header .btn_switch .dot:first-child{margin-top:0}
.gnb_menu{display:none;position:fixed;top:0;bottom:0;left:0;right:0;z-index:5}
.gnb_menu.switchOn{display:block}
.gnb_menu ul{float:right;padding:1rem 0;background-color:#333;border-radius:0.58rem}
.gnb_menu li:first-child{margin-top:0}
.gnb_menu li a{display:block;padding:0.58rem 3.75rem 0.58rem 1.8rem;font-size:1.35rem;color:#fff}

#header .btn_notice{width:auto;padding-top:1.435rem;padding-right:1.8188rem;right:0;font-size:0}
.btn_notice>*{display:inline-block;vertical-align:middle}
.btn_notice>em{margin-right:0.375rem;font-style:normal;font-size:1.1563rem;color:#999}
.btn_notice>span{width:3.44rem;height:1.72rem;position:relative;border-radius:1rem}
.btn_notice label{overflow:hidden;display:block;width:100%;height:100%;padding:2px;position:absolute;left:0;right:0;top:0;bottom:0;border-radius:1rem;background-color:#bbb}
.btn_notice input:checked+label{background-color:#ff3782}
.btn_notice label:before{content:'';display:block;width:1.34rem;height:1.34rem;border-radius:50%;background-color:#fff}
.btn_notice input:checked+label:before{float:right}

#footer{padding:0 0 2rem;background-color:#F8F9FB}
.global_footer>article{padding:0 1.8rem 1.4rem}
#footer .nav{padding:0;padding-left:1.8rem}
#footer .nav>li{margin-left:0.6rem;padding-left:0.6rem}
#footer .nav button{padding:0.7rem 0;color:#666}
#footer .nav>li:before{height:1rem;margin-top:0;background-color:#aaa}
#footer p,
#footer address{padding-left:1.8rem;font-size:1rem}
#footer p{padding-top:1.8rem;line-height:1.6;border-top:1px solid #e7e7e7;color:#999}
#footer address{margin-top:0.9rem;color:#c9c9c9}

.inner_bg{padding-top:0;padding-bottom:0;background-color:transparent}
.profile_numlst .wrap{background-color:transparent}
#ct>.btn_area_sigle{background-color:#F8F9FB}
#ct>.btn_area_sigle.fix{background-color:transparent}
#ct>.fff{background-color:#fff}
.profile_numlst section.top code button{border-color:#ff3782;color:#ff3782}
.frmview_select,
.profile_moniter{background-color:#F8F9FB}
.profile_moniter .countinfo .u{border-color:#ff3782}
.profile_moniter .countinfo ul.count{justify-content:space-between;-webkit-justify-content:space-between}
.profile_moniter .countinfo ul.count li:first-child,
.profile_moniter .countinfo ul.count li:last-child{flex:none;-webkit-flex:none}
.profile_moniter .countinfo ul.count li:last-child{padding-right:1rem}
.profile_moniter .countinfo ul.count li:last-child code,
.profile_moniter .countinfo ul.count .txt,
.profile_moniter .countinfo .tab li a strong{color:#ff3782}
.profile_states .fc,
.profile_states h3 strong, .profile_states h4 strong{color:#ff3782}
.bn_belt.case1{background-color:#fff}

.profile_infogroup{background-color:#F8F9FB}
.profile_infogroup>.btn_area_sigle{padding:0 0.5rem}

.profile_states .btn_area_sigle{padding:0}
.profile_wifichk .btn_area_sigle{padding:0}
.profile_states .topbx button.btn_xr{height:4rem;border-radius:0.6rem}

.frmview_normal.pb30{padding-bottom:3rem}
/* .frmview_normal .detail{border-top:1px solid #777} */
/* .detail_normal .list_table:first-of-type{margin-top:2.5rem;padding-top:2.25rem;border-top:1px solid #777} */
.frmview_normal+.btn_area_sigle,
.detail_normal+.btn_area_sigle{padding-bottom:2.5rem;background-color:#fff}

.profile_maintop .txtgroup{padding:3.5rem 2rem 0;font-weight:300;font-size:1.1rem;color:#7e7e7e}
.profile_maintop.intro .txtgroup{padding:3rem 0 0;text-align:center;font-size:1.3rem}
.profile_maintop.intro .txtgroup h3{line-height:1.3;font-size:3rem;color:#222;letter-spacing:-0.4rem;}
.profile_maintop.intro .txtgroup p{margin-top:0.8rem;line-height:1.35}
.profile_maintop.intro .txtgroup p strong{font-weight:500}
.profile_maintop.intro .txtgroup p strong,
.profile_maintop.intro .txtgroup p u{color:#222}
.profile_maintop.intro .txtgroup .now{display:inline-block;position:relative;margin-top:0.4rem;color:#222;font-size:1.5rem;z-index:1}
.profile_maintop.intro .txtgroup .now:after{content:'';display:block;width:100%;height:1px;position:absolute;left:0;right:0;bottom:3px;background-color:#222}
.profile_maintop.intro .txtgroup .now strong{font-weight:700;font-size:2.1rem;background-color:#F8F9FB;}

.profile_maintop figure{position:relative}
.profile_maintop [data-name="모니터링"] h2:before{background-color:#52c8b6}
.profile_maintop [data-name="모니터링"] figure{position:relative;height:27rem;margin-top:3.5rem;background-color:#00ae93}
.profile_maintop.intro figure{overflow:hidden;margin:2.5rem 0 1.8rem}

.profile_maintop [data-name="금융거래차단"] h2:before{background-color:#fce494}
.profile_maintop [data-name="금융거래차단"] figure{
    background:url(../image/ani/slide1_bg.gif) repeat-x 0 100%;
    background-size:auto 27rem;margin-top:1rem;height:29.5rem
}
.profile_maintop.intro [data-name="금융거래차단"] figure{margin-top:2rem}
.profile_maintop [data-name="금융거래차단"] [class^="ball"]:after{
    content:'';display:block;width:1.55rem;height:1.55rem;
    position:absolute;background-size:100% 100%;
    background-image:url(../image/ani/slide1_ball_i.png);
}
.profile_maintop [data-name="금융거래차단"] .ball1{
    width:15.8rem;height:7.25rem;top:14rem;right:15.2rem;
    background-image:url(../image/ani/slide1_ball1.png);    
}
.profile_maintop [data-name="금융거래차단"] .ball1:after{top:1.15rem;right:2.4rem}
.profile_maintop [data-name="금융거래차단"] .ball2{
    width:16.7rem;height:18.35rem;top:0;right:5.8rem;
    background-image:url(../image/ani/slide1_ball2.png)
}
.profile_maintop [data-name="금융거래차단"] .ball2:after{top:1.6rem;right:2.4rem}
.profile_maintop [data-name="금융거래차단"] .ball3{
    width:14.9rem;height:7.3rem;top:9rem;right:1.5rem;
    background-image:url(../image/ani/slide1_ball3.png)
}
.profile_maintop [data-name="금융거래차단"] .ball3:after{top:1.2rem;right:2rem}
.profile_maintop [data-name="영업전화수신거부"] h2:before{background-color:#6eaeed}
.profile_maintop [data-name="영업전화수신거부"] .mtxt i{
    width:3.7rem;height:2.4rem;margin:-.4rem .4rem 0 .7rem;
    background-image:url(../image/lgu/figure_txt_all.png);
}
.profile_maintop [data-name="영업전화수신거부"] figure{
    background:url(../image/ani/slide2_bg.png) no-repeat 50% 100%;
    background-size:auto 27rem;height:29.5rem;margin-top:1rem;margin-bottom:2.2rem
}
.profile_maintop [data-name="영업전화수신거부"] .phone{
    width:20.45rem;height:22.2rem;margin-left:1.1rem;bottom:0;left:50%;
    background-image:url(../image/ani/slide2_phone.png);    
    -webkit-transform: translate(-50%,30px);transform: translate(-50%,30px);
}
.profile_maintop [data-name="영업전화수신거부"] .tel1{
    width:13.9rem;height:5.45rem;top:10rem;margin-left:-6rem;
    background-image:url(../image/ani/slide2_tel1.png);
}
.profile_maintop [data-name="영업전화수신거부"] .tel2{
    width:13.1rem;height:4.65rem;top:0;margin-left:3.5rem;
    background-image:url(../image/ani/slide2_tel2.png);
}
.profile_maintop [data-name="영업전화수신거부"] .tel3{
    width:13.1rem;height:4.6rem;top:14.8rem;margin-left:7.3rem;
    background-image:url(../image/ani/slide2_tel3.png);
}
.profile_maintop [data-name="영업전화수신거부"] .toggle{width:11.95rem;height:4.05rem;bottom:4.25rem;left:50%;margin-left:-.5em}
.profile_maintop [data-name="영업전화수신거부"] .toggle i{width:11.95rem;height:4.05rem;background-image:url(../image/ani/slide2_toggle_off.png)}
.profile_maintop [data-name="영업전화수신거부"] .toggle:before{
    width:5.25rem;height:1.4rem;left:1.8rem;top:1.35rem;
    -webkit-transform: translateX(30px);transform: translateX(30px);
}
.profile_maintop [data-name="영업전화수신거부"] .toggle:after{
    width:5.5rem;height:5.55rem;right:-1rem;top:-.15rem;
    background-image:url(../image/ani/slide2_toggle_btn.png);
    -webkit-transform: translateX(-80px);transform: translateX(-80px);
}
.profile_maintop [data-name="영업전화수신거부"][class*="active"] .phone,
.profile_maintop [data-name="영업전화수신거부"].introStart .phone{
    -webkit-transition-delay:.5s;transition-delay:.5s;
    -webkit-transform: translate(-50%,0);transform: translate(-50%,0);
}
.profile_maintop [data-name="영업전화수신거부"][class*="active"] .tel1,
.profile_maintop [data-name="영업전화수신거부"].introStart .tel1{margin-left:-7rem}
.profile_maintop [data-name="영업전화수신거부"][class*="active"] .tel2,
.profile_maintop [data-name="영업전화수신거부"].introStart .tel2{margin-left:4.5rem}
.profile_maintop [data-name="영업전화수신거부"][class*="active"] .tel3,
.profile_maintop [data-name="영업전화수신거부"].introStart .tel3{margin-left:8.3rem}
.profile_maintop [data-name="안심번호"] h2:before{background-color:#ebbb8f}
.profile_maintop [data-name="안심번호"] figure{height:27rem;margin-top:3.5rem;background-color:#474747}
.profile_maintop [data-name="안심번호"] figure i{-webkit-transform: translateX(-50%);transform: translateX(-50%)}
.profile_maintop [data-name="안심번호"].swiper-slide-active .car,
.profile_maintop [data-name="안심번호"].swiper-slide-active .box{
    left:50%;
}
.profile_maintop [data-name="안심번호"] .car{
    width:23.9rem;height:16.3rem;bottom:-2.75rem;margin-left:-13.5rem;left:-50%;background-image:url(../image/ani/slide5_car.png)
}
.profile_maintop [data-name="안심번호"] .box{
    width:12.85rem;height:16.9rem;left:100%;bottom:-.75rem;margin-left:10.2rem;background-image:url(../image/ani/slide5_box.png)
}
.profile_maintop [data-name="안심번호"] .ball{
    width:15.25rem;height:7.6rem;top:2.8rem;margin-left:-.5rem;left:50%;background-image:url(../image/ani/slide5_ball.png)
}
.profile_maintop [data-name="안심번호"] .ball:before,
.profile_maintop [data-name="안심번호"] .ball:after{
    content:'';display:block;position:absolute;z-index:-1;
    background-repeat:no-repeat;background-position:0 100%;background-size:100% 100%;
    -webkit-transform: scale(0,0);transform: scale(0,0)
}
.profile_maintop [data-name="안심번호"] .ball:before{
    width:6.9rem;height:11.75rem;top:2.3rem;left:1rem;
    background-image:url(../image/ani/slide5_bar.png)
}
.profile_maintop [data-name="안심번호"] .ball:after{
    width:9.6rem;height:9.75rem;top:.2rem;left:7rem;
    background-image:url(../image/ani/slide5_bar2.png)
}
.profile_maintop [data-name="안심번호"].swiper-slide-active .ball{top:3.5rem}

.profile_maintop [data-name="wifi체크"] h2:before{background-color:#a1e4d4}
.profile_maintop [data-name="wifi체크"] figure{
    height:30.5rem;
    background:url(../image/ani/slide3_bg.png) repeat-x 50% 100%;
    background-size:auto 27rem;
}
.profile_maintop [data-name="wifi체크"] .map li{
    background-image:url(../image/ani/slide3_point.png);
    width:3.2rem;height:4rem;left:50%;
    -webkit-transform:translateX(-50%,10px);transform:translate(-50%,10px);
}
.profile_maintop [data-name="wifi체크"] .map li:first-child{top:16.7rem;margin-left:-13rem}
.profile_maintop [data-name="wifi체크"] .map li:nth-child(2){top:8rem;margin-left:-6.2rem}
.profile_maintop [data-name="wifi체크"] .map li:nth-child(3){top:27.7rem;margin-left:-4rem}
.profile_maintop [data-name="wifi체크"] .map li:nth-child(4){top:13rem;margin-left:12.5rem}
.profile_maintop [data-name="wifi체크"] .map li:nth-child(5){top:25.5rem;margin-left:10.2rem}
.profile_maintop [data-name="wifi체크"] [class^="point"]{
    left:50%;
    -webkit-transform:translate(-50%,20px);
    transform:translate(-50%,20px)
}
.profile_maintop [data-name="wifi체크"] [class^="point"]:before,
.profile_maintop [data-name="wifi체크"] [class^="point"]:after{content:'';display:block;background-size:100% 100%}
.profile_maintop [data-name="wifi체크"] [class^="point"]:before{
    position:absolute;left:50%;top:-1.2rem;z-index:-1;opacity:0;
    background-image:url(../image/ani/slide3_point_txt.png);
    -webkit-transform: translateX(-50%);transform: translateX(-50%);
}
.profile_maintop [data-name="wifi체크"] [class^="point"]:after{background-image:url(../image/ani/slide3_point2.png)}
.profile_maintop [data-name="wifi체크"] .point1{width:5.6rem;height:8.25rem;top:13.5rem;margin-left:3rem}
.profile_maintop [data-name="wifi체크"] .point1:before{width:8.45rem;height:2.7rem}
.profile_maintop [data-name="wifi체크"] .point1:after{width:5.6rem;height:8.25rem}
.profile_maintop [data-name="wifi체크"] .point2{top:0;margin-left:11rem}
.profile_maintop [data-name="wifi체크"] .point2:before{width:6.55rem;height:2.1rem}
.profile_maintop [data-name="wifi체크"] .point2:after{width:3.9rem;height:6.3rem}
.profile_maintop [data-name="wifi체크"][class*="active"] .map li{
    -webkit-transform:translateX(-50%,0);transform:translate(-50%,0);
}
.profile_maintop [data-name="wifi체크"][class*="active"] [class^="point"]{
    -webkit-transform:translate(-50%,0);transform:translate(-50%,0)
}

.profile_moniter .mystate[data-state="안전"]:after{color:#02c19b}
.profile_moniter .mystate[data-state="안전"] figure .anim{background:#02c19b}
.profile_moniter .mystate[data-state="양호"]:after{color:#ffae00}
.profile_moniter .mystate[data-state="양호"] figure .anim{background:#ffb400}
.profile_moniter .mystate[data-state="위험"]:after{color:#f44159}
.profile_moniter .mystate[data-state="위험"] figure .anim{background:#f44159}

.detail_number ul.nlst li:nth-child(2):before{border-color:#ff3782}
.detail_number p.cau:before{background-image:url(../image/lgu/ico_cau.png)}

.profile_callcount .desk button,
.profile_callcount .desk a{background-color:#EFF0F2;border-color:#E7E9EC;color:#777}
.profile_callcount .desk button:after,
.profile_callcount .desk a:after{
    width:2.15rem;height:2.15rem;border:1px solid #d9d9d9;border-radius:50%;
    background-color:#fff;background-repeat:no-repeat;background-position:50% 50%;background-size:.6rem auto;right:1rem;
    background-size:.6rem auto;background-image:url(../image/lgu/ico_arr.png)
}
.profile_callcount[data-cat="전화권유판매"].on .callchek{background-color:#2987e5}
.profile_callcount[data-cat="전화권유판매"].on .callchek .tag{background-image:url(../image/lgu/figure_toggle_on.png)}
.profile_callcount[data-cat="금융권영업전화"].on .callchek{background-color:#485bec}
.profile_callcount[data-cat="금융권영업전화"].on .callchek .tag{background-image:url(../image/lgu/figure_toggle2_on.png)}

.visual_privaty h2{margin-bottom:.35rem;font-size:1.5rem;color:#222}

.wifichk_join figure.end [data-end="양호"]:before{background-image:url(../image/ani/figure_wifi_result1.png)}
.wifichk_join figure.end [data-end="위험"]:before{background-image:url(../image/ani/figure_wifi_result2.png)}
.wifichk_join figure.end [data-end="양호"] .load{border-color:#5acdc3}
.wifichk_join figure.end [data-end="양호"]{box-shadow:.45rem .45rem 1.25rem rgba(79,206,171,.45);color:#22bbad}
.wifichk_join figure.end [data-end="위험"] .load{border-color:#f75867}
.wifichk_join figure.end [data-end="위험"]{box-shadow:.45rem .45rem 1.25rem rgba(246,70,87,.45);color:#f64657}
.wifichk_join figure.check{background-image:url(../image/ani/figure_wifi.png)}
.wifichk_join figure.check i{background-image:url(../image/ani/figure_wifi_step1.png)}
@keyframes wifi{
    0%{background-image:url(../image/ani/figure_wifi_step1.png)}
    25%{background-image:url(../image/ani/figure_wifi_step2.png)}
    50%{background-image:url(../image/ani/figure_wifi_step3.png)}
    75%{background-image:url(../image/ani/figure_wifi_step4.png)}
    100%{background-image:url(../image/ani/figure_wifi_step1.png)}
}
@-webkit-keyframes wifi{
    0%{background-image:url(../image/ani/figure_wifi_step1.png)}
    25%{background-image:url(../image/ani/figure_wifi_step2.png)}
    50%{background-image:url(../image/ani/figure_wifi_step3.png)}
    75%{background-image:url(../image/ani/figure_wifi_step4.png)}
    100%{background-image:url(../image/ani/figure_wifi_step1.png)}
}

/* popup */
.ly_alert .fc{color:#ff3782}

.ly_addrfrm .fc{color:#ff3782}
.ly_addrfrm .ipbx.focus{border-color:#222}
.ly_addrfrm .ipbx.focus button.srch i{background-image:url(../image/lgu/ico_srch4.png)}
.ly_addrfrm .rsltlst ul li.active:before{color:#ff3782;border-color:#ff3782}
.ly_addrfrm .rsltlst ul li.active:before{background-image:url(../image/lgu/ico_chk4.png)}

.ly_recept .click{
    -webkit-animation-name:txt;animation-name:txt;
}
@-webkit-keyframes txt{
    0%,50%{background-image:url(../image/btn_recept.png)}
    25%,75%,100%{background-image:url(../image/lgu/btn_recept_on.png)}
}
@keyframes txt{
    0%,50%{background-image:url(../image/btn_recept.png)}
    25%,75%,100%{background-image:url(../image/lgu/btn_recept_on.png)}
}

.list_chkagre{text-align:center}
/* .list_chkagre>li{margin-top:2.3rem} */
/* .list_chkagre .checkbox{margin-left:0} */
.list_chkagre .checkbox input+label,
.list_chkagre .checkbox input+label+button{font-size:1.2rem;font-weight:500}
.list_chkagre .checkbox input:checked+label:before{background-image:url(../image/lgu/checkbox_check_on.png)}
/* .frmview_normal2 ul.cau2{margin-top:2.4rem} */

.frmview_select2.bgOff{background-color:transparent}

.detail_number>section{padding-top:2.3rem;padding-bottom:0;background-color:transparent}
.detail_number>footer{padding-bottom:4.9rem}
.detail_number>section+.btn_area_sigle{padding-top:2rem;padding-bottom:13.4rem}

.profile_numlst section.top {
    -webkit-box-shadow: 0.25rem 0.25rem 0.4rem 0px rgba(0, 0, 0, 0.05);
    box-shadow: 0.25rem 0.25rem 0.4rem 0px rgba(0, 0, 0, 0.05);
}

.profile_numlst .btn_skip{width:12.5rem;margin:1rem auto 0;padding:0}
.wifichk_join{padding-bottom:4.7rem;background-color:transparent}
.wifichk_join.checking{padding-top:1.5rem}
.visual_privaty .tab_wrap{padding-top:1rem}

.my_serv{padding:0 1.2rem;margin-bottom:9.5rem}
.serv_sec{overflow:hidden;padding:2.75rem 1.2rem 1.15rem;margin-top:1.25rem;background-color:#fff;border-radius:0.8rem;-webkit-box-shadow:0.5rem 0.5rem 0.8rem 0px rgba(0,0,0,0.08);box-shadow:0.5rem 0.5rem 0.8rem 0px rgba(0,0,0,0.08)}
.serv_sec:first-child{margin-top:0}
.serv_sec .desc{position:relative;padding:0 0 4.7rem 1rem;border-bottom:1px solid #ededed}
.serv_sec .desc:after{content:'';display:block;position:absolute;right:0.4rem;bottom:1.1rem;background-position:50% 50%;background-repeat:no-repeat;background-size:100% 100%}
.serv_sec:nth-of-type(1) .desc:after{width:8.1rem;height:7rem;background-image:url(../image/lgu/mymain_serv_sec01.png)}
.serv_sec:nth-of-type(2) .desc:after{width:8.15rem;height:8.9rem;background-image:url(../image/lgu/mymain_serv_sec02.png)}
.serv_sec:nth-of-type(3) .desc:after{width:8.15rem;height:7.1rem;background-image:url(../image/lgu/mymain_serv_sec03.png)}
.serv_sec:nth-of-type(4) .desc:after{width:10.8rem;height:6.4rem;background-image:url(../image/lgu/mymain_serv_sec04.png)}
.serv_sec:nth-of-type(5) .desc:after{width:7.6rem;height:9.5rem;background-image:url(../image/lgu/mymain_serv_sec05.png)}
.serv_sec .desc strong,
.serv_sec .desc p{position:relative;z-index:2}
.serv_sec .desc strong{font-size:2.1rem;line-height:1.2;letter-spacing:-0.2rem}
.serv_sec .desc strong i{font-style:italic}
.serv_sec .desc p{margin-top:0.5rem;font-weight:300;font-size:1.1rem;color:rgba(34,34,34,0.65)}
.serv_sec .serv_btn{width:100%;height:4.6rem;font-weight:700;font-size:1.4rem}

#swir-my .btn_area_sigle{position:absolute;left:0;right:0;bottom:0}
#swir-my .swiper-pagination{padding:0 2.6rem;bottom:auto;top:2rem;font-size:0;text-align:left}
#swir-my .swiper-pagination-bullet{width:0.35rem;height:0.35rem;margin:0;opacity:1;background-color:#d5d5d5}
#swir-my .swiper-pagination-bullet-active{background-color:#333}
#swir-my .swiper-pagination-bullet+.swiper-pagination-bullet{margin-left:0.45rem}
#swir-my .swiper-slide .img{display:block}
#swir-my .swiper-slide .img img{width:100%}
#swir-my .swiper-slide h2{position:absolute;left:0;right:0;top:0;padding:3.25rem 2.6rem 12rem;font-size:2.5rem;letter-spacing:-0.2rem;line-height:1.2}
#swir-my .swiper-slide h2 i{font-style:italic}

/* 200615 무료 모니터링 정보 유,무 */
.info_moniter{padding:0}
.info_moniter .countinfo,
.info_moniter .mystate{border-radius:0;box-shadow:none}
.info_moniter .countinfo{padding:3rem 3rem 1.5rem}
.info_moniter .countinfo .tab li a{padding-right:2.25rem}
.info_moniter .mystate{padding-top:3rem;padding-left:3rem}
.info_moniter>section{margin:0.8rem 0;background-color:#fff;font-size:0}
.info_moniter>section .btn_area_sigle{padding:2.1rem 1.8rem}
.info_moniter>section:first-child{margin-top:0}
.info_moniter>section .desc{position:relative}
.info_moniter>section .img{display:block}
.info_moniter>section .img img{width:100%}
.info_moniter>section h3{letter-spacing:-0.15rem}
.info_moniter .banner{padding:1.3rem 1.8rem 1.9rem}
.info_moniter .bare_info{padding-top:3rem;text-align:center}
.info_moniter .bare_info h3{font-size:1.6rem}
.info_moniter .bare_info .count{display:inline-block;position:relative;margin:1rem 0 1.3rem;font-size:2.8rem;z-index:1}
.info_moniter .bare_info .count:after{content:'';display:block;width:100%;height:2px;background-color:#222;position:absolute;left:0;right:0;bottom:0.25rem}
.info_moniter #count{letter-spacing:-0.1rem;font-weight:700}
.info_moniter #count i{
    display: inline-block;
    -webkit-animation: jump 800ms cubic-bezier(0.165, 0.44, 0.64, 1) infinite;
	animation: jump 800ms cubic-bezier(0.165, 0.44, 0.64, 1) infinite;
}
.info_moniter #count i:nth-of-type(1){animation-delay:0s;-webkit-animation-delay:0s}
.info_moniter #count i:nth-of-type(2){animation-delay:0.1s;-webkit-animation-delay:0.1s}
.info_moniter #count i:nth-of-type(3){animation-delay:0.2s;-webkit-animation-delay:0.2s}
.info_moniter #count i:nth-of-type(4){animation-delay:0.3s;-webkit-animation-delay:0.3s}
.info_moniter #count i:nth-of-type(5){animation-delay:0.4s;-webkit-animation-delay:0.4s}
.info_moniter .bare_info .btn_area_sigle{padding:0 9.2rem 2.2rem}
.info_moniter .bare_info .btn_area_sigle button{height:3.6rem;font-size:1.4rem;border-radius:1.8rem}

.info_moniter .check_info{padding-top:2.4rem;text-align:center}
.info_moniter .check_info .desc{padding:0 2rem}
.info_moniter .check_info h3{margin-bottom:1rem;font-weight:700;font-size:2.4rem;text-decoration:underline}
.info_moniter .check_info p{font-size:1.4rem;color:#999}

.bizinfo_list>section{padding-top:2.3rem}

@keyframes jump {
    20% {
        transform: translateY(2%) scaleY(0.9);
    }
    40% {
        transform: translateY(-20%) scaleY(1.2);
    }
    50% {
        transform: translateY(10%) scaleY(0.8);
    }
    70% {
        transform: translateY(-5%) scaleY(1);
    }
    80%, 100% {
        transform: translateY(0) scaleY(1);
    }
}
@-webkit-keyframes jump {
    20% {
        transform: translateY(2%) scaleY(0.9);
    }
    40% {
        transform: translateY(-20%) scaleY(1.2);
    }
    50% {
        transform: translateY(10%) scaleY(0.8);
    }
    70% {
        transform: translateY(-5%) scaleY(1);
    }
    80%, 100% {
        transform: translateY(0) scaleY(1);
    }
}

/* 200617 약관동의 */
.frmview_agr{padding-top:2.7rem;background-color:transparent}
.frmview_agr+.btn_area_sigle{padding-bottom:1rem}
.frmview_agr .list_chkagre{text-align:left}
.frmview_agr p{font-size:1.25rem;text-align:center}
.frmview_agr .list_chkagre.case2>li{margin-top:1.2rem;font-size:0}
.frmview_agr .list_chkagre.case2>li:first-child{margin:2.6rem 0 1.2rem}
.frmview_agr .checkbox.all input + label{padding:1.35rem 0 1.35rem 4.3rem;font-weight:500;font-size:1.4rem}
.frmview_agr .checkbox.all input:checked+label{border-color:#FF3782}
.frmview_agr .checkbox.all input + label:before{left:1.9rem}
.frmview_agr .checkbox.sub input + label{padding:0.7rem 0 0.7rem 4.3rem;font-weight:400;font-size:1.4rem}
.frmview_agr .checkbox.sub input + label:before{left:1.9rem}
.frmview_agr .checkbox.sub input + label:after{top:1.3rem;right:-1.2rem}
.frmview_agr .checkbox.sub + ul{margin-bottom:1.2rem;margin-left:2.7rem}
.frmview_agr .checkbox.sub + ul li{margin-top:0}
.frmview_agr .checkbox.sub + ul li:first-child{margin-top:0rem}
.frmview_agr .checkbox.sub + ul li span{margin-left:0;padding:0.7rem 0 0.7rem 3.4rem}
.frmview_agr .checkbox input+label,
.frmview_agr .checkbox input+label+button{margin-left:0.4rem;font-weight:300;font-size:1.2rem}
.frmview_agr .checkbox input:checked + label,
.frmview_agr .checkbox.button input:checked + label + button{font-weight:400}

/* 메인 유료 */
.list_myinfo{margin-top:2.2rem;margin-bottom:3rem}
.list_myinfo .fc{color:#FF3782}

/* 200731 서비스 안내 추가 */
.serv_noti{text-align:right;margin-bottom:0.8rem}
.noti_btn{font-size:1.2rem;color:#666}
.noti_btn:after{content:'';display:inline-block;margin:-0.25rem 0 0 0.3rem;vertical-align:middle;width:1.5rem;height:1.5rem;background-repeat:no-repeat;background-position:50% 50%;background-size:100% 100%}
.noti_btn.base:after{background-image:url(../image/lgu/icon_noti_base.png)}
.noti_btn.blk:after{background-image:url(../image/lgu/icon_noti_blk.png)}

.btn_area_sigle.desk{padding:0}
.btn_area_sigle.desk li{display:inline-block;width:48.5%}
.profile_states{padding-bottom:3.9rem}
#ct>.with_noti{padding-top:1.5rem}
.profile_callcount.nodesk{padding-bottom:6.7rem}
.profile_numlst .serv_noti{margin-top:1.5rem}
.profile_numlst .serv_noti+.top{margin-top:0}
.wifichk_join.checking .serv_noti{margin-bottom:2.8rem}

.ly_service .serv_cont p.cau:before,
.ly_service .serv_cont ul.list i:before{content:'';display:inline-block;background-image:url(../image/lgu/service_figure.png);background-size:16rem auto}

.ly_service .serv_cont p.cau{position:relative;padding:1.8rem 1.8rem 1.8rem 4.5rem;background-color:#EFF0F2;font-size:1.2rem;font-weight:400;color:#333;margin-top:2.5rem}
.ly_service .serv_cont p.cau:before{width:1.35rem;height:1.35rem;background-position:0 -4.95rem;position:absolute;left:1.95rem;top:1.9rem}
.ly_service .serv_cont article{font-weight:300;line-height:1.5}
.ly_service .serv_cont ul.list{position:relative;margin-left:.3rem}
.ly_service .serv_cont ul.list:before{content:'';width:1px;background:url(../image/lgu/service_bg_dot.png) repeat-y;background-size:.1rem auto;position:absolute;top:1.5rem;bottom:3.5rem;left:1.4rem}
.ly_service .serv_cont ul.list + p{margin-top:3rem}
.ly_service .serv_cont ul.list li{position:relative;padding-left:4.5rem;margin-top:3rem}
.ly_service .serv_cont ul.list h3{font-size:1.5rem;color:#000;line-height:1.3}
.ly_service .serv_cont h2+.img{display:block;margin-bottom:2.2rem}
.ly_service .serv_cont ul.list h3 + s{display:block;font-size:1.1rem;color:#a3a3a3}
.ly_service .serv_cont ul.list + .list2{margin-top:4.5rem}
.ly_service .serv_cont ul.list i{display:flex;align-items:center;justify-content:center;width:3rem;height:3rem;background-color:#EFF0F2;border-radius:50%;position:absolute;left:0;top:-.5rem}
.ly_service .serv_cont ul.list2 h4{margin-bottom:1.25rem;font-size:1.4rem}
.ly_service .serv_cont ul.list2>li{margin-top:2rem;padding-top:2rem;border-top:1px solid #d1d1d1}
.ly_service .serv_cont ul.list2>li:first-child{margin-top:0;padding-top:0;border-top:0}

.ly_service .serv_cont [data-name="모니터링"] .list li:nth-child(1) i:before{width:1.35rem;height:1.35rem;background-position:0 0}
.ly_service .serv_cont [data-name="모니터링"] .list li:nth-child(2) i:before{width:1.45rem;height:1.05rem;background-position:-2.4rem 0}
.ly_service .serv_cont [data-name="모니터링"] .list li:nth-child(3) i:before{width:1.55rem;height:.8rem;background-position:-4.9rem 0}

.ly_service .serv_cont [data-name="금융거래차단"] ul.list:before{bottom:5rem}
.ly_service .serv_cont [data-name="금융거래차단"] .list li:nth-child(1) i:before{width:1.35rem;height:1.15rem;background-position:-7.5rem 0}
.ly_service .serv_cont [data-name="금융거래차단"] .list li:nth-child(2) i:before{width:1.55rem;height:1.55rem;background-position:-9.85rem 0}
.ly_service .serv_cont [data-name="금융거래차단"] .list li:nth-child(3) i:before{width:1.25rem;height:1.25rem;background-position:-12.4rem 0}

.ly_service .serv_cont [data-name="수신거부"] ul.list:before{bottom:1.5rem}
.ly_service .serv_cont [data-name="수신거부"] .list li:nth-child(1) i:before{width:1.15rem;height:1.4rem;background-position:-14.75rem 0}
.ly_service .serv_cont [data-name="수신거부"] .list li:nth-child(2) i:before{width:1rem;height:1.5rem;background-position:0 -2.4rem}
.ly_service .serv_cont [data-name="수신거부"] .list li:nth-child(3) i:before{width:1.4rem;height:1.5rem;background-position:-2.1rem -2.4rem}

.ly_service .serv_cont [data-name="안심번호"] .list li:nth-child(1) i:before{width:1.7rem;height:0.7rem;background-position:-4.55rem -2.4rem}
.ly_service .serv_cont [data-name="안심번호"] .list li:nth-child(2) i:before{width:1.35rem;height:1.3rem;background-position:-7.25rem -2.4rem}

.ly_service .serv_cont [data-name="wifi체크"] .list li:nth-child(1) i:before{width:1.35rem;height:1.05rem;background-position:-9.65rem -2.4rem}
.ly_service .serv_cont [data-name="wifi체크"] .list li:nth-child(2) i:before{width:1.45rem;height:1.3rem;background-position:-11.95rem -2.4rem}

.ly_doc_print .btn_area_sigle{padding:0}