@charset "utf-8";
/* CSS Document */
* { margin:0; padding:0;}
body{font-size:0.75em; color:#555; font-family:"돋움", dotum; background-color:#fff; }
table, div { border-collapse:collapse; }
select, textarea { border:1px solid #B7B6B6; background:#FFF; vertical-align:middle; font-family:"돋움", dotum; font-size:1em;}
strong, b { font-weight:bold; }
select {font-size:1em;}
form, ul, ol, dl, table, div, h1, h2 { margin:0; padding:0; }
img, fieldset { border:0; vertical-align:middle;}
input{ vertical-align:middle}
select, input, li img { vertical-align:middle; }
ul, li, ol { list-style-type : none; }
legend, hr, caption {  }
a { color:#666; text-decoration:none;}
a:link { color:#666; text-decoration:none; }
a:visited { color:#666; text-decoration:none; }
a:active { color:#666; text-decoration:none; }
a:hover { color:#000; text-decoration:none; }
p { line-height:1.6; }
#m_content div { line-height:1.6em; }
td{line-height:1.6;}
.fl { float:left !important; }
.fr { float:right !important; position:relative;}
.cl { clear:both; }
.al { text-align:left !important; }
.ar { text-align:right !important; }
.at { vertical-align:top; }
.am { vertical-align:middle !important; }
.ac { text-align:center !important; }
.vam {vertical-align:middle !important;}
.b { font-weight:bold; }
.nb { font-weight:normal}
.u { text-decoration:underline; }

h3 {
font-size:14px;font-weight:normal;
}
h4 {
font-size:12px;font-weight:normal;
}
h5 {
font-size:11px;font-weight:normal;
}





h3.stit {
font-size:18px;
font-weight:600;line-height:33px;
padding:0 0 0 13px;
letter-spacing:-2px;
background:url(/static/images/portal/common/bl_h3.gif)  no-repeat 0 50%;


}
h3.stit span{
font-size:12px;
font-weight:normal;
letter-spacing:0;
}
h4.btit {;font-weight:600;
margin:0 0 0 13px;
padding:0 0 0 14px;
font-size:14px;
line-height:28px;
letter-spacing:-1px;
background:url(/static/images/portal/common/bl_h4.gif)  no-repeat 0 45%;
color:#0b537d;
display:block;
height:30px;
vertical-align:text-top;
}
h4.btit span {;font-weight:normal;
color:#555;
font-size:11px;
line-height:14px;

}

h4.htit{
display:block;
width:785px;
background:#064b7b url(/static/images/portal/common/titbg.gif)  no-repeat 0 45%;
padding:5px 0 5px 10px;
font-weight:bold;
color:#fff;
letter-spacing:-1px;
}

h5.mtit {
padding:0 0 5px 10px;
font-weight:bold;
font-size:12px;
line-height:16px;
background:url(/static/images/portal/common/bl_arrow.gif)  no-repeat 0 35%;

}
h5.mtit _non{
padding:0 0 5px 10px;
font-weight:bold;
font-size:12px;
line-height:16px;
background:url()  no-repeat 0 35%;

}

h5.mtit  span{
font-size:12px;
font-weight:normal;
letter-spacing:0;
}
h5.mtit_non b{
float:right;
font-weight:normal;
}
h5.mtit b{
float:right;
font-weight:normal;
display:inline-block;
_margin-top:-18px;
}
h5.nontit {
padding:0 0 5px 10px;
font-weight:bold;
font-size:12px;
line-height:16px;

}

/*ie7 전용*/
*:first-child+html h5.mtit b {
margin-top:-18px;
}
h5.nontit b{
float:right;
font-weight:normal;
}


h5.stxt {
padding:0 0 0 20px;
margin:0 0 0px 0;
font-weight:normal;
background:url(/static/images/portal/common/bl_item.gif)  no-repeat 6px 45%;
font-size:12px;
}
strong.item{
line-height:14px;
font-weight:bold;
padding:0 0 0 15px;
margin:0 0 0 15px;
letter-spacing:-1px;
background:url(/static/images/portal/common/bl_item.gif)  no-repeat 0 45%;
}
h4.atit {
padding:0 0 0 15px;
font-weight:normal;
background:url(/static/images/portal/common/bl_arrow.gif)  no-repeat 0 45%;
}
.item li{
background:url(/static/images/portal/common/bl_rect.gif) no-repeat no-repeat 0 20px;
line-height:18px;

}
.txt li{
line-height:18px;
color:555555
}
.bl_txt li{
background:url(/static/images/portal/common/bl_rect.gif)  no-repeat 0 20px;
line-height:18px;
color:555555
}
h4.rtit {background : url(/static/images/portal/common/bl_rect.gif)  no-repeat 0 5px;color:#21479d;font-weight:bold;font-size:12px;padding:0 0 0 10px;margin:0 0 0 10px;}
h6.point {font-size:11px; color:#777777}

.clear {display:block;clear:both;}

.w50 {width:50px;}
.w100 {width:50px;}
.h90 {height:90px;}


/*color*/

.c_blue{color:#0662a2;}
.c_deepblue{color:#03288f;}
.c_red{color:#e31818;}

.c_orange{color:#f2540e;}
.c_green{color:#2aa00f;}
.c_deepgreen{color:#0d7012;}

.hidden {visibility: hidden;display:none;}



.ta_c {text-align:center;}
.ta_l {text-align:left;}
.ml20{margin-left:20px;}
.ml30{margin-left:30px;}
.ml40{margin-left:40px;}
.ml60{margin-left:40px;}
.ml70{margin-left:70px;}

.ml80{margin-left:80px;}
.ml100{margin-left:100px;}
.ml200{margin-left:200px;}


.i_text{border:1px solid #cecece;height:16px;}


/*글자간격*/




.bg_violt {background:#0d7012;}


.w100{width:100px}
.w600{width:600px}
.w700{width:700px}

.lh16{line-height:16px;}

.h50{height:50px;}

/* UI Object */
.mw_layer{display:none;position:fixed;_position:absolute;top:0;left:0;z-index:10000;width:100%;height:100%}
.mw_layer.open{display:block}
.mw_layer .bg{position:absolute;top:0;left:0;width:100%;height:100%;background:#000;opacity:.5;filter:alpha(opacity=50)}
#layer{position:absolute;top:50%;left:50%;width:400px;margin:-150px 0 0 -194px;padding:28px 28px 0 28px;border:2px solid #555;background:#fff;font-size:12px;font-family:Tahoma, Geneva, sans-serif;color:#767676;line-height:normal;white-space:normal}
/* //UI Object */