@charset "utf-8";

/*협회소개>인사말*/

#greeting{
position:relative;

}
#greeting dl{
position:relative;
left:10px;
top:0px;

}
#greeting dd,#greeting dt{
float:left;
}
#greeting dd {
/* width:460px; */
width:460px;
}
#greeting dd .txt{
padding:10px 0 20px 10px;
text-indent:6px;
line-height:18px;
letter-spacing:-0.09em;
text-indent:0;
z-index:1px;
}
#greeting dt {
width:230px;
text-align:left;
margin:30px 0 0 -10px;
z-index:-1px;
}

/*협회소개>설립근거*/
#establish{
position:relative;

}
#establish ul{
position:relative;
left:50px;
top:10px;
padding:0 0 0px 0;
}


/*협회소개>연혁*/

#history {
padding:20px 0 0px 40px;
}

#history  .year{
clear:both;
position:relative;


}
#history .year h3{
position:relative;
left:250px;
font-family: Tahoma;
font-weight:bold;
float:left;
display:inline-block;
width:100px;
font-size:26px;
padding:10px 0 0 10px;
color:#bcb9b9;
}
#history  .year dl{
position:relative;
left:200px;
width:400px;
float:left;
margin: 0 0 20px 20px;
padding: 0 0 10px 0;
border-bottom: 1px dotted #999; 
}
#history  .year dt
{
left:0px;
top:0px;
float: left;
font-family: Tahoma;
width:100px;
clear:both;
font-weight:bold;
color: #39F;
margin:0px;
padding:6px 0px 6px 10px;
}
#history  .year dd{
float:left;
left:100px;
top:-25px;
width:280px;
padding:6px 0px 6px 0px;

}
#history .clear{

clear:both;
}
#history #img{
position:absolute;
left:30px;
top:180px;
}
/*border:1px solid #000;*/



#roadmap{}
#roadmap .img{margin:0  auto;width:760px;text-align:center;padding:30px 0 0 0;}
.tbl_roadmap {
width:730px;
margin:0  auto;
margin-left:20px;
margin-top:10px;

border-top:2px solid #0d73a3;
border-right:0px solid #d8d6d6;font-size:11px;

}

.tbl_roadmap th{
height:25px;
line-height:16px;
background:url(/static/images/portal/common/th_bg.gif) repeat-x left bottom;
border-bottom:1px solid #c7c2c2;font-size:11px;
border-left:0px solid #d8d6d6;font-size:11px;
color:#205576;
font-size:12px;
}
.tbl_roadmap td{
height:20px;
line-height:20px;
background:#ffffff;
text-align:left;
padding:3px 0 3px 10px;
border-left:1px solid #d8d6d6;font-size:12px;
border-bottom:1px solid #d6d6d6;}

/*협회소개>임원현황*/


#member {
width:790px;
}


#member .tbl_member{
margin: 0 auto;
}


.tbl_member{
width:700px;
border-right:1px solid #c5cbd9;
border-bottom:1px solid #c5cbd9;
border-top:2px solid #9ca7c1;
font-size:12px;
margin:10px 0 10px 0;
}

.tbl_member td{
border-left:1px solid #c5cbd9;
border-top:1px solid #c5cbd9;
padding:3px 10px 3px 10px;
text-align:center;
height:24px;
line-height:16px;

}
.tbl_member th{
border-left:1px solid #c5cbd9;
border-top:1px solid #fffff;
font-weight:normal;
background:#e8ecf5;
color:#283941;
height:15px;
padding:6px;
line-height:14px;
font-weight:bold;
}
#member .point{
width:700px;
display:block;
margin:0 auto;
padding:5px 3px 0 0; 
color:#ca562d;
line-height:28px;
vertical-align:text-bottom;
}
#member .point img{
vertical-align:text-bottom;
}

/*회원사소개*/
#company_wrap{

}
.tbl_company_introduce  {
width:790px;
margin:0  auto;

border-top:2px solid #0d73a3;
}
.tbl_company_introduce  th{
height:25px;
line-height:25px;
background:url(/static/images/portal/common/th_bg.gif) repeat-x left bottom;
border-bottom:1px solid #c7c2c2;font-size:11px;
border-left:1px solid #d8d6d6;font-size:11px;
color:#205576;
font-size:11px;
}
.tbl_company_introduce  th.company{border-left:0px solid #d6d6d6;width:150px;}
.tbl_company_introduce  td.company{border-left:0px solid #d6d6d6;font-size:12px;}
.tbl_company_introduce  th.type {font-weight:normal;background:#e6edf1;
}
.tbl_company_introduce  td.adress{ text-align:left;padding:0 0 0 3px;}

.tbl_company_introduce  td{
height:20px;
line-height:24px;
background:#ffffff;
text-align:center;
border-left:1px solid #d8d6d6;font-size:11px;
border-bottom:1px solid #d6d6d6;
}
.tbl_company_introduce  td img{
vertical-align:middle;
_margin-top:-0px;
}
/*조직현황*/
#organization{
text-align:center;
}

/*08_ci소개*/
#ci{
position:relative;
width:790px;
}
#ci dl{
margin:0  auto;
position:relative;
left:25px;
width:700px;
}

#ci dt{
padding:5px 30px 20px 0;
line-height:18px;
text-indent:10px;

}
#ci dd{
margin:10px 0 0px 0;

}

/*통계*/

#stats_wrap{;}

.tbl_stats  {
width:790px;
margin:0  auto;

border-top:2px solid #0d73a3;
}
.tbl_stats  th{
height:25px;
line-height:16px;
background:url(/static/images/portal/common/th_bg.gif) repeat-x left bottom;
border-bottom:1px solid #c7c2c2;font-size:11px;
border-left:1px solid #d8d6d6;font-size:11px;
color:#205576;
font-size:11px;
}
.tbl_stats  th.month{border-left:0px solid #d6d6d6;width:80px;}
.tbl_stats  td.month{border-left:0px solid #d6d6d6;font-size:12px;}
.tbl_stats  th.type {font-weight:normal;background:#e6edf1;}

.tbl_stats  th.sort {border-left:0px solid #d6d6d6;}
.tbl_stats  td.sort {border-left:0px solid #d6d6d6;font-size:12px;}

.tbl_stats  th.item{border-left:0px solid #d6d6d6;width:120px;}
.tbl_stats  td.item{border-left:0px solid #d6d6d6;font-size:12px;}

.tbl_stats  th.product{border-left:0px solid #d6d6d6;width:160px;}
.tbl_stats  td.product{border-left:0px solid #d6d6d6;font-size:12px;text-align:left;padding:0 0 0 10px;}
.tbl_stats  td.p_item{border-left:0px solid #d6d6d6;font-size:11px;text-align:right;padding:0 10px 0 0;}


.tbl_stats  td.value{text-align:right;padding:0 8px 0 0;}

.tbl_stats  th.type {font-weight:normal;background:#e6edf1;}

.tbl_stats  td.adress{ text-align:left;padding:0 0 0 3px;}
.tbl_stats  td.sum{ background:#d9f1f5;}

.tbl_stats  td{
height:20px;
line-height:24px;
background:#ffffff;
text-align:center;
border-left:1px solid #d8d6d6;font-size:11px;
border-bottom:1px solid #d6d6d6;
}
.tbl_stats  td img{
vertical-align:top;
_margin-top:-8px;
}


.search_condition{
width:100%;
border:3px solid #e1e4e5;

}
.condition_bg{
padding:12px;
background:#fff;
text-align:Center;

}

.search_condition dl{


margin:0 auto;
border-top:1px solid #acacac;
width:755px;
}
.search_condition dt{width:130px;float:left;padding:3px 0 3px 0px ;border-bottom:1px solid #acacac;;border-right:1px solid #acacac;text-align:center;font-weight:bold;background:#f4f2f2;height:20px;}
.search_condition dd{border-bottom:1px solid #acacac;clear:relative;text-align:left;padding:3px 0 3px 25px;height:20px;}

.search_condition input[type=text]{border:1px solid #acacac;}
.search_condition input[type=select]{border:1px solid #acacac;}


.tbl_condition  {
width:760px;
margin:0  auto;
margin-top:10px;
border-top:1px solid #0d73a3;
border-left:1px solid #c7c2c2;

}
.tbl_condition  th{
height:25px;
line-height:14px;
background:url(/static/images/portal/common/th_bg.gif) repeat-x left bottom;
border-bottom:1px solid #c7c2c2;font-size:11px;
border-right:1px solid #c7c2c2;font-size:11px;
color:#205576;
font-size:11px;
padding:3px 0 3px 0 ;
}
.tbl_condition  td{
height:25px;
line-height:16px;
background:#fffff;
border-bottom:1px solid #c7c2c2;font-size:11px;
border-right:1px solid #c7c2c2;font-size:11px;
color:#205576;
font-size:11px;
}



/*카파라치01*/

#carpaparazzi{
position:relative;
left:40px;
top:10px;
}



/*카파라치02*/
#carpaparazzi_result{
text-align:left;
width:790px;
height:350px;
}

#carpaparazzi_resultBx{
position:relative;
left:20%;
text-align:center;
top:30px;
width:485px;
height:61px;
border-radius:6px;
background:#e0eef6;
font-size:14px;
color:#1c5f85;
line-height:60px;
border:1px solid #90abd9;

}

#carpaparazzi_login {
position:relative;
width:485px;
_width:465px;

height:161px;
border-bottom-left-radius:1px solid #cfcfd1;
border-bottom-right-radius:1px solid #cfcfd1;
border-radius:6px;
border:1px solid #cfcfd1;
left:20%;

top:60px;


}
#carpaparazzi_login  .tit{
position:relative;
left:0px;
top:1px;
height:39px;
border:1px solid #cfcfd1;
border-top:0px solid #cfcfd1;
border-left:0px solid #cfcfd1;
border-right:0px solid #cfcfd1;
text-align:left;
color:#46484a;
line-height:38px;
background:#f0f0f0;
font-size:14px;
padding:0 0 0 20px;
_width:100%;
}
#carpaparazzi_login  .txt{
position:relative;
left:100px;
top:0px;
_top:30px;
width:400px;
line-height:40px;
}




/*regulation 작성*/

#regulation {
text-align:left;

padding:0 0 0 10px;
}

#regulation ul{margin:0 0 10px 0px;}
#regulation ul li{padding:5px 0 5px 10px;line-height:18px;
}

#regulation . item li{padding:0 0 0 15px;}

#regulation .date{
width:300px;
float:right;
line-height:10px;
margin:-30px 0 5px 0;
}
#regulation .date li{
margin:0px;
padding:1px 0px 1px 0px;
}
#regulation strong{
margin:0 0 0 28px;
line-height:14px;

}

#regulation ul{
margin:0px 0 15px 0px;
padding:0 0 0px 18px;

line-height:16px;

}
#regulation h4.btit {margin:0 0 5px 0;padding:8px 0 3px 15px;}

#regulation .num{
margin:5px 0 15px 18px;

line-height:16px;
}
#regulation .num li{
padding:0 0 5px 4px;
text-indent:-14px;
}
#regulation .num ul{
margin:0 0 0 0;
padding:5px 0px 0px 8px;

line-height:12px;
}
#regulation .num ul li{
padding:1px 0 1px 0;
padding:0 0 5px 3px;
text-indent:-12px;
}


#regulation #rule{
margin:0 0 10px 22px; 
}
#regulation #rule li{
padding:6px 0 6px 0;
line-height:18px;
}

#regulation .bl_arrow{
margin:0 0 5px 25px;
font-weight:bold;
color:#21479d;
background:url("/static/images/portal/common/blRect.gif") no-repeat left 50%; }



#regulation .tbl_dues{
width:700px;
border-right:1px solid #c5cbd9;
border-bottom:1px solid #c5cbd9;
border-top:2px solid #9ca7c1;
font-size:12px;
margin:10px 0 10px 25px;

}

#regulation .tbl_dues td{
border-left:1px solid #c5cbd9;
border-top:1px solid #c5cbd9;
padding:3px 10px 3px 10px;
text-align:center;
height:24px;
line-height:16px;

}
#regulation .tbl_dues th{
border-left:1px solid #c5cbd9;
border-top:1px solid #c5cbd9;
font-weight:normal;
background:#e8ecf5;
color:#283941;
height:15px;
padding:6px;
line-height:14px;
font-weight:bold;
text-align:center;
}

#regulation .tbl_fraction{

margin:0px 0px 0px -0px;
_margin:0px 0px 0px -15px;
*margin:0px 0px 0px -12px;

padding:0px;

}

#regulation .tbl_fraction td{
padding:2px 0px 2px 0px;text-align:center;}
#regulation .tbl_fraction .line{
border-top:1px solid #999;}






#errorPage{
position:relative;
text-align:center;
}
#errorBx {
margin:0 auto;
position:relative;
top:40px;
width: 542px;
height: 356px;
background: url(/static/images/portal/etc/errorBx.gif) no-repeat;
color: #99999;
text-align: center;
}

#errorBx .txt {
top: 00px;
line-height: 19px;
color: #4D4C48;
padding: 10px 0 10px 0;
background: #F4F4F2;
width: 84%;
margin: 0 auto;
border-top: 1px solid #DBDAD8;
border-bottom: 1px solid #DBDAD8;
}





/*기본테이블*/

#notice {
left:0px;
}
#print {

}


.tbl_member_notice  {
width:790px;
margin:0  auto;

border-top:2px solid #0d73a3;
}
.tbl_member_notice  th{
height:25px;
line-height:25px;
background:url(/static/images/portal/common/th_bg.gif) repeat-x left bottom;
border-bottom:1px solid #c7c2c2;font-size:11px;
border-left:1px solid #d8d6d6;font-size:11px;
color:#205576;

font-size:11px;
}
.tbl_member_notice  th.company{border-left:0px solid #d6d6d6;width:250px;}
.tbl_member_notice  td.company{border-left:0px solid #d6d6d6;font-size:12px;}
.tbl_member_notice  th.date{background:#eceaea;}

.tbl_member_notice  td{
height:20px;
line-height:24px;
background:#ffffff;
text-align:center;
border-left:1px solid #d8d6d6;font-size:11px;
border-bottom:1px solid #d6d6d6;
}
.tbl_member_notice  td img{
vertical-align:top;
_margin-top:-8px;
}
.noticeTxt{
margin:10px 0 5px 0;
font-size:12px;
line-height:18px;
text-indent:-35px;
padding:0 0 0 35px;
}

.btnPrint{
float:right;
margin:-10px 0 5px 0;

}

#cardlist {

}



.tbl_card_notice  {
width:790px;
margin:0  auto;
border-top:2px solid #0d73a3;
}
.tbl_card_notice  th{
height:25px;
line-height:25px;
background:url(/static/images/portal/common/th_bg.gif) repeat-x left bottom;
border-bottom:1px solid #c7c2c2;font-size:11px;
border-left:1px solid #d8d6d6;font-size:11px;
color:#205576;

font-size:11px;
}
.tbl_card_notice  td{
height:24px;
line-height:24px;
background:#ffffff;
text-align:center;
border-left:1px solid #d8d6d6;font-size:12px;
border-bottom:1px solid #d6d6d6;
}
.tbl_card_notice  th.date, .tbl_card_notice  td.date {border-left:0px solid #d6d6d6}

.tbl_card_notice  .date{
width:100px;
}
.tbl_card_notice  th.subject, .tbl_card_notice  th.down{text-align:center;}
.tbl_card_notice  td.subject{
text-align:left;
padding:0 0 0 10px;
}
.tbl_card_notice  td.down{
width:260px;
text-align:left;
padding:0 0 0 5px;
font-size:11px;
line-height:16px;
}





	.tbl_member_state  {
	width:800px;
	margin:0  auto;
	margin-bottom:10px;
	border-top:2px solid #0d73a3;
	}
	.tbl_member_state  th{
	height:25px;
	line-height:12px;
	background:url(/static/images/portal/common/th_bg.gif) repeat-x left bottom;
	border-bottom:1px solid #c7c2c2;font-size:11px;
	border-left:1px solid #d8d6d6;font-size:11px;
	color:#205576;
	letter-spacing:-0.5px;
padding:3px 0 3px 0;
	font-size:11px;

	}
	.tbl_member_state  td{
	height:24px;
	line-height:24px;
	background:#ffffff;
	text-align:center;
	border-left:1px solid #d8d6d6;font-size:12px;
	border-bottom:1px solid #d6d6d6;

font-size:11px;
font-weight:normal;
	}

.tbl_member_state  th.member, .tbl_member_state  td.member {border-left:0px solid #d6d6d6;width:100px;font-size:12px;}
.tbl_member_state  th.company, .tbl_member_state  td.company {border-left:0px solid #d6d6d6;width:65px;font-size:12px;}





	


	.tbl_product_commission  {
	width:800px;
	margin:0  auto;
	margin-bottom:10px;
	border-top:2px solid #0d73a3;
	}
	.tbl_product_commission  th{
	height:20px;
	line-height:12px;
	background:url(/static/images/portal/common/th_bg.gif) repeat-x left bottom;
	border-bottom:1px solid #c7c2c2;font-size:11px;
	border-left:1px solid #d8d6d6;font-size:11px;
	color:#205576;
	letter-spacing:-1px;

	font-size:11px;
	}
	.tbl_product_commission  td{
	height:24px;
	line-height:16px;
	background:#ffffff;
	text-align:center;
	border-left:1px solid #d8d6d6;font-size:12px;
	border-bottom:1px solid #d6d6d6;
font-size:11px;
	}
.tbl_product_commission   th.card, .tbl_product_commission   td.card {border-left:0px solid #d6d6d6;width:85px;font-size:12px;}

.tbl_product_commission .date {width:65px;}

.tbl_product_commission  th.vat{background:#eceaea;font-weight:normal;}



/*분기별수수료율*/
	.tbl_quarter_commission  {
	width:800px;
	margin:0  auto;
	margin-bottom:10px;
	border-top:2px solid #0d73a3;
	}
	.tbl_quarter_commission  th{
	height:24px;
	line-height:24px;
	background:url(/static/images/portal/common/th_bg.gif) repeat-x left bottom;
	border-bottom:1px solid #c7c2c2;font-size:11px;
	border-left:1px solid #d8d6d6;font-size:11px;
	color:#205576;
	letter-spacing:-1px;

	font-size:11px;
	}
	.tbl_quarter_commission  td{
	height:24px;
	line-height:16px;
	background:#ffffff;
	text-align:center;
	border-left:1px solid #d8d6d6;font-size:12px;
	border-bottom:1px solid #d6d6d6;
font-size:11px;
	}

	.tbl_quarter_commission   th.card {border-left:0px solid #d6d6d6;width:105px;}
		.tbl_quarter_commission   th.bank {border-left:0px solid #d6d6d6;width:105px;}

	.tbl_quarter_commission   td.card {border-left:0px solid #d6d6d6;width:65px;font-size:12px;}
		.tbl_quarter_commission   td.bank {border-left:0px solid #d6d6d6;width:65px;font-size:12px;}

	.tbl_quarter_commission   th.note {width:200px;}



/*휴면카드*/
.tbl_dormant{
	width:800px;
	margin:0  auto;
	margin-bottom:10px;
	border-top:2px solid #0d73a3;
	}
	.tbl_dormant  th{
	height:24px;
	line-height:24px;
	background:url(/static/images/portal/common/th_bg.gif) repeat-x left bottom;
	border-bottom:1px solid #c7c2c2;font-size:11px;
	border-left:1px solid #d8d6d6;font-size:11px;
	color:#205576;
	letter-spacing:-1px;

	font-size:11px;
	}
	.tbl_dormant  td{
	height:24px;
	line-height:16px;
	background:#ffffff;
	text-align:center;
	border-left:1px solid #d8d6d6;font-size:12px;
	border-bottom:1px solid #d6d6d6;
font-size:11px;
	}
	.tbl_dormant th.company{border-left:0px solid #d6d6d6;}
	.tbl_dormant td.company{border-left:0px solid #d6d6d6;font-size:12px;}
	.tbl_dormant th.card{border-left:0px solid #d6d6d6;}
	.tbl_dormant td.card{border-left:0px solid #d6d6d6;font-size:12px;}
	.tbl_dormant td.note{text-align:left;padding:0 0 0 10px;line-height:16px;}



/*신용등급별 이자율*/

.tbl_credit_interest{
	width:800px;
	margin:0  auto;
	margin-bottom:10px;
	border-top:2px solid #0d73a3;
	}
.tbl_credit_interest th{
	height:24px;
	line-height:24px;
	background:url(/static/images/portal/common/th_bg.gif) repeat-x left bottom;
	border-bottom:1px solid #c7c2c2;font-size:11px;
	border-left:1px solid #d8d6d6;font-size:11px;
	color:#205576;
	letter-spacing:-1px;
	font-size:11px;
	}
.tbl_credit_interest td{
	height:24px;
	line-height:16px;
	background:#ffffff;
	text-align:center;
	border-left:1px solid #d8d6d6;font-size:12px;
	border-bottom:1px solid #d6d6d6;

font-size:11px;
	}
.tbl_credit_interest th.section,.tbl_credit_interest td.section {
border-left:0px  solid #000;
}

/*적용금리대별 회원분포현황*/
.tbl_rate_state {

	width:800px;
	margin:0  auto;
	margin-bottom:10px;
	border-top:2px solid #0d73a3;
	}
	.tbl_rate_state  th{
	height:24px;
	line-height:18px;
	background:url(/static/images/portal/common/th_bg.gif) repeat-x left bottom;
	border-bottom:1px solid #c7c2c2;font-size:11px;
	border-left:1px solid #d8d6d6;font-size:11px;
	color:#205576;
	letter-spacing:-1px;

	font-size:11px;
	}
	.tbl_rate_state  td{
	height:24px;
	line-height:16px;
	background:#ffffff;
	text-align:center;
	border-left:1px solid #d8d6d6;font-size:12px;
	border-bottom:1px solid #d6d6d6;
font-size:11px;

	}



.tbl_rate_state th.company{border-left:0px solid #d6d6d6;width:180px;}
.tbl_rate_state td.company{border-left:0px solid #d6d6d6;font-size:12px;}


.gudietxt{
border:1px solid #d6d6d6;
background:#f6f6f6;
color:#555555;
font-size:11px;
padding:5px 0 5px 10px;
}
.gudietxt .mtxt{
text-indent:-35px;
padding:0 0 0 35px;
margin:5px 5px 5px 5px;
line-height:16px;
letter-spacing:-0.5px;

}

.gudietxt  .rect{
margin:10px 10px 10px 25px;
}
.rect li{
background:url(/static/images/portal/common/bl_rect.gif)  no-repeat 4px 5px;
padding:0 0 0 12px;
text-indent:-0px;
}
.gudietxt  .rect  ul {
margin:0 0 10px 0;}
.gudietxt  .rect  ul li{
padding:0 0 0 0;
background: url() no-repeat -100px -100px  ;
color:#686767;
letter-spacing:-0.5px;
}


.dtext{
}

.dtext .tit{
padding:0 0 0 20px;
margin:0 0 0px 0;
font-weight:normal;
background:url(/static/images/portal/common/bl_item.gif)  no-repeat 6px 45%;
font-size:12px;
font-weight:bold;
}
.dtext li{
padding:0 0 0 25px;
}






/*업종별수수료료율*/

.market_wrap{


}
.market_wrap li{
float:left;
padding:0 0 20px 0;
}
.tbl_market_rate {
	width:150px;
	float:left;
	margin:0  auto;
	margin-bottom:10px;
	border-top:2px solid #0d73a3;
	}
	.tbl_market_rate  th{
	height:24px;
	line-height:18px;
	background:url(/static/images/portal/common/th_bg.gif) repeat-x left bottom;
	border-bottom:1px solid #c7c2c2;font-size:11px;
	border-left:1px solid #d8d6d6;font-size:11px;
	color:#205576;
	letter-spacing:-1px;
margin:0px;
padding:0px;
text-align:center;
	font-size:11px;
	}
	.tbl_market_rate  td{
text-align:left;
	background:#ffffff;
	text-align:center;
	border-left:1px solid #d8d6d6;font-size:12px;
	border-bottom:1px solid #d6d6d6;
font-size:11px;
padding:0px;
margin:0px;
padding:0px;
	height:24px;
	}

	.tbl_market_rate td.section,.tbl_market_rate th.section{
	border-left:0px;width:150px;
	font-size:12px;
		height:24px;}
	.tbl_market_rate td.price{
	width:30px;
	font-size:11px;
		height:24px;}
		.tbl_market_rate .section a, .tbl_market_rate .section .item{
line-height:14px;

margin:0px;
padding:0px;
	font-size:11px;}
 .tbl_market_rate .section .item{	
	display:none;}
		.t_scroll {
overflow-x:scroll;overflow-y:hidden;
width:635px;

padding:0px 0px 0px 0px 0px;
}


		.tbl_market_item {
		
	border-top:2px solid #0d73a3;

width:1000px;
margin:0 0 100px 0;

left:0px;
top:0px;
margin-bottom:10px;
}
	.tbl_market_item  th{
	height:24px;
	line-height:18px;
	background:url(/static/images/portal/common/th_bg.gif) repeat-x left bottom;
	border-bottom:1px solid #c7c2c2;font-size:11px;
	border-left:1px solid #d8d6d6;font-size:11px;
	color:#205576;
	letter-spacing:-1px;
text-align:center;
	font-size:11px;
	}
	.tbl_market_item  td{
	height:24px;
	line-height:16px;
	background:#ffffff;
	text-align:center;
	border-left:1px solid #d8d6d6;font-size:12px;
	border-bottom:1px solid #d6d6d6;
font-size:11px;

	}



	/*할부금융상품 비교공시*/
.tbl_product {
	width:800px;
	margin:0  auto;
	margin-bottom:10px;
	border-top:2px solid #0d73a3;
	}
	.tbl_product  th{
	height:24px;
	line-height:18px;
	background:url(/static/images/portal/common/th_bg.gif) repeat-x left bottom;
	border-bottom:1px solid #c7c2c2;font-size:11px;
	border-left:1px solid #d8d6d6;font-size:11px;
	color:#205576;
	letter-spacing:-1px;
	font-size:11px;
	}
	.tbl_product  td{
	height:24px;
	line-height:24px;
	background:#ffffff;
	text-align:center;
	border-left:1px solid #d8d6d6;font-size:12px;
	border-bottom:1px solid #d6d6d6;
font-size:11px;
	}

.tbl_product .tit{border-left:0px solid #d6d6d6;width:100px;}

.tbl_product .company{border-left:0px solid #d6d6d6;width:150px;}
.tbl_product td.note{text-align:left;width:180px;padding:0 0 0 5px;}

	/*할부금융상품 비교공시_검색조건*/

#searchBx{
border:5px solid #cfe1e9;
padding:10px;
margin:0 0 10px 0 ;
}
#searchBx table{
margin:0 0 0 110px;
}

.tbl_guideIn{
position:relative;
left:70px;
margin:0 0 10px 150px;
width:500px;
background:#fff;
border-left:1px solid #d8d6d6;font-size:12px;
border-top:1px solid #d8d6d6;font-size:12px;

}
.tbl_guideIn td{
text-align:center;
border-right:1px solid #d8d6d6;font-size:12px;
	border-bottom:1px solid #d6d6d6;
}


/*write*/

#write_wrap {}

.tbl_write {
	width:795px;
	margin:0  auto;
	margin-top:15px;
	margin-bottom:10px;
	border-top:2px solid #0d73a3;
	}
	.tbl_write  th{
		border-bottom:1px solid #d6d6d6;

	}
	.tbl_write  td{
	height:29px;
	line-height:29px;
	background:#ffffff;
	text-align:left;
	border-bottom:1px solid #d6d6d6;
font-size:12px;
padding:0 0 0 10px;

	}
	.tbl_write .subject{
	background:url(/static/images/portal/common/th_bg.gif) repeat-x left top;
	height:29px;
	line-height:29px;
	text-align:left;
	padding:0 0 0 10px;
	border-bottom:1px solid #d6d6d6;

	}
		.tbl_write  .subject span{
		margin:0 0 0 10px;
		}
				.tbl_write  .subject em{
		font-style:normal;
		font-weight:100;
		margin:0 0 0 10px;
		}

.tbl_write .name,.tbl_write .date,.tbl_write .view,.tbl_write .category {
border-bottom:1px solid #d6d6d6;

	/*background:url(/static/images/portal/common/bl_rect.gif) no-repeat 0px 46%;*/
	text-align:left;
	padding:0 14px 0 15px;
	line-height:29px;
	height:26px;
_padding:3px 14px 0 15px;
}


.tbl_write .contentTxt {
padding:15px 20px 15px 20px;
line-height:19px;

}
.tbl_write .br {
height:40px;

}

.tbl_write .btn {
height:40px;
border-top:2px solid #0d73a3;
border-bottom:0px;
text-align:right;
padding:0 10px 0 0;
}

.tbl_write .file {
background:#f5f5f5;
padding: 0 0 0 20px;
}

.contentTxt  .i_textarea {
width:100%;
height:150px;
padding:10px 10px 10px 10px;
overflow-y:scroll;
}

.tbl_write .i_file{
border:1px solid #d6d6d6;
background:#fff;
}

/*view*/
#write_wrap {}

.tbl_view {
	width:795px;
	margin:0  auto;
	margin-top:15px;

	margin-bottom:10px;
	border-top:2px solid #0d73a3;
	}
	tbl_view  th{
	height:26px;
	line-height:26px;
		border-bottom:1px solid #d6d6d6;
font-size:11px;
	border-left:1px solid #d8d6d6;font-size:11px;
	color:#205576;
	letter-spacing:-1px;
	font-size:11px;
		text-align:left;
	}
	.tbl_view  td{
	height:29px;
	line-height:29px;

	background:#ffffff;
	text-align:left;
	border-bottom:1px solid #d6d6d6;
font-size:12px;
padding:0 0 0 0px;
	}
	.tbl_view .subject{
	background:url(/static/images/portal/common/th_bg.gif) repeat-x left top;
	height:29px;
	line-height:29px;
	text-align:left;
	padding:0 0 0 0px;
	border-bottom:1px solid #d6d6d6;

	}
		.tbl_view  .subject span{
		margin:0 0 0 10px;
		}
				.tbl_view  .subject em{
		font-style:normal;
		font-weight:100;
		margin:0 0 0 10px;
		}
.tbl_view .name,.tbl_view .date,.tbl_view .view {
border-bottom:1px solid #d6d6d6;

	/*background:url(/static/images/portal/common/bl_rect.gif) no-repeat 0px 46%;*/
	text-align:right;
	padding:0 14px 0 0;
	line-height:29px;
_padding:3px 14px 0 0;

}
.tbl_view .name,.tbl_view .category{
text-align:center;
padding:0px;
border-bottom:1px solid #d6d6d6;
_padding:3px 14px 0 0;

}


.tbl_view .prev {
	border-bottom:1px solid #d6d6d6;
text-align:left;
padding:0 0 0 0px;
	height:23px;
		background:#ffffff url(/static/images/portal/common/bl_prev.gif) no-repeat 4px 46%;
	text-align:center;
}

.tbl_view .next {
	border-bottom:1px solid #d6d6d6;
text-align:left;
padding:0 0 0 0px;
	height:23px;
	text-align:center;

			background:#ffffff url(/static/images/portal/common/bl_next.gif) no-repeat 4px 46%;


}

.tbl_view .contentTxt {
padding:15px 20px 15px 20px;
line-height:19px;

}
.tbl_view .br {
height:40px;

}

.tbl_view .btn {
height:40px;
border-top:2px solid #0d73a3;
border-bottom:0px;
text-align:right;
padding:0 10px 0 0;
}

.tbl_view .file {
background:#f5f5f5;
padding: 0 0 0 20px;
}



.listView{
position:relative;
left:20px;
top:10px;
height:35px;
width:780px;
text-align:left;
vertical-align:text-bottom;
}


.listView em{

display:inline-block;
font-style:normal;
padding:0 10px 0 20px;
font-weight:bold;
background:url(/static/images/portal/common/ico_list.gif) no-repeat 0px 1px;
}

.listView span{
float:right;
display:inline-block;
letter-spacing:0;
font-size:11px;
.margin:-15px 0 0 0;


padding:0 15px 0 0;
}

.listView span strong{
color:#f82626;
}
.search_bx{

left:0px;
margin:10px 0 10px 0;
width:800px;
border-top:1px solid #d9d9d9;
border-bottom:1px solid #d9d9d9;
_padding:10px 0 0 0;
height:40px;
_height:30px;

line-height:40px;
background:#f2f2f2;
text-align:center;
}

.search_bx_bbs007{

left:0px;
margin:10px 0 10px 0;
width:790px;
border-top:1px solid #d9d9d9;
border-bottom:1px solid #d9d9d9;
_padding:10px 0 0 0;
height:80px;
_height:30px;

line-height:40px;
background:#f2f2f2;
text-align:left;
}

.group_bx img{
vertical-align:middle;}

.h_scroll2{
overflow-y:scroll;
overflow-x:hidden;
width:780px;
}



/*기본테이블*/

.bbsWarp {

}
.tbl_list  {
width:780px;
margin:0  auto;
background:url(/static/images/portal/common/th_bg2.gif) repeat-x left -4px;
_background:url(/static/images/portal/common/th_bg2.gif) repeat-x left -0px;

border-top:2px solid #0d73a3;

}


.tbl_list  th{
height:29px;
line-height:29px;
background:url(/static/images/portal/common/th_line.gif) no-repeat 100% 50%;
border-bottom:1px solid #d6d6d6;
_border-bottom:1px solid #d6d6d6;

}
.tbl_list  th:first-child {
border-left:1px solid #bbbbbb;}

.tbl_list  th:last-child {
border-right:1px solid #bbbbbb;
background:url() no-repeat 100% 50%;

}

.tbl_list  td{
height:29px;
line-height:16px;
background:#ffffff;
text-align:center;
border-bottom:1px solid #d6d6d6;

}
.tbl_list td.subject{
text-align:left;
overflow:hidden; text-overflow:ellipsis;



}
.tbl_list .png{
_margin:-10px 0 0 0;
_vertical-align:top;
}

.tbl_list th.hide{
width:40px;
letter-spacing:-2px;
}
.tbl_list th.down{
width:35px;
letter-spacing:-1px;
}
.tbl_list th.hits{
width:48px;
letter-spacing:-1px;
}
.tbl_list th.date{
width:65px;
letter-spacing:-1px;
}
.tbl_list th.name{
width:65px;
letter-spacing:-0.5px;
}
.tbl_list th.select{
width:30px;
letter-spacing:-0.5px;
}
.tbl_list th.num{
width:50px;
letter-spacing:-0px;
}
.tbl_list th.category{
width:80px;
}


.num_wrap{

clear:both;
width:780px;
text-align:center;
margin:0px 0 -25px 0;

}

.num_wrap a:link,.num_wrap a{height:10px;font-weight:normal;width:23px;display:inline-block;text-align:center;margin:0 2px 0 2px;letter-spacing:-1px;}
.num_wrap a.checked,.num_wrap a:hover{font-weight:bold;color:#339900;text-decoration:underline;}



/*로그인*/

#login_wrap{
}

#login{
position:relative;
margin: 40px auto;
background:url(/static/images/portal/common/login_bg.jpg) no-repeat;
width:675px;
height:460px;
}

#login dl{
position:absolute;
left:380px;
top:85px;
}
#login dl dt{
font-weight:bold;
height:20px;
color:#000;
font-family:dotum;
font-size:13px;
letter-spacing:-1px;
}
#login .i_text_log{
border:1px solid #adb7c3;
height:30px;
line-height:30px;
padding:0 0 0 3px;
width:234px;
}

#login .rememId{
padding:5px 0 0 0;
color:#6c6d6f;
}

#login  .logbtn{
position:absolute;
left:380px;
top:245px;
}

#login ul{
position:absolute;
left:380px;
top:325px;
}

#login ul li{
height:25px;
font-weight:bold;
letter-spacing:-1px;
}
#login ul li a{
color:#424344;
}
#login ul li strong{color:#0c5fc6;}


/*id찾기*/

#findId_wrap{}
#findId{
position:relative;
margin: 40px auto;
width:675px;
height:325px;
background:url(/static/images/portal/etc/findId_bg.jpg) no-repeat;

}
#findId dl{
position:absolute;
left:380px;
top:85px;}
#findId dl dt{
font-weight:bold;
height:20px;
color:#000;
font-family:dotum;
font-size:13px;
letter-spacing:-1px;}
#findId .i_text_log{
border:1px solid #adb7c3;
height:30px;
line-height:30px;
padding:0 0 0 3px;
width:234px;}
#findId  .btnConfirm{
position:absolute;
left:380px;
top:245px;
}

/*pw찾기*/

#findPw_wrap{}
#findPw{
position:relative;
margin: 40px auto;
width:675px;
height:399px;
background:url(/static/images/portal/etc/findPw_bg.jpg) no-repeat;
}
#findPw dl{
position:absolute;
left:380px;
top:85px;}
#findPw dl dt{
font-weight:bold;
height:20px;
color:#000;
font-family:dotum;
font-size:13px;
letter-spacing:-1px;}
#findPw .i_text_log{
border:1px solid #adb7c3;
height:30px;
line-height:30px;
padding:0 0 0 3px;
width:234px;}
#findPw  .btnConfirm{
position:absolute;
left:380px;
top:295px;
}


/*비밀번호수정*/
/*로그인*/

#pwd_wrap{
}

#pwd{
position:relative;
margin: 40px auto;
background:url(/static/images/portal/etc/pwd_bg.jpg) no-repeat;
width:675px;
height:460px;
}

#pwd dl{
position:absolute;
left:380px;
top:35px;
}
#pwd dl dt{
font-weight:bold;
height:26px;
line-height:26px;
color:#000;
font-family:dotum;
font-size:13px;
letter-spacing:-1px;
}
#pwd dl dd{
font-weight:bold;
height:44px;
line-height:26px;
color:#000;
font-family:dotum;
font-size:13px;
letter-spacing:-1px;
}

#pwd .i_text_log{
border:1px solid #adb7c3;
height:30px;
line-height:30px;
padding:0 0 0 3px;
width:234px;
}

#pwd .rememId{
padding:5px 0 0 0;
color:#6c6d6f;
}

#pwd .btn_big{
position:absolute;
left:580px;
top:400px;
}

#pwd ul{
position:absolute;
left:380px;
top:325px;
}

#pwd ul li{
height:25px;
font-weight:bold;
letter-spacing:-1px;
}
#pwd ul li a{
color:#424344;
}
#pwd ul li strong{color:#0c5fc6;}



/*회원가입_1단계*/

#join_wrap{
}

#join{
position:relative;
margin: 40px auto;
background:url(/static/images/portal/common/join_bg.jpg) no-repeat;
width:675px;
height:460px;
}

#join dl{
position:absolute;
left:380px;
top:85px;
}
#join dl dt{
font-weight:bold;
height:20px;
color:#000;
font-family:dotum;
font-size:13px;
letter-spacing:-1px;
}
#join .i_text_log{
border:1px solid #adb7c3;
height:30px;
line-height:30px;
padding:0 0 0 3px;
width:234px;
}

#join .rememId{
padding:5px 0 0 0;
color:#6c6d6f;
}

#join  .btnConfirm{
position:absolute;
left:380px;
top:295px;
}


#join .process{

position:relative;
left:25px;
top:90px;
}
.process li{float:left;}


.join_tit{position:relative;left:10px;height:80px;}
.join_tit li{float:left;}
.join_tit .txt{width:490px;}

.join_agreeBx {
position:relative;
left:28px;
top:0px;
width:737px;
height:232px;
background:url(/static/images/portal/etc/join_agreeBg.gif) no-repeat;
}


.join_agreeBx .scroll{
position:relative;
left:15px;
top:15px;
height:165px;
width:675px;
overflow-y:scroll;
background:#fff;
border:1px solid #dfdede;
padding:15px;
font-size:11px;line-height:14px;
}
.join_agreeBx .scroll br{
line-height:14px;
}

.tbl_join  {
width:760px;
margin:0  auto;
margin-left:20px;

border-top:2px solid #0d73a3;

}


.tbl_join  th{
height:29px;
line-height:29px;
background:#eff1f3;
width:120px;
border-bottom:1px solid #c8cccf;
text-align:left;
padding:0 0 0 20px;
}
.tbl_join  td	{
height:29px;
line-height:29px;
border-bottom:1px solid #c8cccf;
padding:0 0 0 20px; 
}


/*신고*/
#report_wrap{

}
#report_wrap .btn_wrap{
width:750px;
}
.reportBx{
margin:0 auto;
border:1px solid #a9abb0;
position:relative;
left:0px;
width:700px;}
.reportBx h3{ position:relative;
top:0px;
border:1px solid #5b719c;
background:#6680b0;
width:250px;
text-align:left;
letter-spacing:-1px;
padding:0 0 0 10px;
height:25px;
line-height:25px;
color:#ffffff;
font-weight:bold;
font-size:12px;
}

.reportBx ul{
position:relative;
left:20px;
top:10px;
width:650px;
margin:0 0 15px 0;}
.reportBx ul li{
background:url("/static/images/minwon/common/blRect.gif") no-repeat left 50%; 
padding:0 0 0 10px;}
.reportBx .nbl{
background:url("");
text-indent:-10px;padding:0 0px 0 20px;
}
.reportBx .num{
padding:7px 0 0 10px;
font-size:12px;background:url("");}
.reportBx dl{
position:relative;
left:30px;
top:10px;
margin:10px 0 15px 0px;
_margin:10px 0 15px 20px;}
.reportBx dd, .reportBx dt {height:30px;}
.reportBx dd {float:left;width:550px;}
.reportBx dt {width:130px;float:left;letter-spacing:-1px;}
.agree {text-align:right;width:700px; padding:10px 0 0 0;}
.agree input {vertical-align:middle;}
.i_radio {vertical-align:text-bottom;}
.reportBx  h4 {
position:relative;
left:20px;
display:block;
font-weight:bold;
margin:10px 0 0 0px;
padding:10px 10px 0px 0px;
height:10px;
letter-spacing:-1px;
color:#1a631e;}
.reportBx > fieldset {
margin:0 0 0 0px;
padding:0px;}
.reportBx .i_select{
_margin:0 0 0 20px;}
.reportBx .i_check{
vertical-align:middle;}
.reportBx .help{color:#e8460e;font-size:11px;letter-spacing:-1px;}
.reportBx  .i_check{margin:0 3px 0 -10px;vertical-align:middle;font-size:11px;}
.agree > .i_radio {vertical-align:middle;}
.guideline {position:relative;left:45px;text-align:left;width:700px;display:block;text-indent:-18px;;padding:0 10px 0 18px;;letter-spacing:-0.8px;}
.reportBx .agreeTxt {padding:5px 12px 0px 30px;color:#000;margin:0px 0 0px 10px;display:block;color:#ea470e;font-size:11px;letter-spacing:-1px;text-indent:-18px;line-height:15px;}
.inputtxt {text-align:right;width:750px;margin:0px 0 5px 0;}
#report_wrap .i_textarea{overflow-y:scroll;}
#report_wrap .i_text{border:1px solid #cecece;height:18px;}
#report_wrap .i_file{border:1px solid #cecece;height:18px;}
#report_wrap select {border:1px solid #cecece;}
.carBx{
position:relative;
border:1px solid #a9abb0;
padding:0px 10px 10px 0px;
width:700px;}
.carBx h3{ position:relative;
top:0px;
border:1px solid #5b719c;
background:#6680b0;
width:250px;
text-align:left;
letter-spacing:-1px;
padding:0 0 0 10px;
height:25px;
line-height:25px;
color:#ffffff;
font-weight:bold;}

.carBx ul{
position:relative;
left:30px;
top:10px;
margin:0 0 15px 0;}
.carBx ul li{
background:url("/static/images/minwon/common/blRect.gif") no-repeat left 50%; 
padding:0 0 0 10px;}
.carBx .nbl{
background:url("");}
.carBx .num{
padding:7px 0 0 10px;
font-size:12px;background:url("");}
.carBx dl{
position:relative;
left:30px;
top:10px;
margin:10px 0 15px 0px;
_margin:10px 0 15px 20px;}
.carBx dd, .carBx dt {height:30px;}
.carBx dd {float:left;width:550px;}
.carBx dt {width:130px;float:left;letter-spacing:-1px;}
.agree {text-align:right;width:750px; padding:10px 0 0 0;}
.agree input {vertical-align:middle;}

.agree  .agreetxt{width:400px;display:block;float:left;text-align:left;position:relative;left:45px;padding:0 0 0 18px;text-indent:-16px;letter-spacing:-0.5px;}
.i_radio {vertical-align:text-bottom;}
.carBx  h4 {
position:relative;
left:20px;
display:block;
font-weight:bold;
margin:10px 0 0 0px;
padding:10px 10px 0px 0px;
height:10px;
letter-spacing:-1px;
color:#1a631e;}
.carBx > fieldset {
margin:0 0 0 0px;
padding:0px;}
.carBx .i_select{
_margin:0 0 0 20px;}
.carBx .i_check{
vertical-align:middle;}
.carBx .help{color:#e8460e;font-size:11px;letter-spacing:-1px;}
.carBx  .i_check{margin:0 3px 0 -10px;vertical-align:middle;font-size:11px;}

.agree > .i_radio {vertical-align:middle;}
.headguide{border:1px solid #dddddd;width:700px;margin:0 auto;margin-bottom:20px;}
.headguide_bg{border:3px solid #f3f2f2;padding:8px 15px 8px 15px;letter-spacing:-0.5px;}
.headguide h4{font-weight:bold;line-height:15px;margin:0 0 7px 0; }
/*실명인증*/
#report_login {}
#report_login .name_login{margin:0 auto;margin-top:0px;margin-bottom:40px;}
.name_login{border:4px solid #dde1f7;width:500px;position:relative;height:296px;}
.name_login dl{width:360px;margin:0 auto;margin-top:60px;border-top:2px solid #dde1f7;border-bottom:2px solid #dde1f7;height:126px;padding:10px 0 0 0px;
}
.name_login dl dt{float:left;width:100px;padding:8px 0 8px 0;font-weight:bold;}
.name_login dl dd{float:left;width:260px;padding:8px 0 8px 0;}
.name_login dl dd input{width:85px;border:1px solid #b8bfe9;}
.name_login dl dd span{margin:10px 0 0 0;height:30px;line-height:30px;font-size:11px;letter-spacing:-1px;}
.name_login h4{position:relative;left:60px;top:48px;font-size:16px;font-weight:bold;letter-spacing:-1px;}
.name_login .btn_big{position:relative;left:220px;top:18px;}

/*발간물*/

#publish{}


#publish ul{
position:relative;
left:0px;
top:0px;
width:820px;
height:400px;
margin:0 0 18px 0px;
padding:12px 0 10px 0;
border-top:2px solid #6d98c5;
border-bottom:1px solid #cacaca;

}

#publish li{
float:left; 	
width:180px; 	
text-align:center;
padding:10px 10px 10px 10px;
line-height:13px;

}

#publish li em{
display:inline-block;
margin:10px 2px 5px 0;
line-height:13px;
font-style:normal;
font-weight:bold;
}


/*발간물 보기*/
#publish_view{}

.bookImg{float:left;width:260px}
.bookContent{float:right;width:530px;}
.bookContent ul{width:530px;}
.bookContent li{float:left;padding:6px 0 6px 0;color:#838282;}
.bookContent li.subject{width:450px;font-size:14px;font-weight:bold;height:20px;padding:0px 20px 0px 0;color:#356495;}
.bookContent li.text{padding:0px 0 12px 20px;width:450px;}
.bookContent li.btn{padding:0px 0 12px 20px;width:30px;}
.bookContent .text strong{font-weight:normal;color:#000;}

.bookImg ul{width:260px;}
.bookImg .btn{height:45px;width:260px;text-align:center;}
.bookImg .guide{height:25px;text-align:center;font-size:12px;line-height:14px;}
.bookImg .mainImg{text-align:center;width:260px;height:280px;padding:30px 0 0 0;}

.book_bg{width:260px;height:237px;background:url("/static/images/portal/002/book_big_bg.gif") no-repeat 20px 0px;position:relative;left:0px;}
.book_bg img{position:absolute;left:53px;top:21px;}

.bookImg .size {height:28	0px;padding:20px 0 0 20px;text-align:left;font-size:11px;}


/*교육연수*/

/*통계*/
#edu_wrap{;}
.tbl_edu  {
width:790px;
margin:0  auto;
border-top:2px solid #0d73a3;
}
.tbl_edu  th{
height:25px;
line-height:16px;
background:url(/static/images/portal/common/th_bg.gif) repeat-x left bottom;
border-bottom:1px solid #c7c2c2;font-size:11px;
border-left:1px solid #d8d6d6;font-size:11px;
color:#205576;
font-size:11px;
}
.tbl_edu  th.sort {border-left:0px solid #d6d6d6;width:60px;}
.tbl_edu  td.sort {border-left:0px solid #d6d6d6;font-size:12px;}
.tbl_edu  td{
height:20px;
line-height:16px;
background:#ffffff;
text-align:center;
border-left:1px solid #d8d6d6;font-size:11px;
border-bottom:1px solid #d6d6d6;}
.tbl_edu_view  {
width:790px;
margin:0  auto;
border-top:2px solid #0d73a3;
}
.tbl_edu_view  th{
height:25px;
line-height:16px;
background:url(/static/images/portal/common/th_bg.gif) repeat-x left bottom;
border-bottom:1px solid #c7c2c2;font-size:11px;
border-left:1px solid #d8d6d6;font-size:11px;
color:#205576;
font-size:11px;
}
.tbl_edu_view  th {border-left:0px solid #d6d6d6;}
.tbl_edu_view  th.stit{background:#f1f1f1;}

.tbl_edu_view  td.sort {border-left:0px solid #d6d6d6;font-size:12px;}
.tbl_edu_view  td{
height:20px;
line-height:16px;
background:#ffffff;
text-align:left;
padding:0 0 0 10px;
border-left:1px solid #d8d6d6;font-size:11px;
border-bottom:1px solid #d6d6d6;}
.tbl_edu_view th.subject {border-left:1px solid #d6d6d6; text-align:left;padding:0 0 0 10px;}
.tbl_intable{
width:100%;
margin:0 0 0 -10px;
}
.tbl_edu_view td.edu_content{
padding:8px 0 8px 10px;
}
.tbl_intable  th {width:100px;text-align:center;border-left:0px solid #d6d6d6;border-bottom:0px solid #d6d6d6;background:#e4f6fc;}
.tbl_intable  td {border-bottom:0px solid #d6d6d6;border-left:0px solid #d6d6d6;}
.tbl_intable .line {border-bottom:1px solid #d6d6d6;}


.tbl_edu_month  {
width:790px;
margin:0  auto;
border-top:2px solid #0d73a3;
border-right:1px solid #d8d6d6;font-size:11px;

}
.tbl_edu_month  th{
height:25px;
line-height:16px;
background:url(/static/images/portal/common/th_bg.gif) repeat-x left bottom;
border-bottom:1px solid #c7c2c2;font-size:11px;
border-left:1px solid #d8d6d6;font-size:11px;
color:#205576;
font-size:11px;
}
.tbl_edu_month  td{
height:20px;
line-height:20px;
background:#ffffff;
text-align:left;
padding:3px 0 3px 10px;
border-left:1px solid #d8d6d6;font-size:12px;
border-bottom:1px solid #d6d6d6;}



/*신고조회*/

.cardSearchBx{background:#f5f5f5;width:600px;height:70px;border:1px solid #bdc4d7;margin:0 auto;border-top:3px solid #88a6e4;text-align:center;
padding:40px 0 50px 0;line-height:28px;
}

.sgudietxt{top:-35px;display:block;width:600px;margin:0 auto;height:24px;padding:0 0 0 22px;background:url(/static/images/portal/common/bl_arrow_login.gif) no-repeat 12px 6px;letter-spacing:-0.5px;}
.fgudietxt{display:block;width:600px;margin:0 auto;height:24px;padding:8px 0 0 10px; no-repeat 12px 6px;letter-spacing:-0.5px;}

.cardSearchBx select{height:24px;border:1px solid #98b5cb;}
.cardSearchBx input {border:1px solid #2d80c1;height:20px;}

.cardResult{
background:url(/static/images/portal/service/searchBg.jpg) no-repeat ;
height:82px;text-align:center;line-height:20px;
margin-left:20px;
padding:5px 0 0 0;
}
.cardResult strong{color:#333;}
.cardResult em{font-style:normal;color:#000;font-weight:bold;}

.cardResult  h4{
font-weight:bold;
font-size:14px;
padding: 5px 0 0 0;
letter-spacing:-1px;
}

.tbl_search_result  {
width:770px;
margin:0  auto;
margin-left:20px;

border-top:2px solid #0d73a3;
border-right:1px solid #d8d6d6;font-size:11px;

}

.tbl_search_result  th{
height:25px;
line-height:16px;
background:url(/static/images/portal/common/th_bg.gif) repeat-x left bottom;
border-bottom:1px solid #c7c2c2;font-size:11px;
border-left:1px solid #d8d6d6;font-size:11px;
color:#205576;
font-size:12px;
}
.tbl_search_result  td{
height:20px;
line-height:20px;
background:#ffffff;
text-align:center;
padding:3px 0 3px 10px;
border-left:1px solid #d8d6d6;font-size:12px;
border-bottom:1px solid #d6d6d6;}

.tbl_search_view  {
width:770px;
margin:0  auto;
margin-left:20px;

border-top:2px solid #0d73a3;
border-right:0px solid #d8d6d6;font-size:11px;

}

.tbl_search_view  th{
height:25px;
line-height:16px;
background:url(/static/images/portal/common/th_bg.gif) repeat-x left bottom;
border-bottom:1px solid #c7c2c2;font-size:11px;
border-left:0px solid #d8d6d6;font-size:11px;
color:#205576;
font-size:12px;
width:200px;
}
.tbl_search_view  td{
height:20px;
line-height:20px;
background:#ffffff;
text-align:center;
padding:3px 0 3px 10px;
border-left:1px solid #d8d6d6;font-size:12px;
border-bottom:1px solid #d6d6d6;}

.tbl_search_view .pic{border:1px solid #c8c7c7;}


.search_reason_wrap{
margin:20px 0 0 0;
}
.search_reason_wrap em{
font-style:normal;
padding:0 0 3px 20px ;
margin-bottom:0px;
display:inline-block;
}


.tbl_search_reason  {
width:770px;
margin:0  auto;
margin-left:20px;

border-top:2px solid #666;
border-right:0px solid #d8d6d6;
font-size:11px;

}

.tbl_search_reason  th{
height:25px;
line-height:16px;
background:url(/static/images/portal/common/th_bg.gif) repeat-x left bottom;
border-bottom:1px solid #c7c2c2;font-size:11px;
border-left:1px solid #d8d6d6;font-size:11px;
color:#666;
font-size:11px;
}
.tbl_search_reason  td{
font-size:11px;

height:20px;
line-height:20px;
background:#ffffff;
text-align:left;
padding:3px 3px 3px 3px;
border-left:1px solid #d8d6d6;font-size:12px;
border-bottom:1px solid #d6d6d6;}
.tbl_search_reason .code{width:40px;border-left:0px solid #d8d6d6;text-align:center;}
.tbl_search_reason .word{width:120px;border-left:0px solid #d8d6d6;text-align:center;}

.tbl_search_reason .code2{width:40px;border-left:1px solid #d8d6d6;text-align:center;}

.tbl_search_reason .point{ background:#f1efef;}

#customer_wrap{}





 .dtxt{
margin:0px 0 0px 0px; 
position:relative;
left:30px;

}
.dtxt li{
padding: 3px 0 3px 10px;
line-height:19px;
background:url(/static/images/portal/common/bl_rect.gif) no-repeat 0 10px;
}
.dtxt .non{
padding: 0 0 0 19px;
background:url( ) no-repeat 0 6px;
}

.dtxt li ul li{
padding: 0 0 0 19px;
background:url( ) no-repeat 0 6px;

}
.dtxt li ul li em{
padding: 0 0 0 10px;
font-style:normal;
font-size:11px;
}

.gBx{
width:95%;
background:#f3f0f0;
margin:5px 0 10px 0;
padding:3px 0 3px 0;
}

/*2013.01.30*/
.guideImg {
display:block;
float:left;
padding:0 5px 0 0;
width:30px;
}

.guideTxt {
display:block;
float:left;
width:720px;
}

.guideTitle {
background:url(/static/images/portal/common/bl_gRect.gif) no-repeat ;
background-position:3px 5px;
padding:0 0 0 10px;
}

.guideContents {
padding:0 0 0 10px;
}

.pointTxt {
color:#ff9900;
font-weight:bold;
}

.pBox {
padding:10px 0 0 60px;
}

.pBox40 {
padding:10px 0 0 40px;
}

.pBox30 {
padding:5px 0 0 30px;
}

.pBox div {
background-color:#f3f3f3;
padding:5px;
color:#666666;
}

.pBox40 div {
background-color:#f3f3f3;
padding:5px;
color:#666666;
}

.pBox30 div {
background-color:#f3f3f3;
padding:5px;
color:#666666;
}

.inTxt {
padding:0 0 0 0;
font:11px dotum;
color:#888888;
}

#edu_wrap .dtxt{
margin:0px 0 0px 0px; 
position:relative;
left:30px;
}

#edu_wrap .dtxt li{
padding: 0 40px 0 10px; /*2013.01.30*/
line-height:22px;
background:url(/static/images/portal/common/bl_rect.gif) no-repeat 0 7px;
}

#edu_wrap .dtxt li ul li{
padding: 0 0 0 19px;
background:url( ) no-repeat 0 6px;

}
#edu_wrap .dtxt li ul li em{
padding: 0 0 0 10px;
font-style:normal;
font-size:11px;
}

.tblDownload {
border:1px solid #dddddd;
width:700px;
margin:0 0 0 30px;
}

.tblDownload th {
background-color:#eeeeee;
padding:5px;
}

.tblDownload td {
background-color:#ffffff;
padding:5px;
}

.eduPayBox {
margin:0 0 0 30px;
padding:20px 30px 0 0;
border:2px solid #cecece;
width:700px;
height:260px;
-moz-border-radius: 10px;
 -webkit-border-radius: 10px;
 border-radius: 10px; 
 -khtml-border-radius: 10px;
}
.eduPayBox .i_completion{
position:relative;
left:450px;
top:-30px;
}

.eduPayBox02 {
margin:0 0 0 30px;
padding:20px 30px 0 0;
border:2px solid #cecece;
width:700px;
height:90px;
-moz-border-radius: 10px;
 -webkit-border-radius: 10px;
 border-radius: 10px; 
 -khtml-border-radius: 10px;
}

.eduPayBox03 {
margin:0 0 0 30px;
padding:20px 30px 0 0;
border:2px solid #cecece;
width:700px;
height:165px;
-moz-border-radius: 10px;
 -webkit-border-radius: 10px;
 border-radius: 10px; 
 -khtml-border-radius: 10px;
}


.tbl_default_w{
	width:700px;
	border-right:1px solid #d8d6d6;font-size:11px;

	
	border-top:2px solid #0d73a3;
	}
	.tbl_default_w  th{
	height:24px;
	line-height:16px;
	background:#f0efef;
	border-bottom:1px solid #c7c2c2;font-size:11px;
	border-left:1px solid #d8d6d6;font-size:11px;
	color:#205576;
	letter-spacing:-1px;
	font-size:12px;
		text-align:center;

	
	}
	.tbl_default_w  td{
	height:24px;
	line-height:16px;
	background:#ffffff;
	text-align:left;
	border-left:1px solid #d8d6d6;font-size:12px;
	border-bottom:1px solid #d6d6d6;
	font-size:12px;
	padding:6px 0 6px 10px;
	}

	.tbl_default_w  ul li{
padding:3px;
	}
	.tbl_default_w  ul li ul li{
padding:3px 3px 3px 13px;
font-size:11px;
background: url(/static/images/portal/common/bl_item.gif) no-repeat 0 5px;
	}

.tbl_default_w .spc{
background:#ede2fb;
color:#1f1993;
}

	.tbl_default_h{
	width:700px;
	border-right:1px solid #d8d6d6;font-size:11px;

	margin-top:5px;
	border-top:2px solid #0d73a3;
	}
	.tbl_default_h  th{
	height:24px;
	line-height:16px;
	background:#f0efef;
	border-bottom:1px solid #c7c2c2;font-size:11px;
	border-left:1px solid #d8d6d6;font-size:11px;
	color:#205576;
	letter-spacing:-1px;
	font-size:12px;
	text-align:center;
	
	}
	.tbl_default_h  td{
	height:24px;
	line-height:16px;
	background:#ffffff;
	text-align:center;
	border-left:1px solid #d8d6d6;font-size:12px;
	border-bottom:1px solid #d6d6d6;
	font-size:12px;
	padding:6px 6px 6px 6px;
	}

	.tbl_default_h  ul li{
padding:3px;
	}
	.tbl_default_h  ul li ul li{
padding:3px 3px 3px 13px;
font-size:11px;
background: url(/static/images/portal/common/bl_item.gif) no-repeat 0 5px;
	}



/*2013.02.02*/
.dtxt .liBackno {
	background:none;
}




/*404page*/

.pageError{
width:645px;
height:304px;
border:4px solid #e1e1e0;
margin:0 auto;
margin-top:80px;
text-align:center;
}

.pageError .titleImg{
position:relative;
top:30px;
}
.pageError ul{
position:relative;
top:60px;
width:550px;
margin:0  auto;
border-top:1px solid #dddddc;
}
.pageError ul li{line-height:20px;padding:14px 0 6px 0 ;}

.adress_wrap {border:1px solid #bab6b6;background:#f2eeee;
margin: 10px 0 0 70px;
width:700px;

}
.adress_wrap li{
	padding:3px 0 3px 3px;

}

.tbl_2wrap{
width:800px;
}

.tbl_2wrap_left{
float:left;
width:180px;
margin:0px;
padding:0px;
}
.tbl_2wrap_right{
float:left;
margin:0px;
padding:0px;
overflow:scroll;
overflow-x:scroll;
overflow-y:hidden;
width:600px;
}


.tbl_creditMember{
	width:1200px;
	margin:0  auto;
	margin-bottom:10px;
	border-top:2px solid #0d73a3;
	}
.tbl_creditMember th{
	height:24px;
	line-height:21px;


	background:url(/static/images/portal/common/th_bg.gif) repeat-x left bottom;
	border-bottom:1px solid #c7c2c2;font-size:11px;
	border-left:1px solid #d8d6d6;font-size:11px;
	color:#205576;
	letter-spacing:-1px;
	font-size:11px;
	}
.tbl_creditMember td{
	height:24px;
	line-height:16px;
	background:#ffffff;
	text-align:center;
	letter-spacing:0px;
	padding:0 2px 0 2px;
	border-left:1px solid #d8d6d6;font-size:12px;
	border-bottom:1px solid #d6d6d6;
font-size:11px;

	}
.tbl_creditMember .grade{
background:#e7f3fa;
line-height:14px;
padding:0px;
font-weight:normal;
}
.tbl_creditMember .default{
height:18px;
}
.tbl_creditMember_item{
	width:180px;
	margin:0  auto;
	margin-bottom:10px;
	border-top:2px solid #0d73a3;
	}

.tbl_creditMember_item th{
	height:24px;
	line-height:24px;
	background:url(/static/images/portal/common/th_bg.gif) repeat-x left bottom;
	border-bottom:1px solid #c7c2c2;font-size:11px;
	border-right:1px solid #d8d6d6;font-size:11px;
	color:#205576;
	letter-spacing:-1px;
	font-size:11px;
	}
.tbl_creditMember_item .rate{
font-weight:normal;
letter-spacing:0px;
}


.tbl_creditMember_small{
	width:800px;
	margin:0  auto;
	margin-bottom:10px;
	border-top:2px solid #0d73a3;
	}
.tbl_creditMember_small th{
	height:24px;
	line-height:21px;
	background:url(/static/images/portal/common/th_bg.gif) repeat-x left bottom;
	border-bottom:1px solid #c7c2c2;font-size:11px;
	border-left:1px solid #d8d6d6;font-size:11px;
	color:#205576;
	letter-spacing:-1px;
	font-size:11px;
	}
.tbl_creditMember_small td{
	height:24px;
	line-height:16px;
	background:#ffffff;
	text-align:center;
	letter-spacing:0px;
	padding:0 2px 0 2px;
	border-left:1px solid #d8d6d6;font-size:12px;
	border-bottom:1px solid #d6d6d6;
font-size:11px;
	}
.tbl_creditMember_small .first{
border-left:0px solid #d8d6d6;
}

.creditMember_method{
	background:url(/static/images/portal/gongsi/creditMember_bg.gif) no-repeat;
	width:800px;
	height:100px;
position:relative;
}
.creditMember_method ul{
position:absolute;
left:150px;
top:15px;
width:650px;
}
.creditMember_method ul li{padding:3px 0 3px 0;}



.tbl_creditMember_big{
	width:800px;
	margin:0  auto;
	margin-bottom:10px;
	border-top:2px solid #0d73a3;
	}
.tbl_creditMember_big th{
	height:24px;
	line-height:21px;


	background:url(/static/images/portal/common/th_bg.gif) repeat-x left bottom;
	border-bottom:1px solid #c7c2c2;font-size:11px;
	border-left:1px solid #d8d6d6;font-size:11px;
	color:#205576;
	letter-spacing:-1px;
	font-size:11px;
	}
.tbl_creditMember_big td{
	height:24px;
	line-height:16px;
	background:#ffffff;
	text-align:left;
	letter-spacing:0px;
	padding:0 2px 0 10px;
	border-left:1px solid #d8d6d6;font-size:12px;
	border-bottom:1px solid #d6d6d6;
font-size:11px;

	}
.tbl_creditMember_big .num{
	border-left:0px solid #d8d6d6;font-size:11px;
	text-align:center;

}


.tbl_member_state_organize  {
	width:610px;
	margin:0  auto;
	margin-bottom:10px;
	border-top:2px solid #0d73a3;
	}
.tbl_member_state_organize  th{
	height:25px;
	line-height:12px;
	background:url(/static/images/portal/common/th_bg.gif) repeat-x left bottom;
	border-bottom:1px solid #c7c2c2;font-size:11px;
	border-left:1px solid #d8d6d6;font-size:11px;
	color:#205576;
	letter-spacing:-0.5px;
	padding:3px 0 3px 0;
	font-size:11px;
}
.tbl_member_state_organize  td{
	height:24px;
	line-height:24px;
	background:#ffffff;
	text-align:center;
	border-left:1px solid #d8d6d6;font-size:12px;
	border-bottom:1px solid #d6d6d6;
	font-size:11px;
	font-weight:normal;
}

.tbl_member_state_organize  th.member, .tbl_member_state_organize  td.member {border-left:0px solid #d6d6d6;width:100px;font-size:12px;}
.tbl_member_state_organize  th.company, .tbl_member_state_organize  td.company {border-left:0px solid #d6d6d6;width:65px;font-size:12px;}

/* 조사연구 */
#maincontent {
	width:800px;
	height:800px;
	margin:0px;
	padding:0px;
}

.noticecontain{

}

.noticecontain li{
	float:left;
	width:400px;
	height:180px;
	margin:0px;
	padding:0px;
}

.noticeTxt {
	clear:both;
	position:relative;
	left:00px;
	top:0px;	
	height:110px;
}

.noticeTxt li{
	clear:both;
	width:330px;
	height:25px;
	line-height:28px;
	border-bottom:1px solid #dbdcdd;
	padding:0 0 0 10px; 
	text-indent:0px;
	text-overflow:ellipsis;
}

.noticeTxt li:hover{
	background:#f5f6f6;
}

.noticeTxt .tit{
	float:left;
	border-bottom:2px solid #1d84a1;
	font-size:14px;
	font-weight:bold;
	letter-spacing:-1px;
	margin:0px;
	padding:0px;
	color:#225084;
}

.noticeTxt .tit:hover{
	background:#ffffff;
}

.noticeTxt .tit02{
	float:left;
	border-bottom:2px solid #1d84a1;
	font-size:14px;
	font-weight:bold;
	letter-spacing:-1px;
	margin:0px;
	padding:0px;
	color:#ff0000;
}

.noticeTxt .tit02:hover{
	background:#ffffff;
}

.noticeTxt span{
	position:absolute;
	float:right;
	left:85%;
	top:0px;
	text-align:right;
	font-size:11px;
	font-weight:normal;
	margin:0px;
	padding:0px;
}

.ellipsis {
	white-space:nowrap;
	width:220px; 
    overflow:hidden;
    text-overflow:ellipsis;
    -moz-binding: url('../../xml/ellipsis.xml#ellipsis');
    table-layout:fixed;
}