body{
background:url(/static/images/portal/common/bg.gif)  repeat-x;
font-family:dotum;
font-size:12px;
line-height:18px;
color:#4e4d4d;
}
#wrap{
100%;
margin:0 auto;

}

#contain {width:1032px;margin:0 auto;

}

#header-new{
width:1005;
height:102px;
position:relative;
z-index:1;


}
#header-new h1{
position:absolute;
left:0px;
top:25px;
z-index:60;
}
#sectrion{width:1000px;}

#lnb{
width:180px;
float:left;
height:100px;
text-align:center;
position:relative;
text-align:center;
}
#lnb h2{
position:relative;
top:50px;
width:180px;
text-align:center;
}
#lnbMenu{
clear:both;
position:absolute;
left:0px;
top:100px;
width:180px;
border-top:2px solid #3f5aaa;
font-family:dotum;
}

/* UI Object */
.lnbMenu{position:relative;width:200px;font-size:12px;font-family:Tahoma, Geneva, sans-serif;line-height:normal;}
.lnbMenu ul{margin:0px 0 0 0;padding:0;list-style:none;}
.lnbMenu li{position:relative;margin:0 0 -1px 0;_margin:0 0 0px 0;vertical-align:top;*zoom:1}
.lnbMenu li:first-child {position:relative;margin:-1px 0 0 0;_margin:0 0 0px 0;}
.lnbMenu li a {width:173px;
display:inline-block;
height:30px;
border-bottom:1px solid #e6e6e6;
line-height:30px;
text-align:left;
padding: 0 0 0 7px;
color:#4e4d4d;
}
.lnbMenu li a:hover, .lnbMenu li a.checked {width:173px;
display:inline-block;
height:30px;
border-bottom:1px solid #3f5aaa;
border-top:0px solid #3f5aaa;
line-height:30px;
text-align:left;
padding: 0 0 0 7px;
font-weight:bold;
background:#7192d3 url(/static/images/portal/common/menuCheck.gif)  no-repeat 95% 45%;
color:#fff;
}
 li a.plus {
background:url(/static/images/portal/common/bl_plusmenu.gif)  no-repeat 95% 45%;


 }
li a.plus:hover {
background:#7192d3 url(/static/images/portal/common/bl_plusmenu.gif)  no-repeat 95% 45%;


 }

.lnbMenu li li a span{color:#798790;letter-spacing:-1px;background:url(/static/images/portal/common/bl_2depth.gif) no-repeat 0px 30%;
 padding:0 0 8px 5px; font-size:11px;letter-spacing:-1px;}
.lnbMenu li.active{z-index:2;border-bottom:0px solid #3f5aaa;_border-bottom:0px solid #3f5aaa;font-weight:bold;
}
.lnbMenu li.active li a:hover{color:#0a3473;border:1px solid #000;}
}
.lnbMenu li li.active{border:0;background:#ecf6f9;}
.lnbMenu li.active a{border:0;}


.lnbMenu li.active .i{background-position:0 -44px;background:#ecf6f9;}
.lnbMenu li.active li a{border:0;height:24px;line-height:24px;font-weight:normal;color:#0a3473;background:url();color:#0a3473;letter-spacing:-1px;}
.lnbMenu li.active li a:hover {border:0;height:24px;line-height:24px;font-weight:normal;color:#0a3473;background:url();}
.lnbMenu li.active li a:active {border:0;height:24px;line-height:24px;font-weight:normal;color:#0a3473;background:url();}

.lnbMenu li.active ul{display:block;color:#0a3473;padding:5px 0 5px 0;background:#fcfdfe;}

.lnbMenu li.active li.active a:hover,.lnbMenu li.active li.active a:active{color:#0a3473;border:0px;}
.lnbMenu li.active li a span:hover,.lnbMenu li.active li a span:active {color:#0a3473;border:0px;}
.lnbMenu li ul li a span.checked {color:#0a3473;}

/* 
/* //UI Object */



#content{
position:relative;
float:right;
width:790px;
}

#subVisual{
clear:both;
position:relative;
top:-8px;
height:105px;
width:795px;
border-bottom:1px solid #cacaca;
margin:0px 0px -0px 0px;
z-index:-1;
}
#subVisual .title{
position:relative;
top:37px;
left:0px;
}
 .location{
position:relative;
top:34px;
left:0px;
font-family:dotum;
font-size:11px;
letter-spacing:-0.9px;
vertical-align:bottom;
}
 .location a{width:50px; }
 .titImg01 {background:url(/static/images/portal/common/titImg01.png) no-repeat right 7px;z-index:-2;}
 .titImg02 {background:url(/static/images/portal/common/titImg02.png) no-repeat right 7px;z-index:-1;}
 .titImg03 {background:url(/static/images/portal/common/titImg03.png) no-repeat right 7px;z-index:-1;}
 .titImg04 {background:url(/static/images/portal/common/titImg04.png) no-repeat right 7px;z-index:-1;}
.titImg05 {background:url(/static/images/portal/common/titImg05.png) no-repeat right 7px;z-index:-1;}
 .titImg06 {background:url(/static/images/portal/common/titImg06.png) no-repeat right 7px;z-index:-1;}
  .titImg07 {background:url(/static/images/portal/common/titImg07.png) no-repeat right 7px;z-index:-1;}
  .titImg08 {background:url(/static/images/portal/common/titImg11.png) no-repeat right 7px;z-index:-1;}
  .titImg10 {background:url(/static/images/portal/common/titImg10.png) no-repeat right 7px;z-index:-1;}
  .titImg09 {background:url(/static/images/portal/common/titImg10.png) no-repeat right 7px;z-index:-1;}

 

#article {
width:795px;
word-wrap:break-word;
top:-10px;
margin:0px 0px 10px 0px;
color:#4e4d4d;
min-height:600px;
_height:600px;
z-index:20;
}


#footer {
clear:both;
position:relative;
margin:0px;
padding:12px 0 0 0;
height:83px;
display:block;
width:1032px;
border-top:1px solid #d9d9d9;
margin:0 auto;




} 

#footer h3{
float:left;
position:relative;
left:39px;
top:10px;

}
#fnb{
clear:both;
position:absolute;
left:209px;
top:13px;
z-index:10;
}
#fnb li{float:left;color:#3b3939;}
#fnb li.bin{width:20px;background:url(/static/images/portal/common/fnb_line.gif) no-repeat 50% 45%;	}

#footer .copyright{
clear:both;
position:absolute;
left:209px;
top:35px;
font-size:11px;
line-height:14px;
color:#8f8f8f;
}





#topmenu {position:absolute;top:3px;left:860px;width:160px;}
#topmenu li{float:left;padding:0 6px 06px;}

#gnb-new{left:00px; list-style:none;  font-size:1px; height:15px;margin:0px;padding:0px;width:1040px;z-index:30;font-size:12px;font-weight:bold;padding:0 10px 0 10px;}
#sNavi01,#gnb-new #sNavi02,#gnb-new #sNavi08,#gnb-new #sNavi03,#gnb-new #sNavi04,#gnb-new #sNavi05,#gnb-new #sNavi06,#gnb-new #sNavi07,#gnb-new #sNavi09

{position:absolute;left:30px;top:42px;_top:44px;padding:0px;width:1000px;height:30px;line-height:30px;margin:0 auto;
text-align:center;z-index:10;
}
#gnb-new #sNavi01{left:100px;}
#gnb-new #sNavi02{left:200px;}
#gnb-new #sNavi03{left:50px;}
#gnb-new #sNavi04{left:200px;}
#gnb-new #sNavi05{left:200px;}
#gnb-new #sNavi06{left:50px;}
#gnb-new #sNavi07{left:200px;}
#gnb-new #sNavi09{left:200px;}
#gnb-new #sNavi08{left:200px;}

#gnb-new .plaza{position:absolute;top:-4px;padding:0px 0px 0px 0px;text-align:right;left:1030px;}
#gnb-new {position:relative; left:-30px;top:30px;height:60px;}
#gnb-new li{padding:0 20px 0 20px;margin:0 auto;}

#gnb-new ul{width:1000px; }

#gnb-new  ul li {padding:0 15px 0 15px;letter-spacing:-1px;}
#gnb-new a {color:#9ed8f2;}
#gnb-new a:hover{color:#ffffff;}

#gnb-new  li{float:left;}
#gnb-new  li ul li{float:left;}

#gnb-new .frist {width:130px;}

.depth4 {
border-bottom:1px solid #5168c5;
height:51px;
width:800px;
margin:0 0 10px 0; 
margin:0px;
padding:0px;
}

.depth4 li {
float:left;
margin:0px;
padding:0px;

}
.depth4 li a{
display:inline-block;
height:25px;
line-height:25px;
font-weight:bold;
padding:0 7px 0 7px;
background:#393f94 url(/static/images/portal/common/3depth_bg_off.gif) repeat-x ;
color:#555555;
border-top:1px solid #fff;
}
.depth4 li a:hover,.depth4 li a.active{
display:inline-block;
height:25px;
line-height:25px;
font-weight:bold;
padding:0 25px 0 25px;
background:#919192 url(/static/images/portal/common/3depth_bg_on.gif) repeat-x ;
color:#fff;
font-size:14px;
letter-spacing:-1px;
border-top:1px solid #fc940e;

}

.depth4_2line {
border-bottom:1px solid #5168c5;
height:52px;
width:800px;
margin:0 0 10px 0; 
margin:0px;
padding:0px;
}

.depth4_2line li {
float:left;
margin:0px;
padding:0px 0px 0px 0px;
text-align:center;
background:#393f94 url(/static/images/portal/common/3depth2_bg_off.jpg) repeat-x ;
line-height:16px;

}
.depth4_2line li a{
display:inline-block;
height:40px;
line-height:16px;
font-weight:bold;
padding:10px 25px 0 25px;
background:#393f94 url(/static/images/portal/common/3depth2_bg_off.jpg) repeat-x ;
color:#555555;
border-top:2px solid #fff;

}
.depth4_2line li a:hover,.depth4_2line li a.active{
display:inline-block;
height:40px;
line-height:16px;
font-weight:bold;
padding:10px 25px 0 25px;
background:#919192 url(/static/images/portal/common/3depth2_bg_on.jpg) repeat-x ;
color:#ffffff;
border-top:3px solid #fc940e;

}


.depth3 {
border-bottom:1px solid #5168c5;
height:26px;
width:800px;
margin:0 0 10px 0; 
margin:0px;
padding:0px;
}

.depth3 li {
float:left;
margin:0px;
padding:0px;

}
.depth3 li a{
display:inline-block;
height:25px;
line-height:25px;
font-weight:bold;
padding:0 25px 0 25px;
background:#393f94 url(/static/images/portal/common/3depth_bg_off.gif) repeat-x ;
color:#555555;
border-top:2px solid #fff;
}
.depth3 li a:hover,.depth3 li a.active{
display:inline-block;
height:25px;
line-height:25px;
font-weight:bold;
padding:0 25px 0 25px;
background:#919192 url(/static/images/portal/common/3depth_bg_on.gif) repeat-x ;
color:#fff;
font-size:14px;
letter-spacing:-1px;
border-top:2px solid #fc940e;

}

.depth3_2line {
border-bottom:1px solid #5168c5;
height:52px;
width:800px;
margin:0 0 10px 0; 
margin:0px;
padding:0px;
}

.depth3_2line li {
float:left;
margin:0px;
padding:0px 0px 0px 0px;
text-align:center;
background:#393f94 url(/static/images/portal/common/3depth2_bg_off.jpg) repeat-x ;
line-height:16px;

}
.depth3_2line li a{
display:inline-block;
height:40px;
line-height:16px;
font-weight:bold;
padding:10px 25px 0 25px;
background:#393f94 url(/static/images/portal/common/3depth2_bg_off.jpg) repeat-x ;
color:#555555;
border-top:2px solid #fff;

}
.depth3_2line li a:hover,.depth3_2line li a.active{
display:inline-block;
height:40px;
line-height:16px;
font-weight:bold;
padding:10px 25px 0 25px;
background:#919192 url(/static/images/portal/common/3depth2_bg_on.jpg) repeat-x ;
color:#ffffff;
border-top:3px solid #fc940e;

}



			.menu { padding: 0; clear: both; }
			.menu li { display: inline; }
			.menu li a { background: #ccf; padding:0px; float:left; border-right: 1px solid #ccf; border-bottom: none; text-decoration: none; color: #000; font-weight: bold;}
			.menu li.active a { background: #eef; }
			.content { float: left; clear: both;border-top: none; border-left: none; padding: 0;  }

#total_wrap {
z-index:60;
top:103px;
position:absolute;
width:100%;
_width:1032px;
*width:1032px;
}
#total{
width:1038px;

margin:0 auto;
}

 .totalmenu{
float:right;
}
.sitemap_menu {

position:relative;
display:inline;
float:left;
width:170px;
height:340px;
margin-left:10px;
margin-top:5px;
margin-bottom:10px;

border:1px solid #97aee3;
background-color:#FFFFFF;
padding:4px;
z-index:80;
}
.sitemap_menu .sitemap_title{
display:inline;
float:left;
width:170px;
height:27px;
line-height:24px;
margin-bottom:5px;
padding-top:1px;
font-weight:bold;
font-size:15px;
text-align:center;
color:#FFFFFF;
background:url(/static/images/portal/common/sitemap_titBg.gif) no-repeat;
}



#sitemap_box_line {
margin:0 auto;

z-index:15;

}



#sitemap_box {
position:absolute;
top:0px;

z-index:30;
border:1px solid #000;
padding:6px 0 12px 20px;
_padding:6px 0 12px 15px;	

width:980px;
_width:985px;

height:699px;
margin:0 auto;
margin-left:0px;

border:2px solid #97aee3;
	background-color:#e7ebf4;
	
	

}

#sitemap_box .close{
position:relative;
left:0px;
top:-100px;}

.sitemap_menu .menu {
display:inline;
float:left;
width:150px;
font-weight:bold;
padding:1px 0 0 14px;
border-top:1px dotted #CCCCCC;
letter-spacing:-1.5px;
font-size:12px;
background:url(/static/images/portal/common/bl_h4.gif) no-repeat 0 4px;

}


.sitemap_menu .menuTxt {
display:inline;
width:163px;
float:left;
font-size:11px;
padding:0 0 0 5px;
letter-spacing:-1.8px;
background:url(/static/images/portal/common/blRect.gif) no-repeat 0px 5px;
}


.close{
display:inline;
float:right;
margin-top:260px;
margin-right:10px;
}

.m03 {
height:690px;
}
.m04 {
height:135px;
}
.m05 {
height:480px;
}

.m06 {
position:absolute;
left:20px;
_left:15px;
top:365px;
height:275px;

}
.m07 {
position:absolute;
left:210px;
_left:205px;

top:365px;
height:275px;
}
.m09 {
position:absolute;
left:400px;
_left:405px;

top:365px;
height:275px;
}

.banner_phone {position:relative;top:30px;}

.loginInfo{
position:absolute;
top:3px;
left:410px;
padding: 0 0 0 10px;
width:420px;
color:#6d6d6d;
font-size:11px;
letter-spacing:-1px;
line-height:18px;
vertical-align:text-top;
text-align:right;
}
.loginInfo .bl{
vertical-align:top;

}
.loginInfo .btn_login{
vertical-align:text-bottom;

}
.loginInfo strong{
font-weight:bold;
color:#000;
}

#totalnew_wrap {
z-index:60;
top:70px;
left:153px;
position:absolute;
width:100%;
_width:1032px;
*width:1032px;
}
#totalnew{
width:1038px;

margin:0 auto;
}

 .totalnewmenu{
float:right;
}


/* 조직도 및 부서별현황 - 임원 경력 */
.major {
	BORDER-BOTTOM: #2c2c2c 2px solid; 
	BORDER-TOP: #2c2c2c 2px solid; 
	BORDER-RIGHT: #2c2c2c 2px solid; 
	BORDER-LEFT: #2c2c2c 2px solid; 
	
	POSITION: absolute; 
	MIN-WIDTH: 380px; 	
	WIDTH: 380px; 

	PADDING-BOTTOM: 18px; 
	PADDING-LEFT: 18px; 
	PADDING-RIGHT: 4px; 
	PADDING-TOP: 18px;
	
	BACKGROUND: #fff ; 
}
.major > DIV {
	FLOAT: left;
}
.major > .photozone {
	TEXT-ALIGN: center;
}
.major > .photozone > span {
	TEXT-ALIGN: center; DISPLAY: block;
}
.major > .photozone > span.photo {
	TEXT-ALIGN: center;
}
.major > .photozone > span.photo > IMG {
	BORDER-BOTTOM: #dbdedd 1px solid; BORDER-LEFT: #dbdedd 1px solid; BORDER-TOP: #dbdedd 1px solid; BORDER-RIGHT: #dbdedd 1px solid;
}
.major > .photozone > span.position {
	LINE-HEIGHT: 20px; MARGIN-TOP: 6px; HEIGHT: 20px; COLOR: #3b82b6; FONT-WEIGHT: bold;
}
.major > .photozone > span.name {
	LINE-HEIGHT: 20px; HEIGHT: 20px; FONT-SIZE: 13px; FONT-WEIGHT: bold;
}
.major > .careerzone {
	MARGIN-LEFT: 18px;
}
.major > .careerzone > UL > LI {
	DISPLAY: block; MARGIN-BOTTOM: 12px;
}
.major > .careerzone > UL > LI > span.title {
	LINE-HEIGHT: 20px; TEXT-INDENT: 22px; DISPLAY: block; BACKGROUND: url(/static/images/portal/common/bl_h4.gif) no-repeat 1px 4px; COLOR: #2072ae; FONT-WEIGHT: bold;
}
.major > .careerzone > UL > LI > UL > LI {
	LINE-HEIGHT: 18px; DISPLAY: block; FONT-SIZE: 11px;
}

/* 신규CSS */
#wrap{min-width:980px}
#header-new{position:relative;height:100px;background:#fff url(../img/com/header_bg_bar.gif) repeat-x 50% 100%;z-index:10}
#header-new .mem_set{position:absolute;top:15px;right:0}
#header-new .mem_set li{float:left;margin-left:9px;padding-left:10px;background:url(../img/com/header_bar.gif) no-repeat 0 2px}
#header-new .mem_set li:first-child{margin-left:0;padding-left:0;background:none}
#header-new.fixed{position:fixed;top:0;left:0;width:100%;z-index:20}
#header-new .submenu{display:none;position:absolute;top:96px;left:0;width:100%;padding-bottom:4px;border-top:1px solid #e6e6e6;background:#f8f8f8 url(../img/com/header_bg_bar.gif) repeat-x 50% 100%}
#header-new .submenu h2{font-size:13px;color:#333}
#header-new .submenu a{text-decoration:none;font-size:11px}
#header-new .submenu a:hover{color:#1757d0}
#header-new .submenu td{padding:20px 12px;border-left:1px solid #e6e6e6;vertical-align:top}
#header-new .submenu menu{margin-top:15px}
#header-new .submenu li{margin-top:7px}
#header-new .submenu .btcls{position:absolute;bottom:10px;right:-40px}
#gnb-new{clear:both;padding-top:42px;*zoom:1}
#gnb-new:after{display:block;clear:both;content:''}
#gnb-new h1, #gnb-new li{float:left}
#gnb-new menu{float:right;margin-top:7px}
#gnb-new li{margin-left:32px}
#gnb-new li a{text-decoration:none;font-family:NanumBold;font-size:15px;color:#333}
#gnb-new li a.active{color:#1757d0}

.snb{float:left;width:183px;border-right:1px solid #e4e4e4;border-bottom:1px solid #e4e4e4}
.snb h2{position:relative;margin:0 0 0 -1px;width:145px;height:67px;padding:44px 20px 0 20px;background:#4576d3 url(../img/com/snb_bg_top.gif) no-repeat 100% 100%;line-height:27px;font-weight:normal;font-size:24px;color:#fff}
.snb p.tel{clear:both;padding:23px 0 28px;border-top:1px solid #e4e4e4;text-align:center}
.snb menu li{clear:both}
.snb menu li a{font-family:dotum}
.snb menu > li{border-top:1px solid #e4e4e4}
.snb menu > li > a{display:block;padding:15px 50px 15px 20px;background:url(../img/com/snb_arr.gif) no-repeat 89% 50%;color:#222}
.snb menu > li.selected > a{background-image:url(../img/com/snb_arr_selected.gif);font-weight:bold;color:#4576d3}
.snb menu ul{display:none;clear:both;padding:13px 0 13px 20px;background:#fafafa;border-top:1px solid #e4e4e4}
.snb menu ul li{border-top:0;margin-top:8px;padding:0 0 0 13px;background:url(../img/com/snb_bg_bar2.gif) no-repeat 0 5px}
.snb menu ul li:first-child{margin-top:0}
.snb menu ul li a{display:inline-block;padding:0;background-image:none;font-weight:normal;font-size:11px;color:#666}
.snb menu ul li.selected{background-image:url(../img/com/snb_bg_bar.gif)}
.snb menu ul li.selected a{font-weight:bold;color:#4576d3}
.snb menu > li.selected ul{display:block}
.snb.v1 h2{height:80px;padding-top:31px}
.snb.v2 h2{background-image:url(../img/com/snb_bg_top2.gif)}

.totalmenu{display:none;position:absolute;top:96px;left:50%;margin-left:-491px;width:972px;background:#fff;border:4px solid #4576d3;font-family:dotum;z-index:10}
.totalmenu td{width:174px;padding:18px 0 17px 20px;vertical-align:top;border-top:1px solid #d8d8d8;border-left:1px solid #d8d8d8}
.totalmenu h2{padding-left:22px;background-image:url(../img/com/totalmenu_ico.gif);background-repeat:no-repeat;font-size:14px;color:#0242ba}
.totalmenu tr.first td{border-top:0}
.totalmenu h2.ico1{background-position:0 1px}
.totalmenu h2.ico2{background-position:0 -26px}
.totalmenu h2.ico3{background-position:0 -52px}
.totalmenu h2.ico4{background-position:0 -78px}
.totalmenu h2.ico5{background-position:0 -104px}
.totalmenu h2.ico6{background-position:0 -128px}
.totalmenu h2.ico7{background-position:0 -154px}
.totalmenu h2.ico8{background-position:0 -178px}
.totalmenu h2.ico9{background-position:0 -204px}
.totalmenu menu{clear:both;margin-top:15px;*zoom:1}
.totalmenu menu:after{display:block;clear:both;content:''}
.totalmenu menu li{clear:both;margin-top:5px;padding-left:8px;background:url(../img/com/ico_bu2.gif) no-repeat 0 4px}
.totalmenu menu li a{font-weight:bold;color:#222}
.totalmenu menu li li{padding-left:0;background:none}
.totalmenu menu li li a{letter-spacing:-1px;font-weight:normal;font-size:11px;color:#666}
.totalmenu td.ty{width:368px}
.totalmenu td.ty menu{float:left;clear:none;margin-left:20px}

.dashbdmenu{display:none;position:absolute;top:96px;left:50%;margin-left:-491px;width:892px;padding:20px 40px;background:#fff;border:4px solid #4576d3;font-family:dotum;z-index:10}
.dashbdmenu .hst-row{margin-top:45px}
.dashbdmenu .tblst2 th, .dashbdmenu .tblst2 td{padding-top:14px;padding-bottom:14px}

#footer{clear:both;position:relative;width:717px;margin:0 auto;padding:40px 0 35px 263px}
#footer .logo{position:absolute;top:30px;left:0}
#footer menu{*zoom:1}
#footer menu:after{display:block;clear:both;content:''}
#footer li{float:left;margin-left:10px;padding-left:11px;background:url(../img/com/footer_bar.gif) no-repeat 0 2px}
#footer li:first-child{margin-left:0;padding-left:0;background:none}
#footer li, #footer li a{font-size:13px;color:#fff}
#footer address{clear:both;margin-top:12px;line-height:1.5;color:#d0d0d0}

nav.quick{position:fixed;top:211px;left:50%;margin:0 0 0 499px;z-index:10}
nav.quick li{margin-top:1px}
nav.quick a{display:inline-block;width:50px;height:50px;background:url(../img/btn/quick_btn.gif);vertical-align:top}
nav.quick a.totalmenu-ctl{background-position:0 0}
nav.quick a.totalmenu-ctl:hover{background-position:0 -51px}
nav.quick a.totalmenu-ctl.active{background-position:0 -102px}
nav.quick a.dashboard-ctl{background-position:0 -153px}
nav.quick a.dashboard-ctl:hover{background-position:0 -204px}
nav.quick a.dashboard-ctl.active{background-position:0 -102px}