@charset "utf-8";
/* CSS Document */
.mainContents {
	width:1020px;
	height:520px;
}

.leftMainContents {
	width:275px;
	position:relative;
	float:left;
}

/*보도자료*/
.pressBox {
	height:90px;
	padding:33px 0 0 28px;
}

.pressBox ul {
	padding:10px 0 0 0;
}

.pressBox ul li {
	padding:0 0 4px 10px;
	background:url(/static/images/portal/main/latestDot.gif) no-repeat;
}

/*보도자료 아래 컨텐츠 구분선*/
.pressBoxLine {
	width:220px;
	border-top:1px solid #cecece;
	margin:0 0 0 28px;
}

/*공지사항*/
.whatNewBox {
	height:120px;
	padding:30px 0 0 28px;
}

.whatNewBox ul {
	padding:10px 0 0 0;
}

.whatNewBox ul li {
	padding:0 0 4px 10px;
	background:url(/static/images/portal/main/latestDot.gif) no-repeat;
}

/*배너존*/
.bannerBox {
	padding:0 0 0 28px;
}

.bannerTitle {
	position:relative;
	width:61px;
	float:left
}

.bannerNumberBox {
	padding:0 28px 0 0;
	float:right;
}

.bannerNumberBox ul {
	padding:3px 0 0 0;
}

.bannerNumberBox ul li {
	float:left;
	padding:0 2px 0 0;
}

.bannerImg {
	padding:22px 0 0 0;
}

/*가운데 주요 컨텐츠 영역*/
.bcArea {
	width:418px;
	height:466px;
	float:left;
	background:url(/static/images/portal/main/adSpaceM1.gif) no-repeat;
}

.bcArea1 {
	width:417px;
	height:403px;
}

.bcArea2 {
	width:417px;
	height:403px;
	display:none;
	background:url(/static/images/portal/main/adSpaceBxbg.jpg);

}

.bcArea3 {
	width:417px;
	height:403px;
	display:none;
	background:url(/static/images/portal/main/adSpace3.jpg);
}

.bcArea3BtnBox01 {
	width:194px;
	height:29px;
	padding:71px 0 0 223px;
}

.bcArea3BtnBox02 {
	width:336px;
	height:116px;
	padding:59px 0 0 81px;
}

.bcArea3BtnBox02 li {
	float:left;
	padding:0 32px 0 0;
	margin:0px;

}
.bcArea2 ul{
margin:0px;
padding:0px;
}
.bcArea2 ul li{
margin:0px;
padding:0px;
}
.bcArea2 .center00{
position:relative;

margin:0px;
padding:0px;
height:37px;
background:url(/static/images/portal/main/adSpace2Btn00.gif) no-repeat left top;
}
.center01 li,.center02 li,.center03 li{
height:19px;}
.bcArea2 .center01{
position:relative;

height:73px;
margin:0px;
padding:0px;
background:url(/static/images/portal/main/adSpace2Btn01.gif) no-repeat left top;
}
.bcArea2 .center02{
position:relative;

margin:0px;
padding:0px;
height:175px;
background:url(/static/images/portal/main/adSpace2Btn02.gif)  no-repeat left top;
}
.bcArea2 .center03{
position:relative;

margin:0px;
padding:0px;
height:110px;
background:url(/static/images/portal/main/adSpace2Btn03.gif)  no-repeat left top;
}
.center01 .txt{
position:absolute;
left:251px;
top:20px;
}
.center02 .txt{
position:absolute;
left:251px;
top:6px;
}
.center02 .tit{
height:20px;
padding:10px 0 3px 0;
}
.center03 .txt{
position:absolute;
left:251px;
top:12px;
}

.bcArea3BtnBox02Text {
	display:block;
	padding:6px 0 0 0px;
	font:11px dotum;
	width:68px;
	text-align:center;
}
.bcArea3 .bcArea3BtnBox02 img {border:1px solid #e3e2e1;}

.bcArea3BtnBox03 {
	width:417px;
	height:66px;
}

.bcArea3BtnBox04 {
	width:417px;
	height:29px;
}

.bcArea4 {
	width:417px;
	height:403px;
	display:none;
	background:url(/static/images/portal/main/adSpace4.jpg);
}

.bcArea4BtnBox01 {
	width:204px;
	height:230px;
	padding:48px 0 0 213px;
}
.bcArea4BtnBox01 li{height:21px;}

.bcBtn1 {
	width:94px;
	height:63px;
	float:left;
}

.bcBtn2 {
	width:109px;
	height:63px;
	float:left;
}

.bcBtn3 {
	width:95px;
	height:63px;
	float:left;
}

.bcBtn4 {
	width:111px;
	height:63px;
	float:left;
}

/*오른쪽 메인 컨텐츠 영역*/
.rightMainContents {
	width:289px;
	float:left;
}

/*팝업존*/
.popupBox {
	padding:20px 0 0 45px;
}

.popupTitle {
	position:relative;
	width:61px;
	float:left
}

.popupNumberBox {
	padding:0 25px 0 0;
	float:right;
}

.popupNumberBox ul {
	padding:3px 0 0 0;
}

.popupNumberBox ul li {
	float:left;
	padding:0 2px 0 0;
}

.popupImg {
	padding:22px 0 0 0;
}

/*통계자료실*/
.dataBox {
	padding:33px 0 0 45px;
}

.dataBox ul {
	padding:10px 0 0 0;
}

.dataBox ul li {
	padding:0 0 4px 2px;
}

/*바로가기존*/
.quickMenuLineBox {
	width:100%;
	border-top:1px solid #cecece;
	border-bottom:1px solid #cecece;
}
.quickMenuBox {
	position:relative;
	left:50%;
	margin-left:-510px;
	float:center;
	width:1010px;
	height:82px;
}

.leftArrow {
	width:35px;
	height:62px;
	float:left;
	padding:20px 0 0 0;
}

.quickBtnBox {
	width:940px;
	height:28px;
	float:left;
}

.rightArrow {
	width:35px;
	height:62px;
	float:left;
	padding:20px 0 0 0;
}

.ellipsis {
	white-space:nowrap;
	width:90%; 
    overflow:hidden;
    text-overflow:ellipsis;
    -moz-binding: url('../../xml/ellipsis.xml#ellipsis');
    table-layout:fixed;
}


