@charset "utf-8";
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700&display=swap');
@import url('http://kenwheeler.github.io/slick/slick/slick.css');
@font-face {
  font-family:'Noto Sans';font-style:normal;font-weight:100;
  src:url(../../font/NotoSansKR-Thin.eot);
  src:local(※), url(../../font/NotoSansKR-Thin.woff) format('woff');
  text-rendering:optimizeLegibility;
}
@font-face {
  font-family:'Noto Sans';font-style:normal;font-weight:300;
  src:url(../../font/NotoSansKR-Light.eot);
  src:local(※), url(../../font/NotoSansKR-Light.woff) format('woff');
  text-rendering:optimizeLegibility;
}
@font-face {
  font-family:'Noto Sans';font-style:normal;font-weight:400;
  src:url(../../font/NotoSansKR-Regular.eot);
  src:local(※), url(../../font/NotoSansKR-Regular.woff) format('woff');
  text-rendering:optimizeLegibility;
}
@font-face {
  font-family:'Noto Sans';font-style:normal;font-weight:500;
  src:url(../../font/NotoSansKR-Medium.eot);
  src:local(※), url(../../font/NotoSansKR-Medium.woff) format('woff');
  text-rendering:optimizeLegibility;
}
@font-face {
  font-family:'Noto Sans';font-style:normal;font-weight:700;
  src:url(../../font/NotoSansKR-Bold.eot);
  src:local(※), url(../../font/NotoSansKR-Bold.woff) format('woff');
  text-rendering:optimizeLegibility;
}
/* font-family: 'Roboto', sans-serif; */

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video, button, input, textarea, select{margin:0;padding:0;border:0;font:inherit}
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {display:block}
body{line-height:1.3}
body.type{background-color:#F8F8F8}
body,select,input,textarea,button,pre{font-family:'Noto Sans',Dotum,Gulim,Sans-serif;letter-spacing:-.05em;color:#333;-webkit-text-size-adjust:none}
fieldset,img{border:0}
img{vertical-align:top; -ms-interpolation-mode:bicubic}
img,video,audio,object,embed,iframe{max-width:100%}
legend, caption {position:absolute;width:1px;height:1px;clip:rect(1px, 1px, 1px, 1px)}
h1,h2,h3,h4,h5,strong,b,th{font-weight:500}
pre{word-break:break-all;white-space:pre-line}
i, address {font-style:normal}
ol, ul {list-style:none}
blockquote, q {quotes:none}
blockquote:before, blockquote:after,
q:before, q:after {content:none}
table {border-collapse:collapse;border-spacing:0;table-layout:fixed}
.blind {position:absolute;width:1px;height:1px;clip:rect(1px,1px,1px,1px)}
:focus{outline:none}
.scroll{overflow-y:auto;overflow-x:hidden;-webkit-overflow-scrolling:touch}
.ml0{margin-left:0 !important}
input[type=text]::-ms-clear{display:none}
input[type=password]::-ms-clear{display:none}

/* common */
.fc_red{color:#ea273a !important}
.bold{font-weight:500}
.u{text-decoration:underline}
.fsup{font-size:18px !important}
.bgf{display:inline-block;background-size:100% 100%;color:transparent;white-space:nowrap;text-indent:-3000em;font-size:1px}

button{overflow:hidden;border:0;background-color:transparent;-webkit-appearance:none;cursor:pointer}
.ie8_down_ver{position:fixed;top:0;left:0;z-index:999;width:100%;padding:20px 0;background-color:#fff;border-bottom:1px solid #d9d9d9;text-align:center;font-size:15px;font-weight:bold}
.ie8_down_ver a{text-decoration:underline;color:#e60000}

input,textarea,select{vertical-align:middle;-webkit-border-radius:0;-webkit-appearance:none}
input,textarea,select,.input,.select{vertical-align:middle;line-height:1.2}
input[type="text"],
input[type="password"],
input[type="tel"]{height:54px;line-height:51px;padding:0 10px 0;border:1px solid #e1e1e1;font-size:18px;color:#333}
input[type="password"]{font-family:dotum;letter-spacing:0}
input:focus{background-color:#F7F7F7;border:1px solid #222}
textarea{padding:15px 20px;border:1px solid #cbcbcb;background-color:transparent;font-size:14px;color:#333;resize:none}
label{cursor:auto}
select{overflow:hidden;white-space:nowrap;width:100%;background-color:transparent;
  background-image:url(../image/select_arr.png);background-position:100% 50%;background-size:auto 5px;background-repeat:no-repeat;border:0;font-size:18px;color:#101010}
.select{display:inline-block;padding:0 14px;border:1px solid #e1e1e1;height:54px;line-height:50px}
.inp_box{position:relative;display:inline-block}
.inp_box .i_text{position:relative;width:100%;height:45px;padding:10px}
.lbl{display:block;position:absolute;top:13px;left:12px;z-index:10;font-size:15px;color:#aeaeae}

.btn_m{display:inline-block;height:54px;line-height:55px;border-width:1px;border-style:solid;font-size:16px}
.btn_m2{display:inline-block;vertical-align:middle;line-height:47px;font-size:15px;text-decoration:none}
.btn_r{display:inline-block;vertical-align:middle;line-height:52px;font-size:20px;text-decoration:none}
.btn_type{background-color:#ea273a;color:#fff}
.btn_type2{background-color:#c0c0c0;color:#fff}

.checkbox{display:inline-block;position:relative;text-align:left}
.checkbox input{position:absolute; left:0; top:0; width:13px; height:13px; opacity:0; filter:alpha(opacity=0)}
.checkbox label{display:inline-block;position:relative;z-index:1;width:auto;background-repeat:no-repeat;background-position:0 50%;cursor:pointer;color:#666}
.checkbox.circle label{padding-top:8px;padding-bottom:8px;padding-left:41px;background-image:url(../image/checkbox_circle.gif);font-size:14px}
.checkbox.circle input:checked + label{background-image:url(../image/checkbox_circle_on.gif)}
.checkbox.circle label.on{background-image:url(../image/checkbox_circle_on.gif)}

.checkbox.square label{padding-top:5px;padding-bottom:5px;padding-left:32px;background-image:url(../image/checkbox_square.gif);background-position:0 0;font-size:14px}
 .checkbox.square input:checked + label{background-image:url(../image/checkbox_square_on.gif)}
.checkbox.square label.on{background-image:url(../image/checkbox_square_on.gif)}

.error{font-size:14px;color:#ff5e64}
.error .ico_chk{margin:0 7px 0 0}
p.error{margin:10px 0 0 5px}
p.error+p.error{margin-top:4px}

/* Mobile Device */
@media all and (max-width:768px) {

    *, *:after, *:before{-webkit-tap-highlight-color:rgba(0,0,0,0);-webkit-tap-highlight-color:transparent;-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box;-webkit-font-smoothing:antialiased}
    html{ -ms-touch-action:none;font-size:62.5%}
    body{-webkit-text-size-adjust:none;-moz-text-size-adjust:none;-ms-text-size-adjust:none;-o-text-size-adjust:none;text-size-adjust:none;-webkit-user-select:auto;position:relative}
    .br{display:block}

}

/* keyframe */
@-webkit-keyframes scroll-down{
    to{ opacity:0;top:30px }
}
@-webkit-keyframes scroll-down{
    to{ opacity:0;top:30px }
}
@keyframes scroll-down{
    to{ opacity:0;top:30px }
}
@-webkit-keyframes scene-click{
    50%{
        opacity:1;
        transform: translate(0,0);
    }
    60%{
        transform: translate(0,0) scale(.9);
        opacity:1;
    }
    85%{
        transform: translate(0,0) scale(1);
    }
    85%{
        opacity:1;
    }
    100%{
        opacity:0;
        transform: translate(0,0) scale(1);
    }
}
@keyframes scene-click{
    50%{
        opacity:1;
        transform: translate(0,0);
    }
    60%{
        transform: translate(0,0) scale(.9);
        opacity:1;
    }
    85%{
        transform: translate(0,0) scale(1);
    }
    85%{
        opacity:1;
    }
    100%{
        opacity:0;
        transform: translate(0,0) scale(1);
    }
}
@-webkit-keyframes scene2-click{
    20%{
        opacity:1;
        transform:translate(-210px,-130px);
    }
    45%{
        opacity:1;
        transform: translate(0,0);
    }
    55%{
        transform: translate(0,0) scale(.9);
        opacity:1;
    }
    65%{
        transform: translate(0,0) scale(1);
    }
    75%{
        opacity:1;
    }
    85%{
        opacity:0;
        transform: translate(0,0) scale(1);
    }
    100%{
        opacity:0;
        transform: translate(0,0) scale(1);
    }
}
@keyframes scene2-click{
    20%{
        opacity:1;
        transform:translate(-210px,-130px);
    }
    45%{
        opacity:1;
        transform: translate(0,0);
    }
    55%{
        transform: translate(0,0) scale(.9);
        opacity:1;
    }
    65%{
        transform: translate(0,0) scale(1);
    }
    75%{
        opacity:1;
    }
    85%{
        opacity:0;
        transform: translate(0,0) scale(1);
    }
    100%{
        opacity:0;
        transform: translate(0,0) scale(1);
    }
}
@-webkit-keyframes pic-capture{
    0%{ transform: scale(0) }
    50%{ transform: scale(1) }
    70%{ opacity:1 }
    75%{ opacity:.5 }
    80%{ opacity:1 }
    85%{ opacity:.5 }
    90%{ opacity:1 }
    100%{ opacity:1; transform: scale(1) }
}
@keyframes pic-capture{
    0%{ transform: scale(0) }
    50%{ transform: scale(1) }
    70%{ opacity:1 }
    75%{ opacity:.5 }
    80%{ opacity:1 }
    85%{ opacity:.5 }
    90%{ opacity:1 }
    100%{ opacity:1; transform: scale(1) }
}
@-webkit-keyframes ball-bounce{
    0%{ opacity:1; transform: translate(0,0) }
    25%{ opacity:1; transform: translate(-10px,10px) }
    55%{ opacity:1; transform: translate(10px,-10px) }
    75%{ opacity:1; transform: translate(10px,10px) }
    100%{ opacity:1; transform: translate(0,0) }
}
@keyframes ball-bounce{
    0%{ opacity:1; transform: translate(0,0) }
    25%{ opacity:1; transform: translate(-10px,10px) }
    55%{ opacity:1; transform: translate(10px,-10px) }
    75%{ opacity:1; transform: translate(10px,10px) }
    100%{ opacity:1; transform: translate(0,0) }
}
@-webkit-keyframes ball-bounce2{
    0%{ opacity:1; transform: translate(0,0) }
    25%{ opacity:1; transform: translate(10px,10px) }
    55%{ opacity:1; transform: translate(-10px,10px) }
    75%{ opacity:1; transform: translate(10px,-10px) }
    100%{ opacity:1; transform: translate(0,0) }
}
@keyframes ball-bounce2{
    0%{ opacity:1; transform: translate(0,0) }
    25%{ opacity:1; transform: translate(10px,10px) }
    55%{ opacity:1; transform: translate(-10px,10px) }
    75%{ opacity:1; transform: translate(10px,-10px) }
    100%{ opacity:1; transform: translate(0,0) }
}
@-webkit-keyframes bar-up-down{
    0%{  transform: translateY(0) }
    10%{ opacity:1 }
    50%{  transform: translateY(40px) }
    80%{ opacity:1; transform: translateY(-10px) }
    100%{ opacity:1; transform: translateY(0) }
}
@keyframes bar-up-down{
    0%{  transform: translateY(0) }
    10%{ opacity:1 }
    50%{  transform: translateY(40px) }
    80%{ opacity:1; transform: translateY(-10px) }
    100%{ opacity:1; transform: translateY(0) }
}
@-webkit-keyframes imageAnimation{
	0%{opacity:0;transform:scale(1.5);animation-timing-function:ease-in-out}
	5%{opacity:1}
	50%{opacity:1;transform:scale(1)}
	55%{opacity:0}
	100%{opacity:0}
}
@keyframes imageAnimation{
	0%{opacity:0;transform:scale(1.5);animation-timing-function:ease-in-out}
	5%{opacity:1}
	50%{opacity:1;transform:scale(1)}
	55%{opacity:0}
	100%{opacity:0}
}
@-webkit-keyframes barAnimation{
	0%{width:0;-webkit-animation-timing-function:ease-in-out}
	50%{opacity:1}
	100%{opacity:0;width:100%}
}
@keyframes barAnimation{
	0%{width:0;animation-timing-function:ease-in-out}
	50%{opacity:1}
	100%{opacity:0;width:100%}
}
@-webkit-keyframes sk-stretchdelay{
	0%, 40%, 100%{-webkit-transform:scaleY(0.25)}
	20%{-webkit-transform:scaleY(0.5)}
}
@keyframes sk-stretchdelay{
	0%, 40%, 100% {
		transform:scaleY(0.25);-webkit-transform:scaleY(0.25);
	}20%{
		transform:scaleY(0.5);-webkit-transform:scaleY(0.5);
	}
}

@-webkit-keyframes sceneHide{
    to{ opacity:0 }
}
@keyframes sceneHide{
    to{ opacity:0 }
}
@-webkit-keyframes sceneShow{
    to{ opacity:1 }
}
@keyframes sceneShow{
    to{ opacity:1 }
}

@keyframes scene2-step1{
    to{
        background-color:#f2f4ff;
        border-color:#cad4fe;
        color:#7e96ff
    }
}
@keyframes scene2-step2{
    15%, 75%{
        background-color:#7e96ff;
        border-color:#7e96ff;
        color:#fff;
    }
    90%, 100%{
        background-color:#f2f4ff;
        border-color:#cad4fe;
        color:#7e96ff
    }

}
@keyframes scene2-step3{
    to{
        background-color:#7e96ff;
        border-color:#7e96ff;
        color:#fff;
    }
}

@-webkit-keyframes scene3-step-p-hide{
    to{
        transform: translateX(-20px);
        opacity:0;
    }
}
@keyframes scene3-step-p-hide{
    to{
        transform: translateX(-20px);
        opacity:0;
    }
}
@-webkit-keyframes scene3-step-p-show{
    to{
        transform: translateX(0);
        opacity:1;
    }
}
@keyframes scene3-step-p-show{
    to{
        transform: translateX(0);
        opacity:1;
    }
}

@-webkit-keyframes scene3-step1-box{
    15%, 35%, 85%{
        width:78px;
        margin-left:-800px
    }
    100%{
        width:78px;
        margin-left:-900px
    }
}
@keyframes scene3-step1-box{
    15%, 35%, 85%{
        width:78px;
        margin-left:-800px
    }
    100%{
        width:78px;
        margin-left:-900px
    }
}
@-webkit-keyframes scene3-step1-num{
    100%{
        width:auto;
        margin-left:0;
        letter-spacing:-2px;
        font-size: 32px;
        color: #7e96ff;
        top: -6px;
        transform: translateX(0);
    }
}
@keyframes scene3-step1-num{
    100%{
        width:auto;
        margin-left:0;
        letter-spacing:-2px;
        font-size: 32px;
        color: #7e96ff;
        top: -6px;
        transform: translateX(0);
    }
}


@-webkit-keyframes scene3-step2-box{
    15%, 35%, 65%{
        width:338px;
        margin-left:-650px
    }
    80%, 100%{
        width:78px;
        margin-left:-780px
    }
}
@keyframes scene3-step2-box{
    15%, 35%, 65%{
        width:338px;
        margin-left:-650px
    }
    80%, 100%{
        width:78px;
        margin-left:-780px
    }
}
@-webkit-keyframes scene3-step2-num{
    15%, 35%, 65%{
        top:-190px;
        margin-left:5px;
        letter-spacing:-20px;
        font-size:218px;
        color:#ededed;
        left:-6px;
        opacity:1;
    }
    80%, 100%{
        width:auto;
        margin-left:0;
        letter-spacing:-2px;
        font-size: 32px;
        color: #7e96ff;
        top: -6px;
        left:22px;
        opacity:1;
    }
}
@keyframes scene3-step2-num{
    15%, 35%, 65%{
        top:-190px;
        margin-left:5px;
        letter-spacing:-20px;
        font-size:218px;
        color:#ededed;
        left:-6px;
        opacity:1;
    }
    80%, 100%{
        width:auto;
        margin-left:0;
        letter-spacing:-2px;
        font-size: 32px;
        color: #7e96ff;
        top: -6px;
        left:22px;
        opacity:1;
    }
}
@-webkit-keyframes scene3-step2-p{
    25%, 50%, 65%{
        transform: translateX(0);
        opacity:1;
    }
    85%, 100%{
        transform: translateX(-20px);
        opacity:0;
    }
}
@keyframes scene3-step2-p{
    25%, 50%, 65%{
        transform: translateX(0);
        opacity:1;
    }
    85%, 100%{
        transform: translateX(-20px);
        opacity:0;
    }
}

@-webkit-keyframes scene3-step3-box{
    to{
        width:338px;
        margin-left:-650px
    }
}
@keyframes scene3-step3-box{
    to{
        width:338px;
        margin-left:-650px
    }
}
@-webkit-keyframes scene3-step3-num{
    to{
        top:-190px;
        margin-left:5px;
        letter-spacing:-20px;
        font-size:218px;
        color:#ededed;
        left:-6px;
        opacity:1;
    }
}
@keyframes scene3-step3-num{
    to{
        top:-190px;
        margin-left:5px;
        letter-spacing:-20px;
        font-size:218px;
        color:#ededed;
        left:-6px;
        opacity:1;
    }
}
@-webkit-keyframes scene3-step3-p{
    to{
        transform: translateX(0);
        opacity:1;
    }
}
@keyframes scene3-step3-p{
    to{
        transform: translateX(0);
        opacity:1;
    }
}
@keyframes scene3-step-nav{
    to{
        background-color:#d9d9d9
    }
}

@-webkit-keyframes scene4-pw{
    16.6%{ width:14px }
    33.2%{ width:28px }
    49.8%{ width:40px }
    66.4%{ width:54px }
    83%{ width:68px }
    100%{ width:82px }
}
@keyframes scene4-pw{
    16.6%{ width:14px }
    33.2%{ width:28px }
    49.8%{ width:40px }
    66.4%{ width:54px }
    83%{ width:68px }
    100%{ width:82px }
}

@-webkit-keyframes scene4-pw-mo{
    16.6%{ width:11px }
    33.2%{ width:23px }
    49.8%{ width:35px }
    66.4%{ width:46px }
    83%{ width:58px }
    100%{ width:70px }
}
@keyframes scene4-pw-mo{
    16.6%{ width:11px }
    33.2%{ width:23px }
    49.8%{ width:35px }
    66.4%{ width:46px }
    83%{ width:58px }
    100%{ width:70px }
}