$urlImg : "../image/";
$baseFontSize : 16;
@function px($pixels, $context: $baseFontSize) {
  @return ($pixels) / $context + rem;
}

@mixin blind {
    position: absolute;
	width: 1px;
	height: 1px;
	clip: rect(1px, 1px, 1px, 1px);
}

@mixin clear {
    &:after{
        content: '';
        display: block;
        clear: both;
    }
}

@mixin roboto{
    font-family: 'Roboto','Noto Sans KR', sans-serif;
}

$inr: 20;
@mixin inr($cus:false, $v:null){    
    @if $cus{
        padding-right:px($v);
        padding-left:px($v);
    }@else{
        padding-right:px($inr);
        padding-left:px($inr);
    }
}

@mixin pos($p: null,$l: null,$r: null,$t: null,$b: null) {
    position: $p;
    left: $l;
    right: $r;
    top: $t;
    bottom: $b;
}

@mixin bdr($v:null, $o:false){
    overflow: hidden;
    @if $o {
        border-radius:50%;
    }@else{
        border-radius:px($v);
    }
}

@mixin bgf {
    position:static;
    display:inline-block;
    vertical-align:middle;
    background-repeat:no-repeat;
    background-size:100% 100%;
    color:transparent;
    white-space:nowrap;
    text-indent:-1000rem;
    font-size:1px;
}

@mixin bgIcon {
    background-repeat:no-repeat;
    background-position: 50% 50%;
    background-size:100% 100%;
}
@mixin bankIcon {
    &:before{
        content: '';
        display: inline-block;
        width: px(23);
        height: px(23);
        @include pos($p:absolute,$l:0,$t:0);
        @include bgIcon;
    }
    /* 
        002: 산업은행
        003: 기업은행
        004: 국민은행
        007: 수협은행
        011: 농협은행
        020: 우리은행
        023: SC은행
        027:씨티은행
        031: 대구은행
        032: 부산은행
        034: 광주은행
        035: 제주은행
        037: 전북은행
        039: 경남은행
        045: 새마을금고
        048: 신협
        71: 우체국
        081: 하나은행
        088: 신한은행
        089: K뱅크
        090: 카카오뱅크
        103: SBI저축은행
        209: 유안타증권
        218: KB증권
        238: 미래에셋대우증권
        240: 삼성증권
        243: 한국투자증권
        264: 키움증권
        265: 이베스트증권
        267: 대신증권
        270: 하나금융투자
        278: 신한투자증권
        280: 유진투자증권
        287: 메리츠증권
        289: NH투자증권
    */
    &[data-bank="002"]{
        &:before{
            background-image: url($urlImg + 'logo/logo_bank_002.png');
        }
    }
    &[data-bank="003"] {
        &:before {
            background-image: url($urlImg + 'logo/logo_bank_003.png');
        }
    }
    &[data-bank="004"]{
        &:before{
            background-image: url($urlImg + 'logo/logo_bank_004.png');
        }
    }
    &[data-bank="007"] {
        &:before {
            background-image: url($urlImg + 'logo/logo_bank_007.png');
        }
    }
    &[data-bank="011"]{
        &:before{
            background-image: url($urlImg + 'logo/logo_bank_011.png');
        }
    }
    &[data-bank="020"] {
        &:before {
            background-image: url($urlImg + 'logo/logo_bank_020.png');
        }
    }
    &[data-bank="023"]{
        &:before{
            background-image: url($urlImg + 'logo/logo_bank_023.png');
        }
    }
    &[data-bank="027"] {
        &:before {
            background-image: url($urlImg + 'logo/logo_bank_027.png');
        }
    }
    &[data-bank="031"]{
        &:before{
            background-image: url($urlImg + 'logo/logo_bank_031.png');
        }
    }
    &[data-bank="032"] {
        &:before {
            background-image: url($urlImg + 'logo/logo_bank_032.png');
        }
    }
    &[data-bank="034"]{
        &:before{
            background-image: url($urlImg + 'logo/logo_bank_034.png');
        }
    }
    &[data-bank="035"] {
        &:before {
            background-image: url($urlImg + 'logo/logo_bank_035.png');
        }
    }
    &[data-bank="037"]{
        &:before{
            background-image: url($urlImg + 'logo/logo_bank_037.png');
        }
    }
    &[data-bank="039"] {
        &:before {
            background-image: url($urlImg + 'logo/logo_bank_039.png');
        }
    }
    &[data-bank="045"]{
        &:before{
            background-image: url($urlImg + 'logo/logo_bank_045.png');
        }
    }
    &[data-bank="048"] {
        &:before {
            background-image: url($urlImg + 'logo/logo_bank_048.png');
        }
    }
    &[data-bank="71"]{
        &:before{
            background-image: url($urlImg + 'logo/logo_bank_71.png');
        }
    }
    &[data-bank="081"] {
        &:before {
            background-image: url($urlImg + 'logo/logo_bank_081.png');
        }
    }
    &[data-bank="088"]{
        &:before{
            background-image: url($urlImg + 'logo/logo_bank_088.png');
        }
    }
    &[data-bank="089"] {
        &:before {
            background-image: url($urlImg + 'logo/logo_bank_089.png');
        }
    }
    &[data-bank="090"]{
        &:before{
            background-image: url($urlImg + 'logo/logo_bank_090.png');
        }
    }
    &[data-bank="103"] {
        &:before {
            background-image: url($urlImg + 'logo/logo_bank_103.png');
        }
    }
    &[data-bank="209"]{
        &:before{
            background-image: url($urlImg + 'logo/logo_bank_209.png');
        }
    }
    &[data-bank="218"] {
        &:before {
            background-image: url($urlImg + 'logo/logo_bank_218.png');
        }
    }
    &[data-bank="238"]{
        &:before{
            background-image: url($urlImg + 'logo/logo_bank_238.png');
        }
    }
    &[data-bank="240"] {
        &:before {
            background-image: url($urlImg + 'logo/logo_bank_240.png');
        }
    }
    &[data-bank="243"]{
        &:before{
            background-image: url($urlImg + 'logo/logo_bank_243.png');
        }
    }
    &[data-bank="264"] {
        &:before {
            background-image: url($urlImg + 'logo/logo_bank_264.png');
        }
    }
    &[data-bank="265"]{
        &:before{
            background-image: url($urlImg + 'logo/logo_bank_265.png');
        }
    }
    &[data-bank="267"] {
        &:before {
            background-image: url($urlImg + 'logo/logo_bank_267.png');
        }
    }
    &[data-bank="270"]{
        &:before{
            background-image: url($urlImg + 'logo/logo_bank_270.png');
        }
    }
    &[data-bank="278"] {
        &:before {
            background-image: url($urlImg + 'logo/logo_bank_278.png');
        }
    }
    &[data-bank="280"]{
        &:before{
            background-image: url($urlImg + 'logo/logo_bank_280.png');
        }
    }
    &[data-bank="287"] {
        &:before {
            background-image: url($urlImg + 'logo/logo_bank_287.png');
        }
    }
    &[data-bank="289"] {
        &:before {
            background-image: url($urlImg + 'logo/logo_bank_289.png');
        }
    }
}

@mixin checkbox($type:null){
    display:inline-block;
    position:relative;
    input{
        @include blind; 
    }
    input + label{
        display:inline-block;
        position:relative;
        cursor:pointer;
        &:before{
            content:'';
            display:inline-block;
            position:absolute;
            background-repeat:no-repeat;
            background-size:100% 100%;
        }
    }
}

@mixin checkToggle {
    position:relative;
    display:inline-block;
    width:px(42);
    height:px(24);
    background-color:#d3d3d3;
    @include bdr(18*2);
    &, &:before{
        transition: .25s;
    }
    &:before{
        content:'';
        display:inline-block;
        @include pos(absolute, $t:px(1.5), $l:px(2));
        width:px(42/2);
        height:px(42/2);
        background-color:#fff;
        border-radius:50%;
    }
    &:checked{
        background-color:#222;
        &:before{
            transform: translateX(px(17));
        }
    }
    &.active{
        background-color:#222;
        &:before{
            transform: translateX(px(17));
        }
    }
}

@mixin arr($w:null, $h:null, $c:null, $ro:null){
    font-size:0;line-height:0;color:transparent;
    display:inline-block;
    width:$w;height:$h;
    vertical-align:middle;
    border-width:1px 1px 0 0;
    border-style:solid;
    border-color:$c;
    transform: rotate($ro + deg);
}

@mixin iplus($w:null, $h:null, $c:null, $ro:null){
    font-size:0;line-height:0;color:transparent;
    display:inline-block;
    vertical-align:middle;
    position:relative;
    height:1px;width:$w;
    background-color:$c;
    transform: rotate($ro + deg);
    &:before{
        content:'';
        display:inline-block;
        width:1px;height:$h;
        background-color:$c;
        @include pos(absolute, $t:50%, $l:50%);
        transform: translate(-50%,-50%);
    }
}

@mixin semo($w:null, $h:null, $c:null, $ro:null){
    font-size:0;line-height:0;color:transparent;
    display:inline-block;vertical-align:middle;
    width:0;height:0;
    border-left: $w solid transparent;
    border-right: $w solid transparent;
    border-top: $h solid $c;
    transform: rotate($ro + deg);
}

@mixin divide($w:null, $h:null, $c:null){
    display:inline-block;
    width:$w;
    height:$h;
    background-color:$c;
}

@mixin btn($bc:null, $bg:null, $fs:null, $br:null, $fc:null, $fw:null){
    border-radius:$br;
    background-color:$bg;
    font-weight:$fw;
    font-size:$fs;
    color:$fc;
    @if $bc{
        border-width:1px;
        border-style:solid;
        border-color:$bc;
    }
}
// @include btn($bc:, $bg:, $fs:, $br:, $fc:, $fw:);

@mixin bar($h:null, $c:null){
    position:relative;
    z-index:1;
    &:before{
        content:'';
        display:inline-block;
        height:$h;
        background-color:$c;
        position:absolute;
        z-index:-1;
    }
}

@mixin new($c:null, $w:4px, $h:4px){
    position:relative;display:inline-block;
    &:after{
        content:'';
        display:block;
        width:$w;height:$h;
        background-color:$c;
        border-radius:50%;
        @include pos(absolute, $r:px(-9), $t:px(3));
    }
}

@mixin iscroll($type:null, $w:null, $h:null){
	-webkit-overflow-scrolling: touch;
    @if $type == "y" {
        overflow-x:hidden;
        overflow-y:scroll;
        width:$w;
        height:$h;
    }@else if $type == "x" {
        overflow-y:hidden;
        overflow-x:scroll;
        width:$w;
        height:$h;
    }@else if $type == "xy" {
        overflow:scroll;
        width:$w;
        height:$h;
    }
}

@mixin elip($type){
    @if $type == "line1" {
        display:inline-block;
        text-overflow:ellipsis;
        white-space:nowrap;
        word-wrap:normal;
        overflow:hidden;
        max-width:100%;
        line-height:1.2
    }@else if $type == "line2" {
        overflow:hidden;
        text-overflow: ellipsis;
        display: -webkit-box;
        -webkit-line-clamp: 2; /* 라인수 */
        -webkit-box-orient: vertical;
        word-wrap:break-word;
        line-height:1.3;
    }
}

@mixin mq($screen-width){
    @if $screen-width == "small" {
        @media all and (max-width:320px) {
            @content;
        }
    }@else if $screen-width == "fold" {
        @media all and (min-width:640px) {
            @content;
        }
    }
}

@mixin loading($style:null, $w:null, $h:null, $st:null, $c:null){
    display:inline-block;
    @if $style == "circle" {
        @keyframes ball-clip-rotate{
            0%{transform: rotate(0deg)}
            50%{transform: rotate(180deg)}
            100%{transform: rotate(360deg)}
        }
        width:$w;height:$h;border-radius:100%;
        border:0 solid $c;border-bottom-color: transparent;
        border-width:$st;
        animation: ball-clip-rotate 0.75s linear infinite;
    }
}