@charset "utf-8";

/* rest */
body{background-color:#fff}
body.type{background-color:#f1f1f1}
body.type2{background-color:#f4f4f4}
.fc_blu{color:#27236a !important}
.fc_blu2{color:#006cff !important}
.fc_red{color:#dd0a6d !important}
.fc_red2{color:rgba(221,10,109,.5) !important}
.fc_red3{color:#fc3948 !important}
.fc_red4{color:#ef1b1b !important}
.fc_pur{color:#3228ce !important}

.input_type input, .input_type .lbl{color:#3228ce}
.input_type .select_btn{color:#3228ce;background-image:url(../images/skt_select_arr6.png)}

.ico_com{display:inline-block;background:url(../images/skt_bg_com.png) no-repeat;background-size:16rem auto;vertical-align:middle;color:transparent;white-space:nowrap;text-indent:-1000rem}
.ico_t{width:1.75rem;height:1.85rem}
.ico_plus{width:2rem;height:2rem;background-position:-2.25rem 0}
.ico_cal{width:1.75rem;height:1.65rem;background-position:-8.8rem 0}
.ico_arr_prev{width:.875rem;height:1.625rem;background-position:-5.9rem -11.95rem}
.ico_arr_next{width:1.15rem;height:1.15rem;background-position:-11.35rem -8.25rem}
.ico_arr_next2{width:.55rem;height:1rem;background-position:-10.95rem -3.95rem}
.ico_arr_next3{width:.7rem;height:1.3rem;background-position:-6.65rem -9rem}
.ico_arr_next4{width:.5rem;height:.85rem;background-position:-15.15rem -2.9rem}
.ico_arr_next5{width:.55rem;height:1.05rem;background-position:-7.85rem -9rem}
.ico_arr_next6{width:.7rem;height:1.3rem;background-position:-9rem -9rem}
.ico_arr_next7{width:.65rem;height:1.25rem;background-position:-2.85rem -11.95rem}
.ico_arr_up{width:1.5rem;height:2.2rem;background-position:-10.95rem 0}
.ico_x{width:1.3rem;height:1.3rem;background-position:-6.45rem -2.5rem}
.ico_x2{width:1.35rem;height:1.35rem;background-position:-12.6rem -2.9rem}
.ico_x3{width:2.45rem;height:2.45rem;background-position:0 -9rem}
.ico_chk{width:1.15rem;height:1rem;background-position:0 -6.3rem}
.ico_refresh{width:1.15rem;height:1.15rem;background-position:-9.7rem -6.3rem;vertical-align:top}
.ico_refresh2{width:1.45rem;height:1.4rem;background-position:-10.85rem -8.7rem;background-size:18rem auto;vertical-align:top}
.ico_p{width:1.6rem;height:1.6rem;background-position:-11.3rem -6.2rem}
.ico_cau3{width:1.55rem;height:1.55rem;background-position:-14.45rem 0}
.ico_cau4{width:1.6rem;height:1.6rem;background-position:-8.75rem -3.9rem}
.ico_gear{width:1.8rem;height:1.75rem;background-position:-13.25rem -6.25rem}
.ico_gear2{width:1.65rem;height:1.65rem;background-position:-13.35rem -8.45rem}
.ico_down{width:1.7rem;height:1.5rem;background-position:-6.45rem -4.3rem}
.ico_down2{width:1.7rem;height:1.5rem;background-position:-6.45rem -4.3rem;-webkit-transform: rotate(90deg);transform: rotate(90deg)}
.ico_dollar{width:1.85rem;height:1.85rem;background-position:-4.4rem -8.9rem}
.ico_curve_up, .ico_curve_dw{display:inline-block;width:/**/;height:/**/;background-size:100% 100%;vertical-align:middle}
.ico_curve_up{background-image:url(../images/ico_curve_up.png)}
.ico_curve_dw{background-image:url(../images/ico_curve_dw.png)}
.ico_smile{width:2.25rem;height:2.25rem;background-position:0 -11.95rem}
.ico_{width:;height:;background-position:}

.grim_com{display:inline-block;background:url(../images/bg_grim.png) no-repeat;background-size:16rem auto;vertical-align:middle;color:transparent;white-space:nowrap;text-indent:-1000rem}
.grim_nodata{width:5.1rem;height:4rem;background-position:0 0}
.grim_nodata2{width:4.15rem;height:4.55rem;background-position:-6.1rem 0}
.grim_nodata3{width:4.15rem;height:4.55rem;background-position:-6.1rem 0}
.grim_heart{width:1.6rem;height:4.5rem;background-position:-2.7rem -5.8rem}
.grim_t{width:2.25rem;height:2.3rem;background-position:-8.75rem -5.4rem;vertical-align:top}
.grim_shield{width:5.05rem;height:5.05rem;background-position:-10.6rem 0}
.grim_gift{width:2.3rem;height:2.1rem;background-position:-10.2rem -10.4rem}
.grim_notice{width:2.5rem;height:2.05rem;background-position: right bottom}
.grim_{width:;height:;background-position:}

.rank_com{display:inline-block;background:url(../images/bg_grim.png) no-repeat;background-size:16rem auto;vertical-align:middle;color:transparent;white-space:nowrap;text-indent:-1000rem}
.rank_ico1{width:;height:;background-position:}

.checkbox.circle input + label:before{width:2.8rem;height:2.8rem;left:0;top:50%;margin-top:-1.05rem;background-image:url(../images/checkbox_circle.png)}
.checkbox.circle input + label:active:before,
.checkbox.circle input:checked + label:active:before,
.checkbox.circle input:checked + label:before{background-image:url(../images/checkbox_circle_on.png)}

.checkbox.check input + label{padding-left:2.2rem;font-size:1.25rem;color:#7d7d7d}
.checkbox.check input + label:before{width:1.15rem;height:.9rem;left:0;top:.35rem;background-image:url(../images/checkbox_check.png)}
.checkbox.check input + label:active:before,
.checkbox.check input:checked + label:active:before,
.checkbox.check input:checked + label:before{background-image:url(../images/checkbox_check_on.png)}

.mt_ratio .tip, .mt_ratio .tip:before{background-color:#7b48e2}
.mt_ratio .tip2, .mt_ratio .tip2:before{background-color:#1a1ce2}
.mt_ratio.c1 .gage{background:#9e9ae2}
.mt_ratio.c2 .gage{background:#4446ea}

/* btn */
.btn_m{line-height:2.5rem;text-align:center;display:inline-block;font-size:1.15rem;border-style:solid;border-width:1px;font-weight:400}
.btn_r{line-height:3.8rem;text-align:center;display:inline-block;font-size:1.2rem;border-style:solid;border-width:1px}
.btn_r2{line-height:3.5rem;text-align:center;display:inline-block;font-weight:500;font-size:1.15rem}
.btn_xr{line-height:4.65rem;text-align:center;display:inline-block;font-size:1.6rem;border-style:solid;border-width:1px;font-weight:500}
.btn_xr2{line-height:5.2rem;text-align:center;display:inline-block;font-weight:500;font-size:1.52rem}
.btn_xxr{line-height:5.65rem;text-align:center;display:inline-block;font-weight:400;font-size:1.4rem}
.btn_type{background-color:#27236a;border-color:#27236a;color:#fff}
.btn_type2{background-color:#f05050;border-color:#f05050;color:#fff}
.btn_type3{background:#cbcbcb;color:#fff}
.btn_type3.on{background:#f33f42}
.btn_type4{background:#585858;border-color:#585858;color:#fff}
.btn_type5{background:#2bb7b3;border-color:#2bb7b3;color:#fff}
.btn_type6{background:#b7bcc3;border-color:#b7bcc3;color:#fff}
.btn_type7{background-color:transparent;border-color:rgba(119,119,119,.5);color:#333}
.btn_type8{background:#cbcbcb;color:#fff}
.btn_type8.on{background:#27236a}
.btn_type9{background:#ececec;border-color:#ececec;color:#666}
.btn_type10{background:#3b39a0;border-color:#3b39a0;color:#fff}

.btn_area:after{display:block;clear:both;content:''}
.btn_area li{float:left;width:70%}
.btn_area li:first-child{width:30%}
.btn_area a, .btn_area button{width:100%}

.btn_top{top:-1.95rem;right:1.2rem;background-color:#fff;border:1px solid #dadada;width:3.9rem;height:3.9rem}
.btn_top i{width:1.3rem;height:1.8rem;background-position:-4rem -11.95rem}
.btm_btn_area a,
.btm_btn_area button{background-color:#3b39a0}

.cheese{width:13rem;bottom:-12.4rem;color:#4a47ef}

.tab_type2.v1{border-bottom:1px solid #f2f2f2}

/* layout */
#footer .nav{background-color:#e9e9e8}
#footer .nav li:before{color:#afb4b6}

/* 상단스타일 */
.graph_bank{padding:0 1.75rem 3rem 1.85rem;background-color:#27236a}
.graph_bank dd ul{margin-left:1.3rem}
.graph_bank dd li{margin-bottom:.5rem;font-size:1.7rem;color:#fff}
.graph_bank dd .stit{top:.35rem;font-size:1.2rem}
.graph_bank dd .crv{font-size:1.2rem}
.graph_bank dd .crv.up{color:#ed498f}
.graph_bank dd .crv.dw{color:#49a1eb}
.graph_bank dd li:first-child .stit:before{background-color:#5b67fe}
.graph_bank dd li:nth-child(2) .stit:before{background-color:#5bcefe}
.graph_bank .update{margin-top:1.5rem}
.graph_bank .btn_refresh{color:#807cc8}
.graph_bank .btn_refresh i{margin:-.1rem .3rem 0 0}
.graph_bank .btn_txlink{font-size:1.1rem;color:#fff}
.graph_bank .btn_txlink span{border-bottom:1px solid #4964a5;color:#7cc5fe}
.graph_bank .btn_txlink .ico_arr_next{margin:-.3rem 0 0 .4rem}

body.type2 #header h1{background-color:#f1f1f1}
#header h1{background-color:#fff;font-size:1.5rem;color:#222}
#header .btn_t{position:absolute;top:.5rem;left:.5rem;padding:.8rem .7rem}
#header .ico_t{width:2.25rem;height:2.3rem;background-size:19.2rem auto}
#header .btn_prev{position:absolute;top:.2rem;left:0;padding:1.3rem 1.5rem}
#header .btn_prev i{
    width:1.75rem;height:1.45rem;
    background-position:-10.05rem -9.95rem;
}
#header .btn_prev_txt{line-height:4.1rem;padding-left:1.1rem;font-size:1.45rem;color:#fff}
#header .btn_prev_txt .ico_com{vertical-align:text-top;margin:.2rem 1.2rem 0 0}
#header .btn_copy{position:absolute;top:1rem;right:1.75rem;line-height:2rem;padding:0 .75rem;border:.1rem solid #fff;color:#fff}
#header .btn_cls{position:absolute;top:.6rem;right:0;padding:1.3rem}
#header .btn_set{position:absolute;top:.3rem;right:0;padding:1.3rem}
.head_type{background-color:#27236a}
.head_type .tab_type{margin:1.75rem 4.7rem 0}
.head_type .total_price .stit{color:rgba(255,255,255,.5)}
.head_type .total_price.type{margin-top:1.75rem}
.head_type .total_price2 .curve{color:#fff !important}
.head_type .total_price2 .curve.up i{background-position:-2.95rem -9rem}
.head_type .total_price2 .curve.dw i{background-position:-2.95rem -10rem}
.head_type .total_price3{padding:1.75rem 1.75rem 0;text-align:center}
.head_type .total_price3 .name_set{color:#9995d1}
.head_type .total_price3 .actlink{border-top:1px solid #3b3878}
.head_type .total_price3 .actlink>li:before{background-color:#4e4c85}
.head_type .total_price3 .actlink i{margin:-.4rem .7rem 0 0}
.head_type .lately{background-color:#a3b0f0;color:rgba(22,34,92,.5)}
.head_type .btn_cau{background-color:#252b3c}
.head_type .btn_cau .ico_cau{margin:-.2rem .6rem 0 0}
.head_type .subtitle .btn_prev{padding:.95rem 1.1rem}
.head_type .nocfirm u{border-bottom:1px solid rgba(255,255,255,.6)}
.head_type .nocfirm .ico_arr_next6{margin:-.2rem 0 0 .7rem}
.head_type .nodata .ico_arr_next6{margin:-.2rem 0 0 .7rem}
.head_type.simp .grim_shield{background-position:-6.4rem -10.35rem}
.head_type2:before{background-color:#27236a}
.head_type2 .mypoint{color:#fddb1a}
.head_type2 .mypoint u{border-bottom:1px solid #fddb1a}
.head_type2 .ui_fix{background-color:#27236a}
.head_type3{background-color:#27236a}
.head_type4{background-color:#353e51}
.head_type4 .total_price .btn_prev{padding:1.3rem 1.1rem}
.head_type4 .total_price strong:before{background-color:#9ba3b7}
.head_type5 .ico_arr_prev{background-position:-7.05rem -11.95rem}

/* content */
.btn_total{background-color:#27236a;color:#fff}

h1.freeFix{background:#27236a !important}
.free_title{padding:.3rem 3.5rem 3rem}
.free_title .mt_tooltip{letter-spacing:-.25rem;font-size:3.3rem;font-weight:100;line-height:2.8rem}
.free_title .b_iconbox{margin:1.5rem auto -1.8rem}
.free_title .b_iconbox .b_iconb{display:inline-block;width:8.1rem;height:8.45rem;background:url(../images/skt_icon_wallet.png) no-repeat;background-size:100% 100%}
.free_title .won:before{background-color:#fff}
.free_title .won .mt_wave > b{color:#fff}
.free_title .data+p{color:#a4cdff}
.free_title .btn_link{background-color:#393a9c}
.free_title .btn_link.ani .gage{background-color:#5b67fe}
.free_title .btn_prev{position:absolute;top:0;left:-1.3rem;padding:1.2rem}
.free_title .btn_prev_type{margin:1.2rem;padding:0;left:0}
.free_title.bg {padding:0.3rem 2.5rem 3rem}
.free_title .bgWrap {margin:0 -2.5rem; background: url(../images/skt_free_head_bg.png) no-repeat right top; background-size: 10.95rem auto}
.free_title .conTit,
.free_title .rankList {margin:0 2.5rem;text-align: left;font-weight:100}
.free_title .conTit {color: #fff;font-size:3.25rem;letter-spacing: -0.15rem}
.free_title .conTit .titH {position:relative;padding: 0 0.6rem 0 0; color: #76eaff;z-index:1}
.free_title .conTit .titH:after {overflow:hidden;content: ''; display: block; width: 0; height: 1.45rem; position:absolute; left:0; right: 0; bottom:0; background-color: rgba(67,58,217, 0.9); z-index: -1;transition: width 1000ms ease-out}
.free_title .conTit .titH.show:after {width:13.5rem}
.free_title .conTit .monthly {display: block;margin:1.25rem 0 2.625rem;font-size:1.2rem;color:#8882f3;letter-spacing: -1px}
.free_title .rankList {position: relative;height:17rem}
.free_title .rankList li {float: left;position:absolute;width:8.65rem;height:100%;bottom:0;box-sizing: border-box}
.free_title .rankList li * {display:block}
.free_title .rankList li:nth-of-type(1) {left:0;z-index:4}
.free_title .rankList li:nth-of-type(2) {left:6.95rem;z-index:3}
.free_title .rankList li:nth-of-type(3) {left:13.9rem;z-index:2}
.free_title .rankList li:nth-of-type(4) {left:20.9rem;z-index:1}
.free_title .rankList li .gageWrap {position: absolute;bottom:0;width:100%}
.free_title .rankList li .gage {overflow:hidden;height:0;position:relative;background-repeat: no-repeat; background-position: left top; background-size: 100% auto;transition: height 400ms ease-out}
.free_title .rankList li:nth-of-type(1) .gage {background-image: url(../images/bank_free_content_gage1.png)}
.free_title .rankList li:nth-of-type(2) .gage {background-image: url(../images/bank_free_content_gage2.png);transition-delay: 400ms}
.free_title .rankList li:nth-of-type(3) .gage {background-image: url(../images/bank_free_content_gage3.png);transition-delay: 700ms}
.free_title .rankList li:nth-of-type(4) .gage {background-image: url(../images/bank_free_content_gage4.png);transition-delay: 1000ms}
.free_title .rankList.show li:nth-of-type(1) .gage {height:13.35rem}
.free_title .rankList.show li:nth-of-type(2) .gage {height:11.85rem}
.free_title .rankList.show li:nth-of-type(3) .gage {height:10.35rem}
.free_title .rankList.show li:nth-of-type(4) .gage {height:8.85rem}
.free_title .rankList li .gage .desc {position: absolute;left:0.75rem;top:1.4rem}
.free_title .rankList .rankNum {font-size: 1.6rem; position:relative; padding-bottom: 1.5rem; margin-left: 0.75rem; opacity: 0; transition: opacity 400ms ease}
.free_title .rankList li:nth-of-type(2) .rankNum {transition-delay: 400ms}
.free_title .rankList li:nth-of-type(3) .rankNum {transition-delay: 700ms}
.free_title .rankList li:nth-of-type(4) .rankNum {transition-delay: 1000ms}
.free_title .rankList.show .rankNum {opacity: 1}
.free_title .rankList .rankNum em {display: inline; font-size: 2.8rem}
.free_title .rankList .rankNum:after {content: ''; display: block; position: absolute; width:0.15rem; height: 1rem; left: 0.8rem; background: url(../images/bank_free_gage_dot.png) no-repeat left top;background-size: 100% 100%}
.free_title .rankList .company {font-size: 1.25rem}
.free_title .rankList .precent {font-size: 1.6rem;font-weight:500}
.free_title.bg .btnWrap {margin: 0 -2.5rem -3rem;padding: 0 2.5rem 3rem;position:relative;background-color: #36318a}
.free_title.bg .btnWrap:before {content: ''; display: block; width: 100%;height:5.5rem;position: absolute;left:0;right:0;bottom:100%;z-index: 5;background: -webkit-linear-gradient(top,  rgba(54,49,138,0.0) 0%, #36318a 50%, #36318a 100%)}

.free_title.bg .btn_link {margin-top:0;border: 1px solid #fff;background-color: #36318a}
.free_head{background-color:#36318a}
.free_head h1{color:#fff !important}
.free_head h1.freeFix{background-color:#36318a !important}
.free_head .btn_prev{position:fixed !important;z-index:40}
.free_head .btn_prev i{background-position:-6.7rem 0 !important}
.free_head .btn_set{position:absolute;top:0;right:.4rem;padding:1rem}
.free_contents section{padding:0 2.5rem;background-color:#fff;border-top:1px solid #ececec}
.free_contents section .free_txt{display:inline-block;font-size:1.6rem;color:#27236a;line-height:1.2em;border-bottom:1px solid #27236a}
.free_contents section .btn_skip{width:92.6%;margin-top:5.3rem;margin-left:0.97rem;line-height:4.5rem;font-size:1.3rem;border:1px solid #27236a;color:#27236a}
.free_contents section .skip_link button u{color:#fc3948}
.free_contents .section1{border-top:0;padding-top:3.5rem}
.free_contents .section1 .circle{width:20.5rem;height:20.5rem;line-height:20.5rem;border-radius:50%;box-shadow:0 .2rem .5rem rgba(0,0,0,.3);background-color:#e6ecf0}
.free_contents .section1 .circle canvas{width:100%;height:100%}
.free_contents .section1 .circle.zero canvas{display:none}
.free_contents .section1 .money_box_txt{display:inline-block;position:relative;z-index:1;font-size:1.7rem;margin-top:1.4rem;font-weight:500;color:#27236a}
.free_contents .section1 .money_box_txt strong{font-size:3.5rem}
.free_contents .section1 .money_box_txt:before{content:'';display:block;height:1.15rem;background-color:#d9e3ff;position:absolute;left:0;bottom:.2rem;width:100%;z-index:-1}
.free_contents .section1 .money_box_txt~p{text-align:left;margin-top:.4rem;font-weight:300;font-size:.9rem;color:#505050}
.free_contents .section2{border-top:0;padding-bottom:3.5rem;border-bottom:1px solid #ececec}
.free_contents .section2 .mt_ratio{margin-top:7rem}
.free_contents .section2 #mt_ratio{margin-top:.5rem}
.free_contents .section2 .mt_ratio.zero{margin-top:.75rem}
.free_contents .section2 .result{margin-top:.9rem;text-align:center;font-size:1.1rem}
.free_contents .section2 .result:before{content:'';display:inline-block;width:1.1rem;height:1.1rem;vertical-align:text-top;margin:.05rem .35rem 0 0;background-color:#e7e5e5;border-radius:50%}
.free_contents .section2 .result strong{color:#fc3948}
.free_contents .section2 .cau{margin-top:4.1rem;text-align:center}
.free_contents .section2 .count2{position:relative;top:.15rem}
.free_contents .section3{position:relative;padding-top:3.5rem;margin-top:0}
.free_contents .section3 .btn_r{width:5.3rem;margin:0;position:absolute;top:3.6rem;right:2.6rem;line-height:1.7rem;border-radius:1.2rem;text-align:center;background-color:#ffffff;border:1px solid #4d71d8;font-size:1rem;color:#4b6cd2}
.free_contents .section3 .move_group{position:relative}
.free_contents .section3 .move_group .phonebg{width:37.7rem;height:38.5rem;position:relative;top:3.8rem;left:-.7rem;background:url(../images/s3_bg_and.png) no-repeat;background-size:37.7rem auto;z-index:10}
.free_contents .section3 .move_group .phonebg2{display:none;width:19.4rem;height:11.7rem;position:absolute;top:0.5rem;right:-23rem;background:url(../images/s3_bg2.png) no-repeat;background-size:19.4rem auto;z-index:11}
.free_contents .section3 .move_group .phonebg3{display:none;width:19.4rem;height:11.7rem;position:absolute;bottom:13.8rem;left:-21rem;background:url(../images/s3_bg3.png) no-repeat;background-size:19.4rem auto;z-index:11}
.free_contents .section3 .btn_skip{margin-top:0;position:relative;top:-4.5rem}
.free_contents .section3 .btn_sh{position:absolute;text-indent:-9999px;border:none;z-index:15}
.free_contents .section3 .btn_g{position:relative}
.free_contents .section4{position:relative;padding-top:3.8rem;height:69.5rem;background:url(../images/s4_bg.png) no-repeat 0 80%;background-size:100% auto;border-top:0;background-color: #f3f3f3}
.free_contents .section4 em{font-style:italic}
.free_contents .section4 h2{font-size:2.4rem}
.free_contents .section4 h2 strong{display:block;font-weight:600}
.free_contents .section4 h2 em{font-weight:400}
.free_contents .section4 h2+p{margin-top:1.5rem;font-weight:300;font-size:1.2rem;color:#000}
.free_contents .section4 h2+p strong{font-weight:400;color:#000;font-size:1.3rem}
.free_contents .section4 h2+p code{letter-spacing:-.2rem;display:inline-block;vertical-align:text-top;margin-top:-.6rem;font-family:'Roboto', sans-serif;font-size:2rem}
.free_contents .section4 h2+p~p{margin-top:1rem;line-height:1.5;font-weight:500;font-size:1.4rem;color:#000}
.free_contents .section4 h2+p~p em{font-weight:100}
.free_contents .section4 h2+p~p .pot{position:relative}
.free_contents .section4 h2+p~p .pot:before, .free_contents .section4 h2+p~p .pot:after{content:'';display:block;width:100%;position:absolute;left:0;background-color:#575757;height:1px}
.free_contents .section4 h2+p~p .pot:before{bottom:0}
.free_contents .section4 h2+p~p .pot:after{bottom:-2px}
.free_contents .section4 p .underLine{position:relative;padding:0 0.25rem 0 0.15rem;font-size:1.6rem;color:#443bdf;z-index:0}
.free_contents .section4 p .underLine:after{content: '';display: block;width:100%;height:0.8rem;position: absolute;bottom:0;background-color: #d0ceef; z-index:-1}
.free_contents .section4 .btn_skip{margin:0;width:auto;position:absolute;bottom:3.5rem;left:3.5rem;right:3.5rem}
.free_contents .compare {padding: 3.95rem 2.5rem 4.3rem}
.free_contents .compare h2 {position:relative;padding:4.3rem 0 1.5rem;margin:0 1.45rem;text-align: center;color: #222;font-size: 3rem}
.free_contents .compare h2 span {color: #c6c6c6;font-size: 2rem;font-weight:600}
.free_contents .compare .korea,
.free_contents .compare .america {font-size: 3rem;font-weight:400}
.free_contents .compare .america.colorP {color: #fa3535}
.free_contents .compare h2:before,
.free_contents .compare h2:after {content: '';display: block;position: absolute;top:0;width:2.7rem;height:2.7rem;background-repeat: no-repeat;background-position: 50% 50%;background-size:100% auto}
.free_contents .compare .colorP {color: #443bdf}
.free_contents .compare h2:before {background-image: url(../images/flag_korea.png);left:4.5rem}
.free_contents .compare h2:after {background-image: url(../images/flag_america.png);right:4.5rem}
.free_contents .compare .subTit {display: block; margin-bottom: 2.75rem; text-align: center; font-size: 1.4rem}
.free_contents .compare .stand {display: block; margin-top: 0.65rem; text-align: center; color: #959595; font-size: 1.1rem}
.free_contents .compare .btn_link {width: 100%; height: 4.8rem; margin-top: 2.5rem; text-align: center; font-size: 1.4rem; line-height: 4.8rem; color: #fff; background-color: #36318a}
.free_contents .compare ul {overflow: hidden}
.free_contents .compare ul li {float: left;width: 50%}
.free_contents .compare .compareList {height: 18.25rem; background: url(../images/compareList_bg.png); border-bottom: 0.2rem solid #656565}
.free_contents .compare .compareList li {height: 100%;position: relative;box-sizing:border-box}
.free_contents .compare .compareList li:nth-of-type(1) {text-align: right}
.free_contents .compare .compareList li .gage {overflow:hidden;width:100%;height:0;position:relative;background-repeat: no-repeat;background-size:100% auto;transition: height 1000ms ease}
.free_contents .compare .compareList.show li:nth-of-type(1) .gage{background-image: url(../images/free_content_compare_gage1.png);background-position: right bottom}
.free_contents .compare .compareList.show li:nth-of-type(2) .gage{background-image: url(../images/free_content_compare_gage2.png);background-position: left bottom}
.free_contents .compare .compareList.show li:nth-of-type(1) .gage{height:2rem}
.free_contents .compare .compareList.show li:nth-of-type(2) .gage{height:12.5rem}
.free_contents .compareList .compareWrap {position: absolute;bottom: 0;width: 100%;padding: 0 1.75rem}
.free_contents .compareList .compareWrap .percent {display:inline-block;position:relative;padding-bottom:3.25rem;font-weight:600}
.free_contents .compare li:nth-of-type(1) .percent {right:2.5rem;font-size:1.5rem}
.free_contents .compare li:nth-of-type(2) .percent {left:0.6rem;font-size:2rem}
.free_contents .compare li:nth-of-type(2) .colorP {color: #fa3535}
.free_contents .compareList .percent:before {content: ''; display: block;width:0.15rem;height:1.65rem;position: absolute;left:50%;margin-left:-0.15rem;bottom:0.9rem;background-repeat: no-repeat;background-size: 100% 100%}
.free_contents .compareList li:nth-of-type(1) .percent:before {background-image: url(../images/free_cont_compare_dot1.png)}
.free_contents .compareList li:nth-of-type(2) .percent:before {background-image: url(../images/free_cont_compare_dot2.png)}
.free_contents .compareList .percent .dot {display: block; width: 1.2rem; height: 1.2rem; position: absolute; bottom: -0.6rem; left:50%;margin-left:-0.6rem;border-radius: 50%;background-color: #fff;z-index:1;opacity: 1}
.free_contents .compareList .percent .dot:before {content: ''; display: block; position: absolute;left:50%;top:50%;width:0.7rem;height:0.7rem;margin-left:-0.35rem;margin-top:-0.35rem;background-color: #443bdf;z-index:2;border-radius: 50%}
.free_contents .compare li:nth-of-type(1) .percent .dot:before {background-color: #808080}
.free_contents .compare .subList {margin-top: 1.25rem}
.free_contents .compare .subList li {padding: 0 1.75rem; font-weight: 600; font-size: 1.4rem; color: #222}
.free_contents .compare .subList .name {padding-left: 0.9rem}
.free_contents .compare .subList li:first-child {text-align: right}
.free_contents .compare .subList li:first-child .name {padding-left:0;padding-right:2rem}

.bankset_area .btn_follow{background-color:#f5f7f8}
.conect_section .upchg_bank .input.focus,
.conect_section .frmfill .input,
.conect_section .frmfill .input.focus{border-color:#3228ce}
.conect_section hgroup{background-color:#f4f4f4}

.theme_topic_top h2{color:#222}
.theme_topic_top h2 strong{font-weight:700}
.theme_topic_top h2+p{color:#858585}
.theme_topic_top[data-figure="fig1"]{padding-bottom:3.9rem}
.theme_topic_top[data-figure="fig1"] h2{padding-top:1.6rem}
.theme_topic_top:before{display:none}

.ars_section .callbx li:last-child{background-color:#3944cd}

/* only page */
/* #ct{position:relative} */
#ct.assets_main, #ct.assets_list, #ct.eyivstMain, #ct.assets_cmaset, #ct.ostocknews,#ct.thmetopic {padding-bottom:3.9rem}
#ct.conct_bank, #ct.authorset{padding-bottom:5.2rem}
#ct.depfill{padding-bottom:13.8rem}
#wrap.ct-over #ct.conct_bank, #wrap.ct-over #ct.depfill, #wrap.ct-over #ct.authorset{padding-bottom:0 !important}
#ct.thmetopic .theme_topic_goods,
#ct.thmetopic .theme_topic_event,
#ct.ostocknews .theme_news_goods{margin-top:-2.3rem}
#ct.eyivstMain .stock_status a.data{background-color:#fff}
/*#ct.thmetopic, #ct.ostocknews{-webkit-transform:translateZ(0);transform:translateZ(0)}*/
#ct.assets_main .ui_cover{padding-top:2.7rem;padding-bottom:0}
#ct.assets_main .ui_table .mcell{width:50%}
#ct.easyagree .tooltip_ball{top:-2.4rem;margin-left:-5rem}
#ct.easyagree .tooltip_ball:before{left:6rem}
#ct.assets_list .ui_cover{padding-top:1.7rem}
#ct.assets_list .list_type{margin-top:2.25rem}
#ct.assets_list .ui_table .mcell{width:50%}
#ct.dtrecom_list .list_type.type>ul>li>button{padding:1.75rem .5rem}
#ct.dtrecom_list .list_type.type>ul>li:last-child>button{border-bottom:0}
#ct.dtrecom_list .list_type.type2{margin-top:2.5rem}
#ct.dtrecom_detail .ui_cover{padding-top:1rem}
#ct.dtrecom_detail .list_type4>li{padding-top:0;padding-bottom:0}
#ct.dtrecom_detail .list_type4 .mcell, .list_type4 .tcell{height:5rem}
#ct.dtrecom_frm .btn_skip{width:100%;margin-top:1.5rem}
#ct.ostocknews .theme_topic_top2{height:10.5rem}
body.openEvt{background-color:#215af2}
#ct.openEvt .tooltip2{top:-2.5rem;margin-left:-2.7rem}
#ct.openEvt .tooltip2:before{left:6rem}
#ct.b-bank_list .ui_cover{padding-top:2.5rem}

/* popup */
.ly_bankchg .btn_copy u{border-bottom:1px solid #645dcd;color:#3128c6}
.ly_bankcheck .btn_skip{background-color:#27236a}

/* 오픈이벤트 */
.openEvt_main{overflow:hidden;position:relative;padding:30.75rem 0 2.1375rem 2.1375rem;background-color:#215af2}
.openEvt_main:before, .openEvt_main:after{content:'';display:block;width:100%;background-size:100% 100%;position:absolute;left:0}
.openEvt_main:before{height:17.917rem;background-image:url(../images/event/open_main_top.png);top:0;z-index:4}
.openEvt_main:after{height:2.9rem;background-image:url(../images/event/open_main_btm.png);top:17.9rem}
.openEvt_main figure, .openEvt_main figure:before, .openEvt_main figure:after, .openEvt_main figure span{position:absolute;background-repeat:no-repeat;background-size:100% 100%;display:block}
.openEvt_main figure:before, .openEvt_main figure:after{content:''}
.openEvt_main figure.print{overflow:hidden;top:17.9rem;left:0;right:0;height:17rem}
.openEvt_main figure.print span{
	top:0;left:2.1rem;width:29.271rem;height:10.313rem;background-image:url(../images/event/open_main_print.png);z-index:1;
	/*-webkit-animation-name:printAni;animation-name:printAni;*/
	-webkit-animation-duration:1s;animation-duration:1s;
	-webkit-animation-delay:0s;animation-delay:0s;
  -webkit-animation-timing-function:ease-in-out;animation-timing-function:ease-in-out;
	-webkit-animation-fill-mode:forwards;animation-fill-mode:forwards;
	-webkit-transform:translate3d(0, -3rem, 0) scale(.8);transform:translate3d(0, -3rem, 0) scale(.8);
}
.openEvt_main figure.print:before{top:0;left:4.1rem;z-index:2;width:25.157rem;height:.834rem;background-image:url(../images/event/open_main_printshw.png)}
.openEvt_main figure.print:after{
	top:-1rem;left:0;width:100%;height:17.657rem;background-image:url(../images/event/open_main_printshw2.png);opacity:0;
	/*-webkit-animation-name:printShw;animation-name:printShw;*/
	-webkit-animation-duration:.5s;animation-duration:.5s;
	-webkit-animation-delay:.5s;animation-delay:.5s;
  -webkit-animation-timing-function:ease-in-out;animation-timing-function:ease-in-out;
	-webkit-animation-fill-mode:forwards;animation-fill-mode:forwards;
}
.openEvt_main.on figure.print:after{-webkit-animation-name:printShw;animation-name:printShw}
.openEvt_main.on figure.print span{-webkit-animation-name:printAni;animation-name:printAni}
.openEvt_main figure.dollar{left:0;right:0;top:0;z-index:5}
.openEvt_main figure.dollar span{top:-2.55rem;left:20.6rem;width:11.146rem;height:14.4795rem;background-image:url(../images/event/open_main_dollar2.png)}
.openEvt_main figure.dollar:before{top:10.9rem;right:0;width:5.834rem;height:11.771rem;background-image:url(../images/event/open_main_dollar3.png)}
.openEvt_main figure.dollar:after{top:16.8rem;left:0;width:6.875rem;height:14.011rem;background-image:url(../images/event/open_main_dollar.png)}
.openEvt_main.on figure.dollar span, .openEvt_main.on figure.dollar:before, .openEvt_main.on figure.dollar:after{}
.openEvt_main .list{width:21.4rem;height:5.6778rem;background:url(../images/event/open_list.png);background-size:100% 100%}
.openEvt_main .link_area:before{display:block;clear:both;content:''}
.openEvt_main .link_area li{float:left;width:70%}
.openEvt_main .link_area li:first-child{width:30%}
.openEvt_main .link_area a{display:block}
.openEvt_main .link_area button{width:100%}
.openEvt_main .link_area button, .openEvt_main .link_area a{height:4.9rem;background-repeat:no-repeat;background-position:50% 50%;vertical-align:top}
.openEvt_main .link_area .btn_next{background-color:#1a47bf;background-image:url(../images/event/open_btn_next.png);background-size:auto 1.1rem}
.openEvt_main .link_area .btn_coupon{background-color:#fff;background-image:url(../images/event/open_btn_coupon.png);background-size:auto 1.55rem}
@-webkit-keyframes printAni{ 100%{-webkit-transform:none} }
@keyframes printAni{ 100%{-webkit-transform:none} }
@-webkit-keyframes printShw{ 100%{opacity:1} }
@keyframes printShw{ 100%{opacity:1} }

.ly_openEvt .elm{width:85%;height:42.4rem;margin-top:7rem;padding-top:3rem;background-color:#215af2;text-align:left}
.ly_openEvt .btn_cls{font-size:0;position:absolute;top:-3.5rem;right:-1rem;z-index:1;padding:1.3rem 1.1rem}
.ly_openEvt .acesoris{width:20.9rem;height:8.1rem;position:absolute;top:-8.1rem;left:1rem;background:url(../images/event/open_city.png) no-repeat;background-size:100% 100%}
.ly_openEvt .acesoris span{display:block;position:absolute;background-repeat:no-repeat;background-size:100% 100%}
.ly_openEvt .acesoris .dollar{width:8.4rem;height:9.85rem;background-image:url(../images/event/open_dollar.png);top:2.8rem;left:17rem}
.ly_openEvt .acesoris .light, .ly_openEvt .acesoris .light2{
	background-size:100% 100%;opacity:0;
	-webkit-filter:blur(1rem);filter:blur(1rem);
	-webkit-filter:brightness(200%);filter:brightness(200%);
	-webkit-transform:scale(0,0);transform:scale(0,0);
	-webkit-animation-duration:5s;animation-duration:5s;
	-webkit-animation-delay:0s;animation-delay:0s;
	-webkit-animation-name:light;animation-name:light;
	-webkit-animation-timing-function:ease-in-out;animation-timing-function:ease-in-out;
	-webkit-animation-iteration-count:infinite;animation-iteration-count:infinite;
}
.ly_openEvt .acesoris .light{width:4.9rem;height:4.9rem;background-image:url(../images/event/open_light.png);top:-2rem;left:4rem}
.ly_openEvt .acesoris .light+.fire{top:.2rem;left:6.4rem;width:.115rem;height:.115rem}
.ly_openEvt .acesoris .light2{-webkit-animation-delay:1.25s;animation-delay:1.25s}
.ly_openEvt .acesoris .light2+.fire{-webkit-animation-delay:1s;animation-delay:1s}
.ly_openEvt .acesoris .light2{width:4rem;height:4rem;background-image:url(../images/event/open_light2.png);top:1.5rem;left:14.5rem}
.ly_openEvt .acesoris .light2+.fire{top:3.4rem;left:16.5rem;width:.075rem;height:.075rem}
@-webkit-keyframes light{
	0%, 20%, 70%, 100%{-webkit-transform:none;opacity:0}
	45%{
		-webkit-transform:scale(1);opacity:1;
		-webkit-filter:blur(0);
		-webkit-filter:brightness(1);
	}
}
@keyframes light{
	0%, 20%, 70%, 100%{transform:none;opacity:0}
	45%{
		transform:scale(1);opacity:1;
		filter:blur(0);
		filter:brightness(1);
	}
}
.ly_openEvt .maintxt{width:23.25rem;height:23.7rem;background:url(../images/event/open_main_txt.png) no-repeat;background-size:100% 100%;margin-left:2.1rem}
.ly_openEvt .coupon{width:18.05rem;height:17.8rem;background:url(../images/event/open_coupon.png) no-repeat;background-size:100% 100%;position:absolute;top:16rem;right:-2.4rem;z-index:1;transition-duration:.3s;transition-delay:.3s;transition-timing-function:cubic-bezier(1, 0, 0, 1)}
.ly_openEvt .coupon.hid{transition-delay:0s;opacity:0}
.ly_openEvt .term{text-indent:-3000em;width:3.2rem;height:4.7rem;background:url(../images/event/open_sub_txt1.png) no-repeat;background-size:100% 100%;margin:2rem 0 0 2.9rem}
.ly_openEvt .stock_detail{
	overflow:hidden;position:absolute;bottom:2rem;height:10rem;left:0;right:0;background-color:#215af2;
	transition-duration:.7s;transition-delay:0s;transition-timing-function:cubic-bezier(1, 0, 0, 1);
}
.ly_openEvt .stock_detail .btn_go{display:block;text-indent:-3000em;width:26.05rem;height:5.1rem;margin:0 auto;background:url(../images/event/open_btn_go.png) no-repeat;background-size:100% 100%;box-shadow:.4rem .4rem .9rem rgba(67,11,172,.75)}
.ly_openEvt .stock_detail .btn_benefit{position:relative;width:100%;margin-top:1.5rem}
.ly_openEvt .stock_detail .btn_benefit:after{content:'';display:block;width:1.6rem;height:.8rem;background:url(../images/event/open_ico_arr_dw.png) no-repeat;background-size:100% 100%;position:absolute;top:.4rem;right:2.2rem}
.ly_openEvt .stock_detail .btn_benefit .txt{text-indent:-3000em;display:block;width:13rem;height:3.1rem;background:url(../images/event/open_sub_txt2.png) no-repeat;background-size:100% 100%;margin-left:1.6rem}
.ly_openEvt .stock_detail article{width:23.5rem;height:24.8rem;background:url(../images/event/open_sub_txt3.png) no-repeat;background-size:100% 100%;margin:1.8rem 0 0 1.6rem}
.ly_openEvt .stock_detail.open{height:41rem;bottom:0}
.ly_openEvt .stock_detail.open .btn_benefit:after{transform:rotate(180deg)}

.ly_openEvtdsc .elm{background-color:#fff;padding-top:4.6rem}
.ly_openEvtdsc section{width:16rem;height:21.85rem;background:url(../images/event/open_open_dsc.png);background-size:100% 100%;margin-left:4rem}
.ly_openEvtdsc .btn_skip{width:100%;margin-top:3.7rem;background-color:#215af2;border:0;color:#fff}
.ly_openEvtdsc .btn_cls{font-size:0;position:absolute;top:0;right:0;z-index:1;padding:1.3rem 1.1rem}

.ly_openEvtDate .elm{width:84%;font-weight:300;text-align:left}
.ly_openEvtDate section{padding:4rem 0 0 2.7rem}
.ly_openEvtDate h2{font-weight:100;font-size:2.4rem}
.ly_openEvtDate h2+p{margin-top:1.25rem;font-size:1.25rem;font-weight:300}
.ly_openEvtDate h2+p span{display:block;margin-top:.2rem;font-size:1.5rem}
.ly_openEvtDate h2+p strong{color:#1554fa}
.ly_openEvtDate h2+p strong:before{height:.5625rem;background-color:#dce6fe}
.ly_openEvtDate p.dsc{margin-top:1.8rem;line-height:1.4;font-size:1.2rem;color:#000}
.ly_openEvtDate p.dsc b{color:#1554fa}
.ly_openEvtDate p.dsc2{margin-top:.8rem;font-size:1rem;color:rgba(0,0,0,.5)}
.ly_openEvtDate .btn_area{margin-top:5.8rem}
.ly_openEvtDate .btn_cancel{width:100%;border:0;background-color:#aeaeb8;color:#fff}
.ly_openEvtDate .btn_skip{width:100%;border:0;background-color:#3b39a0;color:#fff}

/* 190502 서비스 종료 팝업 */
.ly_end .elm{text-align:left;font-weight:300;padding:3.375rem 0.85rem 0;letter-spacing:-.125rem;line-height:1.3;font-size:1.2rem}
.ly_end .btn_cls {width:1.45rem;height:1.45rem;position:absolute;right:1.4rem;top:1.25rem;text-indent: -9999px;background: url(../images/pop_btn_close.png) no-repeat 50% 50%; background-size: 100% auto}
.ly_end .scroll{height:46rem}
.ly_end .txtBold {color:#000}
.ly_end .endTit {margin-bottom:0;color:#000;font-weight:300;line-height:1.2;font-size:2.4rem;letter-spacing: -2px;margin-left: 1.75rem}
.ly_end .btn_detailview{position:relative;width:100%;text-align:left;text-indent:1.95rem}
.ly_end .btn_detailview:after{
    content:'';display:block;width:1rem;height:1rem;
    border-width:1px 1px 0 0;border-style:solid;border-color:#fff;
    -webkit-transform:rotate(135deg) translateY(-50%);transform:rotate(135deg) translateY(-50%);
    position:absolute;right:2rem;top:50%;margin-top:-1rem;
}
.ly_end .desc{margin:1.9rem 0 2.2rem;color:#676767;margin-left: 1.75rem}
.ly_end .desc2{margin-top:1.5rem;padding:1.5rem 0 0 .5rem;border-top:.15rem solid #e3e3e3;font-size:1.1rem}
.ly_end .detail{display:none;padding:2rem 1.3rem 2rem 1.75rem;background-color: #f7f7f7;border:1px solid #dedede;font-size:1.05rem;color:#707070;line-height:1.5}
.ly_end .detail h4{margin-bottom:1.5rem;color:#2f23f3;font-weight:600;font-size:1.4rem}
.ly_end .detail span {display:block;color:#4a4a4a}
.ly_end .detail strong{color:#000}
.ly_end .detail strong + span,
.ly_end .detail small,
.ly_end .detail .tel {padding-left:.85rem}
.ly_end .scroll .tel {font-size:.95rem}
.ly_end .detail .tel {font-size:1.5rem;color:#000}
.ly_end .detail .cs{margin-top:1.5rem;font-size:.95rem;color:#9d9d9d}
.ly_end .detail .cs code{display:block;margin-top:.3rem;color:#000}
.ly_end .detail small{display: block;margin:1.4rem 0 0;color:#7b7b7b;font-size:0.95rem}
.ly_end .detail u {display: inline-block;text-decoration: none;border-bottom:1px solid #4a4a4a}
.ly_end .detail .more u {border-color:#000}
.ly_end .detail h6{margin-bottom:.5rem;margin-left:-.8rem}
.ly_end .detail .noticeList{margin-left:.8rem}
.ly_end .detail .noticeList li{margin-top:2.1rem}
.ly_end .detail .noticeList li:first-child{margin-top:0}
.ly_end .detail_wrap .desc{margin-bottom:0}
.ly_end .detail_wrap.open .desc{margin-bottom:3rem}
.ly_end .detail_wrap.open .detail{display:block}
.ly_end .detail_wrap.open .btn_detailview:after{
    -webkit-transform:rotate(-45deg) translateY(-50%);
    transform:rotate(-45deg) translateY(-50%);
    margin-top:.1rem;right:1.25rem;
}

/* 190523 비대면 계좌개설 서비스 일시중단 안내 */
.ly_stop .btn_skip{color:#fff;background-color: #3b39a0;border-color:#3b39a0}
.ly_stop .time{color:#3b39a0}
.ly_stop .time:after{background-color:#ebebf5}

/* 190709 출금동의 팝업 skt,kt */
.ly_withdraw .stress{color:#4743f8;}

/* 190709 이력있음팝업 */
.ly_hasinfo .stress{color:#4743f8;}