@charset "utf-8";

/* rest */
.ui-page,
#wrap {background-color:#f6f6f6}
.cheese {display:none}

/* icon */
.ico_com {display:inline-block;vertical-align:middle;color:transparent;white-space:nowrap;text-indent:-1000rem;background:url(../images/lgu_bg_com.png) no-repeat;background-size:16rem auto}
.ico_arr_prev {width:1.7rem;height:1.350rem;background-position:0 0}
.ico_arr_next6 {width:0.8rem;height:1.5rem;background-position:-2rem 0}
.ico_arr_next7 {width:0.65rem;height:1.25rem;background-position:-2rem -2.85rem}
.ico_dollar {width:1.85rem;height:1.85rem;background-position:-4rem 0}
.ico_cau3 {width:1.45rem;height:1.45rem;background-position:0 -3.9rem}
.ico_curve_up, .ico_curve_dw {display:inline-block;vertical-align:middle;background-size:100% 100%}
.ico_curve_dw {background-image:url(../images/ico_curve_dw.png)}
.ico_curve_up {background-image:url(../images/ico_curve_up.png)}
.ico_refresh2 {width:1.15rem;height:1.05rem;background-position:-4rem -2rem;vertical-align:top}
.ico_down,
.ico_down2 {width:1.7rem;height:1.5rem;background-position:0 -7.2rem}
.ico_down2 {transform:rotate(90deg)}
.ico_cau4 {width:1.6rem;height:1.6rem;background-position:0 -3.9rem}
.ico_x2 {width:1.65rem;height:1.65rem;background-position:-4rem -5.35rem}
.ico_x3 {width:2.45rem;height:2.45rem;background-position:-6rem 0}
.ico_cal {width:1.75rem;height:1.65rem;background-position:-6rem -3.35rem}

/* grim */
.grim_com {display:inline-block;vertical-align:middle;color:transparent;white-space:nowrap;text-indent:-1000rem;background:url(../images/lgu_bg_grim.png) no-repeat;background-size:16rem auto}
.grim_shield {width:4.4rem;height:4.4rem}
.grim_shield2{width:2.65rem;height:3.25rem;background-position:-10.5rem 0}
.grim_siren2{width:2.6rem;height:3.7rem;background-position:-7.5rem 0}
.grim_nodata {width:5.1rem;height:4rem;background-position:0 -5.05rem}

/* fc_ */
.userw.fc_red,
.fc_red {color:#ff3782}
.fc_red3,
.fc_red4 {color:#ef1b1b}
.fc_blu2 {color:#006cff}

/* btn */
.btn_area a, .btn_area button {width:100%}
.btn_area li {float:left;width:50%}
/* .btn_area li:first-child {width:30%} */
.btn_total {background-color:#ff3782;color:#fff}
.btn_xxr {line-height:5.65rem;text-align:center;font-weight:400;font-size:1.4rem}
.btn_type4, .btn_type6, .btn_type9 {background-color:rgba(230,230,230,1.000);color:#333}
.btn_type10 {color:#fff;border-color:#ff3782;background-color:#ff3782}
.btn_type8 {color:#fff;background-color:#ddd}
.btn_type8.on {background-color:#ff3782}
.btn_top i{background-position:0 -1.65rem}
.head_type .btn_expand.simp {padding-bottom:0;margin-left:0;left:auto;right:4.8rem;bottom:2.5rem}
.head_type .btn_expand i {border-color:#757575;border-width:2px 2px 0 0}
.btn_m {display:inline-block;line-height:2.5rem;text-align:center;font-size:1.15rem;border-style:solid;border-width:1px;font-weight:400}
.btn_type7 {border-color:#989898;color:#333}
.btn_xr2 {display:inline-block;line-height:5.2rem;text-align:center;font-size:1.52rem;font-weight:500}
.btn_type {color:#fff;background-color:#ff3782}
.ico_arr_next5 {width:0.55rem;height:1.05rem;background-position:-2rem -5.4rem}
.btn_xr {display:inline-block;line-height:4.65rem;text-align:center;font-size:1.6rem;font-weight:500}
.btn_r {display:inline-block;line-height:3.8rem;text-align:center;font-size:1.2rem}

/* input */
.input_type .select_btn {color:#ff3782;background-image:url(../images/lg_select_arr6.png)}

.list_type>ul{border-color:rgba(17,17,17,.5)}

/* #ct */
#ct{background-color:#f6f6f6}
/* div.footFix {display:none} */
#ct.assets_main, #ct.assets_list, #ct.eyivstMain, #ct.assets_cmaset, #ct.ostocknews, #ct.thmetopic{padding-bottom:3.9rem}
#ct.conct_bank, #ct.authorset, #ct.dtrecom_frm{padding-bottom:5.2rem}
#ct.depfill{padding-bottom:13.8rem}
#wrap.ct-over #ct.conct_bank, #wrap.ct-over #ct.depfill, #wrap.ct-over #ct.authorset{padding-bottom:0 !important}

#ct.assets_list .ui_cover{padding-top:1.7rem}
#ct.assets_list .list_type {margin-top:2.25rem}
#ct.easyagree .tooltip_ball {top:-2.4rem;margin-left:-5rem}
#ct.easyagree .tooltip_ball:before {left:6rem}

/* header */
header {background-color:#fff}
.head_fix {background-color:#fff;border-bottom:2px solid #eaeaea}
.head_type.border_btm {border-bottom:2px solid #eaeaea}
.head_type.cma .total_price2 {border-bottom:0}
.head_type.simp .total_price2,
.head_type.easy.simp .total_price2 {margin-bottom:0}
#header .btn_prev, #header .btn_close{position:absolute;top:.2rem;padding:1.45rem .8rem;}
#header .btn_prev{left:.4rem}
#header .btn_close{right:.4rem}
#header .btn_close i{width:1.35rem;height:1.35rem;background-position:-11.5rem 0}
#header h1 {font-size:1.4rem;font-weight:500;color:#000}
#header.free_head {background-color:#f6f6f6}
#header.free_head h1.freeFix {background-color:#fff;border-bottom:2px solid #eaeaea}
#header.free_head .btn_prev{position:fixed;z-index:40}
.head_type .tab_type {border-radius:0;background-color:#fff}
.tab_type.tab2 li {width:50%;padding-right:0}
.tab_type.tab2 li.selected {width:50%}
.tab_type li:before {content:'';display:block;top:auto;width:100%;height:2px;background-color:#eaeaea;border-radius:0;box-shadow:none}
.tab_type li.selected:before {background-color:#000}
.tab_type li button {padding-left:0;color:#bbb;font-size:1.3rem}
.tab_type li.selected button {color:#000}
.head_type .nocfirm {color:#000}
.head_type .nocfirm>span {padding-left:5.5rem}
.head_type .nocfirm strong {color:#ff3782;font-weight:600}
.head_type.simp .nocfirm .grim_shield {width:2.45rem;height:2.45rem;background-position:-4.35rem 0}
.head_type .nocfirm .ico_arr_next6 {margin:-0.2rem 0 0 0.7rem}
.head_type.simp .nocfirm .ico_arr_next6 {width:0.6rem;height:1.05rem;background-position:-2rem -1.65rem}
.head_type .total_price2 {padding:1.5rem 0 1.8rem;margin:0;font-weight:500;color:#000}
.head_type .total_price2 .stit:after {border-width:2px 2px 0 0;border-color:#000}
.head_type .total_price2 code {font-weight:600}
.head_type .total_price2 .curve i {background-size:100% 100%}
.head_type .total_price2 .curve.up {color:#ef1b1b !important}
.head_type .total_price2 .curve.up .ico_com {background-image:url(../images/ico_curve_up.png)}
.head_type .total_price2 .curve.dw {color:#006cff !important}
.head_type .total_price2 .curve.dw .ico_com {background-image:url(../images/ico_curve_dw.png)}
.head_type .nodata {color:#000}
.head_type .nodata .ico_arr_next6 {width:0.6rem;height:1.05rem;margin:-0.2rem 0 0 .7rem;background-position:-2rem -4.25rem}
.head_type .total_price2 .won {font-size:3.45rem;margin-left:0.3rem}
.head_type .total_price3{position:relative;padding:2.7rem 1.75rem 0;background-color:#fff}
.head_type .total_price3 .won {color:#000}
.head_type .total_price3 .btn_prev, .head_type .total_price3 .btn_set{position:absolute;top:0;padding:.85rem 1.2rem}
.head_type .total_price3 .btn_prev{left:0}
.head_type .total_price3 .btn_set{right:0}
.head_type .total_price3 .name_set{color:#5d768b}
.head_type .total_price3 .actlink a, .head_type .total_price3 .actlink button {color:#ff3782}
.head_type .total_price3 .actlink{border-top:1px solid rgba(236,240,241,.2)}
.head_type .total_price3 .actlink>li:before{background-color:rgba(236,240,241,.2)}
.head_type .total_price3 .actlink i{margin:-.2rem .7rem 0 0}
.head_type .total_price.type {margin-top:0.4rem}
.head_type .total_price .won2 {color:#000}
.head_type .total_price .won2 strong {font-weight:500}

.excgm_state .by {bottom:auto;top:0.25rem}

.title_type2 .ico_arr_next7{margin:-.2rem 0 0 1.8rem}
.theme_topic_top {color:#333}
.theme_topic_top h2 {padding-top:1.7rem}
.theme_topic_top2 {z-index:0}
.theme_topic_top2 + .ui_sdw {position:relative;top:-2.15rem}
.theme_topic_top:before {content:'';display:block;position:absolute;background-repeat:no-repeat;background-size:100% auto}
.theme_topic_top[data-figure="fig1"]:before {width:8.65rem;height:9.15rem;top:1.2rem;right:2rem;background-image:url(../images/bg_theme_topic_top1_lg.png)}
.theme_topic_top[data-figure="fig2"]{padding-bottom:2.8rem}
.theme_topic_top[data-figure="fig2"]:before {width:10.45rem;height:12.35rem;top:0.25rem;right:0.5rem;background-image:url(../images/bg_theme_topic_top2_lg.png)}
.theme_topic_top .under_line {display:inline-block;padding:0 0.2rem;color:#000;font-weight:600;background:url(../images/bg_underline_lg.png) no-repeat left bottom;background-size:100% auto}
.theme_topic_top .under_line em {font-weight:100}
/* .theme_info_swir {margin-left:2rem;margin-right:2rem;border-top:0;box-shadow:0.4rem 0.7rem 0.95rem rgba(0,0,0,.17);border-radius:0.98rem} */

.graph_bank {padding:0 2.25rem 3rem 1.35rem}
.progress {background-color:#ff3782}
.progress:before,
.progress:after {content:'';display:block;position:absolute;border-radius:50%;z-index:10}
.progress:before {width:6rem;height:6rem;left:50%;top:50%;margin:-3rem 0 0 -3rem;box-shadow:inset 0.7rem 0.7rem 0.7rem 0 rgba(255,55,130,0.57)}
.progress:after {width:100%;height:100%;left:0;top:0;box-shadow:0.7rem 0.35rem 0.7rem 0 rgba(255,55,130,0.57)}
.progress.zero:before {width:auto;height:auto;margin:0;box-shadow:none;color:#000}
.progress.zero:after {display:none}
.progress.half2 .circle .mask .fill {background-color:#00cea5}
.progress.zero {background:url(../images/bg_progress_zero_lg.png)}
.progress.zero .inset,
.progress.zero .outset {box-shadow:none}
.progress .outset {box-shadow:0 0 0 2.5rem #fff}
.progress .inset {background-color:#fff}
.progress.half2 .text1,
.progress.half2 .text2 {color:#fff}
.graph_bank dd ul {margin-left:1.3rem}
.graph_bank dd li {margin-bottom:0.5rem}
.graph_bank dd .stit {top:0.35rem;font-size:1.15rem}
.graph_bank li:nth-of-type(1) .stit:before {background-color:#ff3782}
.graph_bank li:nth-of-type(2) .stit:before {background-color:#00cea5}
.graph_bank dd code {font-size:1.7rem;font-weight:500;color:#000}
.graph_bank dd .crv {font-weight:500;font-size:1.2rem}
.graph_bank dd .crv.up {color:#ef1b1b}
.graph_bank dd .crv.dw {color:#006cff}
.graph_bank .update {margin-top:1.5rem;text-align:right}
.graph_bank .update .btn_refresh {color:#999}
.graph_bank .btn_refresh i {margin-right:0.55rem}
.graph_bank .btn_txlink {font-size:1.2rem;color:#ff3782}
.graph_bank .btn_txlink span {border-bottom:2px solid #ff3782}
.graph_bank .btn_txlink span i {width:1.4rem;height:1.3rem;margin:-0.2rem 0 0 0.4rem;background-position:0 -5.50rem}

.bankset_area hgroup {padding-top:2.75rem}
.bankset_area hgroup:after {content:'';display:block;width:1.65rem;height:1.65rem;position:absolute;right:0;top:1.25rem;background:url(../images/lgu_bg_com.png) no-repeat -4rem -3.35rem;background-size:16rem auto}
.bankset_area .btn_follow {background-color:#fff;box-shadow:0px 0.25rem 0.65rem 0.25rem rgba(0,0,0,0.23)}

.conect_section.deposit .conect {padding:1.5rem 0;margin:0 1.8rem;border-bottom:1px solid #eaeaea}
.conect_section .upchg_bank .input.focus,
.conect_section .frmfill .input,
.conect_section .frmfill .input.focus{border-color:#ff3782}
.input_type input, .input_type .lbl {color:#ff3782}
.conect_section .dsc {color:#333}
.conect_section .infolst>li {border-color:#eaeaea}
.conect_section hgroup h3+.bank {border-top:0}
.conect_section .upchg_bank {padding:3.5rem 0;margin:0 2rem;border-top:2px solid #eaeaea}
.conect_section .upchg_bank.noBank {border-top:0}
.conect_section .upchg_bank h3 {font-size:1.4rem}

.ars_section .callbx li:first-child {background-color:#fff}
.ars_section .callbx li:last-child {background-color:#ff3782}

.error_area .fc {color:#ff3782}

/* .ly_pop */
.ly_pop.full, .ly_pop.full .fix_top {background-color:transparent}
.ly_pop .elm {background-color:#fff}
.ly_bankcheck .btn_skip {background-color:#ff3782}
.checkbox.circle input + label:before {width:2.8rem;height:2.8rem;left:0;top:50%;margin-top:-1.05rem;background-image:url(../images/checkbox_circle.png)}
.checkbox.circle input + label:active:before, .checkbox.circle input:checked + label:active:before, .checkbox.circle input:checked + label:before {    background-image:url(../images/checkbox_circle_on_lg.png)}
.checkbox.check input + label:before {width:1.15rem;height:0.9rem;left:0;top:0.35rem;background-image:url(../images/checkbox_check.png)}
.checkbox.check input + label:active:before, .checkbox.check input:checked + label:active:before, .checkbox.check input:checked + label:before {background-image:url(../images/checkbox_check_on_lg.png)}
.checkbox .btn_view {right:-0.25rem}
.ly_bankchg code {background-color:#f2f2f2}
.ly_citation .chklst li.all .checkbox input + label:active, .ly_citation .chklst li.all .checkbox input:checked + label:active, .ly_citation .chklst li.all .checkbox input:checked + label {border-color:#ff3782}

.ly_cpinfo .close{left:2rem}
.ly_srchcase2 .cau .fc{color:#FF3782}
.ly_srchcase2 a.btn_skip{background-color:#333}

/* free_title */
.free_title {padding:3rem 3.5rem 3rem;color:#000;background-color:#f6f6f6}
.free_title .mt_tooltip {font-size:3.3rem;font-weight:100;line-height:2.8rem;letter-spacing:-0.25rem}
.free_title .b_iconbox {margin:1.5rem auto -1.8rem}
.free_title .b_iconbox .b_iconb {display:inline-block;width:8.1rem;height:8.45rem;background:url(../images/skt_icon_wallet.png) no-repeat;background-size:100% 100%}
.free_title .won:before {background-color:#000}
.free_title .btn_link {background-color:#ff3782}
.free_contents section {padding:0 2.5rem}
.free_contents .section4 {position:relative;height:69.5rem;padding-top:3.8rem;background:url(../images/s4_bg.png) no-repeat 0 80%;background-size:100% auto}
.free_contents .section4 h2 {font-size:2.4rem}
.free_contents .section4 h2 strong {display:block}
.free_contents .section4 h2+p {margin-top:1.5rem;font-size:1.2rem;font-weight:300;color:#666}
.free_contents .section4 h2+p strong {font-size:1.3rem;font-weight:400;color:#000}
.free_contents .section4 h2+p code {display:inline-block;margin-top:-0.6rem;font-size:2rem;letter-spacing:-0.2rem;vertical-align:text-top;font-family:'Roboto', sans-serif}
.free_contents .section4 h2+p~p {margin-top:1rem;font-size:1.4rem;font-weight:500;color:#000;line-height:1.5}
.free_contents .section4 h2+p~p .pot {position:relative}
.free_contents .section4 h2+p~p .pot:before, .free_contents .section4 h2+p~p .pot:after {content:'';display:block;width:100%;height:1px;position:absolute;left:0;bottom:0;background-color:#575757}
.free_contents .section4 h2+p~p .pot:after {bottom:-2px}
.free_contents section .btn_skip {line-height:4.5rem;font-size:1.3rem;border:1px solid #ff3782;color:#ff3782}
.free_contents .section4 h2+p~p em {font-weight:100}
.free_contents .section4 em {font-style:italic}
.free_contents .section4 .btn_skip {width:auto;margin:0;position:absolute;left:3.5rem;right:3.5rem;bottom:3.5rem}
.free_contents .section1 {padding-top:3.5rem}
.free_contents section .free_txt {display:inline-block;font-size:1.6rem;line-height:1.2em;color:#ff3782;border-bottom:1px solid #ff3782}
.free_contents .section1 .money_box_txt {display:inline-block;position:relative;z-index:1;margin-top:1.4rem;font-size:1.7rem;font-weight:500;color:#ff3782}
.free_contents .section1 .money_box_txt strong {font-size:3.5rem}
.free_contents .section1 .money_box_txt:before {content:'';display:block;width:100%;height:1.15rem;position:absolute;left:0;bottom:0.2rem;z-index:-1;background-color:#fab3ce}
.free_contents .section1 .money_box_txt~p {margin-top:0.4rem;text-align:left;font-size:0.9rem;font-weight:300;color:#bbb}
.free_contents .section2 {padding-bottom:3.5rem;border-bottom:1px solid #eaeaea}
.free_contents .section2 .mt_ratio {margin-top:7rem}
.free_contents .section2 #mt_ratio {margin-top:0.5rem}
.mt_ratio.c1 .gage {background:#ff3782}
.mt_ratio.c2 .gage {background:#00cea5}
.mt_ratio .tip, .mt_ratio .tip:before {background:#ff3782}
.mt_ratio .tip2, .mt_ratio .tip2:before {background:#00cea5}
.free_contents section .btn_skip {width:92.6%;margin:5.3rem  0 0 0.97rem;font-size:1.3rem;line-height:4.5rem;border:1px solid #ff3782;color:#ff3782}
.free_contents .section3 {position:relative;padding-top:3.5rem}
.free_contents .section3 .btn_r {width:5.3rem;position:absolute;top:3.6rem;right:2.6rem;line-height:1.7rem;border-radius:1.2rem;text-align:center;font-size:1rem;color:#ff3782;border:1px solid #ff3782}
.free_contents .section3 .move_group {position:relative}
.free_contents .section3 .move_group .phonebg {width:37.7rem;height:38.5rem;position:relative;top:3.8rem;left:-0.7rem;z-index:10;background:url(../images/s3_bg_and.png) no-repeat;background-size:37.7rem auto}
.free_contents .section3 .move_group .phonebg2,
.free_contents .section3 .move_group .phonebg3 {display:none;width:19.4rem;height:11.7rem;position:absolute;z-index:11}
.free_contents .section3 .move_group .phonebg2 {top:0.5rem;right:23rem;background:url(../images/s3_bg2.png) no-repeat;background-size:19.4rem auto}
.free_contents .section3 .move_group .phonebg3 {bottom:13.8rem;left:21rem;background:url(../images/s3_bg3.png) no-repeat;background-size:19.4rem auto}
.free_contents .section3 .btn_g {position:relative}
.free_contents .section3 .btn_skip {position:relative;margin-top:0;top:-4.5rem}
.free_contents .section3 .btn_sh {position:absolute;border:none;text-indent:-9999px;z-index:15}

.srch_type .btn_srch {width:100%;margin-top:0.75rem}

/* footer */
#footer .nav {border-top:1px solid #eaeaea;border-bottom:1px solid #eaeaea}
#footer .nav li:before {color:#ccc}
#footer .nav button, #footer .nav a{height:3rem;color:#666}
#footer .nav a{line-height:3.1rem}
#footer .cs {color:#333}
.dscbx_foot {background-color:#f6f6f6}
.dscbx_foot>p {background-color:#fff}
.footer_cm{background-color:#f4f4f4}

.globalStockSlide .swiper-pagination-bullet-active{background-color:#ff3782}

/* 세이프캐시 */
.sfcash body.type,
.sfcash #wrap{background-color:#f4f4f4}
.sfcash #ct, .sfcash .ui-page, #wrap{background-color:#fff}
.sfcash .fc_blu{color:#186de0 !important}
.sfcash .switch div.ui-slider-switch{background-color:#ff3782}
.sfcash .btn_type{background-color:#222}
.sfcash .list_type .title_area .date{color:#4e4e4e}
.sfcash .list_type .userw.fc_red{color:#222 !important}
.sfcash .list_type>ul>li:last-child>button{border-bottom:0}
.sfcash .srch_type .btn_srch{background-color:#fff;color:#ff3782;border:1px solid #ff3782;font-weight:500}
.sfcash .ico_gear2{width:1.65rem;height:1.65rem;background-position:-4rem -3.35rem}
.sfcash .btn_xr{font-size:1.3335rem}
.sfcash .btm_btn_area a, .sfcash .btm_btn_area button{background-color:#222}
.sfcash #footer{background-color:#f4f4f4}
.sfcash .footFix .btm_btn_area{height:5rem}
.sfcash .footFix .btm_btn_area:before{display:none}
.sfcash .footFix .btm_btn_area .wrap{right:0;left:0}
.sfcash .footFix .btm_btn_area.on .wrap{bottom:0}

.sfcash #header{border-bottom:1px solid #dadada}
.sfcash #header h1{border-bottom:0;line-height:4.8rem}
.sfcash #header>.btn_cls{position:absolute;top:.9rem;left:.6rem;padding:.5rem}
.sfcash #header>.btn_cls i{width:1.65rem;height:1.65rem;background-position:-4rem -5.35rem}
.sfcash #header>.btn_prev{padding:.9rem;left:.2rem;top:0}
.sfcash #header>.btn_prev i{
    transform: none;border:0;margin:0;
    width:2.4rem;height:2.4rem;background-position:0 0;background-size:100% 100%;
    background-image:url(../images/btn_top_back.png)
}
.sfcash #header>.btn_home i{width:1.7rem;height:1.35rem;background-position:0 0}
.sfcash #header>.btn_prev2{position:absolute;top:1rem;left:.6rem;padding:.5rem}
.sfcash #header>.btn_prev2 i{width:1.8rem;height:1.45rem;background-position:0 0}
.sfcash #header>.btn_close{position:absolute;top:.8rem;right:.7rem;padding:.5rem}
.sfcash #header>.btn_close i{background:url(../images/ico_x2.png) no-repeat 0 0;width:1.5rem;height:1.5rem;background-size:100% 100%}
.sfcash #header>.btn_home{position:absolute;top:.6rem;left:.6rem;padding:.5rem}
.sfcash #header>.btn_home i{background:url(../images/ico_home.png) no-repeat 0 0;width:2.45rem;height:2.4rem;background-size:100% 100%}
.sfcash .head_type{background-color:#f4f4f4}
.sfcash .head_type h2{padding:1.3rem 0 .9rem;font-size:1.35rem;font-weight:400;text-align:center}
.sfcash .head_type h2 + .won2{margin-top:0}
.sfcash .head_type .total_price .have{background-color:#f6f6f6}
.sfcash .head_type .total_price.type{padding-top:1.5rem;padding-right:0;padding-bottom:2.2rem;text-align:center;border-color:#f4f4f4;background-color:#fff}
.sfcash .head_type .total_price3{border-color:#f4f4f4}
.sfcash .head_type .btn_cau{border:1px solid #ff3782;background-color:#fff5f9;line-height:2.3rem;color:#ff3782;font-size:1.219rem}
.sfcash .head_type .btn_cau .ico_cau{width:1.36rem;height:1.36rem;background-position:-9rem 0;margin:-.3rem .6rem 0 0}
.sfcash .head_type .total_price .stit{color:#a9a9a9}
.sfcash .head_type .total_price .stit .n:before{background-color:#a9a9a9}
.sfcash .head_type .subtitle{background-color:#fff}
.sfcash .head_type .subtitle .btn_home{position:absolute;left:0;top:0;}
.sfcash .head_type .subtitle .btn_home i{width:1.4rem;height:1.55rem;background-position:-8.15rem -3.35rem}
.sfcash .head_type .tab_type{border:0}
.sfcash .head_type .tab_type li button{height:4.15rem}
.sfcash .head_type .tab_type li:before{display:none}
.sfcash .head_type .nocfirm,
.sfcash .head_type .nodata{background-color:#fff}
.sfcash .head_fix{border-bottom:0}
.sfcash #gnb{background-color:#fff}
.sfcash #gnb li{position:relative;flex:1}
.sfcash #gnb a{display:block;padding:.5rem 0 1.3rem;font-size:1.3165rem;text-align:center;color:#b0b0b0}
.sfcash #gnb a h3{font-weight:300}
.sfcash #gnb li.active a{color:#111}
.sfcash #gnb li.active a h3{font-weight:700}
.sfcash #gnb li.active:before{
    content:'';display:block;height:2px;background-color:#222;
    position:absolute;bottom:-1px;left:0;width:100%;
}
.sfcash .srch_type .tab button.selected{color:#ff3782}
.sfcash .srch_type .tab button.selected:after{border-color:#ff3782}
.sfcash .srch_type .tab button{background-color:#f5f5f5}
.sfcash .stock_status a.data{background-color:#fff}
.sfcash .bank_number .cau{padding:1.5rem 1.8rem;background-color:#f4f4f4;letter-spacing:-.075rem}
.sfcash .bank_number .input{border-color:#ff3782}
.sfcash .bank_number .input input{height:6.2rem}
.sfcash .bank_number .chkarea{padding:1.75rem 0 1.3rem}

.sfcash #ct.assets_main .ui_cover,
.sfcash #ct.assets_main2 .ui_cover,
.sfcash #ct.assets_list .ui_cover{background-color:#fff}
.sfcash #ct.assets_main .ui_cover,
.sfcash #ct.assets_main2 .ui_cover{padding-top:2.7rem;padding-bottom:1.5rem}
.sfcash #ct.eyivstMain{background-color:#f4f4f4}

/* 상단 우측 토글메뉴 */
.menu-switch {
    overflow: hidden;
    display: inline-block;
    width: 2.4rem;
    height: 2.4rem;
    position: absolute;
    top: .9rem;
    right: 1.6rem;
  }
  
  .menu-switch button {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    display: -webkit-flex;
    width: 100%;
    height: 100%;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
    -webkit-align-items: flex-end;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-justify-content: center;
  }
  
  .menu-switch .dot {
    overflow: hidden;
    display: block;
    width: 4px;
    height: 4px;
    margin-top: 3px;
    border-radius: 50%;
    background-color: #999;
  }
  
  .menu-switch .dot:first-child {
    margin-top: 0;
  }
  
  .gnb-menu {
    display: none;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 5;
  }
  
  .gnb-menu.switchOn {
    display: block;
  }
  
  .gnb-menu ul {
    float: right;
    padding: 1.8rem 0;
    background-color: #333;
    border-radius: 0.6rem;
  }
  
  .gnb-menu li {
    margin-top: 1rem;
  }
  
  .gnb-menu li:first-child {
    margin-top: 0;
  }
  
  .gnb-menu a {
    display: block;
    padding: 0 1.8rem;
    font-size: 1.4rem;
    color: #fff;
  }

  /* 상단 알람 */
  .btn_notice {
    width: 3.6rem;
    height: 1.8rem;
    border-radius: 1rem;
    top: 1.5rem;
    right: 1.5rem;
  }

  .btn_notice input{
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    margin: 0;
    padding: 0;
    background-color: transparent;
    border-radius: 0;
    border: 0;
    font-family: inherit;
    font-size: inherit;
    letter-spacing: inherit;
    line-height: inherit;
  }
  
  .btn_notice label {
    overflow: hidden;
    display: block;
    width: 100%;
    height: 100%;
    padding: 2px;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    border-radius: 1rem;
    background-color: #bbb;
  }
  
  .btn_notice label:before {
    content: '';
    display: block;
    width: 1.4rem;
    height: 1.4rem;
    border-radius: 50%;
    background-color: #fff;
  }
  
  .btn_notice input:checked + label {
    background-color: #ff3782;
  }
  
  .btn_notice input:checked + label:before {
    float: right;
  }
  
.checkbox-notice {
    position: absolute;
    right: 1.8rem;
    top: 50%;
    -webkit-transform: translateY(-50%);
            transform: translateY(-50%);
  }

  .txt_name {
    font-size: 1.2rem;
    color: #999;
  }
  
  .notice_set {
    position: absolute;
    top: 1.4rem;
    right: 1.6rem;
  }
  
  .notice_set .btn_notice {
    top: auto;
    right: auto;
    position: relative;
    display: inline-block;
    vertical-align: middle;
  }
  
  .notice_set .txt_name {
    display: inline-block;
    vertical-align: middle;
    margin: -.1rem 0.3rem 0 0;
  }

  .sfcash #footer {
    padding: 0.5rem 0 0 0;
  }
  
  .sfcash #footer .nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    background-color: transparent;
    padding: 0.5rem 0 0.5rem 1rem;
  }
  
  .sfcash #footer .nav li {
    float: none;
  }
  
  .sfcash #footer .nav li:before {
    height: 0.9rem;
    background-color: #aaa;
  }
  
  .sfcash #footer .nav a, .sfcash #footer .nav button {
    padding: 0 0.7rem;
    height: 2rem;
    width: 100%;
    color: #222;
  }
  
  .sfcash #footer .nav .pot {
    color: #ff3782;
  }
  
  .sfcash #footer address {
    margin-top: 0;
    text-align: left;
    padding: 1.8rem 0 1.8rem 1.7rem;
    color: #999;
    border-top: 1px solid #e7e7e7;
  }
  
  .sfcash #footer address p.cs {
      margin-top:0;
    color: #7f7f7f;
  }