/* base */
body,div,p,h1,h2,h3,h4,h5,h6,ul,ol,li,dl,dt,dd,table,th,td,form,fieldset,legend,input,textarea,button,select{margin:0;padding:0}
p,menu,ul,ol,li,dl,dt,dd,table,th,td,form,fieldset,legend,input,textarea,button,select{line-height:14px}
table{border-collapse:collapse; border-spacing:0}
img, button{border:0; font-size:0}
button{border:0;padding:0;background:transparent;cursor:pointer;*overflow:visible}
label{display:inline-block;vertical-align:middle;cursor:pointer;margin:-4px 5px 0 5px;}
ul,ol{list-style:none}
menu,ul,ol,dl{font-size:0}
li,dd{font-size:12px}
em,address{font-style:normal}
a{text-decoration:none;color:#666}
a:hover,a:focus{text-decoration:underline;outline:none; selector-dummy:expression(this.hideFocus=true)}
a:active{text-decoration:none}
fieldset{margin:0px; padding:0px; border:none}
.blind, legend{visibility:hidden;overflow:hidden;position:absolute;top:0;left:0;width:0;height:0;font-size:0;line-height:0}
caption{visibility:hidden;overflow:hidden;width:0;height:0;font-size:0;line-height:0}
hr{display:none}
body{background:#303030;font-family:'돋움','Dotum';font-size:12px;line-height:14px;color:#666}

/* skip */
.skip{display:block;position:absolute;top:-1px;left:-1px;ove-3flow:hidden;height:1px;width:1px;font-size:0;line-height:0}
.skip:focus{position:static;width:auto;height:auto;padding:0.3em 0.5em;background:#031634;font-weight:700;font-size:11px;line-height:1.5;color:#fff;text-decoration:none;outline:none}

/* scrollbar color */
div,textarea{scrollbar-face-color:#fff; scrollbar-highlight-color:#fff; scrollbar-3dlight-color:#D2D2D2; scrollbar-darkshadow-color:#fff; scrollbar-shadow-color:#fff; scrollbar-arrow-color:#D2D2D2; scrollbar-track-color:#D2D2D2}

/* rollover */
.rollover a img, .rollover a input {display:inline}
.rollover a img.over, .rollover a input.over {display:none}
.rollover a:hover {position:relative}
.rollover a:hover img, .rollover a:hover input {display:none}
.rollover a:hover img.over, .rollover a:hover input.over {display:inline}
.rolloverNo a img, .rolloverNo a input {display:inline}
.rolloverNo a:hover img, .rolloverNo a:hover input, .rolloverNo .on img{display:inline}
.rolloverNo a:hover img.over, .rolloverNo a:hover input.over, .rolloverNo .on img.over{display:none}

/* align */
.fl{float:left}
.fr{float:right}
.clear{clear:both}
.tl{text-align:left !important}
.tc{text-align:center !important}
.tr{text-align:right !important}
.vt{vertical-align:top; position:relative}
.vm{vertical-align:middle}
.vamfix input, .vamfix select, .vamfix textarea{vertical-align:middle}
.vamfix img{position:relative; vertical-align:middle; margin-top:-2px}
.vamfix label {margin-top:-2px;}
.vamfix input[type=radio], .vamfix input[type=checkbox]{margin-top:-3px;}
.vab{vertical-align:bottom}

/* default value */
.m0{margin:0 !important}
.mt0{margin-top:0 !important}
.mr0{margin-right:0 !important}
.mb0{margin-bottom:0 !important}
.ml0{margin-left:0 !important}
.p0{padding:0 !important}
.pt0{padding-top:0 !important}
.pr0{padding-right:0 !important}
.pb0{padding-bottom:0 !important}
.pl0{padding-left:0 !important}
.br0{border:0 !important}
.brt0{border-top:0 !important}
.brr0{border-right:0 !important}
.brb0{border-bottom:0 !important}
.brl0{border-left:0 !important}

.mt5{margin-top:5px !important}
.mt10{margin-top:10px !important}
.mt15{margin-top:15px !important}
.mt20{margin-top:20px !important}
.mt30{margin-top:30px !important}
.mt35{margin-top:35px !important}
.mt40{margin-top:40px !important}
.mt45{margin-top:45px !important}
.mt50{margin-top:50px !important}

.ml5{margin-left:5px !important}
.ml7{margin-left:7px !important}
.ml10{margin-left:10px !important}
.ml15{margin-left:15px !important}
.ml17{margin-left:17px !important}
.ml20{margin-left:20px !important}
.ml25{margin-left:25px !important}
.ml30{margin-left:30px !important}
.ml40{margin-left:40px !important}
.ml45{margin-left:45px !important}
.ml50{margin-left:50px !important}

.mr5{margin-right:5px !important}
.mr10{margin-right:10px !important}
.mr15{margin-right:15px !important}
.mr17{margin-right:17px !important}
.mr20{margin-right:20px !important}
.mr25{margin-right:25px !important}
.mr30{margin-right:30px !important}
.mr40{margin-right:40px !important}
.mr50{margin-right:50px !important}

.pt8{padding-top:8px !important}
.pt12{padding-top:12px !important}
.pt40{padding-top:40px !important}
.pt50{padding-top:50px !important}
.pt65{padding-top:65px !important}
.pt70{padding-top:70px !important}
.pt90{padding-top:90px !important}
.pl10{padding-left:10px !important}
.pb100{padding-bottom:100px !important}

/* text color */
.txcr{color:#e60012}
.txcr2{color:#4f9cec}
.txcr3{color:#010101}
.txcr4{color:#4f9cec;font-size:11px}
.txcr5{color:#db3f4b !important}

/* text cutting */
.elip{display:block;overflow:hidden;text-overflow:ellipsis;white-space:nowrap;padding-right:2px}

/* form */
.inp0{height:23px;padding:0;border:0;background-color:transparent;background-repeat:no-repeat;line-height:14px}
.inp1{padding:3px 5px;background-color:#fff;border:1px solid #cfcfcf}
.inp1 input{height:16px;width:100%;border:0;background-repeat:no-repeat;line-height:14px}
input.inp1{height:19px;padding:3px 0 0 5px;border:1px solid #cfcfcf;background-color:#fff;background-repeat:no-repeat;line-height:14px}
.txta1{padding:7px;background-color:#fff;border:1px solid #cfcfcf}
.txta1 textarea{width:99%;border:0;background-color:#fff;background-color:transparent;background-repeat:no-repeat;line-height:14px}
textarea.txta1{padding:10px 0 0 10px;border:1px solid #cfcfcf;background-color:transparent;background-repeat:no-repeat;line-height:14px}

.select{display:inline-block; *display:inline; position:relative; background:#fff; line-height:normal; vertical-align:middle; *zoom:1;z-index:20}
.select *{margin:0;padding:0;letter-spacing:-1px;font-size:12px;cursor:pointer}
.select .my_value{overflow:visible; position:relative; top:0; left:0; z-index:2; border:1px solid #cfcfcf; background:url(../../img/common/slt_arr.gif) no-repeat 100% 50%; color:#666; text-align:left; line-height:24px; .line-height:19px}
.select .my_value.selected{font-weight:bold}
.select.open .my_value, .select .my_value.outLine{border:1px solid #7c86b4}
.select button.my_value{width:100%; height:24px; *padding-left:5px;text-indent:5px; *text-indent:0}
.select div.my_value{height:22px; text-indent:8px}
.select .ctrl{position:absolute; top:0; right:0; width:18px; height:22px; border:1px solid #7c86b4;border-left:1px solid #a0a9d0;background:#a0a9d0}
.select .arrow{position:absolute; width:0; height:0; top:9px; right:6px; border-top:3px solid #fff;border-left:3px solid #a0a9d0;border-right:3px solid #a0a9d0;font-size:0;line-height:0}
.select ul{overflow:hidden; position:absolute; top:23px; left:0; width:100%; border:0; border-top:1px solid #999; border-bottom:1px solid #999; background:#fff; list-style:none}
.select ul.a_list{display:none}
.select.open ul.a_list{display:block}
.select ul.i_list{left:-2000%}
.select.open ul.i_list{left:0}
.select li{overflow:hidden; position:relative; height:22px; border-left:1px solid #999; border-right:1px solid #999; white-space:nowrap;text-align:left !important}
.select li input.option{position:absolute; width:100%; height:20px; line-height:20px}
.select li label{position:absolute; top:0; left:0; width:100%; height:18px; background:#fff; color:#666; line-height:18px; text-indent:8px; *text-indent:6px}
.select li a{display:block; height:22px; background:#fff; color:#666; line-height:24px; text-indent:8px; *text-indent:6px; text-decoration:none}
.select li.hover *{background:#fff; color:#666}
.select_go{overflow:visible; height:21px; width:28px; *margin:-1px 0 -1px 4px; padding:0; border:1px solid #bababa; background:#eee; font:bold 11px Tahoma; color:#666; line-height:19px; _line-height:normal; vertical-align:middle; cursor:pointer}

/* layout */
#wrap{background:#fff url(../../img/common/header_bg.gif) repeat-x}
#content{width:1004px;margin:0 auto;padding-top:33px}
.path{clear:both;padding:45px 0;text-align:center;border-bottom:1px solid #d8d8d8}
.path h2{letter-spacing:-1px;font-family:'NanumGothic','Malgun Gothic';line-height:38px;font-size:36px;color:#010101}
.path p{margin-top:10px}
.path p, .path p a, .path p span{color:#444}
.path .home{padding-left:17px;background:url(../../img/common/ico_home.gif) no-repeat}
.path .arrow{display:inline-block;width:4px;height:7px;margin:0 8px;background:url(../../img/common/ico_bu2.gif);vertical-align:middle}

/* common */
.cmLine{padding-right:17px;padding-left:17px;padding-bottom:100px;border-right:1px solid #d1d1d1;border-left:1px solid #d1d1d1}
.cmLine2{padding-right:17px;padding-left:17px;padding-bottom:100px;border-top:2px solid #333;border-right:1px solid #d1d1d1;border-left:1px solid #d1d1d1}
.cmLine3{padding-bottom:100px;border-right:1px solid #d1d1d1;border-left:1px solid #d1d1d1}
.cmBn{clear:both;text-align:center}
.cmBn img{max-width:100%}
.cmP{clear:both;text-align:right;font-size:16px;font-weight:bold;color:#222}
.cmP2{margin-left:10px;letter-spacing:-1px;font-weight:bold;font-size:16px;color:#010101}
.cmP3{text-align:right;font-size:11px;color:#e60012}
.cmP4{clear:both;font-size:14px;text-align:center;font-weight:bold;font-family:'NanumGothic','Malgun Gothic';line-height:20px;letter-spacing:-1px;color:#666 !important}

/* header */
#header{position:relative;width:1004px;height:155px;margin:0 auto;z-index:10}
.lnb{position:absolute;right:0;top:10px}
.lnb li{float:left;margin-left:5px;padding-left:6px;background:url(../../img/common/header_bar.gif) no-repeat 0 2px}
.lnb li:first-child{margin-left:0;padding-left:0;background:none}
.lnb li a{font-family:'NanumGothic','Malgun Gothic';font-size:11px}
.sta{padding-top:37px;*zoom:1}
.sta:after{display:block;clear:both;content:''}
.sta h1{float:left}
.sta .srch{position:relative;float:right;width:268px;height:28px;margin-top:13px;padding:6px 0 0 8px;background:url(../../img/common/header_bg_srch.gif) no-repeat}
.sta .srch .inp0{width:226px}
.sta .srch .btSrch{display:block;width:33px;height:34px;position:absolute;right:0;top:0}

/* gnb */
.gnb{position:relative;clear:both;*zoom:1;margin-top:31px}
.gnb:after{display:block;clear:both;content:''}
.gnb ul{float:left;width:964px}
.gnb li{float:left;width:25%}
.gnb li:last{overflow:hidden;float:none;width:auto}
.gnb li a{display:block;padding-top:9px;text-align:center;font-family:'NanumGothic','Malgun Gothic';line-height:18px;font-size:16px;letter-spacing:-1px;color:#fff}
.gnb li a:hover{text-decoration:none}
.gnb .btDep2{float:right}

.gnb_depth{display:none;position:absolute;top:155px;left:0;width:100%;padding-bottom:20px;background:#555}
.gnb_depth div{width:1004px;margin:0 auto;*zoom:1}
.gnb_depth div:after{display:block;clear:both;content:''}
.gnb_depth ul{float:left;width:240px;}
.gnb_depth li{clear:both;margin-top:15px;text-align:center}
.gnb_depth li a{text-decoration:none;font-family:'NanumGothic','Malgun Gothic';font-size:14px;color:#d5d5d5}
.gnb_depth li a:hover{color:#fff}

/* fooer */
#footer{clear:both;width:1004px;margin:0 auto;padding:30px 0 50px}
#footer .logo{float:left}
#footer .rt{overflow:hidden;padding-left:60px}
#footer ul{margin-bottom:15px;*zoom:1}
#footer ul:after{display:block;clear:both;content:''}
#footer li{float:left;margin-left:8px;padding-left:9px;background:url(../../img/common/footer_bar.png) no-repeat 0 2px}
#footer li:first-child{margin-left:0;padding-left:0;background:none}
#footer li a{font-family:'NanumGothic','Malgun Gothic';font-size:13px;font-weight:bold;color:#ababab}
#footer li a:hover{text-decoration:none}
#footer address{font-family:'NanumGothic','Malgun Gothic';font-weight:bold;line-height:17px;color:#747474}

/* pop(layer) */
.mw{position:fixed;_position:absolute;top:0;left:0;width:100%;height:100%;z-index:30;display:none}
.mw .bg{position:absolute;top:0;left:0;width:100%;height:100%;background:#000;opacity:.6;filter:alpha(opacity=60)}
.mw .fg{position:absolute;top:50%;left:50%;padding:30px 20px;background-color:#fff;border:4px solid #868686}
.mw .btClose{position:absolute;top:25px;right:25px}

.lyPop{display:none;position:absolute;padding:30px 20px;background-color:#fff;border:4px solid #868686;z-index:30}
.lyPop .btClose{position:absolute;top:25px;right:25px}

/* thumnail style */
.thumStyle{clear:both;*zoom:1}
.thumStyle:after{display:block;clear:both;content:''}
.thumStyle li{float:left;margin-left:37px}
.thumStyle .elip{width:178px}
.thumStyle dt, .thumStyle dt img{width:180px;height:120px}
.thumStyle dd{clear:both;padding-top:23px}
.thumStyle dd a{padding-top:2px;font-size:14px;font-weight:bold;color:#000}
.thumStyle dd a, .thumStyle dd p{letter-spacing:-1px}
.thumStyle dd a:hover{text-decoration:underline;color:#e60012}
.thumStyle dd a img{margin-top:-2px;margin-right:9px;vertical-align:middle}
.thumStyle dd .txt{margin:9px 0 6px;font-size:11px;color:#888}
.thumStyle dd .date{font-size:11px;color:#444}
.thumStyle.v1{margin-top:20px;padding-top:20px;border-top:1px solid #d8d8d8}
.thumStyle.v1 .elip, .thumStyle.v1 dd .txt{width:222px}
.thumStyle.v1 dd .txt{overflow:hidden;height:36px;line-height:19px;margin-bottom:10px}
.thumStyle.v1 li{float:left;margin-left:20px}
.thumStyle.v1 dt, .thumStyle.v1 dt img{width:227px;height:142px}
.thumStyle.v1.first{margin-top:40px;padding-top:0;border-top:0}
.thumStyle li:first-child{margin-left:0}

/* table style */
.tblStyle{position:relative;clear:both;border-top:2px solid #333}
.tblStyle table{width:100%}
.tblStyle th, .tblStyle td{padding-top:14px;padding-bottom:14px ;border-bottom:1px solid #c8c8c8}
.tblStyle th{padding-right:31px;background:#f2f2f2;text-align:right;color:#222}
.tblStyle td{padding-right:15px;padding-left:15px}
.tblStyle.v1 table{border-right:1px solid #c8c8c8;border-left:1px solid #c8c8c8}
.tblStyle.v1 th{padding-right:0;text-align:center}

/* tab */
.tabnate{clear:both;*zoom:1}
.tabnate:after{display:block;clear:both;content:''}
.tabnate li{float:left;width:50%;border-top:1px solid #b5b5b5;border-bottom:1px solid #b5b5b5;border-left:1px solid #b5b5b5}
.tabnate li.last{overflow:hidden;float:none;width:auto;border-right:1px solid #b5b5b5}
.tabnate li a{display:block;padding:9px 0;font-family:'NanumGothic','Malgun Gothic';font-size:15px;text-align:center;color:#222}
.tabnate li.active{border-color:#222;background:#222}
.tabnate li.active a{color:#fff}
.tabnate2{clear:both;*zoom:1}
.tabnate2:after{display:block;clear:both;content:''}
.tabnate2 li{float:left;line-height:0;font-size:0}
.tabnate3{clear:both;text-align:center}
.tabnate3 a, .tabnate3 span{display:inline-block;margin-left:5px}
.tabnate3 img{vertical-align:top}
.tabnate4{clear:both;border-bottom:2px solid #000;*zoom:1}
.tabnate4:after{display:block;clear:both;content:''}
.tabnate4 li{float:left;margin-left:5px;border:1px solid #e5e5e5;border-bottom:0}
.tabnate4 li:first-child{margin-left:0}
.tabnate4 li a{display:block;padding:11px 12px;font-weight:bold;font-size:14px}
.tabnate4 li.selected{border-color:#000}
.tabnate4 li.selected a{background:#000;color:#fff}
.tabnate4{}

/* btn area */
.btnate{clear:both;*zoom:1}
.btnate:after{display:block;clear:both;content:''}
.btnate .lt{float:left}
.btnate .lt a{margin-right:5px}
.btnate2{clear:both;text-align:center}
.btnate2 a{margin-left:10px}
.btnate3{clear:both;text-align:right}

/* paging */
.pgnate{clear:both;text-align:center}
.pgnate img, .pgnate a, .pgnate strong{vertical-align:middle}
.pgnate .num{margin:0 9px 0 10px}
.pgnate .num a, .pgnate .num strong{display:inline-block;margin-left:-1px;padding:7px 11px}
.pgnate .num a{border:1px solid #cbcdcc}
.pgnate .num strong{position:relative;border:1px solid #000;z-index:10;color:#e60012}

/* list style */
.lstStyle, .lstStyle li{clear:both}
.lstStyle li{margin-top:11px;padding-left:8px;background:url(../../img/common/ico_bu.gif) no-repeat 0 7px}
.lstStyle li:first-child{margin-top:0}

/* title style */
.subtitle{*zoom:1}
.subtitle:after{display:block;clear:both;content:''}
.subtitle h3, .subtitle .rt strong{font-family:'NanumGothic','Malgun Gothic';letter-spacing:-1px;color:#010101}
.subtitle h3{float:left;font-size:22px;line-height:24px}
.subtitle .rt{float:right}
.subtitle .rt strong{margin-right:4px}
.subtitle2{position:relative;padding:40px 0 0 190px}
.subtitle2 .date{position:absolute;left:32px;top:40px;font-size:42px;line-height:44px;color:#222}
.subtitle2 .user{margin-top:8px;font-size:11px;color:#888}
.subtitle2 h3{font-size:14px;line-height:16px;color:#e60012}
.subtitle3{clear:both;*zoom:1}
.subtitle3:after{display:block;clear:both;content:''}
.subtitle3 .lt{float:left;font-size:22px;line-height:24px;font-family:'NanumGothic','Malgun Gothic';letter-spacing:-1px;color:#010101}
.subtitle3 .rt{float:right;margin-top:10px;font-size:13px}
.subtitle3 .rt input{margin-left:20px}
h3.subtitle3{font-size:22px;line-height:24px;font-family:'NanumGothic','Malgun Gothic';letter-spacing:-1px;color:#010101}
.subtitle4{position:relative;padding:40px 0 35px 190px;background:#f2f2f2;border-width:2px 1px 1px;border-style:solid;border-color:#333 #d1d1d1 #d1d1d1}
.subtitle4 .date{position:absolute;left:32px;top:40px;font-size:42px;line-height:44px;color:#222}
.subtitle4 .user{margin-top:8px;font-size:11px;color:#888}
.subtitle4 h3{font-size:14px;line-height:16px;color:#e60012}
.subtitle5{padding:40px 37px 30px;background:#f2f2f2;font-size:14px}
.subtitle5 h4{margin-bottom:10px}
.subtitle5 strong{color:#e60012}
.subtitle5 em{font-size:11px;color:#444}
.subtitle5.v1{border-top:2px solid #333}
.subtitle6, .subtitle6 h3{font-family:'NanumGothic','Malgun Gothic'}
.subtitle6{clear:both;padding:40px 0 45px;border-top:2px solid #333;border-right:1px solid #d1d1d1;border-left:1px solid #d1d1d1;background:#f2f2f2;font-size:16px;line-height:18px;letter-spacing:-1px;text-align:center;color:#9d9d9d}
.subtitle6 h3{font-size:40px;line-height:42px;margin-bottom:30px;color:#222}
.subtitle7{font-size:30px;line-height:32px;font-family:'NanumGothic','Malgun Gothic';letter-spacing:-2px;color:#010101}

/* bbs */
.bbsLst{clear:both;border-top:2px solid #333}
.bbsLst table{width:100%}
.bbsLst th, .bbsLst td{padding-top:14px;padding-bottom:14px;border-bottom:1px solid #d1d1d1;color:#0a0a0a}
.bbsLst th{background:#f2f2f2}
.bbsLst td{text-align:center}
.bbsLst td.data1{text-align:left}
.bbsLst td.data1 a{font-weight:bold;font-size:14px;color:#0a0a0a}
.bbsLst td.data1 a:hover{color:#e60012}

.bbsLst2{clear:both;padding-top:30px}
.bbsLst2 dl{margin-bottom:30px;padding-bottom:29px;border-bottom:1px solid #d8d8d8;*zoom:1}
.bbsLst2 dl:after{display:block;clear:both;content:''}
.bbsLst2 dt{float:left}
.bbsLst2 dt img{width:207px;height:122px}
.bbsLst2 dd{overflow:hidden;padding:8px 0 0 32px}
.bbsLst2 .tit{font-weight:bold;font-size:14px;color:#0a0a0a}
.bbsLst2 .tit:hover{color:#e60012}
.bbsLst2 .txt{overflow:hidden;height:48px;margin-top:10px;line-height:17px;font-size:11px;color:#888}
.bbsLst2 .date{margin-top:18px;font-size:11px;color:#444}
.bbsLst2{}

.bbsView{clear:both}
.bbsView .subject2{padding:40px 37px 30px;background:#f2f2f2;font-size:14px}
.bbsView .subject2 h4{margin-bottom:10px}
.bbsView .subject2 strong{color:#e60012}
.bbsView .subject2 em{font-size:11px;color:#444}
.bbsView .subject3{position:relative;padding:40px 0 30px 190px;background:#f2f2f2}
.bbsView .subject3 .date{position:absolute;left:32px;top:40px;font-size:42px;line-height:44px;color:#222}
.bbsView .subject3 .user{margin-top:8px;font-size:11px;color:#888}
.bbsView .subject3 h3{font-size:14px;line-height:16px;color:#e60012}
.bbsView .article{clear:both;padding:50px 0;border-top:1px solid #c8c8c8;line-height:19px}
.bbsView .file{width:100%;border-top:1px solid #c8c8c8;border-bottom:1px solid #c8c8c8}
.bbsView .file th, .bbsView .file td{padding-top:15px;padding-bottom:15px}
.bbsView .file th{width:120px;background:#f2f2f2}
.bbsView .file th img{margin-right:7px;vertical-align:middle}
.bbsView .file td{padding-left:20px}

.bbsView2{clear:both;border-top:2px solid #333}
.bbsView2 .article{padding:28px;line-height:17px}
.bbsView2 .file{width:100%;border-top:1px solid #c8c8c8;border-bottom:1px solid #c8c8c8}
.bbsView2 .file th, .bbsView .file td{padding-top:15px;padding-bottom:15px}
.bbsView2 .file th{width:120px;background:#f2f2f2}
.bbsView2 .file th img{margin-right:7px;vertical-align:middle}
.bbsView2 .file td{padding-left:20px}

.bbsFaq{clear:both;border-top:2px solid #333}
.bbsFaq .tab{border-bottom:1px solid #333;*zoom:1}
.bbsFaq .tab:after{display:block;clear:both;content:''}
.bbsFaq .tab li{float:left;margin-left:-1px;background:url(../../img/common/ico_bar.gif) no-repeat 0 50%}
.bbsFaq .tab li a{display:inline-block;padding:15px 30px;font-weight:bold;text-decoration:none;color:#222}
.bbsFaq .tab li.selected a{position:relative;z-index:10}
.bbsFaq .tab li.selected a{background:#333;color:#fff}
.bbsFaq .tab li:first-child{margin-left:0;background-image:none}
.bbsFaq .que{display:block;position:relative;padding:15px 25px 15px 51px;background:url(../../img/common/ico_q.gif) no-repeat 24px 17px;border-bottom:1px solid #d1d1d1}
.bbsFaq .article.active .que{font-weight:bold;text-decoration:underline;color:#0a0a0a}
.bbsFaq .ans{display:none;padding:15px 25px 15px 51px;background:#f3f3f3 url(../../img/common/ico_a.gif) no-repeat 24px 17px;border-bottom:1px solid #d1d1d1}
.bbsFaq .arrow{display:inline-block;position:absolute;top:19px;right:30px;width:9px;height:6px;background:url(../../img/common/ico_arrow.gif) 0 100%}
.bbsFaq .article.active .ans{display:block}
.bbsFaq .article.active .arrow{background-position:0 0}
.bbsFaq{}