@charset "utf-8";

@import url('common.css?v=2014-07-28');

/* main */
.main_spot{clear:both;text-align:center}
.main_ct{width:1002px !important;border-right:1px solid #d1d1d1;border-left:1px solid #d1d1d1;padding-top:0 !important;background:url(../../img/content/main_bg_line.gif) repeat-y  694px 0}
.main_ct .innerWrap{*zoom:1}
.main_ct .innerWrap:after{display:block;clear:both;content:''}
.main_ct .box{padding:37px 0 32px 40px}
.main_ct .box2{padding:30px 23px 25px 23px}
.main_ct .line{border-top:1px solid #d1d1d1}
.main_ct .innerLt{float:left;width:694px}
.main_ct .innerRt{float:right;width:307px}
.main_ct .books{height:144px;padding:41px 0 0 167px;background:#ededed url(../../img/content/main_book_img.jpg) no-repeat 28px 29px}
.main_ct .books h2{margin-bottom:14px}
.main_ct .books .btn{margin-top:24px}
.main_ct .books2{clear:both}
.main_ct .books2 .img{text-align:center}
.main_ct .books2 .img img{max-width:206px;height:auto}
.main_ct .books2 .tabnate{margin-top:25px}
.main_ct .books2 .lstStyle{margin-top:20px}
.main_ct .books2 .lstStyle li a.elip{width:251px}
.main_ct .baner li{clear:both;margin-top:10px}
.main_ct .baner li:first-child{margin-top:0}
.main_ct .baner a{display:block;line-height:0;font-size:0}
.main_ct .tutorial{position:relative;clear:both;padding:30px 80px;background:#ededed;border-top:1px solid #d1d1d1}
.main_ct .tutorial h2{margin-bottom:30px}
.main_ct .tutorial dl{float:left;margin-left:30px;background:#fff}
.main_ct .tutorial dt, .main_ct .tutorial dt img{width:260px;height:170px}
.main_ct .tutorial dd{clear:both;padding:43px 0;text-align:center;font-weight:bold}
.main_ct .tutorial dd p, .main_ct .tutorial dd strong{font-size:16px}
.main_ct .tutorial dd p{margin-top:15px;color:#000}
.main_ct .tutorial dd strong{color:#e60012}
.main_ct .tutorial .flex-prev, .main_ct .tutorial .flex-next{position:absolute;top:190px;display:block;width:28px;height:59px;text-indent:-3000em}
.main_ct .tutorial .flex-prev{left:30px;background:url(../../img/common/btn_prev.gif)}
.main_ct .tutorial .flex-next{right:30px;background:url(../../img/common/btn_next.gif)}

/* 01 */
.fixedBook{overflow:hidden;position:relative;height:353px;padding:26px 37px 0 37px;background:url(../../img/content/01_slide_bg.gif) repeat-x}
.fixedBook strong{font-size:16px;color:#fff}
.fixedBook p{margin:7px 0 20px;font-weight:bold;font-size:13px;color:#f6818a}
.fixedBook img{width:186px;height:228px}
.fixedBook ul.cont{*zoom:1}
.fixedBook ul.cont:after{display:block;clear:both;content:''}
.fixedBook ul.cont li{position:relative;float:left;height:335px;padding:20px 23px 0}
.fixedBook ul.cont li.first{padding-left:0}
.fixedBook ul.cont li.selected{background:#fff}
.fixedBook ul.cont li.selected strong{color:#e60012}
.fixedBook ul.cont li.selected p{color:#666}
.fixedBook ul.cont li .ico{display:none;position:absolute;bottom:20px;right:12px}
.fixedBook ul.cont li .ico img{width:auto;height:auto}
.fixedBook ul.cont li.selected .ico{display:block}
.fixedBook .flex-prev, .fixedBook .flex-next{position:absolute;top:190px;display:block;width:45px;height:45px;text-indent:-3000em}
.fixedBook .flex-prev{left:0;background:url(../../img/common/btn_prev2.png)}
.fixedBook .flex-next{right:0;background:url(../../img/common/btn_next2.png)}

/* 02 */
.logoGroup{clear:both;border-top:1px solid #c8c8c8;border-right:1px solid #c8c8c8}
.logoGroup ul{clear:both;border-bottom:1px solid #c8c8c8;*zoom:1}
.logoGroup ul:after{display:block;clear:both;content:''}
.logoGroup li{position:relative;float:left;width:142px;height:105px;text-align:center;border-left:1px solid #c8c8c8}
.logoGroup li:first-child{width:143px}
.logoGroup dl{position:relative;z-index:20}
.logoGroup dt{padding-top:9px}
.logoGroup dt img{width:123px;height:50px}
.logoGroup .icoBox{display:none;position:absolute;top:-1px;left:-1px;width:139px;height:101px;border:3px solid #e60012;z-index:10}
.logoGroup dd{font-weight:bold}
.logoGroup dd table{width:100%}
.logoGroup dd table td{height:43px;padding:0 10px}
.logoGroup li:hover .icoBox, .logoGroup li.selected .icoBox{display:block}
.logoGroup li:hover dd, .logoGroup li.selected dd{color:#e60012}
.logoGroup .btMore{display:block;padding:10px 0;background:#f2f2f2;text-align:center}
.logoGroup .more ul{display:none}

/* 03 */
.booksDsk{clear:both;border:3px solid #3b3b3b;*zoom:1}
.booksDsk:after{display:block;clear:both;content:''}
.booksDsk dl{float:left;padding:35px 0 0 105px}
.booksDsk dt{float:left}
.booksDsk dd{overflow:hidden;padding:4px 0 0 47px}
.booksDsk dd h3, .booksDsk dd p{font-family:'NanumGothic','Malgun Gothic'}
.booksDsk dd h3{letter-spacing:-3px;line-height:50px;font-size:40px;color:#222}
.booksDsk dd p{margin:24px 0 0 7px;letter-spacing:-1px;font-size:16px;line-height:22px;font-weight:bold}
.booksDsk dd p span{display:inline-block;padding:1px 3px 2px;background:#4f9cec;color:#fff}
.booksDsk ul{float:right;width:337px;border-left:1px solid #d7d7d7;background:#f2f2f2}
.booksDsk li{padding:20px 20px 20px;border-top:1px solid #d7d7d7;*zoom:1}
.booksDsk li:first-child{border-top:0}
.booksDsk li:after{display:block;clear:both;content:''}
.booksDsk li .name, .booksDsk li .won{font-family:'NanumGothic','Malgun Gothic';font-size:18px;letter-spacing:-1px;line-height:20px;font-weight:bold;color:#3b3b3b}
.booksDsk li .name{float:left}
.booksDsk li .won{float:right;margin-top:-5px}
.booksDsk li .won strong{line-height:26px;font-size:24px;color:#e68200}
.booksDsk li.btAsk{padding:0;line-height:0;font-size:0;border-top:0;background:#3b3b3b}
.booksDsk li.btAsk a{display:block;padding:17px 0;text-align:center}

.booksDsk2, .booksDsk2 h4, .booksDsk2 li{font-family:'NanumGothic','Malgun Gothic'}
.booksDsk2 h4{padding-top:40px;letter-spacing:-1px;font-size:20px;line-height:22px;color:#222}
.booksDsk2 ol{margin-top:30px}
.booksDsk2 li{margin-top:10px;font-size:14px;line-height:16px;color:#444}
.booksDsk2 li p{margin-top:5px;line-height:22px}

/* 04 */
.faqMssBx{clear:both;padding:45px;background:url(../../img/content/04_bg_faq_box.gif);*zoom:1}
.faqMssBx:after{display:block;clear:both;content:''}
.faqMssBx p{float:left;font-family:'NanumGothic','Malgun Gothic';letter-spacing:-1px;font-size:16px;line-height:22px;color:#fff}
.faqMssBx a{float:right}

/* 05 */
.loginBx{clear:both;width:784px;margin:0 auto;border:8px solid #e9e9eb;*zoom:1}
.loginBx:after{display:block;clear:both;content:''}
.loginBx .form th, .loginBx .srch li a, .loginBx .join{font-family:'NanumGothic','Malgun Gothic'}
.loginBx .form{float:left;padding:69px 0 0 47px}
.loginBx .form th{padding-right:11px;text-align:right;font-size:14px;color:#010101}
.loginBx .form td{}
.loginBx .bnAd{float:right}
.loginBx .srch{clear:both;margin-top:24px;*zoom:1}
.loginBx .srch:after{display:block;clear:both;content:''}
.loginBx .srch li{float:left;margin-left:10px;padding-left:11px;background:url(../../img/common/ico_bar2.gif) no-repeat 0 1px}
.loginBx .srch li:first-child{margin-left:0;padding-left:0;background:none}
.loginBx .srch li a{font-weight:bold}
.loginBx .join{position:relative;clear:both;margin-top:10px;padding-top:31px;border-top:1px solid #e8e8e8;font-weight:bold}
.loginBx .join a{position:absolute;right:0;top:22px}

.srchChk{clear:both;padding:15px 0;border:1px solid #a7cdf5;text-align:center}
.srchChk strong{color:#4f9cec}
.srchChkP{font-size:11px;color:#e60012}
.srchResult{clear:both;padding:25px 0 30px;background:#f2f2f2;border:1px solid #e5e5e5;text-align:center}
.srchResult .tit{font-size:16px;font-weight:bold;line-height:18px}
.srchResult .txt{display:inline-block;margin-top:25px;line-height:17px;text-align:left}
.srchResult .txt2{display:inline-block;margin-top:28px;width:457px;padding:10px 0;border:1px solid #e5e5e5;background:#fff;background:#fff;font-weight:bold;color:#4f9cec}

.ly_pwModify{width:492px;height:273px;margin:-180px 0 0 -265px}
.ly_pwModify .txt{clear:both;margin:15px 0 20px;padding:18px 0;border-top:1px solid #000;background:#f2f2f2;text-align:center;line-height:17px;color:#222}
.ly_pwModify th{padding-right:10px;text-align:right;font-family:'NanumGothic','Malgun Gothic';font-size:14px;color:#010101}
.ly_pwModify table{margin:0 auto}

/* 06 */
.agreeBx{overflow-x:hidden;overflow-y:auto;height:253px;padding:18px;border:1px solid #cfcfcf}
.ly_zipcode{width:395px;height:494px;margin:-590px 0 0 196px}
.ie7 .ly_zipcode{margin:-565px 0 0 -106px}
.ly_zipcode .txt{margin-top:13px;line-height:17px}
.ly_zipcode .txt strong{color:#4f9cec}
.ly_zipcode .form{padding:20px 0;border-top:1px solid #fff;background:#f2f2f2;text-align:center}
.ly_zipcode h2{margin:30px 0 0 10px;font-size:12px;color:#000}
.ly_zipcode .addlst{overflow-x:hidden;overflow-y:auto;height:170px;margin-top:10px;border-top:2px solid #000;border-bottom:1px solid #b0b0b0}
.ly_zipcode .addlst li{margin-top:16px;margin-left:8px}
.ly_zipcode .addlst li a{font-size:11px}
.ly_idChk{width:492px;height:195px;margin:2px 0 0 213px}
.ie7 .ly_idChk{margin:27px 0 0 -86px}
.ly_idChk .form{margin-top:15px;padding:15px 0;border-top:2px solid #000;border-bottom:1px solid #bfbfbf;background:#f2f2f2;text-align:center}
.ly_idChk .form strong{margin-right:7px;font-family:'NanumGothic','Malgun Gothic';font-size:14px;color:#010101}
.ly_idChk .txt{margin-top:25px;text-align:center;color:#222;font-size:11px;line-height:17px}

/* 07 */
.aboutRole{height:746px;background:url(../../img/content/07_01_img.png) no-repeat 50% 0}
.aboutMap{width:968px;height:398px;border:1px solid #cfcfcf}
.aboutAdd, .aboutAdd li{clear:both}
.aboutAdd{margin-top:30px}
.aboutAdd li{position:relative;margin-top:10px;padding-left:166px;line-height:22px}
.aboutAdd li:first-child{margin-top:0}
.aboutAdd .tit{position:absolute;top:0;left:0;font-family:'NanumGothic','Malgun Gothic';letter-spacing:-1px;font-size:14px;color:#222}
.adDesk{clear:both;margin-top:35px;*zoom:1}
.adDesk .tblStyle th{padding-right:20px}
.adDesk:after{display:block;clear:both;content:''}
.adDesk h4, .adDesk2 h4{line-height:20px;font-family:'NanumGothic','Malgun Gothic';letter-spacing:-1px;font-size:18px;color:#e60012}
.adDesk .lt{float:left;width:469px}
.adDesk .rt{float:left;width:468px;margin-left:34px}
.adDesk2{margin-top:60px}
.adDesk2 ul{margin-top:15px;padding-left:86px;background:url(../../img/content/07_03_bg.gif) no-repeat}
.adDesk2 li{margin-top:10px;padding-left:8px;background:url(../../img/common/ico_bu3.gif) no-repeat 0 11px;font-family:'NanumGothic','Malgun Gothic';letter-spacing:-1px;line-height:22px;font-size:14px}