@import './module';
@import './animation';

$bg: #f2f3f5;
$fc: #007aff;
$fc2: #f11a1a;

// common
.scrap_ment{
    color:$fc
}

.ipsrch{
    button.srch i{
        @include svgfill($fc, 'ico_glass.svg');
    }
}

.list_group{
    a.brnd, button.brnd{
        color:$fc
    }
    .ico1, .ico3{
        background-color:#82c6f1;
    }
    .ico2, .ico4{
        background-color:$fc;
    }
    .pay strong{
        color:$fc;
    }
}
.list_bside{
    .list{
        li:first-child{
            .td code.won{
                text-decoration:underline;
                color:$fc2
            }
        }
    }
}
.list_article{
    .list{
        ul .td code{
            color:$fc2
        }
    }
}
.list_toggle_belt{
    .tt{
        &:before{
            background-color:$fc
        }
    }
}
.list_tag{
    a, button{
        border:1px solid rgb(108,170,255);
        color:rgb(0,122,255);
    }
    .del i{
        @include svgfill($fc, 'ico_x.svg');
    }
}

.terms_list{
    .checkbox{
        input:checked + label:before{
            background-image:url($urlImg + 'ico_v_on.png');
        }
    }
    li.all{
        .checkbox{
            input:checked+label{
                &:before{
                    background-image:url($urlImg + 'ico_v2_on.png');
                }
                &:after{
                    border-color:$fc
                }
            }
        }
    }
}

.btn_area_simp{
    .skip, .basket{
        background-color:$fc;
        border-color:$fc;
        color:#fff
    }
    .under{
        border-color:$fc !important;
        color:$fc
    }
    .basket{
        &:before{
            background-image:url($urlImg + 'ico_plus.png')
        }
    }
}

.btn_area_one{
    .skip{
        background-color:$fc
    }
    .view{
        color:$fc
    }
}
.btn_area_half{
    .skip{
        background-color:$fc
    }
}
.topGo{
    right:px($inr);
    bottom:px($inr);
    &:before{
        border-color:#007AFF;
    }
}

// layout
.inner_wrap{
    background-color:$bg
}
#header{
    [data-new]{
        @include new(#ed2b2b);
    }
    .btn_noti{
        top:px(12);
        left:px(22);
        i{
            width:px(31);height:px(35);
            background-image:url($urlImg + "ico_bell.svg")
        }
        &[data-new]{
            &:after{
                top:px(14);
                right:px(10);
            }
        }
    }
    .btn_set{
        top:px(11);
        right:px(20);
        i{
            @include svgfill(#1d1d1b, 'ico_gear.svg');
            width:px(37);height:px(37);
        }
    }
}
#gnb{
    background-color:#fff;
    border-top:1px solid #dfdfdf;
    >ul{
        display:flex;
        >li{
            flex:1 1 0;
            >a{
                display:flex;
                height:px(112);
                justify-content:center;
                flex-direction:column;
                align-items:center;
                font-size:px(20);
                color:#a9a9a9;
                &.on{
                    color:#000
                }
                &:before{
                    content:'';
                    display:inline-block;
                    background-repeat:no-repeat;
                    background-size:100% auto;
                    width:2.5rem;
                    height:2.7rem;
                }
                &:after{
                    content:attr(data-name);
                }
                &[data-name="홈"]{
                    &:before{                        
                        background-image:url($urlImg + "app/gnb_ico1.svg");
                        background-position:0 px(2)
                    }
                    &.on:before{
                        background-image:url($urlImg + "app/gnb_ico1_on.svg");
                    }
                }
                &[data-name="헬스케어"]{
                    &:before{
                        background-image:url($urlImg + "app/gnb_ico2.png");
                        background-position:0 px(10);
                        width:2.1rem;
                    }
                    &.on:before{
                        background-image:url($urlImg + "app/gnb_ico2_on.png");
                        width:1.8rem;
                        margin-left:px(-2);
                    }
                }
                &[data-name="AI영양제리뷰"]{
                    &:before{
                        background-image:url($urlImg + "app/gnb_ico3.svg");
                    }
                    &.on:before{
                        background-image:url($urlImg + "app/gnb_ico3_on.svg");
                    }
                }
                &[data-name="건강분석"]{
                    &:before{
                        background-image:url($urlImg + "app/gnb_ico4.svg");                        
                    }
                    &.on:before{
                        background-image:url($urlImg + "app/gnb_ico4_on.svg");
                    }
                }
            }
        }
    }
}
#content{
    &.main_card{
        .viewlist{
            >li>a{
                h3{
                    &[data-i='note']:before{
                        @include svgfill($fc, 'ico_note.svg')
                    }
                    &[data-i='coin']:before{
                        @include svgfill($fc, 'ico_coin.svg')
                    }
                }
            }
        }
    }
}

// content
.main_card{
    .cardlist{
        .result{
            color:$fc
        }
        .skip{
            color:$fc;
            &:after{
                border-color:$fc
            }
        }
        .top{
            >a{
                background-color:$fc !important
            }
        }
    }
    [data-name="진료비내역"]{
        figure{
            width:px(97);height:px(97);
            bottom:px(44);right:px(46);
            background-image:url($urlImg + 'app/main_ico_note.svg');
            i{
                display:block;
                position:absolute;
                background-repeat:no-repeat;
                opacity:0;
                transition:.35s ease .25s;
            }
            &.coin{
                i{
                    opacity:1;
                    transform: translate(0,0) !important;
                }
            }
            i:first-child{
                top:0;left:px(-70);
                width:px(51);height:px(51);
                background-image:url($urlImg + 'app/main_ico_note_m1.svg');
                transform: translate(30px,10px);
            }
            i:nth-child(2){
                top:px(-50);right:px(-6);
                width:px(36);height:px(36);
                background-image:url($urlImg + 'app/main_ico_note_m2.svg');
                transform: translate(-7px,30px);
            }
        }
        &.on{
            figure i{
                opacity:1;
                transform: translate(0,0);
            }
        }
    }
    [data-name="검진연도"]{
        figure{
            width:px(170);height:px(118);
            bottom:px(40);right:px(40);
            background-image:url($urlImg + 'app/main_ico_cal.svg');
        }
    }
    [data-name="검진결과"]{
        figure{
            width:px(122);height:px(149);
            bottom:px(42);right:px(40);
            background-image:url($urlImg + 'app/main_ico_note2.svg');
        }
    }
}
.main_card2{
    h2 strong{
        color:$fc
    }
    .cardlist > li{
        &[data-name='전문의료진']{
            a{background-color:$fc}
            a:after{
                background-image:url($urlImg + 'app/healthcare_ico_moniter.svg');
                width:px(118);
                height:px(155);
                top:px(66);
                right:px(42);
            }
        }
        &[data-name='종합건강검진']{
            a{background-color:#22b3f6}
            a:after{
                background-image:url($urlImg + 'app/healthcare_ico_chart.svg');
                width:px(118);
                height:px(148);
                top:px(80);
                right:px(46);
            }
        }
        &[data-name='병의원']{
            a{background-color:#307be2}
            a:after{
                background-image:url($urlImg + 'app/healthcare_ico_build.svg');
                width:px(153);
                height:px(138);
                top:px(92);
                right:px(30);
            }
        }
    }
}
.main_card2_detail{
    &[data-name="전문의료진"]{
        aside{
            background-color:$fc;
            figure{
                &:before{
                    background-color:#2270df;
                }
                i{
                    background-image:url($urlImg + 'app/healthcare_ico_moniter.svg');
                    width:px(88);height:px(120);
                    top:px(8);
                }
            }
        }
    }
    &[data-name="종합건강검진"]{
        aside{
            background-color:#22b3f6;
            figure{
                &:before{
                    background-color:#1e96cd;
                }
                i{
                    background-image:url($urlImg + 'app/healthcare_ico_chart.svg');
                    width:px(90);height:px(104);
                    top:px(20);
                }
            }
        }
    }
    &[data-name="병의원"]{
        aside{
            background-color:#307be2;
            figure{
                &:before{
                    background-color:#255ca7;
                }
                i{
                    background-image:url($urlImg + 'app/healthcare_ico_build.svg');
                    width:px(114);height:px(103);
                    top:px(20);
                }
            }
        }
    }
    .qnamap{
        .map{
            background-image:url($urlImg + 'app/healthcare_map.png')
        }
        .map a[data-area]{
            background-image:url($urlImg + 'app/healthcare_map_pin.png')
        }
    }
}

.medical_info{
    .cau:before{
        background-color:$fc
    }
}

.analysis_step{
    .chklst{
        .checkbox{
            input:checked + label{
                border-color:$fc;
                color:$fc;
                &:before{
                    border-color:$fc
                }
            }
        }
    }
    .skip{
        button, a{
            background-color:$fc
        }
    }
}

.analysis_result{
    .fc, .fup{
        color:$fc2
    }
    .fdw, .minus .fc{
        color:$fc
    }
    .chart_wrap{
        .minus ul li:nth-child(2){
            u.fc{
                border-color:$fc
            }
        }
    }
    .chart_wrap{
        ul li{
            &:nth-child(2){
                u.fc{
                    border-color:$fc
                }
            }
        }
    }
    .btn_btm_skip button{
        background-color:$fc
    }
    [data-section="나이"] h2{
        figure i{
            background-image:url($urlImg + "app/aireview_ico_heart2.png");
            width:px(90);
            height:px(65)
        }
    }
    [data-section="생존률"] h2{
        figure i{
            background-image:url($urlImg + "app/aireview_ico_heart3.png");
            width:px(98);
            height:px(60)
        }
    }
    [data-section="위험도"] h2{
        figure i{
            background-image:url($urlImg + "app/aireview_ico_chart.png");
            width:px(107);
            height:px(82)
        }
    }
    [data-section="위험도2"] h2{
        figure i{
            background-image:url($urlImg + "app/aireview_ico_chart.png");
            width:px(107);
            height:px(82)
        }
    }
    [data-section="서비스안내"]{
        h2 figure{
            background-image:url($urlImg + "app/aireview_ico_screen.png");
            background-size:100% 100%;
            width:px(253);
            height:px(247);
        }
    }
}

.analysis_nodata{
    .btm.skip{
        button, a{
            background-color:$fc
        }
    }
    &[data-type="설문조사"] figure{
        width:px(348);height:px(340);
        background-image:url($urlImg + "app/aireview_ico_screen2.png");
        margin-top:px(60)
    }
    &[data-type="건강정보"] figure{
        width:px(336);height:px(384);
        background-image:url($urlImg + "app/aireview_ico_xray.png");
        margin-top:px(80)
    }
}

.aireview_tag{
    .btn_search, .ipbox{
        border:1px solid $fc;
        box-shadow:px(5) px(5) px(15) rgba(0,122,255,.2)
    }
    .btn_search:after{
        @include svgfill(rgb(0,122,255), 'ico_glass.svg')
    }
}

.aireview_result{
    .explain{
        .sort{
            background-color:#e6f2ff;
            color:$fc;
            &[data-vs="카테고리랭킹"]:before{
                @include svgfill($fc, 'ico_vs2.svg');
                width:px(56);height:px(50);
            }
            &[data-vs="등록리뷰수"]:before{
                @include svgfill($fc, 'ico_vs1.svg');
                width:px(55);height:px(50);
                margin-left:px(14)
            }
            &[data-vs="제조사"]:before{
                @include svgfill($fc, 'ico_vs3.svg');
                width:px(52);height:px(53);
            }
            &[data-vs="1일 섭취가격"]:before{
                @include svgfill($fc, 'ico_vs4.svg');
                width:px(51);height:px(42);
            }
            &[data-vs="원료 및 성분"]:before{
                @include svgfill($fc, 'ico_vs5.svg');
                width:px(44);height:px(52);
            }
            &[data-vs="일 섭취 횟수 용량"]:before{
                @include svgfill($fc, 'ico_vs6.svg');
                width:px(47);height:px(44);
            }
            &[data-vs="인증현황"]:before{
                @include svgfill($fc, 'ico_vs7.svg');
                width:px(42);height:px(29*2);
            }
            &[data-vs="안전부적합내역"]{
                &:before{
                    @include svgfill($fc, 'ico_vs8.svg');
                    width:px(48);height:px(27.5*2);
                }
                i{
                    display:block;
                    width:px(32);line-height:px(32);
                    border-radius:50%;
                    background-color:$fc;
                    @include pos(absolute, $l:50%, $t:50%);
                    transform: translate(-50%,-50%);
                    margin:px(-4) 0 0 px(16);
                    text-align:center;
                    &:after{
                        content:'';
                        @include bgf;
                        vertical-align:top;
                        background-image:url($urlImg + 'ico_q.png');
                        width:px(11);height:px(22);
                        margin:3px 0 0 1px;
                    } 
                }
            }
            [data-vs="안전부적합내역"]{                
                margin-bottom:px(10);
                color:$fc;
                i{
                    display:block;
                    width:px(32);line-height:px(32);
                    border-radius:50%;
                    background-color:$fc;
                    @include pos(absolute, $l:50%, $t:50%);
                    transform: translate(-50%,-50%);
                    margin:px(-4) 0 0 px(16);
                    text-align:center;
                    &:after{
                        content:'';
                        @include bgf;
                        vertical-align:top;
                        background-image:url($urlImg + 'ico_q.png');
                        width:px(11);height:px(22);
                        margin:3px 0 0 1px;
                    }
                }
                &:after{
                    content:attr(data-vs);
                }
                &:before{
                    content:'';
                    display:block;
                    margin:px(-10) auto px(8);
                    @include svgfill($fc, 'ico_vs8.svg');
                    width:px(48);height:px(27.5*2);
                }
                + .handle_toggle_depth{
                    @include pos(absolute, $b:0, $l:0);
                    width:100%;height:px(50);
                }
            }
        }
        .depth_lst{
            h4{
                .unit{
                    color:$fc
                }                    
            }
            .list{
                code{
                    color:$fc
                }
                .o{
                    border-color:$fc !important
                }
            }
        }
    }
}

.aireview_table{
    .mealst{
        hgroup{
            .col code{
                color:$fc
            }
        }
    }
}

.setting_list{
    .push{
        input:checked{
            background-color:$fc
        }
    }
}

.app_version h2{
    color:$fc
}

.pay_join{
    h2 strong{
        color:$fc
    }
}

// popup
.ly_checked{
    .content{
        .btn_skip{
            button{
                border-bottom:1px solid $fc;
                color:$fc;
            }
        }
    }
}

.ly_analysis_use{
    .skip{
        background-color:$fc
    }
}

.ly_hcare{
    figure{
        &.heart{
            &:after{
                width:px(65);height:px(51);
                background-image:url($urlImg + 'app/healthcare_ico_heart.png')
            }
        }
        &.calendar{
            &:after{
                width:px(57);height:px(48);
                background-image:url($urlImg + 'app/healthcare_ico_calendar.png');
                margin-left:px(4)
            }
        }
    }
    .terms .checkbox{
        input:checked+label{
            &:before, &:after{
                border-color:$fc
            }
        }
    }
    .cs .tel code{
        color:$fc
    }
}

.ly_search{
    .ipbox{
        border-bottom:1px solid $fc;
    }
    .history{
        .list{
            .live{
                color:$fc
            }
        }
    }
}