@charset "utf-8";

:root{
    --color-black:#222;
    --cm-mg-base:24;
    --cm-mg-small:8;
    --cm-mg-topLine:32;
    --backlst-btm-set:4;
}

.txbtn{display:inline-block;font-size:14px;font-weight:500;color:var(--color-black)}
.txbtn .icon{display:inline-block;vertical-align:middle}
.txbtn .icon.arr{width:16px;height:16px;margin-top:-2px;background:url(../../img/cms2.0/common/icon_arrowright.png) no-repeat;background-size:100%}

.formBox.unit em{align-self: flex-end;margin-left:4px}

.checkListWrap ul li dt.cname{line-height:1.5;font-size:15px;font-weight:500;color:var(--color-black)}
.checkListWrap dd.banklst.type{padding-bottom:calc(var(--backlst-btm-set)*1px)}
.checkListWrap dd.banklst ul li{border:0;margin:0;overflow:inherit}
.checkListWrap dd.banklst .num{display:block;margin-top:2px;color:#767676}
.checkListWrap dd.banklst .price{margin-top:calc(var(--cm-mg-small)*1px);text-align:right;color:#555}
.checkListWrap dd.banklst .price .sbtn{margin:-4px 0 0 4px}
.checkListWrap dd.banklst .price .wo{margin-left:4px;color:var(--color-black);font-size:16px;font-weight:700}
.checkListWrap .infoset{margin-top:18px !important;border-top:1px solid #e8e8e8 !important;border-radius:0}
.checkListWrap .infoset .accordionList{width:auto;margin-left:0}
.checkListWrap .infoset .acc_title{
    display:flex;justify-content:space-between;
    height:48px;line-height:48px;padding:0;border-bottom:0;
    padding-right:26px
}
.checkListWrap .infoset .acc_title>b{font-size:14px;color:#555}
.checkListWrap .infoset .acc_title .txt{font-weight:500;color:var(--color-black)}
.checkListWrap .infoset .acc_title:after{width:16px;height:16px;right:0}
.checkListWrap .infoset .accContent{position:relative;background-color:#f8f8f8;left:calc(-50vw + 50%);width:100vw;padding:16px 34px;margin-bottom:calc(var(--backlst-btm-set)*-1px);border-bottom:0}
.checkListWrap .infoset{}

.accordionList.notiList.topLine{padding-top:calc(var(--cm-mg-small)*1px)}
.accordionList.notiList.topLine:before{left:calc(-50vw + 50%)}
.accordionCheck .showbox{display:none}

.formField label.sectTit{display:block}
.formField .sectTit{margin-bottom:calc(var(--cm-mg-small)*1px)}
.formField .formBox + .sectTit{margin-top:calc(var(--cm-mg-base)*1px)}
.formField .formBox + .formBox{margin-top:calc(var(--cm-mg-small)*1px)}

.jibgeumForm ~ .accordionList.notiList{margin-top:40px}

.jibgeumForm{margin-top:calc(var(--cm-mg-base)*1px)}
.jibgeumForm.topLine{padding-top:calc(var(--cm-mg-topLine)*1px)}
.jibgeumForm:first-of-type{margin-top:0}
.jibgeumForm .contTit.type{margin-bottom:calc(var(--cm-mg-small)*1px) !important}
.jibgeumForm .tabRadio{margin-top:24px}
.jibgeumForm .bankMemo{justify-content:flex-end;margin-top:calc(var(--cm-mg-base)*1px);margin-bottom:18px}
.jibgeumForm .accordionList.type02{margin-top:calc(var(--cm-mg-small)*1px)}
.jibgeumForm .accordionList.type02 > li .acc_title:after{display:block;width:16px;height:16px;background-image:url(../../img/cms2.0/common/icon_arrowdown.png)}
.jibgeumForm .accordionList.type02 li .acc_title.acc_open:after{background-image:url(../../img/cms2.0/common/icon_arrowup.png)}
.jibgeumForm .checkListWrap{margin-top:calc(var(--cm-mg-small)*1px)}
.jibgeumForm .tableWrap{margin-bottom:calc(var(--cm-mg-base)*1px)}