@charset "utf-8";

html,body{width:100%;height:100%;}
html,body,div,a,p,ul,li,nav,header,span,h1,h2,h3,h4,h5,h6,dd,dt,dl,ol,address,input,form,fieldset,legend,button{margin:0;padding:0;-webkit-tap-highlight-color: rgba(0,0,0,0);-webkit-tap-highlight-color: transparent;}
nav,header,footer{display:block;}
ul, ol{list-style:none;}

a:link,a:visited{text-decoration:none; color:#333; cursor:pointer;outline:none;-webkit-tap-highlight-color: rgba(0,0,0,0);-webkit-tap-highlight-color: transparent;}
a:hover,a:active{text-decoration:none; color:#333;outline:none;-webkit-tap-highlight-color: rgba(0,0,0,0);-webkit-tap-highlight-color: transparent;}
img,button,fieldset,input[type=text],input[type=password],input[type=number],input[type=tel]{border:none;}
input[type="checkbox"]{vertical-align: middle;}
input[type=text], input[type=password], input[type=submit], input[type=search], input[type=number],input[type=tel],textarea { -webkit-appearance:none; }
input[type=text],input[type=number],input[type=password],input[type=tel]{height:100%;font-size:1.15em;}
input {border-radius:0;background:none;outline:none;}
*{-webkit-text-size-adjust: none; -moz-text-size-adjust: none; -ms-text-size-adjust: none;}
/* Hide HTML5 Up and Down arrows. */
input[type="number"]::-webkit-outer-spin-button,input[type="number"]::-webkit-inner-spin-button,input[type="tel"]::-webkit-outer-spin-button,input[type="tel"]::-webkit-inner-spin-button{-webkit-appearance:none;margin: 0;}
input[type="number"],input[type=tel] {-moz-appearance: textfield;}
select,option,input[type="checkbox"]{background-color:#fff;border-radius: 0;}
button{cursor:pointer;outline:none;background-color:transparent;font-size:13.6px;color:#333;}
input{font-size:0.85em;}
textarea{resize:none;outline:none;}
label{outline:none;border:none;}
body,h1,h2,h3,h4,h5,h6,p,a,span,input,button{font-family: "HomeplusL";font-weight:500;}
body{font-size:0.85em;}
.textHide{font-size:0;line-height:0;overflow:hidden;text-indent:-9999px;}
.clear:after{content:"";display:block;clear:both;}
