@charset "utf-8";

@import url('https://fonts.googleapis.com/css?family=Noto+Sans+KR:100,300,400,500,700&display=swap');
@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,500,700,900');

/* reset */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {margin: 0;padding: 0;border: 0}
*, *:before, *:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-tap-highlight-color: rgba(255,255,255,0);
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
	display: block;
}

/* normalize.css v8.0.1 */
html {
  -webkit-text-size-adjust: none;
  -webkit-overflow-scrolling: touch;
  touch-action: manipulation;
  font-size: 0.625rem;
  /* font-size: 10px */
  height: 100%;
}
body {
  font-size: 1.4rem;
  font-weight: 400;
  letter-spacing: -0.05rem;
  line-height: 1;
  word-wrap: break-word;
  word-break: keep-all;
  font-family: "Noto Sans KR", "Apple SD Gothic Neo", "Helvetica", "Roboto", "DroidSans", "맑은 고딕", "Malgun Gothic", sans-serif;
  color: #222;
  height: 100%;
  -webkit-touch-callout:none;
  -webkit-user-select:none
}
body.bgf{background:#fff}
body.bgGray{background-color:#f4f4f4}
a {
  text-decoration: none;
  color: inherit;
}
abbr[title] {
  border-bottom: none;
  text-decoration: underline;
}
pre {
  font-family: "Noto Sans KR", "Apple SD Gothic Neo", "Helvetica", "Roboto", "DroidSans", "맑은 고딕", "Malgun Gothic", sans-serif;
  white-space: pre-line;
}
strong {
  font-weight: bolder;
}
sub, sup {
  position: relative;
  font-size: 0.075rem;
}
sub {
  bottom: -0.025rem;
}
sup {
  top: -0.05rem;
}
ol, ul {
	list-style: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
img {
  border-style: none;
}
legend {
  max-width: 100%;
  white-space: normal;
  color: inherit;
}
button, input, optgroup, select, textarea {
  -webkit-appearance: none;
  margin: 0;
  padding: 0;
  background-color: transparent;
  border-radius: 0;
  font-family: inherit;
  font-size: inherit;
  letter-spacing: inherit;
  line-height: inherit;
  border: 0;
}
button, select {text-transform: none}
button, a{cursor: pointer}
textarea {overflow: auto}
[type="tel"]::-webkit-inner-spin-button, [type="tel"]::-webkit-outer-spin-button, [type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}
[type="search"] {-webkit-appearance: textfield}
[hidden] {display: none}
.fsup{font-size:1.6rem}
.u{text-decoration: underline}
.bold{font-weight:500}
:focus{outline:none}
.blind {
  display:inline-block;
  position: absolute;
  width: 0.1rem;
  height: 0.1rem;
  text-indent: -9999rem !important;
}

/* common */
img{max-width:100%}
.ico_com{display:inline-block;background-repeat:no-repeat;background-size:16.5rem auto;vertical-align:middle;color:transparent;white-space:nowrap;text-indent:-1000rem}
input,textarea,button,select{-webkit-appearance:none;border-radius:0;font-size:1rem;font-family:'Roboto','Noto Sans KR',Dotum,Gulim,Sans-serif;letter-spacing:-.05rem}
button{cursor:pointer;border:none;background:none;-webkit-appearance:none}
input[type="checkbox"],
input[type="radio"]{margin:0;border:1px solid #999}
input[type="radio"]{-webkit-appearance:radio}
input[type="checkbox"]{width:1rem;height:1rem;border:1px solid rgba(0,0,0,0);-webkit-appearance:checkbox}
input:checked[type="checkbox"],
input:checked[type="radio"]{background-color:transparent}
input[type="number"],
input[type="tel"],
input[type="text"],
input[type="password"],
input[type="email"],
input[type="search"]{width:100%;height:3.7rem;line-height:inherit;padding:.1rem .9rem 0;border:1px solid #dbdbdb;font-size:1.3rem}
button{cursor:pointer;border:none;background:none;-webkit-appearance:none}
select{background-color:transparent}
.scroll{height:100%;overflow-x:hidden;overflow-y:scroll;-webkit-overflow-scrolling:touch}
.scroll::-webkit-scrollbar{display:none}

.wrap {
  position: relative;
  width:100%;
  padding-top: 1.4rem;
  /* overflow-x: hidden; */
}
.wrap.hwv{padding-top:4.4rem}
.wrap.hwv2{padding-top:7.8rem}
.wrap.bgGray{background-color:#f4f4f4}
.wrap.fh{height:100%}
.elip1{overflow:hidden;display:inline-block;text-overflow:ellipsis;white-space:nowrap;word-wrap:normal;max-width:100%}
.elip2{overflow:hidden;display:-webkit-box;text-overflow:ellipsis;-webkit-line-clamp:2;-webkit-box-orient:vertical;word-break:normal;white-space:pre-line}

div.checkbox{display:block}
.checkbox{position:relative;display:inline-block;vertical-align:middle;text-align:left}
.checkbox input{width:1px;height:1px;border:0;margin:-1px;padding:0;overflow:hidden;position:absolute;clip:rect(0,0,0,0)}
.checkbox input + label{display:block;position:relative;cursor:pointer;-webkit-user-select:none;-moz-user-select:none;-ms-user-select:none;padding:.5rem 0 .55rem 3.1rem}
.checkbox input + label, .checkbox button{font-weight:300;font-size:1.15rem}
.checkbox input + label:before{content:'';background-repeat:no-repeat;background-size:100% 100%;display:inline-block;position:absolute}
.checkbox.button label + button{padding-top:.5rem;padding-bottom:.55rem}

.viewer_body .btmbtn.btn2{z-index:2}
.viewer_body .btmbtn.btn2 li{width:30%}
.viewer_body .btmbtn.btn2 li:first-child{width:70%}

/* header*/
header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  margin: auto;
  width: 100%;
  height: 4.4rem;
  padding: 0.4rem 1.6rem 1.1rem;
  background-color: #fff;
  z-index: 100;
}
header.bgGray{background-color:#f4f4f4}
/* header.underLine {border-bottom: 1px solid #f4f4f4} */
.header_inner {
  position: relative;
  width: 100%;
  height: 100%;
  padding:0 0 .2rem;
}
.header_inner.header_inner-logo {
  padding: 0.6rem 0.8rem 0.5rem;
}
.header_tit {
  font-size: 1.8rem;
  font-weight: normal;
  line-height: 2.7rem;
  text-align: center;
}
.header_tit .ico_qa{display:inline-block;width:2rem;height:2rem;margin-top:-0.35rem;margin-left:0.65rem;vertical-align:middle;background:url(../image/ico_qa.png) no-repeat 50% 50%;background-size:100% 100%}
.header_tit-logo {
  width: 5.4rem;
  height: 1.8rem;
  background: url(../image/pass_3x.png) center no-repeat;
  background-size: cover;
}
.header_btn {
  display: inline-block;
  position: absolute;
  top: 0;
  width: 2.8rem;
  height: 2.8rem;
  background-size: 2.8rem;
}
.header_tab{height:auto;padding-bottom:0}
.header_tab .tab_type{margin-top:2rem}
.header_tab.process{border-bottom:1.2rem solid #F4F4F4}

.btmbtn{position:fixed;bottom:0;width:100%;left:0;background-color:rgba(0,0,0,.67)}
.btmbtn:after{display:block;clear:both;content:''}
.btmbtn button{width:100%;height:4rem;color:rgba(255,255,255,.7);font-size:1.6rem}
.btmbtn li{float:left;position:relative;width:100%}
.btmbtn li:before{
    content:'';display:block;width:1px;height:1.2rem;background-color:#e3e3e3;
    position:absolute;top:50%;left:0;
    -webkit-transform: translateY(-50%);transform: translateY(-50%);
}
.btmbtn li:first-child:before{display:none}

/* icons */
.ico-back {
  left: 0;
  top: 0.1rem;
  background: url(../../../../image/back.svg) center no-repeat;
}
.ico-close {
  right: 0;
  background: url(../../../../image/close_big.png) center no-repeat;
  background-size:100% 100%;
}
/* font color */
.fc_blu{color:#4285F6 !important}
.fc_red{color:#FF4747 !important}

/* popup */
.ly_pop, .ly_pop:before{position:absolute;top:0;bottom:0;right:0;left:0}
.ly_pop{position:fixed;z-index:200;display:none}
.ly_pop:before{content:'';background-color:rgba(34,34,34,.8)}
.ly_pop>.content{position:absolute;top:50%;left:50%;width:86%;background-color:#fff;overflow:hidden;border-radius:.8rem;-webkit-transform:translate(-50%, -50%);transform:translate(-50%, -50%)}
.ly_pop.full,
.ly_pop.full:before{background-color:#fff}
.ly_pop.full .wrap{overflow:hidden;height:100%}

.ly_doc .content{width:93.5%;height:50rem}
.ly_doc .scroll{padding-top:4.4rem}
.ly_doc.ly_full .content{
    left:0;top:0;border-radius:0;width:100%;height:100%;
    -webkit-transform: translate(0,0);transform: translate(0,0)
}
.ly_doc .header.longTit{height:auto;padding-top:.7rem;border-bottom:1px solid #e5e5e5}
.ly_doc .header.longTit .header_inner{padding-right:3rem}
.ly_doc .header h1{text-align:left}
.ly_doc .header.longTit h1{line-height:1.3}
.ly_doc .header_btn{top:.1rem}
.ly_doc .header.longTit+.scroll{padding-top:6.7rem}

.ly_full{background-color:#fff}
.ly_full:before{display:none}
.ly_full .header{border-bottom:1px solid #e5e5e5}
.ly_full .header h1{text-align:left}
.ly_full .scroll{height:100% !important;border-radius:0}

.ly_close{position:absolute;top:.7rem;right:1.1rem;padding:.5rem}
.ly_close i{width:1.45rem;height:1.45rem;background-image:url(../image/ico_x.png);background-size:100% 100%}

/* Text viewer */
.viewer {
  width: 100%;padding: 2rem;
  /* height: auto   */
}
.viewer table{border-top:1px solid #333;border-right:1px solid #333}
.viewer table table{margin-top:0}
.viewer th, .viewer td{padding:.5rem;border-bottom:1px solid #333;border-left:1px solid #333}
.viewer th{background-color:#e8e8e9}
.viewer td{word-break:break-all}
.viewer_body{word-break: normal}
.viewer_txt {
  line-height: 2.6rem;
  letter-spacing: -0.05rem;
  color: #444;
}
.viewer_txt .date{float:right;}
.viewer_txt h2{font-size:1.6rem;color:#000}
.viewer_txt .fsUp{font-size:1.5rem;}
.viewer_txt .fc000{color:#000;}
.viewer_txt table{width:100%;letter-spacing:-2px;}
.viewer_txt .u{text-decoration:underline;}
.viewer_txt div.box{width:100%;padding:.5rem;border:1px solid #444}
.viewer_txt2{line-height:2rem;letter-spacing:-.05rem;font-size:1.4rem}
.viewer_txt3{line-height:2rem;letter-spacing:-.05rem;font-size:1.4rem;color:#A7A7A7}
.inner .viewer {
  padding: 2rem 0;
}



/* 민앤지 이벤트 통일안 */
.agreeSec{padding:2rem 1.6rem 1.65rem}
.agreeSec:after{content:'';display:block;clear:both}
.agreeSec li{float:right}
.agreeSec li:first-child{float:left;margin-top:0.3rem;}
.agreeSec .checkbox{font-size:0;padding-left:2.4rem}
.agreeSec .checkbox button,
.agreeSec .checkbox span{text-align:left;font-size:1.4rem;font-weight:300;line-height:1.3}
.agreeSec .checkbox label{display:inline-block;width:1.8rem;height:1.8rem;padding:0;position:absolute;left:0;top:0.4rem;background-color:#d6d6d6}
.agreeSec .checkbox input:checked+label{background:url(../../../resources/app/image/promo_check.png) no-repeat 50% 50%;background-size:1rem 0.65rem;background-color:#d6d6d6}
.agreeSec .checkbox.all{padding-left:3rem}
.agreeSec .checkbox.all button,
.agreeSec .checkbox.all span{font-weight:500;font-size:1.7rem}
@media all and (max-width: 320px) {
    .agreeSec .checkbox button,
    .agreeSec .checkbox span{font-size:1.3rem}
}
.agreeSec .checkbox.all label{width:100%;height:2.2rem;top:0;margin-top:0;background-color:transparent}
.agreeSec .checkbox.all span{line-height:2.2rem}
.agreeSec .checkbox.all label:before{content:'';display:block;width:2.2rem;height:2.2rem;margin-top:-1.1rem;position:absolute;left:0;top:50%;border:0.15rem solid #aeaeae}
.agreeSec .checkbox.all input:checked+label{background:none}
.agreeSec .checkbox.all input:checked+label:before{background:url(../../../resources/app/image/promo_check_all.png) no-repeat 50% 50%;background-size:1.5rem 1rem}

.promoWrap{background-color:#fff;padding-top:0}
.promoWrap .btmbtn{background-color:rgba(255,255,255,0.92);border-top:1px solid rgba(134,134,134,0.6)}
.promoWrap .btmbtn button{height:5.25rem;color:#505050}
.promoWrap .btmbtn li:before{height:2.1rem;background-color:rgba(123,123,123,0.52)}
.prBanner .img{display:block}
.prBanner .img img{width:100%;vertical-align:top}
.prBanner .btnWrap{padding:0 2.6rem 2.9rem}
.prBanner .btnWrap.btn2 li+li{margin-top:0.55rem}
.prBanner .btnWrap .prBtn{display:block;width:100%;height:4rem;font-weight:500;font-size:1.6rem;border:1px solid transparent;border-radius:1.8rem}
.prBanner .prBtn .icon{display:inline-block;vertical-align:middle;background-size:100% 100%;background-position:50% 50%;background-repeat:no-repeat}
.prBanner .prBtn .icon.kakao{width:2.1rem;height:2rem}

.explainWrap{padding:0 1.6rem 6rem;color:#000;line-height:1.3}
.evtWrap:first-child{border-top:1px solid #d1d1d1}
.evtWrap{padding-top:2.75rem}
.evtWrap>strong,
.evtWrap>span{display:block}
.evtWrap>strong{font-weight:500;font-size:1.5rem}
.evtWrap>span{font-size:1.4rem;font-weight:300}
.evtWrap>span:nth-of-type(1){margin-top:0.9rem}
.evtWrap>strong+.stepList{margin-top:1.3rem}
.evtWrap ul li{position:relative;font-size:1.4rem;font-weight:300}
.stepList li{padding-left:4.8rem;margin-top:1rem}
.stepList li>*{display:block}
.stepList .step{position:absolute;left:0;top:0;font-weight:500;color:#f62727}
.evtWrap>strong+.alertList{margin-top:1rem}
.alertList li{padding-left:0.65rem;margin-top:0.5rem}
.alertList li:before{content:'-';display:block;position:absolute;left:0;top:0}