@charset "utf-8";

/* layout */
.ui_cover{padding:0 1.36rem;}
.ui_align_mid{display:-webkit-box !important;display:-webkit-flex !important;display:flex !important;align-items:center}
.ui_align_mid .elm{word-break:break-all}
.ui_align_mid2{position:relative;top:0;left:0;width:100%;height:100%}
.ui_align_mid2:before{height:100%;content:'';display:inline-block;vertical-align:middle}
.ui_align_mid2 .elm{position:relative;display:inline-block;vertical-align:middle}

.fix_top{position:fixed;top:0;left:0;right:0;z-index:9}
.fix_btm{position:fixed;bottom:0;left:0;right:0;z-index:9}
button.fix_btm{width:100%}
.fix_btm button, .fix_btm a{width:100%}

#header{border-bottom:1px solid #e3e3e3}
#header h1, #header h1 a{font-size:1.45rem;color:#1d1d1d}
#header h1{background-color:#fff;line-height:4.75rem;text-align:center}
#header h1 img{width:1.65rem;vertical-align:text-top;margin:0.24rem 0.5rem 0 0}
#header .btn_prev{font-size:0;position:absolute;top:0;left:0;padding:1.6rem}
#header .btn_cls{font-size:0;position:absolute;top:0;right:0;padding:1.76rem}

.ly_pop{display:none;position:fixed;top:0;left:0;width:100%;height:100%;z-index:9}
.ly_pop:before{content:'';position:absolute;top:0;left:0;z-index:-1;width:100%;height:100%;background:#000;opacity:.8}
.ly_pop .cont{width:100%;height:100%;position:absolute;top:0;left:0;z-index:990;font-weight:300;text-align:center}
.ly_pop .cont:before{height:100%;content:'';display:inline-block;vertical-align:middle}
.ly_pop .elm{position:relative;display:inline-block;vertical-align:middle;width:75%;background:#fff;text-align:center;font-size:.75rem;line-height:1.3}
.ly_full, .ly_full .fix_top{background-color:#fff}
.ly_full:before{display:none}
.ly_full .cont{height:auto;top:auto;left:auto;text-align:left}
.ly_full .cont:before{display:none}
.ly_full header{border-bottom:1px solid #e3e3e3}
.ly_full header h2{line-height:4.7rem;font-size:1.4rem;text-align:center}
.ly_full .btn_cls{font-size:0;position:absolute;top:0;right:0;padding:1.76rem}
.ly_full .btn_prev{font-size:0;position:absolute;top:0;left:0;padding:.95rem}

/* common */
#ct{padding-bottom:1.7rem}

.progress, .progress li{height:.2rem}
.progress{position:relative;z-index:1;margin-top:-1px;background-color:#e2e2e2}
.progress:after{content:'';display:block;clear:both}
.progress li{float:left;width:20%;background-color:#7053f8;text-indent:-3000em}

.cmd_list{margin:4.5rem 0 4.5rem 4.5rem}
.cmd_list h3{margin-bottom:.272rem;font-size:1.36rem;font-weight:300}
.cmd_list li:before{content:'';display:block;background:url(../images/cmd_bg_figure.png) no-repeat;background-size:3rem auto;position:absolute;left:0}
.cmd_list select{height:3.8rem;background-image:url(../images/cmd_select_arr.png);background-size:auto 1.1rem;border-style:solid;border-width:0 0 1px 0;border-color:#d6d6d6;padding:0;letter-spacing:-.16rem;font-size:1.904rem;font-weight:300}
.cmd_list select:focus{border-width:0 0 2px 0}
.cmd_list>li{position:relative;margin-top:2rem;padding:.72rem 0 0 4rem}
.cmd_list>li:first-child{margin-top:0}
.cmd_list>li:first-child:before{width:2.6rem;height:2.6rem;background-position:-.16rem 0;top:0}
.cmd_list>li:first-child select{color:#0c4ff9}
.cmd_list>li:first-child select:focus{background-image:url(../images/cmd_select_arr_on.png);border-color:#3064eb}
.cmd_list>li:nth-child(2):before{width:2.1rem;height:2.3rem;background-position:-.48rem -3.12rem;top:.4rem}
.cmd_list>li:nth-child(2) select{color:#6712f9}
.cmd_list>li:nth-child(2) select:focus{background-image:url(../images/cmd_select_arr2_on.png);border-color:#7731ee}
.cmd_list>li:nth-child(3):before{width:2.2rem;height:2.3rem;background-position:-.4rem -6.32rem;top:.4rem}
.cmd_list>li:nth-child(3) select{color:#9f23e6}
.cmd_list>li:nth-child(3) select:focus{background-image:url(../images/cmd_select_arr3_on.png);border-color:#a832eb}
.cmd_list>li:nth-child(4):before{width:2.4rem;height:2.3rem;background-position:-.4rem -9.76rem;top:.4rem}
.cmd_list>li:nth-child(4) select{color:#d123e6}
.cmd_list>li:nth-child(4) select:focus{background-image:url(../images/cmd_select_arr4_on.png);border-color:#aa40e7}

.direct_go{text-align:center;margin-top:8.16rem}
.direct_go a, .direct_go button{border-bottom:1px solid #111;font-weight:300;font-size:1.216rem;color:#111}
.direct_go i{margin:-.16rem 0 0 .6rem}

.refer_set{font-size:1.7rem;font-weight:300;text-align:center;color:#9e9e9e;line-height:1.3;letter-spacing:-.08rem }
.refer_set h3, .refer_set strong{color:#111}
.refer_set .stxt{margin-top:10px;font-size:1.1rem;color:#5e5e5e}
.refer_set .stxt small{font-size:1rem}

.shoot_frame{position:relative;width:26rem;height:15.45rem;margin:0.9rem auto 0;background:url(../images/idshoot_frm.png) no-repeat;background-size:100% auto}
.shoot_frame .photo{overflow:hidden;width:19.2rem;height:11rem;border-radius:.6rem;border:.16rem solid #7053f8;position:absolute;top:2.08rem;left:3.36rem}
.shoot_frame .photo img{width:100%;height:100%}
.shoot_frame.conf{height:auto;margin-top:.8rem;background:none}
.shoot_frame.conf .photo{position:inherit;top:auto;left:auto;margin:0 auto;border:0;background-color:#f0f0f0}

.shoot_frame2{width:23.8rem;padding-top:12.7rem;margin:2.75rem auto 0;background:url(../images/idshoot_frm2.png) no-repeat;background-size:100% 100%;text-align:center;font-size:1.3rem;font-weight:300}

.caution_box{position:relative;padding-left:1.6rem;line-height:1.35;font-size:1.12rem}
.caution_box .ico_cau{position:absolute;top:.192rem;left:0}
.caution_box h4{margin-bottom:.32rem;font-size:1.2rem}
.caution_box.red{color:#f74170}

.card_myinfo{width:24.6rem;height:14.88rem;margin:1.64rem auto 0;padding:2.5rem 2.3rem 0;background-color:#7053f8;border-radius:0.8rem;text-align:center;box-shadow:0.375rem 0.375rem 0.75rem rgba(98,63,247,.56)}
.card_myinfo dt{padding-bottom:1rem;font-weight:300;font-size:2.1rem;color:#fff;border-bottom:1px solid rgba(255,255,255,.2)}
.card_myinfo dd{margin-top:.1rem;padding-top:1.2rem;border-top:1px solid rgba(255,255,255,.2);font-weight:500;font-size:1.25rem;color:#a2a2ff;}
.card_myinfo dd strong{display:block;margin-top:.64rem;font-family:'Prompt', sans-serif;font-size:2.3rem;color:#fff;font-weight:400;letter-spacing:0}

.actopen_txt{padding-bottom:1.28rem;border-bottom:1px solid #e0e0e0;font-size:1.1rem;color:#8a8a8a;font-weight:300}
.actopen_txt p{margin-bottom:.4rem;font-size:1.7rem;font-weight:300;color:#000}
.actopen_txt em{font-style:italic}
.actopen_txt2{position:relative;margin-top:1.5rem;padding-bottom:6.16rem;border-bottom:1px solid #e0e0e0}
.actopen_txt2:after{content:'';display:block;width:11rem;height:11rem;background:url(../images/bg_working.png) no-repeat;background-size:100% auto;position:absolute;right:1rem;bottom:-.7rem}
.actopen_txt2 h3{font-size:2.7rem;letter-spacing:-0.1rem}
.actopen_txt2 h3 em{font-style:italic}
.actopen_txt2 em{font-weight:300}
.actopen_txt2 .txt{margin-top:1.2rem;font-weight:500;font-size:1.4rem}
.actopen_txt2 .txt i{margin:0 .4rem;font-family:'Prompt', sans-serif}
.actopen_txt2 .txt span{position:relative;z-index:1}
.actopen_txt2 .txt span:before{content:'';display:block;position:absolute;bottom:0;left:0;right:0;z-index:-1;height:.75rem;background-color:#d2defd}
.actopen_txt2 .txt span:first-child:before{background-color:#f9d1e4}
.actopen_txt2 .txt2{margin-top:1.36rem;font-weight:300;font-size:1.05rem}
.actopen_txt2 .txt2 strong{font-weight:400;font-family:'Prompt','Noto Sans', sans-serif;font-size:1.9rem}
.actopen_txt2 .txt2 strong:nth-of-type(2){letter-spacing:.08rem}
.actopen_txt2 .txt2 em{letter-spacing:-.04rem;font-size:1rem;color:#9b9b9b}
.actopen_txt2 .txt3{margin-top:3.2rem;font-weight:300;font-size:1.1rem;color:#333}
.actopen_txt2 .txt3 strong{display:block;margin-bottom:.5rem;font-family:'Prompt','Noto Sans', sans-serif;font-size:1.7rem;color:#7053f8}
.actopen_txt2 .txt3 .ts60{display:block;margin-bottom:.5rem;width:9.9rem;height:1.75rem;background:url(../images/bg_txt_60s.png) no-repeat;background-size:100% 100%;text-indent:-3000em}

.actopen_agree{margin-top:.875rem}
.actopen_agree li{font-size:0}
.actopen_agree li .checkbox{vertical-align:top}
.actopen_agree .btn_skip{width:15.625rem;margin-top:.9375rem}
.actopen_agree footer, .actopen_agree footer a{color:#7f7f7f}
.actopen_agree footer, .actopen_agree footer h4{font-weight:300}
.actopen_agree footer{margin:.625rem 0 0 .3125rem;font-size:.5625rem}
.actopen_agree .cau{margin-top:1.5625rem;padding-left:3.125rem;font-weight:500;line-height:1.4;font-size:.8125rem;color:#191919}
.actopen_agree .cau > span{display:inline-block;text-align:center}

.actopen_dsc{padding:1.5rem 0 0 0.55rem;line-height:1.35;letter-spacing:-.08rem}
.actopen_dsc h4, .actopen_dsc h4+p{font-weight:400;font-size:1.2rem;color:#575757}
.actopen_dsc h4+p+p{margin-top:.55rem;font-weight:300;font-size:1.1rem;color:#aaa}
.actopen_dsc .list{margin-top:.96rem;font-weight:300;font-size:.1rem;color:#5c5c5c;}
.actopen_dsc .list li{position:relative;padding-left:.75rem;margin-top:.55rem;font-size:1rem;}
.actopen_dsc .list li:before{content:'';display:block;width:.25rem;height:1px;background-color:#5c5c5c;position:absolute;left:0;top:.7rem;}

.mybank_list{letter-spacing:0}
.mybank_list>li{margin-top:2.5rem}
.mybank_list h3{margin-bottom:.8rem;font-size:0}
.mybank_list h3 img{width:8.4rem}
.mybank_list ul{border-top:1px solid #111}
.mybank_list ul li{position:relative;padding:1.2rem 4.3rem 1.2rem 0;border-bottom:1px solid #e5e5e5}
.mybank_list .name{display:block;font-size:1.2rem}
.mybank_list .num{display:block;margin-top:.4rem;font-family:'Prompt', sans-serif;font-size:1.1rem;color:#999}
.mybank_list .btn_skip{position:absolute;top:50%;margin-top:-1.2rem;right:.5rem;padding:.5rem;font-size:1.2rem;color:#7053f8}
.mybank_list .btn_skip .ico_arr_next2{margin:-.27rem 0 0 .5rem}

.mybank_select{padding-top:2.5rem;text-align:center}
.mybank_select .cau{margin-bottom:2.5rem;text-align:center;font-weight:300;font-size:1.312rem}
.mybank_select img{width:auto;height:2.7rem}
.mybank_select .checkbox{height:6.4rem}
.mybank_select .checkbox img.on{display:none}
.mybank_select .checkbox tt{display:block;margin-top:-.032rem;font-size:1.3rem;color:#666}
.mybank_select .checkbox input + label{width:100%}
.mybank_select .checkbox input + label:before{position:inherit}
.mybank_select .checkbox input + label:after{content:'';position:absolute;top:-1px;right:-1px;bottom:-1px;left:-1px;border:2px solid rgba(48,100,235,0);display:block}
.mybank_select .checkbox input + label:active img,
.mybank_select .checkbox input:checked + label:active img,
.mybank_select .checkbox input:checked + label img{display:none}
.mybank_select .checkbox input + label:active img.on,
.mybank_select .checkbox input:checked + label:active img.on,
.mybank_select .checkbox input:checked + label img.on{display:inline}
.mybank_select .checkbox input + label:active tt,
.mybank_select .checkbox input:checked + label:active tt,
.mybank_select .checkbox input:checked + label tt{font-weight:500;color:#7053f8}
.mybank_select .checkbox input + label:active:after,
.mybank_select .checkbox input:checked + label:active:after,
.mybank_select .checkbox input:checked + label:after{border-color:#7053f8}
.mybank_select ul{border-top:1px solid #e0e0e0}
.mybank_select ul:after{content:'';display:block;clear:both}
.mybank_select li{float:left;width:33.333%;border-bottom:1px solid #e0e0e0;border-right:1px solid #e0e0e0}
.mybank_select li:first-child{width:33.334%}
.mybank_select li:nth-child(3n){border-right:0}
.mybank_select li:nth-child(3n) .checkbox input + label:after{right:0}
.mybank_select li:first-child .checkbox input + label:after,
.mybank_select li:nth-child(4n) .checkbox input + label:after{left:0}

.acctnum_frm{text-align:center}
.acctnum_frm .cau{text-align:center;font-weight:300;font-size:.82rem}
.acctnum_frm figure{margin-top:3.6rem}
.acctnum_frm figure img{width:11.6rem}
.acctnum_frm .input{margin-top:2.5rem}
.acctnum_frm .input~p{margin-top:.72rem;font-size:1.1rem;color:#999}
.acctnum_frm input{text-align:center}

.agreeArs{text-align:center;line-height:1.3}
.agreeArs .txt{font-size:1.25rem;font-weight:500}
.agreeArs .txt2{margin-top:.72rem;font-size:1.1rem;color:#999}
.agreeArs .txt3{margin-top:1.84rem;font-size:1.1rem;border-radius:.4rem;}
.agreeArs .callbx{overflow:hidden;margin:2rem 1.85rem 0}
.agreeArs .callbx li:first-child{padding:2.24rem 0 1.44rem;font-size:1.28rem;color:#707070;border-radius:.6rem .6rem 0 0;border:.16rem solid #d2d2d2;}
.agreeArs .callbx li:first-child strong{display:block;font-family:'Prompt', sans-serif;font-size:4.16rem;color:#000;font-weight:500;letter-spacing:.1rem}
.agreeArs .callbx li:last-child{background-color:#7053f8;border-radius: 0 0 .6rem .6rem}
.agreeArs .callbx li:last-child button{width:100%;line-height:4.16rem;font-size:1.25rem;color:#fff}
.agreeArs .callbx li:last-child .ico_arr_next4{margin:-.2rem 0 0 .6rem}
.agreeArs .caulst, .agreeArs .caulst button{font-size:.5625rem;font-weight:300}
.agreeArs .caulst{margin-top:.625rem;padding:.2rem 1.09375rem .7rem;background-color:#f5f5f5;text-align:left;color:#313131}
.agreeArs .caulst button{display:inline-block;padding-top:.55rem;border-bottom:1px solid #396ef9;color:#396ef9}
.agreeArs .caulst pre{margin-top:.46875rem}

.camera_frm{padding-top:5rem;text-align:center;font-size:1.1rem;color:#525252}
.camera_frm img{width:21.2rem}
.camera_frm h3{margin:1.2rem 0;font-size:1.7rem;color:#000}
.camera_frm footer{position:fixed;bottom:2rem;left:0;right:0;line-height:1.4;font-size:1rem;color:#616161;font-family:'Prompt','Noto Sans', sans-serif}

.error_area{padding:1.875rem 0 0 2.4375rem;line-height:1.4;font-weight:300;font-size:.75rem;color:#828282;}
.error_area h2{margin-bottom:1rem;font-size:1.1875rem;font-weight:300;color:#000;}
.error_area .txt{margin-bottom:.45rem;font-size:.8125rem;color:#454545;}
.error_area figure{margin:0 0 .5rem -.53125rem;background-size:100% 100%;background-repeat:no-repeat;}
.error_area figure.img1{width:10.4062rem;height:6.28125rem;background-image:url(../images/bg_error.png)}

/* content */
#ct.userInfo .form_type{margin-top:1.92rem}
#ct.userInfo .tooltip2{top:-2.7rem;margin-left:-8.4rem;}
#ct.userInfo .tooltip2:before{left:9.1rem}
#ct.pwset .refer_set{margin-top:2.5rem;font-weight:300;font-size:1.2rem;letter-spacing:-.12rem}
#ct.pwset .refer_set h3{margin-bottom:.16rem;font-size:1.68rem}
#ct.pwset .form_type{margin-top:1.52rem}
#ct.pwset .form_agree{margin-top:.6rem}
#ct.pwset .tooltip{display:block;top:-2.64rem;margin-left:-7rem}
#ct.pwset .tooltip:before{left:7.5rem}
#ct.certify .refer_set{margin-top:2.5rem}
#ct.certify .refer_set h3{font-size:1.7rem}
#ct.certify .sample{margin:2.16rem 0 1.04rem;padding:0 3.25rem;text-align:center;}
#ct.certify .sample img{width:27.625rem}
#ct.idshoot .refer_set{margin-top:2.5rem}
#ct.idshoot .caution_box{margin:2rem 0 0 3.6rem}
#ct.idshoot fieldset .direct_go{margin:.8rem 0 1.52rem 0}
#ct.idshoot .list_type{margin:7rem 0 0 3rem;font-size:1.1rem;}
#ct.idshoot .tooltip2{top:-2.7rem;margin-left:-7.58rem;}
#ct.idshoot .tooltip2:before{left:8.16rem}
#ct.end{padding-top:3rem}
#ct.end .list_type{margin:2.5rem auto 0;max-width:24.6rem;}
#ct.end .tooltip{top:-2.8rem;margin-left:-7rem;padding-top:.7rem;padding-bottom:.8rem}
#ct.end .tooltip:before{left:7.4rem}
#ct.end .tooltip2{top:-4.48rem;margin-left:-8.8rem;padding:1.04rem 1.3rem 1.112rem;text-align:center;}
#ct.end .tooltip2:before{left:9.6rem}
#ct.end .pyro .flower{top:-3.2rem;margin-left:-4.32rem;}
#ct.actopen{margin-top:-1px;padding:1rem 0 2rem 3.4rem;background-color:#fff}
#ct.actopen .tooltip2{top:-4.16rem;margin-left:-9.1rem;padding:1.04rem 1.3rem 1.1rem;}
#ct.actopen .tooltip2:before{left:8.5rem;background-image:url(../images/tooltip_arr3.png)}
#ct.actopen .tooltip2 .ico_smile{margin:-1.8rem 0 0 1.3rem}

#ct.wonRev .refer_set{margin-top:2.5rem;line-height:1.3;font-weight:300;font-size:1.6rem;color:#111}
#ct.wonRev .direct_go{margin-top:2.88rem}
#ct.wonRev .direct_go a{border-color:#7053f8;color:#7053f8}
#ct.wonRev .tooltip2{margin-left:-9.16rem;padding:1.04rem 1.3rem 1.12rem}
#ct.wonRev .tooltip2:before{left:8.48rem;width:1.1rem;height:.75rem;background-image:url(../images/tooltip_arr3.png)}
#ct.wonRev .tooltip2 .ico_smile{margin:-1.8rem 0 0 1.3rem}
#ct.wonRev.event{padding-bottom:14.4rem}
#ct.wonRev.event .tooltip2{top:-8.6rem}
#ct.bankSlct{padding-bottom:0;padding-top:4.7rem}
#ct.acctNum .direct_go{margin-top:12.8rem}
#ct.agreeArs{padding-top:2.08rem;padding-right:2.7rem;padding-left:2.7rem}
#ct.agreeArs .tooltip{top:-2.64rem;margin-left:-7rem}
#ct.agreeArs .tooltip:before{left:7.5rem}

/* popup */
.ly_addr .fix_top .ui_cover{padding-top:2.3rem}
.ly_addr .cau{text-align:center;font-size:1.28rem}
.ly_addr .input{margin-top:1.8rem}
.ly_addr .list{display:none}
.ly_addr .list>li{padding:2rem .35rem;border-top:1px solid #e5e5e5}
.ly_addr .list>li:first-child{border-top:0}
.ly_addr .list button{text-align:left}
.ly_addr .list code{display:block;margin-bottom:.8rem;font-family:'Prompt', sans-serif;font-weight:500;font-size:1.6rem;color:#7053f8}
.ly_addr .list li li{margin-top:.64rem;font-size:1.3rem}
.ly_addr .list li li span{color:#979797}
.ly_addr .nodata{margin-top:2rem;line-height:1.904;font-weight:300;font-size:1.12rem;color:#777}
.ly_agree .scroll{padding:2.2rem;line-height:1.6;font-weight:300;font-size:1.2rem}
.ly_agree h2{margin-top:1.5rem}
.ly_agree h2:first-child{margin-top:0}
.ly_agree h2{font-size:1.4rem}
.ly_agree table{margin:2.4rem 0;border-top:1px solid #333;border-right:1px solid #333}
.ly_agree th, .ly_agree td{padding:.56rem;border-bottom:1px solid #333;border-left:1px solid #333}
.ly_agree th{background-color:#eee}
.ly_agree td{word-break:break-all}
.ly_agree table+h2{margin-top:0}
.ly_com .elm{width:89%;padding-top:3.6rem;font-size:1.3rem}
.ly_com h3{margin-bottom:1.6rem;font-size:1.6rem}
.ly_com .btn_skip, .ly_com .btn_cancel{width:100%;}
.ly_com .btn_skip{margin-top:3.6rem;background:#222;color:#fff}
.ly_com .btn_cancel{background:#d5dae9;color:#6b7182}
.ly_com .btn_area{margin-top:3.6rem}
.ly_com .btn_area button, .ly_com .btn_area a{margin-top:0}
.ly_loading .elm{background-color:transparent}

.ly_bankcheck .elm{text-align:left;color:#686868}
.ly_bankcheck .elm>section{margin-right:1.6rem;margin-left:2.5rem}
.ly_bankcheck h2{margin-bottom:2rem;padding-top:3.2rem;font-size:1.9rem;font-weight:300;letter-spacing:-.1rem}
.ly_bankcheck code.timer{display:block;margin-bottom:.96rem;font-weight:700;letter-spacing:-.1rem;font-size:2.1rem;color:#000}
.ly_bankcheck code.timer+p u{text-decoration:none;display:inline-block;border-bottom:1px solid #686868}
.ly_bankcheck code.timer+p~p{margin-top:2rem;font-size:1.1rem;line-height:1.6}
.ly_bankcheck .btn_skip{width:100%;margin-top:3.2rem;border:0;color:#fff;background-color:#222;}