@charset "UTF-8";

/* list */
.auction #container > .lineTab { margin:1.4667vw 0 5.3333vw -8vw;}
.auction .carListHeader{}
.auction .carListHeader:after{content:''; display: block; clear: both;}
.auction .carListHeader p{float: left; padding: 2.6667vw 0; line-height: 8.0000vw;}
.auction .carListHeader p span{color: #333; font-weight: 500;}
.auction .carListHeader p strong{color: #2962c2; font-weight: 500;}
.auction .carListHeader .dropBox{margin-top: 2.6667vw;}
.auction .carListHeader .dropBox.sort .dropList { width:19.1667vw;}
.auction .repoList .carListHeader .dropBox.sort .dropList { width:33.1667vw;}
.auction .carList ul li a p span{color: #333;}
.auction .carList ul li a p strong{color: #2962C2; font-size: 4.2667vw; font-weight: 500; letter-spacing: -1px;}

.repoList .lineTab{margin-bottom: 0 !important;}
.repoList .statusWrap{position: relative; height: 12.0000vw;}

/* rentDetail */
.auction .rentDetail .auctionVisual{position: relative;}
.auction .rentDetail .kcarList{padding: 2.6667vw 0; margin-bottom: 2.6667vw; overflow: hidden;}
.auction .rentDetail .kcarList li{float: left; width: 50%; padding-top: 2.6667vw;}
.auction .rentDetail .kcarList li:nth-child(2n){padding-left: 5.3333vw; border-left: 0.2667vw solid #eee;}
.auction .rentDetail .kcarList li:nth-child(1),
.auction .rentDetail .kcarList li:nth-child(2){padding-top: 0;}
.auction .rentDetail .kcarList li span{display: block; margin-bottom: 1.0667vw; color: #888; font-size: 3.2000vw; font-weight: 300;}
.auction .rentDetail .kcarList li strong{display: block; color: #333; font-size: 4.2667vw; font-weight: 300;}
.auction .rentDetail .reponseText.full{width: 100vw; border-top: 0.2667vw solid #d9d9d9; border-bottom: 0.2667vw solid #d9d9d9;  margin-left: -8vw; padding: 0 8vw;}
.auction .rentDetail .reponseText{padding-top: 2.6667vw !important; padding-bottom: 2.6667vw !important;}
.auction .rentDetail .reponseText h3{margin-bottom: 2.6667vw; color: #333; font-size: 4.2667vw; font-weight: 500;}
.auction .rentDetail .reponseText ul li{position: relative; font-weight: 300;}
.auction .rentDetail .reponseText ul li:before{content: ''; position: absolute; left: 0; top: 1vw; width: 0.2667vw; height: 0.2667vw; background: #333;}
.auction .rentDetail .reponseText span{display: block; margin-top: 2.6667vw; font-weight: 300;}
.auction .rentDetail .kcarauctionDetail{}
.auction .rentDetail .kcarauctionDetail h3{margin-top: 2.6667vw; color: #333; font-size: 4.2667vw; font-weight: 500;}
.auction .rentDetail .kcarauctionDetail .iconWrap ul {margin-top: 2.6667vw; overflow: hidden;}
.auction .rentDetail .kcarauctionDetail .iconWrap ul li { float:left;}
.auction .rentDetail .kcarauctionDetail .iconWrap ul li + li { margin-left:4.00vw;}
.auction .rentDetail .kcarauctionDetail .iconWrap ul li i { position:relative; display:inline-block; padding-left:5.6000vw; color:#333; font-weight:300; font-style:normal;}
.auction .rentDetail .kcarauctionDetail .iconWrap ul li i:before{content: ''; position: absolute; left: 0; top: 50%; transform: translateY(-50%); width: 4.2667vw; height: 4.2667vw; background-position: 0 0; background-repeat: no-repeat; background-size: 100%;}
.auction .rentDetail .kcarauctionDetail .iconWrap ul li .iconX:before { background-image:url('../../assets/img/kcarauction/icon_x.png');}
.auction .rentDetail .kcarauctionDetail .iconWrap ul li .iconW:before { background-image:url('../../assets/img/kcarauction/icon_w.png');}
.auction .rentDetail .kcarauctionDetail .iconWrap ul li .iconC:before { background-image:url('../../assets/img/kcarauction/icon_c.png');}
.auction .rentDetail .kcarauctionDetail .iconWrap ul li .iconA:before { background-image:url('../../assets/img/kcarauction/icon_a.png');}
.auction .rentDetail .kcarauctionDetail .iconWrap ul li .iconG:before { background-image:url('../../assets/img/kcarauction/icon_g.png');}
.auction .rentDetail .kcarauctionDetail .imgWrap { position: relative; margin: 5.3333vw 0; width:100%}
.auction .rentDetail .kcarauctionDetail .imgWrap img { width: 100%;}
.auction .rentDetail .kcarauctionDetail .imgWrap ul { position:absolute; width: 17.6000vw; height:41.4667vw;}
.auction .rentDetail .kcarauctionDetail .imgWrap .p0101_0107 { left:0; top:0;}
.auction .rentDetail .kcarauctionDetail .imgWrap .p0201_0205 { left: 17.5667vw; top:0; width: 24.4000vw;}
.auction .rentDetail .kcarauctionDetail .imgWrap .p0301_0317 { left: 42.0333vw; top:0; width: 24.5333vw;}
.auction .rentDetail .kcarauctionDetail .imgWrap .p0401_0407 { left: 66.5333vw; top:0; width: 17.4667vw;}
.auction .rentDetail .kcarauctionDetail .imgWrap ul li { display:none; position:absolute; left:0; top:0; width:100%;}
.auction .rentDetail .kcarauctionDetail .imgWrap ul li.on { display:block;}
.auction .rentDetail .kcarauctionDetail .dataList { padding-bottom:2.6667vw; border-top:0.2667vw solid #eee; border-bottom:0.2667vw solid #eee;}

/* repoDetail */
.auction .repoDetail .auctionVisual{position: relative;}
.auction .repoDetail h2{width: 100vw; margin-left: -8vw; padding: 0 8vw; border-bottom: 0.2667vw solid #d9d9d9; color: #333; font-size: 4.2667vw; font-weight: 500; line-height: 9.8667vw;}
.auction .repoDetail .kcarList{padding: 2.6667vw 0; margin-bottom: 2.6667vw; overflow: hidden;}
.auction .repoDetail .kcarList li{float: left; width: 50%; padding-top: 2.6667vw;}
.auction .repoDetail .kcarList li:nth-child(2n){padding-left: 5.3333vw; border-left: 0.2667vw solid #eee;}
.auction .repoDetail .kcarList li:nth-child(1),
.auction .repoDetail .kcarList li:nth-child(2){padding-top: 0;}
.auction .repoDetail .kcarList li span{display: block; margin-bottom: 1.0667vw; color: #888; font-size: 3.2000vw; font-weight: 300;}
.auction .repoDetail .kcarList li strong{display: block; color: #333; font-size: 4.2667vw; font-weight: 300;}
.auction .repoDetail .reponseText.full{width: 100vw; border-top: 0.2667vw solid #d9d9d9; border-bottom: 0.2667vw solid #d9d9d9;  margin-left: -8vw; padding: 0 8vw;}
.auction .repoDetail .reponseText{padding-top: 2.6667vw !important; padding-bottom: 2.6667vw !important;}
.auction .repoDetail .carauctionDetail + .reponseText.full{border-bottom: 0;}
.auction .repoDetail .reponseText h3{margin-bottom: 2.6667vw; color: #333; font-size: 4.2667vw; font-weight: 500;}
.auction .repoDetail .reponseText h4{margin-bottom: 2.6667vw; color: #333; font-size: 4.2667vw; font-weight: 300;}
.auction .repoDetail .reponseText ul li{position: relative; padding-left: 2.1333vw; font-weight: 300;}
.auction .repoDetail .reponseText ul li:before{content: ''; position: absolute; left: 0; top: 2.1333vw; width: 0.2667vw; height: 0.2667vw; background: #333;}
.auction .repoDetail .reponseText ul li + li{margin-top: 3.2000vw;}
.auction .repoDetail .reponseText span{display: block; margin-top: 2.6667vw; font-weight: 300;}
.auction .repoDetail .carauctionDetail{}
.auction .repoDetail .carauctionDetail h3{margin-top: 2.6667vw; color: #333; font-size: 4.2667vw; font-weight: 500;}
.auction .repoDetail .carauctionDetail .iconWrap{}
.auction .repoDetail .carauctionDetail .iconWrap ul{margin-top: 2.6667vw; overflow: hidden;}
.auction .repoDetail .carauctionDetail .iconWrap ul li{float: left;}
.auction .repoDetail .carauctionDetail .iconWrap ul li + li{margin-left: 3.7000vw;}
.auction .repoDetail .carauctionDetail .iconBlue,
.auction .repoDetail .carauctionDetail .iconRed{position: relative; display: block; min-height: 4.2667vw; padding-left: 5.8667vw; color: #333; font-size: 3.7333vw; font-weight: 300; font-style: normal;}
.auction .repoDetail .carauctionDetail .iconBlue:before,
.auction .repoDetail .carauctionDetail .iconRed:before{content: ''; position: absolute; left: 0; top: 50%; transform: translateY(-50%); width: 4.2667vw; height: 4.2667vw; background-position: 0 0; background-repeat: no-repeat; background-size: 100%;}
.auction .repoDetail .carauctionDetail .iconRed.iconX:before{background-image: url('../../assets/img/carauction/icon_redX.png');}
.auction .repoDetail .carauctionDetail .iconRed.iconW:before{background-image: url('../../assets/img/carauction/icon_redW.png');}
.auction .repoDetail .carauctionDetail .iconRed.iconM:before{background-image: url('../../assets/img/carauction/icon_redM.png');}
.auction .repoDetail .carauctionDetail .iconRed.iconA:before{background-image: url('../../assets/img/carauction/icon_redA.png');}
.auction .repoDetail .carauctionDetail .iconBlue.iconU:before{background-image: url('../../assets/img/carauction/icon_blueU.png');}
.auction .repoDetail .carauctionDetail .iconBlue.iconA:before{background-image: url('../../assets/img/carauction/icon_blueA.png');}
.auction .repoDetail .carauctionDetail .iconBlue.iconT:before{background-image: url('../../assets/img/carauction/icon_blueT.png');}
.auction .repoDetail .carauctionDetail .iconBlue.iconC:before{background-image: url('../../assets/img/carauction/icon_blueC.png');}
.auction .repoDetail .carauctionDetail .iconBlue.iconG:before{background-image: url('../../assets/img/carauction/icon_blueG.png');}
.auction .repoDetail .carauctionDetail .imgWrap{position: relative; padding: 5.3333vw 0;}
.auction .repoDetail .carauctionDetail .imgWrap i{position: absolute; left: 0; top: 0; z-index: 20; width: 3.2667vw; height: 3.2667vw; padding-left: 0; min-height: auto; font-size: 0;}
.auction .repoDetail .carauctionDetail .imgWrap i:before{width: 3.2667vw; height: 3.2667vw;}
.auction .repoDetail .carauctionDetail .imgWrap i.sample{left: 2.2667vw; top: 14.1333vw;}
.auction .repoDetail .carauctionDetail .imgWrap img{width: 100%;}
.auction .repoDetail .carauctionDetail .imgWrap div{position: absolute; left: 0; top: 5.3333vw; width: 100%; height: 100%;}
.auction .repoDetail .carauctionDetail .imgWrap div span{position: absolute; left: 0; top: 0;}


/* 공통 */
.auctionStatus{position: absolute; left: -8vw; top: 0; z-index: 20; width: 100vw; height: 12.0000vw; line-height: 12.0000vw; text-align: center;}
.auctionStatus span{display: inline-block; padding-left: 8.5333vw; background: url('../../assets/img/common/icon_time_white.png') no-repeat 0 50%; background-size: 5.8667vw; color: #fff; font-size: 4.2667vw; line-height: 5.8667vw;}
.auctionStatus.start{background: rgba(41, 98, 194, 0.8);}
.auctionStatus.end{background: rgba(174, 174, 174, 0.8);}
.auctionStatus.disabled{background: rgba(85, 85, 85, 0.8);}

/* 추후 삭제 */
.tempData{margin-top: 2.6667vw;}
.tempData img{display: block; width: 100%;}
