@charset "UTF-8";

/* inquiryList */
.inquiryList .midTitle{padding: 4.2667vw 0 0 0;}
.inquiryList .midTitle h3 { font-weight:500;}
.inquiryList .accordionList{ margin:1.3333vw 0 2.6667vw;}
.inquiryList .accordionList li dl dt{padding: 2.6667vw 0 2.6667vw 0; border-bottom: 0.2667vw solid #eee;}
.inquiryList .accordionList li dl dt.on{border-color: transparent;}
.inquiryList .accordionList li dl dt a{display: block; position: relative;}
.inquiryList .accordionList li dl dt a:after{content: ''; position: absolute; right: 1.0667vw; top: 17.8667vw; width: 3.7333vw; height: 2.1333vw; background: url('../../assets/img/common/arr_select.png') no-repeat 0 0; background-size: 100%; transition: 0.3s;}
.inquiryList .accordionList li dl dt.on a:after{transform: rotate(180deg)}
.inquiryList .accordionList li dl dt a strong{display: inline-block; width: 15.2000vw; height: 5.8667vw; background: #434957; border-radius: 2.4000vw; color: #fff; font-size: 2.9333vw; font-weight: 400; line-height: 5.8667vw; text-align: center;}
.inquiryList .accordionList li dl dt a span{display: inline-block; margin-left:2.1333vw; color: #888;}
.inquiryList .accordionList li dl dt a p{ margin-top:2.6667vw; padding: 0.4000vw 6.6667vw 0 8.4000vw; background: url('../../assets/img/common/icon_q.png') no-repeat 0 0; background-size: 6.4000vw; font-size: 4.2667vw; line-height: 5.0667vw;}
.inquiryList .accordionList li dl dd{display: none; width: 100vw; margin-left: -8vw; padding:6.2667vw 0; background:#f5f5f5;}
.inquiryList .accordionList li dl dd p { width: 84vw; min-height: 10.4000vw; padding-left:8.4000vw; margin: 0 auto; background: url('../../assets/img/common/icon_a_white.png') no-repeat 0 0; background-size: 6.4000vw; font-weight: 300; word-break: break-all;}
.inquiryList .accordionList li dl dd p.none { background:none; padding:0; min-height:auto;}
/* .inquiryList .accordionList li dl dd p{padding: 6.0000vw 8vw 6.5333vw 8vw; background: #f5f5f5; font-weight: 300; line-height: 5.3333vw;} */

/* inquiryWrite */
.board .inquiryWrite .midTitle{padding: 4.5333vw 0 2.6667vw;}
.board .inquiryWrite .midTitle h3 { font-weight:500;}
.board .inquiryWrite .midTitle span{color: #7591bf; font-size: inherit; line-height: inherit; font-weight: inherit;}
.board .inquiryWrite fieldset { margin-bottom:5.3333vw;}
.board .inquiryWrite .counselTime{margin: 5.6000vw 0 4.2667vw 0;}
.board .inquiryWrite .fileAddBtn + .btnArea{margin-top: 2.6667vw;}

/* inquiryCompleted */
.board .inquiryCompleted .compleateBox{padding-top: 8.00vw;}

/* inquiryPhoto */
.board .inquiryPhoto .bulletList { padding-top:3.7333vw;}
.board .inquiryPhoto .bulletList li{color: #888; font-size: 3.2000vw; line-height: 5.8667vw;}
.board .inquiryPhoto .bulletList li:before{top: 2.0667vw; background: #888;}
.board .inquiryPhoto .sortableWrap {width: 92vw; overflow: hidden;}
.board .inquiryPhoto .sortableWrap  .list{width: 92vw; margin-left: -2.6667vw; padding-top: 2.4000vw; overflow: hidden}
.board .inquiryPhoto .sortableWrap  .list li{position: relative; float: left; margin: 3.2000vw 0 0 2.6667vw; width: 18.6667vw ; height: 18.6667vw ; background: #fff;}
.board .inquiryPhoto .sortableWrap  .list li .picArea{display: block; position: relative; width: 18.6667vw; height: 18.6667vw; padding-top: 11.0667vw; background: url('../../assets/img/common/icon_photo_add.png') no-repeat 50% 50%; background-size: 5.0667vw; border: 0.2667vw solid #aeaeae; border-radius: 0.5333vw; color: #888; font-size: 3.2vw; text-align: center;}
.board .inquiryPhoto .sortableWrap  .list li:last-child .picArea{background-image: url('../../assets/img/common/icon_camera_blue.png'); background-position:50% 4.4000vw; background-size: 5.6000vw 4.5333vw; border-color: #2962c2; color: #2962c2;}
.board .inquiryPhoto .sortableWrap  .list li.max:last-child .picArea{background-image: url('../../assets/img/common/icon_camera_red.png'); background-position:50% 4.4000vw; border-color: #db0a0a; color: #db0a0a;}
.board .inquiryPhoto .sortableWrap  .list li.active .picArea{font-size: 0;}
.board .inquiryPhoto .sortableWrap  .list li.active .picArea img{position: absolute; left: 0; top: 0; width: 18.1333vw; height: 18.1333vw;}
.board .inquiryPhoto .sortableWrap  .list li .btnDelPic{display: none; position: absolute; right: -2.2667vw; top: -2.2667vw; z-index: 10; width: 5.3333vw; height: 5.3333vw; background: url('../../assets/img/common/icon_delete.png') no-repeat 0 0; background-size: 100%; font-size: 0;}
.board .inquiryPhoto .sortableWrap  .list li.active .btnDelPic{display: block;}
.board .inquiryPhoto .sortableWrap  .error{padding-top: 5.0667vw;}

/* noticeList */
.board .noticeList ul{margin-bottom: 2.6667vw;}
.board .noticeList ul li dl dt{width: 84.0000vw; margin: 0 auto; border-bottom: 0.2667vw solid #eee;}
.board .noticeList ul li dl dt.on{border-color: transparent;}
.board .noticeList ul li dl dt a{display: block; position: relative; padding: 2.6667vw 9.3333vw 2.6667vw 0; word-break: break-all;}
.board .noticeList ul li:first-child dl dt a { padding-top:4.2667vw;}
.board .noticeList ul li dl dt a:after{content: ''; position: absolute; right: 1.3333vw; top: 50%; transform: translateY(-50%); width: 3.7333vw; height: 2.1333vw; background: url('../../assets/img/common/arr_select.png') no-repeat 0 0; background-size: 100%; transition: 0.3s;}
.board .noticeList ul li dl dt.on a:after{transform: translateY(-50%) rotate(180deg);}
.board .noticeList ul li dl dt a span{color: #aeaeae; font-size: 3.7333vw;}
.board .noticeList ul li dl dt a strong{display: block; margin-top: 3.2000vw; color: #333; font-size: 4.2667vw; font-weight: normal;}
.board .noticeList ul li dl dd{display: none; width: 100vw; margin-left: -8vw; padding: 4.8000vw 8.0000vw 5.3333vw 8.0000vw; background: #f5f5f5; line-height: 5.6000vw;}
.board .noticeList .compleateBox{margin-top: 8vw;}

/* faqList */
.board .faqList .roundTab{padding-top: 2.1333vw;}
.board .faqList .roundTab li{margin-top: 3.2vw;}
.board .faqList .roundTab li a{width: auto; padding: 0 3.6vw;}
.board .faqList .btnArea{margin: 2.6667vw;}

.board .faqListWrap{margin-top: 2.6667vw;}
.board .faqListWrap li{border-bottom: 0.2667vw solid #eee;}
.board .faqListWrap li a{display: block; position: relative; height: 9.8667vw; padding: 0 5.4vw 0 8.2667vw; background: url('../../assets/img/common/icon_q.png') no-repeat 0 50%; background-size: 6.4000vw; line-height: 9.8667vw; overflow: hidden; text-overflow: ellipsis; white-space: nowrap;}
.board .faqListWrap li a:after{content: ''; position: absolute; right: 1.3333vw; top: 50%; transform: translateY(-50%); width: 2.1333vw; height: 3.7333vw; background: url('../../assets/img/common/icon_arrow.png') no-repeat 0 0; background-size: 100%;}

/* faqDetail */
.board .faqDetail h2{padding: 4.5333vw 0 6.4000vw 0; color: #888; font-size: 4.2667vw;}
.board .faqDetail h2 strong{display: block; padding-top: 0.6667vw; color: #333; font-size: 4.2667vw;}
.board .faqDetail .detailArea{width: 100vw; padding: 7.0667vw 8.0000vw 9.8667vw 8.0000vw; margin-left: -8vw; background: #f5f5f5; color: #888; font-size: 4.0000vw; line-height: 5.3333vw;}
.board .faqDetail h3{padding-top: 7.2000vw; color: #333; font-size: 4.2667vw; font-weight: 500;}
.board .faqDetail .btnArea{margin: 5.3333vw 0 10.6667vw 0;}

/* postList */
.board .postList{}
.board .postList .usefulHeader{margin-bottom: 3.7333vw;}
.board .postList .usefulHeader:after{content: ''; display: block; clear: left;}
.board .postList .usefulHeader .dropBox{float: left;}
.board .postList .usefulHeader .dropBox .dropList{left: 0;}

/* usefulDetailHeader */
.board .usefulDetailHeader{overflow: hidden;}
.board .usefulDetailHeader > strong{float: left; color: #2962c2; font-weight: 400; line-height: 4.0000vw;}
.board .usefulDetailHeader > span{float: right;}
.board .usefulDetailHeader > span span,
.board .usefulDetailHeader > span em{float: left; color: #959595; font-size: 3.2000vw; font-weight: 300; line-height: 4.0000vw;}
.board .usefulDetailHeader > span span{position: relative; padding-right: 4.8000vw;}
.board .usefulDetailHeader > span span:after{content: ''; position: absolute; right: 2.4000vw; top: 50%; transform: translateY(-50%); width: 0.2667vw; height: 2.9333vw; background: #a0a0a0;}
.board .usefulDetailHeader p{clear: both; padding: 2.4000vw 0 5.8667vw 0; color: #333; font-size: 4.2667vw;}
.board .usefulDetailCon{height: 122vw; background: #f5f5f5;}
.board .usefulDetailUtil{padding-top: 12.2667vw; overflow: hidden;}
.board .usefulDetailUtil > a{float: left; padding-left: 6.6667vw; background: url('../../assets/img/common/icon_list.png') no-repeat 0 50%; background-size: 5.0667vw 4.1333vw; font-size: 4.2667vw;}
.board .usefulDetailUtil div{float: right;}
.board .usefulDetailUtil div a{float: left; width: 8.0000vw; height: 8.0000vw; background-repeat: no-repeat; background-position: 50% 50%;  background-size: 2.8000vw 5.0667vw; font-size: 0;}
.board .usefulDetailUtil div .prev{margin-right: 10.6667vw; background-image: url('../../assets/img/common/icon_prev.png');}
.board .usefulDetailUtil div .next{background-image: url('../../assets/img/common/icon_next.png');}

/* directList */
.directList .listHeader{margin-top: 3.2000vw;}
.directList .listHeader:after{content: ''; display: block; clear: both;}
.directList .listHeader p{float: left; color: #333; font-size: 4.2667vw; font-weight: 500; line-height: 8.1333vw;}
.directList .listHeader p strong{color: #2962c2; font-weight: 500;}
.directList .list{margin-bottom: 2.6667vw;}
.directList .list > li{position: relative; padding: 2.2667vw 0 2.6667vw 0; border-bottom: 0.2667vw solid #eeeeee; overflow: hidden;}
.directList .list > li a{display: block; margin-bottom: 1.6000vw;}
.directList .list > li a div p{overflow: hidden;}
.directList .list > li a div p strong{float: left; margin-right: 2.8000vw; color: #333; font-size: 4.2667vw; font-weight: 500; line-height: 5.3333vw;}
.directList .list > li a > div > span{display: block; margin: 0.9333vw 0 0.8000vw 0; color: #888; font-size: 3.2000vw; font-weight: 300;}
.directList .list > li a > div > div{overflow: hidden;}
.directList .list > li a > div > div span{position: relative; float: left; margin: 0.9333vw 0 0.8000vw 0; color: #888; font-size: 3.2000vw; font-weight: 300;}
.directList .list > li a > div > div span + span{margin-left: 2.1333vw; padding-left: 2.4000vw;}
.directList .list > li a > div > div span + span:before{content: ''; position: absolute; left: 0; top: 50%; transform: translateY(-50%); width: 0.2667vw; height: 2.6667vw; background: #aeaeae;}
.directList .list > li a p{font-weight: 300; line-height: 5.3333vw;}
.directList .list > li .utillArea{position: absolute; right: 0; top: 3.2667vw; z-index: 10;}

/* directEdit */
.directEdit .textareaWrap textarea { margin-top:5.3333vw;}

/* directDetail */
.board .directDetail .profileArea{padding-bottom: 0;}
.board .directDetail .dealerComent { margin-top:5.3333vw; padding:5.3333vw; border-radius:15px; background:#f5f5f5;}
.board .replyWrap { margin-top:2.6667vw; border-top:0.2667vw solid #eeeeee;}
.board .replyWrap .idx { padding:4.5333vw 0 2.6667vw; font-size:4.2667vw; color:#333; font-weight:500; }
.board .replyWrap .profile { width:10.6667vw; height:10.6667vw; border-radius:50%; background:#eeeeee url('../img/common/icon_maypage_main.png') 50% 50% no-repeat; background-size:6.1333vw 5.0667vw; }
.board .replyWrap .replyInput { overflow:hidden;}
.board .replyWrap .replyInput .profile { float:left;}
.board .replyWrap .replyInput .formInput { float:left; margin-left:1.3333vw; width:72.0000vw;}
.board .replyWrap .replyInput .formInput input { padding-right:20.2vw; border-radius:5.3333vw;}
.board .replyWrap .replyInput .formInput .btnDel { right:14.00vw;}
.board .replyWrap .replyInput .formInput .btnPost { position:absolute; right:5.3333vw; top:0; color:#2962c2; line-height:10.67vw; opacity:0.5;}
.board .replyWrap .replyInput .formInput input:focus + .btnPost { opacity:1;}
.board .replyWrap .replyList li { position:relative; padding:5.3333vw 0 5.3333vw 12.0000vw;}
.board .replyWrap .replyList > li + li { border-top:0.2667vw solid #eeeeee;}
.board .replyWrap .replyList li .profile { position:absolute; left:0; top:5.3333vw;}
.board .replyWrap .replyList li .name { font-weight:500; color:#333;}
.board .replyWrap .replyList li .txt { display: block; margin:2.6667vw 0; color:#333;}
.board .replyWrap .replyList li .btArea { overflow:hidden; margin-top:1.0667vw;}
.board .replyWrap .replyList li .btArea .date { font-size:3.2000vw; color:#959595; font-weight:300;}
.board .replyWrap .replyList li .btArea > a { float:right; font-size:3.2000vw; color:#959595; font-weight:500;}
.board .replyWrap .replyList li .myBtn { margin-top:4.8000vw; text-align:right;}
.board .replyWrap .replyList li .myBtn a { display:inline-block; margin-left:4.8000vw;}
.board .replyWrap .replyList li .myBtn a:first-child { margin-left:0;}
.board .replyWrap .replyList li .comentList { margin-left:-6.6667vw;}
.board .replyWrap .replyList li .comentList li { padding-bottom:0;}

/* commentReply */
.board .commentReply .replyWrap { margin-top:5.3333vw; border-top:0; border-bottom:0.2667vw solid #eeeeee;}
.board .commentReply .replyWrap .replyList li { padding-top:0;}
.board .commentReply .replyWrap .replyList li .profile {top:0;}
.board .commentReply fieldset .name { display:block; margin:2.6667vw 0; color:#333; font-weight:500;}
.board .commentReply fieldset .textareaWrap textarea { height:42.6667vw; color:#333;}
.board .commentReply fieldset .btnArea { margin-top:2.6667vw;}

/* commentEdit */
.board .commentEdit fieldset .textareaWrap textarea { margin-top:5.3333vw; height:42.6667vw; color:#333;}
.board .commentEdit fieldset .btnArea { margin-top:2.6667vw;}
