@charset "UTF-8";

/* brokerVehicleList */
.broker .brokerVehicleList > .lineTab { margin-top:1.4667vw; margin-bottom:5.3333vw;}
.broker .brokerVehicleList .searchIdx { margin:5.3333vw 0;}
.broker .brokerVehicleList .searchIdx:after { content:''; clear:both; display:block;}
.broker .brokerVehicleList .searchIdx .idx { float:left; font-size:4.2667vw; font-weight:500; line-height:1.9; color:#333333;}
.broker .brokerVehicleList .searchIdx .idx > em { color:#2962c2;}
.broker .brokerVehicleList .searchIdx .dropBox { float:right;}

/* brokerVehicleDetail */
.broker .brokerVehicleDetail .carDetailHeader .dealPrice > p { display:inline-block; vertical-align:middle;}
.broker .brokerVehicleDetail .carDetailHeader .dealPrice .cmmTooltip > span { display:inline-block; margin-right:1.3333vw; vertical-align:middle; font-size:3.2000vw; font-weight:300; color:#888; }
.broker .brokerVehicleDetail .carDetailHeader .dealPrice .cmmTooltip > a{ display:inline-block; vertical-align:middle; }
.broker .brokerVehicleDetail .carDetailHeader .dealPrice .cmmTooltip .toolCont { top:7.5333vw;}

.broker .brokerVehicleDetail .carInfoList .accordionList dt { border-bottom:none;}
.broker .brokerVehicleDetail .carInfoList .accordionList dt.trigger.on { border-bottom:0.2667vw solid #d9d9d9;}

.broker .brokerVehicleDetail .titArea { margin-left:-8.00vw; width:100vw; padding:0 8.00vw; border-top:2.6667vw solid #f5f5f5;}
.broker .brokerVehicleDetail .titArea h3 { line-height:9.8667vw; font-size:4.2667vw; color:#333333; font-weight:500;  border-bottom:0.2667vw solid #eee;}

.broker .carInfoList .accordionList{ padding-bottom:0; border-top:2.6667vw solid #f5f5f5;}

.broker .dealerDiff { position:relative; overflow:hidden; margin-left:-8.00vw; width:100vw; padding: 0 8.00vw; }
.broker .dealerDiff .profile { position:relative; float:left; padding:1.3333vw 0 0 16.6667vw;}
.broker .dealerDiff .profile .img { position: absolute; left:0; top:0; width:13.3333vw; height:13.3333vw; background: url('../../assets/img/common/icon_maypage_main.png') no-repeat 50% 50% #eee; background-size: 6.1333vw 5.0667vw; border-radius: 5.3333vw;}
.broker .dealerDiff .profile .img img { width:100%; }
.broker .dealerDiff .profile strong { margin-right:1.3333vw; font-size:4.2667vw; font-weight:500; color:#333; vertical-align:middle;}
.broker .dealerDiff .profile .belong > span { position:relative; font-size:3.2000vw; color:#959595; font-weight:300;}
.broker .dealerDiff .profile .belong > span + span { margin-left:1.8667vw; padding-left:2.1333vw;}
.broker .dealerDiff .profile .belong > span + span:before { content:''; position:absolute; top:50%; left:0; transform:translateY(-50%); width:0.2667vw; height:2.6667vw; background:#a0a0a0;}
.broker .dealerDiff .commUtilIcon { float:right;}
.broker .dealerSelf { margin-left:-8.00vw; width:100vw; padding:0 8.00vw; border-top:2.6667vw solid #f5f5f5; text-align:center;}
.broker .dealerSelf ul { display:flex; padding:0 4.00vw;}
.broker .dealerSelf ul li { flex:1;; margin:2.6667vw 0;}
.broker .dealerSelf ul li a { display:block; min-width:20.0000vw; color:#333; font-weight:300;}
.broker .dealerSelf ul li a:before { content:''; display:block; margin-bottom:2.6667vw; height:5.6000vw; background-repeat:no-repeat; background-position:50% 0;  }
.broker .dealerSelf ul li.onlineEst a:before { background-image:url('../img/common/icon_esimate.png'); background-size:5.0667vw 5.6000vw;}
.broker .dealerSelf ul li.sellDeal a:before { background-image:url('../img/common/icon_selldeal.png'); background-size:5.2000vw 5.3333vw;}
.broker .salesInfo { overflow:hidden; position:relative; padding-top:2.6667vw; margin-bottom:2.6667vw; border-top:0.2667vw solid #eeeeee; }
.broker .salesInfo:after { content:''; position:absolute; left:50%; top:2.6667vw; width:0.2667vw; height:26.0000vw; transform:translateX(-50%); background:#eee;}
.broker .salesInfo li { float:left; width:50%; font-size:4.2667vw; font-weight:300; color:#333;}
.broker .salesInfo li:nth-child(even) { padding-left:5.6000vw; }
.broker .salesInfo li:nth-child(n+3) { margin-top:4.00vw;}
.broker .salesInfo li span { display:block; margin-bottom:0.8000vw; font-size:3.2000vw; font-weight:300; color:#888;}
.broker .salesInfo li a { text-decoration:underline; font-size:4.2667vw; color:#2962c2;  }
.broker .carOption { overflow:hidden; display:flex; padding:5.7333vw 0 5.6000vw; border-top:0.2667vw solid #eeeeee; border-bottom:0.2667vw solid #eeeeee;}
.broker .carOption li { flex:auto; text-align:center; color:#333; font-weight:300; opacity:0.5;}
.broker .carOption li + li { margin-left:2.6667vw;}
.broker .carOption li.active { opacity:1;}
.broker .carOption li:before { content:''; display:block; margin:0 auto; width:8.0000vw; height:8.0000vw; background-repeat:no-repeat;}
.broker .carOption li.sunroof:before { background-image:url('../img/common/icon_sunroof.png'); background-size:6.1333vw 6.2667vw; }
.broker .carOption li.heat:before { background-image:url('../img/common/icon_heat.png'); background-size:6.1333vw 5.6000vw;}
.broker .carOption li.navigation:before { background-image:url('../img/common/icon_navi.png'); background-size:4.2667vw 5.8667vw;}
.broker .carOption li.airbag:before { background-image:url('../img/common/icon_airbag.png'); background-size:4.9333vw 6.8000vw;}
.broker .dealerComent { margin-top:5.3333vw; overflow-y:auto; padding:5.3333vw; height:36.2667vw; border-radius:15px; background:#f5f5f5;}

.broker .replyWrap { margin-top:5.3333vw; border-top:0.2667vw solid #eeeeee;}
.broker .replyWrap .idx { padding:4.5333vw 0 2.6667vw; font-size:4.2667vw; color:#333; font-weight:500; }
.broker .replyWrap .profile { width:10.6667vw; height:10.6667vw; border-radius:50%; background:#eeeeee url('../img/common/icon_maypage_main.png') 50% 50% no-repeat; background-size:6.1333vw 5.0667vw; }
.broker .replyWrap .replyInput { overflow:hidden;}
.broker .replyWrap .replyInput .profile { float:left;}
.broker .replyWrap .replyInput .formInput { float:left; margin-left:1.3333vw; width:72.0000vw;}
.broker .replyWrap .replyInput .formInput input { padding-right:20.2vw; border-radius:5.3333vw;}
.broker .replyWrap .replyInput .formInput .btnDel { right:14.00vw;}
.broker .replyWrap .replyInput .formInput .btnPost { position:absolute; right:5.3333vw; top:0; color:#2962c2; line-height:10.67vw; opacity:0.5;}
.broker .replyWrap .replyInput .formInput input:focus + .btnPost { opacity:1;}
.broker .replyWrap .replyList li { position:relative; padding:5.3333vw 0 5.3333vw 12.0000vw;}
.broker .replyWrap .replyList > li + li { border-top:0.2667vw solid #eeeeee;}
.broker .replyWrap .replyList li .profile { position:absolute; left:0; top:5.3333vw;}
.broker .replyWrap .replyList li .name { font-weight:500; color:#333;}
.broker .replyWrap .replyList li .txt { display: block; margin: 2.6667vw 0; color:#333;}
.broker .replyWrap .replyList li .btArea { overflow:hidden; margin-top:1.0667vw;}
.broker .replyWrap .replyList li .btArea .date { font-size:3.2000vw; color:#959595; font-weight:300;}
.broker .replyWrap .replyList li .btArea > a { float:right; font-size:3.2000vw; color:#959595; font-weight:500;}
.broker .replyWrap .replyList li .myBtn { margin-top:4.8000vw; text-align:right;}
.broker .replyWrap .replyList li .myBtn a { display:inline-block; margin-left:4.8000vw;}
.broker .replyWrap .replyList li .myBtn a:first-child { margin-left:0;}
.broker .replyWrap .replyList li .comentList { margin-left:-6.6667vw;}
.broker .replyWrap .replyList li .comentList li { padding-bottom:0;}

/* commentReply */
.broker .commentReply .replyWrap { margin-top:5.3333vw; border-top:0; border-bottom:0.2667vw solid #eeeeee;}
.broker .commentReply .replyWrap .replyList li { padding-top:0;}
.broker .commentReply .replyWrap .replyList li .profile {top:0;}
.broker .commentReply fieldset .name { display:block; margin:2.6667vw 0; color:#333; font-weight:500;}
.broker .commentReply fieldset .textareaWrap textarea { height:42.6667vw; color:#333;}
.broker .commentReply fieldset .btnArea { margin-top:2.6667vw;}

/* commentEdit */
.broker .commentEdit fieldset .textareaWrap textarea { margin-top:5.3333vw; height:42.6667vw; color:#333;}
.broker .commentEdit fieldset .btnArea { margin-top:2.6667vw;}

/* brokerVehicleWriteCompleted */
.broker .brokerVehicleWriteCompleted .compleateBox { padding-top:8vw;}

/* brokerVehicleSearch */
.broker .brokerVehicleSearch fieldset { padding-top:1.8667vw; margin-bottom:5.3333vw; }
.broker .brokerVehicleSearch .notiList { margin:5.3333vw 0 5.0667vw; padding-top:5.3333vw; border-top:0.2667vw solid #eeeeee; text-align:center;}
.broker .brokerVehicleSearch .notiList li { padding-left:0; color:#888888;}
.broker .brokerVehicleSearch .notiList li:before { position:relative; display:inline-block; margin-right:1.3333vw; top:0.80vw;}
.broker .brokerVehicleSearch .notiList li em { display:inline-block; margin-bottom:1.6000vw; color:#888888; font-weight:500;}

/* vehicleSearchInput */
.broker .vehicleSearchInput .lineTab { padding-top:1.4667vw;}
.broker .vehicleSearchInput fieldset { padding-top:5.3333vw;}
.broker .vehicleSearchInput .colorSelect { margin-top:2.6667vw;}
.broker .vehicleSearchInput .colorSelect .radioArea .roundRadio { margin:0 0 1.60vw 1.3333vw;}
.broker .vehicleSearchInput .colorSelect .radioArea .roundRadio:nth-child(5n+1) { margin-left:0;}
.broker .vehicleSearchInput .colorSelect .radioArea .roundRadio.type2 label { width:15.4667vw; height:10.6667vw; line-height:10.1333vw; font-size:4.2667vw; font-weight:300; border-radius:1.0667vw}
.broker .vehicleSearchInput .colorSelect .radioArea .direct label{font-size: 3.7333vw !important;}
.broker .vehicleSearchInput .colorSelect .radioArea + .formInput{display: none;}

/* vehicleSearchDetail */
.broker .vehicleSearchDetail .fieldList { padding-top:4.5333vw;}
.broker .vehicleSearchDetail .colorSelect { margin-top:2.6667vw;}
.broker .vehicleSearchDetail .colorSelect .radioArea .roundRadio { margin:0 0 1.60vw 1.3333vw;}
.broker .vehicleSearchDetail .colorSelect .radioArea .roundRadio:nth-child(5n+1) { margin-left:0;}
.broker .vehicleSearchDetail .colorSelect .radioArea .roundRadio.type2 label { width:15.4667vw; height:10.6667vw; line-height:10.1333vw; font-size:4.2667vw; font-weight:300; border-radius:1.0667vw}
.broker .vehicleSearchDetail .colorSelect .radioArea .direct label{font-size: 3.7333vw !important;}
.broker .vehicleSearchDetail .colorSelect .radioArea + .formInput{display: none;}

/* holdingVehicleList */
.broker .holdingVehicleList fieldset{padding-top: 1.8667vw;}
.broker .holdingVehicleList .list{ margin-top:5.3333vw;}
.broker .holdingVehicleList .list li{margin-bottom: 4.00vw;}
.broker .holdingVehicleList .list li a{display: block; overflow: hidden;}
.broker .holdingVehicleList .list li a .date { margin-bottom:1.6000vw; color: #888; font-weight: 300;}
.broker .holdingVehicleList .list li a span{float: left; width: 20.0000vw; height: 20.0000vw; border: 0.2667vw solid #eee; border-radius: 0.5333vw;}
.broker .holdingVehicleList .list li a span img{width: 100%; height: 100%;}
.broker .holdingVehicleList .list li a div{float: left; padding-left:4.2667vw;}
.broker .holdingVehicleList .list li a div em{display: block; color: #888; font-weight: 300;}
.broker .holdingVehicleList .list li a div strong{display: block; width: 53.3333vw; margin:1.3333vw 0 1.6000vw; color: #333; font-size: 4.2667vw; font-weight: 500; text-overflow: ellipsis; overflow: hidden; white-space: nowrap;}

/* brokerVehicleWrite */
.broker .brokerVehicleWrite .carInfoHeader { padding-top:4.1333vw;}
.broker .brokerVehicleWrite .titArea { position:relative; margin-bottom:1.3333vw;}
.broker .brokerVehicleWrite .titArea h3 { margin-top:4.5333vw; font-size:4.2667vw; color:#333333; font-weight:500;}
.broker .brokerVehicleWrite .titArea .settingCheckBox { position:absolute; right:0; top:0;}
.broker .brokerVehicleWrite .fieldList .roundRadio { margin-left:2.6667vw;}
.broker .brokerVehicleWrite .fieldList .roundRadio:nth-child(3n+1) { margin-left:0;}
.broker .brokerVehicleWrite .fieldList .roundRadio label {  width:26.1333vw;}
.broker .brokerVehicleWrite .fieldList .optionSelected:after { content:''; clear:both; display:block; }
.broker .brokerVehicleWrite .fieldList .optionSelected li { float:left; margin-top:3.7333vw; min-width:39.3333vw; }
.broker .brokerVehicleWrite .fieldList .optionSelected li:first-child { margin-top:3.2000vw;}
.broker .brokerVehicleWrite .fieldList .optionSelected li .sub { display:inline-block; margin-left:1.3333vw;}
.broker .brokerVehicleWrite .fieldList .optionSelected li .sub > span { vertical-align:middle; margin:0 0.6667vw;}
.broker .brokerVehicleWrite .fieldList .optionSelected li .sub .formRadio + .formRadio { margin-left:2.1333vw;}
.broker .brokerVehicleWrite .fieldList .btnArea { margin:2.6667vw 0 2.6667vw -26.6667vw;}
.broker .brokerVehicleWrite .fieldList .notiList{margin-top: 3.7333vw;}
.broker .brokerVehicleWrite .attachBtn { margin-left:-8.00vw; margin-top:5.3333vw; width:100vw; padding:0 8.00vw; border-top:0.2667vw solid #d9d9d9; border-bottom:0.2667vw solid #d9d9d9; }
.broker .brokerVehicleWrite .attachBtn a { display:block; position:relative; padding:2.6667vw 0; font-size:4.2667vw; color:#333; font-weight:500;}
.broker .brokerVehicleWrite .attachBtn a:after{content: ''; position: absolute; right: 1.8667vw; top: 50%; transform: translateY(-50%); width: 2.1333vw; height: 3.7333vw; background: url('../../assets/img/common/icon_arrow.png') no-repeat 0 0; background-size: 100%;}
.broker .brokerVehicleWrite .attachBtn a > em { color:#2962c2;}
.broker .brokerVehicleWrite .priceBox { overflow:hidden; margin-top:5.3333vw; padding:2.6667vw 5.3333vw; border-radius:2.0000vw; background:#eff3f8;}
.broker .brokerVehicleWrite .priceBox dt { float:left; font-size:4.2667vw; color:#333; line-height:1.3;}
.broker .brokerVehicleWrite .priceBox dt > span { font-size:4.2667vw;}
.broker .brokerVehicleWrite .priceBox dd { float:right; font-size:4.2667vw; color:#2962c2; font-weight:500;}
.broker .brokerVehicleWrite .hopePrice { margin:5.3333vw 0 2.6667vw; padding:2.6667vw 5.3333vw 2.6667vw 5.3333vw; border-radius:2.0000vw; background:#f5f5f5;}
.broker .brokerVehicleWrite .hopePrice dl dd { width:46.6667vw;}
.broker .brokerVehicleWrite .hopePrice .notiList { margin-top:3.4667vw;}
.broker .brokerVehicleWrite .notiList li { color:#888;}

/* brokerVehiclePhoto */
.broker .brokerVehiclePhoto .bulletList { padding-top:3.7333vw;}
.broker .brokerVehiclePhoto .bulletList li{color: #888; font-size: 3.2000vw; line-height: 5.8667vw;}
.broker .brokerVehiclePhoto .bulletList li:before{top: 2.0667vw; background: #888;}
.broker .brokerVehiclePhoto{width: 92vw; overflow: hidden;}
.broker .brokerVehiclePhoto .list{width: 92vw; margin-left: -2.6667vw; padding-top: 2.4000vw; overflow: hidden}
.broker .brokerVehiclePhoto .list li{position: relative; float: left; margin: 3.2000vw 0 0 2.6667vw; width: 18.6667vw ; height: 18.6667vw ; background: #fff;}
.broker .brokerVehiclePhoto .list li .picArea{display: block; position: relative; width: 18.6667vw; height: 18.6667vw; padding-top: 11.0667vw; background: url('../../assets/img/common/icon_photo_add.png') no-repeat 50% 4.4000vw; background-size: 5.0667vw; border: 0.2667vw solid #aeaeae; border-radius: 0.5333vw; color: #888; font-size: 3.2vw; text-align: center;}
.broker .brokerVehiclePhoto .list li:last-child .picArea{background-image: url('../../assets/img/common/icon_camera_blue.png'); background-size: 5.6000vw 4.5333vw; border-color: #2962c2; color: #2962c2;}
.broker .brokerVehiclePhoto .list li.max:last-child .picArea{background-image: url('../../assets/img/common/icon_camera_red.png'); border-color: #db0a0a; color: #db0a0a;}
.broker .brokerVehiclePhoto .list li.active .picArea{font-size: 0;}
.broker .brokerVehiclePhoto .list li.active .picArea img{position: absolute; left: 0; top: 0; width: 18.1333vw; height: 18.1333vw;}
.broker .brokerVehiclePhoto .list li .btnDelPic{display: none; position: absolute; right: -2.2667vw; top: -2.2667vw; z-index: 10; width: 5.3333vw; height: 5.3333vw; background: url('../../assets/img/common/icon_delete.png') no-repeat 0 0; background-size: 100%; font-size: 0;}
.broker .brokerVehiclePhoto .list li.active .btnDelPic{display: block;}
.broker .brokerVehiclePhoto .error{padding-top: 2.6667vw;}

/* accidentHistory */
.broker .accidentHistory{}
.broker .accidentHistory .carAccidentCon{width: 100vw; margin-left: -8vw; margin-top:2.2667vw;}
.broker .accidentHistory .carAccidentCon .accordionList{}
.broker .accidentHistory .carAccidentCon .accordionList > li > dl > dt{border-bottom: 0.2667vw solid #d9d9d9;}
.broker .accidentHistory .carAccidentCon .accordionList > li > dl > dt a{position: relative;display: block;padding: 0 15.7333vw 0 8vw;line-height: 9.8667vw;overflow: hidden;}
.broker .accidentHistory .carAccidentCon .accordionList > li > dl > dt a strong{float: left; color: #333; font-size: 4.2667vw; font-weight: 500;}
.broker .accidentHistory .carAccidentCon .accordionList > li > dl > dt a span{float: right; color: #2962c2; line-height: inherit;}
.broker .accidentHistory .carAccidentCon .accordionList > li > dl > dt.none a span{color: #555;}
.broker .accidentHistory .carAccidentCon .accordionList > li > dl > dt a:after{content: ''; position: absolute; right: 9.0667vw; top: 50%; transform: translateY(-50%); width: 3.7333vw; height: 2.1333vw; background: url('../../assets/img/common/arr_select.png') no-repeat 0 0; background-size: 100%; transition: transform 0.3s;}
.broker .accidentHistory .carAccidentCon .accordionList > li > dl > dt.on a:after{transform: translateY(-50%) rotate(180deg)}
.broker .accidentHistory .carAccidentCon .accordionList > li > dl > dt.none a:after{display: none;}
.broker .accidentHistory .carAccidentCon .accordionList > li > dl > dd{display: none; padding: 0 8vw; border-bottom: 0.2667vw solid #d9d9d9;}
.broker .accidentHistory .carAccidentCon .accordionList > li:nth-child(1) dl dd,
.broker .accidentHistory .carAccidentCon .accordionList > li:nth-child(2) dl dd{display: block;}
.broker .accidentHistory .carAccidentCon .accordionList > li > dl > dd .notiList{padding: 4.0000vw 0 0 0;}
.broker .accidentHistory .carAccidentCon .accordionList > li > dl > dd .notiList li{color: #888;}
.broker .accidentHistory .carAccidentCon .accordionList > li > dl > dd table{margin: 2.6667vw 0;}
.broker .accidentHistory .carAccidentCon .accordionList > li > dl > dd table th{height: 9.8667vw; padding-left: 3.4667vw; background: #f5f5f5; border-left: 0.2667vw solid #eee; color: #333; font-weight: 300; text-align: center;}
.broker .accidentHistory .carAccidentCon .accordionList > li > dl > dd table td{height: 9.8667vw; padding-left: 3.4667vw; font-weight: 300; border-bottom: 0.2667vw solid #eee; border-left: 0.2667vw solid #eee; text-align: center;}
.broker .accidentHistory .carAccidentCon .accordionList > li > dl > dd table th:first-child,
.broker .accidentHistory .carAccidentCon .accordionList > li > dl > dd table td:first-child{border-left: 0;}
.broker .accidentHistory .carAccidentCon .accordionList > li > dl > dd table td dl{padding-top: 3.3333vw; overflow: hidden;}
.broker .accidentHistory .carAccidentCon .accordionList > li > dl > dd table td dl dt{clear: left; float: left; font-weight: 300; margin-bottom: 3.3333vw;}
.broker .accidentHistory .carAccidentCon .accordionList > li > dl > dd table td dl dd{float: right; font-weight: 300; margin-bottom: 3.3333vw;}
.broker .accidentHistory .carAccidentCon .accordionList > li > dl > dd > dl{padding-top: 5.3333vw; overflow: hidden;}
.broker .accidentHistory .carAccidentCon .accordionList > li > dl > dd > dl dt{clear: left; float: left; margin-bottom: 2.6667vw; color: #888; font-weight: 300;}
.broker .accidentHistory .carAccidentCon .accordionList > li > dl > dd > dl dd{float: right; margin-bottom: 2.6667vw; font-weight: 300;}
.broker .accidentHistory .carAccidentCon .accordionList > li > dl > dd > table + dl{padding-top: 0;}
.broker .accidentHistory .carAccidentCon .accordionList > li > dl > dd > table + dl dt{margin-bottom: 0;}
.broker .accidentHistory .carAccidentCon .accordionList > li > dl > dd > table + dl dd{color: #888; margin-bottom: 0;}
