@charset "UTF-8";

/* brokerVehicleList */
.brokerVehicle .brokerVehicleList .formInput.search { margin-top:1.8667vw;}
.brokerVehicle .brokerVehicleList .searchIdx { margin:5.3333vw 0 ;}
.brokerVehicle .brokerVehicleList .searchIdx:after { content:''; clear:both; display:block;}
.brokerVehicle .brokerVehicleList .searchIdx .idx { float:left; font-size:4.2667vw; font-weight:500; line-height:1.7; color:#333333;}
.brokerVehicle .brokerVehicleList .searchIdx .idx > em { color:#2962c2;}
.brokerVehicle .brokerVehicleList .searchIdx .dropBox { float:right;}
.brokerVehicle .brokerVehicleList .dataNone { padding-top:10.6667vw;}

/* brokerVehicleDetail */
.brokerVehicle .brokerVehicleDetail .carDetailHeader .dealPrice .cmmTooltip > span { display:inline-block; margin-right:1.3333vw; vertical-align:middle; font-size:3.2000vw; font-weight:300; color:#888; }
.brokerVehicle .brokerVehicleDetail .carDetailHeader .dealPrice .cmmTooltip > a{ display:inline-block; vertical-align:middle; }
.brokerVehicle .brokerVehicleDetail .carDetailHeader .dealPrice .cmmTooltip .toolCont { top:7.5333vw;}
.brokerVehicle .brokerVehicleDetail .carDetailHeader .dealPrice > p { display:inline-block; vertical-align:middle;}
.brokerVehicle .brokerVehicleDetail .carInfoList .accordionList { border-top:2.6667vw solid #f5f5f5; }
.brokerVehicle .brokerVehicleDetail .carInfoList .accordionList { padding-bottom:0;}
.brokerVehicle .brokerVehicleDetail .titArea { margin-left:-8.00vw; width:100vw; padding:0 8.00vw; border-top:2.6667vw solid #f5f5f5;}
.brokerVehicle .brokerVehicleDetail .titArea h3 { line-height:9.8667vw; font-size:4.2667vw; color:#333333; font-weight:500;  border-bottom:0.2667vw solid #eee;}
.brokerVehicle .dealerSelf { text-align:center;}
.brokerVehicle .dealerSelf ul { display:flex; padding:0 4.00vw;}
.brokerVehicle .dealerSelf ul li { flex:1;; margin:2.6667vw 0;}
.brokerVehicle .dealerSelf ul li a { display:block; min-width:20.0000vw; color:#333; font-weight:300;}
.brokerVehicle .dealerSelf ul li a:before { content:''; display:block; margin-bottom:2.6667vw; height:5.6000vw; background-repeat:no-repeat; background-position:50% 0;  }
.brokerVehicle .dealerSelf ul li.onlineEst a:before { background-image:url('../img/common/icon_esimate.png'); background-size:5.0667vw 5.6000vw;}
.brokerVehicle .dealerSelf ul li.sellDeal a:before { background-image:url('../img/common/icon_selldeal.png'); background-size:5.2000vw 5.3333vw;}
.brokerVehicle .salesInfo { overflow:hidden; position:relative; padding-top:2.6667vw; margin-bottom:2.6667vw; border-top:0.2667vw solid #eeeeee; }
.brokerVehicle .salesInfo:after { content:''; position:absolute; left:50%; top:2.6667vw; width:0.2667vw; height:26.0000vw; transform:translateX(-50%); background:#eee;}
.brokerVehicle .salesInfo li { float:left; width:50%; font-size:4.2667vw; font-weight:300; color:#333;}
.brokerVehicle .salesInfo li:nth-child(even) { padding-left:5.6000vw; }
.brokerVehicle .salesInfo li:nth-child(n+3) { margin-top:4.00vw;}
.brokerVehicle .salesInfo li span { display:block; margin-bottom:0.8000vw; font-size:3.2000vw; font-weight:300; color:#888;}
.brokerVehicle .salesInfo li a { text-decoration:underline; font-size:4.2667vw; color:#2962c2;  }
.brokerVehicle .carOption { overflow:hidden; display:flex; padding:2.6667vw 0; border-top:0.2667vw solid #eeeeee; border-bottom:0.2667vw solid #eeeeee;}
.brokerVehicle .carOption li { flex:auto; text-align:center; color:#333; font-weight:300; opacity:0.5;}
.brokerVehicle .carOption li + li { margin-left:2.6667vw;}
.brokerVehicle .carOption li.active { opacity:1;}
.brokerVehicle .carOption li:before { content:''; display:block; margin:0 auto; width:8.0000vw; height:8.0000vw; background-repeat:no-repeat;}
.brokerVehicle .carOption li.sunroof:before { background-image:url('../img/common/icon_sunroof.png'); background-size:6.1333vw 6.2667vw; }
.brokerVehicle .carOption li.heat:before { background-image:url('../img/common/icon_heat.png'); background-size:6.1333vw 5.6000vw;}
.brokerVehicle .carOption li.navigation:before { background-image:url('../img/common/icon_navi.png'); background-size:4.2667vw 5.8667vw;}
.brokerVehicle .carOption li.airbag:before { background-image:url('../img/common/icon_airbag.png'); background-size:4.9333vw 6.8000vw;}
.brokerVehicle .dealerComent { margin-top:2.6667vw; overflow-y:auto; padding:5.3333vw; height:36.2667vw; border-radius:15px; background:#f5f5f5;}

/* holdingVehicleSale */
.brokerVehicle .holdingVehicleSale .topBox { margin-left:-8.00vw; width:100vw; padding:6.4000vw 8.00vw 0; height:26.6667vw; background:#eff3f8 url('../img/holdingVehicle/img_holdingVehicle_top.png') 54.4000vw 3.0667vw no-repeat; background-size:38.9333vw 21.0667vw;}
.brokerVehicle .holdingVehicleSale .topBox strong { font-size:4.2667vw; font-weight:500; color:#2962c2;}
.brokerVehicle .holdingVehicleSale .topBox p { margin-top:1.0667vw; font-size:4.2667vw; font-weight:300;}
.brokerVehicle .holdingVehicleSale .carDetailHeader { margin:5.3333vw 0;}
.brokerVehicle .holdingVehicleSale .carDetailHeader .titArea > strong { font-size:4.2667vw; font-weight:500; color:#333; line-height:6.6667vw; vertical-align:middle;}
.brokerVehicle .holdingVehicleSale .carDetailHeader span[class^='icon'] {margin-bottom:2.1333vw;}
.brokerVehicle .holdingVehicleSale .carDetailHeader .info { margin:1.0667vw 0 0;}
.brokerVehicle .holdingVehicleSale .carDetailHeader .info span { font-size:3.7333vw;}
.brokerVehicle .holdingVehicleSale .fieldList dd .formInput input { font-size:4.2667vw;}
.brokerVehicle .holdingVehicleSale .fieldList dd .radioArea.flex { margin-bottom:1.0667vw;}
