@charset "UTF-8";

/* installmentCal */
.cal .installmentCal .lineTab { padding-top:1.4667vw; }
.cal .installmentCal fieldset { padding:5.3333vw 0;}
.cal .installmentCal .calResult { width:100vw; margin-left:-8.0000vw; padding:0 8.00vw; border-top:2.6667vw solid #f5f5f5;}
.cal .installmentCal .calResult dl { margin:2.6667vw 0; }
.cal .installmentCal .calResult dl dt { margin-bottom:2.6667vw; font-size:4.2667vw; font-weight:500; color:#333;}
.cal .installmentCal .calResult .registeredList li p { color:#2962c2; font-weight:400;}
.cal .installmentCal .calResult .registeredList li + li { border-top:0;}
.cal .installmentCal .calResult .registeredList li { border-bottom:0.2667vw solid #eeeeee;}
.cal .installmentCal .calResult .txt { font-weight:300; line-height:1.7; }

/* ratalCal */
.cal .ratalCal .lineTab { padding-top:1.4667vw; }
.cal .ratalCal fieldset{padding: 5.6000vw 0 5.3333vw 0;}
.cal .ratalCal .accordionList{width: 100vw; margin-left: -8vw; padding: 0 8vw; border-top: 4.0000vw solid #f5f5f5;}
.cal .ratalCal .accordionList li{}
.cal .ratalCal .accordionList li .trigger{border-bottom: 0.2667vw solid #aeaeae;}
.cal .ratalCal .accordionList li .trigger a{position: relative; display: block; height: 9.8667vw; color: #333; font-size: 4.2667vw; font-weight: 500; line-height: 9.8667vw;}
.cal .ratalCal .accordionList li .trigger a:after{content: ''; position: absolute; right: 1.0667vw; top: 50%; margin-top: -1.05vw; width: 3.7333vw; height: 2.1333vw; background: url('../../assets/img/common/arr_select.png') no-repeat 0 0; background-size: 100%; transition: 0.3s;}
.cal .ratalCal .accordionList li .trigger.on a:after{transform: rotate(180deg);}
.cal .ratalCal .accordionList li .trigger + dd{ display: none; padding-bottom:2.6667vw;}
.cal .ratalCal .accordionList li .trigger + dd p{padding: 5.3333vw 0 2.0000vw 0; color: #aeaeae; font-size: 4.2667vw;}
.cal .ratalCal .accordionList li .trigger + dd dl{overflow: hidden;}
.cal .ratalCal .accordionList li .trigger + dd dl dt,
.cal .ratalCal .accordionList li .trigger + dd dl dd{float: left; width: 50%; height: 9.8667vw; border-bottom: 0.2667vw solid #eee; line-height: 9.8667vw; letter-spacing: -0.3vw;}
.cal .ratalCal .accordionList li .trigger + dd dl dt span{position: absolute; top: 50%; transform: translateY(-50%); display: inline-block; width: 100%; font-size: 4.2667vw; letter-spacing: -0.4vw;}
.cal .ratalCal .accordionList li .trigger + dd dl dt{position: relative; color: #333; font-size: 4.2667vw; font-weight: 500;}
.cal .ratalCal .accordionList li .trigger + dd dl dd{font-size: 4.2667vw; font-weight: 300; text-align: right;}
.cal .ratalCal .accordionList li .trigger + dd dl dd > em { color:#2962c2; font-weight:300;}
.cal .ratalCal .accordionList li .trigger.none a:after { display:none;}
.cal .ratalCal .accordionList li .trigger.none + dd { display:block;}

/* vehicleAccount */
.cal .vehicleAccount fieldset { padding-top:4.5333vw; }
.cal .vehicleAccount .colorSelect { margin-top:2.6667vw;}
.cal .vehicleAccount .colorSelect .radioArea .roundRadio { margin:0 0 1.60vw 1.3333vw;}
.cal .vehicleAccount .colorSelect .radioArea .roundRadio:nth-child(5n+1) { margin-left:0;}
.cal .vehicleAccount .colorSelect .radioArea .roundRadio.type2 label { width:15.4667vw; height:10.6667vw; line-height:10.1333vw; font-size:4.2667vw; font-weight:300; border-radius:1.0667vw}
.cal .vehicleAccount .colorSelect .radioArea .direct label{font-size: 3.7333vw !important;}
.cal .vehicleAccount .colorSelect .radioArea + .formInput{display: none;}
.cal .vehicleAccount .hitchExist { margin-top:4.0000vw;}
.cal .vehicleAccount .hitchExist .hitItem { overflow:hidden;}
.cal .vehicleAccount .hitchExist .hitItem .formRadio { float:left; margin-bottom:2.6667vw; width:39.3333vw;}
.cal .vehicleAccount .hitchExist .radioArea .roundRadio { margin:0 0 0 1.3333vw;}
.cal .vehicleAccount .hitchExist .radioArea .roundRadio:nth-child(5n+1) { margin-left:0;}
.cal .vehicleAccount .hitchExist .radioArea .roundRadio.type2 label { width:15.4667vw; height:10.6667vw; line-height:10.1333vw; font-size:4.2667vw; font-weight:300; border-radius:1.0667vw}
.cal .vehicleAccount .optionList { margin-top:4.0000vw; }
.cal .vehicleAccount .optionList:after { content:''; display:block; clear:both;}
.cal .vehicleAccount .optionList .formChkbox { float:left; margin-bottom:2.6667vw; width:39.3333vw; }
.cal .vehicleAccount .fieldList .notiList { margin-top:1.3333vw;}
.cal .vehicleAccount .fieldList .notiList li { color:#aeaeae;}

/* vehiclePurchaseCal */
.cal .vehiclePurchaseCal .vehicleArea { padding:4.4000vw 0 2.6667vw;}
.cal .vehiclePurchaseCal .vehicleArea > strong { display:block; padding-bottom:4.5333vw; margin-bottom:5.6000vw; font-size:4.2667vw; color:#333; font-weight:500; border-bottom:0.2667vw solid #eeeeee;}
.cal .vehiclePurchaseCal .vehicleArea .img { margin-bottom:5.3333vw; text-align:center;}
.cal .vehiclePurchaseCal .vehicleArea .img img { width:57.0667vw; height:34.4000vw;}
.cal .vehiclePurchaseCal .vehicleArea .date { overflow:hidden; color:#888888; font-weight:300;}
.cal .vehiclePurchaseCal .vehicleArea .date > span { float:right; color:#888888; font-weight:300; letter-spacing:-0.1vw;}

.cal .vehiclePurchaseCal .purchaseCal { margin-left:-8.0000vw; width:100vw; border-top:2.6667vw solid #f5f5f5;}
.cal .vehiclePurchaseCal .purchaseCal > dl > dt { padding:0 8.0000vw; border-bottom:0.2667vw solid #d9d9d9;}
.cal .vehiclePurchaseCal .purchaseCal > dl > dt a { position:relative; display:block; line-height:9.8667vw; font-size:4.2667vw; color:#333333; font-weight:500;}
.cal .vehiclePurchaseCal .purchaseCal > dl > dt a:after { content:''; position:absolute; right:1.3333vw; top:50%; transform:translateY(-50%); width:3.7333vw; height:2.1333vw; background: url('../../assets/img/common/arr_select.png') no-repeat 0 0;  background-size:100% auto; transition:0.3s;}
.cal .vehiclePurchaseCal .purchaseCal > dl > dt.on a:after { transform:translateY(-50%) rotate(180deg);}
.cal .vehiclePurchaseCal .purchaseCal > dl > dd { padding:0 8.0000vw;}
.cal .vehiclePurchaseCal .purchaseCal .fieldList { padding-top:5.3333vw;}
.cal .vehiclePurchaseCal .purchaseCal .fieldList dt { margin:2.6667vw 0 0.2667vw; width:100%; height:auto; line-height:1.25; border-bottom:none;}
.cal .vehiclePurchaseCal .purchaseCal .fieldList dt:first-child { margin-top:0;}
.cal .vehiclePurchaseCal .purchaseCal .fieldList dd { width:100%;}
.cal .vehiclePurchaseCal .purchaseCal .fieldList dt.sub { font-size:4.2667vw; color:#888888}
.cal .vehiclePurchaseCal .purchaseCal .fieldList dt.sub > span { font-weight:300;}
.cal .vehiclePurchaseCal .purchaseCal .totalBox { overflow:hidden; margin:5.3333vw 0 2.6667vw 0; padding:2.6667vw 5.6000vw; border-radius:2.0000vw; background:#eff3f8;}
.cal .vehiclePurchaseCal .purchaseCal .totalBox > span { font-size:4.2667vw; color:#333333;}
.cal .vehiclePurchaseCal .purchaseCal .totalBox .price { float:right; font-size:4.2667vw; color:#2962c2;}
.cal .vehiclePurchaseCal .purchaseCal .notiList { margin-top:2.6667vw;}
.cal .vehiclePurchaseCal .purchaseCal .notiList li { color:#888;}

/* priceEncar */
.cal .priceEncar .lineTab{padding-top: 1.4667vw;}
.cal .priceEncar .priceEncarDefault{padding: 5.3333vw 0;}
.cal .priceEncar .priceEncarDefault .logoArea{background: #f5f5f5; overflow: hidden;}
.cal .priceEncar .priceEncarDefault .logoArea div{position: relative; float: left; width: 23.7333vw; height: 19.7333vw;}
.cal .priceEncar .priceEncarDefault .logoArea div img{position: absolute; left: 50%; top: 5.4333vw; transform: translateX(-50%); width: 16.2667vw; height: 6.1333vw;}
.cal .priceEncar .priceEncarDefault .logoArea p{float: left; padding-top: 4.2667vw; color: #888888; font-weight: 300; line-height: 5.3333vw;}
.cal .priceEncar .priceEncarDefault fieldset{padding: 5.3333vw 0 2.6667vw 0;}
.cal .priceEncar .priceEncarInfo,
.cal .priceEncar .priceEncarList{width: 100vw; margin-left: -8vw; padding: 0 8vw; border-top: 2.6667vw solid #f5f5f5;}
.cal .priceEncar .priceEncarInfo h2{padding-top: 2.6667vw; color: #333; font-size: 4.2667vw; font-weight: 500;}
.cal .priceEncar .priceEncarInfo p{padding: 3.7333vw 0 4.8000vw 0; border-bottom: 0.2667vw solid #eee; overflow: hidden;}
.cal .priceEncar .priceEncarInfo p span{float: left; color: #aeaeae; font-weight: 300;}
.cal .priceEncar .priceEncarInfo p em{float: right; color: #aeaeae; font-weight: 300;}
.cal .priceEncar .priceEncarInfo .price{padding: 2.6667vw 5.0667vw; margin-top: 2.6667vw; background: #eff3f8; border-radius: 2.1333vw;}
.cal .priceEncar .priceEncarInfo .price .regular{padding-bottom: 2.6667vw; overflow: hidden;}
.cal .priceEncar .priceEncarInfo .price .regular dt{float: left; color: #333; font-size: 4.2667vw; font-weight: 500;}
.cal .priceEncar .priceEncarInfo .price .regular dd{float: right; color: #2962c2; font-size: 4.2667vw;}
.cal .priceEncar .priceEncarInfo .price .minMax{overflow: hidden;}
.cal .priceEncar .priceEncarInfo .price .minMax dt{float: left; margin-right: 3.7333vw; color: #888; font-weight: 500; line-height: 5.3333vw; letter-spacing: -0.22vw;}
.cal .priceEncar .priceEncarInfo .price .minMax dd{float: left; color: #333; font-size: 4.0000vw; font-weight: 500; line-height: 5.3333vw;  letter-spacing: -0.22vw;}
.cal .priceEncar .priceEncarInfo .price .minMax dd:nth-child(2){position: relative; padding-right: 4.9333vw;}
.cal .priceEncar .priceEncarInfo .price .minMax dd:nth-child(2):after{content:''; position: absolute; right: 2.2667vw; top: 50%; transform: translateY(-50%); width: 0.2667vw; height: 2.9333vw; background: #a0a0a0;}
.cal .priceEncar .priceEncarInfo .searchList{padding: 2.6667vw 0; border-bottom: 0.2667vw solid #d9d9d9; overflow: hidden;}
.cal .priceEncar .priceEncarInfo .searchList dt{clear: right; float: left; margin-bottom: 2.6667vw; color: #888; font-size: 4.2667vw; font-weight: 300;}
.cal .priceEncar .priceEncarInfo .searchList dd{float: right; margin-bottom: 2.6667vw; color: #333; font-size: 4.2667vw; font-weight: 300;}
.cal .priceEncar .priceEncarInfo .notiList{padding: 2.6667vw 0 5.3333vw 0;}
.cal .priceEncar .priceEncarInfo .notiList li{color: #888;}
.cal .priceEncar .priceEncarList .notiList{margin-top: 5.3333vw;}
.cal .priceEncar .priceEncarList .notiList{color: #888;}
.cal .priceEncar .priceEncarList > ul li{padding: 2.6667vw 0; border-bottom: 0.2667vw solid #eee;}
.cal .priceEncar .priceEncarList > ul li a{display: block; overflow: hidden;}
.cal .priceEncar .priceEncarList > ul li a div{float: left; margin-right: 5.0667vw; border: 0.2667vw solid #eee; border-radius: 0.5333vw; overflow: hidden;}
.cal .priceEncar .priceEncarList > ul li a div img{width: 20.0000vw; height: 20.0000vw;}
.cal .priceEncar .priceEncarList > ul li a p{float: left; margin-top: -0.2667vw; width:58.1333vw; color: #888; font-weight: 300;}
.cal .priceEncar .priceEncarList > ul li a p em{display: block; padding: 3.4667vw 0 0.2667vw 0; color: #333; font-size: 4.2667vw; font-weight: 400;}
.cal .priceEncar .priceEncarList > ul li a p span{display: block; color: #2962c2;}
.cal .priceEncar .priceEncarList > ul li a p span strong{color: #2962c2; font-size: 4.2667vw;}
.cal .priceEncar .priceEncarList .btnArea{margin-top: 2.2667vw;}

/* vehiclePurchaseItem */
.cal .vehiclePurchaseItem .notiList{padding: 4.9333vw 0 5.3333vw 0;}
.cal .vehiclePurchaseItem .fieldList dt{position: relative; padding-left: 7vw; margin:2.6667vw 0 0.2667vw; width:100%; height:auto; line-height:1.25; border-bottom:none;}
.cal .vehiclePurchaseItem .fieldList dt:first-child { margin-top:0;}
.cal .vehiclePurchaseItem .fieldList dt span{color: #333; font-size: 4.2667vw;}
.cal .vehiclePurchaseItem .fieldList dt label{position: absolute; left: 0; top: 0; width: 5.33vw; height: 5.33vw;  padding: 0; line-height: none; font-size: 0;}
.cal .vehiclePurchaseItem .fieldList dt label .icon{top: 0;}
.cal .vehiclePurchaseItem .fieldList dd { width:100%; padding-left: 7vw;}
