@charset "UTF-8";

/* main */
.dealerInfo .mypageMain .profileArea + .btnArea{margin-bottom: 2.6667vw;}
.dealerInfo .mypageMain .profileArea + .myUtillPage{margin-top: 0; padding-top: 2.6667vw; border-top: 0.2667vw solid #eee;}
.dealerInfo .mypageMain .mypageList{border-top: 0.2667vw solid #d9d9d9;}
.dealerInfo .mypageMain .mypageList li{border-bottom: 0.2667vw solid #eee;}
.dealerInfo .mypageMain .mypageList li a{display: block; position: relative; padding: 0 7.2000vw 0 0; overflow: hidden;}
.dealerInfo .mypageMain .mypageList li a strong{float: left; color: #333; font-size: 4.2667vw; font-weight: 500; line-height: 9.8667vw;}
.dealerInfo .mypageMain .mypageList li a span{float: right; color: #2962c2; font-size: 4.2667vw; font-weight: 300; line-height: 9.8667vw;}
.dealerInfo .mypageMain .mypageList li a:after{content:''; position: absolute; right: 1.3333vw; top: 50%; transform: translateY(-50%); width: 2.1333vw; height: 3.7333vw; background: url('../../assets/img/common/icon_arrow.png') no-repeat 0 0; background-size: 100%;}

.dealerInfo .mypageMain .gradeResult { overflow:hidden; padding:2.6667vw 5.3333vw; border-radius:2.0000vw; background:#eff3f8;}
.dealerInfo .mypageMain .gradeResult dt { float:left; clear:right; font-weight:500;}
.dealerInfo .mypageMain .gradeResult dd { float:right;}
.dealerInfo .mypageMain .gradeResult dd > span { position:relative; font-weight:500; color:#2962c2;}
.dealerInfo .mypageMain .gradeResult dd > span + span { margin-left:1.8667vw; padding-left:2.9333vw;}
.dealerInfo .mypageMain .gradeResult dd > span + span:after { content:''; position:absolute; top:50%; left:0; transform:translateY(-50%); width:0.2667vw; height:4.0000vw; background:#aeaeae; }

.dealerInfo .mypageMain .myUtillPage { display:flex; margin: 2.6667vw 0;}
.dealerInfo .mypageMain .myUtillPage li {position: relative; flex:1;}
.dealerInfo .mypageMain .myUtillPage li + li:before{content: ''; position: absolute; left: -1px; top: 50%; transform: translateY(-50%); width: 0.2667vw; height: 8.0000vw; background: #eee;}
.dealerInfo .mypageMain .myUtillPage li a { display:block; font-size:4.2667vw; font-weight:500; color:#333; text-align: center;}
.dealerInfo .mypageMain .myUtillPage li a em { display:block; margin-bottom:1.3333vw; font-weight:500; color:#2962c2; }

/* withdrawGuide */
.dealerInfo #container.withdrawGuide{padding-bottom: 0;}
.dealerInfo .withdrawGuide h3{padding: 4.5333vw 0 5.3333vw 0; color: #333; font-size: 4.2667vw; font-weight: 500;}
.dealerInfo .withdrawGuide .withdrawCon{width: 100vw; margin-left: -8vw; padding: 0 8vw; background: #f5f5f5;}
.dealerInfo .withdrawGuide .withdrawCon .bulletList{padding: 5.0667vw 0 5.3333vw 0;}
.dealerInfo .withdrawGuide .withdrawCon .bulletList li{padding-bottom: 1.6000vw; font-size: 4.00vw; font-weight: 300; }

/* withdrawReason */
.dealerInfo .withdrawReason .midTitle{padding: 4.5333vw 0;}
.dealerInfo .withdrawReason .midTitle h3{font-size: 5.3333vw; font-weight: 500; line-height: 7.2333vw;}
.dealerInfo .withdrawReason .midTitle span{color: #7591bf; font-size: inherit; line-height: inherit; font-weight: inherit;}
.dealerInfo .withdrawReason h4{padding-top: 5.3333vw; color: #333; font-size: 4.2667vw; font-weight: 500;}

/* withdrawPIN */
.dealerInfo .withdrawPIN > h2 {padding-top:4.5333vw;}
.dealerInfo .withdrawPIN > h2 span{margin-top: 2.6667vw;}
.dealerInfo .withdrawPIN .formPassword.box {margin-top:5.6000vw; background: #f5f5f5;}
.dealerInfo .withdrawPIN .formPassword.box .pwdotArea > span{background: #fff;}
.dealerInfo .withdrawPIN .btnReset { position:relative; margin-top:4.8000vw; display:inline-block; font-size:4.2667vw; font-weight:300; color:#888888; }
.dealerInfo .withdrawPIN .btnReset:after { content:''; display:inline-block; margin-left:2.4000vw; width:2.1333vw; height:3.7333vw; background:url('../img/common/icon_arrow.png') no-repeat; background-size:100% auto;}


/*withdrawCompleted */
.dealerInfo .withdrawCompleted .compleateBox{padding-top: 8vw;}

/* bankDetail */
#container.bankDetail { }
.dealerInfo .bankDetail .accountWrap { padding:4.5333vw 0 2.6667vw;}
.dealerInfo .bankDetail .accountWrap dt { margin-top:5.3333vw; font-size:4.2667vw; color:#333; font-weight:500;}
.dealerInfo .bankDetail .accountWrap dt:first-child { margin-top:0;}
.dealerInfo .bankDetail .accountWrap dd .top:after { content:''; clear:both; display:block;}
.dealerInfo .bankDetail .accountWrap dd .top .date { float:left; line-height:9.6000vw; color:#aeaeae; font-weight:300; letter-spacing:-0.1vw;}
.dealerInfo .bankDetail .accountWrap dd .top .btnArea.round { float:right; margin-bottom:2.6667vw; }
.dealerInfo .bankDetail .accountWrap .accountBox { overflow:hidden; height:15.7333vw; border-radius:2.0000vw; }
.dealerInfo .bankDetail .accountWrap .accountBox .inner { padding:5.0667vw 5.3333vw; }
.dealerInfo .bankDetail .accountWrap .accountBox.charge .inner { background:#6eb4f9;}
.dealerInfo .bankDetail .accountWrap .accountBox.loan .inner { background:#5384eb;}
.dealerInfo .bankDetail .accountWrap .accountBox .bankName { font-size:4.2667vw; font-weight:500; color:#fff;}
.dealerInfo .bankDetail .accountWrap .accountBox .number { float:right; font-size:4.2667vw; font-weight:300; color:#fff;}
.dealerInfo .bankDetail .accountWrap .accountBox .none { position:relative; height:100%; background:#f5f5f5; }
.dealerInfo .bankDetail .accountWrap .accountBox .none > span { display:inline-block; padding:5.0667vw 0 0 5.3333vw; font-weight:300;}
.dealerInfo .bankDetail .accountWrap .accountBox .none .btnArea.round { position:absolute; top:3.2000vw; right:5.3333vw;}

.dealerInfo .bankDetail .accountHistory { margin:5.3333vw 0 0 -8.0000vw; width:100vw; padding:0 8.0000vw; border-top:2.6667vw solid #f5f5f5;}
.dealerInfo .bankDetail .accountHistory dl dt { border-bottom:0.2667vw solid #aeaeae;}
.dealerInfo .bankDetail .accountHistory dl dt a { position:relative; display:block; line-height:9.8667vw; font-size:4.2667vw; color:#333333; font-weight:500;}
.dealerInfo .bankDetail .accountHistory dl dt a:after { content:''; position:absolute; right:1.3333vw; top:50%; transform:translateY(-50%); width:3.7333vw; height:2.1333vw; background: url('../../assets/img/common/arr_select.png') no-repeat 0 0;  background-size:100% auto; transition:0.3s;}
.dealerInfo .bankDetail .accountHistory dl dt.on a:after { transform:translateY(-50%) rotate(180deg);}
.dealerInfo .bankDetail .accountHistory dl dd { display:none; }
.dealerInfo .bankDetail .accountHistory ul { margin-bottom:2.6667vw;}
.dealerInfo .bankDetail .accountHistory ul li { padding:2.6667vw 0; border-bottom:0.2667vw solid #eeeeee;}
.dealerInfo .bankDetail .accountHistory ul li .date { font-weight:300; color:#888888;}
.dealerInfo .bankDetail .accountHistory ul li .info { margin-top:1.6000vw; overflow:hidden;}
.dealerInfo .bankDetail .accountHistory ul li .info .label { float:left; margin-right:1.6000vw; display:block; width:15.2000vw; height:5.8667vw; line-height:5.8667vw; font-size:2.9333vw; text-align:center; color:#fff; border-radius:3.2000vw; background:#6eb4f9;}
.dealerInfo .bankDetail .accountHistory ul li .info .label.loan { background:#5384eb;}
.dealerInfo .bankDetail .accountHistory ul li .info .bank { float:left; font-size:4.2667vw; color:#333;}
.dealerInfo .bankDetail .accountHistory ul li .info .number { float:right; line-height:1.5; letter-spacing:-0.1vw;}

/* backChange */
.dealerInfo .bankAccount { margin:4.2667vw 0 2.6667vw;}
.dealerInfo .bankAccount .date { margin-bottom:2.1333vw; color:#aeaeae; font-weight:300;}
.dealerInfo .bankAccount .accountBox { overflow:hidden; padding:5.0667vw 5.3333vw; height:15.7333vw; border-radius:2.0000vw; background:#6eb4f9; }
.dealerInfo .bankAccount .accountBox.loan { background:#5384eb;}
.dealerInfo .bankAccount .accountBox .bankName { font-size:4.2667vw; font-weight:500; color:#fff;}
.dealerInfo .bankAccount .accountBox .number { float:right; font-size:4.2667vw; font-weight:300; color:#fff;}

.dealerInfo .bankChange .fieldList .formArea{ margin-top:0;}
.dealerInfo .bankChange .notiList { margin-top:2.6667vw}

.dealerInfo .bankLoanChange .fieldList .formArea{ margin-top:0;}
.dealerInfo .bankLoanChange .notiList { margin-top:2.6667vw}

/* bankCompleted */
.dealerInfo .bankCompleted .compleateBox { padding-top:8.00vw;}
.dealerInfo .bankCompleted .compleateBox .subTxt { margin-top:4.8000vw; font-size:4.2667vw; font-weight:500; line-height:1.5; color:#888888;}

/* bankLoanCompleted */
.dealerInfo .bankLoanCompleted .compleateBox { padding-top:8.00vw;}
.dealerInfo .bankLoanCompleted .compleateBox .subTxt { margin-top:4.8000vw; font-size:4.2667vw; font-weight:500; line-height:1.5; color:#888888;}

/* bankEnroll */
.dealerInfo .bankEnroll fieldset { margin-top:2.1333vw;}
.dealerInfo .bankEnroll .fieldList .formArea{ margin-top:0;}
.dealerInfo .bankEnroll .notiList { margin-top:2.6667vw; }

/* bankLoanEnroll */
.dealerInfo .bankLoanEnroll fieldset { margin-top:2.1333vw;}
.dealerInfo .bankLoanEnroll .fieldList .formArea{ margin-top:0;}
.dealerInfo .bankLoanEnroll .notiList { margin-top:2.6667vw; }

/* bankEnrollCompleted */
.dealerInfo .bankEnrollCompleted .compleateBox { padding-top:8.00vw;}
.dealerInfo .bankEnrollCompleted .compleateBox .subTxt { margin-top:4.8000vw; font-size:4.2667vw; font-weight:500; line-height:1.5; color:#888888;}

/* bankLoanEnrollCompleted */
.dealerInfo .bankLoanEnrollCompleted .compleateBox { padding-top:8.00vw;}
.dealerInfo .bankLoanEnrollCompleted .compleateBox .subTxt { margin-top:4.8000vw; font-size:4.2667vw; font-weight:500; line-height:1.5; color:#888888;}

/* manageChange */
.dealerInfo #container.manageChange { padding-bottom:33.3333vw; padding-bottom:calc(33.3333vw + env(safe-area-inset-bottom));}
.dealerInfo .manageChange .currManage { padding:4.5333vw 0 0.8000vw; }
.dealerInfo .manageChange .currManage dt { margin-bottom:1.6000vw; font-size:4.2667vw; font-weight:500; color:#333333;}
.dealerInfo .manageChange .fieldList { margin-left:-8.0000vw; padding:0 8.0000vw; width:100vw; border-top:2.6667vw solid #f5f5f5;}
.dealerInfo .manageChange .fieldList .btnArea { margin-top:3.7333vw;}
.dealerInfo .manageChange .manageAssign { margin:2.6667vw 0 0 -26.6667vw;}
.dealerInfo .manageChange .manageAssign .radioArea { margin:4.5333vw 0 2.9333vw; }
.dealerInfo .manageChange .manageAssign .radioArea li { float:left; }
.dealerInfo .manageChange .manageAssign .radioArea li + li {  margin-left:2.9333vw;}
.dealerInfo .manageChange .manageAssign .radioArea .roundRadio.type2 { float:inherit; margin-top:0;}
.dealerInfo .manageChange .manageAssign .radioArea .roundRadio.type2 label { width:40.5333vw; height:12.0000vw; line-height:12.0000vw }
.dealerInfo .manageChange .notiList { margin-top:3.7333vw;}
.dealerInfo .manageChange + .bottomArea{background: none;}

/* managerCompleted */
.dealerInfo .managerCompleted .compleateBox { padding-top:8.00vw;}
.dealerInfo .managerCompleted .compleateBox .subTxt { margin-top:4.8000vw; font-size:4.2667vw; font-weight:500; line-height:1.5; color:#888888;}

/* activityChange */
.dealerInfo .activityChange .infoBox { position:relative; margin-top:5.3333vw; padding:7.7333vw 0 0 20.0000vw; height:20.0000vw; border-radius:2.6667vw; background:#f2f5f9;}
.dealerInfo .activityChange .infoBox:before { content:''; position:absolute; left:5.3333vw; top:4.0000vw; width:12.2667vw; height:12.2667vw; border-radius:50%;  background:#fff url('../img/signup/icon_activity.png') 50% 50% no-repeat; background-size:5.6000vw auto;}
.dealerInfo .activityChange .infoBox p { color:#888888; font-weight:300;}
.dealerInfo .activityChange fieldset dt { margin-top:5.3333vw;}
.dealerInfo .activityChange fieldset dt:first-child { margin-top:3.0667vw;}
.dealerInfo .activityChange fieldset .chkList { margin:2.6667vw 0; }
.dealerInfo .activityChange fieldset .chkList .formChkbox { width:39.3333vw; margin-top:2.6667vw;}
.dealerInfo .activityChange fieldset .chkList .formChkbox:nth-child(-n+2) { margin-top:0;}
.dealerInfo .activityChange fieldset .chkList .formInput.bdcolor { margin-top:3.2000vw; width:100%;}
.dealerInfo .activityChange fieldset .chkList .formInput.bdcolor input { background:#fff;}
.dealerInfo .activityChange fieldset .notiList li { color:#aeaeae;}

/* activityCompleted */
.dealerInfo .activityCompleted .compleateBox { padding-top:8.00vw;}

/* dealershipDetail */
.dealerInfo .dealershipDetail .dealerImg { margin-left:-8.0000vw; width:100vw; height:53.3333vw; text-align:center;}
.dealerInfo .dealershipDetail .dealerImg img { width:auto; height:100%;}
.dealerInfo .dealershipDetail .infoWrap { margin-top:5.3333vw; }
.dealerInfo .dealershipDetail .infoWrap .topArea { overflow:hidden; }
.dealerInfo .dealershipDetail .infoWrap .topArea .date { line-height:9.6000vw; letter-spacing:-0.1vw; }
.dealerInfo .dealershipDetail .infoWrap .topArea .btnArea { float:right;}
.dealerInfo .dealershipDetail .infoWrap .registeredList { margin-top:3.4667vw;}
.dealerInfo .dealershipDetail .infoWrap .registeredList li + li { border-top:none;}
.dealerInfo .dealershipDetail .infoWrap .registeredList li { border-bottom:0.2667vw solid #eeeeee;}

/* dealershipChange */
.dealerInfo .dealershipChange .dealerImg { margin-left:-8.0000vw; width:100vw; height:53.3333vw; text-align:center;}
.dealerInfo .dealershipChange .dealerImg img{width: 100%;}
.dealerInfo .dealershipChange .tabWrapJs { margin-top:7.7333vw;}
.dealerInfo .dealershipChange .tabWrapJs .mbsTitle h3 { margin-bottom:4.2667vw; font-size:4.2667vw; color:#333333; font-weight:500;}
.dealerInfo .dealershipChange .tabWrapJs .tab { margin-bottom:2.6667vw;}
.dealerInfo .dealershipChange .fieldList dt { font-size:4.2667vw;}
.dealerInfo .dealershipChange .fieldList .formInput input { font-size:4.2667vw;}
.dealerInfo .dealershipChange .fieldList .selectBox select { font-size:4.2667vw;}

/* dealershipCompleted */
.dealerInfo .dealershipCompleted .compleateBox { padding-top:8.00vw;}

/* dealerDetail */
.dealerInfo .dealerDetail .dealerImg { margin-left:-8.0000vw; width:100vw; height:53.3333vw; text-align:center;}
.dealerInfo .dealerDetail .dealerImg img { width:auto; height:100%;}
.dealerInfo .dealerDetail .infoWrap { margin-top:5.3333vw; }
.dealerInfo .dealerDetail .infoWrap .topArea { overflow:hidden; }
.dealerInfo .dealerDetail .infoWrap .topArea .date { line-height:9.6000vw; letter-spacing:-0.1vw; }
.dealerInfo .dealerDetail .infoWrap .topArea .btnArea { float:right;}
.dealerInfo .dealerDetail .infoWrap .registeredList { margin:2.6667vw 0 0.8000vw;}

.dealerInfo .dealerDetail .dealerHistory { margin-left:-8.0000vw; width:100vw; padding:0 8.0000vw; border-top:2.6667vw solid #f5f5f5;}
.dealerInfo .dealerDetail .dealerHistory dl dt { border-bottom:0.2667vw solid #aeaeae;}
.dealerInfo .dealerDetail .dealerHistory dl dt a { position:relative; display:block; line-height:9.8667vw; font-size:4.2667vw; color:#333333; font-weight:500;}
.dealerInfo .dealerDetail .dealerHistory dl dt a:after { content:''; position:absolute; right:1.3333vw; top:50%; transform:translateY(-50%); width:3.7333vw; height:2.1333vw; background: url('../../assets/img/common/arr_select.png') no-repeat 0 0;  background-size:100% auto; transition:0.3s;}
.dealerInfo .dealerDetail .dealerHistory dl dt.on a:after { transform:translateY(-50%) rotate(180deg);}
.dealerInfo .dealerDetail .dealerHistory dl dd { display:none; }
.dealerInfo .dealerDetail .dealerHistory ul { margin-bottom:2.6667vw;}
.dealerInfo .dealerDetail .dealerHistory ul li { padding:2.6667vw 0; border-bottom:0.2667vw solid #eeeeee;}
.dealerInfo .dealerDetail .dealerHistory ul li .date { color:#888888;}
.dealerInfo .dealerDetail .dealerHistory ul li .info { margin-top:1.3333vw; overflow:hidden;}
.dealerInfo .dealerDetail .dealerHistory ul li .info span {position: relative; float:left; font-size:4.2667vw; color:#333;}
.dealerInfo .dealerDetail .dealerHistory ul li .info span + span{margin-left: 2.1333vw; padding-left: 2.1333vw;}
.dealerInfo .dealerDetail .dealerHistory ul li .info span + span:after{content: ''; position: absolute; left: -1px; top: 50%; transform: translateY(-50%); width: 0.2667vw; height: 2.9333vw; background: #AEAEAE;}


/* dealerChange */
.dealerInfo .dealerChange .dealerImg { margin-left:-8.0000vw; margin-bottom:5.3333vw; width:100vw; height:53.3333vw; text-align:center;}
.dealerInfo .dealerChange .dealerImg .fileAddBox { height:100%; border:none; border-radius:0; background:#f5f5f5;}
.dealerInfo .dealerChange .dealerImg .fileAddBox:before { z-index:1; background-color:#fff; }
.dealerInfo .dealerChange .dealerImg .img { position:relative; top:0; left:0; height:100%; transform:initial;}
.dealerInfo .dealerChange .dealerImg .img:before { content:''; position:absolute; top:0; left:0; width:100%; height:100%; background:rgba(0,0,0,0.5);}
.dealerInfo .dealerChange .dealerImg .img img { width:auto; height:100%;}
.dealerInfo .dealerChange .fieldList { margin-top:5.3333vw;}
.dealerInfo .dealerChange .fieldList dt {width: 30.6667vw; font-size:4.2667vw;}
.dealerInfo .dealerChange .fieldList dd{width: 53.3333vw}
.dealerInfo .dealerChange .fieldList .formInput input { font-size:4.2667vw;}
.dealerInfo .dealerChange .fieldList .selectBox select { font-size:4.2667vw;}

/* dealerCompleted */
.dealerInfo .dealerCompleted .compleateBox { padding-top:8.00vw;}
.dealerInfo .dealerCompleted .compleateBox .subTxt { margin-top:4.8000vw; font-size:4.2667vw; font-weight:500; line-height:1.5; color:#888888;}

/* membership guide  */
.dealerInfo .membershipGuide .midTitle{padding: 4.2667vw 0 4.5333vw 0;}
.dealerInfo .membershipGuide table .col1{width: 32.5333vw;}
.dealerInfo .membershipGuide table th{height: 9.8667vw; border: 0.2667vw solid #aeaeae; border-width: 0.2667vw 0; font-size: 4.2667vw; font-weight: 500;}
.dealerInfo .membershipGuide table td[rowspan]{}
.dealerInfo .membershipGuide table td{padding: 2.0000vw 0 2.1333vw 0; border-bottom: 0.2667vw solid #eeeeee; font-weight: 300; line-height: 5.3333vw;}
.dealerInfo .membershipGuide table td strong{color: #2962c2; font-weight: 500;}
.dealerInfo .membershipGuide .bulletList{padding-top: 3.4667vw;}
.dealerInfo .membershipGuide .bulletList li{margin-top: 2.6667vw; color: #888; font-size: 3.7333vw;}
.dealerInfo .membershipGuide .bulletList li:first-child{margin-top: 0;}
.dealerInfo .membershipGuide .bulletList li:before{background: #888;}

/* point */
.dealerInfo .pointHistory .point{margin: 5.3333vw 0 2.6667vw 0;}
.dealerInfo .pointHistory .point dl{height: 17.6000vw; padding: 0 5.3333vw 0 15.2000vw; overflow: hidden;}
.dealerInfo .pointHistory .point dl{background: url('../../assets/img/dealerInfo/icon_lounge.png') no-repeat 5.0667vw 50% #eff3f8; background-size: 6.6667vw;}
.dealerInfo .pointHistory .point.giftPoint dl{background: url('../../assets/img/dealerInfo/icon_giftbox.png') no-repeat 6.1333vw 50% #eff3f8; background-size: 5.6000vw 6.9333vw;}
.dealerInfo .pointHistory .point dl dt{float: left; color: #333; font-size: 4.2667vw; line-height: 17.6000vw;}
.dealerInfo .pointHistory .point dl dd{float: right; color: #2962c2; font-size: 4.2667vw; font-weight: 500; line-height: 17.6000vw;}
.dealerInfo .pointHistory .point .btnArea{margin-top: 2.6667vw;}
.dealerInfo .pointHistory .point .radioArea .roundRadio{margin-top: 4vw;}
.dealerInfo .pointHistory .point ul li{padding: 2.6667vw 0; border-bottom: 0.2667vw solid #eee; overflow: hidden;}
.dealerInfo .pointHistory .point ul li span{display: block; margin-bottom: 1.0667vw; color: #888;}
.dealerInfo .pointHistory .point ul li p{overflow: hidden;}
.dealerInfo .pointHistory .point ul li p em{float: left; color: #333; font-size: 4.2667vw;}
.dealerInfo .pointHistory .point ul li p strong{float: right; font-size: 4.2667vw; font-weight: 500;}
.dealerInfo .pointHistory .point ul li p strong.plus{color: #2962c2;}
.dealerInfo .pointHistory .point ul li p strong.minus{color: #333;}

/* loanAccount */
.dealerInfo .loanAccount fieldset {padding-top:4.5333vw;}
.dealerInfo .loanAccount .selectBtn + .formArea {margin-left: -26.6667vw;}
.dealerInfo .loanAccount .notiList { margin-top:2.6667vw; }

/* loanAccountCompleted */
.dealerInfo .loanAccountCompleted .compleateBox { padding-top:8.00vw;}

/* loanAccountUncompleted */
.dealerInfo .loanAccountUncompleted .compleateBox { padding-top:8.00vw;}
.dealerInfo .loanAccountUncompleted .compleateBox .subTxt { margin-top:4.8000vw; font-size:4.2667vw; font-weight:500; line-height:1.5; color:#888888;}

/* notificationList */
.dealerInfo .notificationList .list li{border-bottom: 0.2667vw solid #eee;}
.dealerInfo .notificationList .list li a{display: block; padding: 5.3333vw 0 5.3333vw 9.0667vw;}
.dealerInfo .notificationList .list li:first-child a { padding-top:4.5333vw;}
.dealerInfo .notificationList .list li a span{display: block; padding-bottom: 1.3333vw; font-weight: 300;}
.dealerInfo .notificationList .list li a strong{display: block; padding-bottom: 2.6667vw; color: #333; font-size: 4.2667vw; font-weight: 400; overflow: hidden; text-overflow: ellipsis; white-space: nowrap;}
.dealerInfo .notificationList .list li a em{display: block; color: #aeaeae;}
.dealerInfo .notificationList .list li.message a{background: url('../../assets/img/common/icon_message.png') no-repeat 1.0667vw 5.1333vw; background-size: 4.9333vw 4.9333vw;}
.dealerInfo .notificationList .list li.noti a{background: url('../../assets/img/common/icon_bell.png') no-repeat 1.0667vw 6.5333vw; background-size: 4.2667vw 5.2000vw;}

/* notificationNone */
.dealerInfo .notificationNone .compleateBox{padding-top: 8.00vw;}

/* recommend */
.dealerInfo .recommend .notiList{padding-top: 4.5333vw;}
.dealerInfo .recommend .fieldList{padding-top: 5.3333vw;}

/* recommendCompleted */
.dealerInfo .recommendCompleted .compleateBox { padding-top:8.00vw;}
