@charset "UTF-8";

/* vehicleSearch */
.export .vehicleSearch .btnArea + .btnArea{margin-top: 2.6667vw;}
.export .vehicleSearch .btnImport { display:inline-block; position:relative; margin-top:2.6667vw; padding-right:4.00vw; font-size:4.2667vw; color:#888;}
.export .vehicleSearch .btnImport:after { content:''; position:absolute; right:0; top:50%; transform:translateY(-50%); width:2.1333vw; height:3.7333vw; background:url('../img/common/icon_arrow.png') no-repeat; background-size:100%;}

/* exportEstimatePreview */
.export .exportInquiryResult .carInfoHeader,
.export .exportEstimatePreview .carInfoHeader{margin-top: 5.3333vw;}
.export .exportEstimatePreview .carInfoPrice .carPrice { border-bottom:0.2667vw solid #eee; }
.export .exportEstimatePreview .inquiryCont { margin-left:-8.00vw; width:100vw; border-top:2.6667vw solid #f5f5f5;}
.export .exportEstimatePreview .inquiryCont dl dt { position:relative; padding:0 8.00vw; font-size:4.2667vw; line-height:9.8667vw; font-weight:500; color:#333;  }
.export .exportEstimatePreview .inquiryCont dl dt:after{content: ''; position: absolute; right: 8vw; top: 50%; transform: translateY(-50%); width: 3.7333vw; height: 2.1333vw; background: url('../../assets/img/common/arr_select.png') no-repeat 0 0; background-size: 100%; transition: 0.3s;}
.export .exportEstimatePreview .inquiryCont dl dt.on:after{transform: translateY(-50%) rotate(180deg);}
.export .exportEstimatePreview .inquiryCont dl dd { display:none; border-top:0.2667vw solid #d9d9d9;}
.export .exportEstimatePreview .inquiryCont dl dd p { margin:2.6667vw 8.00vw; min-height:18.6667vw; padding:2.6667vw 4.0000vw; font-size:4.26667vw; border-radius:2.6667vw; font-weight:300; background:#F5F5F5;}
.export .exportEstimatePreview .opinionTxt dt { font-size:4.2667vw; color:#333; line-height:9.8667vw; font-weight:500;}
.export .exportEstimatePreview .opinionTxt dd { padding:2.6667vw 4.00vw; min-height:36.2667vw; border-radius:1.3333vw; background:#f5f5f5;}

/* exportVehicleList */
.export .exportVehicleList .exportList{margin: 5.3333vw 0;}
.export .exportVehicleList .exportList li{ border-bottom: 0.2667vw solid #eeeeee;}
.export .exportVehicleList .exportList li a {display:block;padding: 5.3333vw 0;}
.export .exportVehicleList .exportList li:first-child a {padding-top:0;}
.export .exportVehicleList .exportList li .top { margin-bottom:1.8667vw;}
.export .exportVehicleList .exportList li .top span[class^="icon"] { margin-right:0.800vw}
.export .exportVehicleList .exportList li .top .date { margin-right:2.1333vw; color: #888; font-weight: 300; vertical-align:middle;}
.export .exportVehicleList .exportList li p { color: #333; font-size: 4.2667vw; font-weight: 500;}
.export .exportVehicleList .exportList li p span { margin-right:1.6000vw; font-weight:500;}
.export .exportVehicleList .exportList li a > span{display: block;margin-top: 1.3333vw;color: #888;font-size: 3.7333vw;font-weight: 300;}
.export .exportVehicleList .exportList li a .price {font-size: 4.2667vw; font-weight: 500; color: #2962C2}
.export .exportVehicleList .exportList li a .price > em { font-size:3.7333vw; font-weight:300;}

/* vehicleSearchDetail */
.export .vehicleSearch fieldset:nth-child(1){padding:1.7333vw 0 2.6667vw 0;}

/* vehicleSearchInput */
.export .vehicleSearchInput .lineTab { padding-top:1.4667vw;}
.export .vehicleSearchInput fieldset { padding-top:3.0667vw;}
.export .vehicleSearchInput .colorSelect { margin-top:2.6667vw;}
.export .vehicleSearchInput .colorSelect .radioArea .roundRadio { margin:0 0 1.60vw 1.3333vw;}
.export .vehicleSearchInput .colorSelect .radioArea .roundRadio:nth-child(5n+1) { margin-left:0;}
.export .vehicleSearchInput .colorSelect .radioArea .roundRadio.type2 label { width:15.4667vw; height:10.6667vw; line-height:10.1333vw; font-size:4.2667vw; font-weight:300; border-radius:1.0667vw}
.export .vehicleSearchInput .colorSelect .radioArea .direct label{font-size: 3.7333vw !important;}
.export .vehicleSearchInput .colorSelect .radioArea + .formInput{display: none;}

/* vehicleSearchDetail */
.export .vehicleSearchDetail .fieldList { padding-top:4.4000vw;}
.export .vehicleSearchDetail .colorSelect { margin-top:2.6667vw;}
.export .vehicleSearchDetail .colorSelect .radioArea .roundRadio { margin:0 0 1.60vw 1.3333vw;}
.export .vehicleSearchDetail .colorSelect .radioArea .roundRadio:nth-child(5n+1) { margin-left:0;}
.export .vehicleSearchDetail .colorSelect .radioArea .roundRadio.type2 label { width:15.4667vw; height:10.6667vw; line-height:10.1333vw; font-size:4.2667vw; font-weight:300; border-radius:1.0667vw}
.export .vehicleSearchDetail .colorSelect .radioArea .direct label{font-size: 3.7333vw !important;}
.export .vehicleSearchDetail .colorSelect .radioArea + .formInput{display: none;}

/* exportEstimateRequest */
.export .exportEstimateRequest .carInfoHeader{margin-top: 5.3333vw;}
.export .exportEstimateRequest .textareaWrap > strong{display: block; color: #333; font-size: 4.2667vw; font-weight: 500;}
.export .exportEstimateRequest .textareaWrap textarea{background: #fff; border: 2px solid #d9d9d9; border-radius: 14px;}
.export .exportEstimateRequest .fileAddBtn{margin-top: 2.6667vw;}

/* exportInquiryResult */
.export .exportInquiryResult .fileAddBtn{margin-top: 2.6667vw;}
.export .exportInquiryResult .textareaWrap{padding-top: 2.6667vw; border-top: 0.2667vw solid #eee;}
.export .exportInquiryResult .textareaWrap > strong{display: block; color: #333; font-size: 4.2667vw; font-weight: 500;}
.export .exportInquiryResult .btnArea{margin-top: 2.6667vw;}


/* exportEstimateRequestCompleted */
.export .exportEstimateRequestCompleted .compleateBox{padding-top: 8vw;}

/* vehiclePhoto */
.export .vehiclePhoto .bulletList{padding-top: 3.7333vw;}
.export .vehiclePhoto .bulletList li{color: #888; font-size: 3.2000vw; line-height: 5.8667vw;}
.export .vehiclePhoto .bulletList li:before{top: 2.0667vw; background: #888;}
.export .sortableWrap{width: 92vw; overflow: hidden;}
.export .sortableWrap .list{width: 92vw; margin-left: -2.6667vw; padding-top: 2.4000vw; overflow: hidden}
.export .sortableWrap .list li{position: relative; float: left; margin: 2.6667vw 0 0 2.6667vw; width: 18.6667vw ; height: 18.6667vw ; background: #fff;}
.export .sortableWrap .list li .picArea{display: block; position: relative; width: 18.6667vw; height: 18.6667vw; padding-top: 11.0667vw; background: url('../../assets/img/common/icon_photo_add.png') no-repeat 50% 4.4000vw; background-size: 5.0667vw; border: 0.2667vw solid #aeaeae; border-radius: 0.5333vw; color: #888; font-size: 3.2vw; text-align: center;}
.export .sortableWrap .list li:last-child .picArea{background-image: url('../../assets/img/common/icon_camera_blue.png'); background-size: 5.6000vw 4.5333vw; border-color: #2962c2; color: #2962c2;}
.export .sortableWrap .list li.max:last-child .picArea{background-image: url('../../assets/img/common/icon_camera_red.png'); border-color: #db0a0a; color: #db0a0a;}
.export .sortableWrap .list li.active .picArea{font-size: 0;}
.export .sortableWrap .list li.active .picArea img{position: absolute; left: 0; top: 0; width: 18.1333vw; height: 18.1333vw;}
.export .sortableWrap .list li .btnDelPic{display: none; position: absolute; right: -2.2667vw; top: -2.2667vw; z-index: 10; width: 5.3333vw; height: 5.3333vw; background: url('../../assets/img/common/icon_delete.png') no-repeat 0 0; background-size: 100%; font-size: 0;}
.export .sortableWrap .list li.active .btnDelPic{display: block;}
.export .sortableWrap .error{padding-top: 2.6667vw;}
