@charset "UTF-8";
#appPermissions{background: #f5f5f5;}
/* 앱 사용 권한 안내  */
#container.appPermissions { width:100vw; }
.appPermissions .titBox { margin-bottom:2.6667vw; padding:5.3333vw 8.0000vw 5.3333vw; background:#fff;}
.appPermissions .titBox h2 { margin-bottom:2.1333vw; font-size:4.2667vw; font-weight:500; color:#333;}
.appPermissions .titBox .txt { font-size:4.2667vw; font-weight:300; color:#333; line-height:1.35;}
.appPermissions .titBox .txt > em { font-weight:300; color:#2962c2;}

.appPermissions .authorityCont { width:84vw; margin:0 auto;}
.appPermissions .authorityCont .noti { font-size:3.7333vw; font-weight:300; line-height:1.4; color:#888888;}
.appPermissions .authorityCont ul { margin-top:5.3333vw;}
.appPermissions .authorityCont ul li { position:relative; padding-left:11.4667vw;}
.appPermissions .authorityCont ul li + li { margin-top:5.3333vw;}
.appPermissions .authorityCont ul li:before { content:''; position:absolute; left:0; top:0; width:8.8000vw; height:8.8000vw; border-radius:50%; background:#fff url('../img/signup/icon_authority.png') no-repeat; background-size:8.8000vw auto}
.appPermissions .authorityCont ul li:nth-child(2):before { background-position:0 -8.8000vw;}
.appPermissions .authorityCont ul li:nth-child(3):before { background-position:0 -17.6000vw;}
.appPermissions .authorityCont ul li:nth-child(4):before { background-position:0 -26.4000vw;}
.appPermissions .authorityCont ul li > strong { font-size:3.7333vw; font-weight:500; }
.appPermissions .authorityCont ul li > p { margin-top:1.0667vw; font-size:3.7333vw; font-weight:300;}

/* guide */
#container.guidePop {width: 100vw; padding:env(safe-area-inset-top) 0 env(safe-area-inset-bottom) 0 }
#container.guidePop .guideArea {background-color: #2962C2; width: 100vw; height: 100vh}
.guideArea .imgArea {position: absolute; top: 42.6667vw; left: 50%; transform: translateX(-50%)}
/*.guideArea .imgArea img {display: block; width: 71.4667vw; margin: 0 auto;}*/
.guideArea .imgArea img {display: block; width: 32.4667vh; margin: 0 auto;}
.guideArea .txtArea {position: absolute;left: 0;top: 15.3333vw; width: 100%;}
.guideArea .txtArea h2{font-size: 7.4667vw; font-weight: 500; color: #fff; text-align: center;}
.guideArea .txtArea span {display: block;font-size: 4vw; font-weight: 300; color: #fff; line-height: 5.8667vw; margin-top: 2.6667vw}
.guideArea .swiper-pagination {bottom: inherit; top: 51.2vw; text-align: left; padding-left: 8vw}
.guideArea .swiper-pagination-bullet {width: 1.6vw;height: 1.6vw;background-color: #94B1E0;opacity: 1;transition: all .4s;}
.guideArea .swiper-pagination-bullet-active {width: 5.0667vw;background-color: #fff;border-radius: 1.6vw;}
.guideArea.swiper-pagination-bullets .swiper-pagination-bullet {margin: 0;}
.guideArea.swiper-pagination-bullets .swiper-pagination-bullet + .swiper-pagination-bullet {margin-left: 1.8667vw}

.guidePop .guideBottom{position: fixed; left: 0; bottom: 0; z-index: 10; width: 100vw; height: 34vh; background: #fff;}
.guidePop .guideBottom .txt{padding-top: 8vw;}
.guidePop .guideBottom .txt p{color: #2962c2; font-size: 4.2667vw; text-align: center;}
.guidePop .guideBottom .btnArea{position: absolute; left: 0; bottom: 14.1333vw; width: 100%; padding: 0 8vw; border-sizing: border-box;}
.guidePop .guideBottom .btnArea a{}
.guidePop .guideBottom .btnArea .blue{color: #fff;}
.guideBottom .swiper-pagination {bottom: 21vh; width: 100vw; height: 1.6vw; text-align: center; }
.guideBottom .swiper-pagination-bullet {width: 1.6vw;height: 1.6vw;background-color: #d9d9d9;opacity: 1;transition: all .4s;}
.guideBottom .swiper-pagination-bullet-active {width: 5.0667vw;background-color: #187bec;border-radius: 1.6vw;}
.guideBottom .swiper-pagination-bullets .swiper-pagination-bullet {margin: 0;}
.guideBottom .swiper-pagination-bullets .swiper-pagination-bullet + .swiper-pagination-bullet {margin-left: 1.8667vw}
