@charset "UTF-8";

/* partner common */
.gift .listIdx { margin-left:-8.00vw; padding:0 8.00vw 2.6667vw; width:100vw; border-bottom:0.2667vw solid #d9d9d9;}
.gift .listIdx:after { content:''; clear:both; display:block;}
.gift .listIdx .idx { float:left; position:relative;}
.gift .listIdx .idx .formChkbox { position:absolute; padding-left:0; width:100%; height:100%;}
.gift .listIdx .idx .formChkbox + .num { padding-left:8.00vw;}
.gift .listIdx .num { font-size:4.2667vw; color:#333; font-weight:500;}
.gift .listIdx .num > em { color:#2962c2; font-weight:500;}
.gift .listIdx .dropBox .dropBtn { padding:0.8000vw 6.0000vw 0.8000vw 0;}
.gift .listIdx .dropBox.sort .dropList { z-index:3}

.gift .partnerList > ul li { position:relative; padding:2.6667vw 0; border-bottom:0.2667vw solid #eeeeee;}
.gift .partnerList > ul li .formChkbox { position:absolute; top:0; left:0; width:100%; height:100%; z-index:1;}
.gift .partnerList > ul li .formChkbox .icon { top:50%; transform:translateY(-50%);}
.gift .partnerList > ul li .formChkbox + .txtArea { padding-left:8.00vw; transition:0.3s;}
.gift .partnerList > ul li a { display:block;}
.gift .partnerList > ul li .top { overflow:hidden; margin-bottom:1.0667vw}
.gift .partnerList > ul li .top > span { float:left; margin-right:1.3333vw;}
.gift .partnerList > ul li .info { margin-top:0.8000vw; }
.gift .partnerList > ul li .info span { position:relative; display:inline-block; font-size:3.2000vw; color:#888; font-weight:300;}
.gift .partnerList > ul li .info span + span { padding-left:2.6667vw; margin-left:1.6000vw;}
.gift .partnerList > ul li .info span + span:before { content:''; position:absolute; left:0; top:50%; transform:translateY(-50%); width:0.2667vw; height:2.9333vw; background:#aeaeae; }
.gift .partnerList > ul li .info span > em { color:#2962c2; font-weight:300;}
.gift .partnerList > ul li .info span > em.down { color:#ff4a43;}
.gift .partnerList > ul li .ptTit { overflow:hidden;}
.gift .partnerList > ul li .ptTit > strong { float:left; color:#333; font-weight:500;}
.gift .partnerList > ul li .ptTit .info { float:left; margin-left:2.1333vw; }
.gift .partnerList > ul li .icon_favorite { position:absolute; right:0; top:3.2000vw; z-index:2; }
.gift .partnerList .btnArea { margin-top:5.3333vw;}
.gift .partnerList .dataNone { padding-top:10.6667vw}

/* .searchFixBox { position:fixed; padding:0 16.0000vw 0 8.00vw; top:calc(12.00vw + env(safe-area-inset-top)); left:0; width:100%; height:13.3333vw; border-top:0.26667vw solid #eeeeee; border-bottom:0.2667vw solid #eeeeee; background:#f5f5f5; z-index:10;}
.searchFixBox .formInput.search input { height:13.3333vw; border-bottom:none;}
.searchFixBox .btnFilter { position:absolute; right:6.6667vw; top:50%; transform:translateY(-50%); font-size:0; width:5.3333vw; height:5.0667vw; background:url('../img/common/icon_filter.png') no-repeat; background-size:100% auto;}

.searchFixBox.manage { padding-right:8.00vw; height:auto;}
.searchFixBox.manage .fieldRowArea { overflow:hidden; margin-bottom:1.3333vw;}
.searchFixBox.manage .fieldRowArea .fieldList { float:left; width:40.0000vw;}
.searchFixBox.manage .fieldRowArea .fieldList + .fieldList { margin-left:4.00vw;} */

/* dealerList */
.gift .giftDealerList .lineTab { padding-top:1.4667vw; margin-bottom:5.3333vw;}

/* giftManagerList */
.gift .giftManagerList .lineTab { padding-top:1.4667vw; margin-bottom:5.3333vw;}
.gift .giftManagerList .manageGroup dt { position:relative; margin-left:-8.00vw; padding:0 8.00vw; width:100vw; line-height:9.6000vw; border-bottom:0.2667vw solid #d9d9d9;}
.gift .giftManagerList .manageGroup dt:after { content:''; position:absolute; right:8.00vw; top:50%; transform:translateY(-50%); width:3.7333vw; height:2.1333vw; background:url('../img/common/arr_select.png') no-repeat; background-size:100%; transition:0.3s;}
.gift .giftManagerList .manageGroup dt.on:after { transform:translateY(-50%) rotate(180deg);}
.gift .giftManagerList .manageGroup dt > span { position:relative; font-size:4.2667vw; color:#333; font-weight:500;}
.gift .giftManagerList .manageGroup dt > span + span { margin-left:2.1333vw; padding-left:2.1333vw;}
.gift .giftManagerList .manageGroup dt > span + span:after { content:''; position:absolute; top:50%; left:0; transform:translateY(-50%); width:0.2667vw; height:2.9333vw; background:#aeaeae;}
.gift .giftManagerList .manageGroup dd { display:none;}
.gift .giftManagerList .manageGroup dd ul li { border-bottom:0.2667vw solid #eee; }
.gift .giftManagerList .manageGroup dd ul li .formChkbox { display:block; padding:2.6667vw 0 2.6667vw 8.00vw;}
.gift .giftManagerList .manageGroup dd ul li .formChkbox .icon { top:50%; transform:translateY(-50%);}
.gift .giftManagerList .manageGroup dd ul li .formChkbox .txt { color:#333; font-weight:500;}

/* pointGiftPopup */
.pointGiftPopup{display: none; position: fixed; left: 50%; top: 50%; transform: translate(-50%,-50%); z-index: 25; width: 84.0000vw; margin-top: 10vw; border-radius: 1.8667vw; overflow: hidden; transition: margin 0.3s;}
.pointGiftPopup.on{margin: 0;}
.pointGiftPopup .btnClose {position: absolute; right: 5.6000vw; top: 5.3333vw; width: 4.2667vw; height: 4.2667vw; background: url('../../assets/img/common/icon_close.png') no-repeat 0 0; background-size: 100%; font-size: 0;}
.pointGiftPopup .cont{ position:relative; padding:5.3333vw; width: 100%; background: #fff;}
.pointGiftPopup .cont > strong { display:block; font-size:4.2667vw; color:#333; text-align:center; font-weight:500;}
.pointGiftPopup .cont dl { text-align:center; margin-top:4.00vw;}
.pointGiftPopup .cont dl dt { margin-bottom:1.6000vw; font-size:4.2667vw;}
.pointGiftPopup .cont dl dd { font-size:5.3333vw; color:#2962C2; font-weight:500;}
.pointGiftPopup .cont .formAccount{ position:relative; margin-top:4.00vw; border-radius:1.3333vw; border:0.2667vw solid #d9d9d9; background-color:#fff;}
.pointGiftPopup .cont .formAccount input{ width:100%; height:10.6667vw; font-size:4.2667vw; text-align:center; color:#333;}
.pointGiftPopup .cont .formAccount .btnNum { position:absolute; top:0; width:8.00vw; height:100%; border:none; background:none; }
.pointGiftPopup .cont .formAccount .btnNum.minus { left:0; background:url('../img/common/icon_minus.png') 50% 50% no-repeat; background-size:5.3333vw 5.3333vw;}
.pointGiftPopup .cont .formAccount .btnNum.plus { right:0;  background:url('../img/common/icon_plus.png') 50% 50% no-repeat; background-size:5.3333vw 5.3333vw;}
.pointGiftPopup .cont .radioArea { width:100%;}
.pointGiftPopup .cont .radioArea .roundRadio label { width:12.5333vw;  }
.pointGiftPopup .cont .radioArea .roundRadio { margin-left:2.6667vw;}
.pointGiftPopup .cont .radioArea .roundRadio:first-child { margin-left:0;}
.pointGiftPopup .cont .radioArea .roundRadio.type3 input[type='radio']:checked + label { background:#2962C2; color:#fff;}

.giftPoint { padding-top:5.3333vw;}
.giftPoint dl { overflow: hidden; height: 17.6000vw; padding: 0 5.3333vw 0 14.9333vw; border-radius:1.6000vw; background: url('../img/common/icon_giftpoint.png') no-repeat 5.0667vw 50% #EFF3F8; background-size:6.6667vw 6.6667vw;;}
.giftPoint dl dt{float: left; color: #333; font-size: 4.2667vw; line-height: 17.6000vw;}
.giftPoint dl dd{float: right; color: #2962c2; font-size: 4.2667vw; font-weight: 500; line-height: 17.6000vw;}

/* giftGoodsList */
.gift .giftGoodsList .lineTab { margin-top:3.7333vw;}
.gift .giftGoodsList .goodList { margin-top:5.3333vw;}
.gift .giftGoodsList .goodList ul { overflow:hidden;}
.gift .giftGoodsList .goodList ul li { float:left; width:50%; margin-bottom:5.3333vw;}
.gift .giftGoodsList .goodList ul li a {}
.gift .giftGoodsList .goodList ul li .img { width:40.5333vw; height:40.5333vw; text-align:center; border-radius:0.8000vw; border:0.2667vw solid #eee;}
.gift .giftGoodsList .goodList ul li .img img { width:100%; height:100%;}
.gift .giftGoodsList .goodList ul li .txtArea { padding-top:2.6667vw; text-align:center;}
.gift .giftGoodsList .goodList ul li .txtArea .brand { color:#888;}
.gift .giftGoodsList .goodList ul li .txtArea > p { overflow:hidden; display:-webkit-box; margin:0.8000vw 0 1.0667vw; height:11.7333vw; text-overflow:ellipsis; -webkit-line-clamp:2;-webkit-box-orient:vertical; font-size:4.2667vw; color:#333; line-height:6.1333vw;}
.gift .giftGoodsList .goodList ul li .txtArea .price { color:#2962C2;}
.gift .giftGoodsList .goodList ul li .txtArea .price > em { font-size:4.2667vw; font-weight:500; }

/* giftGoodsDetail */
.gift .giftGoodsDetail .goodDetail { margin-top:5.3333vw; display:flex; align-items:center;}
.gift .giftGoodsDetail .goodDetail .img { width:40.5333vw; height:40.5333vw; text-align:center; border-radius:0.8000vw; border:0.2667vw solid #eee;}
.gift .giftGoodsDetail .goodDetail .img img { width:100%; height:100%;}
.gift .giftGoodsDetail .goodDetail .txtArea { padding-left:5.3333vw;}
.gift .giftGoodsDetail .goodDetail .txtArea .brand { color:#888;}
.gift .giftGoodsDetail .goodDetail .txtArea > p { margin:0.8000vw 0 1.0667vw; font-size:4.2667vw; color:#333; line-height:6.1333vw; font-weight:500;}
.gift .giftGoodsDetail .goodDetail .txtArea .price { color:#2962C2;}
.gift .giftGoodsDetail .goodDetail .txtArea .price > em { font-size:4.2667vw; font-weight:500; }
.gift .giftGoodsDetail .giftContent { margin-top:5.3333vw;}
.gift .giftGoodsDetail .giftContent img { width:100%;}

/* giftGoodsAccount */
.gift .giftGoodsAccount .notiTxt { margin:2.6667vw 0 5.3333vw; font-size:4.2667vw; color:#555;}
.gift .giftGoodsAccount .titArea { overflow:hidden; margin-left:-8.00vw; padding:2.6667vw 8.00vw; width:100vw; border-top:0.2667vw solid #eee;}
.gift .giftGoodsAccount .titArea h3 { float:left; font-size:4.8000vw; font-weight:500; color:#333;}
.gift .giftGoodsAccount .selectDelear .iconDealerSelect { float:right; width:6.4000vw; height:6.4000vw; font-size:0; background:url('../img/common/icon_dealer_add.png') no-repeat; background-size:100%; }
.gift .giftGoodsAccount .selectDelear ul li { position:relative; padding:2.6667vw 0; border-top:0.2667vw solid #eee; }
.gift .giftGoodsAccount .selectDelear ul li .info { margin-top:0.8000vw; }
.gift .giftGoodsAccount .selectDelear ul li .info span { position:relative; display:inline-block; font-size:3.2000vw; color:#888; font-weight:300;}
.gift .giftGoodsAccount .selectDelear ul li .info span + span { padding-left:2.6667vw; margin-left:1.6000vw;}
.gift .giftGoodsAccount .selectDelear ul li .info span + span:before { content:''; position:absolute; left:0; top:50%; transform:translateY(-50%); width:0.2667vw; height:2.9333vw; background:#aeaeae; }
.gift .giftGoodsAccount .selectDelear ul li .info span + span > em { color:#2962c2; font-weight:300;}
.gift .giftGoodsAccount .selectDelear ul li .ptTit > strong { color:#333; font-weight:500;}
.gift .giftGoodsAccount .selectDelear ul li .ptTit .info { display:inline-block; margin-left:1.3333vw;}
.gift .giftGoodsAccount .selectDelear ul li .btnDelete { position:absolute; right:0; top:50%; transform:translateY(-50%); width:5.3333vw; height:5.3333vw; font-size:0; background:url('../img/common/icon_delete.png') no-repeat; background-size:100%;}
.gift .giftGoodsAccount .messageArea .textareaWrap textarea { height:17.6000vw; background:#fff;}
.gift .giftGoodsAccount .btnArea { margin-top:2.6667vw; }
.gift .giftGoodsAccount > .notiList { margin-top:5.3333vw;}
.gift .giftGoodsAccount > .notiList li a { color:#aeaeae; text-decoration:underline;}
.gift .giftGoodsAccount .goodInfo { margin:2.6667vw 0 0 -8.00vw; padding:2.6667vw 8.00vw 4.00vw; width:100vw; border-top:0.2667vw solid #eee;}
.gift .giftGoodsAccount .goodInfo .good:after { content:''; clear:both; display:block;}
.gift .giftGoodsAccount .goodInfo .good .img { float:left; width:20.5333vw; height:20.5333vw; text-align:center; border-radius:0.8000vw; border:0.2667vw solid #eee;}
.gift .giftGoodsAccount .goodInfo .good .img img { width:100%; height:100%;}
.gift .giftGoodsAccount .goodInfo .good .txtArea { float:left; width:58.1333vw; margin-left:5.3333vw;}
.gift .giftGoodsAccount .goodInfo .good .txtArea .brand { color:#888;}
.gift .giftGoodsAccount .goodInfo .good .txtArea > p { overflow:hidden; margin-top:4.00vw; font-size:4.2667vw; color:#333; line-height:6.1333vw; text-overflow:ellipsis; white-space:nowrap; font-weight:500;}
.gift .giftGoodsAccount .goodInfo .good .txtArea .price { color:#2962C2; font-weight:300;}
.gift .giftGoodsAccount .goodInfo .good .txtArea .price > em { font-size:4.2667vw; font-weight:500; }
.gift .giftGoodsAccount .goodInfo .txt { margin-top:2.6667vw; color:#888; font-weight:300;}

/* giftDealerSelect */
.gift .giftDealerSelect .itemTab { margin-top:5.3333vw; }

/* giftHistory */
#giftHistory { background:#f5f5f5;}
.gift .giftHistory .giftPoint { margin-left:-8.00vw; width:100vw; padding:5.3333vw 8.00vw 0; background:#fff;}
.gift .giftHistory .lineTab { padding-top:3.7333vw;}
.gift .giftHistory .idx { margin-left:-8.00vw; width:100vw; padding:2.6667vw 8.00vw; font-size:4.2667vw; color:#333; font-weight:500; border-bottom:0.2667vw solid #d9d9d9; background:#fff;}
.gift .giftHistory .idx > em { color:#2962C2; font-weight:500;}
.gift .giftHistory .monthArea { margin-left:-8.00vw; width:100vw; padding:4.00vw 0; text-align:center; background:#fff;}
.gift .giftHistory .monthArea strong { margin:0 4.6667vw; font-size:4.2667vw; color:#333; font-weight:500; vertical-align:middle}
.gift .giftHistory .monthArea > a { display:inline-block; width:2.1333vw; height:3.7333vw; vertical-align:middle; font-size:0; background-size:100%; background-repeat:no-repeat; }
.gift .giftHistory .monthArea .prev { background-image:url('../img/common/icon_prev.png');}
.gift .giftHistory .monthArea .next { background-image:url('../img/common/icon_next.png');}
.gift .giftHistory .historyList .txt { padding:2.6667vw 0; font-size:3.2000vw; color:#888; text-align:center;}
.gift .giftHistory .historyList > ul li { padding:4.00vw 5.3333vw; border-radius:2.6667vw; background:#fff;}
.gift .giftHistory .historyList > ul li + li { margin-top:5.3333vw;}
.gift .giftHistory .historyList > ul li .info { margin-top:0.8000vw; }
.gift .giftHistory .historyList > ul li .info span { position:relative; display:inline-block; font-size:3.2000vw; color:#888; font-weight:300;}
.gift .giftHistory .historyList > ul li .info span + span { padding-left:2.6667vw; margin-left:1.6000vw;}
.gift .giftHistory .historyList > ul li .info span + span:before { content:''; position:absolute; left:0; top:50%; transform:translateY(-50%); width:0.2667vw; height:2.9333vw; background:#aeaeae; }
.gift .giftHistory .historyList > ul li .info span > em { color:#2962c2; font-weight:300;}
.gift .giftHistory .historyList > ul li .info span > em.down { color:#ff4a43;}
.gift .giftHistory .historyList > ul li .ptTit > strong { color:#333; font-weight:500;}
.gift .giftHistory .historyList > ul li .ptTit .info { display:inline-block; margin-left:1.3333vw;}
.gift .giftHistory .historyList .goodInfo { padding-top:2.6667vw; margin-top:2.6667vw; border-top:0.2667vw solid #eee;}
.gift .giftHistory .historyList .goodInfo:after { content:''; clear:both; display:block;}
.gift .giftHistory .historyList .goodInfo .img { float:left; width:20.5333vw; height:20.5333vw; text-align:center; border-radius:0.8000vw; border:0.2667vw solid #eee;}
.gift .giftHistory .historyList .goodInfo .img img { width:100%; height:100%;}
.gift .giftHistory .historyList .goodInfo .txtArea { float:left; width:47.4667vw; margin-left:5.3333vw;}
.gift .giftHistory .historyList .goodInfo .txtArea .brand { color:#888;}
.gift .giftHistory .historyList .goodInfo .txtArea > p { overflow:hidden; margin-top:4.00vw; font-size:4.2667vw; color:#333; line-height:6.1333vw; text-overflow:ellipsis; white-space:nowrap; font-weight:500;}
.gift .giftHistory .historyList .goodInfo .txtArea .price { color:#2962C2; font-weight:300;}
.gift .giftHistory .historyList .goodInfo .txtArea .price > em { font-size:4.2667vw; font-weight:500; }
.gift .giftHistory .historyList .date { margin-top:4.00vw; color:#888; font-weight:300;}
.gift .giftHistory .historyList .date > span { position:relative; margin-left:1.8667vw; padding-left:1.8667vw; color:#888; font-weight:300;}
.gift .giftHistory .historyList .date > span:before { content:''; position:absolute; top:50%; left:0; transform:translateY(-50%); width:0.2667vw; height:2.9333vw; background:#aeaeae;}

/* giftCompleted */
.gift .giftCompleted .compleateBox { margin-top:8vw;}

/* giftTermsAgree */
.gift .giftTermsAgree .clauseWrap { margin-top:5.3333vw;}
