@charset "UTF-8";

/* loanCounselSearch */
.loanCounsel .loanCounselSearch .lineTab{margin-top: 4.1333vw;}
.loanCounsel .loanCounselSearch fieldset{padding-top: 4.6667vw;}
.loanCounsel .loanCounselSearch fieldset .btnArea,
.loanCounsel .loanCounselSearch fieldset .notiWrap{margin-top: 2.6667vw;}
.loanCounsel .loanCounselSearch fieldset .notiWrap ul{display: none;}
.loanCounsel .loanCounselSearch fieldset .notiWrap ul:first-child{display: block;}
.loanCounsel .loanCounselSearch fieldset input[disabled]{color: #333;}
.loanCounsel .loanCounselSearch .fileAddBtn { margin-top:2.6667vw; }

/* loanCounselDetail */
.loanCounsel .loanCounselDetail h3{margin: 4.5333vw 0 2.6667vw 0; color: #333; font-size: 4.2667vw; font-weight: 500;}
.loanCounsel .loanCounselDetail .dataList{padding-bottom: 2.6667vw; border: 0.2667vw solid #d9d9d9; border-width: 0.2667vw 0;}
.loanCounsel .loanCounselDetail .notiList{margin-top: 2.6667vw;}
.loanCounsel .loanCounselDetail .compleateBox{margin-top: 8vw;}
.loanCounsel .loanCounselDetail .compleateBox .btnArea{margin-top: 10.6667vw;}

/* loanCounselList */
.loanCounsel .loanCounselList .lineTab{margin-top: 4.1333vw;}
.loanCounsel .loanCounselList .listHeader{margin-top: 5.7333vw;}
.loanCounsel .loanCounselList .listHeader p{float: left; color: #333; font-size: 4.2667vw; font-weight: 500; line-height: 8.0000vw;}
.loanCounsel .loanCounselList .listHeader p strong{color: #2962c2; font-weight: inherit;}
.loanCounsel .loanCounselList .listHeader:after{content: ''; display: block; clear: both;}
.loanCounsel .loanCounselList .list > li{position: relative; margin-bottom:4.00vw; padding: 2.6667vw 0; border-bottom: 0.2667vw solid #d9d9d9;}
.loanCounsel .loanCounselList .list > li > .top .icon {float: left; width: 13.3333vw; height: 5.6000vw; margin-right: 1.3333vw; border: 0.2667vw solid #2962c2; border-radius: 2.6667vw; color: #2962c2; font-size: 2.9333vw; font-weight: 500; text-align: center; line-height: 5.0667vw; }
.loanCounsel .loanCounselList .list > li > .top .icon.ing{border-color: #d9d9d9; color: #888;}
.loanCounsel .loanCounselList .list > li > .top span { color: #888;  font-weight: 300; line-height: 5.7333vw;}
.loanCounsel .loanCounselList .list > li .cont { position:relative;}
.loanCounsel .loanCounselList .list > li .cont > p {padding: 2.1333vw 0 1.3333vw; font-size:4.26667vw; color: #333; font-weight: 500; line-height: 4.8000vw;}
.loanCounsel .loanCounselList .list > li .cont strong { color:#2962C2; font-weight:300;}
.loanCounsel .loanCounselList .list > li .cont strong em { font-size:4.2667vw; font-weight:500;}
.loanCounsel .loanCounselList .list > li .cont > span { position:absolute; bottom:0; right:0; color: #888; font-size:4.2667vw; font-weight: 500;}
.loanCounsel .loanCounselList .list > li .cont > span.setEnd{color: #3195F7;}
.loanCounsel .loanCounselList .list > li .cont > span.end{color: #2962c2;}
.loanCounsel .loanCounselList .list > li .info { margin-bottom:0.8000vw; overflow:hidden;}
.loanCounsel .loanCounselList .list > li .info span { float:left; position:relative; color:#888; font-weight:300;}
.loanCounsel .loanCounselList .list > li .info span + span { margin-left:2.1333vw; padding-left:2.1333vw;}
.loanCounsel .loanCounselList .list > li .info span + span:before { content:''; position:absolute; top:50%; left:0; transform:translateY(-50%); width:0.2667vw; height:2.9333vw; background:#a0a0a0;}
.loanCounsel .loanCounselList .list > li .dataList { margin-top:2.6667vw; border-top:0.2667vw solid #d9d9d9;}

/* .loanCounsel .loanCounselList .list > li div dl{float: left;}
.loanCounsel .loanCounselList .list > li div dl dt{float: left; margin-right: 2.6667vw; color: #888; font-size: 3.2000vw; font-weight: 300; line-height: 9.6000vw;}
.loanCounsel .loanCounselList .list > li div dl dd{position: relative; float: left; color: #333; font-size: 3.2000vw; font-weight: 300; line-height: 9.6000vw;}
.loanCounsel .loanCounselList .list > li div dl dd + dd{margin-left: 2.4000vw; padding-left: 2.4000vw;}
.loanCounsel .loanCounselList .list > li div dl dd + dd:before{content: ''; position: absolute; left: -1px; top: 50%; transform: translateY(-50%); width: 0.2667vw; height: 2.9333vw; background: #a0a0a0;}
.loanCounsel .loanCounselList .list > li div dl dd strong{color: #2962c2; font-size: 4.2667vw; font-weight: 500;}
.loanCounsel .loanCounselList .list > li div p{float: right; color: #888; font-size: 3.2000vw; font-weight: 500; line-height: 9.6000vw;}
.loanCounsel .loanCounselList .list > li div p.setEnd{color: #333;}
.loanCounsel .loanCounselList .list > li div p.end{color: #2962c2;} */
