@charset "UTF-8";

/* loanMain */
.loan .loanMain .topBox { position:relative; margin-top:5.3333vw; height:20.0000vw; border-radius:2.0000vw; background:#f5f5f5;}
.loan .loanMain .topBox:before { content:''; position:absolute; top:4.0000vw; left:5.3333vw; width:12.2667vw; height:12.2667vw; border-radius:50%; background:#fff url('../img/loan/icon_loan.png') 50% 50% no-repeat; background-size:5.3333vw 6.0000vw;}
.loan .loanMain .topBox p { padding:4.6667vw 0 0 20.4000vw; font-weight:300; line-height:5.3333vw; }

.loan .loanMain .loanMenu { margin:5.3333vw 0 0 -8.00vw; width:100vw; border-top:0.26667vw solid #d9d9d9;}
.loan .loanMain .loanMenu li { padding:0 8.00vw; border-bottom:0.26667vw solid #d9d9d9;}
.loan .loanMain .loanMenu li > a { display:block; line-height:9.8667vw; font-size:4.2667vw; color:#333; font-weight:300; background:url('../img/common/icon_arrow.png') 99% 50% no-repeat; background-size:2.1333vw 3.7333vw; }
.loan .loanMain .loanMenu li dt { position:relative; line-height:9.8667vw; font-size:4.2667vw; color:#333; font-weight:300;}
.loan .loanMain .loanMenu li dt:after { content:''; position:absolute; top:50%; right:0; transform:translateY(-50%); width:3.7333vw; height:2.1333vw; background:url('../img/common/arr_select.png') 100% 50% no-repeat; background-size:100%; transition-duration:0.3s; }
.loan .loanMain .loanMenu li dt.on { color:#2962c2; font-weight:500; }
.loan .loanMain .loanMenu li dt.on:after { transform:translateY(-50%) rotate(180deg);}
.loan .loanMain .loanMenu li dd { display:none;}
.loan .loanMain .loanMenu li dd > a { position:relative; display:block; padding-left:14.4000vw; font-weight:300; line-height:9.8667vw; color:#333; border-top:0.2667vw solid #eeeeee; background:url('../img/common/icon_arrow.png') 99% 50% no-repeat; background-size:2.1333vw 3.7333vw;}
.loan .loanMain .loanMenu li.stock dl dt:before { content:''; display:inline-block; margin-right:2.6667vw; vertical-align:middle; width:7.4667vw; height:6.6667vw; background:url('../img/loan/icon_menu_stock.png') no-repeat; background-size:7.4667vw auto;}
.loan .loanMain .loanMenu li.stock dl dt.on:before { background-position:0 -6.6667vw;}
.loan .loanMain .loanMenu li.consult dl dt:before { content:''; display:inline-block; margin-right:2.6667vw; vertical-align:middle; width:7.4667vw; height:6.6667vw; background:url('../img/loan/icon_menu_consult.png') no-repeat; background-size:7.4667vw auto;}
.loan .loanMain .loanMenu li.consult dl dt.on:before { background-position:0 -6.6667vw;}
.loan .loanMain .loanMenu li.manage > a:before { content:''; display:inline-block; margin-right:2.6667vw; vertical-align:middle; width:7.4667vw; height:6.6667vw; background:url('../img/loan/icon_menu_manage.png') no-repeat; background-size:7.4667vw auto;}
.loan .loanMain .loanMenu li.manage > a:active { color:#2962c2; font-weight:500; }
.loan .loanMain .loanMenu li.manage > a:active:before { background-position:0 -6.6667vw;}

/* loanList & loanVehicleList */
.loan .loanHeader{width: 100vw; margin-left: -8vw; padding: 7.2vw 8vw 0 8vw; background: #447aaf; color: #fff;}
.loan .loanHeader > strong{font-size: 4.2667vw; font-weight: 500;}
.loan .loanHeader > strong em{font-size: inherit; font-weight: 300;}
.loan .loanHeader dl{margin-top: 0.8000vw; border-bottom: 0.2667vw solid #fff; overflow: hidden;}
.loan .loanHeader dl dt{float: left; color: #fff; font-size: 4.2667vw; line-height: 12.1333vw;}
.loan .loanHeader dl dd{float: right; color: #fff; font-size: 5.3333vw;  line-height: 10.8000vw;}
.loan .loanHeader dl dd strong{display: inline-block; font-size: 8.5333vw; font-weight: 500;}
.loan .loanHeader ul{overflow: hidden;}
.loan .loanHeader ul li{position: relative; float: left; width: 50%; padding: 2.6667vw 0; text-align: center;}
.loan .loanHeader ul li + li:before{content: ''; position: absolute; left: -1px; top: 50%; transform: translateY(-50%); width: 0.2667vw; height: 8.0000vw; background: #779dc2;}
.loan .loanHeader ul li strong{display: block; margin-bottom: 1.0667vw; color: #fff; font-size: 5.3333vw; font-weight: 500;}
.loan .loanHeader ul li strong em{margin-left: 0.5333vw; font-size: 4.2667vw; font-weight: 300;}
.loan .loanHeader ul li span{display: block; color: #fff; font-size: 3.2000vw; font-weight: 300;}
.loan .listHeader{position: relative; width: 100vw; margin-left: -8vw; padding: 0 8vw; border-bottom: 0.2667vw solid #d9d9d9;}
.loan .listHeader:after{content: ''; display: block; clear: both;}
.loan .listHeader .idx {float: left; color: #333; font-size: 4.2667vw; font-weight: 500; line-height: 10.1333vw;}
.loan .listHeader .idx strong{color: #2962c2;}
.loan .listHeader .formChkbox { margin-top:2.2667vw;}
.loan .listHeader .formChkbox .txt { color: #333; font-size: 4.2667vw; font-weight: 500;}
.loan .listHeader .formChkbox .txt strong { color: #2962c2;}
.loan .listHeader > a{position: relative; float: right; padding-right: 5.3333vw; margin-right: 1.3333vw; color: #2962c2; font-size: 4.2667vw;  line-height: 10.1333vw;}
.loan .listHeader > a:after{content: ''; position: absolute; right: 0; top: 50%; transform: translateY(-50%); width: 2.1333vw; height: 3.7333vw; background: url('../../assets/img/common/icon_arrow.png') no-repeat 0 0; background-size: 100%;}

/* loanList */
.loan .loanList .tab{margin: 2.6667vw 0;}
.loan .loanList > .btnArea{margin-top: 2.6667vw;}
.loan .loanList .list li { border-bottom:0.2667vw solid #eee; }
.loan .loanList .list li > a { display:block; padding:2.6667vw 0;}
.loan .loanList .list li .btnArea { margin-bottom:2.6667vw;}
.loan .loanList .list li .top { margin-bottom:1.0667vw;}
.loan .loanList .list li .top span[class^='icon'] { margin-right:0.8000vw;}
.loan .loanList .list li .top .date { font-weight:300; color:#888;}
.loan .loanList .list li strong { display:block; font-weight:500; color:#333; line-height:4.8000vw;}
.loan .loanList .list li .info { margin-top:1.3333vw;}
.loan .loanList .list li .info > span { position:relative; font-size:3.2000vw; font-weight:300; color:#888; }
.loan .loanList .list li .info > span em { color:#2962c2;}
.loan .loanList .list li .info > span + span { margin-left:1.8667vw; padding-left:2.4000vw;}
.loan .loanList .list li .info > span + span:before { content:''; position:absolute; top:50%; left:0; transform:translateY(-50%); width:0.2667vw; height:2.9333vw; background:#aeaeae;}
.loan .loanList .dataNone { margin-top:8.00vw;}

/* loanVehicleList */
.loan .loanVehicleList .tab{margin: 2.6667vw 0;}
.loan .loanVehicleList > .btnArea{margin-top: 2.6667vw;}
.loan .loanVehicleList .listHeader { border-color:#f5f5f5;}
.loan .loanVehicleList .infoTxt { margin-left:-8.00vw; padding:2.6667vw 8.00vw; width:100vw; font-size:3.2000vw; color:#888; font-weight:300; line-height:4.2667vw; background:#f5f5f5;}
.loan .loanVehicleList .infoTxt > em { color:#2962c2;}
.loan .loanVehicleList .list { border-top:0.2667vw solid #eeeeee;}
.loan .loanVehicleList .list li { position:relative; padding:2.6667vw 0 0 8.00vw; margin-bottom:2.6667vw;}
.loan .loanVehicleList .list li .formChkbox { position:absolute; top:50%; left:0; transform:translateY(-50%);}
.loan .loanVehicleList .list li > strong { font-weight:500; color:#333; line-height:4.8000vw;}
.loan .loanVehicleList .list li .info { margin:0.5333vw 0 0.8000vw;}
.loan .loanVehicleList .list li .info > span { position:relative; font-size:3.2000vw; font-weight:300; color:#888; }
.loan .loanVehicleList .list li .info > span em { color:#2962c2;}
.loan .loanVehicleList .list li .info > span + span { margin-left:1.8667vw; padding-left:2.4000vw;}
.loan .loanVehicleList .list li .info > span + span:before { content:''; position:absolute; top:50%; left:0; transform:translateY(-50%); width:0.2667vw; height:2.9333vw; background:#aeaeae;}
.loan .loanVehicleList .list li .fieldList dt { width:22.0000vw;}
.loan .loanVehicleList .list li .fieldList dd { width:54.0000vw;}
.loan .loanVehicleList .list li .fieldList dt.priceMax { border-bottom:none; height:6.6667vw; line-height:6.6667vw}
.loan .loanVehicleList .list li .fieldList dt.priceMax + dd { line-height:6.6667vw; text-align:right; font-size:4.26667vw; color:#333;}
.loan .loanVehicleList .list li .fieldList dt.priceMax + dd > em { color:#2962c2; font-weight:400;}
.loan .loanVehicleList .dataNone { margin-top:8.00vw;}

/* loan common */
.loan .currStep { margin:5.3333vw 0 4.0000vw; text-align:center;}
.loan .currStep ul { overflow:hidden; display:inline-block;}
.loan .currStep ul li { float:left; position:relative; min-width:5.8667vw; height:5.8667vw; line-height:5.7667vw; font-size:2.9333vw; color:#ccc; font-weight:500; border-radius:50%; text-align:center; border:0.2667vw solid #cdcdcd; background:#fff; }
.loan .currStep ul li.curr { padding:0 2.6667vw; color:#2962c2; border-radius:2.6667vw; border-color:#2962c2;}
.loan .currStep ul li.end { color:#fff; border-color:#2962c2; background:#2962c2;}
.loan .currStep ul li + li { margin-left:8.0000vw;}
.loan .currStep ul li + li:after { content:''; position:absolute; top:50%; left:-8.2667vw; width:8.0000vw; height:0.2667vw; background:#cccccc; }
.loan .currStep ul li + li.curr:after { background:#2962c2;}

.loan .loanInfo { margin-left:-8.00vw; width:100vw; border-top:2.6667vw solid #f5f5f5;}
.loan .loanInfo ul li > dl > dt { position:relative; padding:2.6667vw 8.00vw; font-size:4.2667vw; font-weight:500; color:#333; border-bottom:0.2667vw solid #d9d9d9;}
.loan .loanInfo ul li .trigger:after { content:''; position:absolute; width:3.7333vw; height:2.1333vw; top:50%; right:8.00vw; transform:translateY(-50%); transition-duration:0.3s; background:url('../img/common/arr_select.png') no-repeat; background-size:100%;}
.loan .loanInfo ul li .trigger.on:after { transform:translateY(-50%) rotate(180deg);}
.loan .loanInfo ul li > dl > dd { padding:0 8.00vw 4.00vw; border-bottom:0.26667vw solid #d9d9d9;}
.loan .loanInfo ul li .dataList dd .formChkbox { margin-left:1.3333vw;}
.loan .loanInfo ul li .dataList dd .formChkbox .txt { font-weight:500; color:#333;}
.loan .loanInfo ul li .notiList { margin-top:4.00vw; padding-top:2.6667vw; border-top:0.26667vw solid #d9d9d9;}

.loan .loanCarInfo > h3 { margin-left:-8.00vw; padding:2.6667vw 8.00vw; width:100vw; font-size:4.2667vw; font-weight:500; color:#333; border-bottom:0.2667vw solid #d9d9d9;}
.loan .loanCarInfo .dataList { padding-bottom:2.6667vw; border-bottom:0.26667vw solid #d9d9d9;}
.loan .loanCarInfo .carApply:first-of-type { border-top:0;}
.loan .loanCarInfo .carInfoList li { padding:2.6667vw 0; border-bottom:0.2667vw solid #eeeeee;}
.loan .loanCarInfo .carInfoList li .info > span { font-weight:300; color:#888; }
.loan .loanCarInfo .carInfoList li .info > span + span { position:relative; margin-left:1.8667vw; padding-left:2.4000vw;}
.loan .loanCarInfo .carInfoList li .info > span + span:after { content:''; position:absolute; top:50%; left:0; transform:translateY(-50%); width:0.2667vw; height:2.9333vw; background:#a0a0a0;}
.loan .loanCarInfo .carInfoList li > strong { display:block; margin-bottom:1.3333vw; font-size:4.2667vw; color:#333; font-weight:500;}
.loan .loanCarInfo .carInfoList li .price { margin-top:1.0667vw; font-weight:300; color:#2962c2;}
.loan .loanCarInfo .carInfoList li .price > em { font-size:4.2667vw; font-weight:500;}

.loan .priceBox { overflow:hidden; padding:2.6667vw 5.3333vw; border-radius:2.6667vw; background:#eff3f8;}
.loan .priceBox dt { float:left; clear:right; font-size:4.2667vw; color:#333; font-weight:500;}
.loan .priceBox dd { float:right; font-size:4.2667vw; color:#2962c2; font-weight:500;}

/* newApply */
.loan .newApply .carApply { margin-left:-8.00vw; padding:5.3333vw 8.00vw; width:100vw; border-top:2.6667vw solid #f5f5f5;}
.loan .newApply .carApply .top { overflow:hidden; padding-bottom:2.6667vw; border-bottom:0.2667vw solid #eeeeee;}
.loan .newApply .carApply .top strong { font-size:4.2667vw; color:#333; font-weight:500;}
.loan .newApply .carApply .top .carDel { position:relative; float:right; font-size:4.2667vw; color:#2962c2; font-weight:500;}
.loan .newApply .carApply .top .carDel:before { content:''; display:inline-block; margin-right:1.8667vw; vertical-align:middle; width:5.3333vw; height:5.0667vw; background:url('../img/common/icon_trash.png') no-repeat; background-size:100%;}
.loan .newApply .carApply .fieldList .formArea { margin-top:0;}
.loan .newApply .carApply .fieldList .formInput input:disabled { color:#555;}
.loan .newApply .carApply .fieldList .notiList { margin-top:2.6667vw;}

.loan .newApply > .btnArea { margin-bottom:5.3333vw;}
.loan .newApply > .btnArea a { position:relative;}
.loan .newApply > .btnArea a:after { content:''; display:inline-block; margin-left:1.6000vw; vertical-align:top; width:5.3333vw; height:100%; background:url('../img/common/icon_add_blue.png') 0 50% no-repeat; background-size:5.3333vw auto;}
.loan .newApply .agreeList { margin:5.3333vw 0 0 -8.00vw; width:100vw; padding:5.0667vw 8.00vw 0; border-top:2.6667vw solid #f5f5f5;}
.loan .newApply .agreeList ul li { padding-right:0;}

/* newDetail */
.loan .newDetail .loanCarInfo h3 { border-bottom:0;}
.loan .newDetail .priceBox { margin-top:5.3333vw;}
.loan .newDetail .agreeList { margin:5.3333vw 0 0 -8.00vw; width:100vw; padding:5.0667vw 8.00vw 0; border-top:2.6667vw solid #f5f5f5;}
.loan .newDetail .agreeList ul li { padding-right:0;}

/* loanDetail */
.loan .loanDetail .loanInfo { margin-top:2.2667vw; margin-left:0; width:auto; border-top:none;}
.loan .loanDetail .loanInfo ul li > dl > dt { padding:2.6667vw 0;}
.loan .loanDetail .loanInfo ul li .trigger:after { right:0;}
.loan .loanDetail .loanInfo ul li > dl > dd { padding:0; border-bottom:none;}

.loan .loanDetail .repayment { margin:4.00vw 0 0 -8.00vw; padding:0 8.00vw; width:100vw; border-top:2.6667vw solid #f5f5f5;}
.loan .loanDetail .repayment .topHead { overflow:hidden; position:relative; padding:5.3333vw 0 2.6667vw; border-bottom:0.2667vw solid #d9d9d9;}
.loan .loanDetail .repayment .topHead > h3 { display:inline-block; font-size:4.2667vw; color:#333; font-weight:500;}
.loan .loanDetail .repayment .topHead .btnSms { float:right; position:relative; padding-left:7.3333vw; font-size:4.2667vw; color:#2962c2; font-weight:500; }
.loan .loanDetail .repayment .topHead .btnSms:before { content:''; position:absolute; top:50%; left:0; transform:translateY(-50%); width:5.8667vw; height:4.5333vw; background:url('../img/common/icon_sms02.png') no-repeat; background-size:100%;}
.loan .loanDetail .repayment .list li { position:relative; padding:4.00vw 0 2.6667vw 18.6667vw; border-bottom:0.2667vw solid #eeeeee;}
.loan .loanDetail .repayment .list li .num { position:absolute; top:4.00vw; left:0; width:10.6667vw; height:10.6667vw; line-height:10.6667vw; font-size:4.2667vw; color:#2962c2; text-align:center; font-weight:500; border-radius:50%; background:#f7f7f7;}
.loan .loanDetail .repayment .list li .date { font-weight:300; color:#888;}
.loan .loanDetail .repayment .list li dl { overflow:hidden;}
.loan .loanDetail .repayment .list li dl dt { margin-top:2.6667vw; float:left; clear:both; font-size:4.2667vw; color:#333;}
.loan .loanDetail .repayment .list li dl dd { margin-top:2.6667vw; float:right;}

/* sms popup */
.smsLayer { display:none; position:fixed; overflow:hidden; left:50%; top:50%; transform:translate(-50%,-50%); z-index:25; width:84vw; margin-top:10vw; border-radius:1.8667vw; transition:margin 0.3s; }
.smsLayer.on { margin-top:0;}
.smsLayer .inner { padding:7.7333vw 5.3333vw 10.6667vw; background:#fff;}
.smsLayer .inner > strong { display:block; margin-bottom:6.6667vw; font-size:4.2667vw; color:#333; font-weight:500; text-align:center;}
.smsLayer .inner .fieldList dt { margin-top:0;}

/* repaymentApply */
.loan .repaymentApply .repayInfo { margin-top:4.5333vw;}
.loan .repaymentApply .repayInfo > h3 { font-size:4.2667vw; color:#333; font-weight:500; }
.loan .repaymentApply .repayInfo .dataList { margin-top:2.6667vw; padding-bottom:2.6667vw; border-top:0.26667vw solid #d9d9d9; border-bottom:0.26667vw solid #d9d9d9;}
.loan .repaymentApply .priceBox { margin:4.00vw 0; }
.loan .repaymentApply .tabWrapJs { margin-left:-8.00vw; padding:2.6667vw 8.00vw 0; width:100vw; border-top:2.6667vw solid #f5f5f5;}
.loan .repaymentApply .tabContArea .tabCont { margin-top:4.00vw;}
.loan .repaymentApply .tabContArea .tabCont > strong { display:block; padding-bottom:2.6667vw; font-size:4.2667vw; color:#333; font-weight:500; border-bottom:0.2667vw solid #d9d9d9; }
.loan .repaymentApply .tabContArea .tabCont .btnArea { margin:5.0667vw 0 2.6667vw;}
.loan .repaymentApply .tabContArea .tabCont.virtual .dataList { padding-bottom:2.6667vw; margin-bottom:4.00vw; border-bottom:0.2667vw solid #d9d9d9; }
.loan .repaymentApply .fieldList .formInput input:disabled { color:#555;}

/* repaymentDetail */
.loan .repaymentDetail .repayInfo { margin-top:4.5333vw;}
.loan .repaymentDetail .repayInfo > h3 { font-size:4.2667vw; color:#333; font-weight:500; }
.loan .repaymentDetail .repayInfo .dataList { margin-top:2.6667vw; padding-bottom:2.6667vw; border-top:0.26667vw solid #d9d9d9; border-bottom:0.26667vw solid #d9d9d9;}
.loan .repaymentDetail .priceBox { margin:4.00vw 0; }
.loan .repaymentDetail .withdrawTxt { margin-left:-8.00vw; padding:4.9333vw 8.00vw 5.6000vw; width:100vw; border-top:2.6667vw solid #f5f5f5;}
.loan .repaymentDetail .withdrawTxt > p { font-size:4.2667vw; color:#888;}
.loan .repaymentDetail .fieldList { margin-left:-8.00vw; padding:2.6667vw 8.00vw 0; width:100vw; border-top:2.6667vw solid #f5f5f5; }
.loan .repaymentDetail .fieldList .formInput input:disabled { color:#555;}

/* repaymentCompleted */
.loan .repaymentCompleted .compleateBox { margin:5.3333vw 0 10.6667vw;}
.loan .repaymentCompleted .txtBox { margin-left:-8.00vw; padding:4.9333vw 8.00vw 0; width:100vw; border-top:2.6667vw solid #f5f5f5;}
.loan .repaymentCompleted .txtBox > p { font-size:4.2667vw; color:#888;}

/* dealershipCertification */
.loan .phoneField .fieldList dt { width:21.3333vw; }
.loan .phoneField .fieldList dt.certNum { margin-top:2.6667vw; }
.loan .phoneField .fieldList dd { width:62.6667vw;}
.loan .phoneField .fieldList dd p.error,
.cert .phoneField .fieldList dd p.correct { margin-left:-21.3333vw; }

.loan .dealershipCertification .tabWrapJs { margin-left:-8.00vw; padding:4.00vw 8.00vw 0; width:100vw; border-top:2.6667vw solid #f5f5f5;}
.loan .dealershipCertification .mbsTitle { margin-bottom:4.2667vw;}
.loan .dealershipCertification .mbsTitle h3 { font-size:4.2667vw; color:#333333; font-weight:500;}
.loan .dealershipCertification .tabContArea { margin-top:5.3333vw;}
.loan .dealershipCertification .phoneField { margin:4.00vw 0 0 -8.00vw; padding:4.00vw 8.00vw 0; width:100vw; border-top:0.2667vw solid #d9d9d9;}
.loan .dealershipCertification .certiField .radioArea.flex { margin:0 0 2.6667vw;}
.loan .dealershipCertification  .radioArea.flex > span.on input[type=radio]:checked + label { color:#2962c2; background-color:#fff;}

/* newCompleted */
.loan .newCompleted .compleateBox { margin:5.3333vw 0 0 -8.00vw; padding-bottom:10.6667vw; width:100vw; border-bottom:2.6667vw solid #f5f5f5;}
.loan .newCompleted .loanCarInfo h3 { border-bottom:none; border-top:0.2667vw solid #d9d9d9; }
.loan .newCompleted .loanCarInfo h3:first-child { border-top:0;}
.loan .newCompleted .loanCarInfo .priceBox { margin-bottom:4.00vw;}
.loan .newCompleted .loanCarInfo .carInfoList { margin-bottom:4.00vw;}
.loan .newCompleted .loanNotice { margin-left:-8.00vw; width:100vw; padding:2.6667vw 8.00vw 0; border-top:2.6667vw solid #f5f5f5;}
.loan .newCompleted .loanNotice dt { margin-bottom:3.7333vw; font-size:4.2667vw; color:#333333; font-weight:500;}
.loan .newCompleted .loanNotice dd { font-size:4.2667vw; color:#888; line-height:5.3333vw;}

/* paymentCheck */
.loan .paymentCheck .contHead { overflow:hidden; margin-left:-8.00vw; padding:2.6667vw 8.00vw; width:100vw; border-top:2.6667vw solid #f5f5f5; border-bottom:0.2667vw solid #d9d9d9;}
.loan .paymentCheck .contHead h3 { float:left; font-size:4.2667vw; font-weight:500; color:#333;}
.loan .paymentCheck .contHead a {position: relative; float: right; padding-right: 5.3333vw; margin-right: 1.3333vw; color: #2962c2; font-size: 4.2667vw; }
.loan .paymentCheck .contHead a:after{content: ''; position: absolute; right: 0; top: 50%; transform: translateY(-50%); width: 2.1333vw; height: 3.7333vw; background: url('../../assets/img/common/icon_arrow_blue.png') no-repeat 0 0; background-size: 100%;}
.loan .paymentCheck .tabWrapJs { margin-top:2.6667vw; }
.loan .paymentCheck .tabContArea .tabCont { margin-top:4.00vw;}
.loan .paymentCheck .tabContArea .tabCont > strong { display:block; padding-bottom:2.6667vw; font-size:4.2667vw; color:#333; font-weight:500; border-bottom:0.2667vw solid #d9d9d9; }
.loan .paymentCheck .tabContArea .tabCont .btnArea { margin-top:5.0667vw;}
.loan .paymentCheck .tabContArea .tabCont.virtual .dataList { padding-bottom:2.6667vw; margin-bottom:4.00vw; border-bottom:0.2667vw solid #d9d9d9; }
.loan .paymentCheck .withdrawInfo { margin:4.00vw 0 0 -8.00vw; padding:0 8.00vw; width:100vw; border-top:2.6667vw solid #f5f5f5;}
.loan .paymentCheck .withdrawInfo > h3 { padding:2.6667vw 0; font-size:4.2667vw; color:#333; font-weight:500; border-bottom:0.26667vw solid #d9d9d9;}
.loan .paymentCheck .withdrawInfo .dataList { margin-bottom:4.00vw; padding-bottom:2.6667vw; border-bottom:0.26667vw solid #d9d9d9;}

/* extensionDetail */
.loan .extensionDetail .loanInfo ul li + li { border-top:0.26667vw solid #d9d9d9;}
.loan .extensionDetail .loanInfo ul li > dl > dt { border-bottom:none;}
.loan .extensionDetail .loanInfo ul li > dl > dd { border-top:0.26667vw solid #d9d9d9; border-bottom:none;}
.loan .extensionDetail .agreeList { margin-left:-8.00vw; padding:5.0667vw 8.00vw 0; width:100vw; border-top:2.6667vw solid #f5f5f5;}
.loan .extensionDetail .agreeList ul li { padding-right:0;}

/* dealershipCertification */
.loan .extensionCertification .tabWrapJs { margin-left:-8.00vw; padding:4.00vw 8.00vw 0; width:100vw; border-top:2.6667vw solid #f5f5f5;}
.loan .extensionCertification .mbsTitle { margin-bottom:4.2667vw;}
.loan .extensionCertification .mbsTitle h3 { font-size:4.2667vw; color:#333333; font-weight:500;}
.loan .extensionCertification .tabContArea { margin-top:5.3333vw;}
.loan .extensionCertification .phoneField { margin:4.00vw 0 0 -8.00vw; padding:4.00vw 8.00vw 0; width:100vw; border-top:0.2667vw solid #d9d9d9;}
.loan .extensionCertification .certiField .radioArea.flex { margin:0 0 2.6667vw;}
.loan .extensionCertification  .radioArea.flex > span.on input[type=radio]:checked + label { color:#2962c2; background-color:#fff;}

/* extensionCompleted */
.loan .extensionCompleted .compleateBox { margin:5.3333vw 0 0 -8.00vw; padding-bottom:10.6667vw; width:100vw;}
.loan .extensionCompleted .loanNotice { margin-left:-8.00vw; width:100vw; padding:2.6667vw 8.00vw 0; border-top:2.6667vw solid #f5f5f5;}
.loan .extensionCompleted .loanNotice dt { margin-bottom:3.7333vw; font-size:4.2667vw; color:#333333; font-weight:500;}
.loan .extensionCompleted .loanNotice dd { font-size:4.2667vw; color:#888; line-height:5.3333vw;}

/* loanLogin */
.loan .loanLogin .tabWrapJs { padding-top:5.3333vw; }
.loan .loanLogin .tabWrapJs .notiList { margin-top:4.00vw; }
.loan .loanLogin .fieldList { margin-top:2.6667vw;}
.loan .loanLogin fieldset input[type=password]{width: 100%; height: 10.6667vw;  border-bottom: 0.2667vw solid #aeaeae; color: #2962c2; font-weight: 600; font-size: 5.3333vw; letter-spacing: 2.6667vw;}
.loan .loanLogin fieldset input[type=password]::placeholder{letter-spacing: 0.2667vw; font-weight: 300;}

.loan .loanLogin .radioArea.flex { margin:5.3333vw 0 2.6667vw;}
.loan .loanLogin .radioArea.flex > span.on input[type=radio]:checked + label { color:#2962c2; background-color:#fff;}


/* setCancelApply */
.loan .setCancelApply{}
.loan .setCancelApply .notiList{margin-top: 8vw;}
.loan .setCancelApply .dataNone{margin-top: 8vw;}
.loan .setCancelApply .list li { padding:4.00vw 0 2.6667vw; border-bottom:0.2667vw solid #d9d9d9;}
.loan .setCancelApply .list li a { display:block;}
.loan .setCancelApply .list li .date { color:#888; font-weight:300;}
.loan .setCancelApply .list li .dataList dt { clear:both; color:#333; font-weight:400;}
.loan .setCancelApply .list li .dataList dd { font-size:3.7333vw; color:#555; font-weight:400;}

/* setCancelAccount */
.loan .setCancelAccount .repayInfo { margin-top:4.5333vw;}
.loan .setCancelAccount .repayInfo > h3 { font-size:4.2667vw; color:#333; font-weight:500; }
.loan .setCancelAccount .repayInfo .dataList { margin-top:2.6667vw; padding-bottom:2.6667vw; border-top:0.26667vw solid #d9d9d9; border-bottom:0.26667vw solid #d9d9d9;}
.loan .setCancelAccount fieldset { padding:2.6667vw 0;}
.loan .setCancelAccount fieldset > h3 { margin-bottom:1.8667vw; font-size:4.2667vw; color:#333; font-weight:500;}
.loan .setCancelAccount .tabWrapJs { margin-left:-8.00vw; padding:2.6667vw 8.00vw 0; width:100vw; border-top:2.6667vw solid #f5f5f5;}
.loan .setCancelAccount .tabContArea .tabCont { margin-top:4.00vw;}
.loan .setCancelAccount .tabContArea .tabCont > strong { display:block; padding-bottom:2.6667vw; font-size:4.2667vw; color:#333; font-weight:500; border-bottom:0.2667vw solid #d9d9d9; }
.loan .setCancelAccount .tabContArea .tabCont .btnArea { margin:5.0667vw 0 2.6667vw;}
.loan .setCancelAccount .tabContArea .tabCont.virtual .dataList { padding-bottom:2.6667vw; margin-bottom:4.00vw; border-bottom:0.2667vw solid #d9d9d9; }
.loan .setCancelAccount .fieldList .formInput input:disabled { color:#555;}

/* setCancelDetail */
.loan .setCancelDetail .repayInfo { margin-top:4.5333vw;}
.loan .setCancelDetail .repayInfo > h3 { font-size:4.2667vw; color:#333; font-weight:500; }
.loan .setCancelDetail .repayInfo .dataList { margin-top:2.6667vw; padding-bottom:2.6667vw; border-top:0.26667vw solid #d9d9d9; border-bottom:0.26667vw solid #d9d9d9;}
.loan .setCancelDetail .priceBox { margin:4.00vw 0; }
.loan .setCancelDetail .withdrawTxt { margin-left:-8.00vw; padding:4.9333vw 8.00vw 5.6000vw; width:100vw; border-top:2.6667vw solid #f5f5f5;}
.loan .setCancelDetail .withdrawTxt > p { font-size:4.2667vw; color:#888;}
.loan .setCancelDetail .fieldList { margin-left:-8.00vw; padding:2.6667vw 8.00vw 0; width:100vw; border-top:2.6667vw solid #f5f5f5; }
.loan .setCancelDetail .fieldList .formInput input:disabled { color:#555;}

/* setCancelCompleted */
.loan .setCancelCompleted .compleateBox { margin:5.3333vw 0 10.6667vw;}
.loan .setCancelCompleted .txtBox { margin-left:-8.00vw; padding:4.9333vw 8.00vw 0; width:100vw; border-top:2.6667vw solid #f5f5f5;}
.loan .setCancelCompleted .txtBox > p { font-size:4.2667vw; color:#888;}
