@charset "UTF-8";

/* managerSelect */
.signup #container.managerAssign{padding-bottom: 33.3333vw; padding-bottom: calc(33.3333vw + env(safe-area-inset-bottom));}
#managerAssign .bottomArea { background:#fff;}
#container.managerAssign fieldset { padding-top:4.5333vw;}
.signup .managerAssign .manageItem { position:relative; margin-top:5.3333vw; margin-left:-8.0000vw;}
.signup .managerAssign .manageItem:first-child { margin-top:2.6667vw;}
.signup .managerAssign .manageItem input { position:absolute; width:0; height:0; line-height:0; text-indent:-1333.2000vw;}
.signup .managerAssign .manageItem label { display:block; padding:5.3333vw 8.00vw; width:100vw; background:#f5f5f5; }
.signup .managerAssign .manageItem label strong { font-size:4.0000vw; font-weight:600;}
.signup .managerAssign .manageItem label .txt { margin-top:2.1333vw; font-size:4.0000vw; line-height:1.6; }
.signup .managerAssign .manageItem label .shape { display:block; margin-top:2.6667vw; width:100%; height:13.3333vw; line-height:13.3333vw; font-size:4.2667vw; color:#333333; text-align:center; border-radius:2.0000vw; border:0.2667vw solid #d9d9d9; background:#fff;}
.signup .managerAssign .manageItem input:checked + label  { background:#eff3f8; }
.signup .managerAssign .manageItem input:checked + label .shape { color:#fff; border-color:#2962c2; background:#2962c2;}
.signup .managerAssign .notiList{margin-top: 2.6667vw;}


/* managerSearch */
#managerSearch { background:#f5f5f5; }
.signup .managerSelect fieldset { padding-top:4.5333vw;}
.signup .managerSelect .manageList { margin-top:2.6667vw;}
.signup .managerSelect .manageList li + li { margin-top:2.6667vw;}
.signup .managerSelect .manageList li a{display: block; position: relative; border-bottom: 0.2667vw solid #aeaeae; font-size: 4.2667vw; line-height: 10.6667vw;}
.signup .managerSelect .manageList li a:after{content: ''; position: absolute; right: 1.3333vw; top: 50%; transform: translateY(-50%); width: 2.1333vw; height: 3.7333vw; background: url(../../assets/img/common/icon_arrow.png) no-repeat 0 0; background-size: 100%;}
.signup .managerSelect .fieldList.manage .btnArea { margin:2.6667vw 0 0 -26.6667vw;}

/* activityAccount */
.signup .activityAccount .infoBox { position:relative; margin-left:-8.00vw; padding:5.3333vw 0 5.3333vw 34.1333vw; width:100vw; background:#f2f5f9;}
.signup .activityAccount .infoBox:before { content:''; position:absolute; left:8.00vw; top:50%; transform:translateY(-50%); width:21.3333vw; height:21.3333vw; border-radius:50%;  background:#fff url('../img/signup/icon_activity.png') 50% 50% no-repeat; background-size:8.8000vw auto;}
.signup .activityAccount .infoBox strong { font-size:4.2667vw; font-weight:500; color:#000;}
.signup .activityAccount .infoBox p { margin-top:2.1333vw; font-weight:300;}
/* .signup .activityAccount fieldset dt { margin-top:5.3333vw;} */
.signup .activityAccount fieldset dt:first-child { margin-top:5.3333vw;}
.signup .activityAccount fieldset .chkList { margin:2.6667vw 0; }
.signup .activityAccount fieldset .chkList .formChkbox { width:39.3333vw; margin-top:2.6667vw;}
.signup .activityAccount fieldset .chkList .formChkbox:nth-child(-n+2) { margin-top:0;}
.signup .activityAccount fieldset .chkList .formInput.bdcolor { margin-top:2.6667vw; width:100%;}
.signup .activityAccount fieldset .chkList .formInput.bdcolor input { background:#fff;}
.signup .activityAccount fieldset .directInput + .formInput{display: none; margin: 2.6667vw 0;}
.signup .activityAccount fieldset .notiList li { color:#aeaeae;}

/* staffAccount */
.signup .staffAccount fieldset{margin-top: 1.6667vw;}
