@charset "UTF-8";

#PINCompleted,
#PINSetting,
#PINLogin{background: #f5f5f5;}

/* PINLogin */
.PIN .PINLogin .bigTitle { padding-top:4vw;}
.PIN .PINLogin .formPassword.box { margin-top:5.3333vw;}
.PIN .PINLogin .btnReset { position:relative; margin-top:2.6667vw; display:inline-block; font-size:4.2667vw; font-weight:300; color:#888888; }
.PIN .PINLogin .btnReset:after { content:''; display:inline-block; margin-left:2.4000vw; width:2.1333vw; height:3.7333vw; background:url('../img/common/icon_arrow.png') no-repeat; background-size:100% auto;}

/* PINSetting */
.PIN .PINSetting{}
.PIN .PINSetting > h3 { margin-top:4.400vw; font-size:4.2667vw; color:#333;}
.PIN .PINSetting fieldset{padding: 2.6667vw 0;}
.PIN .PINSetting fieldset dt { width:27.0000vw;}
.PIN .PINSetting fieldset dd { width:57.0000vw;}
.PIN .PINSetting .notiList li{color: #aeaeae;}

/* PINCompleted */
.PIN .PINCompleted .compleateBox { padding-top:8.0000vw;}
.PIN .PINCompleted .compleateBox .shape { background:#fff;}
