@charset "UTF-8";

/* setting */
#container.setting{width: 100%;}
.set .setting .list{}
.set .setting .list > dt{padding: 5.3333vw 0 1.6000vw 8.0000vw; color: #333; font-size: 4.2667vw; font-weight: 500;}
.set .setting .list > dt:first-child{padding-top: 4.5333vw;}
.set .setting .list > dd{}
.set .setting .list > dd > ul > li {position: relative; width: 84.0000vw; margin: 0 auto; border-bottom: 0.2667vw solid #eee; color: #333; font-size: 4.2667vw;}
.set .setting .list > dd > ul > li.login{padding: 4.4000vw 0 4.6667vw 0;}
.set .setting .list > dd > ul > li.logout a{font-size: 4.2667vw; font-weight: 400;}
.set .setting .list > dd > ul > li.push{padding: 4.4000vw 0;}
.set .setting .list > dd > ul > li.kakao{padding: 4.8000vw 0 4.4000vw 0;}
.set .setting .list > dd > ul > li.version{overflow: hidden;}
.set .setting .list > dd > ul > li.version span{float: left; font-size: 4.2667vw; font-weight: 300; line-height: 14.4vw;}
.set .setting .list > dd > ul > li.version em{float: right; color: #2962c2; font-size: 4.2667vw; font-weight: 300; line-height: 14.4vw;}
.set .setting .list > dd > ul > li.companyInfo{width: 100%; border-bottom: 0;}
.set .setting .list > dd > ul > li.companyInfo:after{content: ''; position: absolute; left: 50%; bottom: 0; transform: translateX(-50%); width: 84.0000vw; height: 0.2667vw; background: #eee;}
.set .setting .list > dd > ul > li.companyInfo > dl > dd{display: none; padding: 7.0667vw 0 1.8667vw 0; background: #f5f5f5;}
.set .setting .list > dd > ul > li.companyInfo > dl > dd p{width: 84.0000vw; margin: 0 auto; font-size: 4.2667vw; font-weight: 500;}
.set .setting .list > dd > ul > li.companyInfo > dl > dd p a{display: inline-block; padding: 0.5333vw 0 5.3333vw 0; color: #2962c2; font-size: 4.0000vw; font-weight: 500;}
.set .setting .list > dd > ul > li.companyInfo > dl > dd dl{width: 84.0000vw; margin: 0 auto; overflow: hidden;}
.set .setting .list > dd > ul > li.companyInfo > dl > dd dl dt{clear: both; float: left; width: 21.3333vw; margin-bottom: 5.4667vw; color: #aeaeae;}
.set .setting .list > dd > ul > li.companyInfo > dl > dd dl dd{float: left; color: #888;}
.set .setting .list > dd > ul > li .settingCheckBox{position: absolute; top: 4.0000vw; right: 0;}
.set .setting .list > dd > ul > li > p{padding-top: 2.6667vw; color: #888; font-weight: 300; line-height: 5.3333vw;}
.set .setting .list > dd > ul > li > p a{color: #2962c2; font-weight: 300; text-decoration: underline;}
.set .setting .list > dd > ul > li > a,
.set .setting .list > dd > ul > li.companyInfo > dl > dt a{position: relative; display: block; width: 84.0000vw; height: 14.4000vw; margin: 0 auto; color: #333; font-size: 4.2667vw; font-weight: 300; line-height: 14.4000vw;}
.set .setting .list > dd > ul > li > a:after,
.set .setting .list > dd > ul > li.companyInfo > dl > dt a:after{content: ''; position: absolute; right: 1.3333vw; top: 50%; transform: translateY(-50%); width: 2.1333vw; height: 3.7333vw; background: url('../../assets/img/common/icon_arrow.png') no-repeat 0 0;  background-size: 100%;}
.set .setting .list > dd > ul > li.companyInfo > dl > dt a:after{width: 3.7333vw; height: 2.1333vw; background-image: url('../../assets/img/common/arr_select.png'); transition: 0.3s;}
.set .setting .list > dd > ul > li.companyInfo > dl > dt.on a:after{transform: translateY(-50%) rotate(180deg);}
.set .setting .list + p{padding: 5.2000vw 0 10.5333vw 0; color: #333; text-align: center;}
.set .setting .list + p a{color: #2962c2; text-decoration: underline;}