@charset "UTF-8";

/* search common */
.search .lineTab{padding-top:1.4667vw;}

.search .carSearchDate{width: 100vw; margin-left: -8vw; padding: 6.1333vw 0 2.6667vw 0;}
.search .carSearchDate h3{padding: 0 8vw 2.6667vw 8vw; border-bottom: 0.2667vw solid #d9d9d9; color: #333; font-size: 4.2667vw; font-weight: 500; line-height: 7.4667vw;}
.search .carSearchDate h2{padding: 0 8vw; color: #333; font-size: 4.2667vw; font-weight: 500; line-height: 7.4667vw;}
.search .carSearchDate .selectBox{margin: 2.6667vw 8vw 0 8vw;}
.search .carSearchDate .selectBox select{height: auto; border: 0; color: #333; font-size: 4.2667vw; font-weight: 500; line-height: 7.4667vw; letter-spacing: -0.16vw;}
.search .carSearchDate div.img{position: relative; min-height: 45.8667vw; padding: 0 8vw;}
.search .carSearchDate div.img img{position: absolute; left: 50%; top: 50%; transform: translate(-50%, -50%); width: 57.0667vw; height: 34.4000vw;}
.search .carSearchDate p{padding: 2.6667vw 8vw 0 8vw;  overflow: hidden;}
.search .carSearchDate p span{float: left; color: #aeaeae; font-weight: 300;}
.search .carSearchDate p em{float: right; color: #aeaeae; font-weight: 300;}

/* vehicleSearch */
.search .vehicleSearch .tabWrapJs{margin-top: 5.3333vw;}
.search .vehicleSearch .searchList { margin-left:-8.0000vw; width:100vw;}
.search .vehicleSearch .searchList dl { position:relative; border-top:0.2667vw solid #eeeeee; padding:0 8.0000vw;}
.search .vehicleSearch .searchList dl dt { padding:2.6667vw 0; font-size:4.2667vw; color:#333; }
.search .vehicleSearch .searchList dl dd .allDel { position:absolute; right:8.0000vw; top:4.8000vw; font-size:4.2667vw; }
.search .vehicleSearch .searchList dl dd .allDel.disabled { color:#aeaeae; }
.search .vehicleSearch .searchList dl dd ul li { overflow:hidden; position:relative; height:9.8667vw; border-bottom:0.2667vw solid #eeeeee;}
.search .vehicleSearch .searchList dl dd ul li .link { display:block; padding-top:1.80vw; height:100%;}
.search .vehicleSearch .searchList dl dd ul li .link:before { content:''; margin-left:0.9333vw; display:inline-block; width:5.8667vw; height:5.3333vw; vertical-align:middle; background:url('../img/search/icon_currtime.png') no-repeat; background-size:100% auto;}
.search .vehicleSearch .searchList dl dd ul li span { vertical-align:middle; }
.search .vehicleSearch .searchList dl dd ul li .num { margin-left:2.1333vw; display:inline-block; width:24.0000vw; font-size:4.2667vw; font-weight:300; color:#333;}
.search .vehicleSearch .searchList dl dd ul li .name { overflow:hidden; display:inline-block; width:34.6000vw; white-space:nowrap; text-overflow:ellipsis; font-size:3.7333vw; font-weight:300; color:#aeaeae;}
.search .vehicleSearch .searchList dl dd ul li .date { float:right; font-size:3.7333vw; font-weight:300; line-height:1.5; color:#aeaeae;}
.search .vehicleSearch .searchWrap { position:relative; padding-top:1.7333vw;}
.search .vehicleSearch .searchWrap .formInput { position:relative;}
.search .vehicleSearch .searchWrap .notiList li { margin-top:2.6667vw; color:#888888;}
.search .vehicleSearch .searchWrap .searchList { position:absolute; top:12.9333vw; background:#fff; box-shadow:0 9px 8px 0px rgba(0,0,0,0.2); z-index:1; transition:0.3s;}
.search .vehicleSearch .searchWrap .searchList dl dd ul { overflow-y:auto; height:61.2333vw;}
.search .vehicleSearch .searchWrap .searchList dl dd ul li .link { display:inline-block; width:72.0000vw;}
.search .vehicleSearch .searchWrap .searchList dl dd ul li .btnDel { position:absolute; top:50%; right:1.3333vw; width:4.0000vw; height:4.0000vw; transform:translateY(-50%); font-size:0; }
.search .vehicleSearch .searchWrap .searchList dl dd ul li .btnDel:before,
.search .vehicleSearch .searchWrap .searchList dl dd ul li .btnDel:after { content:''; position:absolute; top:50%; width:4.0000vw; height:0.5333vw; background:#aeaeae;}
.search .vehicleSearch .searchWrap .searchList dl dd ul li .btnDel:before { transform:rotate(-45deg);}
.search .vehicleSearch .searchWrap .searchList dl dd ul li .btnDel:after { transform:rotate(45deg);}
.search .vehicleSearch .searchHistory { margin-top:2.6667vw;}
.search .vehicleSearch .searchHistory .carListHeader{border-top: 0.2667vw solid #eee; overflow: hidden;}
.search .vehicleSearch .searchHistory .carListHeader strong{float: left; color: #333; font-size: 4.2667vw; font-weight: 400; line-height: 9.8667vw;}
.search .vehicleSearch .searchHistory .carListHeader a{float: right; font-size: 4.2667vw; line-height: 9.8667vw;}
.search .vehicleSearch .searchHistory .carListHeader a.disabled{color: #aeaeae;}
.search .vehicleSearch .searchHistory .dataNone { padding-top:16.5333vw;}
.search .vehicleSearch .searchHistory .dataNone .btnArea { margin-top:26.6667vw;}

/* vehicleRatal */
.search .vehicleRatal > h3 { padding:4.4000vw 0 1.8667vw; font-size:4.2667vw; font-weight:500; color:#333;}
.search .vehicleRatal .ratalInfo:after { content:''; clear:both; display:block;}
.search .vehicleRatal .ratalInfo dt,
.search .vehicleRatal .ratalInfo dd{float: left; width: 50%; height: 9.8667vw; border-top: 0.2667vw solid #eee; line-height: 9.8667vw; letter-spacing: -0.3vw;}
.search .vehicleRatal .ratalInfo dt:first-of-type,
.search .vehicleRatal .ratalInfo dd:first-of-type { border-top:0;}
.search .vehicleRatal .ratalInfo dt{ color: #888; font-size: 4.2667vw; font-weight:300;}
.search .vehicleRatal .ratalInfo dd{font-size: 4.2667vw; font-weight: 300; text-align: right; color:#333;}
.search .vehicleRatal .priceBox { overflow:hidden; margin-top:2.6667vw; padding:2.6667vw 5.3333vw; border-radius:2.0000vw; background:#eff3f8;}
.search .vehicleRatal .priceBox dt { float:left; clear:right; margin-top:2.6667vw; color:#888;}
.search .vehicleRatal .priceBox dd { float:right; margin-top:2.6667vw; color:#2962c2;}
.search .vehicleRatal .priceBox dt:first-of-type,
.search .vehicleRatal .priceBox dd:first-of-type { margin-top:0;}

/* vehicleRegister */
.search .vehicleRegister .infoArea { margin-left:-8.00vw; padding:2.6667vw 8.00vw 2.6667vw; width:100vw; border-top:2.6667vw solid #f5f5f5;  }
.search .vehicleRegister .infoArea h3 { display:block; margin-bottom: 0.9333vw; color:#333;}
.search .vehicleRegister .infoArea .headTit { position:relative; padding-bottom:2.6667vw;}
.search .vehicleRegister .infoArea .headTit a {position: relative; display:block; }
.search .vehicleRegister .infoArea .headTit a:after { content:''; position:absolute; top:50%; right:0; transform: translateY(-50%); width:2.1333vw; height:3.7333vw; font-size:0; background:url('../img/common/icon_arrow.png') no-repeat; background-size:100%;}
.search .vehicleRegister .infoArea .headTit h4 { font-size:4.2667vw; color:#333; font-weight:500;}
.search .vehicleRegister .infoArea .headTit .btnArea{position: absolute; right: 0; top: -4.8000vw;}
.search .vehicleRegister .infoArea .headTit .btnArea a:after{display: none;}
.search .vehicleRegister .infoArea .accordionList{padding-bottom: 0;}
.search .vehicleRegister .infoArea.accordionWrap > dl > dt{position: relative;}
.search .vehicleRegister .option{position: relative; width: 100vw; margin: 2.6667vw 0 0 -8vw; padding: 0 8vw; padding-bottom: 0;}
.search .vehicleRegister .option .cmmTooltip{position: absolute; left: 29vw; top: 5.2vw; transform: translateY(-50%); z-index: 10;}
.search .vehicleRegister .option .cmmTooltip .toolCont{width: 84vw; left: -21vw; top: 6vw; z-index: 10;}
.search .vehicleRegister .option > dl > dt{border: 0.2667vw solid #d9d9d9; border-width: 0.2667vw 0;}
.search .vehicleRegister .option > dl > dd {display: none; border-bottom: 0.2667vw solid #d9d9d9;}
.search .vehicleRegister .option > dl > dd dl{overflow: hidden;}
.search .vehicleRegister .option > dl > dd dl dt{float: left; width: 50%; border-bottom: 0.2667vw solid #eee; color: #333; font-size: 4.2667vw; font-weight: 300; line-height: 9.8667vw;}
.search .vehicleRegister .option > dl > dd dl dd{float: right; width: 50%; border-bottom: 0.2667vw solid #eee; color: #2962c2; font-size: 4.2667vw; font-weight: 300; text-align: right;  line-height: 9.8667vw;}
.search .vehicleRegister .option > dl > dd .notiList{margin: 2.6667vw 0;}
.search .vehicleRegister .basic{position: relative; padding-bottom: 0;}
.search .vehicleRegister .basic .cmmTooltip{position: absolute; left: 17vw; top: 5.2vw; transform: translateY(-50%); z-index: 5;}
.search .vehicleRegister .basic .cmmTooltip .toolCont{width: 84vw; left: -16vw; top: 6vw; z-index: 10;}
.search .vehicleRegister .basic > dl > dt.on{border-bottom: 0.2667vw solid #d9d9d9;}
.search .vehicleRegister .basic > dl > dd{display: none; padding-top: 0;}
.search .vehicleRegister .basic > dl > dd .list{overflow: hidden;}
.search .vehicleRegister .basic > dl > dd .list li{float: left; width: 32%; padding-top: 4.2667vw; color: #333; font-size: 3.2000vw; font-weight: 300;}
.search .vehicleRegister .basic > dl > dd .list li:nth-child(3n+2),
.search .vehicleRegister .basic > dl > dd .list li:nth-child(3n){width: 34%; padding-left: 2.6667vw; border-left: 0.2667vw solid #d9d9d9;}
.search .vehicleRegister .basic > dl > dd .list li:nth-child(1),
.search .vehicleRegister .basic > dl > dd .list li:nth-child(2),
.search .vehicleRegister .basic > dl > dd .list li:nth-child(3){padding-top: 0;}
.search .vehicleRegister .basic > dl > dd .notiList{margin: 2.6667vw 0;}
.search .vehicleRegister .basic > dl > dd .notiList{margin: 2.6667vw 0;}
.search .vehicleRegister .trim{padding-bottom: 0;}
.search .vehicleRegister .trim .notiList{margin: 2.6667vw 0;}
.search .vehicleRegister .trim dl{width: 100vw; margin-left: -8vw; border-top: 0.2667vw solid #d9d9d9;}
.search .vehicleRegister .trim dl dt{border-bottom: 0.2667vw solid #d9d9d9;}
.search .vehicleRegister .trim dl dt a{position: relative; display: block; padding: 0 8vw; background: #f5f5f5; overflow: hidden;}
.search .vehicleRegister .trim dl dt a span{float: left; width: 57.6333vw; color: #333; overflow: hidden; text-overflow: ellipsis; white-space: nowrap; line-height: 9.8667vw;}
.search .vehicleRegister .trim dl dt a strong{float: right; margin-right: 6.5333vw; color: #2962c2; font-weight: 300; line-height: 9.8667vw; text-align: right;}
.search .vehicleRegister .trim dl dt a:after{content: ''; position: absolute; right: 9.8667vw; top: 50%; transform: translateY(-50%); width: 2.1333vw; height: 3.7333vw; background: url('../../assets/img/common/icon_arrow.png') no-repeat 0 0; background-size: 100%;}
.search .vehicleRegister .trim dl dd{padding: 0 8vw; border-bottom: 0.2667vw solid #d9d9d9;}
.search .vehicleRegister .trim dl dd:last-child{border-bottom: 0;}
.search .vehicleRegister .trim dl dd ul{height: 33.6000vw; overflow: hidden; transition: all 0.3s;}
.search .vehicleRegister .trim dl dd ul.on{}
.search .vehicleRegister .trim dl dd ul li{position: relative; padding: 1.8667vw 0 1.8667vw 2.4000vw;}
.search .vehicleRegister .trim dl dd ul li:before{content: ''; position: absolute; left: 0; top: 50%; transform: translateY(-50%); width: 0.5333vw; height: 0.5333vw; border-radius: 1px; background: #555555;}
.search .vehicleRegister .trim dl dd a.trimToggle{display: block; position: relative; height: 9.8667vw;}
.search .vehicleRegister .trim dl dd a.trimToggle:after{content: ''; position: absolute; left: 50%; top: 50%; transform: translate(-50%,-50%); width: 4.2667vw; height: 2.6667vw; background: url('../../assets/img/common/icon_trim.png') no-repeat 0 0; background-size: 100%; transition: all 0.3s;}
.search .vehicleRegister .trim dl dd a.trimToggle.on:after{transform: translate(-50%, -50%) rotate(180deg);}
.search .vehicleRegister .dataNone{margin: 5.3333vw 0;}

.search .vehicleRegister .infoArea .priceList { overflow: hidden;}
.search .vehicleRegister .infoArea .priceList dt { clear:right; float:left; margin-top:1.8667vw; color:#333333; font-size:4.2667vw; font-weight:300;}
.search .vehicleRegister .infoArea .priceList dd { float:right; margin-top:1.8667vw; color:#2962c2; font-size:4.2667vw; font-weight:300;}
.search .vehicleRegister .infoArea .priceList dt:first-of-type,
.search .vehicleRegister .infoArea .priceList dd:first-of-type { margin-top:0;}
.search .vehicleRegister .infoArea .MortgageBox { height:13.0667vw; border:0.2667vw solid #aeaeae; border-radius:2.0000vw;}
.search .vehicleRegister .infoArea .MortgageBox a { display:block; height:100%; line-height:12.8000vw; text-align:center;}
.search .vehicleRegister .infoArea .MortgageBox span { position:relative; display:inline-block; margin-left:2.0000vw; padding-left:2.0000vw; font-size:4.2667vw; color:#333333; }
.search .vehicleRegister .infoArea .MortgageBox span:before { content:''; position:absolute; top:50%; left:0; transform:translateY(-50%); width:0.2667vw; height:3.6000vw; background:#aeaeae;}
.search .vehicleRegister .infoArea .MortgageBox span:first-child:before { display:none;}
.search .vehicleRegister .infoArea .MortgageBox span > em { color:#2962c2;}
.search .vehicleRegister .infoArea .registerInfo { margin-top:2.6667vw;}
.search .vehicleRegister .infoArea .registerInfo dt { margin-bottom:1.3333vw; font-size:4.2667vw; color:#aeaeae; font-weight:300;}
.search .vehicleRegister .infoArea .registerInfo dd { font-size:4.2667vw; color:#333333; font-weight:300;}
.search .vehicleRegister .infoArea .registerInfo dd + dt { margin-top:2.6667vw;}
.search .vehicleRegister .infoArea .dataNone .btnArea { margin-top:2.6667vw;}

/* vehicleMortgage */
.search#vehicleMortgage { background:#f5f5f5;}
.search .vehicleMortgage .MortgageIdx { margin-left:-8.00vw; padding:4.5333vw 8.00vw 4.5333vw; width:100vw; background:#fff;}
.search .vehicleMortgage .MortgageIdx p { font-size:4.2667vw; color:#333333; font-weight:500;}
.search .vehicleMortgage .MortgageIdx p > em { color:#2962c2; font-weight:500;}
.search .vehicleMortgage .MortgageList li { margin-top:2.6667vw; padding:2.6667vw 5.3333vw; background:#fff; border-radius:2.0000vw;}
.search .vehicleMortgage .MortgageList li dl { overflow:hidden;}
.search .vehicleMortgage .MortgageList dt { clear:left; float:left; margin-top:2.6667vw; width:21.3333vw; color:#aeaeae;}
.search .vehicleMortgage .MortgageList dd { float:left; margin-top:2.6667vw; color:#333333;}
.search .vehicleMortgage .MortgageList dt:first-of-type,
.search .vehicleMortgage .MortgageList dd:first-of-type { margin-top:0;}
.search .vehicleMortgage .MortgageList dd.item { color:#2962c2;}

/* vehicleOwner */
.search .vehicleOwner fieldset { padding-top:1.7333vw;}
.search .vehicleOwner fieldset .notiList { margin-top:2.6667vw;}
.search .vehicleOwner fieldset .notiList li { color:#888888;}
.search .vehicleOwner fieldset .btnArea { margin-top:5.6000vw;}
.search .vehicleOwner .dataNone { margin-top:26.6667vw;}

/* vehicleOwnerView */
.search .vehicleOwnerView{}
.search .vehicleOwnerView > dl{margin: 4.5333vw 0 2.6667vw 0; overflow: hidden;}
.search .vehicleOwnerView > dl dt{float: left; color: #333; font-size: 4.2667vw; font-weight: 500;}
.search .vehicleOwnerView > dl dd{float: right; font-size: 4.2667vw; font-weight: 300;}
.search .vehicleOwnerView .list{padding: 2.6667vw 0; margin-bottom: 2.6667vw; border-bottom: 0.2667vw solid #d9d9d9; overflow: hidden;}
.search .vehicleOwnerView .list li{float: left; width: 50%; padding-top: 2.6667vw;}
.search .vehicleOwnerView .list li:nth-child(2n){padding-left: 5.3333vw; border-left: 0.2667vw solid #eee;}
.search .vehicleOwnerView .list li:nth-child(1),
.search .vehicleOwnerView .list li:nth-child(2){padding-top: 0;}
.search .vehicleOwnerView .list li span{display: block; margin-bottom: 1.0667vw; color: #888; font-size: 3.2000vw; font-weight: 300;}
.search .vehicleOwnerView .list li strong{display: block; color: #333; font-size: 4.2667vw; font-weight: 300;}


/* vehicleOption */
.search .vehicleOption .carSearchCon{width: 100vw; margin-left: -8vw; padding: 0 8vw; border-top: 2.6667vw solid #f5f5f5;}
.search .vehicleOption .carSearchCon dl.price{padding: 2.6667vw 0 5.3333vw 0; overflow: hidden;}
.search .vehicleOption .carSearchCon dl.price dt{float: left; color: #333; font-size: 4.2667vw; font-weight: 500;}
.search .vehicleOption .carSearchCon dl.price dt span{color: inherit}
.search .vehicleOption .carSearchCon dl.price dd{float: right; color: #2962c2; font-size: 4.2667vw; font-weight: 500;}
.search .vehicleOption .carSearchCon ul.basic li{position: relative; padding-left: 2.4000vw; margin-top: 3.4667vw; font-size: 4.0000vw;}
.search .vehicleOption .carSearchCon ul.basic li:before{content: ''; position: absolute; left: 0; top: 2.4000vw; width: 0.5333vw; height: 0.5333vw; background: #555; border-radius: 0.2667vw;}
.search .vehicleOption .carSearchCon dl.info{overflow: hidden;}
.search .vehicleOption .carSearchCon dl.info dt{clear: left; float: left; margin-top: 4vw;}
.search .vehicleOption .carSearchCon dl.info dt .formChkbox .icon{top: 0;}
.search .vehicleOption .carSearchCon dl.info dd{float: right; margin-top: 4vw; font-size: 4.2667vw; font-weight: 500;}
.search .vehicleOption .carSearchCon .dataNone{padding-top: 26.6667vw;}
.search .vehicleOption .carSearchCon .dataNone .btnArea{margin-top: 26.6667vw;}

/* vehicleAccident */
.search .vehicleAccident{}
.search .vehicleAccident .carAccidentCon{width: 100vw; margin-left: -8vw; border-top: 2.6667vw solid #f5f5f5;}
.search .vehicleAccident .carAccidentCon .accordionList{}
.search .vehicleAccident .carAccidentCon .accordionList > li > dl > dt{border-bottom: 0.2667vw solid #d9d9d9;}
.search .vehicleAccident .carAccidentCon .accordionList > li > dl > dt a{position: relative; display: block; padding: 0 15.7333vw 0 8vw; line-height: 9.8667vw; overflow: hidden;}
.search .vehicleAccident .carAccidentCon .accordionList > li > dl > dt a strong{float: left; color: #333; font-size: 4.2667vw; font-weight: 500;}
.search .vehicleAccident .carAccidentCon .accordionList > li > dl > dt a span{float: right; color: #2962c2; line-height: inherit;}
.search .vehicleAccident .carAccidentCon .accordionList > li > dl > dt.none a span{color: #555;}
.search .vehicleAccident .carAccidentCon .accordionList > li > dl > dt a:after{content: ''; position: absolute; right: 9.0667vw; top: 50%; transform: translateY(-50%); width: 3.7333vw; height: 2.1333vw; background: url('../../assets/img/common/arr_select.png') no-repeat 0 0; background-size: 100%; transition: transform 0.3s;}
.search .vehicleAccident .carAccidentCon .accordionList > li > dl > dt.on a:after{transform: translateY(-50%) rotate(180deg)}
.search .vehicleAccident .carAccidentCon .accordionList > li > dl > dt.none a:after{display: none;}
.search .vehicleAccident .carAccidentCon .accordionList > li > dl > dd{display: none; padding: 0 8vw; border-bottom: 0.2667vw solid #d9d9d9;}
.search .vehicleAccident .carAccidentCon .accordionList > li:nth-child(1) dl dd,
.search .vehicleAccident .carAccidentCon .accordionList > li:nth-child(2) dl dd{display: block;}
.search .vehicleAccident .carAccidentCon .accordionList > li > dl > dd .notiList{padding: 2.6667vw 0 0 0;}
.search .vehicleAccident .carAccidentCon .accordionList > li > dl > dd .notiList li{color: #888;}
.search .vehicleAccident .carAccidentCon .accordionList > li > dl > dd table{margin: 2.6667vw 0;}
.search .vehicleAccident .carAccidentCon .accordionList > li > dl > dd table th{height: 9.8667vw; padding-left: 3.4667vw; background: #f5f5f5; border-left: 0.2667vw solid #eee; color: #333; font-weight: 300; text-align: center;}
.search .vehicleAccident .carAccidentCon .accordionList > li > dl > dd table td{height: 9.8667vw; padding-left: 3.4667vw; font-weight: 300; border-bottom: 0.2667vw solid #eee; border-left: 0.2667vw solid #eee; text-align: center;}
.search .vehicleAccident .carAccidentCon .accordionList > li > dl > dd table th:first-child,
.search .vehicleAccident .carAccidentCon .accordionList > li > dl > dd table td:first-child{border-left: 0;}
.search .vehicleAccident .carAccidentCon .accordionList > li > dl > dd table td dl{padding-top: 2.6667vw; overflow: hidden;}
.search .vehicleAccident .carAccidentCon .accordionList > li > dl > dd table td dl dt{clear: left; float: left; font-weight: 300; margin-bottom: 2.6667vw;}
.search .vehicleAccident .carAccidentCon .accordionList > li > dl > dd table td dl dd{float: right; font-weight: 300; margin-bottom: 2.6667vw;}
.search .vehicleAccident .carAccidentCon .accordionList > li > dl > dd > dl{padding-top: 5.3333vw; overflow: hidden;}
.search .vehicleAccident .carAccidentCon .accordionList > li > dl > dd > dl dt{clear: left; float: left; margin-bottom: 2.6667vw; color: #888; font-weight: 300;}
.search .vehicleAccident .carAccidentCon .accordionList > li > dl > dd > dl dd{float: right; margin-bottom: 2.6667vw; font-weight: 300;}
.search .vehicleAccident .carAccidentCon .accordionList > li > dl > dd > table + dl{padding-top: 0;}
.search .vehicleAccident .carAccidentCon .accordionList > li > dl > dd > table + dl dt{margin-bottom: 0;}
.search .vehicleAccident .carAccidentCon .accordionList > li > dl > dd > table + dl dd{color: #888; margin-bottom: 0;}

/* vehiclePrice */
.search .vehiclePrice .carSearchCon{width: 100vw; margin-left: -8vw; padding: 2.6667vw 8vw 5.3333vw 8vw; border-top: 2.6667vw solid #f5f5f5;}
.search .vehiclePrice .carSearchCon .topArea{display: block; position: relative; overflow: hidden;}
.search .vehiclePrice .carSearchCon .topArea img{float: left; margin: 0.6667vw 1.8667vw 0 0; width:9.8667vw; height:4.1333vw;}
.search .vehiclePrice .carSearchCon .topArea strong{float: left; color: #333; font-size: 4.2667vw; font-weight: 500;}
.search .vehiclePrice .carSearchCon .topArea:after{content: ''; position: absolute; right: 1.8667vw; top: 50%; transform: translateY(-50%); width: 2.1333vw; height: 3.7333vw; background: url('../../assets/img/common/icon_arrow.png') no-repeat 0 0; background-size: 100%;}
.search .vehiclePrice .carSearchCon h3{position: relative; margin: 2.6667vw 0; color: #333; font-size: 4.2667vw; font-weight: 500;}
.search .vehiclePrice .carSearchCon h3 a{content: ''; position: absolute; right: 0.2667vw; top: 50%; transform: translateY(-50%); width: 5.4667vw; height: 5.0667vw; background: url('../../assets/img/common/icon_basci_search.png') no-repeat 0 0; background-size: 100%;}
.search .vehiclePrice .carSearchCon .searchList{padding: 2.6667vw 0 0 0; border: 0.2667vw solid #d9d9d9; border-width: 0.2667vw 0; overflow: hidden;}
.search .vehiclePrice .carSearchCon .searchList dt{clear: right; float: left; margin-bottom: 2.4000vw; color: #888; font-size: 4.2667vw; font-weight: 300;}
.search .vehiclePrice .carSearchCon .searchList dd{float: right; margin-bottom: 2.4000vw; color: #333; font-size: 4.2667vw; font-weight: 300;}
.search .vehiclePrice .carSearchCon .notiList{padding: 2.6667vw 0 0 0;}
.search .vehiclePrice .carSearchCon .notiList li{color: #888;}
.search .vehiclePrice .carSearchCon .counselArea p{padding: 5.3333vw 0 2.6667vw 0;color: #333; font-size: 4.2667vw; font-weight: 500; line-height: 6.4000vw;}
.search .vehiclePrice .carSearchCon .counselArea p strong{color: #2962c2; font-size: inherit; font-weight: inherit;}
.search .vehiclePrice .searchCarManager{width: 100vw; min-height: 36.5333vw; margin-left: -8vw; padding: 2.6667vw 8vw; border-top: 2.6667vw solid #f5f5f5;}
.search .vehiclePrice .searchCarManager > a{display: block; position: relative; color: #333;}
.search .vehiclePrice .searchCarManager > a:after{content: ''; position: absolute; right: 1.6000vw; top: 50%; transform: translateY(-50%); width: 2.1333vw; height: 3.7333vw; background: url('../../assets/img/common/icon_arrow.png') no-repeat 0 0; background-size: 100%;}
.search .vehiclePrice .searchCarMart{width: 100vw; margin-left: -8vw; padding: 2.6667vw 8vw; border-top: 2.6667vw solid #f5f5f5;}
.search .vehiclePrice .searchCarMart > a{display: block; position: relative; margin-bottom: 2.6667vw; color: #333;}
.search .vehiclePrice .searchCarMart > a:after{content: ''; position: absolute; right: 1.6000vw; top: 50%; transform: translateY(-50%); width: 2.1333vw; height: 3.7333vw; background: url('../../assets/img/common/icon_arrow.png') no-repeat 0 0; background-size: 100%;}

.search .vehiclePrice .searchRatal{width: 100vw; margin-left: -8vw; padding: 2.6667vw 8vw; border-top: 2.6667vw solid #f5f5f5;}
.search .vehiclePrice .searchRatal > a{display: block; position: relative; margin-bottom: 2.6667vw; color: #333;}
.search .vehiclePrice .searchRatal > a:after{content: ''; position: absolute; right: 1.6000vw; top: 50%; transform: translateY(-50%); width: 2.1333vw; height: 3.7333vw; background: url('../../assets/img/common/icon_arrow.png') no-repeat 0 0; background-size: 100%;}
.search .vehiclePrice .searchRatal > div{}
.search .vehiclePrice .searchRatal > dl { overflow:hidden; padding:2.6667vw 5.0667vw; background: #f5f5f5; border-radius: 1.8667vw; text-align: right;}
.search .vehiclePrice .searchRatal > dl dt { float:left; clear:right; color: #333; font-size: 4.2667vw; font-weight: 500; line-height: 5.3333vw; }
.search .vehiclePrice .searchRatal > dl dd { float:right; color: #333; font-size: 4.2667vw; font-weight: 500; line-height: 5.3333vw; color:#2962c2; }

.search .vehiclePrice .price{padding: 2.6667vw 5.0667vw; margin-top: 2.6667vw; background: #eff3f8; border-radius: 2.1333vw;}
.search .vehiclePrice .price .regular{padding-bottom: 2.6667vw; overflow: hidden;}
.search .vehiclePrice .price .regular dt{float: left; color: #333; font-size: 4.2667vw; font-weight: 500;}
.search .vehiclePrice .price .regular dd{float: right; color: #2962c2; font-size: 4.2667vw;}
.search .vehiclePrice .price .minMax{overflow: hidden;}
.search .vehiclePrice .price .minMax dt{float: left; margin-right: 3.7333vw; color: #888; font-weight: 500; line-height: 5.3333vw; letter-spacing: -0.22vw;}
.search .vehiclePrice .price .minMax dd{float: left; color: #333; font-size: 4.0000vw; font-weight: 500; line-height: 5.3333vw;  letter-spacing: -0.22vw;}
.search .vehiclePrice .price .minMax dd:nth-child(2){position: relative; padding-right: 4.9333vw;}
.search .vehiclePrice .price .minMax dd:nth-child(2):after{content:''; position: absolute; right: 2.2667vw; top: 50%; transform: translateY(-50%); width: 0.2667vw; height: 2.9333vw; background: #a0a0a0;}
.search .vehiclePrice .tooltip{left: 0; top: -24.8000vw;}
.search .vehiclePrice .none{margin-top: 8vw; color: #aeaeae; font-size: 4.2667vw; text-align: center;}

/* vehiclePurchaseCal */
.search .vehiclePurchaseCal .purchaseCal { margin-left:-8.00vw; padding:0 8.00vw; width:100vw; border-top:2.6667vw solid #f5f5f5;}
.search .vehiclePurchaseCal .priceBox { overflow:hidden; margin-top:2.6667vw; padding:0 5.6000vw 0 6.6667vw; height:12.0667vw; border-radius:2.0000vw; background:#eff3f8;}
.search .vehiclePurchaseCal .priceBox dt { float:left; font-size:4.2667vw; line-height:12.0667vw; color:#333333; }
.search .vehiclePurchaseCal .priceBox dt img { display:inline-block; margin: -3.2vw 0.5333vw 0 0; width:9.8667vw; height:4.1333vw; vertical-align:middle;}
.search .vehiclePurchaseCal .priceBox dd { float:right; font-size:4.2667vw; color:#2962c2; line-height:12.0667vw; font-weight:500;}
.search .vehiclePurchaseCal .purchaseCal .fieldList { padding-top:5.3333vw;}
.search .vehiclePurchaseCal .purchaseCal .fieldList dt { margin:2.6667vw 0 0.26667vw; width:100%; height:auto; line-height:1.25; border-bottom:none;}
.search .vehiclePurchaseCal .purchaseCal .fieldList dt:first-child { margin-top:0;}
.search .vehiclePurchaseCal .purchaseCal .fieldList dt.sub { font-size:4.2667vw; color:#888888}
.search .vehiclePurchaseCal .purchaseCal .fieldList dt.sub > span { font-weight:300;}
.search .vehiclePurchaseCal .purchaseCal .fieldList dd { width:100%;}
.search .vehiclePurchaseCal .purchaseCal .totalBox { overflow:hidden; margin:2.6667vw 0; padding:2.6667vw 5.6000vw; border-radius:2.0000vw; background:#eff3f8;}
.search .vehiclePurchaseCal .purchaseCal .totalBox > span { font-size:4.2667vw; color:#333333;}
.search .vehiclePurchaseCal .purchaseCal .totalBox .price { float:right; font-size:4.2667vw; color:#2962c2;}

/* vehiclePurchaseItem */
.search .vehiclePurchaseItem .notiList{padding: 4.9333vw 0 5.3333vw 0;}
.search .vehiclePurchaseItem .fieldList dt{position: relative; padding-left: 7vw; margin:2.6667vw 0 0.26667vw; width:100%; height:auto; line-height:1.25; font-size: 4.2667vw; border-bottom:none;}
.search .vehiclePurchaseItem .fieldList dt:first-child { margin-top:0;}
.search .vehiclePurchaseItem .fieldList dt span{color: #333; font-size: 4.2667vw;}
.search .vehiclePurchaseItem .fieldList dt label{position: absolute; left: 0; top: 0; width: 5.33vw; height: 5.33vw;  padding: 0; line-height: none; font-size: 0;}
.search .vehiclePurchaseItem .fieldList dt label .icon{top: 0;}
.search .vehiclePurchaseItem .fieldList dd { width:100%; padding-left: 7vw;}

/* vehicleDetailSearch */
.search .vehicleDetailSearch > .notiList {padding:4.9333vw 0 5.3333vw 0;}
.search .vehicleDetailSearch .colorSelect { margin-top:2.6667vw;}
.search .vehicleDetailSearch .colorSelect .radioArea .roundRadio { margin:0 0 1.60vw 1.3333vw;}
.search .vehicleDetailSearch .colorSelect .radioArea .roundRadio:nth-child(5n+1) { margin-left:0;}
.search .vehicleDetailSearch .colorSelect .radioArea .roundRadio.type2 label { width:15.4667vw; height:10.6667vw; line-height:10.1333vw; font-size:4.2667vw; font-weight:300; border-radius:1.0667vw}
.search .vehicleDetailSearch .colorSelect .radioArea .direct label{font-size: 3.7333vw !important;}
.search .vehicleDetailSearch .colorSelect .radioArea + .formInput{display: none;}
.search .vehicleDetailSearch .hitchExist { margin-top:2.6667vw;}
.search .vehicleDetailSearch .hitchExist .hitItem { overflow:hidden;}
.search .vehicleDetailSearch .hitchExist .hitItem .formRadio { float:left; margin-bottom:2.6667vw; width:39.3333vw;}
.search .vehicleDetailSearch .hitchExist .radioArea .roundRadio { margin:0 0 0 1.3333vw;}
.search .vehicleDetailSearch .hitchExist .radioArea .roundRadio:nth-child(5n+1) { margin-left:0;}
.search .vehicleDetailSearch .hitchExist .radioArea .roundRadio.type2 label { width:15.4667vw; height:10.6667vw; line-height:10.1333vw; font-size:4.2667vw; font-weight:300; border-radius:1.0667vw}
.search .vehicleDetailSearch .optionList { margin-top:2.6667vw; }
.search .vehicleDetailSearch .optionList:after { content:''; display:block; clear:both;}
.search .vehicleDetailSearch .optionList .formChkbox { float:left; margin-bottom:2.6667vw; width:39.3333vw; }

/* priceEncar */
.search .priceEncar .carSearchCon{width: 100vw; margin-left: -8vw; padding: 2.6667vw 8vw; border-top: 2.6667vw solid #f5f5f5;}
.search .priceEncar .carSearchCon .topArea{display: block; position: relative; overflow: hidden;}
.search .priceEncar .carSearchCon .topArea img{float: left; margin: 0.6667vw 1.8667vw 0 0; width:9.8667vw; height:4.1333vw;}
.search .priceEncar .carSearchCon .topArea strong{float: left; color: #333; font-size: 4.2667vw; font-weight: 500;}
.search .priceEncar .carSearchCon .topArea:after{content: ''; display: none; position: absolute; right: 1.8667vw; top: 50%; transform: translateY(-50%); width: 2.1333vw; height: 3.7333vw; background: url('../../assets/img/common/icon_arrow.png') no-repeat 0 0; background-size: 100%;}
.search .priceEncar .carSearchCon h3{position: relative; margin: 2.6667vw 0; color: #333; font-size: 4.2667vw; font-weight: 500;}
.search .priceEncar .carSearchCon h3 a{content: ''; position: absolute; right: 0.2667vw; top: 50%; transform: translateY(-50%); width: 5.4667vw; height: 5.0667vw; background: url('../../assets/img/common/icon_basci_search.png') no-repeat 0 0; background-size: 100%;}
.search .priceEncar .carSearchCon .searchList{padding: 2.6667vw 0; border: 0.2667vw solid #d9d9d9; border-width: 0.2667vw 0; overflow: hidden;}
.search .priceEncar .carSearchCon .searchList dt{clear: right; float: left; margin-bottom: 2.6667vw; color: #888; font-size: 4.2667vw; font-weight: 300;}
.search .priceEncar .carSearchCon .searchList dd{float: right; margin-bottom: 2.6667vw; color: #333; font-size: 4.2667vw; font-weight: 300;}
.search .priceEncar .carSearchCon .notiList{padding-top:2.6667vw;}
.search .priceEncar .carSearchCon .notiList li{color: #888;}
.search .priceEncar .carSearchCon .btnArea{margin-top: 2.6667vw;}
.search .priceEncar .price{padding: 2.6667vw 5.0667vw 2.6667vw 5.0667vw; margin-top: 5.8667vw; background: #eff3f8; border-radius: 2.1333vw;}
.search .priceEncar .price .regular{padding-bottom: 2.6667vw; overflow: hidden;}
.search .priceEncar .price .regular dt{float: left; color: #333; font-size: 4.2667vw; font-weight: 500;}
.search .priceEncar .price .regular dd{float: right; color: #2962c2; font-size: 4.2667vw;}
.search .priceEncar .price .minMax{overflow: hidden;}
.search .priceEncar .price .minMax dt{float: left; margin-right: 3.7333vw; color: #888; font-weight: 500; line-height: 5.3333vw; letter-spacing: -0.22vw;}
.search .priceEncar .price .minMax dd{float: left; color: #333; font-size: 4.0000vw; font-weight: 500; line-height: 5.3333vw;  letter-spacing: -0.22vw;}
.search .priceEncar .price .minMax dd:nth-child(2){position: relative; padding-right: 4.9333vw;}
.search .priceEncar .price .minMax dd:nth-child(2):after{content:''; position: absolute; right: 2.2667vw; top: 50%; transform: translateY(-50%); width: 0.2667vw; height: 2.9333vw; background: #a0a0a0;}
.search .priceEncar .priceEncarList .notiList{margin-bottom: 2.6667vw;}
.search .priceEncar .priceEncarList { width: 100vw; margin-left:-8vw; padding:2.6667vw 8vw 0; border-top: 2.6667vw solid #f5f5f5;}
.search .priceEncar .priceEncarList > ul li {padding:2.6667vw 0; border-top: 0.2667vw solid #eee;}
.search .priceEncar .priceEncarList > ul li:first-child { padding-top:0; border-top:none;}
.search .priceEncar .priceEncarList > ul li a{display: block; overflow: hidden;}
.search .priceEncar .priceEncarList > ul li a div{float: left; margin-right: 5.0667vw; border: 0.2667vw solid #eee; border-radius: 0.5333vw; overflow: hidden;}
.search .priceEncar .priceEncarList > ul li a div img{width: 20.0000vw; height: 20.0000vw;}
.search .priceEncar .priceEncarList > ul li a p{float: left; margin-top: -0.2667vw; width:58.1333vw; color: #888; font-weight: 300;}
.search .priceEncar .priceEncarList > ul li a p em{display: block; padding: 3.4667vw 0 0.2667vw 0; color: #333; font-size: 4.2667vw; font-weight: 400;}
.search .priceEncar .priceEncarList > ul li a p span{display: block; color: #2962c2;}
.search .priceEncar .priceEncarList > ul li a p span strong{color: #2962c2; font-size: 4.2667vw;}
.search .priceEncar .priceEncarList .btnArea{margin-top: 2.6667vw;}
.search .priceEncar .carInfoPrice{padding-bottom: 2.6667vw;}

/* priceCarmanager */
.search .priceCarmanager .carManagerCon { margin-left:-8.00vw; width:100vw; padding:2.6667vw 8.00vw 0; border-top:2.6667vw solid #f5f5f5;}
.search .priceCarmanager .carManagerCon .avrBox { margin-bottom:2.6667vw; height:9.8667vw; text-align:center; border-radius:2.0000vw; background:#f5f5f5;}
.search .priceCarmanager .carManagerCon .avrBox dl { overflow: hidden; display:inline-block; }
.search .priceCarmanager .carManagerCon .avrBox dl dt{float: left; margin-right:2.6667vw; color: #888; font-weight: 500; line-height:9.8667vw; letter-spacing: -0.22vw;}
.search .priceCarmanager .carManagerCon .avrBox dl dd{float: left; color: #333; font-size:4.2667vw; font-weight: 500; line-height:9.8667vw;  letter-spacing: -0.22vw;}
.search .priceCarmanager .carManagerCon .avrBox dl dd:nth-child(2){position: relative; padding-right:5.3333vw;}
.search .priceCarmanager .carManagerCon .avrBox dl dd:nth-child(2):after{content:''; position: absolute; right: 2.2667vw; top: 50%; transform: translateY(-50%); width: 0.2667vw; height:2.9333vw; background: #a0a0a0;}
.search .priceCarmanager .carManagerCon .searchIdx { margin-bottom:4.00vw; font-size:4.2667vw; font-weight:300; color:#333; font-weight:500;}
.search .priceCarmanager .carManagerCon .searchIdx > span { color:#333333; font-weight:300;}
.search .priceCarmanager .carManagerCon .searchIdx > em { color:#2962c2;}
.search .priceCarmanager .carManagerCon .carList { margin-top:2.6667vw}
.search .priceCarmanager .carManagerCon .dataNone {margin-top:26.6667vw;}
.search .priceCarmanager .carManagerCon .dataNone .subTxt { margin-top:4.0000vw; font-size:3.7333vw; line-height:5.0667vw; font-weight:300;}
.search .priceCarmanager .carManagerCon .dataNone .btnArea { margin-top:26.6667vw;}

/* priceCarmart */
.search .priceCarmart .carmartCon { margin-left:-8.00vw; width:100vw; padding:0 8.00vw 2.6667vw; border-top:2.6667vw solid #f5f5f5;}
.search .priceCarmart .carmartCon h3 { padding:2.6667vw 0; font-size:4.2667vw; color:#333333; font-weight:400;}
.search .priceCarmart .carmartCon .priceGraph{position: relative;}
.search .priceCarmart .carmartCon .priceGraph p{position: absolute; left: -3vw; top: 0.1333vw;}
.search .priceCarmart .carmartCon .priceGraph p img{width: 2.5333vw; height: 11.0667vw;}
.search .priceCarmart .dataNone { margin-left:-8.00vw; width:100vw; padding:18.6667vw 8.00vw 0; border-top:2.6667vw solid #f5f5f5;}
.search .priceCarmart .dataNone .subTxt { margin-top:4.0000vw; font-size:3.7333vw; line-height:5.0667vw; font-weight:300;}
.search .priceCarmart .dataNone .btnArea { margin-top:26.6667vw;}

/* search common */
.searchPoint{width: 100vw; margin: 7.0667vw 0 0 -8vw; padding: 0 8vw 2.6667vw 8vw; border-bottom: 2.6667vw solid #f5f5f5;}
.search .searchPoint strong{display: block; color: #333; font-size: 4.2667vw; font-weight: 400; text-align: center;}
.search .searchPoint strong em{color: #2962c2;}
.search .searchPoint dl{height: 17.6000vw; margin: 2.6667vw 0; padding: 0 5.3333vw 0 15.2000vw; overflow: hidden;}
.search .searchPoint dl{background: url('../../assets/img/dealerInfo/icon_lounge.png') no-repeat 5.0667vw 50% #eff3f8; background-size: 6.6667vw;}
.search .searchPoint dl{background: url('../../assets/img/dealerInfo/icon_giftbox.png') no-repeat 6.1333vw 50% #eff3f8; background-size: 5.6000vw 6.9333vw;}
.search .searchPoint dl dt{float: left; color: #333; font-size: 4.2667vw; line-height: 17.6000vw;}
.search .searchPoint dl dd{float: right; color: #2962c2; font-size: 4.2667vw; font-weight: 500; line-height: 17.6000vw;}
.searchPoint + .carSearchDate{padding-top: 2.6667vw;}
