@charset "UTF-8";

/* terms */
.terms .termsCon h3{padding: 4.5333vw 0 0 0; color: #333; font-size: 4.2667vw; font-weight: 500;}
.terms .termsCon .bulletList h4{padding-top: 5.3333vw;}

/* termsAgree */
.terms #container.termsAgree{padding-bottom: 42.6667vw; padding-bottom: calc(42.6667vw + env(safe-area-inset-bottom));}
.terms .termsAgree .bigTitle { margin-left:-8.00vw; padding:3.7333vw 8.00vw 0; width:100vw; font-size: 6.4000vw; font-weight:400; line-height:8.5333vw; letter-spacing: -0.16vw; background:#f5f5f5;}
.terms .termsAgree .bigTitle > span { display:inline-block; margin-bottom:0; font-size: 6.4000vw; font-weight:500;}
.terms .termsAgree .agreeList { margin:0 0 0 -8.00vw; padding:8.00vw 8.00vw 5.3333vw; width:100vw; background:#f5f5f5;}
.terms .termsAgree .agreeList .formChkbox.allChk .icon { top:50%; transform:translateY(-50%);}
.terms .termsAgree .agreeList .formChkbox.allChk .txt { font-size:4.80vw;}
.terms .termsAgree .agreeList ul { padding-top:2.6667vw; border-top:0.26667vw solid #d9d9d9;}
.terms .termsAgree .mbsType { margin-top:5.3333vw; }
.terms .termsAgree .mbsType dt { padding-bottom:2.6667vw; font-size:4.0000vw; font-weight:500;}
.terms .termsAgree .mbsType dd { font-size:4.0000vw; }
.terms .termsAgree .mbsType dd + dt { padding-top:5.3333vw;}
.terms .termsAgree .inquiryCont > h4 { margin-top:5.3333vw; font-size:4.8000vw; font-weight:300;}
.terms .termsAgree .inquiryCont > h4:first-child { margin-bottom:2.6667vw;}
.terms .termsAgree .inquiryCont fieldset > .fieldList dt { width:29.3333vw; }
.terms .termsAgree .inquiryCont fieldset > .fieldList dd { width:54.6667vw;}
.terms .termsAgree .inquiryCont fieldset > .fieldList dd p.error,
.terms .termsAgree .inquiryCont fieldset > .fieldList dd p.correct { margin-left:-29.3333vw; }

#termsAgree .bottomArea{background: #fff;}
