@charset "utf-8";

/* .checkListWrap .banklst.type{padding-bottom:4px}
.checkListWrap > ul > li > .banklst.type{ padding:16px 16px 0 16px;}
.checkListWrap .banklst ul li{border:0;margin:0;overflow:inherit}
.checkListWrap .banklst ul .bInfo { position:relative; padding-left:40px;}
.checkListWrap .banklst ul .bInfo .logo { position:absolute; left:0; top:0; width:32px; height:32px;} */
