@charset "utf-8";

.txbtn{display:inline-block;font-size:14px;font-weight:500;color:var(--color-black)}
.txbtn .icon{display:inline-block;vertical-align:middle}
.txbtn .icon.arr{width:16px;height:16px;margin-top:-2px;background:url(../../img/cms2.0/common/icon_arrowright.png) no-repeat;background-size:100%}

.formBox.unit em{align-self: flex-end;margin-left:4px}

.bankInfoList.boxType2 p.topDate{margin-bottom:8px;font-size:12px;color:#767676}
.bankInfoList.boxType2 ul{ padding:16px; border-radius:8px; background:#f8f8f8}
.bankInfoList.boxType2 ul li + li { margin-top:4px;}
.bankInfoList.boxType2 ul li { line-height:20px;}
.bankInfoList.boxType2 ul li > span { font-size:14px; color:#767676}
.bankInfoList.boxType2 ul li > em { font-size:14px;}
.bankInfoList.boxType2 ul li > em.txt { font-size:12px; color:#919191}

.checkListWrap ul li dt.cname{line-height:1.5;font-size:15px;font-weight:500;color:#222}
.checkListWrap dd.banklst.type{padding-bottom:4px}
.checkListWrap dd.banklst ul li{border:0;margin:0;overflow:inherit}
.checkListWrap dd.banklst .num{display:block;margin-top:2px;color:#767676}
.checkListWrap dd.banklst .price{margin-top:8px;text-align:right;color:#555}
.checkListWrap dd.banklst .price .sbtn{margin:-4px 0 0 4px}
.checkListWrap dd.banklst .price .wo{margin-left:4px;color:#222;font-size:16px;font-weight:700}
.checkListWrap dd.banklst .cancel{border:0;padding:0;position:absolute;right:8px;top:8px}
.checkListWrap dd.banklst .cancel .icon{margin:0}
.checkListWrap .infoset{margin-top:18px !important;border-top:1px solid #e8e8e8 !important;border-radius:0}
.checkListWrap .infoset .accordionList{width:auto;margin-left:0}
.checkListWrap .infoset .acc_title{display:flex;justify-content:space-between;height:48px;line-height:48px;padding:0;border-bottom:0;padding-right:26px}
.checkListWrap .infoset .acc_title>b{font-size:14px;color:#555}
.checkListWrap .infoset .acc_title .txt{font-weight:500;color:#222}
.checkListWrap .infoset .acc_title .txt.eor{color:#d02d18}
.checkListWrap .infoset .acc_title:after{width:16px;height:16px;right:0}
.checkListWrap .infoset .accContent{position:relative;background-color:#f8f8f8;left:calc(-50vw + 50%);width:100vw;padding:16px  34px;border-bottom:0;margin-bottom:-4px}
.checkListWrap .infoset .msslstSet .mlst{font-size:14px}
.checkListWrap .infoset .msslstSet .mlst li{display:flex;justify-content: space-between}
.checkListWrap .infoset .msslstSet .mlst li + li{margin-top:4px}
.checkListWrap .infoset .msslstSet .mlst li span{color:#767676}
.checkListWrap .infoset .msslstSet .mlst li strong{font-weight:500;color:#222}
.checkListWrap .infoset .msslstSet .caubx{margin-top:16px;padding-top:16px;border-top:1px solid #e8e8e8;text-align:center}
.checkListWrap .infoset .msslstSet .caubx .tit{font-weight:500;font-size:15px;color:#222}
.checkListWrap .infoset .msslstSet .caubx .eor{margin-top:4px;color:#d02d18}
.checkListWrap .infoset .msslstSet .caubx .bulletWrap{margin-top:16px;text-align:left}
.checkListWrap p.topDate{margin-bottom:8px;font-size:12px;color:#919191}

.accordionList.notiList.topLine{padding-top:8px}
.accordionList.notiList.topLine:before{left:calc(-50vw + 50%)}
.accordionCheck .showbox{display:none}

/* custome */
:root{
    --color-black:#222;
    --color-red:#d02d18;
    --color-grey:#767676;
    /* 반복적으로 쓰이는 간격값 */
    --cm-mg-small:8;
    --cm-mg-base:24;
    --cm-mg-base2:16;
    /* //반복적으로 쓰이는 간격값 */
    --cm-mg-topLine:32; /* 상단에 8px 회색 라인이 있을경우 */
}

.formField label.sectTit{display:block}
.formField .sectTit{margin-bottom:calc(var(--cm-mg-small)*1px)}
.formField .formBox + .sectTit{margin-top:calc(var(--cm-mg-base)*1px)}
.formField .formBox + .formBox{margin-top:calc(var(--cm-mg-small)*1px)}
.formField .bulletWrap{margin-top:calc(var(--cm-mg-base2)*1px)}

.jibgeumForm{margin-top:calc(var(--cm-mg-base)*1px)}
.jibgeumForm.topLine{padding-top:calc(var(--cm-mg-topLine)*1px)}
.jibgeumForm.topLine.type{padding-top:calc(var(--cm-mg-base)*1px)}
.jibgeumForm:first-of-type{margin-top:0}
.jibgeumForm .contTit.type{margin-bottom:calc(var(--cm-mg-small)*1px) !important}
.jibgeumForm .tabRadio{margin-top:24px}
.jibgeumForm .bankMemo{justify-content:flex-end;margin-top:calc(var(--cm-mg-base)*1px);margin-bottom:18px}
.jibgeumForm .accordionList.type02{margin-top:calc(var(--cm-mg-small)*1px)}
.jibgeumForm .accordionList.type02 > li .acc_title:after{display:block;width:16px;height:16px;background-image:url(../../img/cms2.0/common/icon_arrowdown.png)}
.jibgeumForm .accordionList.type02 li .acc_title.acc_open:after{background-image:url(../../img/cms2.0/common/icon_arrowup.png)}
.jibgeumForm .checkListWrap{margin-top:calc(var(--cm-mg-small)*1px)}
.jibgeumForm .tableWrap{margin-bottom:calc(var(--cm-mg-base)*1px)}

.jibgeumForm ~ .accordionList.notiList,
.jibgeumForm .bankInfoList.boxType2{margin-top:40px}
.jibgeumForm .bankInfoList + .checkListWrap{margin-top:32px}

.jibgeumForm .formWrap + .inpWrap{margin-top:10px}