@charset "utf-8";

/* Reset */
@font-face {
  font-family: 'NanumGothic';
  font-style: normal;
  font-weight: 400;
  src: url(http://fonts.gstatic.com/ea/nanumgothic/v5/NanumGothic-Regular.eot);
  src: url(http://fonts.gstatic.com/ea/nanumgothic/v5/NanumGothic-Regular.eot?#iefix) format('embedded-opentype'),
       url(http://fonts.gstatic.com/ea/nanumgothic/v5/NanumGothic-Regular.woff2) format('woff2'),
       url(http://fonts.gstatic.com/ea/nanumgothic/v5/NanumGothic-Regular.woff) format('woff'),
       url(http://fonts.gstatic.com/ea/nanumgothic/v5/NanumGothic-Regular.ttf) format('truetype');
}

html,body{width:100%;height:100%}
html{overflow-y:scroll}
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,form,fieldset,p,button{margin:0;padding:0}
body,h1,h2,h3,h4,input,button{font-family:NanumGothic,'나눔고딕',ngttf,ngeot,dotum,'돋움',sans-serif;font-size:14px; color:#333333; font-weight:normal;}
body{background-color:#fff;text-align:left;*word-break:break-all;-ms-word-break:break-all}
img,fieldset,iframe{border:0 none}
li{list-style:none}
input, select, textarea, label ,button {vertical-align:middle;font:14px/1.5 NanumGothic,'나눔고딕',ngttf,ngeot,dotum,'돋움',sans-serif}
label {cursor:pointer}
img{vertical-align:top}
i,em,address{font-style:normal}
label,button{cursor:pointer}
button{margin:0;padding:0}
a{color:#333333;text-decoration:none}
a:hover{color:#258ce7;text-decoration:none;}
button *{position:relative}
button img{left:-3px;*left:auto}
button {
    background: none repeat scroll 0 0 transparent;
    border: medium none;
    cursor: pointer;
    margin: 0;
    padding: 0;
}
html:first-child select{height:20px;padding-right:6px}
option{padding-right:6px}
hr{display:none}
legend{*width:0}
table{border-collapse:collapse;border-spacing:0}

/* Common */
.show{display:block}
.hide{display:none}
.blind,legend{display:block;overflow:hidden;position:absolute;top:-1000em;left:0}
.ir{display:block;overflow:hidden;position:relative;z-index:-1;height:11px;font-size:11px;white-space:nowrap}
.ellipsis{overflow:hidden;white-space:nowrap;text-overflow:ellipsis;-o-text-overflow:ellipsis}
.entry-title{display:none}
iframe{vertical-align:top}
.center button{ margin:0 auto;}


