@keyframes car-mov{
    to{
        transform: translate(0,-50%);
        opacity:1;
    }
}
@keyframes car-mov2{
    to{
        transform: translateX(0);
        opacity:1;
    }
}
@keyframes car-mov3{
    to{
        opacity:1;
        transform: translateX(0);
    }
}

@keyframes ball-clip-rotate{
    0%{transform: rotate(0deg)}
    50%{transform: rotate(180deg)}
    100%{transform: rotate(360deg)}
}

@keyframes movCar{
    0%{ background-position:0 0 }
    3.5%{ background-position:-100px 0 }
    7%{ background-position:-200px 0 }
    10.5%{ background-position:-300px 0 }
    14%{ background-position:-400px 0 }
    17.5%{ background-position:-500px 0 }
    21%{ background-position:-600px 0 }
    24.5%{ background-position:-700px 0 }
    28%{ background-position:-800px 0 }
    31.5%{ background-position:-900px 0 }

    35%{ background-position:-1000px 0 }
    38.5%{ background-position:-1100px 0 }
    42%{ background-position:-1200px 0 }
    45.5%{ background-position:-1300px 0 }
    49%{ background-position:-1400px 0 }
    52.5%{ background-position:-1500px 0 }
    56%{ background-position:-1600px 0 }
    59.5%{ background-position:-1700px 0 }
    63%{ background-position:-1800px 0 }
    66.5%{ background-position:-1900px 0 }

    70%{ background-position:-2000px 0 }
    73.5%{ background-position:-2100px 0 }
    77%{ background-position:-2200px 0 }
    80.5%{ background-position:-2300px 0 }
    84%{ background-position:-2400px 0 }
    87.5%{ background-position:-2500px 0 }
    91%{ background-position:-2600px 0 }
    94.5%{ background-position:-2700px 0 }
    98%{ background-position:-2800px 0 }
    100%{ background-position:-2900px 0 }
}