@import './mixin';
@import './keyframe';

// 공지사항, 이용약관, 이벤트 등
.noticeWrap {
    .listCont {
        padding-top: ptr(40);
        padding-bottom: ptr(40);
    }
}
/* 이용약관 */
.docWrap {
    .listCont {
        padding-top: ptr(60);
        padding-bottom: ptr(60);
    }
}
.pageList {
    li {
        border-bottom: ptr(2) solid #F1F1F1;
        a {
            display: block;
            width: 100%;
            height: 100%;
        }
    }
}
.listCont {
    width: 100%;
    @include inr('c');
    .tit {
        font-size: ptr(28);
        white-space: pre-line;
    }
    .desc {
        margin-top: ptr(10);
        * {
            font-size: ptr(26);
        }
        .new {
            margin-right: ptr(13);
            font-weight: 700;
            color: $fc_p;
        }
    }
}

/* 문의하기 */
.askWrap {
    padding-top: ptr(42);
}
.askTab {
    border-bottom: ptr(2) solid #F1F1F1;
    @include clearfix;
}
.askList {
    margin-top: ptr(54);
    .none {
        display: block;
        width: 100%;
        padding: 0 ptr(46);
        margin-top: ptr(268);
        font-size: ptr(32);
    }
    li {
        border-bottom: ptr(2) solid #F1F1F1;
    }
    .q,
    .a {
        padding: 0 ptr(46);
    }
    .q {
        display: block;
        width: 100%;
        padding-top: ptr(44);
        padding-bottom: ptr(44);
        text-align: left;
        background-color: #ffffff;
    }
    .a {
        display: none;
        min-height: ptr(390);
        padding-top: ptr(45);
        padding-bottom: ptr(45);
        background-color: #F8F8F8;
        pre {
            width: 100%;
            height: 100%;
            font-size: ptr(26);
        }
    }
    .date {
        font-size: ptr(24);
    }
    .para {
        margin: ptr(22) 0 ptr(12);
        font-size: ptr(28);
    }
    .state {
        display: inline-block;
        width: ptr(146);
        height: ptr(50);
        line-height: ptr(50);
        border: ptr(2) solid transparent;
        font-size: ptr(22);
        color: $fc_p;
        text-align: center;
        &.wait {
            background-color: #F1F4FF;
        }
        &.end {
            border-color: $fc_p;
        }
    }
}
.askWrite {
    padding: ptr(70) ptr(36) ptr(140);
    .write {
        width: 100%;
        height: ptr(452);
        @include pos($p:relative);
        textarea {
            width: 100%;
            height: 100%;
            padding: ptr(55) ptr(48);
            border: ptr(2) solid #F1F1F1;
        }
        label {
            @include pos($p:absolute,$l:ptr(48),$t:ptr(55));
            font-size: ptr(26);
            color: #C1C1C1;
        }
        textarea:focus,
        textarea:valid {
            border-color: #222;
            & + label {
                display: none;
            }
        }
    }
    .date {
        display: block;
        margin-top: ptr(35);
        font-size: ptr(26);
        color: #777;
        em {
            color: #777;
        }
    }
}

// 이벤트
.evtList {
    @include inr('c');
    padding-bottom: ptr(174);
    &:not(.consult) {
        padding-top: ptr(52);
    }
    &.magazine {
        padding-left: ptr(58);
        padding-right: ptr(58);
    }
    .promoDesc {
        margin-top: ptr(77);
        &:first-child {
            margin-top: 0;
        }
    }
}
.eventBridge {
    padding: ptr(218) ptr(82) 0;
    h3 {
        width: ptr(236);
        margin: 0 auto;
    }
    ul {
        margin-top: ptr(92);
        li {
            margin-top: ptr(24);
        }
    }
    button {
        &.btn_xr {
            border-radius: ptr(10);
        }
    }
}

// 이벤트 상세
.ly_reply {
    background-color: #fff;
    &.btm {
        z-index: 9;
    }
    &.shw {
        box-shadow: 0 ptr(-10) ptr(20) 0 rgba(0, 0, 0, 0.23);
    }
}
.cmtSec {
    background-color: #F8F8F8;
    > div {
        @include inr('c');
        margin-top: ptr(20);
        background-color: #fff;
        &:first-child {
            margin-top: 0;
        }
        &.btm {
            padding: 0;
            background-color: transparent;
        }
    }
    .explain {
        padding: 0;
    }
    .comment {
        padding-top: ptr(68);
        padding-bottom: ptr(120);
    }
    .count {
        display: inline-block;
        font-weight: 500;
        font-size: ptr(34);
        i {
            display: inline-block;
            margin-left: ptr(8);
            font-weight: 700;
            @include wfn;
            color: $fc_p;
            letter-spacing: 0;
        }
    }
    .replyList {
        li {
            padding: ptr(51) 0 ptr(36);
            border-bottom: 1px solid #F1F1F1;
        }
        .desc {
            display: block;
            margin-bottom: ptr(30);
            pre {
                font-size: ptr(28);
                letter-spacing: ptr(-3);
            }
        }
        .my {
            display: flex;
            align-items: center;
            justify-content: space-between;
            .del {
                font-size: ptr(24);
                color: #6E6E6E;
                text-decoration: underline;
            }
        }
        .info {
            i {
                font-size: ptr(26);
                color: #9C9C9C;
                & + i {
                    @include pos($p:relative);
                    margin-left: ptr(18);
                    padding-left: ptr(18);
                    &:before {
                        content: '';
                        display: block;
                        width: 1px;
                        height: ptr(22);
                        @include pos($p:absolute,$l:0,$t:50%);
                        margin-top: ptr(-9);
                        background-color: #E0E0E0;
                    }
                }
            }
        }
    }
    .ico_reply {
        width: ptr(44);
        height: ptr(44);
        @include pos($p:absolute, $l:0, $t:ptr(6));
        @include icoSet;
        background-image: url($urlImg + 'ico_reply2.png');
    }
}

.cmt_submit {
    margin-top: 0;
    @include inr('c');
    padding-top: ptr(30);
    padding-bottom: ptr(30);
    background-color: #fff;
    z-index: 9;
    border-top: 1px solid #E3E3E3;
    >* {
        display: block;
    }
    .reBox {
        padding-right: ptr(120);
        @include pos($p:relative);
        textarea {
            overflow: hidden;
            display: block;
            width: 100%;
            padding: ptr(10) 0;
            font-size: ptr(28);
            resize: none;

            &:focus {
                &+label {
                    display: none;
                }
            }
        }
        label {
            @include pos($p:absolute, $l:0, $t:50%);
            transform: translateY(-50%);
            font-size: ptr(28);
            color: #9C9C9C;
        }
    }
    .send {
        @include pos($p:absolute, $r:0, $b:0);
        padding: ptr(8) ptr(29);
        text-align: center;
        font-size: ptr(26);
        border-radius: ptr(30);
        border: 1px solid transparent;
        border-color: $fc_p;
        color: $fc_p;
        &:disabled {
            border-color: #F6F6F6;
            background-color: #F6F6F6;
            color: #6E6E6E;
        }
    }
}

.evtBtn {
    padding: ptr(30) ptr(35);
    .btn_x {
        height: ptr(105);
    }
    .btn_area_half {
        li+li{
            margin-left: ptr(10);
        }
    }
}

.magazine,
.mgDetail {
    .promoDesc {
        margin-top: ptr(30);
        .desc {
            @include inr('c');
            padding-bottom: ptr(64);
            @include pos($p:absolute, $l:0, $r:0, $b:0);
            strong,
            p {
                color: #fff;
                white-space: pre-line;
            }
            strong {
                font-size: ptr(66);
                letter-spacing: ptr(-4);
                line-height: 1.2;
            }
        }
        .lbls {
            margin-bottom: ptr(22);
            > * {
                display: inline-block;
                vertical-align: middle;
            }
            i {
                margin-left: ptr(6);
                &:first-child {
                    margin-left: 0;
                }
            }
            .sort {
                padding: ptr(6) ptr(24) ptr(8);
                border-radius: ptr(24);
                letter-spacing: 0;
                @include wfn;
                font-weight: 500;
                font-size: ptr(22);
                color: #fff;
                background-color: $fc_p;
            }
            .new {
                width: ptr(34);
                height: ptr(34);
                line-height: ptr(34);
                @include wfn;
                font-weight: 800;
                font-size: ptr(18);
                text-align: center;
                color: $fc_p;
                background-color: #fff;
                text-transform: uppercase;
                border-radius: 50%;
                letter-spacing: 0;
            }
        }
    }
}

.consult {
    .consult_slct {
        padding: ptr(24) 0 ptr(12);
        text-align: center;
    }
    .slct {
        display: inline-block;
        padding-right: ptr(30);
        padding-left: ptr(38);
        @include pos($p:relative);
        border-radius: ptr(33);
        background-color: #fff;
        border: 1px solid #E6E6E6;
        &:after {
            content: '';
            display: inline-block;
            margin-top: ptr(-14);
            @include arr($ty:"arrow",$w:ptr(12),$h:ptr(12),$c:#000,$ro:135)
        }
        select {
            padding: ptr(14) 0;
            margin-right: ptr(8);
            font-weight: 700;
            font-size: ptr(26);
        }
    }
}

.evtDetail,
.mgDetail {
    .img {
        display: block;
        img {
            width: 100%;
            vertical-align: top;
        }
    }
    .promoDesc {
        margin-top: 0;
        .bnImg,
        .bnImg img {
            border-radius: 0;
        }
    }
}

.mgDetail {
    @include pos($p:fixed,$l:0,$r:0,$t:0);
    max-width: 768px;
    margin: 0 auto;
    & + #content {
        overflow: hidden;
        transform: translateZ(0);
    }
}