@import './mixin';
@import './keyframe';

// 메인
.ly_main {
    .wrap {
        max-width: 600px;
    }
    .btn_area_half {
        li {
            @include pos($p:relative);
            &:before {
                content: '';
                display: block;
                width: 1px;
                height: ptr(30);
                margin-top: ptr(-15);
                @include pos($p:absolute,$l:0,$t:50%);
                background-color: rgba(255,255,255,0.63);
            }
            &:first-child { 
                &:before {
                    display: none;
                }
            }
        }
        button {
            display: block;
            padding: ptr(33) 0;
            font-size: ptr(24);
            color: #fff;
            text-align: center;
        }
    }
    .wrap {
        .content {
            background-color: transparent;
            .img {
                display: block;

                img {
                    width: 100%;
                }
            }
        }
    }
}

// 메인개편
.mainWrap {
    background-color: #eee;
    .bnImg {
        display: block;
        img {
            width: 100%;
        }
    }
    >section {
        overflow: hidden;
        @include pos($p:relative);
        margin-top: ptr(14);
        padding: ptr(54) ptr(42) ptr(70);
        background-color: #fff;
        &:first-child {
            margin-top: 0;
        }
        &.mainTime {
            padding-top: ptr(96);
        }
        > h3 {
            margin-bottom: ptr(42);
            font-weight: 700;
            font-size: ptr(40);
            letter-spacing: ptr(-2);
            strong {
                color: #1D4CD8;
            }
        }
    }
    .mainSales {
        padding-bottom: ptr(127);
    }
    .mainPopular {
        > h3 {
            margin-bottom: 0;
        }
    }
}
.mainTime {
    .ico_search {
        @include pos($t:ptr(88));
        z-index: 800;
        transform: none;
        &.fix {
            @include pos($p:fixed,$t:ptr(44));
            background-color: rgba(255,255,255,0.7);
            border-radius: ptr(6);
            transition: top 0.6s ease-in-out;
        }
    }
    .tabType {
        padding: 0;
        margin-bottom: ptr(48);
    }
    .mtTab {
        .swiper-slide {
            opacity: 0;
            transition: opacity 0.5s ease-in-out;
            &-active {
                opacity: 1;
            }
        }
    }
    .rtList {
        font-size: 0;
        text-align: center;
        @include clearfix;
        li {
            float: left;
            width: 25%;
            padding-bottom: 25%;
            @include pos($p:relative);
            &:after {
                content: '';
                display: block;
                width: 134.25%;
                height: 134.25%;
                @include pos($p:absolute,$l:-16.625%,$t:-11.625%);
                @include icoSet;
                background-image: url($urlImg + 'bg_maintime_list.png');
            }
            &.ready {
                strong {
                    font-weight: 700;
                    font-size: ptr(26);
                    color: #1D4CD8;
                    text-decoration: underline;
                }
            }
            &.title {
                &:after {
                    opacity: 0;
                }
                strong {
                    font-weight: 700;
                    font-size: ptr(26);
                    color: #848484;
                }
            }
        }
        a {
            display: block;
            @include pos($p:absolute,$l:0,$r:0,$t:0,$b:0);
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            text-align: center;
            z-index: 1;
        }
        .logo,
        .event {
            display: block;
            margin: 0 auto;
        }
        .logo {
            width: 50%;
        }
        .event {
            width: 85.75%;
            img {
                width: 100%;
            }
        }
        strong {
            display: block;
            font-weight: 500;
            font-size: ptr(24);
        }
    }
    .moreButton {
        padding: ptr(26) 0 0;
    }
    .mtBtn {
        margin-bottom: ptr(48);
        @include clearfix;
        > li {
            float: left;
            margin-left: ptr(26);
            &:first-child {
                margin-left: 0;
            }
        }
        button {
            padding: 1px 0;
            font-weight: 500;
            font-size: ptr(30);
            color: #BABABA;
            border-bottom: 2px solid transparent;
            &.now {
                color: #222;
                border-color: #222;
            }
        }
    }
    .swiper-slide,
    .tabDesc {
        &.seeMore {
            .moreButton {
                button {
                    &:before {
                        content: '닫기';
                    }
                    &:after {
                        margin-top: ptr(-6);
                        transform: rotate(180deg);
                    }
                }
            }
        }
    }
    .more {
        display: none;
        .find {
            display: block;
            margin: ptr(20) 0;
            @include pos($p:relative);
            text-align: center;
            small {
                padding: 0 ptr(30);
                @include pos($p:relative);
                font-size: ptr(24);
                color: #B2B2B2;
                z-index: 1;
                background-color: #fff;
            }
            &:after {
                content: '';
                width: 100%;
                height: 1px;
                @include pos($p:absolute,$l:0,$t:50%);
                background-color: #EFEFEF;
            }
        }
    }
}
.mainFree {
    margin-top: ptr(28);
    .swiper-pagination {
        display: flex;
        width: calc(100% - 2rem);
        height: ptr(4);
        margin: ptr(22) auto 0;
        @include pos($p:static);
        background-color: rgba(34,34,34,0.14);
        .swiper-pagination-bullet {
            display: block;
            flex: 1;
            margin: 0;
            width: 100%;
            height: 100%;
            opacity: 0;
            font-size: 0;
            background-color: #222;
            border-radius: 0;
        }
        .swiper-pagination-bullet-active {
            opacity: 1;
        }
    }
    .swiper-slide {
        .desc {
            strong,
            p {
                opacity: 0;
                transition: all 0.8s ease-in;
            }
            strong {
                transform: translateX(10%);
            }
            p {
                transform: translateX(30%);
            }
        }
        &.swiper-slide-active {
            .desc {
                strong,
                p {
                    transform: translateX(0);
                    opacity: 1;
                }
            }
        }
    }
    .promoDesc {
        .bnImg {
            label {
                @include wfn;
                background-color: #222;
                letter-spacing: ptr(2);
            }
        }
    }
}
.mainPopular {
    text-align: right;
    *:not(.day) {
        text-align: left;
    }
    .day {
        // @include pos($p:absolute,$r:ptr(42),$t:ptr(75));
        display: inline-block;
        margin: ptr(10) 0 ptr(30);
        font-size: ptr(22);
        color: #A7A7A7;
        code {
            color: #A7A7A7;
            @include wfn;
            letter-spacing: 0;
        }
    }
    .popularList {
        li {
            margin-top: ptr(10);
            &:first-child {
                margin-top: 0;
            }
        }
        a {
            display: flex;
            align-items: center;
            padding: ptr(25) ptr(38);
            background-color: #F8F8F8;
            border-radius: ptr(11);
            font-weight: 500;
            font-size: ptr(28);
            code {
                margin-top: ptr(4);
                margin-right: ptr(26);
                @include wfn;
                font-weight: 700;
                font-size: ptr(30);
                color: #1D4CD8;
            }
        }
    }
}
.mainSales {
    .swiper-container {
        overflow: visible;
    }
    .swiper-wrapper {
        align-items: center;
    }
    .swiper-slide {
        padding: 0 ptr(10);
        .sales_desc {
            padding-top: ptr(25);
            padding-bottom: ptr(32);
            // transition: all 0.4s ease-in-out;
        }
        &-active {
            .sales_desc {
                padding-top: ptr(53);
                padding-bottom: ptr(60);
            }
        }
    }
    .swiper-pagination {
        width: auto;
        @include pos($l:auto,$b:auto,$r:0,$t:ptr(-70));
        font-size: 0;
    }
    .swiper-pagination-bullets {
        .swiper-pagination-bullet {
            width: ptr(10);
            height: ptr(10);
            margin: 0 ptr(7);
            opacity: 1;
            background-color: #E6E6E6;
            border-radius: 50%;
            &-active {
                background-color: $fc_p;
            }
        }
    }
    
}

// 검색
.searchWrap {
    display: none;
    padding: 0 ptr(42);
    &.show {
        display: block;
    }
    section {
        @include pos($p:relative);
        padding: ptr(46) 0;
        border-top: 1px solid #f2f2f2;
        &:first-child {
            border-top: 0;
        }
    }
    h4 {
        margin-bottom: ptr(40);
    }
    li {
        > a {
            display: flex;
            align-items: center;
            justify-content: space-between;
        }
    }
    .not_found {
        display: block;
        font-size: ptr(28);
        color: #9C9C9C;
    }
}
.searchDefault {
    h4 {
        font-weight: 700;
        font-size: ptr(32);
        strong {
            color: #1D4CD8;
        }
    }
    .del_all {
        @include pos($p:absolute,$r:0,$t:ptr(58));
        font-weight: 500;
        font-size: ptr(22);
        color: #9C9C9C;
    }
    .hashList {
        margin-bottom: ptr(12);
        font-size: 0;
        li {
            display: inline-block;
            vertical-align: middle;
            margin: 0 ptr(10) ptr(14) 0;
        }
        a {
            padding: ptr(8) ptr(28) ptr(10);
            font-size: ptr(24);
            border-radius: ptr(30);
            border: 1px solid #EBEBEB;
            &:before {
                content: '#';
                margin-right: ptr(4);
            }
        }
    }
    .recentList {
        li {
            margin-top: ptr(24);
            &:first-child {
                margin-top: 0;
            }
        }
        a {
            font-weight: 500;
            font-size: ptr(30);
        }
        .del {
            display: inline-block;
            @include pos($p:static);
            transform: none;
        }
    }
}
.searchKeyword {
    &.showDetail {
        overflow-x: hidden;
        overflow-y: scroll;
        width: 100%;
        height: calc(100vh - 4.4rem);
        // @include iscroll($w:100%,$h:calc(100vh - 4.4rem));
        > section {
            overflow-x: hidden;
            overflow-y: scroll;
            height: 100%;
            padding-bottom: ptr(110);
        }
        .keywordList {
            overflow: visible;
            max-height: none;
        }
        .moreButton {
            padding: ptr(20) 0;
            button {
                &:before {
                    content: '닫기';
                }
                &:after {
                    margin-top: ptr(-6);
                    transform: rotate(180deg);
                }
            }
        }
    }
    section {
        &.hide {
            display: none;
        }
        .not_found {
            &:first-child {
                padding: ptr(105) 0;
                text-align: center;
            }
        }
    }
    h4 {
        font-weight: 500;
        font-size: ptr(26);
        color: #9C9C9C;
    }
    .moreButton {
        padding: ptr(40) 0 0;
        &.endpoint {
            @include boxShadow($x:0, $y:-10, $blur:20, $color:rgba(0, 0, 0, 0.3))
        }
    }
    .keywordList {
        overflow: hidden;
        max-height: ptr(440);
        li {
            overflow: hidden;
            padding: ptr(15) 0;
            &:first-child {
                padding-top: 0;
            }
            &.slideFade {
                height: 0;
                opacity: 0;
                padding: 0;
                visibility: hidden;
                // transition: height 0.6s ease-in-out, padding 0.6s ease-in-out, opacity 0.8s ease-in-out;
                transition: all 0.6s ease-in-out;
            }
            &.show {
                height: ptr(76);
                padding: ptr(15) 0;
                opacity: 1;
                visibility: visible;
            }
        }
        a {
            strong {
                @include elip('line1');
                max-width: 85%;
                font-weight: 700;
                font-size: ptr(30);
            }
            span {
                font-size: ptr(30);
            }
            code {
                @include wfn;
                letter-spacing: 0;
            }
        }
    }
}


/* 세일즈 컨설턴트 신규 등록 */
.salesSubmit {
    padding: ptr(57) ptr(54) 0;
    .addSales {
        margin: ptr(46) 0 ptr(106);
        text-align: center;
        .sales {
            padding: ptr(14) ptr(44) ptr(14) ptr(47);
            font-weight: 500;
            font-size: ptr(26);
            color: $fc_p;
            border-radius: ptr(35);
            border: 1px solid $fc_p;
            &:after {
                content: '';
                display: inline-block;
                width: ptr(18);
                height: ptr(18);
                margin-left: ptr(16);
                @include icoSet;
                background-image: url($urlImg + 'sales_add.png');
            }
        }
    }
    .desc {
        h3 {
            font-size: ptr(48);
            letter-spacing: ptr(-4);
        }
        p {
            margin: ptr(7) 0 ptr(70);
            font-size: ptr(24);
            color: #6E6E6E;
            strong {
                color: $fc_p;
            }
        }
    }
    article {
        margin-top: ptr(50);
        h4 {
            @include pos($p:relative);
            padding-bottom: ptr(15);
            margin-bottom: ptr(32);
            font-weight: 500;
            font-size: ptr(28);
            border-bottom: 2px solid #222;
            .erase {
                width: ptr(54);
                height: ptr(54);
                @include pos($p:absolute,$r:0,$b:ptr(15));
                @include icoSet;
                background-image: url($urlImg + 'sales_erase.png');
            }
        }
        ul {
            padding: 0 ptr(16);
        }
        li {
            margin-top: ptr(10);
            .error {
                display: none;
                margin: ptr(15) 0 ptr(20);
                &.show {
                    display: block;
                }
            }
        }
        .ip_box {
            &.focus{
                border-color: #222;
            }
        }
    }
}
/* 세일즈 체크박스 */
.chkDesc {
    margin: ptr(32) 0 ptr(40);
    padding: 0 ptr(16);
}
.chkBox {
    display: inline-block;
    > span {
        display: block;
        font-size: 0;
        * {
            display: inline-block;
            vertical-align: middle;
        }
    }
    .chkBtn {
        margin-left: ptr(13);
        font-size: ptr(22);
        color: #808080;
    }
    label {
        width: ptr(34);
        height: ptr(34);
        background-color: #E8E8E8;
        @include icoSet;
    }
    input:checked + label {
        background-color: $fc_p;
        background-image: url($urlImg + 'chkbox_checked.png');
    }
    .error {
        margin-left: ptr(45);
        margin-top: ptr(8);
        &.checked {
            display: none;
        }
    }
}