@import './mixin';
@import './keyframe';

// 마이페이지
.myPage {
    .login,
    .logout {
        display: inline-block;
        @include wfn;
        font-weight: 700;
        font-size: ptr(30);
        letter-spacing: ptr(2);
        text-decoration: underline;
    }
    .inquiry {
        .tel {
            display: inline-block;
            @include pos($p:relative);
            @include wfn;
            letter-spacing: ptr(3);
            &:after {
                content: '';
                display: inline-block;
                vertical-align: middle;
                border: 1px solid transparent;
                border-radius: 50%;
                @include pos($p:absolute,$r:0,$t:50%);
                background-repeat: no-repeat;
                background-position: 50% 50%;
            }
        }
        p {
            letter-spacing: 0;
            font-size: ptr(24);
        }
        .time {
            @include wfn;
            font-size: ptr(26);
            letter-spacing: 0;
        }
        .list {
            font-size: 0;
            li {
                display: inline-block;
                vertical-align: middle;
                @include pos($p:relative);
                & + li {
                    margin-left: ptr(20);
                    padding-left: ptr(20);
                    &:before {
                        content: '';
                        display: inline-block;
                        width: 1px;
                        height: ptr(20);
                        margin-top: ptr(-8);
                        @include pos($p:absolute, $l:0, $t:50%);
                        background-color: #fff;
                    }
                }
            }
            a {
                font-size: ptr(22);
            }
        }
    }
}

// 마이페이지 알림설정
.noticeSet {
    margin-top: ptr(144);
    > h3 {
        font-size: ptr(46);
        letter-spacing: ptr(-3);
    }
    > p {
        margin: ptr(13) 0 ptr(65);
        font-size: ptr(24);
        color: #C1C1C1;
    }
    > section {
        border-bottom: 1px solid #F1F1F1;
        padding: ptr(50) ptr(63) ptr(54) 0;
    }
    .desc {
        @include pos($p:relative);
        > * {
            display: block;
        }
        > strong {
            font-size: ptr(28);
        }
        > span {
            margin-top: ptr(17);
            font-size: ptr(22);
            color: #C1C1C1;
        }
        .switch {
            width: ptr(82);
            height: ptr(20);
            border-radius: ptr(16);
            @include pos($p:absolute,$r:0,$t:ptr(8));
            input {
                display: block;
                width: 100%;
                height: 100%;
                border-radius: ptr(16);
                @include pos($p:absolute,$l:0,$r:0,$t:0,$b:0);
                background-color: #C1C1C1;
                &:checked {
                    background-color: $fc_p;
                    + .circle {
                        @include pos($l:auto,$r:0);
                        .off {
                            display: none;
                        }
                        .on {
                            display: block;
                        }
                    }
                }
            }
            .circle {
                display: flex;
                width: ptr(48);
                height: ptr(48);
                margin-top: ptr(-24);
                @include pos($p:absolute,$l:0,$t:50%);
                background-color: #fff;
                border-radius: 50%;
                -webkit-box-shadow: 0px ptr(3) ptr(9) 0 rgba(0, 0, 0, 0.5);
                box-shadow: 0px ptr(3) ptr(9) 0 rgba(0, 0, 0, 0.5);
                align-items: center;
                justify-content: center;
                .off,
                .on {
                    display: block;
                }
                .off {
                    width: ptr(4);
                    height: ptr(22);
                    border-radius: ptr(4);
                    background-color: #C1C1C1;
                }
                .on {
                    display: none;
                    width: ptr(20);
                    height: ptr(20);
                    border: ptr(4) solid $fc_p;
                    border-radius: 50%;
                }
            }
        }
    }
    .verInfo {
        margin: ptr(50) 0 0;
        padding-right: ptr(63);
        dl {
            display: flex;
            align-items: center;
            justify-content: space-between;
            dt {
                font-size: ptr(28);
                i {
                    margin-left: ptr(10);
                    @include wfn;
                    color: #C1C1C1;
                }
            }
            dd {
                font-size: ptr(24);
                color: $fc_p;
                button {
                    font-size: ptr(24);
                    color: $fc_p;
                    text-decoration: underline;
                }
            }
        }
    }
}

// 로그인 전
.loginBefore {
    width: 100%;
    height: 100%;
    margin: 0 auto;
    @include pos($p:fixed,$l:0,$r:0,$t:0,$b:0);
    padding: ptr(210) 0 ptr(62) ptr(64);
    background: url($urlImg + 'mypage_bg.png') no-repeat left top;
    background-size: cover;
    max-width: 768px;
    * {
        color: #fff;
    }
    h3 {
        font-size: ptr(56);
        letter-spacing: ptr(-5);
    }
    .login {
        margin: ptr(72) 0 0;
    }
    .inquiry {
        @include pos($p:absolute,$l:ptr(64),$b:ptr(220));
        .tel {
            padding-right: ptr(75);
            font-size: ptr(50);
            &:after {
                width: ptr(57);
                height: ptr(57);
                margin-top: ptr(-28.5);
                border-color: #000;
                background-color: #000;
                background-image: url($urlImg + 'inquiry_phone1.png');
                background-size: ptr(20) ptr(20);
            }
        }
        p {
            margin: ptr(3) 0 ptr(30);
            opacity: 0.7;
        }
    }
}
// 로그인 후
.mpMenu {
    @include inr('c');
    background-color: #F9F9F9;
    @media all and (max-width:768px) {
        background-color: #fff;
    }
    .menuSet,
    .inquiry {
        border-top: 1px solid #F1F1F1;
    }
    .myInfo {
        padding: ptr(160) 0 ptr(25);
        .tit {
            font-weight: 500;
            font-size: ptr(52);
            letter-spacing: ptr(-3);
        }
        .email {
            display: block;
            // margin: ptr(10) 0 ptr(60);
            letter-spacing: ptr(2);
            font-size: ptr(28);
            @include wfn;
            color: #9C9C9C;
        }
        .sns {
            display: inline-flex;
            align-items: center;
            margin-left: ptr(8);
            vertical-align: text-bottom;
            .ico_sns {
                position: relative;
                width: ptr(46); height: ptr(46);
                border-radius: ptr(50);
                margin-right: ptr(10);
                background-color: #F2F2F2;
                &:after {
                    content:'';
                    width: ptr(20); height: ptr(20);
                    @include bgf;
                    @include pos(absolute,50%,auto,50%,auto);
                    transform: translate(-50%, -50%);
                }
                &.ico_kakao::after {
                    background-image: url($urlImg + 'ico_ko.png');
                }
                &.ico_naver::after {
                    background-image: url($urlImg + 'ico_nv.png');
                }
            }
            p {
                font-size: ptr(26);
                font-weight: 700;
                letter-spacing: 0;
                color: #979797;
                font-family: 'Nunito Sans', sans-serif;
            }
        }
        
        .infoList {
            margin-top: ptr(60);
            font-size: 0;
            li {
                display: inline-block;
                vertical-align: middle;
                margin-left: ptr(54);
                &:first-child {
                    margin-left: 0;
                }
            }
            a {
                display: block;
                font-weight: 500;
                font-size: ptr(26);
            }
            .count {
                display: block;
                @include pos($p:relative);
                @include wfn;
                font-weight: 400;
                font-size: ptr(72);
                color: $fc_p;
            }
            .ask {
                padding-right: ptr(16);
                &:after {
                    content: '';
                    display: block;
                    width: ptr(8);
                    height: ptr(8);
                    @include pos($p:absolute,$r:0,$t:ptr(20));
                    border-radius: 50%;
                    background-color: $fc_p;
                    opacity: 0;
                }
                &.new {
                    &:after {
                        opacity: 1;
                    }
                }
            }
        }
    }
    .menuSet {
        padding: ptr(56) 0;
        .tit {
            font-weight: 500;
            font-size: ptr(36);
        }
        .list {
            li {
                margin-top: ptr(35);
            }
            a {
                font-size: ptr(30);
                color: #777;
            }
        }
        .recCode {
            font-size: 0;
            * {
                display: inline-block;
                vertical-align: middle;
                font-size: ptr(30);
            }
            span {
                @include pos($p:relative);
                margin-right: ptr(22);
                padding-right: ptr(22);
                color: #777;
                &:after {
                    content: '';
                    display: block;
                    width: 1px;
                    height: ptr(20);
                    margin-top: ptr(-10);
                    @include pos($p:absolute,$r:0,$t:50%);
                    background-color: #C1C1C1;
                }
            }
            code {
                @include wfn;
                font-weight: 700;
                color: $fc_p;
            }
        }
    }
    .inquiry {
        padding: ptr(54) 0 ptr(200);
        .tel {
            padding-right: ptr(100);
            @include wfn;
            font-size: ptr(65);
            font-weight: 800;
            &:after {
                width: ptr(78);
                height: ptr(78);
                margin-top: ptr(-39);
                border-color: #E2E2E2;
                background-image: url($urlImg + 'inquiry_phone2.png');
                background-size: ptr(26) ptr(26);
            }
        }
        p {
            line-height: 1.9;
            margin: ptr(16) 0 ptr(50);
            color: #777;
        }
        .time {
            color: #777;
        }
        .logout {
            color: $fc_p;
        }
    }
    .ipWrap {
        margin-top: ptr(147);
        &.password {
            .ipJoin {
                &:last-child {
                    margin-bottom: ptr(130);
                }
            }
        }
        &.phoneReset {
            .ipJoin {
                &:last-child {
                    margin-bottom: ptr(130);
                }
            }
        }
    }
    .mpConfirm { // 휴대폰번호 재설정, 본인인증
        margin-top: ptr(147);
        h4 {
            font-weight: 500;
            font-size: ptr(34);
        }
        p {
            margin: ptr(8) 0 ptr(26);
            font-size: ptr(26);
        }
        li {
            @include pos($p:relative);
            margin-top: ptr(17);
            padding-left: ptr(20);
            font-size: ptr(24);
            color: #9C9C9C;
            &:first-child {
                margin-top: 0;
            }
            &:before {
                content: '';
                display: block;
                width: ptr(6);
                height: ptr(6);
                @include pos($p:absolute,$l:0,$t:ptr(12));
                background-color: #C1C1C1;
                border-radius: 50%;
            }
            strong {
                color: #6E6E6E;
            }
        }
    }
    .withdraw {
        margin-top: ptr(125);
        h3 {
            font-size: ptr(46);
            letter-spacing: ptr(-3);
        }
        .list {
            strong {
                display: block;
                padding: ptr(92) 0 ptr(17);
                margin-bottom: ptr(50);
                font-weight: 500;
                font-size: ptr(26);
                border-bottom: 1px solid #F1F1F1;
            }
            li {
                @include pos($p:relative);
                margin-top: ptr(27);
                padding-left: ptr(23);
                font-size: ptr(24);
                color: #6E6E6E;
                &:first-child {
                    margin-top: 0;
                }
                &:before {
                    content: '';
                    display: block;
                    width: ptr(6);
                    height: ptr(6);
                    @include pos($p:absolute,$l:0,$t:ptr(14));
                    border-radius: 50%;
                    background-color: #6E6E6E;
                }
            }
        }
    }
}
#mw-login {
    &.ct-over {
        .btn_area_sigle {
            @include pos($p:static);
        }
    }
    .wrap {
        background-color: #fff;
    }
}

// 회원정보 수정
.userInfo {
    margin-top: ptr(50);
    h3 {
        margin-bottom: ptr(50);
        font-size: ptr(50);
        letter-spacing: ptr(-3);
    }
    .list {
        padding-right: ptr(54);
        border-top: 1px solid #F1F1F1;
    }
    .info {
        margin-top: ptr(41);
        @include pos($p:relative);
        padding-right: ptr(100);
        &.notChg {
            padding-right: 0;
        }
        > * {
            display: inline-block;
            vertical-align: middle;
        }
        dt,
        dd {
            font-size: ptr(26);
        }
        dt {
            min-width: ptr(120);
            margin-right: ptr(33);
            color: #222;
        }
        dd {
            font-weight: 500;
            color: #6E6E6E;
        }
        .email,
        .tel {
            @include wfn;
            font-weight: 700;
            letter-spacing: ptr(1);
        }
        .chg {
            @include pos($p:absolute,$r:0,$t:50%);
            transform: translateY(-50%);
            a {
                display: block;
                padding: ptr(8) ptr(30) ptr(10);
                color: $fc_p;
                background-color: #F1F4FF;
                border-radius: ptr(30);
                font-weight: 500;
                font-size: ptr(24);
            }
        }
    }
}

// popup
.ly_tagPlus{
    .content{
        padding-top: ptr(52);
        padding-bottom: ptr(52);
        @include inr('c');
        // padding:ptr(90) ptr(115) ptr(52);
        .ip_box{
            border:0;
            border-bottom:1px solid #222;
            padding:ptr(10) 0;
            .ip{
                font-size:ptr(30);
                + label{
                    padding-left:0;
                    flex:0 0 ptr(40);
                    @include wfn;
                    color:#222;
                    font-style: italic;
                    font-size:ptr(36);
                    &:before{
                        border:0;
                    }
                }
            }
            .plus{
                @include pos(absolute, $r:0, $b:ptr(4));
                padding:ptr(10);
                i{
                    @include bgf;
                    width:ptr(92/2);height:ptr(92/2);
                    background-image:url($urlImg + 'ico_plus.png');
                }
            }
        }
        .tags{
            @include iscroll();
            height:ptr(300);
            >ul{
                @include clearfix;
                margin-left:ptr(-20);
                text-align:left;
                >li{
                    float:left;
                    margin-left:ptr(20);
                    margin-top:ptr(10);
                    border:1px solid #E6E6E6;
                    background-color:#F9F9F9;
                    border-radius:ptr(7);
                    padding:ptr(11);
                    font-size:ptr(24);
                    .tagDel{
                        @include bgf;
                        width:ptr(92/2);height:ptr(92/2);
                        background-image:url($urlImg + 'ico_x.png');
                        margin-left:ptr(24);
                    }
                }
            }
        }
        .btn_area_half{
            margin-top:ptr(50);
        }
    }
}
