@charset "UTF-8";
@-webkit-keyframes car-mov {
  to {
    -webkit-transform: translate(0, -50%);
            transform: translate(0, -50%);
    opacity: 1;
  }
}
@keyframes car-mov {
  to {
    -webkit-transform: translate(0, -50%);
            transform: translate(0, -50%);
    opacity: 1;
  }
}

@-webkit-keyframes car-mov2 {
  to {
    -webkit-transform: translateX(0);
            transform: translateX(0);
    opacity: 1;
  }
}

@keyframes car-mov2 {
  to {
    -webkit-transform: translateX(0);
            transform: translateX(0);
    opacity: 1;
  }
}

@-webkit-keyframes car-mov3 {
  to {
    opacity: 1;
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}

@keyframes car-mov3 {
  to {
    opacity: 1;
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}

@-webkit-keyframes ball-clip-rotate {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  50% {
    -webkit-transform: rotate(180deg);
            transform: rotate(180deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@keyframes ball-clip-rotate {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  50% {
    -webkit-transform: rotate(180deg);
            transform: rotate(180deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@-webkit-keyframes movCar {
  0% {
    background-position: 0 0;
  }
  3.5% {
    background-position: -100px 0;
  }
  7% {
    background-position: -200px 0;
  }
  10.5% {
    background-position: -300px 0;
  }
  14% {
    background-position: -400px 0;
  }
  17.5% {
    background-position: -500px 0;
  }
  21% {
    background-position: -600px 0;
  }
  24.5% {
    background-position: -700px 0;
  }
  28% {
    background-position: -800px 0;
  }
  31.5% {
    background-position: -900px 0;
  }
  35% {
    background-position: -1000px 0;
  }
  38.5% {
    background-position: -1100px 0;
  }
  42% {
    background-position: -1200px 0;
  }
  45.5% {
    background-position: -1300px 0;
  }
  49% {
    background-position: -1400px 0;
  }
  52.5% {
    background-position: -1500px 0;
  }
  56% {
    background-position: -1600px 0;
  }
  59.5% {
    background-position: -1700px 0;
  }
  63% {
    background-position: -1800px 0;
  }
  66.5% {
    background-position: -1900px 0;
  }
  70% {
    background-position: -2000px 0;
  }
  73.5% {
    background-position: -2100px 0;
  }
  77% {
    background-position: -2200px 0;
  }
  80.5% {
    background-position: -2300px 0;
  }
  84% {
    background-position: -2400px 0;
  }
  87.5% {
    background-position: -2500px 0;
  }
  91% {
    background-position: -2600px 0;
  }
  94.5% {
    background-position: -2700px 0;
  }
  98% {
    background-position: -2800px 0;
  }
  100% {
    background-position: -2900px 0;
  }
}

@keyframes movCar {
  0% {
    background-position: 0 0;
  }
  3.5% {
    background-position: -100px 0;
  }
  7% {
    background-position: -200px 0;
  }
  10.5% {
    background-position: -300px 0;
  }
  14% {
    background-position: -400px 0;
  }
  17.5% {
    background-position: -500px 0;
  }
  21% {
    background-position: -600px 0;
  }
  24.5% {
    background-position: -700px 0;
  }
  28% {
    background-position: -800px 0;
  }
  31.5% {
    background-position: -900px 0;
  }
  35% {
    background-position: -1000px 0;
  }
  38.5% {
    background-position: -1100px 0;
  }
  42% {
    background-position: -1200px 0;
  }
  45.5% {
    background-position: -1300px 0;
  }
  49% {
    background-position: -1400px 0;
  }
  52.5% {
    background-position: -1500px 0;
  }
  56% {
    background-position: -1600px 0;
  }
  59.5% {
    background-position: -1700px 0;
  }
  63% {
    background-position: -1800px 0;
  }
  66.5% {
    background-position: -1900px 0;
  }
  70% {
    background-position: -2000px 0;
  }
  73.5% {
    background-position: -2100px 0;
  }
  77% {
    background-position: -2200px 0;
  }
  80.5% {
    background-position: -2300px 0;
  }
  84% {
    background-position: -2400px 0;
  }
  87.5% {
    background-position: -2500px 0;
  }
  91% {
    background-position: -2600px 0;
  }
  94.5% {
    background-position: -2700px 0;
  }
  98% {
    background-position: -2800px 0;
  }
  100% {
    background-position: -2900px 0;
  }
}

.sh_used_info {
  font-size: 0;
}

.sh_used_info:after {
  content: '';
  display: block;
  clear: both;
}

.sh_used_info.bigger li {
  font-size: 1.3rem;
}

.sh_used_info.bigger li:before {
  margin-top: -0.35rem;
}

.sh_used_info li {
  display: inline-block;
  vertical-align: middle;
  position: relative;
  font-size: 1.2rem;
  color: #8E8E8E;
}

.sh_used_info li + li {
  margin-left: 0.8rem;
  padding-left: 0.8rem;
}

.sh_used_info li + li:before {
  content: '';
  display: block;
  width: 1px;
  height: 0.7rem;
  position: absolute;
  left: 0;
  top: 50%;
  margin-top: -0.25rem;
  background-color: #8e8e8e;
}

.sh_used_info li:nth-of-type(2) {
  font-family: 'Nunito Sans', sans-serif;
  font-weight: 600;
  letter-spacing: 0;
}

.sh_price {
  color: #1D4CD8;
  font-weight: 500;
  font-size: 1.6rem;
}

.sh_price code {
  vertical-align: middle;
  color: #1D4CD8;
  font-family: 'Nunito Sans', sans-serif;
  font-weight: 700;
  font-size: 1.8rem;
  letter-spacing: 0;
}

.sh_list {
  padding-top: 1.5rem;
  padding-bottom: 5.25rem;
}

.sh_list > li {
  padding-right: 2.1rem;
  padding-left: 2.1rem;
  padding-top: 1.2rem;
  padding-bottom: 1.2rem;
  margin-top: 1rem;
  background-color: #fff;
  text-align: right;
}

.sh_list > li:first-child {
  margin-top: 0;
}

.sh_list a {
  display: block;
}

.sh_list a:after {
  content: '';
  display: block;
  clear: both;
}

.sh_list a > * {
  float: left;
}

.sh_list .thum {
  overflow: hidden;
  width: 15rem;
  border-radius: 0.4rem;
}

.sh_list .desc {
  width: calc(100% - 15rem);
  padding-left: 1.6rem;
  text-align: left;
}

.sh_list .name {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  /* 라인수 */
  -webkit-box-orient: vertical;
  word-wrap: break-word;
  font-weight: 700;
  font-size: 1.6rem;
}

.sh_list .sh_used_info {
  margin: 0.35rem 0 0.7rem;
}

.sh_list .price {
  color: #1D4CD8;
  font-weight: 500;
  font-size: 1.4rem;
}

.sh_list .price code {
  vertical-align: middle;
  color: #1D4CD8;
  font-family: 'Nunito Sans', sans-serif;
  font-weight: 700;
  font-size: 1.7rem;
  letter-spacing: 0;
}

.sh_list .reserve {
  width: calc(100% - 16.6rem);
  position: relative;
  padding: 1rem 1.5rem;
  margin-top: 0.75rem;
  border-radius: 0.3rem;
  border: 1px solid transparent;
  font-size: 1.2rem;
  border-color: #1D4CD8;
  background-color: #1D4CD8;
  color: #fff;
  font-weight: 700;
  text-align: left;
}

@media all and (max-width: 320px) {
  .sh_list .reserve {
    margin-top: 0;
  }
}

.sh_list .reserve .ico_schedule {
  right: 1.5rem;
}

.type .car_ahead {
  background-color: #F9F9F9;
}

.car_ahead .noti {
  padding-top: 0.6rem;
  padding-bottom: 3.1rem;
  padding-right: 2.1rem;
  padding-left: 2.1rem;
}

.car_ahead .noti li {
  margin-top: 1.3rem;
  font-size: 1.1rem;
  color: #6E6E6E;
}

.car_ahead .noti li em {
  color: #1D4CD8;
}

.car_ahead section {
  position: relative;
  padding-right: 2.1rem;
  padding-left: 2.1rem;
  margin-top: 1rem;
  background-color: #fff;
}

.car_ahead section:first-child {
  margin-top: 0;
}

.car_ahead section .tit {
  display: block;
  margin-bottom: 1.1rem;
  font-weight: 700;
  font-size: 1.5rem;
}

.car_ahead section .chg_myinfo {
  position: absolute;
  right: 2.1rem;
  top: 3rem;
  font-weight: 500;
  font-size: 1.2rem;
  color: #1D4CD8;
  text-decoration: underline;
}

.car_ahead section .info:last-child dl:last-child {
  border-bottom: 0;
}

.car_ahead section .info dl {
  padding: 1.4rem 0;
  border-bottom: 1px solid #D6D6D6;
}

.car_ahead section .info dl:after {
  content: '';
  display: block;
  clear: both;
}

.car_ahead section .info dl dt,
.car_ahead section .info dl dd {
  float: left;
  font-size: 1.4rem;
}

.car_ahead section .info dl dt {
  width: 10rem;
  color: #A7A7A7;
}

.car_ahead section .info dl dd {
  width: calc(100% - 10rem);
  display: inline-block;
  text-overflow: ellipsis;
  white-space: nowrap;
  word-wrap: normal;
  overflow: hidden;
  max-width: 100%;
}

.car_ahead section .info dl dd.num {
  font-family: 'Nunito Sans', sans-serif;
  letter-spacing: -0.05rem;
  font-weight: 600;
}

.car_ahead section .info dl dd.price {
  color: #1D4CD8;
  font-weight: 800;
}

.car_ahead section .user dl {
  padding: 0.55rem 0;
}

.car_ahead section .user dl:after {
  content: '';
  display: block;
  clear: both;
}

.car_ahead section .user dl dt,
.car_ahead section .user dl dd {
  float: left;
  font-size: 1.4rem;
}

.car_ahead section .user dl dt {
  padding-right: 3.9rem;
  font-weight: 500;
}

.car_ahead section .user dl dd {
  color: #6E6E6E;
}

.car_ahead section .user .ipWrap {
  margin-bottom: 1.7rem;
}

.car_ahead section .user .ipJoin {
  margin-top: 0;
  position: relative;
}

.car_ahead section .user .ipJoin .ipTit {
  padding-right: 0;
  position: absolute;
  left: 0;
  top: 2.5rem;
  font-weight: 500;
  font-size: 1.4rem;
}

.car_ahead section .user .ipJoin .ipLine .ip {
  padding: 2.5rem 4.1rem 1rem 5.25rem;
  font-size: 1.4rem;
  font-weight: 400;
}

.car_ahead section .user .ipJoin .ipLine label {
  left: 5.25rem;
  top: 2.5rem;
  font-size: 1.4rem;
  -webkit-transform: none;
          transform: none;
}

.car_ahead section .check {
  margin-top: 1rem;
  text-align: left;
}

.car_ahead section .check li {
  position: relative;
  padding-left: 0.9rem;
  margin-top: 0.5rem;
  font-size: 1.2rem;
  color: #9C9C9C;
}

.car_ahead section .check li:first-child {
  margin-top: 0;
}

.car_ahead section .check li:before {
  content: '';
  display: block;
  width: 0.2rem;
  height: 0.2rem;
  position: absolute;
  left: 0;
  top: 0.8rem;
  border-radius: 50%;
  background-color: #919191;
}

.car_ahead section .check li em {
  color: #585858;
}

.car_ahead section .check li strong {
  font-weight: 700;
  font-size: 1.3rem;
  color: #1D4CD8;
}

.car_ahead section .check li strong code {
  font-family: 'Nunito Sans', sans-serif;
  letter-spacing: -0.05rem;
  font-weight: 800;
  color: #1D4CD8;
}

.car_ahead section .check li .link {
  color: #1D4CD8;
  text-decoration: underline;
}

.car_ahead .car_seller {
  padding-top: 2.5rem;
  padding-bottom: 2.3rem;
}

.car_ahead .car_spec {
  padding-top: 2.5rem;
  padding-bottom: 3.3rem;
}

.car_ahead .car_option {
  padding-top: 2.5rem;
  padding-bottom: 2.2rem;
}

.car_ahead .car_option .tit {
  margin-bottom: 2.5rem;
}

.car_ahead .agr_essential {
  background-color: transparent;
}

.car_ahead .agr_essential .tit {
  margin-bottom: 0.8rem;
}

.car_ahead .termsList {
  padding-top: 0.35rem;
  padding-bottom: 3.5rem;
}

.car_ahead .termsList ul.clst.txt_area {
  padding-bottom: 0;
}

.car_ahead .btn_area_simp {
  margin-top: 6.4rem;
}

.car_ahead .btn_area_simp a {
  color: #222;
}

.car_info {
  padding-top: 2.5rem;
  padding-bottom: 2.5rem;
}

.car_info .state {
  display: inline-block;
  width: 7.6rem;
  margin-bottom: 1.5rem;
  padding: 0.3rem 0;
  text-align: center;
  font-size: 1.2rem;
  border: 1px solid transparent;
  border-radius: 0.2rem;
}

.car_info .state.c1 {
  color: #fff;
  border-color: #1D4CD8;
  background-color: #1D4CD8;
}

.car_info .state.c2 {
  color: #fff;
  border-color: #222;
  background-color: #222;
}

.car_info .state.c3 {
  color: #fff;
  border-color: #B7B7B7;
  background-color: #B7B7B7;
}

.car_info .state.c4 {
  color: #1D4CD8;
  border-color: #1D4CD8;
}

.car_info .state.c5 {
  border-color: #A2A2A2;
  background-color: #E6E6E6;
  text-decoration: line-through;
}

.car_info .state.c6 {
  color: #6E6E6E;
  border-color: #6E6E6E;
  text-decoration: line-through;
}

.car_info .state.c7 {
  color: #9E9E9E;
  border-color: #E6E6E6;
  background-color: #E6E6E6;
}

.car_info .date {
  display: block;
  margin-bottom: 0.5rem;
  font-weight: 700;
  font-size: 1.5rem;
  color: #1D4CD8;
}

.car_info h3 {
  font-weight: 700;
  font-size: 2.3rem;
  letter-spacing: -0.2rem;
  text-align: left;
}

.car_info h3 > button {
  font-weight: 700;
  font-size: 2.3rem;
  letter-spacing: -0.2rem;
  text-align: left;
}

.car_info h3 > button:after {
  content: '';
  margin: -0.4rem 0 0 1.2rem;
  display: inline-block;
  vertical-align: middle;
  border-width: 1px 1px 0 0;
  border-style: solid;
  border-color: #373737;
  width: 0.6rem;
  height: 0.6rem;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

.car_info h3 figure {
  display: block;
  width: 3.9rem;
  margin-bottom: 1rem;
  font-size: 0;
}

.car_info .sh_used_info {
  margin-top: 0.6rem;
}

.car_info .fee {
  margin-top: 0.25rem;
  font-size: 1.2rem;
  color: #8E8E8E;
}

.car_info .fee span {
  color: #1D4CD8;
  font-weight: 500;
  font-size: 1.3rem;
}

.car_info .fee span code {
  font-family: 'Nunito Sans', sans-serif;
  font-weight: 700;
  color: inherit;
}

.car_info .sh_price {
  display: block;
  margin-top: 1.1rem;
}

.car_info .sh_price code {
  font-size: 2.1rem;
}

.car_info .history {
  margin-top: 2.1rem;
  background-color: #FCFCFC;
  border-radius: 0.4rem;
}

.car_info .history ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 1.7rem 0 1.3rem;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.car_info .history ul li {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  position: relative;
  text-align: center;
  font-weight: 500;
  font-size: 1.2rem;
}

.car_info .history ul li.none {
  color: #C7C7C7;
}

.car_info .history ul li.none:first-child:before {
  background-image: url("../images/usedcar/sh_spec_off.png");
}

.car_info .history ul li.none:last-child:before {
  background-image: url("../images/usedcar/sh_insur_off.png");
}

.car_info .history ul li:before {
  content: '';
  display: block;
  width: 100%;
  height: 3.4rem;
  margin-bottom: 0.35rem;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-size: auto 100%;
}

.car_info .history ul li:after {
  content: '';
  display: block;
  width: 1px;
  height: 4.5rem;
  position: absolute;
  left: 0;
  top: 50%;
  margin-top: -2.25rem;
  background-color: #E5E5E5;
}

.car_info .history ul li:first-child:before {
  background-image: url("../images/usedcar/sh_spec_on.png");
}

.car_info .history ul li:first-child:after {
  display: none;
}

.car_info .history ul li:last-child:before {
  background-image: url("../images/usedcar/sh_insur_on.png");
}

.car_info .history dl {
  text-align: center;
}

.car_info .history dl.none dt {
  background-color: #FBFBFB;
}

.car_info .history dl.none.spec dt:before {
  background-image: url("../images/usedcar/sh_spec_off.png");
}

.car_info .history dl.none.insur dt:before {
  background-image: url("../images/usedcar/sh_insur_off.png");
}

.car_info .history dl.none.seize dt:before {
  background-image: url("../images/usedcar/sh_seize_off.png");
}

.car_info .history dl.spec dt:before {
  background-image: url("../images/usedcar/sh_spec_on.png");
}

.car_info .history dl.insur dt:before {
  background-image: url("../images/usedcar/sh_insur_on.png");
}

.car_info .history dl.seize dt:before {
  background-image: url("../images/usedcar/sh_seize_on.png");
}

.car_option .option_list {
  padding: 0 1.5rem;
}

.car_option .option_list:after {
  content: '';
  display: block;
  clear: both;
}

.car_option .option_list li {
  float: left;
  width: 25%;
  margin-bottom: 2.5rem;
  text-align: center;
  font-weight: 500;
  font-size: 1.2rem;
}

.car_option .option_list li.none {
  opacity: 0.3;
}

.car_option .option_list li:before {
  content: "";
  display: block;
  width: 100%;
  height: 3.1rem;
  margin-bottom: 0.7rem;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-size: auto 100%;
}

.car_option .option_list li:nth-of-type(1):before {
  background-image: url("../images/usedcar/sh_opts_list01.png");
}

.car_option .option_list li:nth-of-type(2):before {
  background-image: url("../images/usedcar/sh_opts_list02.png");
}

.car_option .option_list li:nth-of-type(3):before {
  background-image: url("../images/usedcar/sh_opts_list03.png");
}

.car_option .option_list li:nth-of-type(4):before {
  background-image: url("../images/usedcar/sh_opts_list04.png");
}

.car_option .option_list li:nth-of-type(5):before {
  background-image: url("../images/usedcar/sh_opts_list05.png");
}

.car_option .option_list li:nth-of-type(6):before {
  background-image: url("../images/usedcar/sh_opts_list06.png");
}

.car_option .option_list li:nth-of-type(7):before {
  background-image: url("../images/usedcar/sh_opts_list07.png");
}

.car_option .option_list li:nth-of-type(8):before {
  background-image: url("../images/usedcar/sh_opts_list08.png");
}

.sh_choice {
  padding-bottom: 2.7rem;
}

.sh_choice:first-child {
  padding-top: 2rem;
}

.sh_choice > strong {
  display: block;
  padding-right: 2.1rem;
  padding-left: 2.1rem;
  font-weight: 500;
  font-size: 1.3rem;
  color: #858585;
}

.sh_choice .desc {
  margin-top: 1rem;
  background-color: #fff;
  padding: 0.5rem 0;
  padding-right: 2.1rem;
  padding-left: 2.1rem;
}

.sh_choice .desc a {
  display: block;
  padding: 2rem 0;
  border-top: 1px solid #eee;
}

.sh_choice .desc a:first-child {
  border-top: 0;
}

.sh_choice .desc dl {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.sh_choice .desc dt {
  font-weight: 500;
  font-size: 1.6rem;
}

.sh_choice .desc dd {
  font-weight: 500;
  font-size: 1.3rem;
  color: #1D4CD8;
}

.sh_choice .desc dd code {
  font-family: 'Nunito Sans', sans-serif;
  font-weight: 700;
  font-size: 1.5rem;
  color: #1D4CD8;
  letter-spacing: 0;
}

.agr_essential {
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}

.agr_essential .essential_list li {
  position: relative;
  margin-top: 0.5rem;
}

.agr_essential .essential_list li:first-child {
  margin-top: 0;
}

.agr_essential .essential_list li:first-child .chk_sentence label {
  padding-bottom: 3.65rem;
}

.agr_essential .essential_list .link {
  position: absolute;
  left: 4.25rem;
  bottom: 1.5rem;
  color: #1D4CD8;
  text-decoration: underline;
  font-size: 1.2rem;
  z-index: 1;
}

.agr_essential .chk_sentence {
  font-size: 0;
}

.agr_essential .chk_sentence label {
  display: block;
  width: 100%;
  position: relative;
  padding: 1.5rem 3rem 1.5rem 4.3rem;
  color: #9C9C9C;
  font-size: 1.2rem;
  background-color: #fff;
  border: 1px solid #fff;
  border-radius: 0.4rem;
}

.agr_essential .chk_sentence label:before {
  content: '';
  display: inline-block;
  vertical-align: middle;
  width: 1.9rem;
  height: 1.9rem;
  position: absolute;
  left: 1.6rem;
  top: 1.6rem;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-size: 100% 100%;
  background-image: url("../images/svg_ckbox.svg");
}

.agr_essential .chk_sentence input:checked + label {
  border-color: #C1C1C1;
  color: #222;
}

.agr_essential .chk_sentence input:checked + label:before {
  background-image: url("../images/svg_ckbox_on.svg");
}
/*# sourceMappingURL=usedcar.css.map */