@charset "utf-8";

/* main */
.homep .fp-viewing-0 .ly_loading{display:block}

.homep .head_main{background-color:transparent !important;border-bottom:0 !important}
.homep .head_main .bgb{border-top:1px solid #eaeaea;top:112px}
.homep .head_main:before{content:'';background-color:#fff;position:absolute;top:0;left:0;right:0;bottom:0;opacity:.0;filter:alpha(opacity=0);transition-duration:.3s;-webkit-transition-duration:.3s}
.homep .head_main.chg2:before{display:block;opacity:.7;filter:alpha(opacity=70)}

.homep #fp-nav{z-index:1}
.homep #fp-nav:before{content:'';display:block;width:2px;position:absolute;top:5px;bottom:5px;left:8px;background-color:#dcdcdc;transition-duration:.3s;-webkit-transition-duration:.3s}
.homep #fp-nav ul li{width:18px;height:auto;font-size:0;margin:10px 0 0 0;text-align:center}
.homep #fp-nav ul li:first-child{margin-top:0}
.homep #fp-nav ul li a span{position:relative;top:auto;left:auto;display:inline-block;vertical-align:top;border-radius:0;margin:0 !important;width:16px !important;height:16px !important;background:url(../images/pc/bg_com.png) no-repeat -40px 1px;-webkit-transition:none;transition:none}
.homep #fp-nav.right{right:73px}
.homep #fp-nav ul li:hover a span{width:16px;height:16px}
.homep #fp-nav ul li a.active span{background-position:-56px 0}
.homep #fp-nav.chg:before{background-color:#68686e}

.homep .fp-section .swiper-wrapper{transform:none !important;-webkit-transform:none !important}
.homep .section{background-size:cover;display:none}
.homep .section h2{z-index:2;letter-spacing:-6px;font-size:51px;font-weight:100;color:#000}
.homep .section h2 strong{font-weight:500}
.homep .section .txt{line-height:1.5;font-weight:300;font-size:18px}
.homep .section .elm{
	display:block;position:absolute;background-repeat:no-repeat;
	transition-timing-function:ease-out;
	transition-duration:.7s;
	transition-delay:0s;
	-webkit-transition-timing-function:ease-out;
	-webkit-transition-duration:.7s;
	-webkit-transition-delay:0s;
}
.homep .section .melm{display:none}
.homep .section .icon_bolt{position:absolute}
.homep .section .icon_bolt i{display:inline-block;width:0;height:48px;background-repeat:no-repeat;background-position:0 2px;overflow:hidden}
.homep .section .icon_bolt i:before, .homep .section .icon_bolt i:after{content:'';display:block;position:absolute;border-radius:50%;border-width:3px;border-style:solid;transition-duration:.3s;transform:scale(0, 0);-webkit-transition-duration:.3s;-webkit-transform:scale(0, 0)}
.homep .section .icon_bolt i:before{width:18px;height:18px;top:12px;left:48px}
.homep .section .icon_bolt i:after{width:36px;height:36px;top:3px;left:39px}
.homep .section .btn_skip{line-height:72px;text-decoration:none;text-align:center;font-size:20px;font-weight:500}
.homep .section.active .icon_bolt i{width:85px;transition-delay:.5s;-webkit-transition-delay:.5s}
.homep .section.active .icon_bolt i:before, .homep .section.active .icon_bolt i:after{transform:scale(1, 1);transition-timing-function:cubic-bezier(.175, .885, .32, 1.275);-webkit-transform:scale(1, 1);-webkit-transition-timing-function:cubic-bezier(.175, .885, .32, 1.275)}
.homep .section.active .icon_bolt i:before{transition-delay:.8s;-webkit-transition-delay:.8s}
.homep .section.active .icon_bolt i:after{transition-delay:1.2s;-webkit-transition-delay:1.2s}

.homep #section1{background-color:#f2f2f2}
.homep #section1 .ui_valign_mid{height:580px;margin-top:-260px}
.homep #section1 h2{top:-30px;left:0;opacity:0;filter:alpha(opacity=0);transform:translate(0, -30px);-webkit-transform:translate(0, -30px)}
.homep #section1.play h2{opacity:1;filter:alpha(opacity=100);transform:translate(0, 0);-webkit-transform:translate(0, 0)}
.homep #section1 .txt{margin-top:13px;top:175px;left:0;opacity:0;filter:alpha(opacity=0);transform:translate(0, -30px);-webkit-transform:translate(0, -30px)}
.homep #section1.play .txt{transition-delay:.15s;opacity:1;filter:alpha(opacity=100);transform:translate(0, 0);-webkit-transform:translate(0, 0)}
.homep #section1 .btn_skip{left:0;bottom:0;display:inline-block;width:376px;margin-top:65px;border:1px solid #ef8e24;color:#f58c0d}
.homep #section1 .persent{position:relative;width:337px;top:340px;left:0;opacity:0;filter:alpha(opacity=0);transform:translate(-15px, 0);-webkit-transform:translate(-15px, 0)}
.homep #section1 .persent .per, .homep #section1 .persent .per strong{font-weight:100}
.homep #section1 .persent .per{position:absolute;left:105px;top:-16px;font-size:49px;font-family:'Prompt', sans-serif;color:#f01428;letter-spacing:-3px}
.homep #section1 .persent .per strong{font-size:73px}
.homep #section1.play .persent{opacity:1;filter:alpha(opacity=100);transition-delay:.5s;transform:translate(0, 0);-webkit-transition-delay:.5s;-webkit-transform:translate(0, 0)}
.homep #section1 .persent h3{width:262px;line-height:1.2;font-weight:300;font-size:15px;color: #1f1f1f;letter-spacing: 6px}
.homep #section1 .persent h3 span{display:block;margin-left:-2px;letter-spacing:-3px;font-weight:100;font-size:37px;color:#f01428}
.homep #section1 .persent .per+div{margin-top:12px;font-size:12px;font-weight:100;color:#8a8a8a}
.homep #section1 .persent .arr_up, .homep #section1 .persent .arr_dw{transition-timing-function:cubic-bezier(1, 0, 0, 1);-webkit-transition-timing-function:cubic-bezier(1, 0, 0, 1)}
.homep #section1 .persent .arr_up{background-image:url(../images/pc/main_section1_chart_up.png);width:51px;height:68px;top:-15px;right:6px;opacity:0;filter:alpha(opacity=0);transform:translate(0, 15px);-webkit-transform:translate(0, 15px)}
.homep #section1 .persent .arr_dw{background-image:url(../images/pc/main_section1_chart_dw.png);width:39px;height:53px;top:0;right:0;opacity:0;filter:alpha(opacity=0);transform:translate(0, -15px);-webkit-transform:translate(0, -15px)}
.homep #section1.play .persent .arr_up, .homep #section1.play .persent .arr_dw{opacity:1;filter:alpha(opacity=100);-webkit-transform:translate(0, 0);-webkit-transition-delay:.5s}
.homep #section1 .moon{overflow:hidden;top:50%;right:0;margin-top:-260px;width:622px;height:622px;background-image:url(../images/pc/main_section1_moon.png)}
.homep #section1 .hand{overflow:hidden;bottom:-75px;right:-29px;width:680px;height:785px;border-radius:0 0 50% 50%}
.homep #section1 .hand span{top:97px;left:0;width:605px;height:785px;background-image:url(../images/pc/main_section1_phone.png);opacity:0;filter:alpha(opacity=0);transform:translate(150px, 150px);-webkit-transform:translate(150px, 150px)}
.homep #section1.play .hand span{opacity:1;filter:alpha(opacity=100);transition-delay:.5s;transform:translate(0, 0);transition-timing-function:cubic-bezier(1, 0, 0, 1);-webkit-transition-delay:.5s;-webkit-transform:translate(0, 0);-webkit-transition-timing-function:cubic-bezier(1, 0, 0, 1)}
.homep #section1.play .coin{transition-duration:.3s;transition-delay:.7s;transition-timing-function:cubic-bezier(.68, -.55, .265, 1.55);-webkit-transition-duration:.3s;-webkit-transition-delay:.7s;-webkit-transition-timing-function:cubic-bezier(.68, -.55, .265, 1.55)}
.homep #section1 .coin1{top: 514px;left: 640px;width: 68px;height: 59px;background-image: url(../images/pc/main_section1_coin6.png);opacity:0;filter:alpha(opacity=0);transform:translate(100px, -100px) scale(0, 0);-webkit-transform:translate(100px, -100px) scale(0, 0)}
.homep #section1.play .coin1{opacity:1;filter:alpha(opacity=100);transform:translate(0, 0) scale(1, 1);-webkit-transform:translate(0, 0) scale(1, 1)}
.homep #section1 .coin2{top:375px;left:614px;width:105px;height:93px;background-image:url(../images/pc/main_section1_coin5.png);opacity:0;filter:alpha(opacity=0);transform:translate(100px, -100px) scale(0, 0);-webkit-transform:translate(100px, -100px) scale(0, 0)}
.homep #section1.play .coin2{opacity:1;filter:alpha(opacity=100);transform:translate(0, 0) scale(1, 1);-webkit-transform:translate(0, 0) scale(1, 1)}
.homep #section1 .coin3{top:-140px;left:1190px;width:164px;height:175px;background-image:url(../images/pc/main_section1_coin3.png);opacity:0;filter:alpha(opacity=0);transform:translate(-150px, 150px) scale(0, 0);-webkit-transform:translate(-150px, 150px) scale(0, 0)}
.homep #section1.play .coin3{opacity:1;filter:alpha(opacity=100);transform:translate(0, 0) scale(1, 1);-webkit-transform:translate(0, 0) scale(1, 1)}

.homep #section2{background-color:#30313a}
.homep #section2 .ui_valign_mid{height:622px;margin-top:-280px}
.homep #section2 .icon_bolt{left:765px;top:143px}
.homep #section2 .icon_bolt i{background-image:url(../images/pc/main_section2_bolt.png)}
.homep #section2 .icon_bolt i:before, .homep #section2 .icon_bolt i:after{border-color:#ff8a0c}
.homep #section2 h2{top:200px;left:765px;width:555px;color:#ff8a0c;opacity:0;filter:alpha(opacity=0);transform:translate(0, -15px);-webkit-transform:translate(0, -15px)}
.homep #section2.active h2{opacity:1;filter:alpha(opacity=100);transition-delay:.3s;transform:translate(0, 0);-webkit-transition-delay:.3s;-webkit-transform:translate(0, 0);}
.homep #section2 .txt{top:355px;left:765px;width:530px;line-height:1.8;color:#a6a6aa;opacity:0;filter:alpha(opacity=0);-webkit-transform:translate(0, -20px);transform:translate(0, -20px)}
.homep #section2.active .txt{opacity:1;filter:alpha(opacity=100);transition-delay:.5s;transform:translate(0, 0);-webkit-transition-delay:.5s;-webkit-transform:translate(0, 0);}
.homep #section2 .graph_bg{left:-35px;width:765px;height:622px;background-image:url(../images/pc/main_section2_graph_bg.png?v=2)}
.homep #section2 .graph_table{overflow:hidden;top:148px;left:192px;width:0;height:248px;background-image:url(../images/pc/main_section2_graph.png)}
.homep #section2.active .graph_table{width:485px;transition-delay:1s;-webkit-transition-delay:1s}
.homep #section2 .graph_bar{overflow:hidden;top:330px;left:371px;width:5px;height:0;background-image:url(../images/pc/main_section2_graph_bar.png)}
.homep #section2.active .graph_bar{height:116px;transition-duration:.3s;transition-delay:1s;-webkit-transition-duration:.3s;-webkit-transition-delay:1s}
.homep #section2 .graph_txt{top:430px;left:198px;padding:28px 0 0 120px;height:102px;background-image:url(../images/pc/main_section2_graph_photo.png);line-height:1.4;font-weight:300;font-size:16px;color:#9193a0;opacity:0;filter:alpha(opacity=0);transform:translate(-20px, 0);-webkit-transform:translate(-20px, 0)}
.homep #section2.active .graph_txt{opacity:1;filter:alpha(opacity=100);transition-delay:1.5s;transform:translate(0, 0);-webkit-transition-delay:1.5s;-webkit-transform:translate(0, 0)}
.homep #section2 .graph_bar2{top:95px;left:592px;width:5px;height:116px;background-image:url(../images/pc/main_section2_graph_bar2.png);transform:scale(1, 0);-webkit-transform:scale(1, 0)}
.homep #section2.active .graph_bar2{transition-duration:.3s;transition-delay:1.3s;transform:scale(1, 1);-webkit-transition-duration:.3s;-webkit-transition-delay:1.3s;-webkit-transform:scale(1, 1)}
.homep #section2 .graph_txt2{top:0;left:423px;padding:32px 0 0 120px;height:102px;background-image:url(../images/pc/main_section2_graph_photo2.png);line-height:1.4;font-weight:300;font-size:16px;color:#9193a0;opacity:0;filter:alpha(opacity=0);transform:translate(-20px, 0);-webkit-transform:translate(-20px, 0)}
.homep #section2.active .graph_txt2{opacity:1;filter:alpha(opacity=100);transition-delay:1.7s;transform:translate(0, 0);-webkit-transition-delay:1.7s;-webkit-transform:translate(0, 0)}

.homep #section3{background-color:#f2f2f2}
.homep #section3 .ui_valign_mid{height:622px;margin-top:-311px}
.homep #section3 .icon_bolt{left:10px;top:125px}
.homep #section3 .icon_bolt i{top:-33px; background-image:url(../images/pc/main_section3_bolt.png)}
.homep #section3 .icon_bolt i:before, #section1 .icon_bolt i:after{border-color:#000}
.homep #section3 .phone{top:0;left:910px;width:452px;height:660px;background-image:url(../images/pc/main_section3_phone.png);opacity:0;filter:alpha(opacity=0);transform:translate(0, 30px);-webkit-transform:translate(0, 30px)}
.homep #section3.active .phone{opacity:1;filter:alpha(opacity=100);transform:translate(0, 0);transition-timing-function:cubic-bezier(.175, .885, .32, 1.275);-webkit-transition-delay:.3s;transition-delay:.3s;-webkit-transform:translate(0, 0);-webkit-transition-timing-function:cubic-bezier(.175, .885, .32, 1.275)}
.homep #section3 .time12s{top:55px;left:1120px;width:232px;height:154px;background-image:url(../images/pc/main_section3_time_12s.png);transform:translate(-50px, 50px) scale(0, 0);-webkit-transform:translate(-50px, 50px) scale(0, 0)}
.homep #section3.active .time12s{transition-duration:.3s;transition-delay:.5s;transform:translate(0, 0) scale(1, 1);transition-timing-function:cubic-bezier(.68, -.55, .265, 1.55);-webkit-transition-duration:.3s;-webkit-transition-delay:.5s;-webkit-transform:translate(0, 0) scale(1, 1);-webkit-transition-timing-function:cubic-bezier(.68, -.55, .265, 1.55)}
.homep #section3 .phone2{top:40px;left:783px;width:452px;height:659px;background-image:url(../images/pc/main_section3_phone2.png);opacity:0;filter:alpha(opacity=0);transform:translate(0, 30px);-webkit-transform:translate(0, 30px)}
.homep #section3.active .phone2{opacity:1;filter:alpha(opacity=100);transition-delay:.7s;transform:translate(0, 0);transition-timing-function:cubic-bezier(.175, .885, .32, 1.275);-webkit-transition-delay:.7s;-webkit-transform:translate(0, 0);-webkit-transition-timing-function:cubic-bezier(.175, .885, .32, 1.275)}
.homep #section3 .time30m{top:390px;left:565px;width:232px;height:154px;background-image:url(../images/pc/main_section3_time_30m.png);transform:translate(50px, -50px) scale(0, 0);-webkit-transform:translate(50px, -50px) scale(0, 0)}
.homep #section3.active .time30m{transition-duration:.3s;transition-delay:1s;transform:translate(0, 0) scale(1, 1);transition-timing-function:cubic-bezier(.68, -.55, .265, 1.55);-webkit-transition-duration:.3s;-webkit-transition-delay:1s;-webkit-transform:translate(0, 0) scale(1, 1);-webkit-transition-timing-function:cubic-bezier(.68, -.55, .265, 1.55)}
.homep #section3 h2{top:200px;left:10px;opacity:0;filter:alpha(opacity=0);transform:translate(0, -20px);-webkit-transform:translate(0, -20px)}
.homep #section3.active h2{top:147px;opacity:1;filter:alpha(opacity=100);transition-delay:1.2s;transform:translate(0, 0);-webkit-transition-delay:1.2s;-webkit-transform:translate(0, 0)}
.homep #section3 .timetable{top:304px;left:0;width:450px;height:153px;background-image:url(../images/pc/main_section3_timecheck.png);opacity:0;filter:alpha(opacity=0);transform:translate(0, -20px);-webkit-transform:translate(0, -20px)}
.homep #section3.active .timetable{opacity:1;filter:alpha(opacity=100);transition-delay:1.4s;transform:translate(0, 0);-webkit-transition-delay:1.4s;-webkit-transform:translate(0, 0)}
.homep #section3 .tbl30m{top:303px;left:-2px;width:169px;height:97px;background-image:url(../images/pc/main_section3_timecheck_on.png);opacity:0;filter:alpha(opacity=0)}
.homep #section3.active .tbl30m{opacity:1;filter:alpha(opacity=100);transition-duration:.1;transition-delay:1.8s;-webkit-transition-duration:.1;-webkit-transition-delay:1.8s}
.homep #section3 .txt{top:485px;left:10px;line-height:1.8;color:#a6a6aa;opacity:0;filter:alpha(opacity=0);transform:translate(0, -20px);-webkit-transform:translate(0, -20px)}
.homep #section3.active .txt{opacity:1;filter:alpha(opacity=100);color:#7a7a7a;transition-delay:1.7s;transform:translate(0, 0);-webkit-transition-delay:1.7s;-webkit-transform:translate(0, 0)}
.homep #section3 .circle_bg{right:0;top:0;width:622px;height:622px;border-radius:50%;background-color:#f79621}

.homep #section4 footer .ui_align_center{height:auto !important}
.homep #section4 .fp-scroller{height:auto}
.homep #section4 .icon_bolt{left:50%;margin-left:-42.5px;top:155px}
.homep #section4 .icon_bolt i{background-image:url(../images/pc/main_section4_bolt.png)}
.homep #section4 h2{top:235px;left:0;right:0;text-align:center;opacity:0;filter:alpha(opacity=0);transform:translate(0, -20px);-webkit-transform:translate(0, -20px)}
.homep #section4.active h2{transition-delay:.5s;opacity:1;filter:alpha(opacity=100);transform:translate(0, 0);-webkit-transform:translate(0, 0)}
.homep #section4 .explan{position:absolute;top:365px;left:0;right:0;height:265px;text-align:center;font-size:19px;color:#000}
.homep #section4 .explan i{display:block;height:35px;font-size:28px;font-family:'Prompt', sans-serif;color:#bdbdbd}
.homep #section4 .explan strong{display:block;font-size:22px;color:#f94730}
.homep #section4 .explan li{position:relative;left:auto !important;top:auto;display:inline-block;margin-left:10%;height:auto;width:182px;padding:173px 0 0 0;opacity:0;filter:alpha(opacity=0);letter-spacing:-2px;transform:translate(-20px, 0);transition-property:all;-webkit-transform:translate(-20px, 0);-webkit-transition-property:all}
.homep #section4.active .explan li{opacity:1;filter:alpha(opacity=100);transform:translate(0, 0);transition-delay:.8s;-webkit-transform:translate(0, 0);-webkit-transition-delay:.8s}
.homep #section4 .explan li:before{content:'';display:block;width:11px;height:20px;background:url(../images/pc/bg_com.png) no-repeat -230px -42px;position:absolute;left:37%;margin-left:-75%;bottom:60px}
.homep #section4 .explan li:first-child{margin-left:0;background-image:url(../images/pc/main_section4_figure1.png)}
.homep #section4 .explan li:first-child:before{display:none}
.homep #section4 .explan li:nth-child(2){background-image:url(../images/pc/main_section4_figure2.png)}
.homep #section4.active .explan li:nth-child(2){transition-delay:1s;-webkit-transition-delay:1s}
.homep #section4 .explan li:nth-child(3){background-image:url(../images/pc/main_section4_figure3.png)}
.homep #section4.active .explan li:nth-child(3){transition-delay:1.2s;-webkit-transition-delay:1.2s}
.homep #section4 .explan li:nth-child(4){background-image:url(../images/pc/main_section4_figure4.png)}
.homep #section4.active .explan li:nth-child(4){transition-delay:1.4s;-webkit-transition-delay:1.4s}
.homep #section4 .btn_skip{top:710px;width:411px;background-color:#f94730;left:50%;margin-left:-205px;color:#fff}
.homep #section4 .btn_top{display:block}

/* ie9 */
.homep .ie9 .section .elm{filter:alpha(opacity=100) !important;transform:none !important;-webkit-transform:none !important}
.homep .ie9 #section2 .graph_table{width:485px}
.homep .ie9 #section2 .graph_bar, .homep .ie9 #section2 .graph_bar2{height:116px !important}
.homep .ie9 .section .icon_bolt i{width:85px !important}
.homep .ie9 .section .icon_bolt i:before, .ie9 .section .icon_bolt i:after{transform:none;-webkit-transform:none}

/* width 1330 Below */
@media all and (max-width:1330px){
	.homep #fp-nav{display:none}
	.homep #section1 .coin1,
	.homep #section1 .coin2,
	.homep #section1 .coin3,
	.homep #section2 h2,
	.homep #section2 .txt,
	.homep #section2 .icon_bolt,
	.homep #section2 .graph_bg,
	.homep #section2 .graph_table,
	.homep #section2 .graph_bar2,
	.homep #section2 .graph_bar,
	.homep #section2 .graph_txt,
	.homep #section2 .graph_txt2,
	.homep #section3 .time30m,
	.homep #section3 .phone,
	.homep #section3 .phone2,
	.homep #section3 .time12s{left:auto}
	.homep #section1 .coin1{right:541px}
	.homep #section1 .coin2{right:532px}
	.homep #section1 .coin3{right:-117px}
	.homep #section2 h2{right:-24px}
	.homep #section2 .txt{right:0}
	.homep #section2 .icon_bolt{width:524px;right:0}
	.homep #section2 .graph_bg{right:500px}
	.homep #section2 .graph_table{right:553px}
	.homep #section2.active .graph_table{transition-duration:0s;transition-delay:0s;-webkit-transition-duration:0s;-webkit-transition-delay:0s}
	.homep #section2 .graph_bar{right:855px}
	.homep #section2 .graph_bar2{right:663px}
	.homep #section2 .graph_txt{right:772px;width:145px}
	.homep #section2 .graph_txt2{right:547px}
	.homep #section3 .phone{right:-100px}
	.homep #section3 .time12s{right:-50px}
	.homep #section3 .phone2{right:30px}
	.homep #section3 .time30m{right:465px}
	.homep #section4 .explan li{margin-left:6%}
}

/* Tablet & Notebook */
@media all and (min-width:768px) and (max-width:1024px){
	.homep #section1 .moon{right:-130px}
	.homep #section1 .hand{right:-159px}
	.homep #section2 .graph_txt{right:702px}
	.homep #section3 .time30m{top:480px;right:365px}
}

/* Mobile Device */
@media all and (max-width:768px) {
	.homep #fullpage{position:relative}
	.homep .ui_valign_mid{position:inherit;top:auto;left:auto;width:auto;margin-left:auto}
	.homep .head_main{position:absolute !important}
	.homep .head_main .bgb{top:0}
	.homep .head_main.chg2:before{display:none}
	.homep .section{width:100%}
	.homep .section .elm{position:inherit;opacity:1 !important;transition:none !important;transform:none !important;-webkit-transition:none !important;-webkit-transform:none !important}
	.homep .section .melm{display:block}
	.homep .section .welm{display:none}
	.homep .section h2{top:auto !important;letter-spacing:-.15rem;font-size:1.3125rem}
	.homep .section .txt{width:auto !important;font-size:.5625rem;line-height:1.7 !important}
	.homep .section .ui_valign_mid{height:auto !important;margin-top:0 !important}
	.homep .section .icon_bolt{position:relative;left:auto !important;top:auto !important}
	.homep .section .icon_bolt i{position:inherit;left:auto !important;top:auto !important;display:inline-block;background-position:0 0;background-size:100% auto;width:2.3rem;height:1.3rem}
	.homep .section .icon_bolt i:before, .homep .section .icon_bolt i:after{display:none}
	.homep .section .btn_skip{line-height:3.125rem;font-size:.71875rem}
	.homep #section1 .moon,
	.homep #section1 .hand,
	.homep #section1 .coin,
	.homep #section1 .persent .arr_up,
	.homep #section1 .persent .arr_dw,
	.homep #section2 .graph_bg,
	.homep #section2 .graph_table,
	.homep #section2 .graph_bar,
	.homep #section2 .graph_txt,
	.homep #section2 .graph_bar2,
	.homep #section2 .graph_txt2,
	.homep #section3 .circle_bg,
	.homep #section3 .phone,
	.homep #section3 .time12s,
	.homep #section3 .phone2,
	.homep #section3 .time30m{display:none}
	.homep #section1 h2{top:0}
	.homep #section1 .persent{position:absolute;top:16.2rem;left:1.5rem;width:auto}
	.homep #section1 .persent h3{width:auto;padding-bottom:0;font-size:.625rem}
	.homep #section1 .persent h3 span{font-size:1.40625rem}
	.homep #section1 .persent .per, .homep #section1 .persent .per strong{font-weight:300}
	.homep #section1 .persent .per{left:-0.1rem;top:2.2rem;font-size:1.75rem}
	.homep #section1 .persent .per strong{font-size:2.625rem}
	.homep #section1 .persent .per+div{margin-top:3.1rem;font-size:.5625rem}
	.homep #section1 .btn_skip{width:14rem;margin-top:1.0625rem;border-color:#45464e;color:#30313a}
	.homep #section1{padding:3.35rem 1.5rem 11.875rem;background:#f2f2f2 url(../images/mw/main_section1_bg.png) no-repeat 100% 100%;background-size:14.125rem auto}
	.homep #section2{padding:2.8125rem 0 13.75rem 0;text-align:center;background:#30313a url(../images/mw/main_section2_bg.png?v=2) no-repeat 0 100%;background-size:19.375rem auto}
	.homep #section2 .icon_bolt{width:auto;right:auto}
	.homep #section2 .icon_bolt i{background-image:url(../images/mw/main_section2_bolt.png)}
	.homep #section2 h2{width:auto}
	.homep #section2 .txt{margin-top:.5rem}
	.homep #section3{padding:2.8125rem 0 15.625rem 0;text-align:center;background:#f2f2f2 url(../images/mw/main_section3_bg.png) no-repeat .8rem 100%;background-size:18.8125rem auto}
	.homep #section3 .icon_bolt i{background-image:url(../images/mw/main_section3_bolt.png)}
	.homep #section3 .txt{margin-top:.625rem;color:#333}
	.homep #section3 .timetable, .homep #section3 .tbl30m{display:none}
	.homep #section4 .ui_align_center{height:auto;padding:1.875rem 0 4.8rem;text-align:center;background:#f2f2f2}
	.homep #section4 .icon_bolt i{background-image:url(../images/mw/main_section3_bolt.png)}
	.homep #section4 .explan{position:relative;top:auto;left:auto;right:auto;height:auto;z-index:1;margin:0 .8rem;font-size:.6875rem}
	.homep #section4 .explan:after{content:'';display:block;clear:both}
	.homep #section4 .explan i{height:1.4rem;font-size:1.03125rem}
	.homep #section4 .explan strong{font-size:.8125rem}
	.homep #section4 .explan li{width:50%;float:left;margin-top:3.75rem;margin-left:0;padding-top:6.25rem;background-position:55% 0;background-size:6.25rem auto}
	.homep #section4 .explan li:before{margin-left:0;left:-.5rem;bottom:1rem;width:.53125rem;height:.96875rem;background-image:url(../images/mw/bg_com.png);background-position:-6.59375rem 0;background-size:10rem auto}
	.homep #section4 .explan li:first-child, .homep #section4 .explan li:nth-child(2){margin-top:2.5rem}
	.homep #section4 .explan li:first-child{background-image:url(../images/mw/main_section4_figure1.png)}
	.homep #section4 .explan li:nth-child(2){background-image:url(../images/mw/main_section4_figure2.png)}
	.homep #section4 .explan li:nth-child(3){float:right;background-image:url(../images/mw/main_section4_figure3.png)}
	.homep #section4 .explan li:nth-child(3):before{bottom:auto;top:-2rem;left:4rem;width:.96875rem;height:.53125rem;background-position:-7.28125rem 0}
	.homep #section4 .explan li:nth-child(4){background-image:url(../images/mw/main_section4_figure4.png)}
	.homep #section4 .explan li:nth-child(4):before{bottom:auto;top:2.5rem;left:8.4rem;background-position:-8.40625rem 0}
	.homep #section4 .btn_skip{margin:2rem auto 0;left:auto;top:auto;width:16.875rem}

	/* ie9 */
	.homep .ie9 .section .icon_bolt i{width:54px !important}
	.homep .ie9 .section .icon_bolt i:before, .homep .ie9 .section .icon_bolt i:after{display:none}
}
