@charset "utf-8";	

/* text effect */
.u{text-decoration:underline !important}
.normal, tr.normal th{font-weight:normal !important}
tr.bold td, .bold{font-weight:bold !important}
.ls-1{letter-spacing:-1px !important}
.fs11{font-size:11px !important}
.txf{color:#333 !important}
.txf2{color:#d85b00 !important}
.txf3{color:#ff9600 !important}
.txf4{color:#222 !important}
.txf5{color:#e90000 !important} 
.txf6{color:#4576d3 !important}
.txf7{color:#666 !important}
.txf8{color:#3c8201 !important}

/* button style */
.btns{display:inline-block;vertical-align:middle;font-weight:bold;font-family:dotum;text-align:center}
.btns:hover{text-decoration:none}
.btns1{height:35px;line-height:37px;background:#6d6d6d;color:#fff}
.btns2{height:28px;line-height:30px;background:#6d6d6d;color:#fff}
.btns3{height:19px;line-height:21px;background:#6759b4;color:#fff}
.btns4{height:35px;line-height:37px;background:#4576d3;color:#fff}
.btns5{height:63px;line-height:65px;background:#4576d3;color:#fff}
.btns6{height:18px;line-height:20px;background:#fff;border:1px solid #d85b00;font-size:11px;color:#d85b00}
.btns7{height:18px;line-height:20px;background:#fff;border:1px solid #09529f;font-size:11px;color:#09529f}
.btns8{height:28px;line-height:30px;background:#4576d3;color:#fff}

/* table */
.tblst{clear:both;border-top:2px solid #09529f;line-height:1.6;font-family:dotum;color:#222}
.tblst table{width:100%}
.tblst th, .tblst td{padding-top:7px;padding-bottom:7px;border-left:1px solid #e4e4e4}
.tblst th{border-bottom:1px solid #74757a;background:#fcfcfc}
.tblst td{border-bottom:1px solid #e4e4e4;border-left:1px solid #e4e4e4;text-align:center;font-size:11px}
.tblst td.won{text-align:right;padding-right:10px;padding-left:10px;color:#666}
.tblst td.tr, .tblst td.tl{padding-right:10px;padding-left:10px}
.tblst td.stit{padding-top:5px;padding-bottom:5px;line-height:1.4}
.tblst td.stit2{padding-right:4px;padding-left:4px;text-align:left}
.tblst tr.row2 th, .tblst th.row2{border-bottom:1px solid #e4e4e4}
.tblst tr.total td{background:#f2f6ff}
.tblst tr.total2, .tblst td.total2{background:#f3fff2}
.tblst tr.divide td{border-top:1px solid #74757a}
.tblst tr.line2 th{line-height:1.3}
.tblst tr.small th{font-weight:normal;font-size:11px}
.tblst.v1{border-bottom:1px solid #74757a;}
.tblst.v1 th{line-height:1.4}
.tblst.v1 th, .tblst.v1 td{border-top:1px solid #e4e4e4;border-bottom:0}
.tblst.v1 tr.first th, .tblst.v1 tr.first td{border-top:0}
.tblst.v2{border-bottom:1px solid #09529f}
.tblst.v2 td{border-top:1px solid #e4e4e4;border-bottom:0}

.tblst2{clear:both;border-top:2px solid #09529f;border-bottom:1px solid #74757a;line-height:1.6;font-family:dotum}
.tblst2 table{width:100%}
.tblst2 th, .tblst2 td{padding-top:7px;padding-bottom:7px;border-left:1px solid #e4e4e4;border-top:1px solid #e4e4e4}
.tblst2 th{background:#fcfcfc;color:#222}
.tblst2 td{border-left:1px solid #e4e4e4;font-size:11px;padding-right:10px;padding-left:10px}

/* caution */
.base_caution{text-align:right;font-family:dotum;color:#222}
.list_caution{clear:both;font-family:dotum;line-height:1.8;font-size:12px;color:#222}
.list_caution li{padding-left:9px;background:url(../img/com/ico_bu.gif) no-repeat 0 8px}
.list_caution ol, .list_caution ul{margin-left:5px}
.list_caution li li{background:none;padding-left:0;font-size:11px}
.list_caution li li .num{font-size:12px}
.list_caution .sublst{margin-left:0}
.list_caution .sublst li{font-size:12px}
.file_caution{padding-left:25px;background:url(../img/com/file.png) no-repeat 0 2px}
.file_caution a{display:inline-block;font-family:dotum;vertical-align:middle;font-weight:bold;text-decoration:underline;color:#222}

/* hgroup */
.hst{clear:both;padding-left:23px;background:url(../img/com/h_bg_bu.gif) no-repeat 0 2px;font-size:18px;color:#222}
.hst2{clear:both;padding-left:12px;background:url(../img/com/h_bg_arr.gif) no-repeat 0 4px;font-family:dotum;font-size:14px;color:#0141ba}
.hst-row{clear:both}
.hst-row:after{display:block;clear:both;content:''}
.hst-row .hst.fl{clear:none;margin-top:1px}
.hst-row .txt{font-family:dotum;color:#222}
.hst-row .txt em{color:#e90000}
.hst-row .txt.fr{margin-top:2px}