@import url('https://fonts.googleapis.com/css?family=Montserrat:500&display=swap');
/* font-family: 'Montserrat'; */
/* 공통 */
/* body.hidden{overflow:hidden} */
.scroll{-webkit-overflow-scrolling:touch}
.scroll::-webkit-scrollbar{display:none}
.golf #ct > div{line-height:1.4}
#foot.fix{display:block;position:fixed;left:0;right:0;bottom:0;width:100%;z-index:20}
#foot.hide{display:none}
.footBtn{padding:0 2rem 1.5rem}
.footBtn button{display:block;width:100%;line-height:5rem;font-size:1.6rem}
#foot .checkBtn{padding:1.7rem 2rem 0.8rem;position:relative}
#foot .checkBtn ul{text-align:left}
#foot .checkBtn .chk{font-weight:500;font-size:1.2rem}
#foot .checkBtn small{display:block;padding-left:3rem;font-size:1.2rem;line-height:1.3}
#foot .checkBtn .docView{position:absolute;right:2rem;bottom:1.3rem;font-size:1.4rem;text-decoration:underline}
#foot .checkBtn + .footBtn{padding-top:0}
.golf .num{font-family:'Roboto'}
.ly_pop .checkWrap{display:block}
.golf .underPop .elm{border-radius:0}
.underPop{display:block;visibility:hidden;z-index:-50}
.underPop .scroll{overflow-y:scroll}
.underPop.show{visibility:visible;z-index:999}
.underPop .elm{width:100%;top:auto;left:0;right:0;bottom:0;transform:none;-webkit-transform:none;text-align:left}
.underPop.show .elm{bottom:0 !important;transition:bottom 250ms ease-in-out;-webkit-transition:bottom 250ms ease-in-out}
.underPop .popHead{position:relative;padding:1.6rem 2rem}
.underPop .popHead strong{font-size:1.6rem}
.underPop .popHead .pop_cls{padding:0.9rem;position:absolute;top:0.8rem;right:1.1rem}
.popHead .pop_cls i{width:1.3rem;height:1.3rem;background:url(../images/golf/ico_pop_close.png) no-repeat 50% 50%;background-size:100% 100%}
.underPop .desc{padding:0 2rem}
.prAlert{padding:0.8rem 2rem;font-size:1rem;line-height:1.5}
.prAlert strong{font-weight:400}
.underPop .checkWrap{margin:1.6rem 0 2.7rem}
.underPop .checkTxt p{line-height:1.4}
.underPop .checkBtn .chk{font-size:1.6rem}

/* 이용내역 월 선택 팝업 */
.checkMonth{height:19.4rem}
.monthList button{line-height:1.8;font-size:1.8rem;font-weight:500;vertical-align:middle}
.monthList button:after{content:'';display:inline-block;width:2.4rem;height:2.4rem;margin-top:-0.2rem;margin-left:1rem;background-repeat:no-repeat;background-position:50% 50%;background-size:100% 100%;vertical-align:middle;opacity:0}
.monthList button.checked:after{opacity:1}

/* 간편가입관리 등록전 */
.joinWrap small{display:block;padding:0.9rem 0 1.7rem;font-size:1.2rem;line-height:1.4}
.joinWrap li{height:7rem;border-bottom:1px solid transparent}
.joinWrap .joinBtn button{display:block;width:100%;height:100%;font-size:1.4rem}

/* 간편가입관리 내정보 */
.joinWrap .reset{display:block;width:100%;height:6rem;font-size:1.4rem}
.myInfo li{padding:1.35rem 0}
.myInfo .my{line-height:1.5}
.myInfo .my:after{content:'';display:block;clear:both}
.myInfo *{font-size:1.4rem}
.myInfo .my span{float:left}
.myInfo .my strong{float:right}
.myInfo .bank *{display:block;line-height:1.4}
.myInfo .bank strong{font-weight:700;font-size:1.6rem}
.myInfo .bank span{letter-spacing:0.1rem}

/* 달력팝업 */
.calendar small{display:block;margin-top:1.8rem;padding:1.3rem 0;font-size:1.1rem;text-align:center;border-top:1px solid transparent}
#picker{overflow-x:hidden;width:100%;position:relative}
.ui-datepicker-inline{position:absolute;left:0;right:0;top:0}
.ui-datepicker-group:first-child{margin-bottom:1.5rem}
.ui-datepicker-calendar{width:100%;opacity:0}
.underPop.show .ui-datepicker-calendar{opacity:1}
.ui-datepicker-calendar *{font-family:'Roboto'}
.ui-datepicker-calendar th,
.ui-datepicker-calendar th span{font-family: 'Montserrat'}
.ui-datepicker-title{margin-bottom:1rem;font-weight:700;font-size:1.8rem;color:#222}
.ui-datepicker-calendar th,
.ui-datepicker-calendar td{text-align:center;font-weight:500}
.ui-datepicker-calendar th{padding-bottom:1rem;font-size:1rem}
.ui-datepicker-calendar td,
.ui-datepicker-calendar td a{font-size:1.2rem}
.ui-datepicker-prev,
.ui-datepicker-next{display:none}
.ui-datepicker-calendar td{padding:1.1rem}
.ui-state-default{display:flex;display:-webkit-flex;width:100%;height:100%;position:relative;text-align:center;align-items:center;-webkit-align-items:center;justify-content:center;-webkit-justify-content:center;z-index:1;line-height:1.3}
.ui-state-default:after{content:'';display:block;width:2.8rem;height:2.8rem;position:absolute;left:50%;top:50%;margin-top:-1.4rem;margin-left:-1.4rem;background-color:transparent;border-radius:50%;z-index:-1}
.ui-datepicker-calendar .ui-datepicker-today a:before{content:'';display:block;width:0.3rem;height:0.3rem;margin-left:-0.15rem;position:absolute;left:50%;bottom:-0.3rem;border-radius:50%;background-color:transparent}
.ui-datepicker-calendar .ui-datepicker-today.ui-datepicker-current-day a:before{display:none}

/* 메인 약관 팝업 */
#doc_pop .elm{}
#doc_pop .footBtn{position:relative}
#doc_pop .checkBtn{margin:0.8rem 0 0.5rem}
#doc_pop .checkBtn ul{text-align:left}
#doc_pop .checkBtn label:before{vertical-align:top}
#doc_pop .elm .scroll{height:13rem}
#doc_pop .docList{padding:0.5rem 0 0.5rem 3rem}
/* #doc_pop .docList a{display:block;padding:0.6rem 0;position:relative;font-size:1.4rem} */
#doc_pop .docList a:after{content:'';display:block;width:1.6rem;height:1.6rem;position:absolute;right:0;top:50%;margin-top:-0.8rem;background-repeat:no-repeat;background-position:50% 50%;background-size:100% 100%}
.docList .agree{display:block;position:relative;padding-left:2.1rem}
.docList .agree > *{vertical-align:middle}
.docList .agree a{display:block;position:relative;padding:0.6rem 0;font-size:1.4rem}
.docList .agree label{display:inline-block;width:1.6rem;height:1.6rem;position:absolute;left:0;top:50%;margin-top:-0.8rem;border:1px solid red}
.docList .agree input:checked + label{background-color:blue}

/* 메인 */
.mainSec:first-child{margin-top:0}
.mainSec{margin-top:1rem}
.mainSec{overflow:hidden;padding:0 2rem}
.mainSec .img{display:block}
.mainSec .desc{position:relative;z-index:1}
.mainSec .desc > *{display:block}
.mainSec .lineTit{font-size:1.8rem;letter-spacing:-0.1rem;text-align:left}
.mainSec .lineTit .line{display:inline-block;position:relative;z-index:1}
.mainSec .lineTit .line:after {content:'';display:block;width:0;height:0.8rem;position: absolute;left:0;right:0;bottom:0.4rem;transition:width 600ms ease-in-out;-webkit-transition:width 600ms ease-in-out;z-index:-1}
.mainSec.arrived .lineTit .line:after{width:100%}
.mainSec .desc small{font-weight:300;font-size:1.2rem;text-align:left}

.sec0 .golf{width:17rem;position:absolute;right:-3.6rem;top:8.2rem}
.sec0 .desc{padding:1.6rem 0 4.7rem}
.sec0 .useDetail{float:right;font-size:1.2rem;text-decoration:underline}
.sec0 h4{clear:both;font-size:2.6rem;padding:1.7rem 0 8.7rem;letter-spacing:-0.2rem}
.sec0 .lineTit{margin-bottom:1.2rem}
.sec0 .desc small{padding-bottom:0.1rem}
.sec0 .process{margin:3rem 0.5rem 0;font-size:0;text-align:center}
.sec0 .process li{position:relative;padding-right:2.4rem;display:inline-block;vertical-align:middle}
.sec0 .process li:last-child{padding-right:0}
.sec0 .process li:after{content:'';display:block;width:1.6rem;height:1.6rem;position:absolute;right:0.4rem;top:50%;margin-top:-0.8rem;background-repeat:no-repeat;background-position:50% 50%;background-size:100% 100%}
.sec0 .process li:last-child:after{display:none}
.sec0 .process div{display:flex;display:-webkit-flex;width:7.4rem;height:7.4rem;border-radius:50%;justify-content:center;-webkit-justify-content:center;align-items:center;-webkit-align-items:center;text-align:center}
.sec0 .process span{font-size:1.1rem}
.sec0 .process i{font-size:1rem;text-decoration:underline}

.sec1 .desc{padding:4rem 0 5rem;text-align:center}
.sec1 .desc small{margin:1.2rem 0 3.7rem}
.sec1 .desc .imgWrap{display:inline-block}
.sec1 .imgWrap:after{content:'';display:block;clear:both}
.sec1 .imgWrap > .img{float:left;width:6.2rem}
.sec1 .imgWrap .block{display:flex;display:-webkit-flex;height:10.2rem;position:relative;font-size:1.1rem;justify-content:center;-webkit-justify-content:center;align-items:center;-webkit-align-items:center}
.sec1 .imgWrap .block .logo{width:4rem;height:4.1rem;position:absolute;bottom:1.5rem;left:1.1rem;z-index:1}
.sec1 .imgWrap .block:last-child:after{content:'';display:block;width:100%;height:7.2rem;position:absolute;left:0;right:0;bottom:0}
.sec1 .imgWrap .arrow{text-align:left}
.sec1 .imgWrap .arrow:before{content:'';display:block;width:100%;height:3.5rem;margin-bottom:1.35rem;background-repeat:no-repeat;background-position:50% 50%;background-size:100% 100%}
.sec1 .imgWrap .arrow i{margin-left:0.7rem;font-size:2rem;font-weight:700}
.sec1 .imgWrap .arrow i:after{content:'';display:inline-block;width:1rem;height:1.5rem;margin-left:0.1rem;background-repeat:no-repeat;background-position:50% 50%;background-size:100% 100%}
.sec1.arrived .imgWrap .arrow i:after{-webkit-animation:bounce-top 1.8s infinite both;animation:bounce-top 1.8s infinite both}
@-webkit-keyframes bounce-top {
    0% {
        -webkit-transform: translateY(-0.5rem);
        transform: translateY(-0.5rem);
        -webkit-animation-timing-function: ease-in;
        animation-timing-function: ease-in;
        opacity: 1;
    }
    24% {
        opacity: 1;
    }
    40% {
        -webkit-transform: translateY(-0.4rem);
        transform: translateY(-0.4rem);
        -webkit-animation-timing-function: ease-in;
        animation-timing-function: ease-in;
    }
    65% {
        -webkit-transform: translateY(-0.3rem);
        transform: translateY(-0.3rem);
        -webkit-animation-timing-function: ease-in;
        animation-timing-function: ease-in;
    }
    82% {
        -webkit-transform: translateY(-0.2rem);
        transform: translateY(-0.2rem);
        -webkit-animation-timing-function: ease-in;
        animation-timing-function: ease-in;
    }
    93% {
        -webkit-transform: translateY(-0.1rem);
        transform: translateY(-0.1rem);
        -webkit-animation-timing-function: ease-in;
        animation-timing-function: ease-in;
    }
    25%,
    55%,
    75%,
    87% {
        -webkit-transform: translateY(0);
        transform: translateY(0);
        -webkit-animation-timing-function: ease-out;
        animation-timing-function: ease-out;
    }
    100% {
        -webkit-transform: translateY(0);
        transform: translateY(0);
        -webkit-animation-timing-function: ease-out;
        animation-timing-function: ease-out;
        opacity: 1;
    }
}
@keyframes bounce-top {
    0% {
        -webkit-transform: translateY(-0.5rem);
        transform: translateY(-0.5rem);
        -webkit-animation-timing-function: ease-in;
        animation-timing-function: ease-in;
        opacity: 1;
    }
    24% {
        opacity: 1;
    }
    40% {
        -webkit-transform: translateY(-0.4rem);
        transform: translateY(-0.4rem);
        -webkit-animation-timing-function: ease-in;
        animation-timing-function: ease-in;
    }
    65% {
        -webkit-transform: translateY(-0.3rem);
        transform: translateY(-0.3rem);
        -webkit-animation-timing-function: ease-in;
        animation-timing-function: ease-in;
    }
    82% {
        -webkit-transform: translateY(-0.2rem);
        transform: translateY(-0.2rem);
        -webkit-animation-timing-function: ease-in;
        animation-timing-function: ease-in;
    }
    93% {
        -webkit-transform: translateY(-0.1rem);
        transform: translateY(-0.1rem);
        -webkit-animation-timing-function: ease-in;
        animation-timing-function: ease-in;
    }
    25%,
    55%,
    75%,
    87% {
        -webkit-transform: translateY(0);
        transform: translateY(0);
        -webkit-animation-timing-function: ease-out;
        animation-timing-function: ease-out;
    }
    100% {
        -webkit-transform: translateY(0);
        transform: translateY(0);
        -webkit-animation-timing-function: ease-out;
        animation-timing-function: ease-out;
        opacity: 1;
    }
}

.sec2 .desc{padding:4rem 0 0}
.sec2 .desc .lineTit{margin-bottom:4rem}
.sec2 .btnWrap{border-top:1px solid transparent}
.sec2 .btnWrap a{display:block;width:100%;line-height:6rem;text-align:center;font-size:1.4rem}
.sec2 .golfSlide .swiper-slide{text-align:center}
.sec2 .golfSlide .txt{font-size:1.4rem;font-weight:500}
/* .sec2 .golfSlide .swiper-wrapper{border:1px solid blue} */
.sec2 .golfSlide .swiper-pagination{margin:2.3rem 0;position:static;font-size:0}
.sec2 .golfSlide .swiper-bullets{width:0.5rem;height:0.5rem;margin: 0 0.45rem;opacity:1}

.sec3 .tgWrap{padding:0 0 2rem}
.sec3 .tgSec + .tgSec{margin-top:1px}
.sec3 .tgWrap .tgDesc{padding-bottom:1.3rem}

/* 이용내역 */
.useTit{padding:3.2rem 4rem 2rem}
.titWrap .tit{font-size:2.8rem;letter-spacing:-0.1rem;line-height:1.35}
.titWrap .tit button{font-size:2.8rem}
.titWrap .tit button:after{content:'';display:inline-block;width:1.8rem;height:1.1rem;margin-left:0.9rem;background-repeat:no-repeat;background-position:50% 50%;background-size:100% 100%;vertical-align:middle}
.titWrap .tit button span{display:inline-block;position:relative}
.titWrap .tit button span:after{content:'';display:block;width:100%;height:1px;position:absolute;left:0;right:0;bottom:0.45rem}
.titWrap .question{margin-top:8rem}
.titWrap .question strong{display:block;font-size:1.4rem}
.titWrap .question .ico_quest{display:inline-block;width:1.4rem;height:1.4rem;margin-top:-0.2rem;margin-right:0.4rem;background-repeat:no-repeat;background-position:50% 50%;background-size:100% 100%;vertical-align:middle}
.titWrap .question .list{margin-top:0.3rem;padding:0 1.15rem;font-size:0}
.titWrap .question .list li{display:inline-block;position:relative;padding:0 0.5rem;vertical-align:middle}
.titWrap .question .list li:before{content:'';display:block;width:1px;height:0.9rem;margin-top:-0.45rem;position:absolute;left:0;top:50%;background-color:transparent}
.titWrap .question .list li:first-child:before{display:none}
.titWrap .question .list button{font-size:1.2rem}

.useDate{padding:2rem}
.dateWrap .tDate{margin-bottom:0.6rem;font-size:1.4rem;font-weight:700}
.dateWrap .dateList li{border-radius:0.6rem}
.dateWrap .dateList li + li{margin-top:1rem}
.dateWrap .dateList li.shw .time:after{display:none}
.dateWrap .dateList a{display:block;padding:2rem}
.dateList .notice{display:block;position:relative;padding:2rem 0;font-size:1.6rem;font-weight:500}
.dateList .notice:after{content:'';display:block;width:100%;height:1px;position:absolute;left:0;bottom:0}
.dateList .notice strong{display:inline-block;position:relative;z-index:1}
.dateList .notice strong:after{content:'';display:block;width:100%;height:0.8rem;position:absolute;left:0;bottom:0;background-color:transparent;z-index:-1}
.dateList .desc{margin-top:1.5rem;position:relative}
.dateList .place,
.dateList .desc > *{display:block}
.dateList .desc strong{font-weight:700;font-size:1.8rem}
.dateList .desc.over strong{text-decoration:line-through}
.dateList .place{overflow:hidden;font-size:1.2rem}
.dateList .place .state{float:right;display:block;width:4.6rem;line-height:1.4rem;font-size:0.9rem;text-align:center;border:1px solid transparent}
.dateList .desc .time{overflow:hidden;font-weight:300;font-size:1.2rem}
.dateList .desc .time:after{content:'';float:right;display:block;width:0.8rem;height:1.4rem;margin-top:1px;background-repeat:no-repeat;background-position:50% 50%;background-size:100% 100%}
.dateList .desc .switch{display:block;width:4.2rem;height:2.5rem;position:absolute;right:0;bottom:1.8rem;border-radius:1.8rem;background-color:#222;border:2px solid #222}
.dateList .desc .switch:after{content:'';float:right;display:block;width:2.1rem;height:2.1rem;background-color:#fff;border-radius:50%}
.dateNone{padding:5rem 0 7rem}
.dateNone strong{display:block;text-align:center;font-size:1.2rem}
.dateNone strong:before{content:'';display:block;width:3rem;height:1.5rem;margin:0 auto 1.2rem;background-repeat:no-repeat;background-size:100% 100%;background-position:50% 50%}

/* 이용내역 상세 */
.emphasis{display:block;padding:2.5rem 2rem 6rem;font-size:2.2rem;font-weight:500;letter-spacing:-0.1rem;}
.emphasis strong{font-weight:700}
.useInsur{padding:2.4rem 0 3rem;text-align:center}
.useInsur > *{line-height:1.5;letter-spacing:-0.1rem}
.useInsur strong{display:inline-block;position:relative;padding:0 0.2rem;font-weight:700;font-size:2.4rem;z-index:1}
.useInsur strong:after{content:'';display:block;width:100%;height:0.8rem;position:absolute;left:0;right:0;bottom:0.6rem;z-index:-1}
.useInsur span{display:block;font-size:1.6rem}
.joinInfo{padding:0 2rem}
.joinWrap + .joinWrap{margin-top:5rem}
.joinWrap h4{float:left;margin-bottom:1.2rem;font-size:1.3rem}
.joinWrap h4 + a{float:right;font-size:1.3rem}
.joinTable{width:100%;clear:both}
.joinTable table{text-align:left;min-width:100%}
.joinTable table th,
.joinTable table td{padding:1.5rem 0;font-size:1.4rem}
.joinTable table th{font-weight:400}
.joinTable table td{font-weight:500}
.joinTable table td.num{font-weight:500}
.joinInfo .caption{padding:1.3rem 0}
.joinInfo .caption pre{line-height:1.5;font-size:1.2rem}
.joinInfo .confirm{padding:3rem 3.6rem 5.7rem}
.joinInfo .confirm ul{margin:0 -0.4rem;font-size:0;text-align:center}
.joinInfo .confirm li{display:inline-block;height:4rem;padding:0 0.4rem;vertical-align:middle}
.joinInfo .confirm a{overflow:hidden;display:block;width:10rem;height:100%;line-height:4rem;font-size:1.4rem;border-radius:0.4rem}

/* 가입 */
.calendarWrap,
.checkWrap{display:none}
.calendarWrap.show,
.checkWrap.show{display:block}
.submitWrap .submitIp{padding:0 2rem}
.submitWrap .submitIp h4{margin:2.5rem 0 5.7rem;font-size:2.2rem;letter-spacing:-0.1rem}
.submitIp .ipWrap + .ipWrap{margin-top:3rem}
.ipWrap .tit{font-size:1.2rem}
.ipWrap small{display:block;margin-top:0.3rem;font-size:1.2rem}
.ipWrap .ipBox{display:flex;display:-webkit-flex;flex-wrap:wrap;-webkit-flex-wrap:wrap;align-items:center;-webkit-align-items:center;height:4rem;border-bottom:1px solid transparent;font-size:0}
.ipBox .ip{display:inline-block;width:100%;height:100%;position:relative;vertical-align:middle}
.ipBox .ip input,
.ipBox .ip button{display:block;width:100%;height:100%;position:relative;padding:0;border:0;font-size:1.8rem;font-weight:500;text-align:left}
.ipBox .ip input[type="number"],
.ipBox .ip button{letter-spacing:0.02rem}
.ipBox .ip label{position:absolute;left:0;top:50%;font-size:1.8rem;transform:translateY(-50%);-webkit-transform:translateY(-50%)}
.ipBox .ip input:focus + label,
.ipBox .ip input:valid + label{display:none}
.ipBox.birth .ip{width:calc(100% - (6.3rem + 2.6rem))}
.ipBox.birth .ip:nth-of-type(1){width:6.3rem}
.ipBox .dash{display:inline-block;width:0.6rem;height:0.2rem;margin:0 1rem;background-color:transparent;vertical-align:middle}
.ipBox .ip button:after{content:'';display:block;width:1.5rem;height:1.7rem;position:absolute;right:0.9rem;top:50%;margin-top:-0.85rem;background-size:100% 100%;background-repeat:no-repeat;background-position:50% 50%}

.checkWrap{margin:4rem 0 6.4rem}
.checkTxt{margin-bottom:2rem;position:relative}
/* .checkTxt:after{content:'';display:block;clear:both} */
.checkTxt *{font-size:1.2rem}
.checkTxt a{position:absolute;right:0;bottom:0;border-bottom:1px solid transparent}
.checkBtn ul{font-size:0;text-align:center}
.checkBtn li{display:inline-block;vertical-align:middle;margin-right:3.3rem}
.checkBtn li:last-child{margin-right:0}
.checkBtn .chk{display:block;position:relative;padding-left:2.9rem;font-size:1.4rem;line-height:2.4rem;text-align:left}
.checkBtn label{display:block;width:100%;height:100%;position:absolute;left:0;top:0}
.checkBtn label:before{content:'';display:inline-block;width:2.4rem;height:2.4rem;margin-right:0.5rem;vertical-align:middle;background-size:100% 100%;background-repeat:no-repeat;background-position:50% 50%}

/* 가입정보 확인 */
.checkJoin .emphasis{padding-bottom:2.9rem}
.checkJoin .confirm{padding-bottom:4rem}
.tgWrap{margin:0 -2rem;padding:1rem 0 2.8rem}
.tgWrap .tgBtn{display:block;width:100%;padding:0 2rem;position:relative;font-size:1.2rem;text-align:left;line-height:4rem}
.tgWrap .tgBtn:after{content:'';display:block;width:1.2rem;height:0.65rem;position:absolute;right:2rem;top:50%;margin-top:-0.325rem;background-repeat:no-repeat;background-position:50% 50%;background-size:100% 100%;transform:rotate(180deg);-webkit-transform:rotate(180deg)}
.tgWrap .tgSec.descOn .tgBtn:after{transform:rotate(0);-webkit-transform:rotate(0)}
.tgWrap .tgDesc{display:none;padding:0 2rem 2.3rem}
.tgWrap .tgSec.descOn .tgDesc{display:block}
.tgWrap .tgList{padding:1.4rem 0 0;line-height:1.6}
.tgWrap .tgList .tit{display:block;margin-bottom:0.6rem;font-size:1.2rem}
.tgWrap .tgList li{position:relative;padding-left:0.8rem;font-size:1rem}
.tgWrap .tgList li + li{margin-top:1rem}
.tgWrap .tgList .judge{display:block;margin-top:1rem}
.tgWrap .tgList li:before{content:'';display:block;width:0.3rem;height:0.3rem;border-radius:50%;position:absolute;left:0;top:0.6rem}
.tgWrap .tgList pre{font-size:1.4rem;line-height:1.5}

/* 상품결과 */
.productWrap .result,
.productWrap .explain{display:block;padding:2.6rem 2rem 0;font-weight:500;letter-spacing:-0.1rem}
@media all and (max-width: 320px) {
    .productWrap .explain{letter-spacing:-0.2rem}
}
.productWrap .result{padding-bottom:9.3rem;font-size:2.8rem}
.productWrap .explain{padding-bottom:7.7rem;font-size:2rem}
.productWrap .result strong{display:inline-block;position:relative;z-index:1;letter-spacing:-0.1rem}
.productWrap .result strong i{font-weight:700;font-size:3rem}
.productWrap .result strong:after{content:'';display:block;width:0;height:0.8rem;position:absolute;left:0;right:0;bottom:0.6rem;z-index:-1;transition:width 600ms ease-in-out;-webkit-transition:width 600ms ease-in-out}
.productWrap .result strong.line:after{width:100%}
.productWrap .explain strong:after{bottom:0.4rem}
.productInfo{padding:0 2rem 3.6rem}
.productInfo h4{float:left;font-size:1.3rem;font-weight:400}
.productInfo a{display:block;position:relative}
.productInfo .viewAll{float:right;margin-bottom:1.2rem}
.productInfo .viewAll a{font-size:1.3rem;text-decoration:underline}
.productInfo .tgWrap{padding:0;clear:both}
.productInfo .tgSec:last-child{margin-top:1rem}
.productInfo .tgWrap .tgBtn{line-height:1.4}
.productInfo .tgSec:last-child .tgBtn:after{display:none}
.productInfo .tgSec .desc{position:relative;padding:1.25rem 0;border-bottom:1px solid transparent}
.productInfo .tgSec.descOn .desc{border-bottom:0}
.productInfo .tgSec:first-child .desc{border-top:1px solid transparent}
.productInfo .tgSec:last-child .desc{border-bottom:0}
.productInfo .tgSec .tgDesc{padding-bottom:2rem}
.productInfo .tgSec:last-child .tgList li + li{margin-top:0.5rem}
.productInfo .desc .num{font-weight:700}
.productInfo .desc span{display:block;font-size:1.4rem}
.productInfo .desc .price{margin-top:0.2rem;font-size:1.6rem}

