@charset "utf-8";

/* reset */
html{
    /* font-size:62.5% */
    /* font-size:3vw 가변 화면을 위한 */
    font-size:66.8%
}
html.aos5{font-size:62.5%}
@media all and (max-width:320px) {
    html{font-size:62.5%}
}
.bg_g{background-color:#f8f8f8}
.fc_red{color:#fc3948 !important}
.fc_grn{color:#009c8a !important}
.fc_grn2{color:#2bb7b3 !important}
.fc_grn3{color:#419da0 !important}
.fc_blu{color:#517aff !important}
.fc_blu2{color:#6a8dff !important}
.fc_ylw{color:#fff32b !important}
.cm_failbx .link,
.list_group .btn_btm_more,
.list_card article li button, .list_card article li a, .list_card .article li button, .list_card .article li a{color:#fc3948}
.ico_com{background-image:url(../images/kt_bg_icon.png)}
.ico_cau2{width:1.4rem;height:1.45rem;background-position:-1.9rem -2.75rem}
.ico_cau3{background-position:-1.9rem -2.75rem}
.ico_chk{width:.9rem;height:.75rem;background-position:-10.6rem -5.75rem;background-size:16rem auto}
.ico_chk2{width:1.25rem;height:.95rem;background-position:-4rem -224px;background-size:16rem auto}
.ico_refresh{width:1.7rem;height:1.3rem;background-position:-12rem -5.75rem;background-size:16rem auto}
.ico_arr_next{width:.85rem;height:1.45rem;background-position:-14.15rem -5.75rem;background-size:16rem auto}
.ico_arr_next2{width:0.75rem;height:1.25rem;background-position:-2.8rem -11.2rem;background-size:16rem auto}
.ico_arr_next3{width:.6rem;height:.85rem;background-position:-8rem -11.4rem;background-size:16rem auto}
.ico_arr_dw{width:.55rem;height:.85rem;background-position:-1.75rem -11.2rem;background-size:16rem auto}
.ico_ball{width:1.5rem;height:1.9rem;background-position:0 -2.7rem}
.ico_heart{width:1.75rem;height:1.4rem;background-size:16rem auto;background-position:-5.5rem -8.6rem}
.ico_heart2{width:1.75rem;height:1.4rem;background-size:16rem auto;background-position:-12.1rem -8.6rem}

.grim_com{background-size:33rem auto;background-image:url(../images/kt_bg_grim.png)}
.grim_pro2{background-position:-8.8rem -5.3rem}
.grim_star{background-position:-12.2rem -5.4rem}
.grim_finger{background-position:-14.4rem -5.4rem}
.grim_tel{width:3.8rem;height:3.8rem;background-position:0 -25.4rem}
.grim_nodata{width:5.25rem;height:4.15rem;background-position:0 0}
.grim_nodata2{width:4.15rem;height:4.55rem;background-position:-6.1rem 0}
.grim_nodata3{width:4.15rem;height:4.55rem;background-position:-6.1rem 0}
.grim_note{width:3rem;height:3.2rem;background-position:-0.05rem -25.4rem}
.grim_note2{width:3.15rem;height:3.2rem;background-position:-3.5rem -25.4rem}
.grim_tiem{width:2.3rem;height:3.62rem;background-position:-7.2rem -25.4rem}
.btn_xr2 .ico_arr2{position:absolute;top:50%;margin-top:-.7rem;right:1.5rem}
.ui_align_mid{left:1.5rem;right:1.5rem;bottom:1.5rem}

.btn_type{background-color:#2bb7b3;border-color:#2bb7b3;color:#fff}
.btn_type2{border-color:#2bb7b3;color:#2bb7b3}
.btn_type3{background-color:#2bb7b3;border-color:#2bb7b3}
.btn_type4{background-color:#cbd7da;border-color:#cbd7da;color:#fff}
.btn_btm_more{background-color:#2bb7b3;color:#fff}
.btn_btm_more .txs{color:#c5f9f8}
.btn_btm_more i{display:none}
.btn_btm_more i.arr_d{display:inline-block;position:static;margin:-.2rem 0 0 .7rem}
div.btn_btm_more{padding-top:.5rem;padding-bottom:3rem;background-color:#fff}
div.btn_btm_more button, div.btn_btm_more a{background-color:#2bb7b3;color:#fff}
div.btn_btm_more.gbg{background-color:#ecf0f1}
.btn_btm_more.fixbtm{padding:2rem 1.5rem}
.btn_btm_more2 i{background-position:-1.4rem -8.6rem}
.btn_btm_more3, div.btn_btm_more3 a, div.btn_btm_more3 button{color:#2bb7b3}
.btn_btm_more3 i{
  width:.9rem;height:1.4rem;background-position:-13.75rem 0;
  position:absolute;top:50%;right:2.6rem;-webkit-transform:translateY(-50%);transform:translateY(-50%)
}
div.btn_btm_more4{padding:3rem 1.5rem;background-color:#fff}
button.btn_btm_more4, .btn_btm_more4 button{height:5.3rem}
a.btn_btm_more4, .btn_btm_more4 a{line-height:5.3rem}
button.btn_btm_more4, .btn_btm_more4 button,
a.btn_btm_more4, .btn_btm_more4 a{font-size:1.4rem}

/* 보험사 color */
[data-name='메리츠화재'] .fill, [data-name='메리츠화재']:before{background-color:#B21426 !important}
[data-name='한화손해보험'] .fill, [data-name='한화손해보험']:before{background-color:#F89B6C !important}
[data-name='롯데손해보험'] .fill, [data-name='롯데손해보험']:before{background-color:#E50019 !important}
[data-name='MG손해보험'] .fill, [data-name='MG손해보험']:before{background-color:#1BA0DD !important}
[data-name='흥국화재'] .fill, [data-name='흥국화재']:before{background-color:#C7006C !important}
[data-name='삼성화재'] .fill, [data-name='삼성화재']:before{background-color:#145EC2 !important}
[data-name='현대해상'] .fill, [data-name='현대해상']:before{background-color:#F07700 !important}
[data-name='KB손해보험'] .fill, [data-name='KB손해보험']:before{background-color:#8B653F !important}
[data-name='DB손해보험'] .fill, [data-name='DB손해보험']:before{background-color:#5DB946 !important}
[data-name='더케이손해보험'] .fill, [data-name='더케이손해보험']:before{background-color:#113A84 !important}
[data-name='농협손해보험'] .fill, [data-name='농협손해보험']:before{background-color:#FF8D1A !important}
[data-name='AIG손해보험'] .fill, [data-name='AIG손해보험']:before{background-color:#0093D6 !important}
[data-name='AXA손해보험'] .fill, [data-name='AXA손해보험']:before{background-color:#002666 !important}
[data-name='처브손해보험(ACE손해보험)'] .fill, [data-name='처브손해보험(ACE손해보험)']:before{background-color:#3E2CA9 !important}
[data-name='BNP파리바카디프손해보험'] .fill, [data-name='BNP파리바카디프손해보험']:before{background-color:#008E5D !important}
[data-name='삼성생명'] .fill, [data-name='삼성생명']:before{background-color:#002B84 !important}
[data-name='한화생명'] .fill, [data-name='한화생명']:before{background-color:#F37321 !important}
[data-name='교보생명'] .fill, [data-name='교보생명']:before{background-color:#5F9600 !important}
[data-name='미래에셋생명'] .fill, [data-name='미래에셋생명']:before{background-color:#ED4A15 !important}
[data-name='신한생명'] .fill, [data-name='신한생명']:before{background-color:#0584C9 !important}
[data-name='흥국생명'] .fill, [data-name='흥국생명']:before{background-color:#E0007A !important}
[data-name='ABL생명(알리안츠생명)'] .fill, [data-name='ABL생명(알리안츠생명)']:before{background-color:#EA3526 !important}
[data-name='동양생명'] .fill, [data-name='동양생명']:before{background-color:#32AAE0 !important}
[data-name='메트라이프'] .fill, [data-name='메트라이프']:before{background-color:#0057AA !important}
[data-name='오렌지라이프(ING생명)'] .fill, [data-name='오렌지라이프(ING생명)']:before{background-color:#FF4D0F !important}
[data-name='NH생명'] .fill, [data-name='NH생명']:before{background-color:#FFAA1A !important}
[data-name='KDB생명'] .fill, [data-name='KDB생명']:before{background-color:#00326A !important}
[data-name='푸르덴셜생명'] .fill, [data-name='푸르덴셜생명']:before{background-color:#0068B7 !important}
[data-name='AIA생명'] .fill, [data-name='AIA생명']:before{background-color:#B91E3C !important}
[data-name='BNP파리바카디프생명'] .fill, [data-name='BNP파리바카디프생명']:before{background-color:#008457 !important}
[data-name='DGB생명'] .fill, [data-name='DGB생명']:before{background-color:#014282 !important}
[data-name='DB생명'] .fill, [data-name='DB생명']:before{background-color:#00854A !important}
[data-name='하나생명'] .fill, [data-name='하나생명']:before{background-color:#007E6F !important}
[data-name='푸본현대생명'] .fill, [data-name='푸본현대생명']:before{background-color:#00829A !important}
[data-name='IBK연금보험'] .fill, [data-name='IBK연금보험']:before{background-color:#3B92CF !important}
[data-name='KB생명'] .fill, [data-name='KB생명']:before{background-color:#64594E !important}
[data-name='교보라이프플래닛'] .fill, [data-name='교보라이프플래닛']:before{background-color:#FFB500 !important}
[data-name='라이나생명'] .fill, [data-name='라이나생명']:before{background-color:#0070BC !important}
[data-name='MG새마을금고공제'] .fill, [data-name='MG새마을금고공제']:before{background-color:#1277C0 !important}
[data-name='수협공제'] .fill, [data-name='수협공제']:before{background-color:#2D98D5 !important}
[data-name='신협공제'] .fill, [data-name='신협공제']:before{background-color:#0050A0 !important}
[data-name='처브라이프'] .fill, [data-name='처브라이프']:before{background-color:#E3222E !important}
[data-name='우체국보험'] .fill, [data-name='우체국보험']:before{background-color:#EC6301 !important}

/* common */
.cm_caution{font-size:.95rem}
.nodata_box .ele{padding-top:9.5rem;color:#fff}
.nodata_box3{background-color:#fff}

.tit_type{font-size:1.5rem;color:#303030}
.tit_type .stxt{margin-left:.45rem;font-weight:400;font-size:1.1rem;color:#666}
.tit_type2{font-size:1.4rem;color:#000}
.tit_group .count code{color:#fc3948}

.tab_type button, .tab_type a{width:100%;font-weight:400;color:#d0d0d0}
.tab_type button{height:3rem}
.tab_type a{line-height:3rem}
.tab_type button:before,
.tab_type a:before{content:'';display:none;height:2px;position:absolute;top:0;left:0;right:0;background-color:#000}
.tab_type .selected{background-color:#fff;font-weight:500;color:#000}
.tab_type .selected:before{display:block}

.tab_type2{background-color:#f5f7f8}
.tab_type2 button, .tab_type2 a{height:3rem;padding-top:.1rem;color:#d0d0d0;border:1px solid #dcdcdc}
.tab_type2 li{margin-left:-1px}
.tab_type2 a{line-height:3rem}
.tab_type2 button.selected, .tab_type2 a.selected{background-color:#fff;color:#000}
#swipetab, .tab_type.tabYear{padding:0}
#swipetab .tab_type{background-color:transparent}

.list_type .failbx2 .btn_view{line-height:inherit}
.list_type .failbx2 .btn_view i{margin-top:-.7rem}

.list_type2 .list .td code{font-weight:400;color:#fc3948}
.list_type2 .list .td code.won{border-bottom:1px solid #fc3948;line-height:1.8rem}
.list_group .pay strong{color:#fc3948}
.list_group a.brnd, .list_group button.brnd{color:#fc3948}
.list_group .ico1 i{background-position:-6.20rem 0}
.list_group .ico2 i{background-position:-7.7rem 0}
.list_group .ico3 i{background-position:-9.4rem 0}
.list_group .ico4 i{background-position:-11.2rem 0}

.list_detail article>ul, .list_detail article>ul:first-child{margin-top:1rem;border:1px solid #ebebeb}

.list_detail2 h3{padding-left:1.5rem}
.list_detail2 .btn_refresh{right:.8rem}
.list_detail2 .name_set .btn_link{right:-1.1rem}
.list_detail3>hgroup{padding-top:2.7rem;padding-bottom:1.8rem;border-bottom:1px solid #d3d3d3}
.list_detail3>hgroup .cat[data-cat='정상']{color:#fc3948}

.list_result .cau{padding-right:.9rem;padding-bottom:2.3rem;padding-left:.9rem}
.list_result ul.list>li{padding-right:.8rem;padding-left:.8rem}
.list_result ul.list .td.won code.emp:before{bottom:.3rem;height:1.05rem;background-color:#fffb94}
.list_result.card{padding-right:1rem;padding-left:1rem;padding-bottom:2rem}
.list_wrap_type .btn_btm_more{margin-top:2.2rem}
.list_wrap_type2 .cm_caution{margin-top:0;padding-top:2rem;border-top:1rem solid #ecf0f1}

.chart_type dd h3 i{background-position:0 -8.8rem}

.tbl_type2 tr:last-child th, .tbl_type2 tr:last-child td{padding-bottom:1.3rem}
.tbl_type2 th{font-weight:400}
.tbl_type2 th.brnd{color:#303030}
.tbl_wrap_type .nodata_box .ele{padding-top:4rem}
.tbl_wrap_type .inner.btn_btm_more{margin-top:0;padding-top:.5rem;padding-bottom:2.5rem}

/* 좌우여백 */
.inner,
.list_detail2>article,
.mybohum_profile h2,
.mybobum_ar,
.free_contents section,
.insurer_profile h2,
.insurer_profile .chart_wrap,
.insurer_profile .my_premium .cover,
.before_check ul ul{padding-right:1.5rem;padding-left:1.5rem}

/* layout */
#head{background-color:#ecf0f1}
#head h1{background-color:#fff;border-bottom:1px solid #7d7e7f}
#head h1, #head h1 a{color:#2c2c2c}
#head .btn_cls{right:auto;left:.4rem}
#head .btn_cls i{background-position:-2.6rem -5.9rem}
#head .btn_prev i{width:1rem;height:1.65rem;background-position:-7.9rem -8.8rem}
#head .tab_type{margin-top:1rem}
#head .tab_type.hid{visibility:hidden;position:absolute;z-index:1}
#ct{background-color:#ecf0f1}
#footer{color:#92989b;margin:0}
#footer .menu{background-color:#c7cbcf}
#footer .menu li:before{width:2px;background:url(../images/kt_footer_bar.gif) repeat-y}
#footer .menu li button, .kt #footer .menu li a{color:#fff;padding:0 1.5rem}
#footer.free_foot article{padding-bottom:0}
.footer_cm{background-color:#ecf0f1;text-align:center}
.footer_cm .topGo{margin-bottom:.5rem}
.footer_cm article{text-align:left}

/* content */
.skip_link .txt b,
.skip_link .txt code{border-bottom:1px solid #fc3948;line-height:1.8rem;color:#fc3948}
.skip_link button u{color:#fc3948;border-bottom:1px solid #fc3948}

.before_check h2, .before_check p.dsc{margin-left:1.35rem}
.before_check li li:first-child>i{background-color:#2CBBB6}
.before_check li li:nth-child(2)>i{background-color:#257d7a}

.mybohum_profile{margin-bottom:0}
.mybohum_profile ul.data{padding-right:.4rem;padding-left:1.5rem}
.mybohum_profile ul.data .num, .mybohum_profile ul.data .txt{border-bottom:1px solid #fc3948;font-size:1.7rem;font-weight:500;color:#fc3948}
.mybohum_profile ul.data .num{line-height:.8}
.mybohum_profile ul.data .fail{border-bottom:1px solid #fc3948;color:#fc3948}
.mybohum_profile~.mybohum_tab{border-top:1px solid #d3d3d3}

.mybohum_profile2>.inner{background-color:#fff}
.mybohum_profile2 h2{padding-left:.7rem;font-size:1.9rem;letter-spacing:-.2rem;line-height:1.4}
.mybohum_profile2 h2 .emp:before{background-color:#fffb94}
.mybohum_profile2 .srcharea .emp:before{background-color:#fffb94}
.mybohum_profile2 .result_cmt{background-color:#ecf0f1}
.mybohum_profile2 .myinfo_frm ul.default{padding-top:1.2rem;padding-bottom:1.7rem}
.mybohum_profile2 .myinfo_frm ul.default li.worktype [data-type="비위험"] i{background-position:0 -10.4rem}
.mybohum_profile2 .myinfo_frm ul.default li.worktype [data-type="비위험"] input:checked + label i{background-position:0 -14.2rem}
.mybohum_profile2 .myinfo_frm ul.default li.worktype [data-type="중위험"] i{background-position:-3.05rem -10.4rem}
.mybohum_profile2 .myinfo_frm ul.default li.worktype [data-type="중위험"] input:checked + label i{background-position:-3.05rem -14.2rem}
.mybohum_profile2 .myinfo_frm ul.default li.worktype [data-type="고위험"] i{background-position:-5.9rem -10.4rem}
.mybohum_profile2 .myinfo_frm ul.default li.worktype [data-type="고위험"] input:checked + label i{background-position:-5.9rem -14.2rem}
.mybohum_profile2 .myinfo_frm ul.bohumlst .checkbox input + label:after{background-image:url(../images/kt_bg_grim.png)}
.mybohum_profile2 .myinfo_frm ul.bohumlst [data-cat="의료실비"] input + label:after{background-position:-6.3rem -34.25rem}
.mybohum_profile2 .myinfo_frm ul.bohumlst [data-cat="암"] input + label:after{background-position:-8.95rem -34.2rem}
.mybohum_profile2 .myinfo_frm ul.bohumlst [data-cat="치아"] input + label:after{background-position:-11.7rem -34.25rem}
.mybohum_profile2 .myinfo_frm ul.bohumlst [data-cat="건강"] input + label:after{background-position:-14.1rem -34.25rem}
.mybohum_profile2 .myinfo_frm ul.bohumlst [data-cat="운전자"] input + label:after{background-position:-16.75rem -34.2rem}
.mybohum_profile2 .result_cmt[data-rlt="의료실비"] i{background-position:-4.8rem -26.2rem}
.mybohum_profile2 .result_cmt[data-rlt="암"] i{background-position:-6.85rem  -26.2rem}
.mybohum_profile2 .result_cmt[data-rlt="치아"] i{background-position:-8.95rem  -26.2rem}
.mybohum_profile2 .result_cmt[data-rlt="건강"] i{background-position:-10.8rem  -26.2rem}
.mybohum_profile2 .result_cmt[data-rlt="운전자"] i{background-position:-12.85rem  -26.2rem}

.mybohum_tab{background-color:#fff;border-top:1rem solid #ecf0f1}
.mybobum_aw, .mybobum_aw2{width:4.4rem}
.mybobum_ar{background-color:transparent;font-weight:500}
.mybobum_ar_txt{margin:0 1.5rem;padding-left:1.05rem;border-top:1px solid #d3d3d3}
.mybobum_ar_txt2{padding-top:0;padding-left:0;text-indent:-.6rem}
.mybobum_ar_txt3{padding:0;margin-left:-.35rem}
.mybobum_ar_wrap{margin:0 1.5rem;padding-right:0;padding-left:1rem;padding-top:1.1rem;border-top:1px solid #d3d3d3}

.mybobum_paylst{padding-bottom:3rem}

.cardbn_swir .fig1{background-position:-26.1rem -1.75rem}
.cardbn_swir .fig1 .heart{background-position:-28.35rem 0}
.cardbn_swir .fig2{background-position:-16.05rem -9.3rem}
.cardbn_swir .fig2 i{background-color:#f4c54f}
.cardbn_swir .fig3{background-position:-20.5rem -25.95rem}
.cardbn_swir .fig3 i{width:.75rem;height:.5rem;background-image:url(../images/kt_ico_schk.png)}
.cardbn_swir .fig3 i:nth-child(4),
.cardbn_swir .fig3 i:nth-child(5),
.cardbn_swir .fig3 i:nth-child(6){background-image:url(../images/kt_ico_chkbar.png)}
.cardbn_swir .btn_view i{width:2.5rem;height:.65rem;margin:-.5rem 0 0 .9rem;background-position:-9.15rem -8.6rem}
.cardbn_swir .swiper-slide.card1{background-color:#2bb7b3}
.cardbn_swir .swiper-slide.card1 .btn_view.emp:before{background-color:#1b9f9b}
.cardbn_swir .swiper-slide.card2{background-color:#2b66b7}
.cardbn_swir .swiper-slide.card2 .btn_view.emp:before{background-color:#18509d}
.cardbn_swir .swiper-slide.card3{background-color:#32a2d6}
.cardbn_swir .swiper-slide.card3 .btn_view.emp:before{background-color:#1390ca}

.cardbn_swir2 .swiper-slide[data-type="헬스케어"]{background-color:#2bb7b3}
.cardbn_swir2 .swiper-slide[data-type="헬스케어"] figure{background-position:-17.15rem 0}
.cardbn_swir2 .swiper-slide[data-type="헬스케어"] figure:before, .cardbn_swir2 .swiper-slide[data-type="헬스케어"] figure:after{background-image:url(../images/kt_bg_grim.png)}
.cardbn_swir2 .swiper-slide[data-type="헬스케어"] figure:before{background-position:0 -29.1rem}
.cardbn_swir2 .swiper-slide[data-type="헬스케어"] figure:after{background-position:-2.1rem -29.1rem}
.cardbn_swir2 .swiper-slide[data-type="헬스케어"] .btn_skip.emp:before{background-color:#f9ff62}
.cardbn_swir2 .swiper-slide[data-type="헬스케어"] .btn_skip{color:#000}
.cardbn_swir2 .swiper-slide[data-type="헬스케어"] .btn_skip i{background-position:-2.55rem -8.6rem}
.cardbn_swir2 .swiper-slide[data-type="보험추천"]{background-color:#2b66b7}
.cardbn_swir2 .swiper-slide[data-type="보험추천"] figure{background-position:0 -34.25rem}
.cardbn_swir2 .swiper-slide[data-type="보험추천"] figure:before{background-image:url(../images/kt_bg_grim.png);background-position:0 -31.15rem}
.cardbn_swir2 .swiper-slide[data-type="보험추천"] ul{color:#72a7f0}
.cardbn_swir2 .swiper-slide[data-type="보험추천"] ul>li{background-color:#144e9e}

.cardbn_swir2 .swiper-slide[data-type="건강기능식품"]{background-color:#2bb7b3}
.cardbn_swir2 .swiper-slide[data-type="건강기능식품"] figure{background-position:-12.7rem -46.7rem}
.cardbn_swir2 .swiper-slide[data-type="건강기능식품"] figure:before{background-image:url(../images/kt_bg_grim.png)}
.cardbn_swir2 .swiper-slide[data-type="건강기능식품"] figure:before{background-position:-18.25rem -46.7rem}
.cardbn_swir2 .swiper-slide[data-type="건강기능식품"] .btn_skip.emp:before{background-color:#f9ff62}
.cardbn_swir2 .swiper-slide[data-type="건강기능식품"] .btn_skip{color:#000}
.cardbn_swir2 .swiper-slide[data-type="건강기능식품"] .btn_skip i{background-position:-2.55rem -8.6rem}

.squarebn_nor .ico_arrow{background-position: -5.5rem -11.4rem}
.squarebn_nor[data-name="보험추천"] figure i{background-position:0 -40.8rem}
.squarebn_nor[data-name="보험추천"] figure i:before{background-image:url(../images/kt_bg_grim.png);background-position:-5.5rem -41.95rem}
.squarebn_nor[data-name="보험추천"] .confirm{background-color:#2bb7b3}
.squarebn_nor[data-name="스타벅스"] .confirm{background-color:#009a0a}
.squarebn_nor[data-name="스타벅스"] .mtxt strong:before{background-color:#003b04}

.squarebn_nor[data-name="인공지능"] figure i{background-position:-21.35rem -46.7rem}
.squarebn_nor[data-name="인공지능"] figure i:before{background-image:url(../images/kt_bg_grim.png);background-position:-18.25rem -49.45rem}
.squarebn_nor[data-name="인공지능"] .confirm{background-color:#2bb7b3}


.squarebn_swir{border-top:1rem solid transparent}
.squarebn_swir aside figure.fig1:before{background-color:#1fa6a2}
.squarebn_swir aside figure.fig1 .grim_com{width:4.4rem;height:6rem;background-position:-4.7rem -26.5rem;margin-top:-.3rem}
.squarebn_swir aside figure.fig2:before{background-color:#2157a2}
.squarebn_swir aside figure.fig2 .grim_com{width:4.1rem;height:5.15rem;background-position:-10rem -26.5rem;margin-top:.85rem}
.squarebn_swir aside figure.fig3:before{background-color:#228fc1}
.squarebn_swir aside figure.fig3 .grim_com{width:4.5rem;height:5.2rem;background-position:-15.3rem -26.5rem;margin-top:1.1rem}
.squarebn_swir .swiper-slide.card1 aside{background-color:#2bb7b3}
.squarebn_swir .swiper-slide.card2 aside{background-color:#2b66b7}
.squarebn_swir .swiper-slide.card3 aside{background-color:#32a2d6}
.squarebn_swir+.mybohum_tab{border-top:0}
.squarebn_swir+.mybohum_tab .mybobum_ar{border-top:1px solid #d3d3d3;border-bottom:1px solid #d3d3d3}
.squarebn_swir+.mybohum_tab .mybobum_ar_txt{margin:-.1rem 0 0;padding-bottom:0;padding-right:1.5rem;padding-left:2.75rem;border-top:1px solid #fff;line-height:2;position:relative;z-index:1}

.mybobum_ar_txt:before{content:'';display:block;height:1px;background-color:#d3d3d3;position:absolute;top:0;left:1.5rem;right:1.5rem}

.carsrv_wrap{border-top:1rem solid transparent}
.carsrv_top .mtxt .pot{color:#2bb7b3}

.srvqna_list{margin-top:1rem}
.srvqna_list .mtxt .emp:before{background-color:#fffb94}
.srvqna_list .infothum .fig1{background-position:-16.15rem -17.75rem}
.srvqna_list .infothum .fig2{background-position:-20.4rem -17.75rem}
.srvqna_list .infothum .fig3{background-position:-24.55rem -17.75rem}
.srvqna_list .infothum .fig4{background-position:-28.65rem -17.7rem}
.srvqna_list .infothum .fig5{background-position:-16.15rem -21.85rem}
.srvqna_list .infothum .fig6{background-position:-20rem -21.85rem}
.srvqna_list .infothum .fig7{background-position:-24.2rem -21.85rem}
.srvqna_list ul.list i.chk{background-position:-14.3rem -8.6rem}

.srvqna_map .map{background-image:url(../images/kt_map_bg.png)}
.srvqna_map .map a[data-area]{background-image:url(../images/kt_map_pin.png)}
.srvqna_map .areatip h4 i{width:1.25rem;height:.95rem;background-position:-14.3rem -8.6rem}
.srvqna_map .areatip .btn_cls i{width:1.25rem;height:1.25rem;background-position:0 -11.2rem}

/* 무료 */
.free_topbn{height:30rem;padding:2.9rem 3.5rem 3.5rem;background-color:#2cbbb6;background-repeat:no-repeat;background-position:100% 100%;font-size:1.6rem;line-height:1.4;color:#fff}
.free_topbn .mtxt{margin:.85rem 0 0 -.15rem;line-height:1.2;letter-spacing:-.15rem;font-size:3rem}
.free_topbn .mtxt strong{display:inline-block;vertical-align:top;font-size:3.5rem}
.free_topbn .mtxt em{font-style:italic}
.free_topbn .mt_tooltip{height:4rem;margin-top:2.5rem}
.free_topbn .mt_tooltip .tooltip{width:16rem;margin-left:-8rem;line-height:3rem;text-align:center;font-weight:500;font-size:1.3rem;color:#2cbbb6}
.free_topbn .btn_skip{position:absolute;bottom:3.5rem;left:3.5rem;right:3.5rem;display:block;text-align:center;line-height:4.5rem;font-weight:500;font-size:1.3rem;color:#fff;background-color:rgba(0,0,0,.15)}
.free_topbn .btn_skip.ani .gage{background:#257d7a}
.free_topbn:nth-child(2n){background-color:#2b66b7}
.free_topbn:nth-child(2n) .mt_tooltip .tooltip{color:#2b66b7}
.free_topbn[data-result='미조회-건강검진'] .mt_tooltip{margin-top:2.6rem}
.free_topbn[data-result='조회-건강검진'] .mtxt strong{margin-top:.5rem;line-height:1.1;font-size:4rem;border-bottom:1px solid #fff}
.free_topbn[data-result='조회-건강검진'] .mt_tooltip{margin-top:2.9rem}
.free_topbn[data-result='미조회-대출가능'] .mtxt strong{width:27rem}
.free_topbn[data-result='조회-대출가능'] .mtxt strong{border-bottom:1px solid #fff;font-size:3.75rem}
.free_topbn[data-result='조회-대출가능'] .mt_tooltip{margin-top:4.4rem}
.free_topbn[data-result='조회-납입보험'] .mtxt strong{border-bottom:1px solid #fff;font-size:3.75rem}
.free_topbn[data-result='조회-납입보험'] .mt_tooltip{margin-top:4.6rem}
.free_topbn[data-result='미조회-적정보험료'] strong{width:27.5rem}
.free_topbn[data-result='스타벅스']{
    background:#054408 url(../images/topbn_star_bg.png) no-repeat 100% 100%;
    background-size:auto 24.2rem;
}
.free_topbn[data-result='스타벅스'] .mtxt{margin-top:.45rem;font-weight:300;font-size:3.7rem}
.free_topbn[data-result='스타벅스'] .mtxt strong{font-size:3.75rem;letter-spacing:-.1rem;margin-left:-.35rem;color:#fff600}
.free_topbn[data-result='스타벅스'] .mtxt strong:before{bottom:.3rem;height:1.75rem;background-color:#007107;font-size:4rem}
.free_topbn[data-result='스타벅스'] .mt_tooltip{margin-top:2.8rem}
.free_topbn[data-result='스타벅스'] .tooltip{color:#043407}
.free_topbn[data-result='스타벅스'] .btn_skip{background-color:rgba(0,0,0,.5)}
.free_topbn[data-result='스타벅스'] .btn_skip.ani .gage{background-color:#009a0a}
.free_topbn[data-result='ai헬스']{background-color:#2cbbb6;letter-spacing:-.1rem}
.free_topbn[data-result='ai헬스'] .mtxt{letter-spacing:-.25rem;font-size:3.5rem}
.free_topbn[data-result='ai헬스'] .mtxt strong{margin-top:.5rem;line-height:1.1;font-size:3.5rem;border-bottom:1px solid #fff}
.free_topbn[data-result='ai헬스'] .mt_tooltip{margin-top:2.4rem}
.free_topbn[data-result='ai헬스'] .mt_tooltip .tooltip{width:18.5rem;margin-left:-9.2rem;color:#2cbbb6}

.free_contents section{padding-bottom:1rem}
.free_contents section.nodata{padding-bottom:2.5rem}
.free_contents section .btn_skip{position:relative;display:block;margin-top:2.25rem;border-top:1px solid #d3d3d3;height:5.2rem;line-height:6rem;text-align:center;font-weight:500;font-size:1.3rem;color:#2bb7b3}
.free_contents section .btn_skip i{width:.9rem;height:1.4rem;background-position:-13.75rem 0;position:absolute;top:50%;margin-top:-.3rem;right:2.6rem}
.free_contents .cover{padding-right:1rem;padding-left:1rem}
.free_contents .health_check .skip_link .txt{text-align:right}
.free_contents .bnr_belt_outlink + .health_outlay{margin-top:0}
.free_contents .health_outlay .list_group{margin-top:2.5rem}
.free_contents .insur_info_delbox li strong{color:#2cbbb6}
.free_contents .my_premium2{padding-bottom:3rem}
.free_contents .my_premium .chart_type{margin-top:2.7rem}
.free_contents .my_premium .list_type2{margin-top:2.4rem}
.free_contents .btn_total{height:auto;bottom:-8.2rem;padding:1.5rem;background-color:#fff}
.free_contents .btn_total button{width:100%;height:5.2rem;background-color:#2bb7b3;font-size:1.4rem;font-weight:500;color:#fff}
.free_contents .btn_total .txs{color:#c5f9f8}

/* 유료 */
.insurer_profile .my_premium .btn_btm_more{margin-top:2rem}
.insurer_profile .my_premium .btn_btm_more a{line-height:5.3rem}

/* 약관 */
.agree_head .btn_cls{right:auto;left:1.1rem}
.agree_head h1{padding-right:0;text-align:center}

/* 레이어팝업 */
.ly_result .elm{background-color:#ecf0f1}
.ly_bohumchk em{font-style:italic}
.ly_bohumchk .elm{border-radius:0;padding-top:3.5rem}
.ly_bohumchk .btn_area2{padding-top:3.5rem}
.ly_bohumchk .grim_com{background-size:32rem auto}
.ly_bohumchk .icon{display:inline-block;width:6rem;height:6rem;line-height:6rem;border-radius:50%;background-color:#ecf0f1}
.ly_bohumchk .icon i.srch{width:3.05rem;height:3.05rem;background-position:-28.25rem -21.85rem}
.ly_bohumchk .icon+p{margin-top:1.3rem;line-height:1.45;font-size:1.2rem;font-weight:300}
.ly_bohumchk .icon+p strong{font-size:1.4rem;color:#000}

.ly_hcare .elm{border-radius:0}
.ly_hcare .checkbox{padding-right:1.5rem;padding-left:1.5rem;background-color:#f3f3f3;border-radius:.5rem}
.ly_hcare .checkbox input:checked + label:before{background-image:url(../images/kt_checkbox_circle4_on.png)}
.ly_hcare .checkbox .ico_arr_next2{position:absolute;top:50%;right:1.5rem;-webkit-transform:translateY(-50%);transform:translateY(-50%)}
.ly_hcare .chklst{margin-top:1.25rem}
.ly_hcare .txt3 .emp:before{height:1.15rem;background-color:#fffb94}
.ly_hcare .btn_area2{padding-top:2.5rem}
.ly_hcare .icon i.calendar{background-position:-27.6rem -33.75rem}
.ly_hcare .icon i.note{background-position:-24.6rem -33.75rem}
.ly_hcare .icon i.heart{width:3.3rem;height:2.6rem;background-position:-27.6rem -30.4rem}
.ly_hcare .cs{margin-top:1.5rem;padding:1.5rem 1.2rem;background-color:#f3f3f3;border-radius:.5rem}
.ly_hcare .cs .tit{max-width:15.5rem;letter-spacing:-.05rem}
.ly_hcare .cs .tel{margin-top:-.1rem}
.ly_hcare .wrap.alert{padding-top:6.25rem;padding-bottom:1rem}

.ly_detailcs .icon i.phone{background-position:0 -20.1rem}
.ly_detailcs .chklst li.all .checkbox input:checked + label{border-color:#ea273a;color:#ea273a}
.ly_detailcs .checkbox input:checked + label:before{background-image:url(../images/kt_checkbox_circle4_on.png)}
.ly_detailcs .chklst li.all .checkbox input:checked + label:before{background-image:url(../images/kt_checkbox_circle5_on.png)}

.ly_help h3 .icon1{width:2.25rem;height:2.6rem;background-position:-21.35rem -33.75rem}
.ly_help h3 .icon2{width:2.4rem;height:2.45rem;background-position:-12.3rem -37.1rem}
.ly_help h3 .icon3{width:2.45rem;height:2.4rem;background-position:-19.35rem -37.1rem}
.ly_help h3 .icon4{width:2.55rem;height:2.1rem;background-position:-22.8rem -37.1rem;margin-left:.4rem}
.ly_help h3 .icon5{width:1.95rem;height:2.45rem;background-position:-26.35rem -37.1rem;margin:-.2rem 0 0 .4rem}
.ly_help .list .icon1{width:2.2rem;height:2.8rem;background-position:-6.3rem -37.1rem}
.ly_help .list .icon2{width:2.2rem;height:2.25rem;background-position:-9.1rem -37.1rem}

.ly_cpinfo .close{left:2rem}

/* 이벤트 */
.ly_evtDetail .elm{width:86%;padding:0;border-radius:0;text-align:left;background-color:#eee}
.ly_evtDetail .elm.bg_w{background:#fff;}
.ly_evtDetail header{position:relative;background-color:#fff}
.ly_evtDetail header h1{line-height:3.3rem;text-indent:1rem}
.ly_evtDetail header .btn_cls{position:absolute;top:1rem;right:.85rem}
.ly_evtDetail .ct .btn_area{margin:1.5rem 1.7rem 0}
.ly_evtDetail .ct .btn_skip{width:100%;padding:1.2rem 0;border-bottom:.25rem solid #d1d1d1;line-height:1.25;background-color:#e8273c;font-size:1.05rem;color:#fff}
.ly_evtDetail .ct .btn_skip strong{display:block;font-size:1.35rem}
.ly_evtDetail footer{margin:1rem 2.5rem}
.ly_evtDetail footer .list{line-height:1.4;font-weight:300}
.ly_evtDetail footer .list li{position:relative;padding-left:.5rem;letter-spacing:-.1rem}
.ly_evtDetail footer .list li:before{content:'-';position:absolute;top:0;left:0}

.ly_evtPop .elm{width:86%;padding:0;border-radius:0;background:none;text-align:left}
.ly_evtPop .btn_cancel{background-color:#859298}
.ly_evtPop .btn_skip{background-color:#e8273c}
.ly_evtPop .agree_area{background-color:#fff;text-align:center}
.ly_evtPop .agree_area button{width:11rem;color:#fff;border:0;border-bottom:.25rem solid #d1d1d1;margin-left:.6rem}
.ly_evtPop .agree_area{padding:1.5rem 0}
.ly_evtPop .agree_area button:first-child{margin-left:0}
.ly_evtPop .agree_area .checkbox{margin:0 0 1.5rem 3rem}

.ly_pop.full_kt {overflow:auto;}
.ly_pop.full_kt .cont:before{display:none}
.ly_pop.full_kt .elm{width:100%; height: 100%; border-radius:0;margin:0}
.ly_pop.full_kt .popcls{top:1.03rem;right:1rem}
.ly_pop.full_kt .ly_pop_h{padding:0 0 0 1.5rem;border-bottom:1px solid #e5e5e5;line-height:4.45rem;font-size:1.45rem;font-weight:500;color:#181818}
.ly_pop.full_kt .event_scroll{max-height:100%;padding-bottom:4.5rem;}

.event_scroll{max-height:42rem;overflow-x:hidden;overflow-y:auto}
.event_scroll.scroll_height{max-height:50rem;}

.evt_head_st header .btn_cls{right:inherit;left:.85rem}
.evt_head_st header h1{text-align:center}
.evt_head_st .ico_com {background-image: url(../images/kt_bg_icon.png)}
.evt_head_st .ico_x2 {width:1.3rem;height:1.3rem;background-position: -2.55rem -5.95rem}

.evt_foot_tit {padding:.7rem 0;font-weight:500;font-size:1.1rem}
.ly_evtDetail .ct .btn_area2{position: relative;
    top: -1px;padding:1rem 1.7rem 1.5rem 1.7rem;background:#fff}

/* 200129 서비스 안내 css 추가 */
.service_box {margin:1.5rem 2.5rem 0;}
.service_tit{padding:.7rem 0 .7rem;font-weight:600;font-size:1.5rem;color:#000;}
.service_box strong {border-bottom:.8rem solid #fff04e;height:1.5rem;overflow:visible;display:inline-block;}
.service_list li{background: url(../images/kt_service_ico.png) no-repeat 0% 50%;background-size:0.8rem;text-indent: 1.3rem;line-height:1.9rem;font-size:1.2rem;color:#000;font-weight:500;}
.service_list li span{color:#e8273c;font-weight:600;}
.service_txt{margin:.6rem 0 1.5rem 0;font-weight:500;font-size:1.2rem;color:#000;}

.eventdate_box {margin:0 2.5rem 1rem}
/*.evntdate_tit{padding:.1rem 0 .3rem;font-weight:400;font-size:1rem;color:434343;}*/
.evntdate_list li{background: url(../images/kt_service_ico.png) no-repeat 0% 50%;background-size:0.8rem;text-indent: 1.3rem;line-height:1.4rem;font-size:.9rem;color:434343;}
.line_st{border-top:solid 0.1rem #ececec;margin:1rem 0;}
.event_full {font-size:80%;}