@charset "utf-8";

/* reset */
html{
    /* font-size:62.5% */
    font-size:67%
}
html.wscroll, html.wscroll body{height:100%;overflow:hidden}
html.wscroll #wrap{height:100%;overflow:auto;-webkit-overflow-scrolling:touch}
body{background-color:#f3f3f3}
@media all and (max-width:321px){
    html{
        font-size:62.5%
    }
}

.fc_red{color:#fc3948 !important}
.fc_grn{color:#009c8a !important}
.fc_grn2{color:#1da797 !important}
.fc_blu{color:#4288f6 !important}

.ico_com{background-image:url(../images/skt_bg_icon.png);background-size:16rem auto}
.ico_prev{width:1.7rem;height:1.4rem;background-position:0 0;vertical-align:top}
.ico_set{width:.45rem;height:1.8rem;background-position:-2.78rem 0;vertical-align:top}
.ico_cau{width:1rem;height:.85rem;background-position:-4.15rem 0}
.ico_cau2{width:1.4rem;height:1.45rem;background-position:-1.9rem -2.75rem}
.ico_cau3{width:1.5rem;height:1.5rem;background-position:-5.7rem -5.8rem}
.ico_cau4{width:1.4rem;height:1.4rem;background-position:-14.45rem -8.25rem}
.ico_chk{width:1.1rem;height:.9rem;background-position:-6.25rem 0}
.ico_chk.rec_chk{width:1.2rem;background-position:-4.2rem -10.6rem}
.ico_arr{width:.9rem;height:1.4rem;background-position:-13.75rem 0}
.ico_arr3{width:.9rem;height:1.4rem;background-position:-6.8rem -2.8rem}
.ico_arr_next{width:.65rem;height:.95rem;background-position:-1.4rem -8.35rem}
.ico_ball{width:1.5rem;height:1.9rem;background-position:0 -2.7rem}
.ico_x{width:1.3rem;height:1.4rem;background-position:-2.6rem -5.9rem}
.ico_plus{width:1.15625rem;height:1.15625rem;background-position:-5.1875rem -3.59375rem;background-size:10rem auto}
.ico_plus2{width:.9rem;height:.9rem;background-position:-3.6rem -8.35rem}
.ico_refresh{width:1.1rem;height:1.15rem;background-position:-4.95rem -8.35rem}
.ico_heart{width:1.8rem;height:1.45rem;background-size:16rem auto;background-position:-9.4rem -8.25rem}
.ico_heart2{width:1.8rem;height:1.45rem;background-size:16rem auto;background-position:-7.2rem -10.6rem}
.ico_arr_dw{width:0.55rem;height:0.85rem;background-position:-6.1rem -10.6rem}

.grim_com{background-image:url(../images/skt_bg_grim.png);background-size:32rem auto}
.grim_nodata, .grim_nodata2, .grim_nodata3{background-size:33rem auto}
.grim_nodata{width:5.25rem;height:4.15rem;background-position:0 0}
.grim_nodata2{width:4.15rem;height:4.55rem;background-position:-6.1rem 0}
.grim_nodata3{width:4.15rem;height:4.55rem;background-position:-6.1rem 0}
.grim_nodata4{width:2.8rem;height:3rem;background-position:-16.9rem -5.85rem}
.grim_nodata5{width:2.45rem;height:2.95rem;background-position:-20.65rem -5.85rem}
.grim_pro{width:3.75rem;height:4.45rem;background-position:-11rem 0}
.grim_pro2{width:2.5rem;height:3.05rem;background-position:-13.9rem -5.3rem}
.grim_star{width:1.75rem;height:1.8rem;background-position:-9.1rem -10.75rem}
.grim_finger{width:2rem;height:2.1rem;background-position:-11.2rem -10.75rem}
.grim_print{width:6.3rem;height:6.05rem;background-position:-8.65rem -18.45rem}
.grim_chart{width:7.65rem;height:6rem;background-position:0 -18.45rem}
.grim_note{width:3rem;height:3.2rem;background-position:-0.05rem -25.4rem}
.grim_note2{width:3.15rem;height:3.2rem;background-position:-3.5rem -25.4rem}
.grim_tiem{width:2.3rem;height:3.62rem;background-position:-7.2rem -25.4rem}

.btn_type{background-color:#6924a8;border-color:#5968d9;color:#fff}
.btn_type2{background-color:transparent;border-color:#0072e6;color:#0072e6}
.btn_type2 .txs{color:#666}
.btn_type3{background-color:#0072e6;border-color:#0072e6;color:#fff}
.btn_type4{background-color:#d9d9d9;border-color:#d9d9d9;color:#8d8b8b}
.btn_type5{background-color:#b2b5b7;border-color:#b2b5b7;color:#fff}
.btn_type6{background-color:#222;color:#fff !important;border-radius:.5rem}
.btn_type7{height:5.05rem;font-size:1.4rem;background-color:#222;color:#fff !important;border-radius:.5rem}
.btn_type7.step{margin-bottom:2.5rem}
.btn_type7.detail{margin:2.5rem 0}
.btn_type8{color:#7a7a7a}
.btn_type9{background-color:#d3d3d3;border-color:#d3d3d3;border-radius:.5rem;color:#fff !important}
.btn_btm_more{border-top:1px solid #f4f4f4;font-size:1.3rem;color:#222}
.btn_btm_more.resultBtn{padding:0.5rem 1rem 2.5rem}
.btn_btm_more.resultBtn.fixbtm{padding:2rem 1rem}
.btn_btm_more i{position:static;margin:-.3rem 0 0 .5rem}
div.btn_btm_more{background-color:#fff;border-top:0}
div.btn_btm_more.gbg{background-color:#ecf0f1}
div.btn_btm_more button, div.btn_btm_more a{border-top:1px solid #f4f4f4;font-size:1.3rem;color:#222}
.btn_btm_more2 i{background-position:-6.5rem -8.35rem}
.btn_btm_more3, div.btn_btm_more3 a, div.btn_btm_more3 button{color:#000}
.btn_btm_more3 i{width:.7rem;height:1.1rem;background-position:-11.6rem -8.35rem;margin:-.2rem 0 0 .7rem}
.btn_btm_more3 i.pRight{position:absolute;right:2.6rem;top:50%;margin-top:0;transform:translateY(-50%);-webkit-transform:translateY(-50%)}
a.btn_btm_more4, button.btn_btm_more4{widows: 100%}
div.btn_btm_more4{padding:2.5rem 1.5rem;background-color:#fff}
div.btn_btm_more4 button{width:100%}

/* 보험사 color */
[data-name='메리츠화재'] .fill, [data-name='메리츠화재']:before{background-color:#B21426 !important}
[data-name='한화손해보험'] .fill, [data-name='한화손해보험']:before{background-color:#F89B6C !important}
[data-name='롯데손해보험'] .fill, [data-name='롯데손해보험']:before{background-color:#E50019 !important}
[data-name='MG손해보험'] .fill, [data-name='MG손해보험']:before{background-color:#1BA0DD !important}
[data-name='흥국화재'] .fill, [data-name='흥국화재']:before{background-color:#C7006C !important}
[data-name='삼성화재'] .fill, [data-name='삼성화재']:before{background-color:#145EC2 !important}
[data-name='현대해상'] .fill, [data-name='현대해상']:before{background-color:#F07700 !important}
[data-name='KB손해보험'] .fill, [data-name='KB손해보험']:before{background-color:#8B653F !important}
[data-name='DB손해보험'] .fill, [data-name='DB손해보험']:before{background-color:#5DB946 !important}
[data-name='더케이손해보험'] .fill, [data-name='더케이손해보험']:before{background-color:#113A84 !important}
[data-name='농협손해보험'] .fill, [data-name='농협손해보험']:before{background-color:#FF8D1A !important}
[data-name='AIG손해보험'] .fill, [data-name='AIG손해보험']:before{background-color:#0093D6 !important}
[data-name='AXA손해보험'] .fill, [data-name='AXA손해보험']:before{background-color:#002666 !important}
[data-name='처브손해보험(ACE손해보험)'] .fill, [data-name='처브손해보험(ACE손해보험)']:before{background-color:#3E2CA9 !important}
[data-name='BNP파리바카디프손해보험'] .fill, [data-name='BNP파리바카디프손해보험']:before{background-color:#008E5D !important}
[data-name='삼성생명'] .fill, [data-name='삼성생명']:before{background-color:#002B84 !important}
[data-name='한화생명'] .fill, [data-name='한화생명']:before{background-color:#F37321 !important}
[data-name='교보생명'] .fill, [data-name='교보생명']:before{background-color:#5F9600 !important}
[data-name='미래에셋생명'] .fill, [data-name='미래에셋생명']:before{background-color:#ED4A15 !important}
[data-name='신한생명'] .fill, [data-name='신한생명']:before{background-color:#0584C9 !important}
[data-name='흥국생명'] .fill, [data-name='흥국생명']:before{background-color:#E0007A !important}
[data-name='ABL생명(알리안츠생명)'] .fill, [data-name='ABL생명(알리안츠생명)']:before{background-color:#EA3526 !important}
[data-name='동양생명'] .fill, [data-name='동양생명']:before{background-color:#32AAE0 !important}
[data-name='메트라이프'] .fill, [data-name='메트라이프']:before{background-color:#0057AA !important}
[data-name='오렌지라이프(ING생명)'] .fill, [data-name='오렌지라이프(ING생명)']:before{background-color:#FF4D0F !important}
[data-name='NH생명'] .fill, [data-name='NH생명']:before{background-color:#FFAA1A !important}
[data-name='KDB생명'] .fill, [data-name='KDB생명']:before{background-color:#00326A !important}
[data-name='푸르덴셜생명'] .fill, [data-name='푸르덴셜생명']:before{background-color:#0068B7 !important}
[data-name='AIA생명'] .fill, [data-name='AIA생명']:before{background-color:#B91E3C !important}
[data-name='BNP파리바카디프생명'] .fill, [data-name='BNP파리바카디프생명']:before{background-color:#008457 !important}
[data-name='DGB생명'] .fill, [data-name='DGB생명']:before{background-color:#014282 !important}
[data-name='DB생명'] .fill, [data-name='DB생명']:before{background-color:#00854A !important}
[data-name='하나생명'] .fill, [data-name='하나생명']:before{background-color:#007E6F !important}
[data-name='푸본현대생명'] .fill, [data-name='푸본현대생명']:before{background-color:#00829A !important}
[data-name='IBK연금보험'] .fill, [data-name='IBK연금보험']:before{background-color:#3B92CF !important}
[data-name='KB생명'] .fill, [data-name='KB생명']:before{background-color:#64594E !important}
[data-name='교보라이프플래닛'] .fill, [data-name='교보라이프플래닛']:before{background-color:#FFB500 !important}
[data-name='라이나생명'] .fill, [data-name='라이나생명']:before{background-color:#0070BC !important}
[data-name='MG새마을금고공제'] .fill, [data-name='MG새마을금고공제']:before{background-color:#1277C0 !important}
[data-name='수협공제'] .fill, [data-name='수협공제']:before{background-color:#2D98D5 !important}
[data-name='신협공제'] .fill, [data-name='신협공제']:before{background-color:#0050A0 !important}
[data-name='처브라이프'] .fill, [data-name='처브라이프']:before{background-color:#E3222E !important}
[data-name='우체국보험'] .fill, [data-name='우체국보험']:before{background-color:#EC6301 !important}

/* layout */
#head{background-color:#fff}
#head .ico_com{background-image:url(../images/back.svg);background-size:28px auto}
#head.rec .btn_cls{right:auto;left:.4rem}
#head.rec .btn_cls i{background-position:-2.55rem -5.75rem}
#head.rec h1{border-bottom:1px solid #7d7e7f}
#head .btn_prev{position:absolute;top:1px;left:0;padding:0;padding-left:15px;padding-top:4px}
#head .btn_prev i{width:28px;height:28px;vertical-align:top}
#head .btn_cls{position:absolute;top:.8rem;right:.4rem;padding:1rem}
#head .btn_cls i{width:1.3rem;height:1.4rem;background-position:-13.8rem -5.9rem}
#head h1{line-height:44px;text-align:center}
#head h1, #head h1 a{font-weight:400;color:#000;font-size:18px;margin-top: -2px}
#ct{padding-top:1rem;background-color:#f3f3f3}
#ct.reset{padding-top:0}
#footer{margin:0;background-color:#fff;color:#92989b}
#footer article{padding:1.5rem 1.25rem}
#footer address p{margin-top:.5rem}
#footer address p:first-child{margin-top:0}
#footer .menu{background-color:#c2c2c2}
#footer .menu:after{display:block;clear:both;content:''}
#footer .menu li{position:relative;float:left}
#footer .menu li:before{content:'';position:absolute;top:.8rem;left:0;display:block;width:1px;height:1rem;background-color:#fff}
#footer .menu li:first-child:before{display:none}
#footer .menu li button, #footer .menu li a{padding:0 1.3rem;font-weight:400;font-size:1.1rem;color:#fff}
#footer .menu li button{height:2.6rem}
#footer .menu li a{display:block;line-height:2.6rem}
#footer .stit{margin-right:.45rem;font-weight:400;color:#666}
#footer .list li{position:relative;margin-top:.5rem;padding-left:.45rem}
#footer .list li:before{content:'-';display:inline-block;position:absolute;top:0;left:0}
#footer .ico_cau{margin:-.15rem .4rem 0 0}
#footer.free_foot{margin-top:0}
.footer_cm{background-color:#f3f3f3}

/* common */
.nodata_box{padding-top:8rem;padding-bottom:7rem;text-align:center;line-height:1.4;color:#a7a7a7}
.nodata_box2{padding:4.5rem 0 3.5rem;line-height:1.4;color:#a7a7a7}
.nodata_box3{padding-top:8.8rem;padding-bottom:9.5rem;background-color:#fff;color:#a7a7a7}
.nodata_box3~div.btn_btm_more{padding-bottom:.6rem}

.tit_type{padding-top:1rem !important;background-color:#f3f3f3;line-height:1.2 !important;font-size:1.5rem !important}
.tit_type, .tit_type strong{color:#222}
.tit_type2, .tit_type3{font-size:1.4rem;color:#000}
.tit_group2 h2, .tit_group2 h3{font-weight:500;color:#000}

.chart_type dd h3 i{background-position:-9.85rem -5.75rem;margin:0 .1rem 0 0}

.tab_type {padding:13px 20px 0 !important}
.tab_type * {line-height:1}
.tab_type li, .tab_type li:first-child{width:auto !important}
.tab_type li{margin-left:3rem}
.tab_type li:first-child{margin-left:0 !important}
.tab_type button,
.tab_type a{position:relative;padding-bottom:5px !important;font-size:16px;font-weight:400;color:#222;}
.tab_type button:after,
.tab_type a:after{content:'';position:absolute;left:0;bottom:0;width:100%;height:2px;background:#fff}
.tab_type button.selected,
.tab_type a.selected{font-weight:500;padding-top:0}
.tab_type button.selected:after,
.tab_type a.selected:after{background:#222}
/* .tab_type.tab2 li{padding:0 1.5rem}
.tab_type.tab3{padding-left:.7rem;padding-right:.7rem}
.tab_type.tab3 li{padding:0 1rem} */
.tab_type.swiper-wrapper li{margin-left:0;padding:0 1.5rem}
.tab_type.swiper-wrapper li:first-child{padding-left:0}
.tab_type.swiper-wrapper li:last-child{padding-right:4rem}
.tab_type.swiper-wrapper button{padding:0}
.tab_type2 li{width:50%;background-color:#f4f4f4}
.tab_type2 button, .tab_type2 a{height:3rem;padding-top:.1rem;color:#707070;border:1px solid #f4f4f4}
.tab_type2 a{line-height:3rem}
.tab_type2 li.selected button, .tab_type2 li.selected a{border:1px solid #dcdcdc;border-radius:.2rem;background-color:#fff;color:#000}
.tab_type2 li.selected:first-child{border-radius:.2rem 0 0 .2rem}
.tab_type2 li.selected:last-child{border-radius:0 .2rem .2rem 0}
#swipetab, .tab_type.tabYear{padding:0}
#swipetab .tab_type{background-color:transparent}
@media all and (max-width:320px) {
    .tab_type li{margin-left:1.5rem}
}

.list_type2 .list>li{margin-top:0;padding:1.8rem 0 1.7rem;border-top:1px solid #f4f4f4}
.list_type2 .list>li:first-child{border-top:0}
.list_type2 .list, .list_type2 .list .td code.won{font-size:1.4rem}
.list_type2 .list .th, .list_type2 .list .td{color:#222}
.list_type2 .list .td code{font-weight:400}
.list_type2 .list .td code.won{margin-right:0;line-height:1.1}
.list_result.card{padding:0 1rem 2rem}

.list_card3{border-top:0}
.list_card3 .article{padding-left:0;border-color:#f4f4f4}
.list_card3 .article .brnd{font-size:1.4rem;color:#222}
.list_card3 .article .brnd:after{width:.6rem;height:.9rem;background-position:-1.4rem -8.35rem;background-size:16rem auto;margin-top:-.4rem}

.list_detail article>ul, .list_detail article>ul:first-child{margin-top:1rem;border:1px solid #ebebeb}
.list_detail2 h3{font-weight:400;font-size:1.4rem}
.list_detail2 .name_set li.lg img{width:auto;height:2.35rem;margin-right:0.9rem}
.list_detail2 .btn_refresh{right:-.5rem}
.list_detail2 .btn_refresh .ico_refresh{width:2.4rem;height:2.4rem;background-position:-9.45rem -10.6rem}
.list_detail2 .name_set .btn_link{width:auto;height:auto;line-height:inherit;top:50%;margin-top:-.4rem}
.list_detail2 .name_set{border-top:1px solid #e0e0e0;border-bottom:1px solid #f4f4f4}
.list_detail2 .list_type2 .list>li{padding:1.3rem 0 1.2rem;border-top:0}
.list_detail2 .list_type2 .list .th{color:#7a7a7a}
.list_detail3>article h4, .list_detail3 .tit_type2{border-color:#e0e0e0}
.list_detail3 .tit_type3{margin-bottom:0;border-bottom:0}
.list_detail3 .brnd_set h3 img{width:10.5rem}
.list_detail3 .list_type2 .list>li{padding:1.3rem 0 1.2rem;border-top:0;margin-top:0}
.list_detail3 .list_type2 .list>li:first-child{padding-top:0}
.list_detail3 .list_type2 .list .th{color:#7a7a7a}

.list_group li{padding-top:1.5rem;padding-bottom:1.5rem;border-bottom:1px solid #f4f4f4;padding-left:0}
.list_group li:last-child{border-bottom:0}
.list_group li:after{content:'';display:block;clear:both}
.list_group .col{float:left;width:20rem;padding-bottom:0}
.list_group .col:before{display:none}
.list_group .icon i{background-size:16.5rem auto}
.list_group .ico1 i{background-position:-6.20rem 0}
.list_group .ico2 i{background-position:-7.7rem 0}
.list_group .ico3 i{background-position:-9.4rem 0}
.list_group .ico4 i{background-position:-11.2rem 0}
.list_group a.brnd, .list_group button.brnd{color:#fc3948}
.list_group .date{display:block;margin-top:.6rem;position:static;color:#a7a7a7}
.list_group .pay{float:right;text-align:right;font-size:1.2rem;color:#a7a7a7}
.list_group .pay strong{display:block;margin-bottom:.4rem;font-size:1.3rem;color:#222}

.list_wrap_type .list_group{margin-top:1.2rem}
.list_wrap_type .tit_type{background-color:transparent;padding-top:0 !important}
.list_wrap_type .list_group~.btn_btm_more{border-top:0;margin-top:0}
.list_wrap_type .btn_btm_more{padding-bottom:.6rem}
.list_wrap_type .btn_btm_more2{margin-top:0}
.list_wrap_type2 .tit_type{background-color:transparent;padding-top:0 !important}
.list_wrap_type2 .btn_btm_more{margin-top:1.75rem}
.list_wrap_type2 .cm_caution{margin-top:.6rem;padding-top:2rem;border-top:1rem solid #f3f3f3}

.tbl_type2 th{font-weight:400}
.tbl_type2 th, .tbl_type2 td{padding-top:1.7rem;padding-bottom:1.7rem;border-top:1px solid #f4f4f4;font-size:1.4rem}
.tbl_type2 th{color:#a7a7a7}
.tbl_type2 td{text-align:right;color:#000}
.tbl_type2 tr:first-child th, .tbl_type2 tr:first-child td{border-top:0}
.tbl_wrap_type .tit_type{margin-bottom:.8rem;background-color:transparent;padding-top:0 !important}
.tbl_wrap_type .tit_type2{margin-bottom:1rem}
.tbl_wrap_type .inner{margin-top:0;padding-bottom:0}
.tbl_wrap_type .inner.btn_btm_more{padding-top:2.5rem}

/* 좌우여백 */
.inner{padding-right:1.7rem;padding-left:1.7rem}
.inner2{padding-right:1.5rem;padding-left:1.5rem}
.mybohum_profile2 .inner{background-color: #fff}
.mybohum_profile2 h2{padding-left:0.7rem;font-size:1.9rem;letter-spacing:-0.2rem;line-height:1.4}
.mybohum_profile2 h2 .emp:before{background-color:#fffb94}
.mybohum_profile2 .srcharea .emp:before{background-color:#fffb94}
.mybohum_profile2 .myinfo_frm ul.default{padding:2.1rem 1.3rem 1.7rem}
.mybohum_profile2 .myinfo_frm ul.default li.worktype [data-type="비위험"] i{background-position:0 -10.4rem}
.mybohum_profile2 .myinfo_frm ul.default li.worktype [data-type="비위험"] input:checked + label i{background-position:0 -14.2rem}
.mybohum_profile2 .myinfo_frm ul.default li.worktype [data-type="중위험"] i{background-position:-3.05rem -10.4rem}
.mybohum_profile2 .myinfo_frm ul.default li.worktype [data-type="중위험"] input:checked + label i{background-position:-3.05rem -14.2rem}
.mybohum_profile2 .myinfo_frm ul.default li.worktype [data-type="고위험"] i{background-position:-5.9rem -10.4rem}
.mybohum_profile2 .myinfo_frm ul.default li.worktype [data-type="고위험"] input:checked + label i{background-position:-5.9rem -14.2rem}
.mybohum_profile2 .infochk_lst ul{padding-right:1.8rem}
.mybohum_profile2 .infochk_lst .chg_info{margin-left:auto}
.mybohum_profile2 .infochk_lst .chg_info a{display: block;color:#bfbfbf;border-bottom:1px solid #bfbfbf}
.mybohum_profile2 .infochk_lst .chg_info:before{display:none}
.mybohum_profile2 .myinfo_frm ul.bohumlst .checkbox input + label:after{background-image:url(../images/skt_bg_grim.png)}
.mybohum_profile2 .myinfo_frm ul.bohumlst [data-cat="의료실비"] input + label:after{background-position: -19.4rem -37rem}
.mybohum_profile2 .myinfo_frm ul.bohumlst [data-cat="암"] input + label:after{background-position: -21.75rem -37rem}
.mybohum_profile2 .myinfo_frm ul.bohumlst [data-cat="치아"] input + label:after{background-position: -24.4rem -37rem}
.mybohum_profile2 .myinfo_frm ul.bohumlst [data-cat="건강"] input + label:after{background-position: -26.7rem -37rem}
.mybohum_profile2 .myinfo_frm ul.bohumlst [data-cat="운전자"] input + label:after{background-position: -29.25rem -37rem}
.mybohum_profile2 h2+ .list_result ul.list+.cau{padding:0 0.9rem 2.3rem}
.list_result ul.list .td.won code.emp:before{bottom:0.3rem;height:1.05rem;background-color:#fffb94}

/* content */
.srchdata_area .srchlst{margin-top:1.1rem}
.srchdata_area .srchlst>li{
	display:-webkit-flex;display:flex;
    -webkit-align-items:center;align-items:center;
    -webkit-justify-content: space-between;justify-content: space-between;
	border-top:1px solid #f4f4f4
}
.srchdata_area .srchlst>li>span, .srchdata_area .srchlst>li>strong{padding-top:1.9rem;padding-bottom:2rem;font-size:1.4rem;color:#222;flex:1 1 auto}
.srchdata_area .srchlst>li:first-child{border-top:0}
.srchdata_area .srchlst .btn_srch{font-weight:500;color:#222}
.srchdata_area .srchlst .btn_srch i{
    width:.6rem;height:.9rem;background-position:-1.4rem -8.35rem;
    position:absolute;top:50%;right:0;margin-top:-.1rem;
    -webkit-transform:translateY(-50%);transform:translateY(-50%)
}
.srchdata_area .srchlst .td{text-align:right;position:relative;padding-right:1.25rem}
.srchdata_area .bn_outskin{display:block;padding:1.8rem 1.5rem 2rem;border-radius:.4rem;line-height:1.4}
.srchdata_area .bn_outskin .skip{display:block;margin-top:1.2rem;color:#7a7a7a;font-size:1.2rem}
.srchdata_area .bn_outskin .skip i{width:.6rem;height:.95rem;background-position:-2.5rem -8.35rem;margin:-.2rem 0 0 .45rem}
.srchdata_area .bn_outskin{position:relative;font-size:1.4rem}
.srchdata_area .bn_outskin:before{content:'';display:block;background-image:url(../images/skt_bg_grim.png);background-repeat:no-repeat;background-size:32rem auto;position:absolute}
.srchdata_area .bn_outskin[data-cat='건강상태']{background-color:#e3f3fd;color:#16449b}
.srchdata_area .bn_outskin[data-cat='건강상태']:before{width:4.55rem;height:3.65rem;background-position:-16rem 0;bottom:1.7rem;right:2rem}
.srchdata_area .bn_outskin[data-cat='가계부']{background-color:#fdfbe3;color:#c98900}
.srchdata_area .bn_outskin[data-cat='가계부']:before{width:4rem;height:5.25rem;background-position:-21.55rem 0;bottom:2rem;right:2.5rem}
.srchdata_area .bn_outskin[data-cat='숨은보험금']{background-color:#e3fdec;color:#328049}
.srchdata_area .bn_outskin[data-cat='숨은보험금']:before{width:6rem;height:3.45rem;background-position:-26rem 0;bottom:1.5rem;right:1.6rem}

.dsc_area{padding-top:2rem;padding-bottom:2rem;font-size:1rem;color:#a7a7a7}
.dsc_area h3, .dsc_area h4{font-size:1.1rem;color:#878787}
.dsc_area h3~.list, .dsc_area h4~.list{margin-top:1rem}
.dsc_area .list>li{position:relative;margin-top:.4rem;padding-left:.4rem}
.dsc_area .list>li:before{content:'-';position:absolute;left:0;top:0}
.dsc_area .list>li:first-child{margin-top:0}
.dsc_area .list .pot{margin-left:1.2rem;color:#878787}

.profile_line{position:relative;padding:1.5rem}
.profile_line dt{float:left;width:5.2rem;height:5.2rem;overflow:hidden;background:url(../images/bg_profile_default.png) no-repeat;background-size:100% auto}
.profile_line dt img{width:100%;height:100%;border-radius:50%}
.profile_line dd{left:8rem;top:.5rem !important;font-size:1.5rem;color:#303030}
.profile_line dd .point{font-weight:400;color:#0072e6}
.profile_line dd .point2{display:inline-block;border-bottom:1px solid #0072e6;text-decoration:none;color:#0072e6}

.mybohum_profile{margin-bottom:1rem;background-color:#fff}
.mybohum_profile h2, .mybohum_profile strong{color:#a7a7a7 !important}
.mybohum_profile .subtxt{padding-right:2.5rem;padding-left:2.5rem}
.mybohum_profile .subtxt h3{font-size:1.5rem}
.mybohum_profile .subtxt h3+p{margin-top:.5rem;letter-spacing:-.08rem;font-weight:300;font-size:1.2rem;color:#666}
.mybohum_profile ul.data{display:-webkit-flex;display:flex;padding:1.8rem 1.4rem 1.7rem 2.5rem;text-align:right}
.mybohum_profile ul.data li{position:relative;-webkit-flex:1 1 0;flex:1 1 0;padding:0 1.1rem;font-size:1.2rem;color:#666}
.mybohum_profile ul.data li:before{content:'';display:block;width:1px;background-color:#d0d0d0;position:absolute;top:0;bottom:0;left:0}
.mybohum_profile ul.data li:first-child{padding-left:0}
.mybohum_profile ul.data li:first-child:before{display:none}
.mybohum_profile ul.data h3{margin-bottom:1.7rem;text-align:left;font-weight:300;font-size:1.2rem;color:#303030}
.mybohum_profile ul.data .num{
	display:inline-block;padding:0 .4rem;margin-right:.3rem;border-bottom:1px solid #fc3948;font-size:2rem;font-weight:500;line-height:1.2;color:#fc3948;text-align:left;
	text-overflow:ellipsis;white-space:nowrap;word-wrap:normal;overflow:hidden;max-width:11rem;vertical-align:bottom;
}
.mybohum_profile ul.data.tab3 h3{font-size:1.15rem}
.mybohum_profile ul.data .fail{color:#fc3948}
.mybohum_profile .btn_skip{margin-top:1.5rem;padding:0 2.5rem}
.mybohum_profile .btn_skip a, .mybohum_profile .btn_skip button{width:100%}
.mybohum_profile.type{padding-bottom:2.3rem}
.mybohum_profile ~ .mybohum_tab{margin-top:-1rem}

.mybobum_paylst{padding-top:2.7rem;padding-bottom:.6rem;background-color:#fff}
.mybobum_paylst .list_card3{margin-top:1.5rem}
.mybobum_paylst .wtotal{font-size:1.4rem;color:#222}
.mybobum_paylst .wtotal .won{display:block;margin-top:.25rem;font-size:2.4rem}
.mybobum_paylst .wtotal .won code{letter-spacing:-.1rem;font-family: 'Roboto', sans-serif}
.mybobum_paylst .list_card3~.btn_btm_more{border-top:0}
.mybobum_detail{padding-top:2.7rem;padding-bottom:2.5rem;background-color:#fff}
.mybobum_detail article:first-child{padding-bottom:1.2rem}
.mybobum_detail .tbl_type2{margin-top:0;border-top:0}

.cardbn_swir .fig1{background-position:-17rem -16.15rem}
.cardbn_swir .fig1 .heart{background-position:-19.3rem -13.9rem}
.cardbn_swir .fig2{background-position:-23.6rem -14.8rem}
.cardbn_swir .fig2 i{background-color:#2970d6}
.cardbn_swir .fig3{background-position:-24.65rem -23.05rem}
.cardbn_swir .fig3 i{width:.75rem;height:.5rem;background-image:url(../images/skt_ico_schk.png)}
.cardbn_swir .fig3 i:nth-child(4),
.cardbn_swir .fig3 i:nth-child(5),
.cardbn_swir .fig3 i:nth-child(6){background-image:url(../images/skt_ico_chkbar.png)}
.cardbn_swir .btn_view i{width:.75rem;height:1.2rem;margin:-.3rem 0 0 .95rem;background-position:-6.65rem -2.75rem}
.cardbn_swir .swiper-slide.card1{background-color:#4285f6}
.cardbn_swir .swiper-slide.card2{background-color:#2b38b7}
.cardbn_swir .swiper-slide.card3{background-color:#42b0f6}

.cardbn_swir2 .swiper-slide[data-type="헬스케어"]{background-color:#4285f6}
.cardbn_swir2 .swiper-slide[data-type="헬스케어"] h3+span{color:#c5dbfa}
.cardbn_swir2 .swiper-slide[data-type="헬스케어"] figure{background-position:-23.55rem -5.5rem;width:8.25rem;height:8.3rem;bottom:1.1rem;right:1.15rem}
.cardbn_swir2 .swiper-slide[data-type="헬스케어"] figure:before, .cardbn_swir2 .swiper-slide[data-type="헬스케어"] figure:after{background-image:url(../images/skt_bg_grim.png)}
.cardbn_swir2 .swiper-slide[data-type="헬스케어"] figure:before{background-position:-8.8rem -5.25rem}
.cardbn_swir2 .swiper-slide[data-type="헬스케어"] figure:after{background-position:-10.85rem -5.25rem}
.cardbn_swir2 .swiper-slide[data-type="헬스케어"] .btn_skip{color:#fff}
.cardbn_swir2 .swiper-slide[data-type="헬스케어"] .btn_skip i{width:.75rem;height:1.2rem;background-position:-6.65rem -2.75rem;margin:-.3rem 0 0 .95rem}
.cardbn_swir2 .swiper-slide[data-type="보험추천"]{background-color:#2b66b7}
.cardbn_swir2 .swiper-slide[data-type="보험추천"] figure{background-position:-9.65rem -37rem}
.cardbn_swir2 .swiper-slide[data-type="보험추천"] figure:before{background-image:url(../images/skt_bg_grim.png);background-position:-16.3rem -37rem}
.cardbn_swir2 .swiper-slide[data-type="보험추천"] ul{color:#72a7f0}
.cardbn_swir2 .swiper-slide[data-type="보험추천"] ul>li{background-color:#144e9e}

.squarebn_swir aside h3{margin-top:1rem;font-size:2.2rem}
.squarebn_swir aside{height:auto;padding-bottom:3rem}
.squarebn_swir aside figure.fig1{margin-top:1rem}
.squarebn_swir aside figure.fig1:before{background-color:#3073e4}
.squarebn_swir aside figure.fig1 .grim_com{width:4.4rem;height:6rem;background-position:0 -29rem;margin-top:-.3rem}
.squarebn_swir aside figure.fig2:before{background-color:#1e2baa}
.squarebn_swir aside figure.fig2 .grim_com{width:4.1rem;height:5.15rem;background-position:-5.8rem -29rem;margin-top:.85rem}
.squarebn_swir aside figure.fig3:before{background-color:#28a0ed}
.squarebn_swir aside figure.fig3 .grim_com{width:4.5rem;height:5.2rem;background-position:-11.55rem -29rem;margin-top:1.1rem}
.squarebn_swir .swiper-slide.card1 aside{background-color:#4285f6}
.squarebn_swir .swiper-slide.card2 aside{background-color:#2b38b7}
.squarebn_swir .swiper-slide.card3 aside{background-color:#42b0f6}
.squarebn_swir+.mybohum_tab{background-color:#fff}
.squarebn_swir+.mybohum_tab .mybobum_ar{position:relative;padding:1.6rem 2rem 1.4rem;border-top:1px solid #d3d3d3;border-bottom:1px solid #d3d3d3;background-color:#fff;font-size:1.1rem;font-weight:500;color:#000}
.squarebn_swir+.mybohum_tab .mybobum_ar i{margin:-.25rem .45rem 0 0}
.squarebn_swir+.mybohum_tab .mybobum_ar dl{font-size:1rem;padding-left:.5rem}
.squarebn_swir+.mybohum_tab .mybobum_ar_txt{display:none;margin-top:-.1rem;padding-bottom:0;padding-right:1.5rem;padding-left:2.75rem;border-top:1px solid #fff;line-height:2;position:relative;z-index:1}
.squarebn_swir+.mybohum_tab .mybobum_ar_txt:before{content:'';display:block;height:1px;background-color:#d3d3d3;position:absolute;top:0;left:1.5rem;right:1.5rem}
.squarebn_swir+.mybohum_tab .mybobum_aw, .mybobum_aw2{width:4.4rem}

.squarebn_nor{padding:2.7rem 10.5rem 2.05rem 2.25rem}
.squarebn_nor[data-name="보험추천"]{background-color:#2b42b7}
.squarebn_nor[data-name="보험추천"] figure{background-color:#182fa8}
.squarebn_nor[data-name="보험추천"] figure i{width:4.4rem;height:2.9rem;position:relative;background-position:0 -37rem;background-size:32rem auto}
.squarebn_nor[data-name="보험추천"] figure i:before{content:'';display:block;width:1.85rem;height:1.85rem;position:absolute;right:-0.2rem;bottom:-0.55rem;background:url(../images/skt_bg_grim.png) no-repeat -5.8rem -37rem;background-size:32rem auto;animation:ballBound .3s cubic-bezier(0.165, 0.840, 0.440, 1.000) infinite alternate;-webkit-animation:ballBound .3s cubic-bezier(0.165, 0.840, 0.440, 1.000) infinite alternate}
.squarebn_nor .name em{font-style:italic}
.squarebn_nor .confirm{display:inline-block;margin-top:1.5rem;font-size:1.2rem;padding:0.65rem 1.8rem 0.65rem 2.45rem;background-color:#2bb7b3;box-shadow:0 0.5rem 0.5rem rgba(0,0,0,0.2)}
.squarebn_nor .ico_arrow{width:2rem;height:1.05rem;margin-left:0.65rem;margin-top:-0.25rem;background-position: -1.85rem -10.6rem;background-size:16rem auto;-webkit-transform:translateX(-.35rem);transform: translateX(-.35rem);animation:viewArr .3s infinite alternate;-webkit-animation:viewArr .3s infinite alternate}

.carsrv_top .mtxt .pot{color:#4285f6}

.srvqna_list{margin-top:1rem;padding-right:1.5rem;padding-left:1.5rem}
.srvqna_list .mtxt .emp:before{background-color:#fffb94}
.srvqna_list .infothum .fig1{background-position:-13.8rem -9.95rem}
.srvqna_list .infothum .fig2{background-position:-13.1rem -14.1rem}
.srvqna_list .infothum .fig3{background-position:-9rem -14.1rem}
.srvqna_list .infothum .fig4{background-position:-17.45rem -31.45rem}
.srvqna_list .infothum .fig5{background-position:-20.75rem -31.4rem}
.srvqna_list .infothum .fig6{background-position:-24.65rem -31.4rem}
.srvqna_list .infothum .fig7{background-position:-28.8rem -31.4rem}
.srvqna_list ul.list i.chk{background-position:-12.8rem -8.35rem}

.srvqna_map .map{background-image:url(../images/skt_map_bg.png)}
.srvqna_map .map a[data-area]{background-image:url(../images/skt_map_pin.png)}
.srvqna_map .areatip h4 i{width:1.3rem;height:1rem;background-position:-12.8rem -8.35rem}
.srvqna_map .areatip .btn_cls i{width:1.25rem;height:1.25rem;background-position:0 -10.6rem}

.agree_head{z-index:99}
.agree_head h1{height:5.5rem;padding-right:5rem;line-height:1.2;border-bottom:1px solid #e5e5e5;font-size:1.7rem;font-weight:500;color:#181818;display:flex;align-items:center}
.agree_ct{border-top:0}
.agree_contents{background-color:#fff}
.agree_contents .btn_cls{position:fixed;top:1.5rem;right:1.5rem;z-index:20;width:2.1rem;height:2.1rem;background-position:-13.8rem -2.75rem;background-size:16.5rem auto}
.agree_ct{padding-top:6.4rem}
.agree_contents{padding-top:5.4rem}
.agree_contents .agree_ct{font-size:1.3rem;line-height:1.5}
.agree_contents>h2{height:5.5rem;padding-right:5rem;line-height:1.2;border-bottom:1px solid #e5e5e5;font-size:1.7rem;font-weight:500;color:#181818;display:flex;align-items:center}
.agree_contents article, .agree_contents pre{padding:1.5rem;text-align:left;line-height:1.3;font-size:1.2rem}
.agree_contents pre h2{position:inherit;padding:0;border:0;margin-top:1.5rem;background-color:transparent;line-height:1.3;color:#000}
.agree_contents pre h2:first-child{margin-top:0}
.agree_contents table{margin:1.5rem 0;border-top:1px solid #333;border-right:1px solid #333;text-align:center}
.agree_contents th, .agree_contents td{padding:.35rem;border-bottom:1px solid #333;border-left:1px solid #333}
.agree_contents article, .agree_contents pre, .agree_contents td{word-break:break-all}

.bhagood_txt{position:relative;margin-bottom:1.25rem;padding-left:1.75rem;font-weight:300;font-size:1.15rem;line-height:1.4}
.bhagood_txt em{font-style:italic}
.bhagood_txt .txt{margin-top:.2rem;font-size:1.5rem;font-weight:400;letter-spacing:-.08rem;color:#0072e6}
.bhagood_txt .ico_ball{position:absolute;top:-.2rem;left:0}
.bhagood_txt2{line-height:1.2;text-align:center;font-size:1.05rem;color:rgba(102,102,102,.65)}
.bhagood_txt2 strong{font-weight:400;font-size:1.25rem;color:#333}
.bhagood_txt3{padding-top:1rem;line-height:1.3;text-align:center;font-size:1.25rem}
.bhagood_txt3 p{font-size:1.05rem;color:#959697}
.bhagood_txt3 i{margin-bottom:1.15rem}
.bhagood_txt4{margin-bottom:1.8rem;text-align:center;font-size:1.55rem;color:#fc3948}
.bhagood_txt4 u{text-decoration:none;border-bottom:1px solid #fc3948}
.bhagood_txt4 .ico_chk3{margin:-.1rem .6rem 0 0}
.bhagood_txt5{font-size:1.188rem}
.bhagood_txt5 .grim_com{margin:-.7rem .4rem 0 0}
.bhagood_txt5.emp span{position:relative;z-index:1}
.bhagood_txt5.emp span:before{content:'';display:block;position:absolute;left:0;right:0;bottom:0;z-index:-1;background-color:#fffea6;height:1.125rem}

.bhagood_frm .input_birth{margin-top:1.5rem}
.bhagood_frm .job_area{margin-top:.75rem}
.bhagood_frm .job_area h2{margin-bottom:.7rem;text-align:center;font-weight:400;font-size:1.05rem;color:rgba(102,102,102,.65)}
.bhagood_frm .job_area .checkbox{display:block}
.bhagood_frm .job_area .checkbox input + label{height:10.75rem;margin-left:-1px;padding:1.7rem 0 0;border:1px solid #e1e1e1;font-weight:400;font-size:1.05rem;color:#bfbfbf;text-align:center}
.bhagood_frm .job_area .checkbox input + label strong{display:block;margin-bottom:.35rem;font-size:1.15rem;color:#333}
.bhagood_frm .job_area .checkbox input + label:before{display:none}
.bhagood_frm .job_area .checkbox input + label:active,
.bhagood_frm .job_area .checkbox input:checked + label:active,
.bhagood_frm .job_area .checkbox input:checked + label{border-color:#0072e6;z-index:1}
.bhagood_frm .job_area .checkbox .grim_com{height:3.5rem;background-size:16rem auto}
.bhagood_frm .job_area .checkbox .i1{width:2.15rem;background-position:0 -10.3rem}
.bhagood_frm .job_area .checkbox .i2{width:2.15rem;background-position:-3.05rem -10.3rem}
.bhagood_frm .job_area .checkbox .i3{width:2rem;background-position:-5.9rem -10.3rem}
.bhagood_frm .job_area .checkbox input:checked + label .i1{background-position:0 -14.1rem}
.bhagood_frm .job_area .checkbox input:checked + label .i2{background-position:-3.05rem -14.1rem}
.bhagood_frm .job_area .checkbox input:checked + label .i3{background-position:-5.9rem -14.1rem}
.bhagood_frm .job_area ul{background-color:#fff}
.bhagood_frm .job_area ul:after{display:block;clear:both;content:''}
.bhagood_frm .job_area li{float:left;width:33.3%}
.bhagood_frm .job_area li:first-child{width:33.4%}
.bhagood_frm .agree_area{margin-top:1.2rem;text-align:center}
.bhagood_frm .agree_area .checkbox.all{margin-bottom:1.3rem;text-align:center}
.bhagood_frm .agree_area .checkbox.all input + label{padding:1.2rem 0;border:1px solid #babec1;font-size:1.3rem;color:rgba(48,48,48,.6)}
.bhagood_frm .agree_area .checkbox.all input + label:before{position:relative;vertical-align:middle;margin:-.2rem .9rem 0 0;width:1.1rem;height:1rem;background-image:url(../images/skt_checkbox_check.png)}
.bhagood_frm .agree_area .checkbox.all input + label:active,
.bhagood_frm .agree_area .checkbox.all input:checked + label:active,
.bhagood_frm .agree_area .checkbox.all input:checked + label{border-color:#0072e6;color:#0072e6}
.bhagood_frm .agree_area .checkbox.all input + label:active:before,
.bhagood_frm .agree_area .checkbox.all input:checked + label:active:before,
.bhagood_frm .agree_area .checkbox.all input:checked + label:before{background-image:url(../images/skt_checkbox_check_on.png)}

.bhagood_list article{margin-top:.5rem;padding:2.5rem;border:1px solid #cad2d7;background-color:#fff;box-shadow:0 0 1rem rgba(0,0,0,.1)}
.bhagood_list article:first-child{margin-top:0}
.bhagood_list .title{font-weight:400;font-size:1.55rem}
.bhagood_list .title .stit{font-weight:500;color:#fc3948}
.bhagood_list .tag{margin-top:.65rem}
.bhagood_list .tag span{display:inline-block;padding:.3rem .65rem;margin:.35rem .35rem 0 0;background-color:#f4f4f4;border:1px solid #e3e3e3;border-radius:.15rem;color:#575757}
.bhagood_list .list{overflow:hidden;height:7.6rem;margin-top:.75rem;border-top:2px solid #acacac;font-size:1.15rem}
.bhagood_list .list li{position:relative;padding:1.25rem .3rem 1.25rem 0;border-top:1px solid #cecece;text-align:right}
.bhagood_list .list li:first-child{border-top:0}
.bhagood_list .list .nm{position:absolute;top:1.25rem;left:.15rem;color:#838383}
.bhagood_list .list+.tag{margin-top:1.5rem}
.bhagood_list .link{margin-top:.5rem}
.bhagood_list .link:after{display:block;clear:both;content:''}
.bhagood_list .link li{float:left;width:50.5%;padding-left:.3rem}
.bhagood_list .link li:first-child{padding-left:0;width:49.5%}
.bhagood_list .link button{width:100%}
.bhagood_list .detail{margin:1.25rem .2rem 0;font-size:1.15rem}
.bhagood_list .detail h3{font-weight:400}
.bhagood_list .detail ul{margin:0 0 0 .25rem}
.bhagood_list .detail li{position:relative;padding-left:1.1rem;margin-top:.75rem}
.bhagood_list .detail li:before{content:'';display:block;width:.25rem;height:.25rem;border-radius:50%;background-color:#7f7f7f;position:absolute;top:.4rem;left:0}
.bhagood_list .list+.tag, .bhagood_list .detail{display:none}
.bhagood_list article.open .list+.tag, .bhagood_list article.open .detail{display:block}
.bhagood_list article.open .list{overflow:visible;height:auto;border-bottom:1px solid #acacac}
.bhagood_list article.open .link{margin-top:1.5rem}
.bhagood_list .names{position:relative;margin:0 0 1.5rem 2rem;padding:0 0 0 5.6rem;line-height:1.4}
.bhagood_list .names dt{position:absolute;top:0;left:0;border-radius:50%;background-color:#dee2e3;width:4.5rem;height:4.5rem;line-height:4.3rem;text-align:center}
.bhagood_list .names dd{padding-left:.3rem;font-size:.95rem;color:#5b5c5d;font-weight:400}
.bhagood_list .names dd strong{display:block;margin-left:-.3rem;font-size:2.25rem;font-weight:400;color:#333}
.bhagood_list ul.btns{margin-top:1rem}
.bhagood_list ul.btns select{position:absolute;top:0;left:0;bottom:0;width:100%;opacity:0}
.bhagood_list ul.btns li{position:relative;margin-top:.3rem}
.bhagood_list ul.btns li a, .bhagood_list ul.btns li label{display:block;text-align:center}
.bhagood_list ul.btns li button, .bhagood_list ul.btns li label{width:100%}
.bhagood_list ul.btns li:first-child label{background-color:#074f99;border-color:#074f99;color:#fff}
.bhagood_list ul.btns li:last-child a, .bhagood_list ul.btns li:last-child button{background-color:#1c7dec;border-color:#1c7dec;color:#fff}
.bhagood_list .bhagood_txt5{margin:1.25rem 0 .7rem}
.bhagood_list .btn_bhaMore{margin:1rem 0;text-align:center;font-size:1.3125rem}
.bhagood_list .btn_bhaMore a{display:block;padding:1.375rem 0;color:#000}
.bhagood_list .btn_bhaMore .ico_plus{margin:-.2rem 0 0 1.03125rem}
.bhagood_list .caulist{margin:2.8125rem 0 1.8125rem .625rem;letter-spacing:-.1rem;font-size:1.0625rem;font-weight:300;color:#4c4d4d}
.bhagood_list .caulist li{position:relative;margin-top:.4375rem;padding-left:.625rem}
.bhagood_list .caulist li:before{content:'-';position:absolute;top:0;left:0}

.bhagood_plan h2{margin-bottom:1rem;text-align:center}
.bhagood_plan h2 span{display:inline-block;padding:0 2rem;line-height:2rem;font-size:1.05rem;font-weight:400;border:1px solid #cdd2d3;border-radius:1rem}
.bhagood_plan .checkbox{margin-top:.65rem}
.bhagood_plan .checkbox.check input + label:before{left:2.75rem;top:2rem}
.bhagood_plan .checkbox input + label{padding:2.2rem 1rem 2.2rem 5.5rem;box-shadow:.1rem .1rem .5rem rgba(0,0,0,.1);background-color:#fff;border:1px solid #d6dfe2;font-weight:300;font-size:1.15rem;line-height:1.4}
.bhagood_plan .checkbox input + label:active,
.bhagood_plan .checkbox input:checked + label:active,
.bhagood_plan .checkbox input:checked + label{border-color:#0072e6}
.bhagood_plan .checkbox .name{line-height:1.1;font-size:1.4rem}
.bhagood_plan .checkbox .name+p{margin-top:1rem}
.bhagood_plan .sticker{position:absolute;top:1rem;right:1rem;background-color:#f4f4f4;border:1px solid #e0e0e0;font-weight:500;padding:0 .35rem 0 1rem;line-height:1.85rem}
.bhagood_plan .sticker .grim_com{margin:-1.1rem 0 0 .35rem}
.bhagood_plan .btn_skip{width:100%;margin-top:4rem}

.bhagood_frm_wrap{padding-top:2.7rem}

/* 무료 */
.free_contents section{margin-top:1rem;padding-top:2.4rem;padding-bottom:2.5rem;background-color:#fff}
.free_contents .swiper-container-horizontal>.swiper-pagination-bullets{bottom:1.4rem}
.free_contents .swiper-pagination-bullet{width:8.5px;height:8.5px;background-color:rgba(255,255,255,.5);margin:0 .3rem}
.free_contents .swiper-pagination-bullet-active{background-color:#fff}
.free_contents .srchdata_area .tit_group2,
.free_contents .srchdata_area .srchlst{padding-right:.2rem;padding-left:.2rem}
/* .free_contents .srchdata_area .srchlst .btn_srch{color:#4288f6} */

/* 유료*/
.insurer_profile h2{padding-top:1.5rem;background-color:#f3f3f3;line-height:1.2;font-weight:400;font-size:1.4rem;color:#7a7a7a !important}
.insurer_profile .wtotal{margin-bottom:2.5rem;font-size:1.4rem;color:#222}
.insurer_profile .wtotal .won{display:block;margin-top:.25rem;font-size:2.4rem}
.insurer_profile .wtotal .won code{letter-spacing:-.1rem;font-family: 'Roboto', sans-serif}
.insurer_profile .progress .inset{background-color:#f8f8f8}
.insurer_profile .chart_wrap{margin-top:1rem;padding-top:2.5rem;padding-bottom:.6rem;background-color:#fff}
.insurer_profile .list_type2{margin-top:.3rem}
.insurer_profile .list_type2 .list{margin-top:0}
.insurer_profile .list_detail2{margin-top:1rem;padding-bottom:1.4rem;background-color:#fff}
.insurer_profile .my_premium{padding-bottom:.6rem}
.insurer_profile .my_premium h2{background-color:transparent;font-weight:400;font-size:1.5rem}
.insurer_profile .my_premium h2+p{margin-top:.7rem;font-size:1.2rem;color:#7a7a7a}

.insurer_detail .list_detail3{padding-top:1.7rem;padding-bottom:2.5rem;background-color:#fff}
.insurer_detail2 .list_detail3{padding-bottom:2.5rem}
.insurer_detail3{background-color:#fff;padding-top:2.7rem;padding-bottom:2.5rem}
.insurer_detail3 .tit_type2{margin-bottom:1rem}
.insurer_detail3 .cm_caution{padding-top:1rem;border-top:1px solid #e0e0e0}
.insurer_detail3 .list_type2{border-top:1px solid #383e41}
.insurer_info .tit_type, .insurer_info .tit_type strong{color:#a7a7a7}
.insurer_info .srchdata_area{margin-top:1rem;background-color:#fff}
.insurer_info .srchlst{margin-top:0}
.insurer_info~.insurer_infolist{margin-top:1rem}
.insurer_infolist{padding-top:2.5rem;padding-bottom:.6rem;background-color:#fff}
.insurer_infolist .tit_type{padding-top:0 !important;background-color:transparent}
.insurer_infolist .tit_group2 h3{font-size:1.4rem}
.insurer_infolist .tit_group2 h3+p{margin-top:.4rem;color:#a7a7a7}
.insurer_infolist .list_group{margin-top:2.9rem}
.insurer_infolist .nodata_box3{padding-top:5rem;padding-bottom:5.75rem}

.nodata_area{text-align:center;font-size:1.35rem}
.nodata_area .grim_com{margin:5.75rem 0 1.5rem}

.before_check ul ul, .before_check ul ol{padding-left:3.9rem}
.before_check p.dsc .ico_chk{width:1rem;height:.75rem;background-position: -7.95rem -8.35rem}

/* 레이어팝업 */
.ly_pop .ico_cls{background-position:-2.55rem -5.7rem}

.ly_result .tit_type{padding-top:0 !important;background-color:transparent !important}
.ly_result .popcls{background-position:-2.5rem -5.7rem}

.ly_hcare .elm{padding:3rem 1.5rem 1.5rem}
.ly_hcare .wrap{padding:0}
.ly_hcare .checkbox{background-color:transparent}
.ly_hcare .checkbox input + label{font-weight:500;font-size:1.3rem}
.ly_hcare .checkbox input:checked + label:before{background-image:url(../images/skt_checkbox_circle2_on.png)}
.ly_hcare .checkbox button{position:absolute;top:50%;right:0;-webkit-transform:translateY(-50%);transform:translateY(-50%);font-size:1.1rem;color:#444;border-bottom:1px solid #444;padding:.025rem;margin-top:.1rem}
.ly_hcare .chklst{margin-top:1.25rem}
.ly_hcare .icon{width:4.5rem;height:4.5rem;line-height:4.7rem;background-color:#4285f6}
.ly_hcare .icon i.calendar{background-position:-21.75rem -41.25rem}
.ly_hcare .icon i.note{background-position:-17.2rem -41.25rem}
.ly_hcare .icon i.heart{width:2.15rem;height:2.05rem;background-position:-17.9rem -9.95rem}
.ly_hcare .txt{font-weight:500;font-size:1.422rem;color:#000}
.ly_hcare .txt strong{margin-top:0}
.ly_hcare .txt3 .emp:before{height:1.15rem;background-color:#fffb94}
.ly_hcare .icon+p, .ly_hcare .icon+h3{margin-top:1.7rem}
.ly_hcare .btn_area2{margin:.7rem 0 0}
.ly_hcare .btn_area2>li{float:none;width:auto;margin-top:.5rem}
.ly_hcare .btn_area2 button{color:#7a7a7a}
.ly_hcare .btn_btm_more4{padding:2.5rem 0 1.5rem}
.ly_hcare .cs{margin-top:2.7rem;font-size:1.3rem}
.ly_hcare .cs .tit{max-width:18rem;letter-spacing:-.07rem}
.ly_hcare .cs .tel{margin-top:-.1rem}
.ly_hcare .cs .ico_heart{margin:0 .4rem 0 0}
.ly_hcare .btn_type7{margin-top:3.6rem}
.ly_hcare .wrap.alert .icon,
.ly_hcare.ly_last .icon{width:6rem;height:6rem;line-height:6.2rem;background-color:#f3f3f3}
.ly_hcare.ly_last h3{margin-top:1.25rem}
.ly_hcare.ly_last .btn_type7{margin-top:2.25rem}

.ly_bohumchk .elm{padding-top:3.5rem}
.ly_bohumchk .icon{display:inline-block;width:6rem;height:6rem;line-height:6rem;border-radius:50%;background-color:#f3f3f3}
.ly_bohumchk .icon+p{margin-top:1.3rem;line-height:1.45;font-size:1.2rem;font-weight:300}
.ly_bohumchk .icon+p strong{font-size:1.4rem;color:#000}
.ly_bohumchk em{font-style:italic}
.ly_bohumchk .icon i.srch{width:3.05rem;height:3.05rem;background-position:0 -41.25rem}
.ly_bohumchk .btn_area2{padding:2.1rem 1.5rem 2rem}
.ly_bohumchk .btn_area2 li{float:none;width:100%}

.ly_detailcs .elm{padding:3rem 1.5rem 1.5rem;border-radius:5px}
.ly_detailcs .wrap{padding:0}
.ly_detailcs .icon{background-color: #f3f3f3}
.ly_detailcs .icon i.phone{background-position:-3.35rem -41.25rem;background-size:32rem auto}
.ly_detailcs .chklst li.all .checkbox input + label{padding:1.55rem 0 1.5rem 2.8rem;text-align:left;border:0;font-weight:500}
.ly_detailcs .chklst li.all .checkbox input + label:before{left:0}
.ly_detailcs .chklst li.all .checkbox input + label:before{width:2.4rem;height:2.4rem;background-image:url(../images/checkbox_circle.png)}
.ly_detailcs .chklst li.all .checkbox input:checked + label:before{background-image:url(../images/skt_checkbox_circle5_on.png)}
.ly_detailcs .chklst .checkbox.button input + label{width:1.15rem;height:0.95rem;margin:0 1.1rem 0 0.55rem}
.ly_detailcs .chklst .checkbox input + label:before{width:100%;height:100%;background-image:url(../images/skt_checkbox_check5.png)}
.ly_detailcs .chklst .checkbox input:checked + label:before{background-image:url(../images/skt_checkbox_check5_on.png)}
.ly_detailcs .checkbox input + label, .ly_detailcs .checkbox button{color:#000;text-decoration:none}

.ly_cpinfo .close{right:2rem}

/* 200728 푸시랜딩페이지 */
.push_render section{padding:1.4rem 1.35rem}
.push_list li{overflow:hidden;margin-top:1.4rem;border-radius:0.4rem}
.push_list li:nth-of-type(1){margin-top:0;background-color:#d0e0ff}
.push_list li:nth-of-type(2){background-color:#d1eefc}
.push_list li:nth-of-type(3){background-color:#d6f0ef}
.push_list li .img{display:block}
.push_list li .img img{width:100%}
.push_wrap{padding:0 1.3rem 1.3rem}
.push_btn{width:100%;height:4.6rem;text-align:center;font-weight:300;font-size:1.4rem;color:#fff;border-radius:0.3rem}
.push_btn:after{content:'';display:inline-block;width:0.65rem;height:0.65rem;margin:0 0 0.2rem 0.45rem;border-right:1px solid #fff;border-bottom:1px solid #fff;transform:rotate(-45deg);-webkit-transform:rotate(-45deg)}
.push_list li:nth-of-type(1) .push_btn{background-color:#0d50cc}
.push_list li:nth-of-type(2) .push_btn{background-color:#006799}
.push_list li:nth-of-type(3) .push_btn{background-color:#008682}