@charset "utf-8";

/* layout */
.ui_inner{padding-right:.55rem;padding-left:.55rem}
.ui_inner2{background-color:#fff;border-radius:.52rem;padding:1.0625rem 0 1.0625rem 1.09375rem}
.ui_inner3{padding-right:1.2rem;padding-left:1.08rem}
.ui_sdw{box-shadow:.2rem .55rem .75rem rgba(0,0,0,.19)}

.fix_top, .fix_btm{position:fixed !important;z-index:10;left:0;width:100%}
.fix_top{top:0}
.fix_btm{bottom:0}
.fix_btm .ui_inner3~.btn_area{margin-top:.9375rem}

#header h1{line-height:3rem;text-align:center;font-size:.864375rem;background-color:#f7f7f7}
#header .btn_prev, #header .btn_cls{position:absolute;top:.45rem;padding:.55rem;font-size:0}
#header .btn_prev{left:.3875rem}
#header .btn_cls{right:.3875rem}
#header .lg{display:inline-block;vertical-align:text-top;margin:.15rem .375rem 0 0;width:1.03125rem;height:1.03125rem;background:url(../images/header_logo.png) no-repeat;background-size:100% 100%}
#header.shw{box-shadow:0 .15625rem .5125rem rgba(0,0,0,.1)}

.ly_pop{display:none;position:fixed;top:0;left:0;width:100%;height:100%;z-index:20}
.ly_pop:before{content:'';position:absolute;top:0;left:0;width:100%;height:100%;background:#000;opacity:.75}
.ly_cls{position:absolute;top:0;right:0;padding:.625rem}
.ly_cls i{vertical-align:top}
.ly_pop .cont{display:flex;align-items:center;width:100%;height:100%;position:absolute;top:0;left:0;z-index:10}
.ly_pop .elm{position:relative;width:92%;margin:0 auto;background:#fff}

.cs_center{position:relative;padding:1.1875rem 1.375rem;font-size:.6875rem}
.cs_center h3{margin-bottom:.78125rem;font-size:.6875rem;color:#3c3c3c}
.cs_center ul{margin-top:.8375rem;padding-top:.35rem;border-top:1px solid #c1c1c1}
.cs_center ul:first-of-type{border-top:0;margin-top:0;padding-top:0}
.cs_center li{margin-top:8px}
.cs_center li a{position:relative;display:inline-block;vertical-align:top;padding-right:.8rem;color:#4d4d4d}
.cs_center li a:after{content:'';display:inline-block;width:.25rem;height:.40625rem;position:absolute;top:.2rem;right:0;background:url(../images/bg_com.png) no-repeat -3.03125rem 0;background-size:10rem auto}
.cs_center li i{margin:0 .4625rem}
.cs_center li code{display:inline-block;font-family:'Roboto', sans-serif;font-size:.75rem;letter-spacing:0}

.btn_top{display:none;position:fixed;bottom:0;left:50%;z-index:10;margin-left:-1.21875rem;width:2.4375rem;height:2.4375rem;padding-top:.1rem;background-color:#7775da}
.btn_top.nofix{position:absolute;bottom:auto;top:-1.3rem}

/* content */
.desc_box{padding:2.1875rem 1.125rem;border:1px solid #ededed;background-color:#fff}
.desc_box i{margin:-1.2rem 4.5px 0 0}
.desc_box h3{font-weight:300;font-size:.875rem}
.desc_box .list_type4{margin-top:.8125rem}
.desc_box.simp{position:relative;padding:.6875rem 0 .9375rem 3.9375rem}
.desc_box.simp>i{position:absolute;top:1rem;left:1.46875rem;margin:0}
.desc_box.simp .list_type4{margin-top:0}

.process_area{display:flex;text-align:center;margin-top:1.25rem}
.process_area>li{flex:1 1 0;position:relative;font-weight:500;font-size:.8125rem;color:#A8A6A7}
.process_area>li:after{content:'';display:block;height:1px;position:absolute;top:1.9rem;background:#e2e2e2}
.process_area>li:last-child:after{display:none}
.process_area .ibx{position:relative;z-index:1;display:inline-block;width:3.6875rem;height:3.6875rem;line-height:3.5875rem;margin-bottom:.625rem;border:1px solid #e2e2e2;border-radius:50%;background:#f7f7f7}
.process_area .chk{display:none;width:.84375rem;height:.8125rem;position:absolute;z-index:2;top:.125rem;right:0;border-radius:50%}
.process_area .chk i{width:.6875rem;height:.53125rem;background-position:-7.71875rem 0;position:absolute;top:0;right:-.0625rem}
.process_area small{display:block;margin-top:.125rem;font-weight:300;font-size:.625rem;color:#acacac}
.process_area>li.active{color:#000}
.process_area>li.end .chk{display:block}
.process_area.buy .ico1{width:1.51875rem;height:1.57rem;background-position:0 -5.5425rem}
.process_area.buy .ico2{width:1.55rem;height:1.5rem;background-position:-2.09375rem -5.5625rem}
.process_area.buy .ico3{width:1.83125rem;height:1.5625rem;background-position:-4.21875rem -5.5625rem}
.process_area.buy .ico4{width:1.7375rem;height:1.7rem;background-position:-6.65625rem -5.5425rem}
.process_area.buy .chk{background-color:#e7343a}
.process_area.buy>li:after{width:.9rem;right:-.45rem}
.process_area.buy>li.active:after{background:-webkit-linear-gradient(left, rgba(232,79,83,1) 0%,rgba(226,226,226,1) 100%);background:linear-gradient(to right, rgba(232,79,83,1) 0%,rgba(226,226,226,1) 100%)}
.process_area.buy>li.active .ibx{border-color:#e7343a}
.process_area.buy>li.active .ico2{background-position:-2.09375rem -7.46875rem}
.process_area.buy>li.active .ico3{background-position:-4.21875rem -7.46875rem}
.process_area.buy>li.active .ico4{background-position:-6.65625rem -7.46875rem}
.process_area.buy>li.end:after{background:#e84f53}
.process_area.sell .ico1{width:1.71875rem;height:1.63125rem;background-position:0 -9.76125rem}
.process_area.sell .ico2{width:1.706rem;height:1.675rem;background-position:-2.34375rem -9.78125rem}
.process_area.sell .ico3{width:1.78125rem;height:1.778rem;background-position:-4.625rem -9.78125rem}
.process_area.sell .chk{background-color:#3081dd}
.process_area.sell>li:after{width:2.9rem;right:-1.45rem}
.process_area.sell>li.active:after{background:-webkit-linear-gradient(left, rgba(48,129,221,1) 0%,rgba(226,226,226,1) 100%);background:linear-gradient(to right, rgba(48,129,221,1) 0%,rgba(226,226,226,1) 100%)}
.process_area.sell>li.active .ibx{border-color:#3081dd}
.process_area.sell>li.active .ico2{background-position:-2.34375rem -11.835rem}
.process_area.sell>li.active .ico3{background-position:-4.625rem -11.835rem}
.process_area.sell>li.end:after{background:#3081dd}

.progress_bar .bar, .progress_bar .bar li{height:.125rem}
.progress_bar .bar{position:relative;z-index:1;margin-top:-1px;background-color:#e2e2e2}
.progress_bar .bar:after{content:'';display:block;clear:both}
.progress_bar .bar li{float:left;width:11.11111111111111%;background-color:#7775da;text-indent:-3000em}
.progress_bar .ui_inner3{text-align:right;margin-top:.3125rem}
.progress_bar .page{font-family:'Roboto', sans-serif;font-weight:300;letter-spacing:-.025rem}
.progress_bar .page b{font-weight:300;font-size:1.625rem;color:#756bff}

.myinvest_status{background-color:#fff;text-align:center;margin:0 .55rem;padding:.8rem 0 1.1rem;border-radius:.45rem}
.myinvest_status .top{width:100%;margin-top:-.25rem}
.myinvest_status article{display:none}
.myinvest_status h2{margin-bottom:.125rem;font-size:.82rem}
.myinvest_status h2 button{padding:.5rem}
.myinvest_status .ico_arr_up{margin:.25rem 0 0 .5rem}
.myinvest_status .ico_curve_up, .myinvest_status .ico_curve_dw{width:.59375rem;height:.5rem;margin:-.1rem .325rem 0 0}
.myinvest_status .total{font-family:'Roboto','Noto Sans', sans-serif;font-size:.95rem}
.myinvest_status .total strong{margin-right:.125rem;font-weight:400;font-size:1.8rem;letter-spacing:-.05rem}
.myinvest_status .curve{margin-left:.6875rem;letter-spacing:0;font-family:'Roboto', sans-serif;font-size:.95rem;letter-spacing:-.03rem}
.myinvest_status.bar{margin:0;padding:.55rem 0 .3rem;border-radius:0;border-right:0;border-left:0;transition-duration:.35s}
.myinvest_status.bar .top{margin-top:.15rem}
.myinvest_status.bar h2{margin-bottom:0;display:inline-block}
.myinvest_status.bar h2 button{margin-top:-.5rem;font-size:.71875rem}
.myinvest_status.bar .total{font-size:.6875rem}
.myinvest_status.bar .total strong{font-size:.875rem}
.myinvest_status.bar .curve{margin-left:.5rem;font-size:.75rem}
.myinvest_status.open{position:relative;z-index:1;padding-bottom:.375rem}
.myinvest_status.open:before{content:'';display:block;position:absolute;bottom:-1.05rem;left:0;right:0;height:1.4rem;background-color:#fff;border-right:1px solid #e2e2e2;border-left:1px solid #e2e2e2}
.myinvest_status.open .top{margin-top:-.46rem}
.myinvest_status.open .total{display:block;margin-top:.5rem;font-weight:500;font-size:.96875rem}
.myinvest_status.open .total strong{font-weight:500;font-size:2.00937rem}
.myinvest_status.open .curve{display:block;margin-top:.5rem;font-weight:500}
.myinvest_status.open .curve{font-size:1.1325rem}
.myinvest_status.open .ico_curve_up, .myinvest_status.open .ico_curve_dw{width:.875rem;height:.71875rem;margin:-.1rem .46875rem 0 0}
.myinvest_status.open .ico_arr_up{-webkit-transform:rotate(180deg);transform:rotate(180deg)}

.myinvest_status2{position:relative;padding:.6rem .5rem 0}
.myinvest_status2:before{content:'';display:block;position:absolute;top:0;left:0;right:0;bottom:1.0625rem}
.myinvest_status2 article{position:relative;z-index:1;background-color:#fff;text-align:center;padding:.9rem 0 .8rem}
.myinvest_status2 h3{font-weight:500;font-size:.92rem}
.myinvest_status2 .curve{margin-top:.375rem;font-family:'Roboto','Noto Sans', sans-serif;font-size:.9375rem;letter-spacing:-.05rem}
.myinvest_status2 .curve .bar{margin:0 .1rem;font-size:.75rem}
.myinvest_status2 .curve .won{font-size:.78125rem}
.myinvest_status2 .curve code{font-size:.9375rem}
.myinvest_status2 .ico_curve_up, .myinvest_status2 .ico_curve_dw{width:.5rem;height:.4375rem;margin:-.1rem .4375rem 0 0}
.myinvest_status2.up:before{background-color:#ea4b51}
.myinvest_status2.up article{box-shadow:.21875rem .21875rem .40625rem rgba(144,21,29,.4)}
.myinvest_status2.up .curve{color:#ef1b1b}
.myinvest_status2.dw .curve{color:#006cff}
.myinvest_status2.dw:before{background-color:#6393da}
.myinvest_status2.dw article{box-shadow:.21875rem .21875rem .40625rem rgba(18,95,180,.4)}

.myinvest_add{display:none}
.myinvest_add article{margin-top:1.675rem}
.myinvest_add .myex_cash{margin:0 1rem 0 0;padding-top:1.125rem;border-top:1px solid #e5e5e5}
.myinvest_add .myex_cash hgroup{position:relative;padding-left:.28125rem}
.myinvest_add .myex_cash h3{display:inline-block;font-weight:400;font-size:.8125rem}
.myinvest_add .myex_cash hgroup .ico_person{margin:-.1rem .34375rem 0 0}
.myinvest_add .myex_cash hgroup .won{margin-left:.4375rem;font-size:.8125rem;font-weight:400}
.myinvest_add .myex_cash hgroup .won:before{content:'';display:inline-block;vertical-align:middle;width:1px;height:.71875rem;margin:-.1rem .4375rem 0 0;background-color:#000}
.myinvest_add .myex_cash hgroup .won code{display:inline-block;vertical-align:middle;margin:-.25rem .05rem 0 0;font-family:'Roboto', sans-serif;font-weight:400;font-size:1.125rem}
.myinvest_add .myex_cash .btn_excg{width:3.875rem;box-shadow:.15rem .15rem .4125rem rgba(92,82,201,.5);position:absolute;top:0;right:.5rem}
.myinvest_add .myex_cash .list{font-family:'Roboto','Noto Sans', sans-serif}
.myinvest_add .myex_cash .list:after{display:block;clear:both;content:''}
.myinvest_add .myex_cash .list>li{float:left;width:48.7%;height:4.59375rem;margin-top:.4375rem;padding:.5625rem 1rem 0 1.25rem;background-color:#f9f9f9;border:1px solid #edeff0}
.myinvest_add .myex_cash .list>li:nth-child(2n){float:right}
.myinvest_add .myex_cash .list .brnd{font-size:.75rem}
.myinvest_add .myex_cash .list .brnd .elip1{vertical-align:top}
.myinvest_add .myex_cash .list .won{margin-top:.3125rem;font-weight:300;font-size:.5875rem;color:#434343}
.myinvest_add .myex_cash .list .won span{font-size:.7625rem;letter-spacing:0}
.myinvest_add .myex_cash .list .deal{margin-top:.3125rem;font-weight:500;font-size:.78125rem}
.myinvest_add .myex_cash .list .deal b{font-size:.875rem}
.myinvest_add .hold_event .list{font-family:'Roboto','Noto Sans', sans-serif}
.myinvest_add .hold_event .list>li{display:flex;align-items:center;height:4.625rem;border-bottom:1px solid #eaebed}
.myinvest_add .hold_event .list dl{display:flex;width:100%}
.myinvest_add .hold_event .list dt{width:55%;font-size:.78125rem}
.myinvest_add .hold_event .list dt .elip1{max-width:6.5rem;vertical-align:middle}
.myinvest_add .hold_event .list dd{width:45%;text-align:right;padding-right:.9375rem}
.myinvest_add .hold_event .list .shr{display:inline-block;width:2.3125rem;height:2.3125rem;line-height:2.3625rem;vertical-align:middle;margin:0 0 0 .375rem;border-radius:50%;background-color:#6b6d8d;text-align:center;font-style:italic;letter-spacing:-.015rem;text-indent:-.1rem;letter-spacing:0;font-size:0.6875rem;color:#fff}
.myinvest_add .hold_event .list .won{font-size:.75rem}
.myinvest_add .hold_event .list .won code{font-size:.9375rem}
.myinvest_add .hold_event .list .curve{display:block;margin-top:v.3125rem;font-size:0.6875rem}
.myinvest_add .hold_event .list .ico_curve_up, .myinvest_add .hold_event .list .ico_curve_dw{width:.46875rem;height:.40625rem;margin:0 .34375rem 0 0}
.myinvest_add .hold_event .disc{margin:.625rem 1.5625rem 0 0;line-height:1.4;font-size:.625rem;font-weight:300;color:#7d7d7d}
.myinvest_add .acnt_box{margin-top:1.03125rem;padding:.95rem 0;background-color:#f8f8ff;border:1px solid #d7d5f0;font-weight:300;text-align:center;font-size:.740938rem;color:#4a4a4c}
.myinvest_add .acnt_box code{margin-left:.3125rem;font-family:'Roboto', sans-serif;color:#4b3eff}
.myinvest_add.open{display:block}

.stock_state_list{position:relative;z-index:0}

.excgm_state{padding:.78125rem 0 .71875rem;margin:0 .9375rem;border-bottom:1px solid rgba(0,0,0,.15);font-weight:400;font-family:'Roboto','Noto Sans', sans-serif;text-align:center;;font-size:.7rem;letter-spacing:-.025rem;color:#fff}
.excgm_state .ico_dollar{margin:-.1rem .375rem 0 0}

.stevt_mkt{position:relative}
.stevt_mkt:before{content:'';display:block;position:absolute;left:0;right:0;top:0;bottom:6.5rem}
.stevt_mkt .swir_brand{position:relative;z-index:1}
.stevt_mkt .swir_brand:before, .stevt_mkt .swir_brand:after{content:'';display:block;width:1.5rem;position:absolute;top:0;bottom:0;z-index:2}
.stevt_mkt .swir_brand:before{left:0;}
.stevt_mkt .swir_brand:after{right:0;}
.stevt_mkt .swir_brand .swiper-slide button:before{content:'';display:block;height:.65625rem;position:absolute;left:-.15rem;right:-.3rem;bottom:.7rem;z-index:-1;}
.stevt_mkt.up:before{background-color:#e83b41}
.stevt_mkt.dw:before{background-color:#4f8cdb}
.stevt_mkt.up .swir_brand:before{background:-webkit-linear-gradient(left, rgba(232,59,65,1) 0%,rgba(232,59,65,0) 100%);background:linear-gradient(left, rgba(232,59,65,1) 0%,rgba(232,59,65,0) 100%)}
.stevt_mkt.up .swir_brand:after{background:-webkit-linear-gradient(left, rgba(232,59,65,0) 0%,rgba(232,59,65,1) 100%);background:linear-gradient(left, rgba(232,59,65,0) 0%,rgba(232,59,65,1) 100%)}
.stevt_mkt.dw .swir_brand:before{background:-webkit-linear-gradient(left, rgba(79,140,219,1) 0%,rgba(79,140,219,0) 100%);background:linear-gradient(left, rgba(79,140,219,1) 0%,rgba(79,140,219,0) 100%)}
.stevt_mkt.dw .swir_brand:after{background:-webkit-linear-gradient(left, rgba(79,140,219,0) 0%,rgba(79,140,219,1) 100%);background:linear-gradient(left, rgba(79,140,219,0) 0%,rgba(79,140,219,1) 100%)}

.stevt_mkt.up .swir_brand .swiper-slide button{color:#f9a1a4}
.stevt_mkt.up .swir_brand .swiper-slide-active button:before{background-color:#bf141a;}
.stevt_mkt.dw .swir_brand .swiper-slide button{color:#9bb9e8}
.stevt_mkt.dw .swir_brand .swiper-slide-active button:before{background-color:#2163b2}

.mkt_area{padding:1.45rem .4rem .4rem;position:relative;z-index:1;text-align:center;box-shadow:0rem .35rem .75rem rgba(0,0,0,.19)}
.mkt_area .ico_curve_up, .mkt_area .ico_curve_dw{width:.59375rem;height:.59375rem;margin:-.2rem .3125rem 0 0}
.mkt_area h3{margin-bottom:.96875rem;font-weight:300;font-size:.8125rem}
.mkt_area .won{display:block;font-size:1.2rem}
.mkt_area .won code{font-family:'Roboto', sans-serif;font-size:1.9375rem}
.mkt_area .curve{display:block;margin-top:.35rem;font-size:.79375rem;font-family:'Roboto','Noto Sans', sans-serif;letter-spacing:0}
.mkt_area .curve code, .mkt_area .curve .per{font-weight:500;font-size:.946875rem;letter-spacing:-0.05rem}
.mkt_area .graph{position:relative}
.mkt_area .graph img{width:17.5rem;height:8rem}
.mkt_area .updown{position:relative;display:inline-block;margin-top:.9375rem;padding:.625rem 0;font-family:'Roboto','Noto Sans', sans-serif;font-size:0}
.mkt_area .updown:before, .mkt_area .updown:after{content:'';display:block;height:1px;background-color:#e5e5e5;position:absolute;left:0;right:0}
.mkt_area .updown:before{top:0}
.mkt_area .updown:after{bottom:0}
.mkt_area .updown li{display:inline-block;vertical-align:text-bottom;margin-left:.5rem;font-size:.65rem}
.mkt_area .updown li:first-child{margin-left:0}
.mkt_area .updown .name{margin-right:.1875rem;font-size:.7rem;color:#858585}
.mkt_area .updown code{font-weight:500;font-size:.88rem;display:inline-block;vertical-align:text-top;margin:-.1rem .1rem 0 0}
.mkt_area .tooltip{display:block;position:absolute;left:0;top:.78125rem;display:block;padding:.375rem .6875rem;background-color:#acacac;border:1px solid #909090;font-family:'Roboto','Noto Sans', sans-serif;letter-spacing:0 !important;font-size:.6875rem;color:#f1f1f1;box-shadow:.1875rem .1875rem .0625rem rgba(0,0,0,.1);text-align:left;transition-duration:.35s}
.mkt_area .tooltip strong{display:block;font-size:.8125rem;color:#fff}
.mkt_area .timetab{position:relative;padding:0 1.38125rem}
.mkt_area .timetab ul{display:flex}
.mkt_area .timetab li{flex-grow:1}
.mkt_area .timetab button{padding:.15rem 0rem .2rem; width:2.55rem;font-size:.82rem;color:#9C9C9C}
.mkt_area .timetab button.selected{background-color:#fff;border:.09rem solid #aaa;border-radius:.9rem;color:#222;font-weight:bold}
.mkt_area .pricelink{margin-top:1.2rem}
.mkt_area .pricelink:after{display:block;clear:both;content:''}
.mkt_area .pricelink li{float:left;width:49.4%}
.mkt_area .pricelink li:last-child{float:right}
.mkt_area .pricelink button{width:100%;height:3.35rem;font-weight:500;font-size:.9rem;color:#fff}
.mkt_area .pricelink button b{display:inline-block;vertical-align:middle;margin:-.15rem 0 0 .15rem;padding:.05rem .55rem;line-height:1.09375rem;border-radius:.6rem;letter-spacing:0;font-family:'Roboto', sans-serif;font-size:.7rem}
.mkt_area .pricelink button.sell{background-color:#2f81dd;border:1px solid #3970c4}
.mkt_area .pricelink button.sell b{background-color:#0e61be}
.mkt_area .pricelink button.buy{background-color:#e7343a;border:1px solid #d41f25}
.mkt_area .pricelink button.buy b{background-color:#c61117}
.mkt_area .holdstock{display:flex;margin:.9rem 1rem .75rem 1.0625rem}
.mkt_area .holdstock code{display:inline-block;vertical-align:text-top;margin-top:.05rem;font-family:'Roboto', sans-serif;color:#000}
.mkt_area .holdstock>li{flex:1 1 0}
.mkt_area .holdstock>li:first-child{text-align:left;font-size:.8125rem;color:#797979}
.mkt_area .holdstock>li:first-child code{font-size:1rem}
.mkt_area .holdstock>li:last-child{text-align:right;font-size:.75rem;color:#000}
.mkt_area .holdstock .won{display:inline;font-size:1rem;font-weight:300}
.mkt_area .holdstock .crv{display:block;margin-top:.35rem;font-weight:300}

.asct_stock{padding-top:1.45rem;background:url(../images/bg_grim_graph.png) no-repeat 100% -.5rem;background-size:7.90625rem auto}
.asct_stock h2{font-weight:300;font-size:1.18rem;margin-left:.3rem;letter-spacing:-.07rem}
.asct_stock h2+p{margin-top:.3rem;font-weight:300;font-size:.75rem;margin-left:.3rem}
.asct_stock .datalist{margin-top:.9375rem}

.toggle_area .title_type{padding-bottom:.65rem;border-bottom:1px solid #d9d9d9}
.toggle_area .desc{margin-top:1.40625rem;padding:.83125rem 1.0625rem 0 0;border-top:1px solid #ebebeb;line-height:1.6;font-size:.625rem;color:#5e5e5e}
.toggle_area .list_type3{margin-top:1.4375rem}
.toggle_area article{display:}
.toggle_area.open article{display:none}
.toggle_area.open .title_type{padding-bottom:0;border-bottom:0}

.buyfrm_area{position:relative;margin-top:.95rem}
.buyfrm_area h3{font-size:1.4rem;font-weight:200}
.buyfrm_area .psible{position:absolute;top:2.05rem;right:0;font-size:.78125rem;color:#6e6e6e}
.buyfrm_area .psible code{display:inline-block;vertical-align:text-top;font-family:'Roboto',
sans-serif;font-size:1rem;color:#554bfe}
.buyfrm_area .psible i{font-weight:300;margin:0 .2rem}
.buyfrm_area fieldset{margin-top:.8125rem}
.buyfrm_area .sumlist{margin-top:.9375rem;font-size:.75rem}
.buyfrm_area .sumlist dt, .buyfrm_area .sumlist dd{margin-bottom:.46875rem}
.buyfrm_area .sumlist dt{clear:both;float:left;color:#3e3e3e}
.buyfrm_area .sumlist dd{overflow:hidden;text-align:right;font-family:'Roboto','Noto Sans', sans-serif;font-weight:300}
.buyfrm_area .sumlist dd code{font-size:.88rem}
.buyfrm_area .sumlist.total{padding-top:1.1875rem;border-top:1px solid #e0e0e0}
.buyfrm_area .sumlist.total dt, .buyfrm_area .sumlist.total dd{margin-bottom:0}
.buyfrm_area .sumlist.total dt{font-weight:500;font-size:.9rem;color:#000}
.buyfrm_area .sumlist.total dd{margin-top:-.2rem;font-size:.9375rem;font-weight:500}
.buyfrm_area .sumlist.total dd code{font-size:1.1875rem}
.buyfrm_area .dsclst{font-size:.68rem;color:#6f6f6f;margin-top:.78125rem}
.buyfrm_area .dsclst li{position:relative;padding-left:.375rem;margin-top:.25rem}
.buyfrm_area .dsclst li:before{content:'';display:block;width:.15625rem;height:1px;background-color:#6f6f6f;position:absolute;top:.4rem;left:0}
.buyfrm_area p.dsc{margin-top:.92rem;font-weight:300;font-size:.8125rem;color:#3a3a3a}

.tndncy_agree{padding-top:1.5625rem;padding-bottom:1.25rem}
.tndncy_agree h3{font-weight:300;font-size:.8rem;color:#888}
.tndncy_agree h3~p{margin:.5rem 0 .88rem;line-height:1.52;font-weight:300;font-size:1.418rem;letter-spacing:-.125rem}
.tndncy_agree .checkbox{margin-top:.3125rem}
.tndncy_agree .checkbox input + label{padding:3.15rem 0 1.75rem 1.8rem;font-weight:300;line-height:1.4;font-size:.78rem}
.tndncy_agree .checkbox input + label:before{height:1rem;left:1.8125rem;top:1.4375rem}
.tndncy_agree .checkbox.yes input + label:before{width:1.90625rem;background-image:url(../images/bg_txt_yes.png)}
.tndncy_agree .checkbox.yes.on input + label:before{width:1.90625rem;background-image:url(../images/bg_txt_yes_on.png)}
.tndncy_agree .checkbox.yes input + label:active:before,
.tndncy_agree .checkbox.yes input:checked + label:active:before,
.tndncy_agree .checkbox.yes input:checked + label:before{background-image:url(../images/bg_txt_yes_on.png)}
.tndncy_agree .checkbox.no input + label:before{width:1.59375rem;background-image:url(../images/bg_txt_no.png)}
.tndncy_agree .checkbox.no input + label:active:before,
.tndncy_agree .checkbox.no input:checked + label:active:before,
.tndncy_agree .checkbox.no input:checked + label:before{background-image:url(../images/bg_txt_no_on.png)}

.tendency_analysis{margin-top:1.96875rem}
.tendency_analysis .mtxt{font-weight:300;font-size:1.6875rem;letter-spacing:-.15rem;line-height:2.15rem}
.tendency_analysis .mtxt strong{display:block;font-weight:400}
.tendency_analysis .mtxt+p{margin-top:1.0375rem;line-height:1.5;font-size:.75rem;font-weight:300;color:#8F8F8F}
.tendency_analysis .stxt{margin-top:.825rem;line-height:1.5;font-weight:300;font-size:.90625rem}
.tendency_analysis:after{content:'';display:block;width:9.8125rem;height:10.1562rem;background:url(../images/bg_grim_desk.png) no-repeat;background-size:100% 100%;position:absolute;bottom:4.8rem;right:0.9rem}

.tendency_nwrite{padding-top:2rem;padding-bottom:1.25rem}
.tendency_nwrite h2{font-weight:300;font-size:1.6875rem}
.tendency_nwrite .list_type5{margin-top:2rem}
.tendency_nwrite .list_type5 .stit{flex-grow:.65}
.tendency_nwrite .desc_box{margin-top:1.34375rem}
.tendency_nwrite fieldset{margin-top:1.15625rem}

.que_frmprcs{margin-top:.5rem;padding-bottom:1.25rem}
.que_frmprcs h2{font-size:.75rem}
.que_frmprcs h2+p{margin-top:.53125rem;font-size:1.5625rem;font-weight:300}
.que_frmprcs h2+p small{font-weight:300;font-size:.8125rem}
.que_frmprcs h2+p .line{display:inline-block;vertical-align:bottom;width:2.1875rem;
	border-bottom:1px solid #000;margin-bottom:.23rem}
.que_frmprcs h2+p.ty{font-size:1.125rem;line-height:1.48rem}
.que_frmprcs .chklist{margin-top:1.25rem}
.que_frmprcs .chklist>li{margin-top:.2625rem}
.que_frmprcs .chklist2{margin-top:1.5625rem;padding-top:1.0625rem;border-top:1px solid #d9d9d9}
.que_frmprcs .chklist2 .list>li{margin-top:.5rem}
.que_frmprcs .chklist2:first-of-type{padding-top:0;border-top:0}
.que_frmprcs .chklist2 .checkbox.check input + label:active,
.que_frmprcs .chklist2 .checkbox.check input:checked + label:active,
.que_frmprcs .chklist2 .checkbox.check input:checked + label{color:#382aff}
.que_frmprcs .chklist2 .checkbox.box input + label{padding:.9848rem 0;background-color:#ebebeb;border:1px solid #d4d4d4;text-align:center}
.que_frmprcs .chklist2 .checkbox.box input + label:active,
.que_frmprcs .chklist2 .checkbox.box input:checked + label:active,
.que_frmprcs .chklist2 .checkbox.box input:checked + label{background-color:#f8f8ff;border-color:#756bff;z-index:1}
.que_frmprcs .chklist2 .term{display:flex;margin-top:1.40625rem}
.que_frmprcs .chklist2 .term li{flex:1 1 0}
.que_frmprcs .chklist2 .term .checkbox{margin-left:-1px}

.faq_title{position:relative;padding-top:1.5625rem;padding-bottom:1.875rem}
.faq_title h2{font-size:1.40625rem;font-weight:300}
.faq_title select{width:6.59375rem;height:2.375rem;background-image:url(../images/select_arr.png);border-bottom:1px solid #7d7bdc;font-size:.8125rem;color:#3228ce;position:absolute;top:1.3125rem;right:.9375rem}

.result_tbl{padding-top:.5rem;text-align:center}
.result_tbl h3{font-weight:300;font-size:.9375rem}
.result_tbl .dsc{margin:.875rem;font-weight:300;font-size:.6875rem;color:#868686}
.result_tbl .tbl{margin-top:.875rem;padding:1.46875rem 0;background-color:#fff;border:1px solid #eee}
.result_tbl .tbl>li{margin-top:.75rem;height:12.3125rem;margin:0 auto;background-repeat:no-repeat;background-position:50% 0;background-size:auto 100%;display:flex;flex-direction:column;align-items:center;justify-content:center}
.result_tbl .tbl>li.nor{background-image:url(../images/class_nor_bg.png)}
.result_tbl .tbl>li.nor.lv1{background-image:url(../images/class_nor_lv1.png)}
.result_tbl .tbl>li.nor.lv1 li.name{color:#ee232c}
.result_tbl .tbl>li.nor.lv2{background-image:url(../images/class_nor_lv2.png)}
.result_tbl .tbl>li.nor.lv2 li.name{color:#f77a1f}
.result_tbl .tbl>li.nor.lv3{background-image:url(../images/class_nor_lv3.png)}
.result_tbl .tbl>li.nor.lv3 li.name{color:#f2a510}
.result_tbl .tbl>li.nor.lv4{background-image:url(../images/class_nor_lv4.png)}
.result_tbl .tbl>li.nor.lv4 li.name{color:#09a93f}
.result_tbl .tbl>li.nor.lv5{background-image:url(../images/class_nor_lv5.png)}
.result_tbl .tbl>li.nor.lv5 li.name{color:#0b99df}
.result_tbl .tbl>li.dvt{background-image:url(../images/dvt_class_bg.png)}
.result_tbl .tbl>li.dvt.lv1{background-image:url(../images/class_dvt_lv1.png)}
.result_tbl .tbl>li.dvt.lv1 li.name{color:#ee232c}
.result_tbl .tbl>li.dvt.lv2{background-image:url(../images/class_dvt_lv2.png)}
.result_tbl .tbl>li.dvt.lv2 li.name{color:#f2a510}
.result_tbl .tbl>li.dvt.lv3{background-image:url(../images/class_dvt_lv3.png)}
.result_tbl .tbl>li.dvt.lv3 li.name{color:#0b99df}
.result_tbl .tbl ul{margin:-.9875rem 0 0 -.5rem}
.result_tbl .tbl li li{margin-top:.3025rem}
.result_tbl .tbl li.class{font-weight:300;font-size:.67375rem}
.result_tbl .tbl li.class code{display:block;line-height:1;font-weight:300;font-size:4.375rem}
.result_tbl .tbl li.name{font-weight:500}
.result_tbl .tbl li.type{font-weight:300;font-size:.701875rem;color:#757575}
.result_agr{padding:1.125rem 0 1.3rem;text-align:center}

.dealdoc_section{padding:1.875rem 0}
.dealdoc_section h2{font-weight:300;font-size:1.6875rem}
.dealdoc_section h3{font-size:.875rem}
.dealdoc_section h3~p{margin-top:.34375rem;font-size:.8125rem;color:#565656}
.dealdoc_section article{margin-top:2.1875rem}
.dealdoc_section .txt{line-height:1.4;font-size:.75rem;color:#7a7a7a}
.dealdoc_section .txt, .dealdoc_section .list_type5{margin-top:.65rem}
.dealdoc_section .list_type5~fieldset{margin:.84375rem 0 0 .25rem}
.dealdoc_section .tbl_type{margin-top:.625rem}
.dealdoc_section .list_type6{margin:0 .28125rem}
.dealdoc_section .list_type6~fieldset{margin-top:1.675rem}

.namefrm_area{padding-top:2rem}
.namefrm_area h2{font-weight:100;font-size:1.6875rem;letter-spacing:-.12rem}
.namefrm_area h2 b{font-weight:400}
.namefrm_area .input{margin-top:1.375rem;border-color:#000;padding:.9rem 0 0}
.namefrm_area .input input{height:2rem;font-family:'Roboto', sans-serif;text-align:center;font-size:1.3125rem;ime-mode:disabled}
.namefrm_area .list_type6{margin-top:.9375rem}

.agrcirm_section{padding:1.25rem 0}
.agrcirm_section h2{letter-spacing:-.07rem;font-weight:300;font-size:1.125rem}
.agrcirm_section h2 b{font-weight:400;font-size:1.6875rem}
.agrcirm_section .list{margin-top:.8125rem}
.agrcirm_section .list>li{margin-top:5px}
.agrcirm_section .list button{width:100%}
.agrcirm_section fieldset{margin-top:.53125rem}
.agrcirm_section .dsc{margin-top:.5rem;font-weight:300;font-size:.6875rem;color:#565656}
.agrcirm_section .cs{margin-top:1.875rem;padding:.78125rem .15rem;background-color:#fff;font-weight:500;text-align:center;font-size:.75rem}
.agrcirm_section .cs code{font-family:'Roboto', sans-serif}
.agrcirm_section .list_type6{margin-top:.625rem}

.exchge_section{padding:1.4375rem 0}
.exchge_section .mtxt{letter-spacing:-.15rem;line-height:1.4;font-weight:100;font-size:1.40625rem}
.exchge_section .mtxt strong{display:block;font-weight:400}
.exchge_section .list_type5{margin-top:1.375rem}
.exchge_section .btn_skip{width:100%;margin-top:1.25rem}
.exchge_section hgroup{margin-top:3.125rem;padding:.75rem 0 1.25rem;background:url(../images/bg_grim_awards.png) no-repeat 100% 100%;background-size:5.5625rem auto}
.exchge_section h3{font-size:1.19rem}
.exchge_section h3~p{margin-top:.3125rem;font-size:.75rem;color:#646464}

.detail_section hgroup{padding-top:.75rem;padding-bottom:1rem}
.detail_section hgroup h3{line-height:1.55;font-weight:500}
.detail_section .date{font-family:'Roboto','Noto Sans', sans-serif;font-weight:300;font-size:.8125rem;color:#7b7b7b}
.detail_section hgroup h3~.date{margin-top:.75rem}
.detail_section article{padding-top:1.75rem;padding-bottom:2.9rem;background-color:#fff;border-top:1px solid #e5e5e5;border-bottom:1px solid #e5e5e5;line-height:1.9;font-weight:300;font-size:.89rem}
.detail_section .btn_skip{width:100%}

.boardlist_section .mtxt{padding:.61rem 0 1.5625rem 1.1rem;letter-spacing:-.15rem;font-weight:100;font-size:1.5625rem;background:url(../images/bg_grim_sofa.png) no-repeat 100% 110%;background-size:6.90625rem auto}
.boardlist_section .mtxt strong{display:block;font-weight:400}
.boardlist_section .ui_inner2{padding:0 0 0 1.1rem}
.boardlist_section .list_type>li{padding:1.05rem 2rem .95rem 0}

.pw_section{padding-top:6.5rem;text-align:center;letter-spacing:-.1rem}
/*.pw_section article{position:absolute;left:0;right:0;top:50%;margin-top:-7rem}*/
.pw_section .btn_cls{position:absolute;top:0;right:0;padding:.9375rem}
.pw_section h3, .pw_section h3+p{font-size:1.28rem}
.pw_section h3{font-weight:100}
.pw_section h3+p{margin-top:.24rem}
.pw_section .input_pwimg{margin-top:.9rem}

/* swiper */
.swiper-pagination{font-size:0}
.swiper-pagination-bullet{width:5px;height:5px;margin:0 .15625rem !important}
.swiper-pagination-bullet:first-child{margin-left:0 !important}
.swiper-pagination-bullet-active{opacity:1 !important;width:1.0625rem;border-radius:.15rem}

.swir_gstock_bg{position:absolute;top:-1.96875rem;bottom:1.5625rem;left:0;right:0;z-index:-1;transition-duration:.35s;/*min-height:13rem*/}
.swir_gstock_bg.open{top:-4.46875rem}
.swir_gstock_bg.s1{background-color:#7775da}
.swir_gstock_bg.s2{background-color:#f5719c}
.swir_gstock_bg.s3{background-color:#00b18f}
.swir_gstock .swiper-button-prev, .swir_gstock .swiper-button-next{background:url(../images/bg_com.png) no-repeat;background-size:10rem auto;width:.5rem;height:.96875rem}
.swir_gstock .swiper-button-prev{left:.625rem;background-position:-4.71875rem 0}
.swir_gstock .swiper-button-next{right:.625rem;background-position:-4.71875rem 0;-webkit-transform:rotate(180deg);transform:rotate(180deg)}
.swir_gstock .swiper-pagination{bottom:auto;text-align:left;left:2.03125rem;top:.9rem}
.swir_gstock .swiper-pagination-bullet{opacity:.35}
.swir_gstock .swiper-pagination-bullet-active{background:#fff}
.swir_gstock .swiper-slide{height:8.3875rem;padding:1.8rem 0 0 2.03125rem;background-repeat:no-repeat;line-height:1.25;color:#fff}
.swir_gstock .swiper-slide p{margin-top:.2rem;font-size:1.25rem;font-weight:300}
.swir_gstock .swiper-slide strong{font-size:.875rem;font-weight:100}
.swir_gstock .btn_skip{border:0;margin-top:.75rem;width:4.59375rem;color:#fff}
.swir_gstock .slide1{background-image:url(../images/bg_gstock_slide1.png);background-position:100% 1.8rem;background-size:11.1875rem auto}
.swir_gstock .slide1 .btn_skip{background-color:rgba(85,83,193,.95)}
.swir_gstock .slide2{background-image:url(../images/bg_gstock_slide2.png);background-position:100% 2.4375rem;background-size:8.125rem auto}
.swir_gstock .slide2 .btn_skip{background-color:rgba(212,69,123,.95)}
.swir_gstock .slide3{background-image:url(../images/bg_gstock_slide3.png);background-position:100% 2.2rem;background-size:8.1875rem auto}
.swir_gstock .slide3 .btn_skip{background-color:rgba(0,133,106,.95)}

.swir_brand{font-size:0}
.swir_brand .swiper-slide{width:auto !important;margin-left:.7rem;padding-top:.2rem}
.swir_brand .swiper-slide button{padding:1.1rem 0 .85rem 0;font-size:.8rem}
.swir_brand .swiper-slide-active{padding-top:0}
.swir_brand .swiper-slide-active button{font-weight:600;font-size:1.05rem;color:#fff !important;letter-spacing:-.15rem}

.swir_boared{padding-bottom:1.5625rem}
.swir_boared .swiper-pagination{bottom:0;left:0;width:100%}
.swir_boared .swiper-pagination-bullet{opacity:.25;background:#000}
.swir_boared .swiper-pagination-bullet-active{background:#7775da}

/* 오픈이벤트 */
.openEvt_select{overflow:hidden;padding:1.875rem 1.375rem 1.375rem}
.openEvt_select .title{width:11.7188rem;height:4.65625rem;background:url(../images/event/open_select_maintxt.png) no-repeat;background-size:100% 100%}
.openEvt_select .checklist{margin:.3rem 0 0 -.55rem}
.openEvt_select .checklist .checkbox input + label:before{width:7.03125rem;height:7.0625rem}
.openEvt_select .checklist:after{display:block;clear:both;content:''}
.openEvt_select .checklist>li{position:relative;float:left;margin:.25rem .21875rem 0 0}
.openEvt_select .checklist>li .checkbox{width:5.5rem;height:5.53125rem;}
.openEvt_select .checklist>li .checkbox label b{position:relative;z-index:1;display:inline-block;max-width:4.6rem;padding:.858rem 0 0 1rem;font-weight:700;font-size:1.02rem;color:#fff;text-align:center;letter-spacing:-.12rem}
.openEvt_select .checklist>li .checkbox input + label{position:absolute;top:0;bottom:0;left:0;right:0;display:flex;align-items:center;justify-content:center}
.openEvt_select .checklist>li .checkbox input + label:before{background-image:url(../images/event/open_select_check.png);left:0;top:0;}
.openEvt_select .checklist>li .checkbox input + label:active:before,
.openEvt_select .checklist>li .checkbox input:checked + label:active:before,
.openEvt_select .checklist>li .checkbox input:checked + label:before{background-image:url(../images/event/open_select_check_on.png)}
.openEvt_select .checklist>li .checkbox input + label:active b,
.openEvt_select .checklist>li .checkbox input:checked + label:active b,
.openEvt_select .checklist>li .checkbox input:checked + label b{color:#215af2;}
.openEvt_select .checklist>li .checkbox.dis input + label:before{background-image:url(../images/event/open_select_check_dis.png)}
.openEvt_select .checklist>li:nth-child(3n){margin-right:0}
.openEvt_select .cautionbx{margin-top:2.5rem;font-family:'namoo';}
.openEvt_select .cautionbx h3{margin:0.5625rem 0;font-weight:600;color:#000;font-size:0.75rem;letter-spacing:-2px;}
.openEvt_select .cautionbx h3 i{font-style:italic;}
.openEvt_select .cautionbx li{margin:0.3125rem 0;color:#676767;font-size:0.625rem;}
.openEvt_select .btn_skip{border:0;color:#bbb}
.openEvt_select .btn_skip:before{content:'';position:absolute;top:0;bottom:0;left:0;right:0;z-index:-1;background-color:rgba(241,241,241,.9)}
.openEvt_select .btn_skip.on:before{background-color:rgba(46,40,145,.95)}

/* page only */
#wrap.main .board_area{margin-top:.78125rem}
#wrap.main .list_muli .chgtab{top:-7.25rem}
#wrap.stevt .toggle_area{margin-top:.5rem}
#wrap.evtinvt .desc_box{margin-top:2.5rem}
#wrap.odrstatus .list_type5{margin-top:1.25rem}
#wrap.odrstatus .title_type2{margin-top:1.0625rem}
#wrap.odrstatus .title_type2~.list_type5{margin-top:.75rem}
#wrap.odrstatus #ct{padding-bottom:.9375rem}
#wrap.detail .list_muli.ui_inner{margin-top:1.1875rem;padding-bottom:.5rem}
#wrap.detail .list_muli .datalist.ui_inner2{border:1px solid #e2e2e2;border-radius:0}
#wrap.detail .ui_inner{padding-top:.46875rem;padding-bottom:.46875rem}
#wrap.detail .ui_inner .ui_inner2{margin-top:.46875rem}
#wrap.detail .ui_inner .ui_inner2:first-child{margin-top:0}
body.openEvt{background-color:#fff}
#wrap.openEvt #header h1{background-color:#fff;border-bottom:1px solid #e3e3e3}

/* popup */
.ly_loading .cont{align-items:center}
.ly_loading .elm{background-color:transparent;width:100%;text-align:center}

.ly_alert .elm{padding:1.9rem 1.15rem .65rem}
.ly_alert .title{letter-spacing:-.08rem;font-size:1.42rem}
.ly_alert .title span{font-weight:100}
.ly_alert .title2{font-weight:400;font-size:1.40625rem}
.ly_alert .title2~.txt3{margin-top:.40625rem}
.ly_alert .title2, .ly_alert .title2~.txt3{margin-left:.71875rem}
.ly_alert .tape{display:inline-block;padding:.3rem .5rem;font-weight:500;font-size:.95rem}
.ly_alert .tape.fc_red{background-color:#fce2e3}
.ly_alert .tape.fc_pur{background-color:#ededfa}
.ly_alert .tape+p{margin-top:.5rem}
.ly_alert .desc{margin-top:.9rem;line-height:1.4;font-family:'Roboto','Noto Sans', sans-serif;padding-left:.34rem;font-weight:300;font-size:1.12rem;letter-spacing:-.07rem}
.ly_alert .desc code{letter-spacing:0;font-size:1.19188rem}
.ly_alert .desc2{font-weight:500;font-size:1.125rem}
.ly_alert .txt{margin-top:.75rem;line-height:1.5;font-weight:300;font-size:.8125rem;color:#474747}
.ly_alert .txt~.tape.fc_pur{margin-top:1.125rem}
.ly_alert .txt2{line-height:1.3;font-weight:300;font-size:1.40625rem}
.ly_alert .txt2 strong{display:block;font-weight:400}
.ly_alert .txt3{font-weight:300;font-size:.9375rem}
.ly_alert .links{margin-top:2.1875rem;text-align:right}
.ly_alert .links button, .ly_alert .links a{border:0;margin-left:.3125rem}
.ly_alert .links button:first-child, .ly_alert .links a:first-child{margin-left:0}
.ly_alert .links.ty{margin-top:3.125rem}
.ly_alert .dsclst{font-size:.98rem}
.ly_alert .dsclst>li{margin-top:1.35rem;counter-increment:rankup-counter}
.ly_alert .dsclst>li:before{padding-right:6px;padding-right:.375rem;text-transform:uppercase;font-weight:500;font-family:'Roboto', sans-serif;content:'0' counter(rankup-counter)}
.ly_alert .dsclst .list_type6{margin:.525rem 0 0 1.5625rem}
.ly_alert .list_type5{margin-top:1.125rem}
.ly_alert .list_type5 .col{letter-spacing:0}
.ly_alert .list_type5.total{margin-top:.9375rem}

.ly_com .elm{width:89%;padding-top:2.25rem;font-size:.8125rem;text-align:center;line-height:1.4}
.ly_com h3{margin-bottom:1rem;font-size:1rem}
.ly_com .btn_skip{width:100%;margin-top:2.25rem;border-color:#27236a;background-color:#27236a;color:#fff}
.ly_com .btn_cancel{width:100%;background-color:#aeaeb8;border-color:#aeaeb8;color:#fff}
.ly_com .btn_area{margin-top:2.25rem}
.ly_com .btn_area button, .ly_com .btn_area a{margin-top:0}