@charset "utf-8";
@import url(font.css);
@import url(fullpage.min.css);

::-ms-clear{width:0;height:0}
::-ms-reveal{width:0;height:0}
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, sub, sup, tt, var, b, u, i, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video, button, input, textarea, select{margin:0;padding:0;border:0;font:inherit}
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section{display:block}
body,select,input,textarea,button,pre{font-family:'Noto Sans',Dotum,Gulim,Sans-serif;-webkit-text-size-adjust:none;-webkit-font-smoothing:subpixel-antialiased;-webkit-font-smoothing:antialiased}
fieldset,img{border:0}
img{vertical-align:top;-ms-interpolation-mode:bicubic}
img,video,audio,object,embed,iframe{max-width:100%}
legend, caption{position:absolute;width:1px;height:1px;clip:rect(1px, 1px, 1px, 1px)}
pre{word-break:break-all;white-space:pre-line}
i, address{font-style:normal}
ol, ul{list-style:none}
blockquote, q{quotes:none}
blockquote:before, blockquote:after,
q:before, q:after{content:none}
table{border-collapse:collapse;border-spacing:0;table-layout:fixed}
button{overflow:hidden;border:0;background-color:transparent;-webkit-appearance:none;cursor:pointer}
a{text-decoration:none}
h1,h2,h3,h4,h5,strong,b,th{font-weight:500}
.blind{visibility:hidden;overflow:hidden;position:absolute;left:-1000em;width:0;height:0;font-size:0;line-height:0}
:focus{outline:none}

/* ie down */
.ie_down_ver{position:fixed;top:0;left:0;z-index:999;width:100%;padding:20px 0;background-color:#fff;border-bottom:1px solid #d9d9d9;text-align:center;font-size:15px;font-weight:bold}
.ie_down_ver a{text-decoration:underline;color:#e60000}

/* default */
.italic{font-style:italic}
.mt0{margin-top:0 !important}
.mb0{margin-bottom:0 !important}
.mr0{margin-right:0 !important}
.ml0{margin-left:0 !important}
.wbr{display:block}
.mbr{display:none}

/* bg */
.txt_com{display:inline-block;background:url(../images/pc/bg_text.png) no-repeat;vertical-align:middle;color:transparent;white-space:nowrap;text-indent:-1000rem}

/* ui */
.ui_align_center{position:relative;max-width:1100px;margin:0 auto}

/* dropdown menu*/
span.dropdown-menu{position:relative;display:inline-block}
.dropdown-menu button, .dropdown-menu a{font-size:18px}
.dropdown-menu button{position:relative;width:100%;padding-top:1px;border:1px solid #bbb;border-radius:5px;color:#111;padding:12px 24px 15px;text-align:left}
.dropdown-menu button:after{display:inline-block;width:0;height:0;margin-left:10px;vertical-align:middle;content:"";border-top:0.3em solid;border-right:0.3em solid transparent;border-left:0.3em solid transparent}
.dropdown-menu ul{display:none;width:100%;position:absolute;z-index:1;border:1px solid #d2d2d2;border-top:0;background-color:#f0f0f0;padding:0.5rem 0;color:#292b2c;text-align:left;background-color:#fff;background-clip:padding-box;border:1px solid rgba(0, 0, 0, 0.15);border-radius:5px}
.dropdown-menu ul a{display:block;padding:3px 20px;font-weight:400;
    color:#292b2c;text-align:inherit;white-space:nowrap}
.dropdown-menu ul a:hover{text-decoration:underline}

/* Mobile Device */
@media all and (max-width:768px) {
	*, *:after, *:before{-webkit-tap-highlight-color:rgba(0,0,0,0);-webkit-tap-highlight-color:transparent;-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box;-webkit-font-smoothing:antialiased}
	html{
		-ms-touch-action:none;
		font-size:117%;font-size:5vw /* 가변 화면을 위한 */
	}
	body{-webkit-text-size-adjust:none;-moz-text-size-adjust:none;-ms-text-size-adjust:none;-o-text-size-adjust:none;text-size-adjust:none;-webkit-user-select:auto;position:relative}
	body,select,input,textarea,button,pre{letter-spacing:-.035rem}

	.wbr{display:none}
	.mbr{display:block}

	.txt_com{background-image:url(../images/mw/bg_text.png);background-size:10rem auto}
	.ui_align_center{max-width:none;margin:0}
}