@charset "utf-8";

@import url('common.css?v=2014-10-27');

.base_count em{font-size:11px;color:#636976}
.base_caution{clear:both;background:url(../../img/common/box_bottom.gif) no-repeat 0 100%}
.base_caution .inner{padding:20px;background:url(../../img/common/box_top.gif) no-repeat}
.base_caution li{clear:both;margin-top:10px;padding-left:15px;background:url(../../img/common/bu06.gif) no-repeat 0 3px;word-break:break-all;word-break:break-word}
.base_caution li:first-child{margin-top:0}
.base_caution2{clear:both;padding:15px;border-top:2px solid #4493cb;border-bottom:1px solid #d8d8d8;line-height:17px;color:#636976}
.base_caution3{text-align:center;font-size:11px;color:#636976}
.base_caution4{clear:both;padding-left:18px;background:url(../../img/common/ico_caution.gif) no-repeat;font-size:11px;color:#66acdd}

/* main */
.main_ct{float:none !important;clear:both;width:auto !important;background:#f7f7f7}
.main_ct .panel{padding-top:40px;padding-bottom:40px}
.main_ct .slideShow{position:relative;float:left;overflow:hidden;width:674px}
.main_ct .slideShow .flex-control-nav{position:absolute;top:0;right:20px;height:36px;padding-top:15px}
.main_ct .slideShow .flex-control-nav li{float:left;margin-left:8px}
.main_ct .slideShow .flex-control-nav a{display:block;width:21px;height:21px;background-image:url(../../img/content/main_slide_nav.png);background-repeat:no-repeat;text-indent:-3000em}
.main_ct .slideShow .flex-control-nav a.flex-active{width:114px}
.main_ct .slideShow .flex-control-nav li.caution1 a.flex-active{background-image:url(../../img/content/main_slide_caution1.png)}
.main_ct .slideShow .flex-control-nav li.caution2 a.flex-active{background-image:url(../../img/content/main_slide_caution2.png)}
.main_ct .slideShow .flex-control-nav li.caution3 a.flex-active{background-image:url(../../img/content/main_slide_caution3.png)}
.main_ct .slideShow .flex-control-nav li.caution4 a.flex-active{background-image:url(../../img/content/main_slide_caution4.png)}
.main_ct .cs{overflow:hidden;padding-left:36px}
.main_ct .cs h2{font-family:NanumGothic, Malgun Gothic, dotum;font-weight:bold;line-height:20px;letter-spacing:-1px;font-size:18px;color:#222}
.main_ct .cs .bbs{position:relative}
.main_ct .cs .bbs .btMore{position:absolute;top:5px;right:0}
.main_ct .cs .bbs ul{margin-top:20px}
.main_ct .cs .bbs li{margin-top:6px;padding-left:9px;background:url(../../img/common/bu01.gif) no-repeat 0 4px;*zoom:1}
.ie7 .main_ct .cs .bbs li{margin-top:4px}
.main_ct .cs .bbs li:after{display:block;clear:both;content:''}
.main_ct .cs .bbs li:first-child{margin-top:0}
.main_ct .cs .bbs li a{float:left}
.main_ct .cs .bbs li em{float:right;font-size:11px;color:#999}
.main_ct .cs .bbs.notice a{max-width:192px}
.main_ct .cs .bbs.news{margin-top:40px}
.main_ct .cs .bbs.news a{max-width:153px}
.main_ct .cs .bbs.news em{width:100px}
.main_ct .cs .banner{width:270px; height:69px; background:url(../../img/content/bg_main_banner.png); cursor:pointer;}
.main_ct .cs .banner .left{float:left; margin:6px;}
.main_ct .cs .banner .right{float:right; margin:20px 20px 0 0;}
.main_ct .csLink{clear:both;width:270px;margin-bottom:10px;margin-top:40px;*zoom:1}
.main_ct .csLink:after{display:block;clear:both;content:''}
.main_ct .csLink li{float:left;font-size:0;margin-left:10px;margin-bottom:10px}
.main_ct .csLink li a img{vertical-align:top}

/* 홈페이지 저작권보호정책 */
.homeLaw{clear:both;padding:20px 15px 165px 15px;border-width:2px 1px 1px;border-style:solid;border-color:#4493cb #d8d8d8 #d8d8d8;background:#fafafa url(../../img/content/04_03_bg.gif) no-repeat 100% 100%;line-height:19px;color:#636976}

/* 사이트맵 */
.sitemap{clear:both;*zoom:1}
.sitemap:after{display:block;clear:both;content:''}
.sitemap .box{float:left;margin-left:15px}
.sitemap li{margin-top:10px;padding-bottom:10px;background:url(../../img/content/05_01_h2_line.gif) repeat-x 0 100%}
.sitemap li a{padding-left:14px;background:url(../../img/content/05_01_h2_bu.gif) no-repeat 4px 4px;font-weight:bold}
.sitemap ul ul{margin-left:14px}
.sitemap li li{padding-bottom:0;background:none}
.sitemap li li a{padding-left:0;background:0;font-weight:normal}

/* 로그인 */
.loginForm{clear:both;padding:32px 0 35px 82px;border-width:2px 1px 1px;border-color:#4493cb #e1e1e1 #e1e1e1;border-style:solid;background:#fafafa}
.loginForm h2{padding:4px 0 8px 39px;background:url(../../img/content/07_01_ico.gif) no-repeat;font-family:NanumGothic, Malgun Gothic, dotum;font-size:16px;line-height:18px;color:#0378c2}
.loginForm .form{width:584px;height:152px;padding:31px 0 0 33px;margin-top:7px;background:url(../../img/content/07_01_bg.png) no-repeat}
.loginForm table{width:100%}
.loginForm th, .loginForm td{padding-bottom:8px}
.loginForm th{text-align:left}
.loginForm th span{display:inline-block;padding-left:9px;background:url(../../img/content/07_01_bu.gif) no-repeat 0 50%;font-family:NanumGothic, Malgun Gothic, dotum;font-size:13px;color:#165da8}
.loginForm td{vertical-align:top}
.loginForm .chk{margin:2px 0 0 75px}
.loginForm .link{clear:both;margin:10px 0 0 73px}
.loginForm .link a{margin-right:10px}
.loginForm  h4{margin:55px 32px 0 0;text-align:right}

/* 회원가입 */
.ageetext{clear:both;height:210px;padding:20px;border-width:2px 1px 1px;border-color:#4493cb #e1e1e1 #e1e1e1;border-style:solid;line-height:17px;color:#636976}
.ageetext{}
.ageetext{}
.ageetext{}