@charset "utf-8";

@import url(font.css);

/* All Device */
* {-webkit-tap-highlight-color:rgba(0,0,0,0); -webkit-tap-highlight-color:transparent}
* {-webkit-box-sizing:border-box; -moz-box-sizing:border-box; box-sizing:border-box}
html {-ms-touch-action:none}
body {-webkit-text-size-adjust:none; -moz-text-size-adjust:none; -ms-text-size-adjust:none; -o-text-size-adjust:none; text-size-adjust:none}

/* common */
html,body {height:100%; margin:0; padding:0; overflow-x:hidden}
body,p,ul,ol,li,dl,dt,dd,form,table,th,td,fieldset,input,textarea,select,button,h1,h2,h3,h4,h5,h6,pre,address {margin:0; padding:0}
html,body,select,input,textarea,button {font-family:NanumBarunGothic,'돋움',Dotum,Helvetica,AppleSDGothicNeo,sans-serif; line-height:1.3; font-size:12px; color:#555}
header,footer,section,article,aside,nav,hgroup,details,menu,figure,figcaption {display:block}
fieldset,img {border:0}
img {vertical-align:top; -ms-interpolation-mode:bicubic}
img,video,audio,object,embed,iframe {max-width:100%}
caption {width:0px; height:0px; line-height:0px; visibility:hidden; overflow:hidden}
legend {width:0px; height:0px; line-height:0px; visibility:hidden; overflow:hidden; position:absolute}
table {border-spacing:0px; border-collapse:collapse}
ul,ol {list-style:none}
a {color:#555; text-decoration:none}
address,em {font-style:normal}
button {overflow:hidden; border:0; background:none; -webkit-appearance:none; text-align:center; cursor:pointer}
h1, h2, h3, strong {font-weight:700}

/* form */
input,textarea,select {vertical-align:middle}
select {height:30px; background-color:#fff; border:1px solid #ccc; padding:5px}
input[type="checkbox"] {vertical-align:middle; *vertical-align:0}
input[type="text"],
input[type="password"],
input[type="tel"] {height:30px; padding:5px; border:1px solid #ccc}
input[type="radio"] {margin:0; vertical-align:middle; *vertical-align:0}
input[type="file"] {background-color:#fff; border:1px solid #ccc; padding:5px}
textarea {border:1px solid #ccc; padding:5px; resize:none}

/* Banner */
.b768 {display:inline-block}
.b1024 {display:none}

/* skip */
.skip {display:block; position:absolute; top:-1px; left:-1px; overflow:hidden; height:1px; width:1px; font-size:0; line-height:0; text-align:center}
.skip:focus {position:static; width:auto; height:auto; padding:0.3em 0.5em; background-color:#000; font-weight:700; font-size:11px; line-height:1.5; color:#fff; text-decoration:none; outline:none}

/* button */
.bt_type1 {height:40px; line-height:39px; border-radius:3px; display:inline-block; text-align:center; vertical-align:top; font-size:1.25em; font-weight:700}
.bt_type2 {height:30px; line-height:29px; border-radius:3px; display:inline-block; text-align:center; vertical-align:top; font-weight:700}
.bt_type3 {height:20px; line-height:19px; border-radius:3px; display:inline-block; text-align:center; vertical-align:top; font-weight:700}
.bt_type1:hover,
.bt_type2:hover,
.bt_type3:hover {box-shadow:2px 2px 2px -2px rgba(0,0,0,0.4); -moz-box-shadow:2px 2px 2px -2px rgba(0,0,0,0.4); -webkit-box-shadow:2px 2px 2px -2px rgba(0,0,0,0.4)}
.bt_type4 {height:32px; line-height:32px; background-color:#fff; border-right:1px solid #707070; border-bottom:1px solid #707070; padding:0 30px 0 15px; margin-right:10px; font-size:1.3em; display:inline-block; position:relative}
.bt_org {background-color:#ff6010; border:1px solid #db5a0d; border-bottom:2px solid #db5a0d; color:#fff}
.bt_gre {background-color:#71c51f; border:1px solid #68ad25; border-bottom:2px solid #68ad25; color:#fff}
.bt_grey {background-color:#f4f4f4; border:1px solid #ccc; border-bottom:2px solid #ccc; color:#333}
.bt_grey2 {background-color:#777; border:1px solid #565656; border-bottom:2px solid #565656; color:#fff}
.bt_whi {background-color:#fff; border:1px solid #ccc; border-bottom:2px solid #ccc}

/* 이미지 */
.bg_common {background:url('http://image.findall.co.kr/FACache/cgs/common/bg_common.png') no-repeat; display:inline-block; vertical-align:top; background-size:500px auto; background:url('http://image.findall.co.kr/FACache/cgs/common/bg_common_f.png') no-repeat\9}
.bg_common span {width:0px; height:0px; line-height:0px; visibility:hidden; overflow:hidden}

/* snb */
.snb_menu1_ico {background-position:0 -80px; width:22px; height:22px}
.snb_menu2_ico {background-position:-25px -80px; width:22px; height:22px}
.snb_menu3_ico {background-position:-50px -80px; width:22px; height:22px}
.snb_menu4_ico {background-position:-75px -80px; width:22px; height:22px}
.snb_menu5_ico {background-position:-100px -80px; width:22px; height:22px}
.snb_menu6_ico {background-position:-125px -80px; width:22px; height:22px}
.snb .inner ul.step1 li.on a .snb_menu1_ico {background-position:0 -105px}
.snb .inner ul.step1 li.on a .snb_menu2_ico {background-position:-25px -105px}
.snb .inner ul.step1 li.on a .snb_menu3_ico {background-position:-50px -105px}
.snb .inner ul.step1 li.on a .snb_menu4_ico {background-position:-75px -105px}
.snb .inner ul.step1 li.on a .snb_menu5_ico {background-position:-100px -105px}
.snb .inner ul.step1 li.on a .snb_menu6_ico {background-position:-125px -105px}

/* temp */
#Wrap {margin-bottom:50px}
h2 {font-size:1.6em; color:#333; padding:0 10px 0 0; display:inline-block}
.m_back_grey {background-color:#f4f4f4}
.label_radio {background:url('http://image.findall.co.kr/FACache/cgs/common/bt_radio.png') no-repeat; background-size:23px 23px; -webkit-background-size:23px 23px; background-position:0 0; width:auto; height:23px; background:url('http://image.findall.co.kr/FACache/cgs/common/bt_radio_f.png') no-repeat\9}
.label_radio.r_on {background:url('http://image.findall.co.kr/FACache/cgs/common/bt_radioed.png') no-repeat; background-size:23px 23px; -webkit-background-size:23px 23px; background-position:0 0; width:auto; height:23px; background:url('http://image.findall.co.kr/FACache/cgs/common/bt_radioed_f.png') no-repeat\9}
.label_check {background:url('http://image.findall.co.kr/FACache/cgs/common/bt_check.png') no-repeat; background-size:23px 23px; -webkit-background-size:23px 23px; background-position:0 0; width:auto; height:23px; background:url('http://image.findall.co.kr/FACache/cgs/common/bt_check_f.png') no-repeat\9}
.label_check.c_on {background:url('http://image.findall.co.kr/FACache/cgs/common/bt_checked.png') no-repeat; background-size:23px 23px; -webkit-background-size:23px 23px; background-position:0 0; width:auto; height:23px; background:url('http://image.findall.co.kr/FACache/cgs/common/bt_checked_f.png') no-repeat\9}
.label_radio,
.label_check {padding:5px 0 5px 28px; margin:0 5px 5px 0; display:inline-block; cursor:pointer}
.label_radio input,
.label_check input {position:absolute; left:-9999999px}
.reply_ico {background-position:-155px -35px; width:17px; height:14px; margin-right:3px}
span.reply_ico:after {display:none !important}
.txt_blue {color:#518db7}
.txt_green {color:#72c51f}
.txt_red {color:#ff6010}
.txt_grey {color:#666}
.mgr5 {margin-right:5px}
.no_cs {cursor:default}

/* gnb */
.gnb {display:none}

/* lnb */
.beta {display:inline-block; padding:25px 0 0 3px}
.lnb .inner {position:relative}
.lnb .inner .count {display:none}
.lnb .inner h1 {height:51px; padding-left:10px; border-bottom:1px solid #dedede}
.logo {width:84px; height:auto; margin-top:10px}
.lnb .inner .sch_cont {background-color:#fbfcfd; padding:10px}
.lnb .inner .sch_cont .element .sch_form {width:100%; height:38px; display:table}
.lnb .inner .sch_cont .element .sch_form .sch_cell1 {display:table-cell; height:40px; border:2px solid #ff6010; vertical-align:top}
.lnb .inner .sch_cont .element .sch_form .sch_cell2 {width:100px; display:table-cell; border:1px solid #ff6010; border-left:1px solid #ccc; position:relative}
.lnb .inner .sch_cont .element .sch_form .sch_cell3 {width:51px; display:table-cell; vertical-align:top; text-align:right}
.lnb .inner .sch_cont .element .sch_form input.sch_inp {width:100%; height:36px; border:0; padding:10px 15px; float:left; font-size:1.25em; outline:0}
.sch_bt_ico {background-position:-150px 0; width:22px; height:22px; margin:7px 11px 0 11px}
.autocomplete-suggestions {border:1px solid #ccc; background-color:#fff; cursor:default; overflow:auto}
.autocomplete-suggestion {height:38px; line-height:38px; border-top:1px solid #ccc; white-space:nowrap; overflow:hidden; padding:0 15px; font-size:1.25em}
.autocomplete-suggestion:first-child {border-top:0}
.autocomplete-selected {background-color:#f7f7f7}
.autocomplete-suggestions strong {color:#ff6010}
.sbHolder {width:100px; height:38px; background-color:#fff}
.sbSelector {width:100px; height:38px; line-height:38px; display:block; overflow:hidden; padding-left:20px; position:absolute; left:0; top:0}
.sbToggle {background:url('http://image.findall.co.kr/FACache/cgs/common/bg_common.png') 0 -35px no-repeat; background-size:500px auto; width:38px; height:38px; position:absolute; right:0; top:0; background:url('http://image.findall.co.kr/FACache/cgs/common/bg_common_f.png') 0 -35px no-repeat\9}
.sbToggleOpen {background:url('http://image.findall.co.kr/FACache/cgs/common/bg_common.png') -40px -35px no-repeat; background-size:500px auto; background:url('http://image.findall.co.kr/FACache/cgs/common/bg_common_f.png') -40px -35px no-repeat\9}
.sbOptions {width:102px; background-color:#fff; border:solid 1px #ccc; position:absolute; left:-1px; top:38px; z-index:9; overflow-y:auto}
.sbOptions a {border-top:solid 1px #ccc; display:block; padding:10px 0 10px 20px}
.sbOptions a:hover {background-color:#f7f7f7}
.sbOptions li:first-child a {border-top:0}
.lnb .inner .minfo_area {display:none}
.lnb .inner .m_sch_area {width:168px; position:absolute; right:0; top:0}
.lnb .inner .m_sch_area ul li {width:56px; min-height:50px; float:left; border-left:1px solid #dedede; text-align:center}
.lnb .inner .m_sch_area ul li.grey {background-color:#fbfcfd}
.lnb .inner .m_sch_area ul li.grey button.m_sch_bt2 {margin:12px 0 13px 0}
.lnb .inner .m_sch_area ul li.grey button.m_sch_bt2.close {margin:12px 0}
.lnb .inner .m_sch_area .m_sch_bt1 {background-position:-35px 0; width:27px; height:25px; margin:12px 0 0 0}
.lnb .inner .m_sch_area .m_sch_bt2 {background-position:-70px 0; width:35px; height:26px}
.lnb .inner .m_sch_area .m_sch_bt2.close {background-position:-110px 0}
.lnb .inner .m_sch_area .m_sch_bt3 {background-position:0 0; width:25px; height:19px; margin-top:15px}
.lnb .inner .m_sch_area .minfo_layer_m {display:none}

/* Slide Menu */
.navi1 {width:240px; height:100%; position:absolute; right:-240px; top:0; z-index:999; display:none}
.navi1 nav {width:240px; position:absolute; background-color:#fff; z-index:9999}
.navi1 nav .nav_top .top {height:51px; border-bottom:1px solid #eaeaea; padding:0 10px 0 0; position:relative}
.navi1 nav .nav_top .top .go_home {width:51px; height:51px}
.navi1 nav .nav_top .top .go_home .go_home_ico {background-position:-225px 0; width:26px; height:23px}
.navi1 nav .nav_top .top .go_home .txt {display:block; color:#888}
.navi1 nav .nav_top .top .info {border-bottom:2px solid #ff6010; position:absolute; right:103px; top:15px}
.navi1 nav .nav_top .top .info strong {font-size:1.3em; color:#333; margin-right:5px}
.navi1 nav .nav_top .top .sch_bt {width:83px; position:absolute; right:10px; top:10px}
.navi1 nav .nav_top .bt {height:60px; padding:0 10px}
.navi1 nav .nav_top .bt button {width:100%; margin-top:10px}
.m_sch_bt1 {background-position:-35px 0; width:27px; height:25px; margin:6px 10px 0 0}

.nav_cont ul li a {height:38px; line-height:38px; background-color:#72c51f; border-bottom:1px solid #69b123; position:relative; display:block; padding-left:20px; font-size:1.25em; font-weight:700; color:#fff}
.nav_cont ul li a .arrow {width:0; height:0; border-left:7px solid transparent; border-right:7px solid transparent; border-top:7px solid #fff; position:absolute; right:20px; top:15px}
.nav_cont ul li ul.inner li a {height:50px; line-height:50px; background-color:#fff; border-bottom:1px solid #eaeaea; display:block; padding-left:15px; color:#333}
.nav_cont ul li ul.inner li a .box {line-height:37px; padding:13px 10px 0 0; display:inline-block; vertical-align:middle}
.nav_cont ul li ul.inner li a .box span {width:22px; height:22px}
.nav_ico1_1 {background-position:-255px 0}
.nav_ico1_2 {background-position:-285px 0}
.nav_ico1_3 {background-position:-315px 0}
.nav_ico1_4 {background-position:-345px 0}
.nav_ico1_5 {background-position:-375px 0}
.nav_ico1_6 {background-position:-405px 0}
.nav_ico2_1 {background-position:-255px -30px}
.nav_ico2_2 {background-position:-285px -30px}
.nav_ico2_3 {background-position:-315px -30px}
.nav_ico2_4 {background-position:-345px -30px}
.nav_ico2_5 {background-position:-375px -30px}
.nav_ico2_6 {background-position:-405px -30px}
.nav_ico2_7 {background-position:-435px -30px}
.nav_ico3_1 {background-position:-255px -60px}
.nav_ico3_2 {background-position:-285px -60px}
.nav_ico3_3 {background-position:-315px -60px}
.nav_ico3_4 {background-position:-345px -60px}
.nav_ico3_5 {background-position:-375px -60px}
.nav_ico3_6 {background-position:-405px -60px}
.nav_ico3_7 {background-position:-435px -60px}
.nav_ico4_1 {background-position:-255px -90px}
.nav_ico4_2 {background-position:-285px -90px}
.navi1 .back {display:none; position:fixed; _position:absolute; top:0; left:0; width:100%; height:100%}
.navi1 .back .bg {position:absolute; top:0; left:0; width:100%; height:100%; background-color:#000; opacity:0.5; filter:alpha(opacity=50)}
.navi1 .back .bg2 {position:absolute; top:0; right:-240px; width:240px; height:100%; z-index:9}
.navi1 .close {width:51px; height:51px; position:absolute; right:240px; top:0}
.navi1 .close .close_x {width:51px; height:51px; line-height:51px; text-align:center; font-family:Arial; font-size:3.3em; color:#fff; position:relative; z-index:8}
.navi1 .close .close_bg {width:51px; height:51px; background-color:#000; opacity:0.5; filter:alpha(opacity=50); display:inline-block; position:absolute; right:0; top:0; z-index:7}

/* temp photo */
.temp_photo_tit {margin-bottom:5px; position:relative}
.temp_photo_tit h2 {line-height:30px}
.temp_photo_tit .sel {position:absolute; right:10px; top:0}
.temp_photo_tit .txt_link {display:none}
.temp_photo {width:100%; height:230px; position:relative; overflow:hidden}
.temp_photo ul li {position:relative; float:left; padding-right:10px; top:4px !important}
.temp_photo ul li .temp_photo_img {height:150px; background-color:#fff; border:1px solid #ccc; margin-bottom:10px; position:relative; overflow:hidden}
.temp_photo ul li .temp_photo_img img {width:100%; height:100%}
.temp_photo ul li .temp_photo_info .name {height:18px; line-height:18px; margin-bottom:4px; font-size:1.25em; font-weight:700; color:#222; overflow:hidden}
.temp_photo ul li .temp_photo_info .pay {height:24px; line-height:24px; position:relative; padding-right:30px; margin-bottom:4px; overflow:hidden; white-space:nowrap}
.temp_photo ul li .temp_photo_info .pay strong {font-family:Tahoma; letter-spacing:-1px; font-size:1.7em; color:#e43000; padding-right:5px}
.temp_photo ul li .temp_photo_info .else_tit {color:#ff6010}
.temp_photo ul li .temp_photo_info .else_name strong {font-family:NanumBarunGothic; font-size:1.3em; color:#000}
.temp_photo ul li .temp_photo_info .else_pay strong {font-family:NanumBarunGothic; font-size:1.3em}
.temp_photo ul li .temp_photo_info .info {text-overflow:ellipsis; overflow:hidden; white-space:nowrap}
.temp_photo ul li .temp_photo_info .info span:after {content:''; width:1px; height:8px; background-color:#ccc; display:inline-block; margin:0 8px}
.temp_photo ul li .list_set {width:36px; height:36px; line-height:1.2; text-align:center; vertical-align:top; padding-top:4px; font-weight:700; color:#fff; position:absolute; right:15px; top:-4px; z-index:99}
.temp_photo ul li .list_set span {width:0; height:0; border-right:4px solid transparent; position:absolute; right:-4px; top:0}
.temp_photo ul li .finish {background-color:#00ace6}
.temp_photo ul li .finish span {border-bottom:4px solid #005e94}
.temp_photo ul li .new_one {background-color:#71c51f}
.temp_photo ul li .new_one span {border-bottom:4px solid #39680b}
.temp_photo ul li .used {background-color:#ff542c}
.temp_photo ul li .used span {border-bottom:4px solid #ae3317}
.fav_img {background-position:-175px 0; width:23px; height:21px; position:absolute; right:17px; top:182px}
.fav_img.active {background-position:-200px 0}
.temp_photo_bt_area {text-align:center; padding:20px 0}
.temp_photo_bt_area .bt_prev,
.temp_photo_bt_area .bt_next {width:46px; height:27px; display:inline-block; background-color:#fff; border:1px solid #e9e9e9; border-radius:7px; vertical-align:middle}
.temp_photo_bt_area .bt_prev .bt_prev_arrow {background-position:-115px -35px; width:8px; height:12px}
.temp_photo_bt_area .bt_next .bt_next_arrow {background-position:-130px -35px; width:8px; height:12px}
.temp_photo_bt_area .count {width:150px; text-align:center; display:inline-block; font-weight:700; font-size:1.7em; vertical-align:middle}

/* temp list */
.temp_list_tit {padding:0 10px; margin-bottom:5px; position:relative}
.temp_list_tit h2 {line-height:30px}
.temp_list_tit .sel {position:absolute; right:10px; top:0}
.temp_list_tit .right_bt {display:none}
.temp_list {width:100%; position:relative; overflow:hidden}
.temp_list ul li ul.step2 li {width:100%; height:75px; position:relative; border-bottom:1px solid #eee; padding:9px 10px 0 10px; overflow:hidden}
.temp_list ul li ul.step2 li:first-child {border-top:1px solid #ccc}
.temp_list ul li ul.step2 li .temp_list_info {margin-right:140px}
.temp_list ul li ul.step2 li .temp_list_info .name {font-size:1.1em; font-weight:700; color:#222; text-overflow:ellipsis; overflow:hidden; white-space:nowrap}
.temp_list ul li ul.step2 li .temp_list_info .condition {font-size:1.25em; font-weight:700; padding:5px 0; color:#295bb0; text-overflow:ellipsis; overflow:hidden; white-space:nowrap; display:none}
.temp_list ul li ul.step2 li .temp_list_info .pay {position:relative; margin-bottom:5px; text-overflow:ellipsis; overflow:hidden; white-space:nowrap}
.temp_list ul li ul.step2 li .temp_list_info .pay strong {font-family:Tahoma; letter-spacing:-1px; font-size:1.7em; color:#e43000; padding-right:5px}
.temp_list ul li ul.step2 li .temp_list_info .else_tit {color:#ff6010}
.temp_list ul li ul.step2 li .temp_list_info .else_name {margin:5px 0}
.temp_list ul li ul.step2 li .temp_list_info .else_name strong {font-family:NanumBarunGothic; font-size:1.3em; color:#000}
.temp_list ul li ul.step2 li .temp_list_info .info {text-overflow:ellipsis; overflow:hidden; white-space:nowrap}
.temp_list ul li ul.step2 li .temp_list_info .info span:before {content:''; width:1px; height:8px; background-color:#ccc; display:inline-block; margin:0 8px}
.temp_list ul li ul.step2 li .temp_list_info .info span:first-child:before {display:none}
.temp_list ul li ul.step2 li .temp_list_info .info div {color:#fe5500; display:inline-block}
.temp_list ul li ul.step2 li .temp_list_info .info div:before {content:''; width:1px; height:8px; background-color:#ccc; display:inline-block; margin:0 8px}
.temp_list ul li ul.step2 li .temp_list_img {width:80px; height:61px; background-color:#fff; border:1px solid #ccc; position:absolute; right:50px; top:6px; overflow:hidden}
.temp_list ul li ul.step2 li .temp_list_img img {width:100%; height:100%}
.temp_list ul li ul.step2 li .temp_list_fav {width:50px; text-align:center; position:absolute; right:0; top:0}
.temp_list ul li ul.step2 li .temp_list_fav .lately {color:#666; padding:15px 0 7px 0}
.temp_list ul li ul.step2 li .temp_list_fav .fav_img {position:static}
.pht {display:none}

/* temp list cont */
.temp_list_cont ul li {height:75px; position:relative; border-top:1px solid #ccc; padding:9px 10px 0 10px; overflow:hidden}
.temp_list_cont ul li .temp_list_info {margin-right:140px}
.temp_list_cont ul li .temp_list_info .name {font-size:1.1em; font-weight:700; color:#222; text-overflow:ellipsis; overflow:hidden; white-space:nowrap}
.temp_list_cont ul li .temp_list_info .condition {font-size:1.25em; font-weight:700; padding:5px 0; color:#295bb0; text-overflow:ellipsis; overflow:hidden; white-space:nowrap; display:none}
.temp_list_cont ul li .temp_list_info .pay {position:relative; margin-bottom:5px; text-overflow:ellipsis; overflow:hidden; white-space:nowrap}
.temp_list_cont ul li .temp_list_info .pay strong {font-family:Tahoma; letter-spacing:-1px; font-size:1.7em; color:#e43000; padding-right:5px}
.temp_list_cont ul li .temp_list_info .else_tit {color:#ff6010}
.temp_list ul li ul.step2 li .temp_list_info .else_name {margin:5px 0}
.temp_list_cont ul li .temp_list_info .else_name strong {font-family:NanumBarunGothic; font-size:1.3em; color:#000}
.temp_list_cont ul li .temp_list_info .info {text-overflow:ellipsis; overflow:hidden; white-space:nowrap}
.temp_list_cont ul li .temp_list_info .info span:before {content:''; width:1px; height:8px; background-color:#ccc; display:inline-block; margin:0 8px}
.temp_list_cont ul li .temp_list_info .info span:first-child:before {display:none}
.temp_list_cont ul li .temp_list_info .info div {color:#fe5500; display:inline-block}
.temp_list_cont ul li .temp_list_info .info div:before {content:''; width:1px; height:8px; background-color:#ccc; display:inline-block; margin:0 8px}
.temp_list_cont ul li .temp_list_img {width:80px; height:61px; background-color:#fff; border:1px solid #ccc; position:absolute; right:50px; top:6px}
.temp_list_cont ul li .temp_list_img img {width:100%; height:100%}
.temp_list_cont ul li .temp_list_fav {width:50px; text-align:center; position:absolute; right:0; top:0}
.temp_list_cont ul li .temp_list_fav .lately {color:#666; padding:15px 0 7px 0}
.temp_list_cont ul li .temp_list_fav .fav_img {position:static}

/* paginate */
.paginate {text-align:center; padding:20px 0}
.paginate .page_mini button {width:46px; height:27px; display:inline-block; background-color:#fff; border:1px solid #e9e9e9; border-radius:7px; vertical-align:middle}
.paginate .page_mini .bt_prev .bt_prev_arrow {background-position:-115px -35px; width:8px; height:12px}
.paginate .page_mini .bt_next .bt_next_arrow {background-position:-130px -35px; width:8px; height:12px}
.paginate .page_mini span {width:150px; display:inline-block; font-size:1.7em; font-weight:700; vertical-align:middle}
.paginate .page_mini span strong {color:#ff4810}

.paginate .page_full {display:none}
.paginate .page_full button {width:30px; height:30px; background-color:#fff; border:1px solid #ccc; border-bottom:2px solid #ccc}
.paginate .page_full .bt_prev .bt_prev_arrow {background-position:-115px -35px; width:8px; height:12px}
.paginate .page_full .bt_next .bt_next_arrow {background-position:-130px -35px; width:8px; height:12px}
.paginate .page_full a,
.paginate .page_full strong {display:inline-block; position:relative; margin-right:1px; padding:6px 9px 4px 9px; border:1px solid #fff; font-size:1.25em; text-decoration:none; vertical-align:top}
.paginate .page_full strong {border:1px solid #ccc; color:#ff6010}
.paginate .page_full a:hover {border:1px solid #e9e9e9; background-color:#f7f7f7}

/* table */
.temp_tbl {border-bottom:1px solid #ccc; position:relative}
.temp_tbl .section_tit {background-color:#f4f4f4; border:1px solid #ccc; padding:11px 10px; font-size:1.3em; font-weight:700; color:#333; position:relative}
.temp_tbl ul.form li .a {text-align:left}
.temp_tbl ul li {width:100%; min-height:51px; border-top:1px solid #ccc; display:table; padding:10px 0}
.temp_tbl ul li.high {padding:10px 0 5px 0}
.temp_tbl ul li .q {width:100px; font-size:1.1em; color:#666; padding-left:10px; display:table-cell; vertical-align:middle}
.temp_tbl ul li .a {display:table-cell; vertical-align:middle; font-size:1.25em; color:#222; text-align:right; padding-right:10px; word-break:break-all}
.temp_tbl ul li input[type="text"],
.temp_tbl ul li textarea {font-size:0.9em}
.temp_tbl ul li .a .cell {width:25%; float:left; padding-left:5px}
.temp_tbl ul li .a .cell:first-child {padding-left:0}
.temp_tbl ul li .a .cell.addr {width:100%; padding:5px 0}
.temp_tbl ul li .a .cell.tel {width:33.3%}
.temp_tbl ul li .a .cell.map {width:50%; padding:0}
.temp_tbl ul li.noline {border-bottom:0}
.btb {width:100%; padding:20px 0; text-align:center; display:table}
.btb .cell {display:table-cell; padding-left:10px}
.btb .cell:first-child {padding-left:0}

/* Layer Popup */
.ly_pop {display:none}
.ly_pop .bg {width:100%; height:100%; position:fixed; top:0; left:0; z-index:9997; background-color:#000; opacity:.5; filter:alpha(opacity=50)}
.ly_pop .cont {width:100%; height:100%; position:absolute; top:0; left:0; z-index:9998; text-align:center}
.ly_pop .cont:before {height:100%; content:''; display:inline-block; vertical-align:middle}
.ly_pop .cont .element {width:95%; position:relative; display:inline-block; vertical-align:middle; margin:0 auto; padding:20px 10px; text-align:left; background-color:#fff}
.ly_pop .cont .element .ly_pop_cls {width:44px; height:44px; line-height:44px; font-family:Arial; font-size:3em; color:#7c7c7c; position:absolute; right:0; top:0}
.ly_pop .cont .element .top {margin-bottom:10px}
.ly_pop .cont .element .conts .txt {line-height:1.3em; margin-bottom:10px}
.ly_pop .cont .element .info {background-color:#f4f4f4; padding:10px 20px; margin-bottom:10px; overflow:hidden}
.ly_pop .cont .element .info ul li {font-weight:700; color:#2a5db0; padding:5px 0 5px 25px}
.ly_pop .cont .element .sub_tit {font-size:1.25em; font-weight:700; padding:20px 0 10px 0}
.ly_pop .cont .element .exp {padding:10px 0 20px 0; color:#777}

/* 로그인 */
.login_ico {background-position:-255px -120px; width:26px; height:23px; margin:-2px 5px 0 0}
.login_pop .top .sub_txt {padding:10px 0 20px 33px; color:#222}
.login_pop .conts .loginarea {position:relative}
.login_pop .conts .loginarea .lgn_ip .ip_box {padding:0 0 10px 60px}
.login_pop .conts .loginarea .lgn_ip .ip_box label {width:60px; height:42px; line-height:42px; text-align:right; padding-right:10px; font-size:1.1em; font-weight:700; letter-spacing:-1px; position:absolute; left:0}
.login_pop .conts .loginarea .lgn_ip .ip_box input {width:100%; height:42px}
.login_pop .conts .loginarea .lgn_btn {width:100%; padding-left:60px; position:absolute; right:0; top:104px}
.login_pop .conts .loginarea .lgn_btn .lgn_bt {width:100%; height:40px}
.login_pop .conts .btn_link {width:100%; margin:50px auto 50px; padding-left:60px; position:relative}
.login_pop .conts .btn_link label {font-size:1.25em}
.sns_f {background-position:-285px -120px; width:32px; height:32px; position:absolute; right:70px; top:0}
.sns_b {background-position:-320px -120px; width:32px; height:32px; position:absolute; right:35px; top:0}
.sns_k {background-position:-355px -120px; width:32px; height:32px; position:absolute; right:0; top:0}
.login_pop .conts .btn_join {height:55px; line-height:55px; background-color:#fafafa; border-top:1px solid #ccc; margin:0 -10px -20px -10px; text-align:center}
.login_pop .conts .btn_join a {font-size:1.25em; font-weight:700}
.login_pop .conts .btn_join a:first-child:after {content:''; width:2px; height:15px; background-color:#ccc; display:inline-block; margin:0 20px; vertical-align:middle}

/* Footer */
#Foot {position:relative; z-index:9}
#Foot .small {display:block}
#Foot .large {display:none}
#Foot .small {clear:both; border-top:1px solid #d8d8d8; padding-bottom:30px}
#Foot .small ul {overflow:hidden; padding:10px 0 20px 0}
#Foot .small ul li {width:20%; height:15px; line-height:15px; float:left; text-align:center; position:relative}
#Foot .small ul li.long {width:30%}
#Foot .small ul li:before {content:''; width:1px; height:15px; background-color:#cececf; display:inline-block; position:absolute; left:0; top:0}
#Foot .small ul li:first-child:before {display:none}
#Foot .small ul li a {font-size:0.9em; font-weight:700}
#Foot .small .addr,
#Foot .small address {line-height:1.5em; font-size:0.9em; color:#666; padding:0 15px; word-break:break-all}


/*** Tablet Device ***/
@media all and (min-width:769px) {

    /* Banner */
	.b768 {display:none}
	.b1024 {display:inline-block}

	/* 이미지 */
	.bg_common {background:url('http://image.findall.co.kr/FACache/cgs/common/bg_common_f.png') no-repeat; background-size:inherit}
	.bg_foot {background:url('http://image.findall.co.kr/FACache/cgs/common/bg_footer.png') no-repeat; display:inline-block}
	.bg_foot span {width:0px; height:0px; line-height:0px; visibility:hidden; overflow:hidden}

    /* snb */
	.snb_menu1_ico {background-position:0 -80px; width:22px; height:22px}
    .snb_menu2_ico {background-position:-25px -80px; width:22px; height:22px}
    .snb_menu3_ico {background-position:-50px -80px; width:22px; height:22px}
    .snb_menu4_ico {background-position:-75px -80px; width:22px; height:22px}
    .snb_menu5_ico {background-position:-100px -80px; width:22px; height:22px}
    .snb_menu6_ico {background-position:-125px -80px; width:22px; height:22px}
    .snb .inner ul.step1 li.on a .snb_menu1_ico {background-position:0 -105px}
    .snb .inner ul.step1 li.on a .snb_menu2_ico {background-position:-25px -105px}
    .snb .inner ul.step1 li.on a .snb_menu3_ico {background-position:-50px -105px}
    .snb .inner ul.step1 li.on a .snb_menu4_ico {background-position:-75px -105px}
    .snb .inner ul.step1 li.on a .snb_menu5_ico {background-position:-100px -105px}
    .snb .inner ul.step1 li.on a .snb_menu6_ico {background-position:-125px -105px}

	/* temp */
	h2 {font-size:2em}
    .top .topline {width:61px; height:3px; background-color:#ff6010; display:block; margin-bottom:6px}
    .m_back_grey {background-color:#fff}
	.label_radio {background:url('http://image.findall.co.kr/FACache/cgs/common/bt_radio_f.png') no-repeat; background-size:inherit}
	.label_radio.r_on {background:url('http://image.findall.co.kr/FACache/cgs/common/bt_radioed_f.png') no-repeat; background-size:inherit}
	.label_check {background:url('http://image.findall.co.kr/FACache/cgs/common/bt_check_f.png') no-repeat; background-size:inherit}
	.label_check.c_on {background:url('http://image.findall.co.kr/FACache/cgs/common/bt_checked_f.png') no-repeat; background-size:inherit}
    .label_radio,
    .label_check {margin-right:20px; padding-top:4px}
    .reply_ico {background-position:-155px -35px; width:17px; height:14px; margin-right:3px}

	/* gnb */
	.gnb {width:100%; height:30px; background-color:#fbfcfd; border-top:1px solid #ccc; border-bottom:1px solid #ccc; display:block}
	.gnb .inner {max-width:1024px; padding:0 20px; margin:0 auto}
	.gnb .inner .left {float:left}
	.gnb .inner .left ul li {height:29px; float:left; border-right:1px solid #ccc}
	.gnb .inner .left ul li:first-child {border-left:1px solid #ccc}
	.gnb .inner .left ul li.gnb_lmenu1 a {background-position:0 -140px; width:52px; height:14px; margin:7px 20px 0 20px}
	.gnb .inner .left ul li.gnb_lmenu2 a {background-position:-60px -140px; width:87px; height:14px; margin:7px 20px 0 20px}
	.gnb .inner .right {float:right; font-family:'돋움',Dotum; font-size:11px}
	.gnb .inner .right ul li {float:left; margin-top:9px}
	.gnb .inner .right ul li:after {content:''; width:1px; height:8px; background-color:#ccc; display:inline-block; margin:0 8px}
	.gnb .inner .right ul li.last:after {margin-right:0}
	.gnb .inner .right ul li a {text-decoration:underline}
	.gnb .inner .right ul li a strong {font-weight:bold}
	.gnb_rmenu_star {background-position:-160px -140px; width:14px; height:14px; vertical-align:top}
	.gnb_rmenu_zzim {height:13px; background-color:#ff6010; padding:1px 9px 0 9px; display:inline-block; border-radius:10px; color:#fff; font-weight:bold}

	/* lnb */
    .beta {display:block; text-align:right; padding:5px 20px 0 0}
	.lnb .inner .count {padding:22px 0 12px 0; font-size:1.6em; color:#333; display:block; position:absolute; left:173px; top:0}
	.lnb .inner .count strong {color:#ff6010; letter-spacing:0}
	.lnb .inner {width:100%; max-width:1024px; height:114px; padding:0 20px; margin:0 auto; display:table}
	.lnb .inner h1 {width:153px; height:114px; padding:0; border:0; display:table-cell; vertical-align:top}
	.logo {width:133px; height:46px; margin-top:27px}
	.lnb .inner .sch_cont {display:table-cell; background-color:#fff; padding:54px 0 0 0; display:block !important}
	.lnb .inner .sch_cont .element .sch_form {max-width:450px}
	.sbToggle {background:url('http://image.findall.co.kr/FACache/cgs/common/bg_common_f.png') 0 -35px no-repeat; background-size:inherit}
	.sbToggleOpen {background:url('http://image.findall.co.kr/FACache/cgs/common/bg_common_f.png') -40px -35px no-repeat; background-size:inherit}
	.sch_bt_ico {background-position:-150px 0}
	.lnb .inner .minfo_area {width:270px; display:table-cell; vertical-align:top; padding:54px 0 0 0; position:relative}
	.lnb .inner .minfo_area .bt_type1 {width:130px; font-size:1.3em; font-weight:700; color:#fff; float:left; margin-left:5px}
	.minfo_bt1_ico {background-position:-180px -140px; width:11px; height:6px; margin:15px 0 0 5px}
	.minfo_bt2_ico {background-position:-200px -140px; width:16px; height:16px; margin:10px 0 0 5px}
	.minfo_layer {background-color:#ededed; position:absolute; left:5px; top:97px; border:1px solid #ccc; border-radius:3px; z-index:999; display:none}
	.minfo_layer ul li a {line-height:35px; display:block; border-bottom:1px solid #ccc; border-top:1px solid #fff; padding:0 20px 0 15px; font-size:1.2em; letter-spacing:-1px}
    .minfo_layer ul li:first-child a {border-top:0}
	.minfo_layer ul li a:hover {background-color:#e1e1e1}
	.minfo_layer ul li a div {width:18px; text-align:center; display:inline-block; margin-right:5px}
	.minfo_menu1_ico {background-position:0 -160px; width:15px; height:15px; margin-top:10px}
	.minfo_menu2_ico {background-position:-30px -160px; width:18px; height:14px; margin-top:10px}
	.minfo_menu3_ico {background-position:-60px -160px; width:15px; height:15px; margin-top:10px}
	.minfo_menu4_ico {background-position:-90px -160px; width:18px; height:16px; margin-top:10px}
	.minfo_menu5_ico {background-position:-120px -160px; width:15px; height:13px; margin-top:11px}
	.minfo_menu6_ico {background-position:-150px -160px; width:12px; height:17px; margin-top:9px}
	.minfo_layer ul li.minfo_menu1:hover .minfo_menu1_ico {background-position:0 -180px}
	.minfo_layer ul li.minfo_menu2:hover .minfo_menu2_ico {background-position:-30px -180px}
	.minfo_layer ul li.minfo_menu3:hover .minfo_menu3_ico {background-position:-60px -180px}
	.minfo_layer ul li.minfo_menu4:hover .minfo_menu4_ico {background-position:-90px -180px}
	.minfo_layer ul li.minfo_menu5:hover .minfo_menu5_ico {background-position:-120px -180px}
	.minfo_layer ul li.minfo_menu6:hover .minfo_menu6_ico {background-position:-150px -180px}
	.lnb .inner .m_sch_area {display:none}	

	/* Slide Menu */
	.navi1 {display:none !important}

	/* temp photo */
    .temp_photo_tit {margin-bottom:14px}
	.temp_photo_tit .sel {position:static; margin-left:10px}
	.temp_photo_tit .txt_link {font-size:1.25em; color:#666; display:inline-block; position:absolute; right:80px; top:8px}
	.temp_photo ul li .temp_photo_img .over {width:100%; height:100%; background-color:#000; opacity:0.3; filter:alpha(opacity=30); position:absolute; left:0; top:0; z-index:9}
	.temp_photo_bt_area {width:60px; margin:0; padding:0; position:absolute; right:10px; top:2px}
	.temp_photo_bt_area .count {display:none}
	.temp_photo_bt_area .bt_prev, .temp_photo_bt_area .bt_next {width:30px; height:30px; background-color:#fff; border:1px solid #ccc; border-bottom:2px solid #ccc}
	.temp_photo_bt_area .bt_prev {border-radius:0; border-top-left-radius:3px; border-bottom-left-radius:3px; float:left; border-right:0}
	.temp_photo_bt_area .bt_next {border-radius:0; border-top-right-radius:3px; border-bottom-right-radius:3px}
	.fav_img {background-position:-175px 0; width:23px; height:21px}
	.fav_img.active {background-position:-200px 0}

	/* temp list */
    .temp_list_tit {padding:0}
	.temp_list ul li ul.step2 li {height:110px; padding:13px 10px 0 10px; float:none; position:relative !important}
	.temp_list ul li ul.step2 li:first-child {border-top:0}
	.temp_list ul li:first-child ul.step2 li:first-child {border-top:1px solid #ccc}
	.temp_list ul li ul.step2 li .temp_list_info {margin-right:244px; padding-top:10px}
	.temp_list ul li ul.step2 li .temp_list_info .name {font-size:1.25em}
	.temp_list ul li ul.step2 li .temp_list_info .condition {display:block}
	.temp_list ul li ul.step2 li .temp_list_info .pay {position:absolute; right:10px; top:16px; margin:0}
	.temp_list ul li ul.step2 li .temp_list_info .pay strong {font-size:1.4em}
	.temp_list ul li ul.step2 li .temp_list_info .else_tit {color:#222}
	.temp_list ul li ul.step2 li .temp_list_info .else_name {display:none}
	.temp_list ul li ul.step2 li .temp_list_fav .lately.else_day {padding:33px 0 7px 0}
	.temp_list ul li ul.step2 li .temp_list_info .info {font-size:1.1em}
	.temp_list ul li ul.step2 li .temp_list_img {width:114px; height:86px; position:absolute; right:120px; top:11px; cursor:pointer}
	.temp_list ul li ul.step2 li .temp_list_fav {width:110px; text-align:right; right:10px}
	.temp_list ul li ul.step2 li .temp_list_fav .lately {padding:46px 0 7px 0}
	.temp_list_tit .right_bt {display:block; position:absolute; right:0; top:0}
	.temp_list_tit .right_bt a {font-size:1.1em; color:#545454; padding:0 25px 0 15px; margin-left:3px}
	.temp_list_tit .right_bt a .arrow {width:0; height:0; border-left:4px solid transparent; border-right:4px solid transparent; border-top:5px solid #545454; position:absolute; top:13px; margin-left:3px}
    .temp_list_tit .right_bt a.active {border:1px solid #4190c8;border-bottom:2px solid #4190c8; color:#4190c8}
    .temp_list_tit .right_bt a.active .arrow {border-top:5px solid #4190c8}

	.pht {position:absolute; right:233px; top:79px; cursor:pointer; display:block}
	.pht .pht_num {width:38px; height:17px; text-align:center; color:#fff; position:absolute; left:0; top:0; z-index:9}
	.pht .pht_ico {background-position:5px -197px; width:38px; height:17px; line-height:20px; padding-left:19px}
	.pht .pht_bg {width:38px; height:17px; background-color:#000; opacity:0.5; filter:alpha(opacity=50); position:absolute; left:0; top:0; z-index:8}
	.pht .pht_photos {height:108px; position:absolute; right:0; top:-80px; background-color:#fff; padding-top:17px; z-index:1; display:none}
	.pht .pht_photos ul {height:73px; overflow:hidden}
	.pht .pht_photos ul li {width:102px !important; height:73px !important; padding:0 !important; float:left !important; border:0 !important}
	.pht .pht_photos ul li img {width:97px; height:73px; position:absolute; top:0}

	/* temp list cont */
	.temp_list_cont ul li {height:110px; padding:13px 10px 0 10px}
	.temp_list_cont ul li .temp_list_info {margin-right:244px; padding-top:10px}
	.temp_list_cont ul li .temp_list_info .name {font-size:1.25em}
	.temp_list_cont ul li .temp_list_info .condition {display:block}
	.temp_list_cont ul li .temp_list_info .pay {position:absolute; right:10px; top:16px; margin:0}
	.temp_list_cont ul li .temp_list_info .pay strong {font-size:1.4em}
	.temp_list_cont ul li .temp_list_info .else_tit {color:#222}
	.temp_list_cont ul li .temp_list_info .else_name {display:none}
	.temp_list_cont ul li .temp_list_fav .lately.else_day {padding:33px 0 7px 0}
	.temp_list_cont ul li .temp_list_info .info {font-size:1.1em}
	.temp_list_cont ul li .temp_list_img {width:114px; height:86px; position:absolute; right:120px; top:11px}
	.temp_list_cont ul li .temp_list_fav {width:110px; text-align:right; right:10px}
	.temp_list_cont ul li .temp_list_fav .lately {padding:46px 0 7px 0}

	/* paginate */
	.paginate .page_full {display:block}
	.paginate .page_mini {display:none}
	
	/* table */
    .temp_tbl .section_tit {padding:11px 37px}
	.temp_tbl ul li.left {width:50%; float:left}
    .temp_tbl ul li .a {text-align:left; padding:0}
	.temp_tbl ul li .a .cell.tel {width:85px}
	.temp_tbl ul li .a .cell.addr {width:100%; padding:5px 0 0 0}
    .btb {width:510px; margin:0 auto}

    /* Layer Popup */
	.ly_pop .cont .element {width:600px; padding:30px 40px}
	.ly_pop .cont .element .conts .txt {font-size:1.1em}
    .ly_pop .cont .element .conts .temp_tbl ul {padding:0}
	.ly_pop .cont .element .info ul li {font-size:1.1em}
	.ly_pop .cont .element .sub_tit {font-size:2em}

    /* 로그인 */
    .login_ico {background-position:-255px -120px; width:26px; height:23px}
    .login_pop .top .sub_txt {font-size:1.3em}
    .login_pop .conts .loginarea {padding:0 112px 0 0}
    .login_pop .conts .loginarea .lgn_ip .ip_box {padding:0 0 10px 80px}
    .login_pop .conts .loginarea .lgn_ip .ip_box label {width:80px; font-size:1.6em}
    .login_pop .conts .loginarea .lgn_btn {width:102px; padding:0; top:0}
    .login_pop .conts .loginarea .lgn_btn .lgn_bt {height:94px}
    .login_pop .conts .btn_link {width:100%; padding-left:80px; margin-top:0}
    .sns_f {background-position:-285px -120px; width:32px; height:32px}
    .sns_b {background-position:-325px -120px; width:32px; height:32px}
    .sns_k {background-position:-365px -120px; width:32px; height:32px}
    .login_pop .conts .btn_join {margin:0 -40px -30px -40px}

	/* Footer */
	#Foot .small {display:none}
	#Foot .large {display:block; background:url('http://image.findall.co.kr/FACache/cgs/common/footer_bg.png') repeat-x; padding-bottom:70px}
	#Foot .large .inner {max-width:1024px; padding:0 20px; margin:0 auto; position:relative}
	#Foot .large .inner .link1 {height:56px}
	#Foot .large .inner .link1 ul {width:100%; height:56px; float:left; padding:0; display:table}
	#Foot .large .inner .link1 ul li {display:table-cell; vertical-align:middle; text-align:center; position:relative}
	#Foot .large .inner .link1 ul li:before {content:''; width:1px; height:14px; background-color:#cececf; display:inline-block; position:absolute; left:0; top:21px}
	#Foot .large .inner .link1 ul li:first-child:before {display:none}
	.link_img01 {background-position:0 0; width:63px; height:17px}
    .link_img01:hover {background-position:0 -30px}
	.link_img02 {background-position:-80px 0; width:125px; height:25px; margin-bottom:10px}
    .link_img02:hover {background-position:-80px -30px}
	.link_img03 {background-position:-220px 0; width:98px; height:17px}
    .link_img03:hover {background-position:-220px -30px}
	.link_img04 {background-position:-330px 0; width:71px; height:21px; margin-bottom:6px}
    .link_img04:hover {background-position:-330px -30px}
	.link_img05 {background-position:-410px 0; width:35px; height:23px}
    .link_img05:hover {background-position:-410px -30px}
	.link_img06 {background-position:-460px 0; width:67px; height:17px}
    .link_img06:hover {background-position:-460px -30px}
	.link_img07 {background-position:-540px 0; width:84px; height:19px}
    .link_img07:hover {background-position:-540px -30px}
	#Foot .large .inner .link1 .link2 {float:right; margin-top:16px; display:none}
	#Foot .large .inner .link1 .link2 select {height:21px; padding:0; vertical-align:top}
	.link_move {background-position:-250px -60px; width:34px; height:21px}
	#Foot .large .inner .group .left {width:137px; padding-top:20px; float:left}
	#Foot .large .inner .group .left .foot_logo {background-position:0 -60px; width:122px; height:24px}
	#Foot .large .inner .group .link {width:100%; padding:20px 0 0 137px}
	#Foot .large .inner .group .link:after {content:''; display:block; float:none; clear:both}
	#Foot .large .inner .group .link ul li {float:left; padding:3px 6px; position:relative}
    #Foot .large .inner .group .link ul li:first-child {padding-left:0}
	#Foot .large .inner .group .link ul li:before {content:''; width:1px; height:10px; background-color:#ccc; display:inline-block; position:absolute; left:0; top:4px}
	#Foot .large .inner .group .link ul li:first-child:before {display:none}
	#Foot .large .inner .group .link ul li a {font-weight:700; color:#666}
	#Foot .large .inner .group .link ul li.point a {color:#222}
	#Foot .large .inner .group .link .sns {height:25px; margin:-3px 0 7px 5px; overflow:hidden; display:none}
	#Foot .large .inner .group .link .sns a {float:left}
	.foot_sns01 {background-position:-130px -60px; width:25px; height:25px}
	.foot_sns02 {background-position:-155px -60px; width:24px; height:25px}
	.foot_sns03 {background-position:-179px -60px; width:25px; height:25px}
	.foot_certi {background-position:-210px -60px; width:26px; height:26px; margin-left:10px}
	#Foot .large .inner .group .info {line-height:18px; color:#666; padding-left:137px}
	.foot_map {background-position:-300px -60px; width:81px; height:18px}

}


/*** Desktop Device ***/
@media all and (min-width:1025px) {

	/* gnb */
	.gnb .inner {max-width:1280px; padding:0 45px}

	/* lnb */
    .beta {padding:5px 40px 0 0}
	.lnb .inner {max-width:1280px; padding:0 45px}
	.lnb .inner .count {left:252px}
	.lnb .inner h1 {width:207px}
	.logo {width:167px; height:58px; margin-top:20px}
	.lnb .inner .sch_cont .element .sch_form {max-width:500px}

	/* Footer */
	#Foot .large .inner {max-width:1280px; padding:0 45px}
	#Foot .large .inner .link1 ul {width:80%}
	#Foot .large .inner .link1 ul li {padding:0 13px}
	#Foot .large .inner .link1 .link2,
	#Foot .large .inner .group .link .sns {display:inline-block}

}


/*** IE8을 위한 Hack ***/
@media \0screen {
    html,body {overflow-x:inherit}
    .gnb .inner,
    #Foot .large .inner {max-width:1190px !important}
	.temp_photo ul li .temp_photo_img img,
	.temp_list ul li ul.step2 li .temp_list_img img,
	.temp_list_cont ul li .temp_list_img img {position:static}
}