
@charset "utf-8";

#wrap{ width:100%; position:relative; overflow:hidden;}
#header{position:fixed;top:0px; left:0px; width:100%;background:none; text-align:left; height:77px;}
#container{ padding-top:77px; background:url(../../images/web/bg_main_con.gif) repeat; background-size:46.5px 29px; }
#container_main{ padding-top:40px; background:url(../../images/web/bg_main_con.gif) repeat; background-size:46.5px 29px; }
#container_type2{ padding-top:39px; background:#fff;width:100%; min-height:500px;}
#footer{width:100%; position:relative; background:#333; min-height:100px;}
#footer .footM{margin:0 auto; padding:43px 0 60px 3px;}
#footer .footR{display:none;}

/*****************************menu css*/
#sect_navi{position:relative; z-index:1000;  height:39px;  max-width:1000px; margin:0 auto; min-width:100%;background:#258ce7; border-bottom:1px solid #313131; text-align:center;}
#sect_navi h1{ padding:11px 0 8px 0px; text-align:center; float:none;}
#sect_navi h1 img{ width:78px; margin:0 auto;}
#sect_navi .gnb{ clear:both; float:none; width:100%; padding:10px 7px 0 0; background:#333;opacity:0.8; height:27px; }
#sect_navi .gnb li{ float:left; padding:0 0 0 0px; width:33%;}
#sect_navi .gnb li:first-child{padding:0 0 0 0px;}
#sect_navi .gnb li a{ font-size:1em; color:#fff; letter-spacing:-1px;}
#sect_navi .gnb li .gnb_list{position:absolute; top:77px; right:0px; z-index:1;  background:#e9e9e9; zoom:1; width:100%;}
#sect_navi .gnb li .gnb_list:after{ clear:both; display:block; content:"";}
#sect_navi .gnb li .gnb_list li{ padding:0px; display:block; float:none; border-bottom:1px solid #fff;}
#sect_navi .gnb li .gnb_list li a{display:inline-block; font-size:0.95em; width:100%; text-align:center; color:#fff; padding:14px 0px 0; height:28px; background:#646464;}
#sect_navi .gnb li .gnb_list li.on a, #sect_navi .gnb li .gnb_list li a:hover{ font-weight:bold;background:#e9e9e9; vertical-align:middle;color:#ff9256;}
#sect_navi .gnb li .snb_01{left:0%;}
#sect_navi .gnb li .snb_02{left:33%;}
#sect_navi .gnb li .snb_03{left:66%;}

#sect_top_noti{ display:none; position:relative; background:#313131; height:30px; width:100%; padding:40px 0 0 0; }
#sect_top_noti .notice{height:30px; color:#838383;max-width:1000px; margin:0 auto; text-align:left; background:url(../../images/web/icon_gnb_notice.png) no-repeat; background-position:8px 10px; background-size:36px;}
#sect_top_noti .notice a{ padding:7px 10px 6px 50px; display:block;  color:#838383; text-overflow:ellipsis;white-space:nowrap;word-wrap:normal;font-size:0.85em; }
#sect_top_noti .notice a:hover{ color:#f2f2f2; text-decoration:underline;}
/* 메인 */
.area_100pc,.main_set{ width:100%; background:#fff; text-align:center;zoom:1; }
.area_100pc:after{ clear:both; content:""; display:block;}

.sect_main_ct01_pw{text-align:left; background:#F9FCFF; }

#main_visual01,#main_visual02,#main_visual03{position:relative;height:auto;}
#sect_main01 .bg_img_mw{ display:block;}

#sect_main01, #sect_main02, #sect_main03, #sect_main04{ position:relative; width:100%;max-width:1000px; min-width:300px; margin:0 auto;}
#sect_main01{text-align:center; height:auto;}
#sect_main01 h2{ display:none;}
#sect_main01 .bg_img{ display:none;}
#sect_main01 .btnbasic_left{ position:absolute; bottom:6%;text-align:center; margin:20px auto 0 auto; width:100%;}
#sect_main01 .bbtn button{ border:1px solid #fff; color:#fff; width:300px;}
#sect_main01 .bbtn button:hover{ background:#fff; color:#000;}
#sect_main02{ background: url(../../images/web/main/bg_main_or.png) repeat-x top left;height:150px; padding:0 0 0px 0; text-align:center;}
#sect_main02 h2{ padding:0px;}
#sect_main02 .player{ display:none;}
#sect_main02 .menu_quick{ display:none;}
#sect_main02 .menu_quick_mobile{ display:block; width:100%; margin:0 auto; zoom:1; padding:12px 0 12px 0;}
#sect_main02 .menu_quick_mobile:after{ clear:both; content:""; display:block;}
#sect_main02 .menu_quick_mobile li{ float:left; text-align:center; width:25%; margin:0px;}
#sect_main02 .menu_quick_mobile li img{ width:68px;}
#sect_main02 .customer_mo{ display:block; background:#fa8545; padding:15px 0; text-align:center; color:#fff; font-weight:bold; font-size:1.2em; }
#sect_main03{height:auto; text-align:left; padding:0 0 36px 5%;}
#sect_main03 h2{ padding:40px 0 30px;}
#sect_main03 .sms{ width:95%;}
#sect_main03 .bg_img{ display:none;}
#sect_main04{ height:auto; padding:0 0 50px 0;}
#sect_main04 h2{padding:60px 0 0px 0;}
#sect_main04 .app_img{ display:none;}
#sect_main04 .app_img_mobile{ display:block;width:100%; text-align:center;}
#sect_main04 .app_img_mobile img{width:96%;}

.icon_slide{ position:absolute; bottom:19%; left:0px; width:100%; text-align:center;}
.icon_slide .iconSet{ width:200px; margin:0 auto;}
.icon_slide a.on{ display:inline-block; width:6px; height:6px; margin:0 3px; background:#fff;-webkit-border-radius: 50px;-moz-border-radius: 50px;border-radius: 50px;border:1px solid #fff;}
.icon_slide a{ display:inline-block; width:6px; height:6px; margin:0 3px; background:none;-webkit-border-radius: 50px;-moz-border-radius: 50px;border-radius: 50px;border:1px solid #fff;}

input.radius{height:28px; width:90%;-webkit-border-radius: 4px;-moz-border-radius: 4px;border-radius: 4px;border:1px solid #777;}
select.radius{width:80px; height:10%;font-size:1.2em; margin:0 0 5px 0; padding:5px; font-size:1.1em;border:1px solid #777;-webkit-border-radius: 4px;-moz-border-radius: 4px;border-radius: 4px;border:1px solid #777;}


#sect_join, #sect_end{ padding:74px 0 42px 3px;}
.form_basic{ width:98%; padding:54px 0 0 0;min-width:380px; margin:0 auto;}
.bg_right{ display:none;}


table td .num_pc{display:none; }
table td .num_mw{display:block;}

.txt_cguide02{ display:block; clear:both; padding:5px 0;color:#545454; font-size:0.85em; text-align:left;}


#sec_info_down{margin:0 auto; padding:35px 0 60px 0;zoom:1; text-align:center;}
#sec_info_down:after{ clear:both; content:""; display:block;}
#sec_info_down ul li{ float:none; display:block; width:96%;margin:0 auto;  text-align:center; border-left:0px solid #d6d6d6;padding:5px 0 10px 0;}
#sec_info_down ul li p{ padding:16px 0 15px 0; font-size:0.85em; color:#505050; line-height:18px;border-bottom:1px solid #d6d6d6; }
#sec_info_down ul li img{ width:60%; max-width:268px;}
#sec_info_down ul li:last-child{ border-bottom:0px solid #d6d6d6;}

.tbl_write td input.txt{ width:92%;height:43px;line-height:22px;border: 1px solid #d4d4d4;}

.write_agree{ text-align: left; padding:10px 3% 10px 2%; font-size:0.85em; color:#9a9a9a; line-height:18px; border-bottom:1px solid #d4d4d4;}

#boxes #dialog {height:440px;text-align:center;background:#fff; max-width:676px;min-width:480px; width:90%;  }
.sec_join_meth .img_Group .tip img{ display:none;}

#footer .footM .snsLink{ display:block; margin-top:15px;}
#footer .footM .snsLink em{ display:none;}