
@charset "utf-8";

#wrap{ width:100%; position:relative; overflow:hidden;}
#header{position:fixed;top:0px; left:0px; width:100%;background:none; text-align:left; height:77px;}
#container{ padding-top:77px; background:url(../../images/web/bg_main_con.gif) repeat; background-size:46.5px 29px; }
#container_main{ padding-top:40px; background:url(../../images/web/bg_main_con.gif) repeat; background-size:46.5px 29px; }
#container_type2{ padding-top:39px; background:#fff;width:100%; min-height:500px;}
#footer{width:100%; position:relative; background:#333; min-height:100px;}

#footer .footM{ max-width:970px; width:98%; margin:0 auto;  position:relative; padding:25px 0 30px 0; color:#818181;}
#footer .footM .link a{ color:#d9d9d9; font-size:0.85em;}
#footer .footM .link em{ color:#d9d9d9;font-size:0.85em; display:inline-block; width:18px; text-align:center;}
#footer .footM .txt em{ color:#7e7e7e;font-size:0.75em; vertical-align:middle; display:inline-block; width:10px; text-align:center;}
#footer .footM .link .bold{ color:#ff9256;}
#footer .footM .txt{ font-size:0.75em; line-height:15px; margin:12px 0 16px 0; letter-spacing:-1px; word-break:break-all;}
#footer .footM .tel_logo img{ width:107px;}
#footer .footR{display:none;}

/*****************************menu css*/
#sect_navi{position:relative; z-index:1000;  height:39px;  max-width:1000px; margin:0 auto; min-width:100%;background:#258ce7; border-bottom:1px solid #313131; text-align:center;}
#sect_navi h1{ padding:6px 0 4px 0px; text-align:center; float:none;}
#sect_navi h1 img{ width:200px; margin:0 auto;}
#sect_navi .gnb{ clear:both; float:none; width:100%; padding:10px 7px 0 0; background:#333;opacity:0.8; height:27px; }
#sect_navi .gnb li{ float:left; padding:0 0 0 0px; width:33%;}
#sect_navi .gnb li:first-child{padding:0 0 0 0px;}
#sect_navi .gnb li a{ font-size:1em; color:#fff; letter-spacing:-1px;}
#sect_navi .gnb li .gnb_list{position:absolute; top:77px; right:0px; z-index:1;  background:#e9e9e9; zoom:1; width:100%;}
#sect_navi .gnb li .gnb_list:after{ clear:both; display:block; content:"";}
#sect_navi .gnb li .gnb_list li{ padding:0px; display:block; float:none; border-bottom:1px solid #fff;}
#sect_navi .gnb li .gnb_list li a{display:inline-block; font-size:0.95em; width:100%; text-align:center; color:#fff; padding:14px 0px 0; height:28px; background:#646464;}
#sect_navi .gnb li .gnb_list li.on a, #sect_navi .gnb li .gnb_list li a:hover{ font-weight:bold;background:#e9e9e9; vertical-align:middle;color:#ff9256;}
#sect_navi .gnb li .snb_01{left:0%;}
#sect_navi .gnb li .snb_02{left:33%;}
#sect_navi .gnb li .snb_03{left:67%;}

#sect_top_noti{ display:none; position:relative; background:#313131; height:30px; width:100%; padding:40px 0 0 0; }
#sect_top_noti .notice{height:30px; color:#838383;max-width:1000px; margin:0 auto; text-align:left; background:url(../../images/web/icon_gnb_notice.png) no-repeat; background-position:8px 10px; background-size:36px;}
#sect_top_noti .notice a{ padding:7px 10px 6px 50px; display:block;  color:#838383; text-overflow:ellipsis;white-space:nowrap;word-wrap:normal;font-size:0.85em; }
#sect_top_noti .notice a:hover{ color:#f2f2f2; text-decoration:underline;}

/* 메인 */
.area_100pc,.main_set{ width:100%; background:#fff; text-align:center;zoom:1; }
.area_100pc:after{ clear:both; content:""; display:block;}

.sect_main_ct01_pw{text-align:left; background:#F9FCFF; }
.sect_main_ct02{ background:#525458; }

#main_visual01,#main_visual02,#main_visual03{position:relative;height:auto;}
#sect_main01 .bg_img_mw{ display:block;}

#sect_main01, #sect_main02, #sect_main03, #sect_main04{ position:relative; width:100%;max-width:1000px; min-width:300px; margin:0 auto;}
#sect_main01{text-align:center; height:auto;}
#sect_main01 h2{ display:none;}
#sect_main01 .bg_img{ display:none;}
#sect_main01 .btnbasic_left{ position:absolute; bottom:6%;text-align:center; margin:20px auto 0 auto; width:100%;}
#sect_main01 .bbtn button{ border:1px solid #fff; color:#fff;}
#sect_main01 .bbtn button:hover{ background:#333; border:1px solid #333; }

#sect_main02{ background: url(../../images/web/main/bg_main_or.png) repeat-x top left;height:150px; text-align:center; padding:0;}
#sect_main02 h2{ padding:0px;}
#sect_main02 .player{ display:none;}
#sect_main02 .menu_quick{ display:none;}
#sect_main02 .menu_quick_mobile{display:block; width:100%; margin:0 auto; zoom:1; padding:12px 0 12px 0;}
#sect_main02 .menu_quick_mobile:after{ clear:both; content:""; display:block;}
#sect_main02 .menu_quick_mobile li{ float:left; text-align:center; width:25%; margin:0px;}
#sect_main02 .menu_quick_mobile li img{ width:68px;}
#sect_main02 .customer_mo{ display:block; background:#fa8545; padding:15px 0; text-align:center; color:#fff; font-weight:bold; font-size:1.2em; }
#sect_main03{height:236px; text-align:left; padding:0 0 0 5%;}
#sect_main03 h2{ padding:29px 0 21px;}
#sect_main03 .sms{ width:95%;}
#sect_main03 .bg_img{ display:none;}
#sect_main04{ height:auto; padding:0 0 50px 0;}
#sect_main04 h2{padding:34px 0 0px 0;}
#sect_main04 .app_img{ display:none;}
#sect_main04 .app_img_mobile{ display:block;width:100%; text-align:center;}
#sect_main04 .app_img_mobile img{width:96%;}

.icon_slide{ position:absolute; bottom:19%; left:0px; width:100%; text-align:center;}
.icon_slide .iconSet{ width:200px; margin:0 auto;}
.icon_slide a.on{ display:inline-block; width:6px; height:6px; margin:0 3px; background:#fff;-webkit-border-radius: 50px;-moz-border-radius: 50px;border-radius: 50px;border:1px solid #fff;}
.icon_slide a{ display:inline-block; width:6px; height:6px; margin:0 3px; background:none;-webkit-border-radius: 50px;-moz-border-radius: 50px;border-radius: 50px;border:1px solid #fff;}

/*****************************기본 폼css*/
input.txt{ height:30px; width:50px; padding:0 5px;border:1px solid #222; vertical-align:middle; background:#fff; text-align:left;}
select.txt{width:60%; height:30px; padding:5px 5px 5px 5px; font-size:1.1em; border:1px solid ##d4d4d4;}
input.radius{height:28px; width:90%;-webkit-border-radius: 4px;-moz-border-radius: 4px;border-radius: 4px;border:1px solid #777;}
select.radius{width:80px; height:10%;font-size:1.2em; margin:0 0 5px 0; padding:5px; font-size:1.1em;border:1px solid #777;-webkit-border-radius: 4px;-moz-border-radius: 4px;border-radius: 4px;border:1px solid #777;}

.radioset { font-size: 0.85em;color:#272727;font-weight:bold;}
.radioset em, .check em { display: none !important;}
.radioset button{display: block;height: 16px;width: 16px;overflow: visible;}
.radioset span { background: url(../../images/web/content/button_form.png) no-repeat scroll -30px 0 transparent;background-size:100px 50px; display: inline-block;height:16px; width:16px;vertical-align: middle;
padding:2px 5px 0 0px;}
.radioset span.on {background: url(../../images/web/content/button_form.png) no-repeat scroll 0px 0 transparent;background-size:100px 50px}
.radioset label {cursor: pointer; display: inline-block; font-size: 1em;margin-right: 15px;vertical-align: middle;color:#272727;}

.mAgree{ display:block; width:96%;zoom:1; text-align:left; background:#dbdbdb; margin:20px 0 0 0;}
.mAgree:after{ display:block; content:""; clear:both;}

.check {color: #272727;text-align:left;}
.check button{display: block;overflow: visible;width:10px;height:14px;}
.check span{ cursor:pointer;background:url(../../images/web/content/button_form.png) no-repeat -30px -30px;background-size:100px 50px; display: inline-block;width:10px;height:14px;vertical-align:top; }
.check span.on{ background:url(../../images/web/content/button_form.png) no-repeat -0px -30px;background-size:100px 50px; }
.check label { color: #fff;cursor: pointer;display: inline-block;margin:0 6px 2px 3px;vertical-align:top;color:#272727; font-size:0.75em; letter-spacing:-1px;}
.check label.all_lb{ font-size:1em; color:#272727; font-weight:bold;} 

/*****************************기본 버튼css*/
.btnbasic_left02{margin:7px 0 0 5px;}
.obtn button{padding: 9px 0px 8px 0;width:57%;min-width:120px;margin:15px auto 5px auto; font-size:1em;}
.bbtn button{padding:7px 0 6px;width:52%;margin:15px 0 0px 0; border:1px solid #313131;}
.bbtn_c button{padding:9px 0px;width:52%;margin:30px auto 0px auto; }
.gbtn button{display:inline-block;font-size:0.85em; letter-spacing:-1px;padding: 4px 0px;width:30%; height:32px;margin:0 0 0px 3px; }
.sbbtn button{padding:7px 15px;min-width:120px; border-bottom:1px solid #fff; margin:0 2px;}
.bbtn button em,.bbtn_c button em,.obtn button em{ display:none;}


#sect_join, #sect_end{ padding:34px 0 30px 8px; position:relative;margin:0 auto; text-align:left; min-height:300px; }
.form_basic{ width:100%; padding:22px 0 0 0;margin:0 auto; min-width:100%;}
.form_basic .f_title{ color:#272727; letter-spacing:-1px;border-bottom:2px solid #272727; margin:0 0 5px 0; width:98%;}
.form_basic .tbl_user{ width:98%; margin:0 auto;}
.form_basic .tbl_user th,.tbl_user td{ display:inline-block; height:22px;padding:10px 0 0px 2px;  text-align:left;font-size:1em; width:100%; float:left;}
.form_basic .tbl_user td{padding:0px 0 14px 2px; width:100%; vertical-align:middle;}
.form_basic .tbl_user td .num_pc{ display:none;}
.form_basic .tbl_user td .num_mw{ display:block;}
.form_basic .tbl_user tr:first-child td{ height:22px;padding:0px 0 0px 2px;}
.form_basic .tbl_user td .timer{ position:absolute; top:8px;  right:39%; color:#989898; font-size:0.95em;}
.bg_right{ display:none;}
.ct_form{padding:0 8px 30px 8px;box-sizing:border-box;    }
.ct_form .ct_inp{border-top: 4px solid #313131;padding:0 5px;border-bottom:0}

table td .num_pc{display:none; }
table td .num_mw{display:block;}

h2.tit01 img{ width:300px; padding:0 0 0 1%;}
h2.tit02 img{width:216px;margin:0 0 25px 0;}
h2.tit03 img{ width:300px; margin:0 auto 25px auto;display:block;}


.sect_join_info{max-width:1000px; margin:0 auto;padding:34px 0 34px 0;}
.sect_join_info p img{ width:92%;}

#sect_pw{ position:relative;max-width:1000px; margin:0 auto; padding:34px 0 34px 8px; height:auto;}
#sect_pw .bg_img{position:absolute;right:10px; bottom:0px; z-index:1; text-align:right;width:35%;}
#sect_pw .bg_img img{width:100%;}

#sect_pw_info{max-width:1000px; margin:0 auto; padding:34px 0 34px 0; text-align:left;}
#sect_pw_info .img_guide img{ width:96%;}
#sect_pw_info .img_guide img:first-child{ display:inline-block; margin:0px 0 25px 5px;}

#sect_info, #sect_info_use{ position:relative;max-width:1000px; min-width:98%; margin:0 auto; padding:34px 0 30px 2%; height:auto; }
#sect_info .bg_img{ display:none;}

#sect_info_use{padding:25px 0 0 3px; height:70px;}
#sect_info_use .bg_img{position:absolute; right:5px;bottom:2px;; z-index:1; text-align:right; width:28%;}
#sect_info_use .bg_img img{ display:none;}

#sec_info_down{margin:0 auto; padding:35px 0 35px 0;zoom:1; text-align:center;}
#sec_info_down:after{ clear:both; content:""; display:block;}
#sec_info_down ul li{ float:none; display:block; width:96%;margin:0 auto;  text-align:center; border-left:0px solid #d6d6d6;padding:5px 0 10px 0;}
#sec_info_down ul li p{ padding:16px 0 15px 0; font-size:0.85em; color:#505050; line-height:18px;border-bottom:1px solid #d6d6d6; }
#sec_info_down ul li img{ width:60%; max-width:268px;}
#sec_info_down ul li:last-child p{ border-bottom:0px solid #d6d6d6;}

.sec_join_meth{padding:30px 0 32px 0;}
.sec_join_meth .img_Group img{ padding:30px 0 0 0; width:98%; margin:0 auto;}
.sec_join_meth .img_Group .tip img{ display:none;}

.txt_cguide{ color:#989898; font-size:0.75em; text-align:center;}
.txt_cguide_line{ width:98%; color:#272727; font-size:0.75em; text-align:left; border-top:2px solid #272727; padding:10px 0 0 0; margin:20px 0 0 0;}

/*****************************고객센터 css*/
.sect_vs{ height:37px; margin-bottom:34px;}
.bg_type01{ background: url(../../images/web/content/sub_bg01.png) center top no-repeat #5c9390; background-size:auto 37px;}
.sect_tbl{max-width:1000px; width:100%;min-width:300px; margin:0 auto; padding:0px 0 0px 0px; text-align:center;}
.sect_tbl h3{ margin:0 0 30px 8px; text-align:left; }
.sect_tbl h3 img{ width:300px;}
.tbl_list,
.tbl_write{ width:98%;border-top:4px solid #313131; margin:0 auto;}
.tbl_list td {border-bottom:1px solid #d4d4d4;text-align:center;background:none;}
.tbl_list td {height:42px;color:#545454;}
.tbl_list td.date{ color:#989898; font-family:verdana,Tahoma, Geneva, sans-serif; font-weight:bold; font-size:0.75em; padding:0 2px 0 0; width:10%; min-width:70px; letter-spacing:-1px;background:none; }
.tbl_list td:first-child{ display:none;color:#989898;font-family:verdana,Tahoma, Geneva, sans-serif;font-size:0.85em; font-weight:bold;}
.tbl_list td.subject{ text-align:left; padding:0 0 0 0; width:100%;}
.tbl_list td a:on{color:#258ce7;}

.tbl_list .board .answer {padding:10px 5px 30px 8px;;border-top:1px solid #d6d6d6;border-bottom:1px solid #d6d6d6;text-align:left;}
.tbl_list .board .answer pre{ display:table-cell;font-family:NanumGothic,'나눔고딕'; width:70%; white-space:pre-line; word-break:keep-all;}
.tbl_list .board .answer img {float:left;}
.tbl_list .board .answer span {float:left;width:648px;padding:0 0 0 17px;color:#333;}

.tbl_list td.subject_faq{padding:0 0 0 24px; background:url(../../images/web/content/icon_faq_Q.png) no-repeat 5px 14px;  background-size:11px 14px;}
.tbl_list .faq .answer {padding:20px 0 30px 24px; background: url(../../images/web/content/icon_faq_a.png) no-repeat 5px 20px;background-size:11px 14px;}

.pagination{ margin:20px 0 0 0;}
.pagination .navi{ vertical-align:top;padding-top:0px}
.pagination a{ display:inline-block; font-family:verdana,Tahoma; font-size:0.85em; color:#949494; width:22px; height:19px; padding-top:2px}
.pagination a.on{ color:#fff; width:20px; height:19px; border:1px solid #1f1f1f; background:#383838; }

.tab_faq {width:98%;overflow:hidden;margin:0 auto 0px auto;}
.tab_faq li {float:left;margin:0 0 0 -1px;padding:10px 10px 8px;background:url(../../images/web/content/bg_tab_faq.png) no-repeat 0 12px; background-size:1px 10px;}
.tab_faq li a {font-size:1em;font-weight:bold; color:#545454;}
.tab_faq li.on {position:relative;background:#313131;}
.tab_faq li.on a {color:#fff !important;}

.tbl_write th {color:#545454;text-align:center;font-size:14px;vertical-align:top; background:#f6f6f6; max-width:170px;width:10%;}
.tbl_write td {color:#6c6c6c; text-align:left; padding:5px 0 5px 10px;width:90%;}
.tbl_write th,
.tbl_write td {border-bottom:1px solid #d6d6d6;vertical-align:middle;height:43px;}
.tbl_write td input.txt{ width:92%;height:30px;line-height:22px;border: 1px solid #d4d4d4;}

.write_agree{ text-align: left; padding:10px 3% 10px 2%; font-size:0.85em; color:#9a9a9a; line-height:18px; border-bottom:1px solid #d4d4d4;}

/* 레이어 */ 
#mask { position:absolute; z-index:9000; background-color:#000; display:none; }  
#boxes .window {position:fixed;display:none; z-index:9999;}   
#boxes #dialog { height:auto; padding:0 0 30px 0;text-align:center;background:#fff; max-width:676px;min-width:240px; width:90%; }
#boxes #dialog:after{ clear:both; display:block; content:"";}
#boxes .head{text-align:right;padding:20px 20px 0;}
#boxes .sect_con h3{ font-weight:bold; font-size:1.1em; margin:15px 0 10px 0; letter-spacing:-1px;}
#boxes .sect_con .txt{ color:#6a6a6a; line-height:18px;font-size:0.85em;}
#boxes .sect_con .pw{ border-top:1px solid #333; border-bottom:1px solid #333; padding:15px 0 20px; width:100%; margin:10px auto;}
#boxes .sect_con .pw label{ display:inline-block; text-align:center; color:#0b6abd; font-size:0.85em; font-weight:bold; line-height:16px; margin:0 10px 2px 10px;}
#boxes .sect_con .icon{ margin:38px auto;}

/* 동의팝업 */ 
#popbox{width:100%; margin:0 auto; line-height:18px; color:#666; }
#popbox h1{	width:98%; margin:0 0 11px 0;background:#313131;color:#fff;font-weight:bold;padding:10px 0 0px 2%;}
#popbox .closeline{	text-align:right;margin:10px 0 20px 0;padding:20px 20px 0 0;border-top:1px solid #efefef;}
#popbox .closeline .gbtn button{font-size:0.95em;font-weight: normal;padding: 5px 0px;width:120px; height:34px;margin:0 0 0px 6px; letter-spacing:-1px; }
#popbox .textarea_st{height:auto;width:98%;word-wrap: break-word; font-family:dotum,tahoma; font-size:12px; margin:0 5px; border:0px solid #eee; padding:5px 0px; line-height:17px; text-align:left; overflow-y:hidden;}
#popbox .textarea_st strong{ border-bottom:1px solid #e9e9e9; display:block; color:#252525; padding:0 0 5px 0;}

#footer .footM .snsLink{ display:block; margin-top:15px;}
#footer .footM .snsLink em{ display:none;}

/*회사소개관련*/
div.sect_icon_set_com ul li{ float:left; display:block;width:100%; word-break:keep-all;}
div.sect_icon_set_com ul li p.icon{ display:inline-block; }
div.sect_icon_set_com ul li img{ width:100%;}

.sect_tbl h4{ margin:0 0 30px 8px; text-align:left; }
.sect_tbl h4 img{ width:70px;}

/*캡챠*/
div.sect_captcha .pinArea .pin_img{ display:inline-block; margin-bottom:4px;max-width:120px;}