.event_ly_open .wrap {
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  left: 0;
  width: 100%;
}

.event_ly_open .content {
  position: relative;
  padding: 0 !important;
  text-align: center;
}

.event_ly_open .content > img {
  width: 90%;
  max-width: 56.2rem;
}

@media all and (min-width: 640px) {
  .event_ly_open .content {
    width: 64rem;
    margin: 0 auto;
  }
}

.event_ly_open .close {
  position: absolute;
  top: 1.5rem;
  right: 0;
  padding: 1rem;
  z-index: 10;
}

.event_ly_open .close i {
  display: inline-block;
  text-indent: -3000em;
  vertical-align: middle;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-image: url("../image/lgu/event/open_pop_x.png");
  width: 2.6rem;
  height: 2.6rem;
}

.event_ly_open .list, .event_ly_open .count, .event_ly_open .skip {
  position: absolute;
}

.event_ly_open .list {
  text-align: left;
  font-weight: 300;
  font-size: 3.408vw;
  color: rgba(0, 0, 0, 0.65);
  left: 20vw;
  top: 87vw;
}

@media all and (min-width: 640px) {
  .event_ly_open .list {
    left: 13rem;
    top: 54.5rem;
    font-size: 2rem;
  }
}

.event_ly_open .count {
  display: inline-block;
  text-align: center;
  top: 108vw;
  left: 79.9vw;
  font-weight: 700;
  font-size: 3.55vw;
  color: #fff;
}

@media all and (min-width: 640px) {
  .event_ly_open .count {
    top: 67.65rem;
    left: 50.75rem;
    font-size: 2.1rem;
  }
}

.event_ly_open .skip {
  display: block;
  text-align: left;
  top: 147vw;
  left: 12vw;
}

.event_ly_open .skip img {
  width: 61.6vw;
}

.event_ly_open .skip:after {
  content: '';
  display: inline-block;
  text-indent: -3000em;
  vertical-align: middle;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-image: url("../image/lgu/event/open_pop_arr.png");
  width: 5.65vw;
  height: 2.35vw;
  margin-top: -2vw;
  margin-left: 8vw;
  -webkit-animation: arrow-left-right 0.25s cubic-bezier(0.63, 0.09, 0.75, 0.46) infinite alternate;
          animation: arrow-left-right 0.25s cubic-bezier(0.63, 0.09, 0.75, 0.46) infinite alternate;
}

@-webkit-keyframes arrow-left-right {
  0% {
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
  }
  100% {
    -webkit-transform: translateX(-20%);
            transform: translateX(-20%);
  }
}

@keyframes arrow-left-right {
  0% {
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
  }
  100% {
    -webkit-transform: translateX(-20%);
            transform: translateX(-20%);
  }
}

@media all and (min-width: 640px) {
  .event_ly_open .skip {
    top: auto;
    bottom: 4.3rem;
    left: 7.5rem;
  }
  .event_ly_open .skip img {
    width: 39.4rem;
  }
  .event_ly_open .skip:after {
    width: 3.7rem;
    height: 1.5rem;
    margin-left: 4.5rem;
  }
}
