@import "base/variable";
@import "base/basic";
@import "base/module";

// layout
#wrap{
}
.inner{ @include inner() }
.fix{
    position:fixed !important;left:0;right:0;z-index:10;
    &.top{top:0}
    &.btm{bottom:0}
}
.topGo{
    padding-top:px(8);
    font-size:px(24);
    box-shadow: 0 px(20) px(15) rgba(0,0,0,.1);
    i{
        position:$rav;
        &:before{
            content:'';
            margin:px(4) 0 0 px(-2);
            @include lineArr(px(20),px(20),$color-white,-45,"horizon");
        }
    }
}
.floating{
    .btn_o_s{
        position:$aot;left:0;top:auto;
        visibility: hidden;
        transform:translateY(0);
        transition-duration: .25s;
        transition-timing-function: cubic-bezier(0.175, 0.885, 0.320, 1.275);
        opacity: 0;
        
    }
    box-shadow: 0 px(20) px(15) rgba(0,0,0,.1);
    label{
        cursor:pointer;
        position:$rav;z-index:10;
        display:block;
        height:px(80);
        transition-duration:.25s;
        @include blind("txt");
        &:before, &:after{
            content:'';
            display:block;
            background-color:$color-white;
            @include pos($aot,"vhcenter");
        }
        &:after{
            height:px(4);width:px(26);
        }
        &:before{
            width:px(4);height:px(26);
            margin-left:px(-1);
        }
    }
    .btn{
        &_qna{ bottom:px(0) }
        &_like3{ bottom:px(100) }
        &_lately{ bottom:px(200) }
    }
    input:checked{
        + label{
            transform: rotate(135deg);
        }
        ~ .btn_o_s{
            opacity:1;
            visibility: visible;
        }
        ~ .btn{
            &_qna{
                bottom:px(100);
                transition-delay: .25s;
            }
            &_like3{
                bottom:px(200);
                transition-delay: .35s;
            }
            &_lately{
                bottom:px(300);
                transition-delay: .45s;
            }
        }
    }
}
.navPrimary{
    @include pos(fixed,$b:px(143),$l:px(0),$r:px(0));
    padding:px(40);
    &.nf{
        position:$aot;
        bottom:auto;top:px(0);
        background-color:#fff;
        // border-top:px(20) solid $color-gray12;
    }
    z-index:30;
    text-align:center;
    .topGo{ float:right }
    .floating{ float:left }
}
.navbar{
    height:px(123);
    background-color:$color-white;
    border-top:1px solid $color-gray9;
    text-align:center;
    ul{ display:flex }
    li{
        flex:1;
        a{
            display:flex;
            flex-direction:column;
            color:$color-gray6;
        }
        i{
            display:block;height:px(66);
            &:before{
                content:'';
                @include bgStyle("icon", "common/bg_figure.png");
            }
            &[data-name="login"]{
                padding-top:px(20);
                &:before{
                    width:px(35);height:px(39);
                    background-position:0 px(-541);
                }
            }
            &[data-name="홈"]{
                padding:px(20) 0 0 px(4);
                &:before{
                    width:px(36);height:px(38);
                    background-position:px(-53) px(-541);
                }
            }
            &[data-name="전체"]{
                padding:px(25) 0 0 px(4);
                &:before{
                    width:px(34);height:px(28);
                    background-position:px(-107) px(-541);
                }
            }
            &[data-name="검색"]{
                padding:px(21) 0 0 px(2);
                &:before{
                    width:px(36);height:px(36);
                    background-position:px(-160) px(-541);
                }
            }
        }
    }
    &.nf{
        position:$aot !important;
    }
}

// header
#header{
    position:$rav;
    h1{
        text-align:$ct;
        height:px(100);
        line-height:px(100);
        background-color:$color-blue-dark;
        font-size:px(32);
        color:$color-white;
        &.fnm{
            img{width:auto;height:px(33)}
        }
    }
    [class*="btn_"]{
        @include pos($aot, "vertical");
        padding:px(15);
    }
    .btn{
        &_prev{
            left:px(25);
            i{
                @include bgStyle("icon", "common/bg_com.png", 0, 0);
                width:px(19);height:px(32);
            }
        }
        &_home{
            left:px(74);
            i{
                @include bgStyle("icon", "common/bg_com.png", px(-39), 0);
                width:px(34);height:px(36);
            }
        }
        &_srch{
            right:px(87);margin-top:px(-2);
            i{
                @include bgStyle("icon", "common/bg_com.png", px(-93), 0);
                width:px(34);height:px(34);
            }
        }
        &_gnb{
            font-size:0;right:px(25);
            i{
                @include bgStyle("icon", "common/bg_com.png", px(-262), 0);
                width:px(32);height:px(26);
            }
        }
        &_basket{
            &:before, &:after{display:none}
            font-size:0;right:px(25);
            i{
                @include bgStyle("icon", "common/bg_figure.png", px(-109), px(-160));
                width:px(35);height:px(35);
            }
        }
    }
    &.type{
        h1{
            background-color:$color-white
        }
        .btn{
            &_gnb{
                right:auto;left:px(25);
                i{
                    background-position:px(-307) px(-118);
                }
            }
            &_srch{
                i{
                    background-position:px(-253) px(-118);
                }
            }
        }
    }
    & + .product_page_wrap{
        @include pos($aot, $b:0, $r:0, $l:0);z-index:-1;
        transition: bottom .25s ease-in-out;
        &.open{
            bottom:px(-90);
        }
    }
}

// gnb
#gnb{
    @include pos(fixed, $t:0);z-index:20;
    width:100%;height:100%;
    background-color:$color-gray17;
    transition: all .35s ease;
    > h2{ @include blind("pos") }
    .panel{
        @include pos($aot, $t:0, $l:0);
        width:100%;height:100%;
    }
    .content, .scroll{width:100%;height:100%;}
    .scroll{ @include iscroll("vertical") }
    header{
        position:relative;
        padding:px(36) px(114) px(32) 0;
        background-color:$color-white;
        border-bottom:px(4) solid $color-blue-dark;
        .user{
            font-size:px(32);
            font-weight:500;
            padding-left:px(40);
            color:$color-blue-dark;
        }
        .memlink{
            @include pos($aot, "vertical", $r:px(114));
            a, button{
                vertical-align:top;
                margin-left:px(20);
            }
        }
        .btn_login{
            display:block;
            font-weight:500;
            font-size:px(32);
            color:$color-blue-dark;
            padding-left:px(144);
            &:before{
                content:'';
                @include bgStyle("icon", "common/bg_figure.png", px(-284), 0);
                width:px(64);height:px(64);
                @include pos($aot,"vertical",$l:px(40));
            }
        }
        .btn_x{
            @include pos($aot, "vertical", $r:px(40));
            i{
                @include bgStyle("icon", "common/bg_com.png", px(-315), px(-66));
                width:px(34);height:px(34);
            }
        }
    }
    .menu{
        background-color:#fff;
        ul[class*="dep"]{display:none}
        a{
            position:$rav;
            display:block;padding-left:px(40);
            &:after{ content:'' }
            &.active{ font-weight:500 }
        }
        >li{
            >a{
                border-bottom:1px solid $color-gray9;
                line-height:px(120);
                font-weight:500;
                font-size:px(40);
                color:$color-blue-dark;
                &.dep2{
                    &:after{
                        @include lineArr(px(24), px(24), $color-blue5, 135, "vertical");
                        right:px(56);margin-top:px(-24);
                    }
                }
            }
            &.open{
                >a{
                    background-color:$color-blue6;
                    color:$color-white;
                    &.dep2{
                        &:after{
                            border-color:$color-white;
                            transform: rotate(-45deg) translateY(-50%);
                            margin-top:0;
                            right:px(40);
                        }
                    }
                }
                ul.dep2{ display:block }
            }
        }
        ul.dep2{
            padding:px(16) 0;
            >li{
                >a{
                    padding-top:px(22);
                    padding-bottom:px(22);
                    font-size:px(36);
                    color:$color-gray6;
                    &.dep3{
                        &:after{
                            @include lineArr(px(24), px(24), $color-blue5, 135, "vertical");
                            right:px(56);margin-top:px(-24);
                        }
                    }
                }
                &.open{
                    >a{
                        font-weight:500;
                        color:$color-blue2;
                        &.dep3{
                            &:after{
                                border-color:$color-blue2;
                                transform: rotate(-45deg) translateY(-50%);
                                margin-top:px(4);
                                right:px(40);
                            }
                        }
                    }
                    ul.dep3{ display:block }
                }                
            }
        }
        ul.dep3{
            background-color:$color-gray11;
            padding:px(20) 0;
            >li{
                >a{
                    padding-left:0;
                    padding:px(14) 0 px(14) px(68);
                    font-size:px(36);
                    &:before{
                        content:'-';
                        @include pos($aot, $t:px(10), $l:px(40));
                    }
                    &.active{ color:$color-blue2 }
                }
            }
        }
    }
    .baner_belt{
        img{width:100%;vertical-align:top}
    }
    .cs_area{
        text-align:center;
        border:1px solid $color-gray9;
        hgroup{
            position:$rav;
            display:inline-block;
            text-align:left;
            padding:px(36) 0 px(36) px(100);
            line-height:1.3;
            h3{ color: $color-gray6 }
            strong{
                font-size:px(48);
                color:$color-blue-dark4;
            }
            &:before{
                content:'';
                @include bgStyle("icon","common/bg_figure.png", 0, px(-354));
                width:px(72);height:px(83);
                @include pos($aot, "vertical", $l:0);
            }
        }
        .list{
            &_thum{
                @include clear();
                li{
                    float:left;
                    width:33.3%;
                    border-top:1px solid $color-gray9;
                    border-right:1px solid $color-gray9;
                    &:nth-child(3n){
                        width:33.4%;
                        border-right:0;
                    }
                    a{
                        display:block;
                        padding-top:px(36);
                        height:px(176);
                        i{
                            display:block;
                            height:px(74);
                            &:before{
                                content:'';
                                @include bgStyle("icon","common/bg_figure.png");
                            }
                            &[data-name="공지"]{
                                &:before{
                                    background-position:px(-288) px(-293);
                                    width:px(42);height:px(42);
                                }
                            }
                            &[data-name="안내"]{
                                &:before{
                                    background-position:px(-91) px(-354);
                                    width:px(36);height:px(44);
                                }
                            }
                            &[data-name="소개"]{
                                &:before{
                                    background-position:px(-146) px(-354);
                                    width:px(46);height:px(45);
                                }
                            }
                            &[data-name="faq"]{
                                &:before{
                                    background-position:px(-211) px(-354);
                                    width:px(37);height:px(43);
                                }
                            }
                            &[data-name="맴버"]{
                                &:before{
                                    background-position:px(-268) px(-354);
                                    width:px(70);height:px(44);
                                }
                            }
                            &[data-name="매입"]{
                                padding-top:px(5);
                                &:before{
                                    background-position:px(-91) px(-417);
                                    width:px(44);height:px(44);
                                }
                            }
                        }
                    }
                }                
            }
            &_line{
                text-align:left;
                li{
                    border-top:1px solid $color-gray9;
                    a{
                        display:block;
                        position:$rav;
                        font-weight:500;
                        font-size:px(32);
                        color:$color-blue-dark;
                        padding:px(27) 0 px(27) px(58);
                        &:after{
                            content:'';
                            @include lineArr(px(24), px(24), $color-blue5, 45, "vertical");
                            right:px(50);
                        }
                    }
                }
            }
        }
    }
    &.show{
        right:0 !important;    
        &.left{    
            right:auto !important;
            left:0 !important;    
        }    
    }
}

// footer
#footer{
    position:$rav;
    margin-top:px(20);
    font-size:px(24);
    line-height:1.6;
    &.navOn{
        padding-top:px(180);
    }
    .inner{
        @include inner($t:px(40), $b:px(40));
        background-color:$color0;
    }
    .menu{
        background-color:$color-blue-dark2;
        @include clear();
        text-align:center;
        > li{
            position:$rav;
            display:$ibk;
            vertical-align:top;
            a{
                display:block;
                padding:0 px(40);
                line-height:px(80);
                font-size:px(30);
                color:$color-white;
                @include mq("small"){
                    padding:0 px(28);
                }
            }
            &:before{
                content:'';
                display:block;width:1px;height:px(17);
                @include pos($aot, $align:"vertical");
                background-color:$color-blue-gray2;
            }
            &:first-child{
                &:before{ display:none }
            }
        }
    }
    .lg{ color:$color-gray5 }
    .tit{
        display:block;
        color:$color-blue-dark2;
        img{
            width:auto;height:px(26);
            margin:- px(4) 0 0 px(20);
            vertical-align:middle;
        }
    }
    .cp{
        margin-top:px(10);
        color:$color-gray;
        letter-spacing:0;
    }
    .csControl{
        width:100%;height:px(100);
        i{
            @include lineArr($w:px(24), $h:px(24), $c:$color-blue-dark, $ro:135);
        }
        &.open{
            i{ transform: rotate(-45deg) }
        }
    }
    .csarea{
        display:none;
        padding-bottom:px(30);
    }
    address{
       &, + .tit{ margin-top: px(50)}
    }
    .pcVer{
        display:block;
        border-top:1px solid $color-gray9;
        font-weight:500;
        text-align:center;
        line-height:px(62);
        font-size:px(24);
        color:$color-blue-dark;
    }
}

// content
#ct{
    background-color:$color-gray16;
    &.bgw{ background-color:$color-white }
}

// main
.main_{
    &ct{
        padding:0;
        .swiper-slide{
            a{display:block}
            img{vertical-align:top}
        }
        .pgset{
            @include pos($aot, $r:px(30), $b:px(40));
            z-index:1;
            .swiper-pagination{
                position:static;width:px(104);height:px(40);line-height:px(40);
                background-color:rgba(0,0,0,.7);border-radius:px(24);
                display:$ibk;vertical-align:middle;
                color:$color-white;font-size:px(24);
            }
            .full{
                display:$ibk;vertical-align:middle;
                padding:px(10);margin-top:px(-4);
                i{
                    @include bgStyle("icon", "common/bg_com.png", px(-256), px(-170));
                    width:px(40);height:px(40);
                }
            }
        }
        .product_{
            &local_menu{
                margin-bottom:px(20);
            }
            &dsc{
                display:none
            }
        }
    }
}

// 로그인
.login{
    &_ct{
        background-color:#fff !important;
        .logo{
            text-align:$ct;
            img{width:px(272);height:auto}
        }
        .form_type{
            .memChk{
                position:$rav;
                margin-top:px(40);
                .checkbox{
                    label{
                        @include bgStyle("rpt-no","common/checkbox_check3.png", 0, 50%);
                        background-size:px(30);
                        padding-left:px(40);
                        line-height:px(28);
                        height:px(34)
                    }
                    input:checked + label{
                        background-image:url("../image/common/checkbox_check3_on.png")
                    }
                }
                ul{
                    @include clear();
                    @include pos($aot, $t:0, $r:0);
                    li{
                        position:$rav;
                        float:left;
                        padding-left:px(22);
                        margin-left:px(22);
                        a{
                            font-size:px(28);
                            color:$color-gray3;
                        }
                        &:before{
                            content:'';
                            display:block;width:1px;height:px(23);
                            background-color:$color-gray9;
                            @include pos($aot, $t:px(8), $l:0);
                        }
                        &:first-child{
                            padding-left:0;margin-left:0;
                            &:before{display:none}
                        }
                    }
                }
            }
        }
    }
    &_sleep_ct{
        .table_type,
        .btn_btm_type2{ margin-top:px(55) }
    }
    &_srch_ct{
        .btn_btm_type2{ margin-top:px(55) }
    }
}

// 회원가입
.join{
    &_ct, &2_ct{
        .btn_btm_type2,
        .btn_btm_half{margin-top:px(60)}
    }
}

// 상품
.product{
    &_dsc{
        @include inner($t:px(54), $b:px(26));
        border-bottom:1px solid $color-gray13;
    }
    &_title{
        position:$rav;
        margin-bottom:px(50);
        .date{
            position:$rav;
            margin-left:px(18);
            padding-left:px(22);
            font-weight:400;
            color:$color-gray2;
            font-size:px(28);
            &:before{
                content:'';
                width:1px;height:px(27);
                background-color:$color-gray13;
                @include pos($aot,"vertical",$l:0);
            }
        }
        .link_tbl{
            @include pos($aot, $b:0, $r:0);
            button{ margin-left:px(30) }
        }        
    }
    &_imgview{
        position:$rav;
        border:1px solid $color-gray13;
        > img{width:100%;}
        .btn_small_page{ @include pos($aot, "horizon", $b:px(38)) }
        .btn_wide{
            @include pos($aot, $b:0, $r:0);
            z-index:5;
        }
        &.end{
            &:before{
                content:attr(data-state);
                @include pos($aot,$l:px(-2),$t:px(-2));
                z-index:2;
                line-height:px(64);
                padding:0 px(20);
                background-color:$color-red2;
                color:$color-white;
            }
            &:after{
                content:'';
                @include pos($aot,$t:0,$r:0,$b:0,$l:0);
                z-index:1;
                background-color:rgba(0,0,0,.3);
            }
            .state{ display:none }
        }
        .swiper-button-next,
        .swiper-button-prev{
            background:none;
            width:px(100);height:px(100);
            &:before{content:''}
        }
        .swiper-button-next{
            &:before{
                @include lineArr(px(40), px(40), $color-black, 45, "vertical");
                margin:px(-4) 0 0 0;
            }
        }
        .swiper-button-prev{
            &:before{
                @include lineArr(px(40), px(40), $color-black, -135, "vertical");
                margin:px(-30) 0 0 px(50);
            }
        }
    }
    &_goods_list{
        >li{
            @include inner();
            margin-top:px(20);
            &:first-child{
                margin-top:0
            }
        }
        dt{
            .state{
                @include pos($aot,$t:0,$l:0);
            }
            .price_link{
                @include pos($aot,$b:px(38),$r:px(38));
                button, a{
                    margin-left:px(20);
                }
            }
        }
        dd{
            padding-top:px(36);
            > a{
                display:block;
            }
            .sbj{
                display:block;
                margin-top:px(26);
                line-height:1.3;
                font-size:px(36);
                color:$color-gray6;
            }
            .stxt{
                display:block;
                margin-top:px(22);
                color:$color-gray2;
            }
            .name{color:$color-blue3}
            .timer{
                display:block;
                margin-top:px(30);
                text-align:right;
                color:$color-red;
            }
            .price{
                &_set{
                    display:block;
                    position:$rav;
                    margin-top:px(20);
                    text-align:right;
                    .del, del{
                        margin-right:px(24);
                        color:$color-gray8;
                        del{ margin-right:0 }
                    }
                    .sell{
                        color:$color-red;
                        strong{ font-size:px(48) }
                    }
                    .btn_like{
                        @include pos($aot, $b:0, $l:0);
                    }
                    .btn_updw{
                        vertical-align:middle;
                        margin:px(-8) 0 0 px(25);
                    }
                }
                &_detail{
                    display:none;
                    @include inner($t:px(40), $b:px(40));
                    margin-top:px(40);
                    background-color:$color-gray11;
                    >li{
                        display:flex;
                        justify-content: space-between;
                        margin-top:px(40);
                        &:first-child{
                            margin-top:0;
                        }
                        .td{
                            text-align:right;
                            color:$color-gray6;
                            .sale{
                                margin-right:px(28);
                                color:$color-red;
                            }
                        }
                    }
                }
            }
            .sns_link_set{
                position:$rav;
                display:block;
                .btn{
                    &_sns{
                        padding:px(20);
                        @include pos($aot, "vertical", $r:0);
                        i{
                            width:px(38);height:px(38);
                            @include bgStyle("icon", "common/bg_com.png", px(-213), px(-66) );
                        }
                    }
                    &_x{
                        padding:px(20);
                        @include pos($aot, "vertical", $r:0);
                        i{
                            width:px(25);height:px(24);
                            @include bgStyle("icon", "common/bg_com.png", px(-207), px(-118) );
                        }
                    }
                }
                .view{
                    overflow:hidden;
                    @include pos($aot, $t:px(-20), $r:0);
                    align-items:center;
                    width:0;height:px(85);line-height:px(85);
                    text-indent:px(20);
                    background-color:$color-gray11;
                    color:$color-blue5;
                    transition-duration: .35s;
                    &.open{
                        width:100%;
                    }
                    a{
                        &:first-child{ margin-left:px(30) }
                        padding:px(10);
                        i{
                            width:px(50);height:px(50);
                            @include bgStyle("icon", "common/bg_com.png");
                        }
                        &.kao{
                            i{background-position:px(-45) px(-170)}
                        }
                        &.fb{
                            i{background-position:px(-115) px(-170)}
                        }
                        &.lcy{
                            i{background-position:px(-185) px(-170)}
                        }
                    }
                }
            }
            .btn_btm_half{ margin-top:px(50) }
        }
    }
    &_goods_list2{
        >li{
            @include inner();
            border-top:1px solid $color-gray13;
            &:first-child{ border-top:0 }
            >a{ display:block }
        }
        .order_set{
            display:block;
            @include clear();
            .cat{
                float:left;
                margin-top:px(-20);
            }
            .num{
                float:right;
                color:$color-blue7;
            }
        }
        dl{
            @include clear();
            margin-top:px(30);
            dt{
                position:$rav;
                float:left;
                width:px(180);height:px(180);
                border:1px solid $color-gray13;
                img{width:100%;height:100%;vertical-align:top}
                &.end{
                    &:before{
                        content:attr(data-state);
                        @include pos($aot,$l:px(-2),$t:px(-2));
                        z-index:2;
                        line-height:px(64);
                        padding:0 px(20);
                        background-color:$color-red;
                        color:$color-white;
                    }
                    &:after{
                        content:'';
                        @include pos($aot,$t:0,$r:0,$b:0,$l:0);
                        z-index:1;
                        background-color:rgba(0,0,0,.3);
                    }
                }
            }
            dd{
                overflow:hidden;
                padding-left:px(40);
                .sbj{
                    @include elip("line2");
                    font-size:px(36);
                    color:$color-gray6;
                }
                .cmt{
                    @include elip("line2");
                    margin-top:px(16);
                    color:$color-gray2;
                }
            }
        }
        .timer{
            display:block;
            margin-top:px(30);
            color:$color-red;
        }
        ul.timer{
            display:flex;
            justify-content: space-between;
        }
        .price_set{
            display:block;
            position:$rav;
            margin-top:px(20);
            text-align:right;
            .del, del{
                margin-right:px(24);
                color:$color-gray8;
                del{ margin-right:0 }
            }
            .sell{
                color:$color-red;
                strong{ font-size:px(48) }
            }
            .btn_like{
                @include pos($aot, $b:0, $l:0);
            }
        }
    }
    &_tab_top{
        @include inner($b:0);
        .tab_type4{
            li{
                display:none;
                &:first-child,
                &:nth-child(2),
                &:nth-child(3){display:block}
            }
        }
        &.open{
            .tab_type4 li{display:block}
        }
    }
    &_detail{
        .wrap-fix{ height:px(90) }
        section{
            @include inner();
            h3{
                margin:px(54) 0 px(24);
                &:first-child{ margin-top:0 }
            }
            &.detail{
                .product_imgview{
                    & ~ p{margin-top:px(20)}
                    & + p{margin-top:px(40)}
                }
                .editTxt{
                    margin-top:px(20)
                }                
            }
            &.qna{
                padding-bottom:0;
                .btn_que{
                    @include pos($aot, $r:px(40), $t:px(30));
                }
            }
            &.relation{
                padding-bottom:0;
                .product_goods_list{
                    li{padding:0}
                }
            }
        }
    }
    &_aucsbm{
        padding:px(40) 0;
        @include bgStyle("rpt-no", "product/auction_submain_bg.png");       
        text-align:center;
        .swiper-container{
            padding-left:px(20);
            padding-right:px(40);
        }
        .swiper-slide{
            width:px(500);
            margin-left:px(20);
        }
        a{
            display:block;
            justify-content: center;
            height:px(500);
            background-color:#151647;
            color:#fff;
            padding-top:px(56);
            h2{
                font-size:px(48);
                margin-top:px(10);
            }
            h2+p{     
                margin-top:px(12);
                font-weight:500;
                font-size:px(28);
                color:$color-yellow4
            }
            &.online{
                @include bgStyle("rpt-no", "product/aucsbm_swir_img.png", 50%, px(206));
                background-size:px(326) auto;
            }
            &.offline{
                @include bgStyle("rpt-no", "product/aucsbm_swir_img2.png", 50%, px(206));
                background-size:px(237) auto;
            }
            &.post{
                .count{
                    display:block;
                    margin-top:px(6);
                    font-size:px(52);
                    color:$color-yellow5;
                }
                .btn_s{margin-top:px(40)}
                .date{
                    display:block;
                    margin-top:px(30);
                }
            }
            &.soon{
                @include bgStyle("rpt-no", "product/aucsbm_soon.png", 50%, 50%);
                background-size:px(268) auto;
                background-color:rgba(0,0,0,.7);
            }
        }
    }
    &_local_menu{
        text-align:center;
        background-color:$color-white;
        .swiper-slide{
            width:px(160);
            a{
                display:block;
                padding:px(30) 0;
                color:$color-gray18;
                figure{
                    width:px(90);height:px(90);margin:0 auto;
                    display:flex;align-items:center;justify-content:center;
                    border-radius:50%;margin-bottom:px(20);
                    background-color:$color-gray14;
                    &:before{
                        content:'';display:inline-block;
                        @include bgStyle("icon", "common/bg_figure.png");
                    }
                    &[data-name="화동쇼핑"]:before{
                        width:px(43);height:px(34);
                        background-position:px(-154) px(-417);
                    }
                    &[data-name="화동옥션"]:before{
                        width:px(36);height:px(41);
                        background-position:px(-216) px(-417);
                    }
                    &[data-name="화동매거진"]:before{
                        width:px(38);height:px(40);
                        background-position:px(-271) px(-417);
                    }
                    &[data-name="등급대행"]:before{
                        width:px(33);height:px(42);
                        background-position:px(-327) px(-417);
                    }
                    &[data-name="테마갤러리"]:before{
                        width:px(41);height:px(34);
                        background-position:0 px(-478);
                    }
                    &[data-name="수집가이드"]:before{
                        width:px(36);height:px(38);
                        background-position:px(-61) px(-478);
                    }
                    &[data-name="화동추천"]:before{
                        width:px(35);height:px(34);
                        background-position:px(-116) px(-478);
                    }
                    &[data-name="화폐자료실"]:before{
                        width:px(40);height:px(38);
                        background-position:px(-171) px(-478);
                    }
                }
            }
        }
        &.sim{
            .swiper-container{
                border-top:1px solid $color-gray13;
                &:after{
                    content:'';height:1px;
                    @include pos($aot, $b:0, $r:0, $l:0);
                    background-color:$color-gray13;
                }
            }
            .swiper-slide{
                width:auto;
                border-bottom:1px solid $color-gray13;
                a{
                    padding:0 px(30);
                    line-height:px(86);
                }
                button{
                    padding:0 px(30);
                    height:px(86);
                }
                &-active{
                    button, a{font-weight:500}
                    &:after{
                        content:'';height:px(4);
                        @include pos($aot, $b:px(-2), $r:0, $l:0);
                        background-color:$color-gray6;
                    }
                }
            }
        }
    }
    &_tab_page{
        border-top:1px solid $color-gray13;
        &:after{
            content:'';height:1px;
            @include pos($aot, $b:0, $r:0, $l:0);
            background-color:$color-gray13;
        }
        background-color:$color-white;text-align:left !important;
        .swiper-pagination-bullet{
            position:$rav;width:auto;height:px(88);line-height:px(86);
            padding:0 px(30);
            border-radius:0;background:none;opacity:1;
            &-active{
                font-weight:500;
                &:after{
                    content:'';height:px(4);z-index:1;
                    @include pos($aot, $b:0, $r:0, $l:0);
                    background-color:$color-gray6;
                }
            }
        }
    }
    &_page_wrap{
        .scroll{
            width:100%;overflow-x:scroll;overflow-y:hidden;
        }
        .product_tab_page{
            position:static;
            // width:px(2000);
        }
    }
}
.catalog{
    &_top{
        @include inner();
        .img{ 
            margin-top:px(30);
            text-align:center;
        }
    }
    &_title{
        .date{
            position:$rav;
            margin-left:px(18);
            padding-left:px(22);
            font-weight:400;
            color:$color-gray2;
            font-size:px(28);
            &:before{
                content:'';
                width:1px;height:px(27);
                background-color:$color-gray13;
                @include pos($aot,"vertical",$l:0);
            }
        }
    }
    &_list{
        @include inner();
        img{width:100%}
        .select{
            margin-top:px(24);
        }
        .list{
            @include clear();
            text-align:center;
            li{
                float:left;
                width:47%;
                margin-top:px(56);
                margin-right:6%;
                &:nth-child(2n){margin-right:0}
                img{ height:px(400);max-width:px(315) }
                .sbj{
                    display:block;
                    margin-top:px(10);
                    font-size:px(36);
                    color:$color-gray6;
                }
                .date{ color:$color-gray2 }
                @include mq("small"){
                    width:auto;
                    float:none;
                    img{ height:auto }
                }
            }
        }
    }
}

// popup
.ly_alert{
    .content{
        .cover{padding:px(94) 0;}
        text-align:center;
        line-height:1.3;
        font-weight:500;
        font-size:px(40);
        color:$color-blue-dark
    }
}
.ly_search{
    .content{
        @include inner();
        fieldset{
            padding-top:px(55);
            h3{
                margin-bottom:px(25);
            }
        }
        .form_search{
            margin-top:px(30);
            &:first-child{
                margin-top:0
            }
        }
    }
}
.ly_certifiy{
    .content{
        text-align:center;
        h3{ margin-top:px(50) }
        .btlst{
            a, button{
                margin-top:px(20);
                &:first-child{margin-top:0}
            }
        }
        .btn_btm_type2{margin-top:px(60)}
    }
}
.ly_product{
    .content{
        @include inner($t:0, $b:px(40));
        width:auto !important;
        left:px(40) !important;right:px(40) !important;
        text-align:center;
        border-radius:.5rem;
        background-color:rgba(0,0,0,.8);
        p{
            padding-top:px(40);
            font-size:px(32);
            color:#fff
        }
    }
    &.show{ bottom:px(40) !important }
}
.ly_price{
    .content{
        @include inner($t:0);
        .btn_hide{
            width:100%;height:px(80);
            i{
                @include lineArr(px(24), px(24), $color-blue5, 135);
                margin-top:px(-24);
            }
        }
        .count_set{
            @include inner($t:px(40), $b:px(40));
            background-color:$color-gray14;
            .sbj{
                @include elip("line1");
                margin-bottom:px(36);
            }
            .prd-amount{
                position:$rav;
                a, .prd-inpbx{ background-color:$color-white }
                .won{
                    @include pos($aot, $r:0, $b:0);
                }
            }
        }
        ul.total{
            @include inner($t:0, $b:0);
            display:flex;
            justify-content: space-between;
            align-items: center;
            background-color:$color-gray2;
            height:px(80);
            color:$color-white;
            strong{ font-size:px(40) }
        }
        .btn_btm_half{ margin-top:px(20) }
    }
    &.show{ bottom:0 !important }
}
.ly_quote{
    hgroup{
        @include clear();
        margin-top:px(56);        
        &:first-of-type{margin-top:px(50)}
        h3{
            float:left;
            font-size:px(36);
            color:$color-blue5;
        }
        h3 + p{
            float:right;
            margin-top:px(12);
        }
    }
    .table_type{ margin-top:px(24) }
    .cmtbox_type2{ margin-top:px(30) }
    .list_type2{
        margin-top:px(60);
        padding-top:px(36);
        border-top:1px solid $color-gray9;
        color:$color-gray2
    }
}
.ly_nontbl{
    .content{
        .print{
            @include inner();
            img{
                vertical-align:top;
                border:1px solid $color-gray9
            }
        }
    }
}
.ly_filter{
    ul.category{
        @include inner();
        h3{
            margin-bottom:px(22);
            font-size:px(36);
            color:$color-blue5;
        }
        >li{
            margin-top:px(56);
            &:first-child{ margin-top:0 }
        }
    }
    .btn_btm_half{
        @include inner();
        padding-top:0;
    }
}
.ly_desk{
    .content{
        .inner{ padding-top:px(100) }
        figure{
            @include bgStyle("rpt-no", "common/figure_desk.png");
            background-size:100%;
            width:px(144);height:px(165);
        }
        text-align:center;
        font-size:px(36);
        color:$color-blue5;
        .tel{
            font-size:px(48);
            font-weight:500;
        }
    }
}
.ly_imgbig{
    .imgview{
        position:$rav;
        border:1px solid $color-gray13;
       img{width:100%}
       .btn_small_page{ @include pos($aot, "horizon", $b:px(38)) }
       .btn_wide{ @include pos($aot, $b:0, $r:0) }
    }
}
.ly_bnview{
    .content{
        padding-top:px(80) !important;
        a{display:block;margin-top:1px}
        img{vertical-align:top}
    }
    .popcls{top:0 !important}
}