@font-face {
  font-family: 'Nanum Gothic';
   font-style: normal;
  font-weight: 400;
  src: url(../images/font/NanumGothic-Regular.eot);
  src: url(../images/font/NanumGothic-Regular.eot?#iefix) format('embedded-opentype'),
       url(../images/font/NanumGothic-Regular.woff) format('woff'),
       url(../images/font/NanumGothic-Regular.ttf) format('truetype');
}

@font-face {
  font-family: 'Nanum Gothic Bold';
  font-style: normal;
  font-weight: 800;
  src: url(../images/font/NanumGothic-ExtraBold.eot);
  src: url(../images/font/NanumGothic-ExtraBold.eot?#iefix) format('embedded-opentype'),
       url(../images/font/NanumGothic-ExtraBold.woff) format('woff'),
       url(../images/font/NanumGothic-ExtraBold.ttf) format('truetype');
}

.trinfo_wrap *{font-family:"Nanum Gothic";}
.pos-r{position:relative;}
.f-left{float:left;}
.f-right{float:right;}
.fc_point_r{color:#109aa3 !important;}

.ds_n{display:none !important;}
.p_r{position:relative;}
.cl_b{clear:both;}
.bs_n{display:none;}
.wd_100{width:100%l}
.pd_t18{padding-top:18px;}
.mg_l40{margin-left:40px;}
.mg_ln{margin-left:0 !important;}
.pd_tb80{padding:80px 0;}
.pd_b80{padding-bottom:80px;}
.fs_24{font-size:24px;}
.fs_40{font-size:40px;}
.fc_white{color:#fff !important;}
.fc_red{color:#ff0401 !important;}
.fw_n{font-weight:normal ;}

/*********** 150122 선생님 상세 페이지 추가 ****************/
.trinfo_wrap{position:relative;width:100%;padding:0 0 61px;}
.trinfo_inner{width:1050px;margin:0 auto;}
.trinfo_inner:after{content:"";display:block;clear:both;}
.trinfo_inner.visual{padding:35px 0 40px;height:725px;background-position:50% bottom;background-repeat:no-repeat;}
.bg_area1{background:#f4f4f4;margin-top:-5px;}/* url('../images/common/bg_visual.png') repeat-x 100% top */
.bg_area2{background:#3d3d3d;}
.bg_area3{background:#109aa3 url('../images/bg_con1.jpg') no-repeat 50% top;height:659px}
.bg_area4{background:#1a1a1a url('../images/bg_con2.jpg') no-repeat 50% top;height:659px}
.bg_area5{background:#efefef url('/images/teachers_info/toeic/bg_con3.jpg') repeat-x 100% top;}
.bg_area6{background:#242436;}
.bg_area7{background:#fff url('../images/common/bg_con4.jpg') repeat-x 100% top;}
.trinfo_lec{background:#242436 url("../images/bg_trinfo_lec.jpg") no-repeat center 0;height:659px}

.l_txt{float:left;color:#000;}
.l_txt h5{margin:68px 0 0;letter-spacing:-2px;font-weight:normal;}
.l_txt .txt_type1{display:block;margin:20px 0 17px;font-size:58px;line-height:64px;color:#109aa3;letter-spacing:-2px;}
.txt_btm{margin:58px 0 0;padding:0 0 0 11px;border-left:1px solid #3d3d3d;}
.txt_btm p{margin:22px 0 0;font-size:12px;line-height:19px;color:#808080;}
.txt_btm p:first-child{margin-top:0;font-size:13px;color:#2b2b2b;}
.txt_btm .txt_type2{font-size:10px;line-height:13px;color:#c7c7c7;letter-spacing:-1px;}
.r_con{overflow:hidden;float:right;width:235px;}
.jum_box{height:62px;padding:13px 0 0 32px;border:6px solid #109aa3;}
.jum_box dl{float:left;}
.jum_box dl dt{font-size:13px;}
.jum_box dl dd{font-size:26px;letter-spacing:-2px;}
.jum_box dl dd strong{font:39px 'Arial';line-height:38px;font-weight:800;vertical-align:-5px;color:#000;}
.jum_box img{float:right;}
.tab_trinfo{clear:both;}
.tab_trinfo > ul{overflow:hidden;margin:20px 0 0;}
.tab_trinfo > ul > li{float:left;width:50%;*width:117px;}
.tab_trinfo.tab1 > ul > li{width:100%;}
.tab_trinfo > ul > li > a{border-top:2px solid #dfdfdf;text-align:center;font-size:14px;font-weight:600;letter-spacing:-2px;color:#ababab;height:52px;line-height:52px;display:block;background:#dfdfdf;}
.tab_trinfo > ul > li > a:hover,.tab_trinfo > ul > li.on > a{color:#109aa3;border-top:2px solid #109aa3;background:#fff;}
.tab_trinfo.tab1 > ul > li a{width:100%;border-bottom:1px solid #fff;}
.tab_trinfo.tab1 > ul > li > a:hover,.tab_trinfo.tab1 > ul > li.on > a{border-bottom:1px solid #dfdfdf;}
.tab_trinfo > div{padding:26px 5px 20px 20px;background:#fff;}
.tab_trinfo > div dl{margin:20px 0 0;}
.tab_trinfo > div dl:first-child{margin:0;}
.tab_trinfo > div dl dt{float:right;width:125px;padding:4px 0 0;font-size:12px;line-height:21px;color:#888;}
.tab_trinfo > div dl dt span, .tab_trinfo > div dl dt strong{display:block;font-size:14px;}
.tab_trinfo > div dl dt span{font-weight:600;}
.tab_trinfo > div dl dt strong{color:#109aa3;}
.tab_trinfo > div dl dd img{width:70px;height:70px;}

.best_epil_area{position:relative;height:205px;margin:20px 0 0;padding:30px 18px 0;font-weight:600;color:#fff;background:#109aa3;}
.best_epil_area dl dt{font-size:16px;line-height:16px;}
.best_epil_area dl dd{margin:18px 0 0;padding:12px 0 0;font-size:12px;border-top:1px solid #b71412;}
.best_epil_area dl dd a span{color:#fff;}
.best_epil_area dl dd p,
.best_epil_area dl dd span.txt{display:block;max-height:102px;width:197px;font-weight:normal;line-height:16px;letter-spacing:-1px;/*overflow:hidden;white-space:nowrap;text-overflow:ellipsis;
-o-text-overflow:ellipsis;overflow:hidden; -moz-binding: url('ellipsis.xml#ellipsis');*/}
.best_epil li{height:141px;color:#fff;}
.best_epil li .score{display:inline-block;*display:inline;zoom:1;margin:0 0 9px;font:39px 'Arial';line-height:39px;font-weight:800;letter-spacing:-2px;}
.best_epil li .score.arrow{margin-right:10px;padding-right:27px;background: url('../images/common/icn_arrow.png') no-repeat right 50%;}
.best_epil li .user{position:absolute;bottom:0;font-weight:normal;color:#000;}
.best_epil .slidesjs-container{height:165px !important;}
.best_epil .slidesjs-control{height:185px;}
.best_epil .slidesjs-pagination {position:absolute;top:34px;right:20px;height:8px;z-index:99;font-size:0;text-indent:-9999px;}
.best_epil .slidesjs-pagination:after {content:""; display:block; clear:both; height:0;}
.best_epil .slidesjs-pagination li {float:left;height:8px;margin:0 0 0 4px;}
.best_epil .slidesjs-pagination li a {overflow:hidden;display:block;width:8px;height:8px;background:url('../images/common/btn_roll.png') no-repeat 0 0;}
.best_epil .slidesjs-pagination li a.active,  .best_epil  .slidesjs-pagination li a:hover.active {width:51px;background-position:0 -10px;}
.best_epil .slidesjs-previous, .best_epil .slidesjs-next{display:none;text-indent:-9999px;}

.vod_trinfo{padding:32px 0 66px 68px;text-align:center;}
.vod_trinfo > div{position:relative;}
.vod_trinfo > div a{overflow:hidden;display:block;width:862px;height:485px;border:1px solid #1a1a1a;font-size:22px;line-height:29px;letter-spacing:-2px;color:#109aa3;text-align:center;}
.vod_trinfo > div a:hover{border:1px solid #1a1a1a;}
.vod_trinfo > div a .txt1{position:absolute;top:1px;left:1px;display:block;padding:41px 0 36px;text-align:center;z-index:10;}
.vod_trinfo > div a:hover .txt1{display:none;}
.vod_trinfo > div a .txt1 strong{display:block;color:#fff;}
.vod_trinfo > div a .hover_thum{position:absolute;top:1px;left:1px;display:block;}
.vod_trinfo > div a .hover_thum img{width:862px;height:485px;}
.vod_trinfo > div a .hover_arrow{position:absolute;top:1px;left:1px;display:block;z-index:5;}
.vod_trinfo > div a:hover .hover_arrow{display:none;}
.vod_trinfo > div a .btn_layer{position:absolute;top:1px;left:1px;display:block;width:862px;height:485px;}
.vod_trinfo > div a:hover .btn_layer{display:none !important;}

.ready{overflow:hidden;display:block;width:225px;height:135px;border:5px solid #525252;font-size:22px;line-height:29px;letter-spacing:-2px;text-align:center;color:#109aa3;background:#343434;}
.ready strong{display:block;font-size:22px;line-height:135px;text-align:center;color:#525252;z-index:10;}

.trinfo_wrap .banner_area{padding:0 0 49px;}
.tr_name{padding:35px 0 0;text-align:center;z-index:50;}
.tr_name strong{display:inline-block;*display:inline;zoom:1;/*width:150px;*/padding:0 0 8px;border-bottom:2px solid #000;font-size:14px;line-height:14px;letter-spacing:1px;color:#0e0000;}
.tr_name strong.white{border-bottom:2px solid #fff;color:#fff;}
.tr_name span{display:block;padding:7px 0 0;font-size:8px;line-height:7px;letter-spacing:-1px;}

/* slide */
.trinfo_roll_area{position:relative;width:1050px;margin:0 auto;}
.trinfo_slide div{height:504px;margin:10px 0 0;font-size:16px;line-height:20px;letter-spacing:-1px;color:#3f0b0b;text-align:center;}
.trinfo_slide .txt_type1{margin:15px 0 15px !important;font-size:30px;line-height:44px;color:#fff;}
.trinfo_slide .txt_type1 strong{display:block;font-size:38px;}
.trinfo_slide .txt_type2{text-align:center;letter-spacing:-2px;margin-top:20px;color:#8c8ca1;}
.trinfo_slide .txt_type2 strong{font-size:42px;color:#fff;font-family:'Nanum Gothic Bold';font-weight:normal;}
.trinfo_slide .txt_last{margin:12px 0 0;color:#fff;}
.trinfo_slide .txt_last2{margin:11px 0 0;}
.trinfo_slide .slidesjs-pagination {position:absolute;bottom:0;left:50%;height:8px;margin-left:-44px;float:none;text-align:center;z-index:999;font-size:0;text-indent:-9999px;}
.trinfo_slide .slidesjs-pagination:after {content:""; display:block; clear:both; height:0;}
.trinfo_slide .slidesjs-pagination li {float:left;height:8px;margin:0 0 0 4px;}
.trinfo_slide .slidesjs-pagination li a {overflow:hidden;display:block;width:8px;height:8px;background:url('../images/common/btn_roll.png') no-repeat 0 0;}
.trinfo_slide .slidesjs-pagination li a.active,  .trinfo_slide  .slidesjs-pagination li a:hover.active {width:51px;background-position:0 -10px;} 
.trinfo_slide.slide2 .slidesjs-pagination li a.active,  .trinfo_slide.slide2  .slidesjs-pagination li a:hover.active {width:51px;background-position:0 -20px;} 
.trinfo_slide .slidesjs-previous, .trinfo_slide .slidesjs-next{display:block;position:absolute;top:194px;width:44px;height:86px;background:url('../images/common/btn_slide.png') no-repeat 0 0;z-index:999;font-size:0;text-indent:-9999px;}
.trinfo_slide .slidesjs-previous {left:0;background-position:0 0;}
.trinfo_slide .slidesjs-previous:hover {background-position:0 0}
.trinfo_slide .slidesjs-next {right:0;background-position:-44px 0;}
.trinfo_slide .slidesjs-next:hover {background-position:-44px 0}

.tr_say{margin:31px 0 0 51px;}
.tr_img{position:absolute;bottom:0;right:-140px;z-index:0;}
.trinfo_graph_area{position:relative;height:450px;z-index:10;}
.trinfo_graph_area > div{position:absolute;top:13px;left:0;width:888px;height:284px;z-index:99;}
.trinfo_graph{width:100%;}
.trinfo_graph td p.on{background:#fff;}
.trinfo_graph thead th{border-bottom:2px solid #109aa3;font-size:18px;line-height:18px;font-weight:bold;text-align:left;color:#333;background: url('../images/common/bg_th_graph.png') repeat-x 100% bottom;}
.trinfo_graph thead th.br_bn{border-bottom:0;}
.trinfo_graph thead th:first-child{background:none;}
.trinfo_graph thead th p{color:#333;font-size:16px;padding:13px 0 8px 10px;background: url('../images/common/bg_graph_th2.png') no-repeat left bottom;}
.trinfo_graph thead th:first-child p{border-left:0;}
.trinfo_graph tbody td{color:#333;border-left:1px dashed #000101;border-top:1px dashed #109aa3;background: url('../images/common/bg_graph.png') repeat-x 100% 0;}
.trinfo_graph tbody th{padding:0 13px 0 0;font-size:15px;text-align:right;color:#333;background: url('../images/common/bg_graph_th.png') no-repeat right bottom;}
.trinfo_graph tbody th.bg_n{background:none;}
.trinfo_graph.row4 tbody td{height:48px;}

.trinfo_graph .bar{position:relative;width:100%;text-align:center;color:#fff;background:url('../images/common/bg_graph_right2.png') no-repeat right top;}
.trinfo_graph .bar p{height:100%;padding:7px 0;letter-spacing:-1px;font-size:11px;line-height:17px;background:url('../images/common/bg_graph_left2.png') no-repeat left top;}
.trinfo_graph .bar p a{position:absolute;right:15px;top:8px;display:block;width:32px;height:32px;}

.tr_list_area{float:left;width:480px;}
.tr_list_area p{margin:0 0 10px;font-size:13px;color:#000;}
.tr_list_area p a{float:right;padding:5px 12px 3px 14px;font-size:11px;line-height:10px;letter-spacing:-1px;color:#fff;background:#bbb;}
.tr_list_area p a span{padding-right:11px;background:url('../images/common/icn_more.png') no-repeat right 50%;}
.tr_list_area table{width:100%;border-top:2px solid #2e2e2e;}
.tr_list_area table td{padding:10px 0 9px;border-bottom:1px solid #e3e3e3;font-size:11px;line-height:12px;color:#999;}
.tr_list_area table td a{display:inline-block;*display:inline;zoom:1;font-size:12px;color:#000;}
.trinfo_lec_list{padding:36px 0 30px;font-size:32px;line-height:44px;text-align:center;color:#000;}
.trinfo_lec_list strong{display:block;font-size:40px;color:#109aa3;}

/* 강의 리스트 tab */
.js-tab-type1-con{display:none;}
.js-tab-type1-con.on{display:block;}
.tab_trinfo2 > ul{overflow:hidden;margin:15px 0 0;}
.tab_trinfo2 > ul > li{float:left;width:50%;}
.tab_trinfo2 > ul > li > a{text-align:center;font-size:20px;letter-spacing:-2px;color:#a4a4a4;height:48px;line-height:48px;display:block;background:url('../images/common/bg_tab_leclist.jpg') no-repeat 0 0;}
.tab_trinfo2 > ul > li > a:hover,.tab_trinfo2 > ul > li.on > a{color:#fff;background-position:0 -48px;}
.tab_trinfo2.tab1 > ul > li{width:100%;}
.tab_trinfo2.tab1 > ul > li a{background:#109aa3 url('../images/common/bg_tab_leclist.jpg') no-repeat right -48px !important;}
.tab_con_trinfo{height:490px;border-bottom:1px solid #e0e0e0;}
.tab_con_trinfo iframe{border:0;}

/* 네비 메뉴 */
.navi_area{position:relative;width:100%;background:#fff;}
.top_navi{padding:0 0 0 0;}
.top_navi p{float:left;margin-top:3px;margin-bottom:1px;}
.top_navi p img{width:40px;height:40px;}
.top_navi strong{display:inline-block;*display:inline;*zoom:1;margin:0 0 0 10px;font-size:12px;line-height:40px;color:#fff;}
.top_navi ul{float:right;margin:15px 0 0;}
.top_navi ul li{float:left;}
.top_navi ul li a{display:block;padding:0 21px;font-size:14px;color:#fff;background:url('../images/common/icn_dot.gif') no-repeat 0 50%;}
.top_navi ul li a:hover, .top_navi ul li a.active{color:#109aa3;}
.top_navi ul li:first-child a{background:none;}
.top_navi ul li.on{display:block;border:0;background:none;}

.btn_navi{float:left;display:block;width:19px;height:18px;margin:11px 20px 0 0;font-size:0;text-indent:-9999px;background:url('../images/btn_navi.png') no-repeat 0 0;}
.btn_navi:hover, .btn_navi.on{background-position:0 -18px;}
.navi_menu_area{z-index:1000;display:none;width:100%;position:absolute;top:45px;left:0;border-bottom:2px solid #109aa3;border-top:1px solid #e3e3e3;background:#fff;}
.navi_menu_area .btn_close{display:block;position:absolute;bottom:-33px;left:50%;margin-left:-50px;padding:8px 15px 10px 30px;font-size:13px;line-height:13px;letter-spacing:-1px;color:#fff;background:#109aa3 url('../images/common/bg_close.png') no-repeat 13px 50%;}
.top_navi_submenu{float:left;padding:13px 0 14px;height:251px;background: url('../images/common/bg_navi_submenu2.gif') no-repeat 100px 0;}
.top_navi_submenu li{height:28px;}
.top_navi_submenu li dl{position:relative;}
.top_navi_submenu li dl dt a{display:block;width:83px;padding-left:18px;font-size:13px;line-height:28px;color:#000;}
.top_navi_submenu li dl dt a:hover, .top_navi_submenu li dl dt.on a{color:#fff;background:#109aa3;}
.top_navi_submenu li dl dd{display:none;position:absolute;top:3px;left:101px;}
.top_navi_submenu li dl dd.sat{top:-110px;}
.top_navi_submenu li dl dd.ielts{top:-80px;}
.top_navi_submenu li dl dd.on{display:block;}
.top_navi_submenu li dl dd ul li a{display:block;width:88px;padding:4px 0 4px 11px;font-size:13px;line-height:13px;color:#3d3d3d;}
.top_navi_submenu li dl dd ul li a:hover, .top_navi_submenu li dl dd ul li.on a{color:#109aa3;background:url('../images/common/bg_navi_submenu_v3.gif') no-repeat right 50%;}
.navi_trlist{float:right;overflow-y:scroll;width:791px;height:240px;padding:19px 0 19px 8px;}/* border:1px solid #e3e3e3; */
.navi_trlist li{float:left;width:19%;margin:0 0 10px 0;}
.navi_trlist li a{display:block;line-height:40px;vertical-align:middle;}
.navi_trlist li a:hover{text-decoration:underline;}
.navi_trlist li a img{margin-right:11px;width:40px;height:40px;}
.navi_search{clear:both;padding:13px 0 13px 17px;border-top:1px solid #e3e3e3;}
.navi_search.tr_list{margin:20px 0 0;padding:13px 10px 13px 10px;border:1px solid #d4d4d4;background:#f4f4f4;}
.navi_search.tr_list .search select{border:1px solid #fff;background:#fff;}
.navi_search.tr_list .search select:hover{border:1px solid #000;}
.navi_search.tr_list .search input{border:0;background:#fff;}

.navi_search strong{display:block;float:left;width:83px;margin-top:10px;font-size:14px;color:#109aa3;}
/* .navi_search .search legend{display:block;float:left;margin:0 25px 0 0;font-size:14px;line-height:34px;font-weight:600;color:#109aa3;} */
.navi_search .search > div{float:left;}
.navi_search .search select{width:135px;*height:25px;margin-left:8px;padding:9px 0 10px 9px;background:#f4f4f4;}
.navi_search .search select:first-child{margin-left:0;}
.navi_search .search input{width:160px;*width:145px;margin-left:8px;padding:9px 16px;*padding:8px 16px;background:#f4f4f4;}
.navi_search .search .btn_search{margin:2px 0 0 8px;padding:8px 31px 9px 45px;font-size:14px;line-height:14px;color:#fff;background:#3d3d3d url('../images/common/bg_search.png') no-repeat 20px 50%;}
/* nav script 관련 */
.navi_area.nav{border:0;position:absolute;left:0;z-index:999;width:100%;background:url('../images/common/bg_visual4.png') repeat-x 100% top;} 
.navi_area.absoluted{top:699px;}
.navi_area.fixed {border:0;z-index:9999999;position:fixed;top:0;left:0;width:100%;background:url('../images/common/bg_visual4.png') repeat-x 100% top;}


/* 해커스 선생님 페이지
.tab_tr_list{width:100%;margin:20px 0 0;}
.tab_tr_list:after{content:"";display:block;clear:both;}
.tab_tr_list li{float:left;width:9.09%;*width:9%;}
.tab_tr_list li a{display:block;font-size:14px;line-height:54px;text-align:center;color:#666;background: url('/images/teachers_list/tab_tr_list_left_off.gif') repeat-x 0 0;}
.tab_tr_list li a span{display:block;background: url('/images/teachers_list/tab_tr_list_right_off.gif') no-repeat right 0;}
.tab_tr_list li a:hover, .tab_tr_list li.on a{background: url('/images/teachers_list/tab_tr_list_left_on.gif') no-repeat left 0;}
.tab_tr_list li a:hover span, .tab_tr_list li.on a span{background: url('/images/teachers_list/tab_tr_list_right_on.gif') no-repeat right 0;}
.tab_tr_list li:first-child{*width:10%;}
.tab_tr_list li:first-child a{border-left:1px solid #d4d4d4;}
 */

.trlist_con{clear:both;padding:28px 0 0;}
.trlist_con:after{content:"";display:block;clear:both;}
.trlist_con h5{clear:both;font-size:30px;text-align:center;color:#000;}
.trlist_con h5 span{color:#109aa3;}
.trlist_con ul{clear:both;margin:27px 0 48px;}
.trlist_con ul li{float:left;width:233px;height:218px;margin:0 0 20px 20px;}
.trlist_con ul li:first-child{margin-left:0;}
.trlist_con ul li a{position:relative;display:block;width:233px;height:218px;border:1px solid #ececec;background:#fafafb url('/images/teachers_list/bg_trlist.gif') no-repeat 19px 90px;}
.trlist_con ul li a img{position:absolute;bottom:0;right:0;}
.trlist_con ul li a strong, .trlist_con ul li a span, .trlist_con ul li a em{display:block;margin-left:19px;letter-spacing:-1px;color:#000;}
.trlist_con ul li a strong, .trlist_con ul li a em{font-size:20px;}
.trlist_con ul li a strong{margin-top:25px;line-height:24px;}
.trlist_con ul li a span{margin-top:37px;font-size:16px;}
.trlist_con ul li a em{position:absolute;bottom:20px;font-weight:600;z-index:100;}
.trlist_con ul li a:hover{border:1px solid #109aa3;background-color:#fff;}
.trlist_con ul li a:hover strong{color:#109aa3;}

/* 왼쪽 퀵배너 추가 */
.q_bnleft{width:100px;position:absolute; left:-1260px; top:0;}
.q_bnleft a{display:block;margin-bottom:10px;}

.img01{background:url("../images/bg_img01.jpg") no-repeat 0 0;background-size:100% 100%;}
.img02{padding-top:45px;}
.trinfo_top{/*margin-bottom:45px;*/height:699px;background:url("../images/bg_trinfo_top.jpg") repeat center 0;/*background-size:100% 100%;*/}
.trinfo_top .trinfo_inner{height:639px;padding-top:60px;}
.trinfo_top_l{float:left;}

.level{height:52px;border:6px solid #109aa3;margin-bottom:10px;}
.level span{position:absolute;left:9px;top:10px;line-height:1.2;color:#fff;}
.level strong{font-family:'Nanum Gothic Bold';position:absolute;left:38px;top:4px;color:#fff;font-size:37px;letter-spacing:-2px;}
.level em{font-family:'Nanum Gothic Bold';font-size:20px;color:#fff;position:absolute;right:5px;top:9px;}
.trinfo_mn{width:135px;}
.trinfo_mn ul{margin-top:20px;}
.trinfo_mn li a{color:#949ab8;font-size:13px;letter-spacing:-1px;border:1px solid #7d829d;border-top:0;padding-left:17px;height:29px;line-height:29px;display:block;}
.trinfo_mn li a:hover{color:#0bbdc9;}
.trinfo_mn li:first-child a{border-top:1px solid #7d829d;}
.trinfo_txt_s{margin-top:242px;line-height:1.7;font-size:11px;color:#82879f;}

.trinfo_top_r{float:right;width:500px;}
.trinfo_top_tit{line-height:1;}
.trinfo_top_tit span{font-size:32px;letter-spacing:-1px;color:#949ab8;}
.trinfo_top_tit h2{font-family:'Nanum Gothic Bold';margin:25px 0 30px 0;font-size:48px;letter-spacing:-3px;color:#0bbdc9}
.trinfo_top_tit strong{line-height:1;background:url("../images/bul.png") no-repeat 0 -263px;padding-left:13px;color:#fff;font-size:30px;font-weight:normal;letter-spacing:-1px;}
.trinfo_top_tit strong em{font-family:'Nanum Gothic Bold';}

.trinfo_top_tab{margin-top:25px;overflow:hidden;overflow:hidden;}
.trinfo_top_tab li{float:left;width:25%;}
.trinfo_top_tab.tab2 li{width:50%;}
.trinfo_top_tab.tab3 li{width:33%;}
.trinfo_top_tab.tab3 li:first-child{width:34%;}
.trinfo_top_tab li a{display:block;border:1px solid #7d829d;border-left:0;border-bottom:0;color:#7d829d;text-align:center;height:28px;line-height:28px;}
.trinfo_top_tab li:first-child a{border-left:1px solid #7d829d;}
.trinfo_top_tab li.on a,
.trinfo_top_tab li a:hover{background:#fff;color:#31364d;border:1px solid #fff;border-left:1px solid #7d829d;}
.trinfo_top_tab_con{height:230px;display:none;border:1px solid #7d829d;}
.trinfo_top_tab_con.on{display:block;}
.profile_box{background:url("../images/bg_profile_box.png") repeat 0 0;font-size:14px;line-height:1.8;color:#fff;padding:20px 30px;height:190px;overflow:hidden;overflow-y:auto;}
.teacher_mov_img{width:498px;height:230px;}

.trinfo_top_notice{overflow:hidden;margin-top:8px;}
.trinfo_top_notice_box{width:246px;height:150px;background:url("../images/bg_trinfo_top_notice.png") repeat 0 0;}
.notice_list{margin:14px 17px 0 17px;}
.notice_list > dt,.notice_tit{font-weight:normal;background:url("../images/bul.png") no-repeat 0 4px;padding:0 0 10px 10px;margin-bottom:17px;display:block;color:#fff;font-size:14px;border-bottom:1px solid #676b7c;}

.notice_list dd {padding-left:10px;background:url("../images/bul.png") no-repeat 0 -19px;display:block;margin-bottom:10px;}
.notice_list dd a{color:#cacddd;font-size:12px;line-height:18px;}
.notice_list dd span.ico_detail{margin-left:3px;vertical-align:top;font-size:0;display:inline-block;*display:inline;zoom:1;width:18px;height:18px;background:url("../images/bul.png") no-repeat 0 -44px;}
.notice_list dd.more{background:none;position:absolute;right:0;top:0;}
.notice_list dd.more a{display:block;font-size:0;text-indent:-9999em;width:13px;height:13px;background:url("../images/bul.png") no-repeat 0 -78px;padding:0;}

.notice_list dl{width:210px;position:absolute;left:0;top:0;}
.notice_list dl dt.s_tit{padding-left:127px;font-size:13px;margin-bottom:30px;}
.notice_list dl dt.s_tit a{color:#7d829d;}
.notice_list dl.notice02 dt.s_tit{padding-left:174px;}
.notice_list dl.notice02 dt.s_tit a{padding-left:5px;margin-left:-10px;border-left:1px solid #747993;}
.notice_list dl dd{display:none;}
.notice_list dl{z-index:10;}
.notice_list dl.on{z-index:0;}
.notice_list dl.on dd{display:block}
.notice_list dl.on dt a{color:#fff;}

.trinfo_board{padding:50px 0 35px;margin-top:45px;}
.trinfo_board .trinfo_inner{height:167px;overflow:hidden;position:relative;}
.trinfo_board dl{float:left;width:470px;z-index:1;position:relative;margin-right:25px;}
.trinfo_board dl.type2{border-left:1px dashed #e9e9e9;margin:0;padding-left:25px;}
.trinfo_board dl dt{padding-left:10px;background:url("../images/bul.png") no-repeat 0 -104px;font-weight:bold;font-size:16px;color:#292d40;display:block;padding-bottom:10px;margin-bottom:15px;border-bottom:1px solid #e9e9e9;}
.trinfo_board dl.type1 dd{padding-left:15px;float:left;}
.trinfo_board dl.type1 dd.fir{padding-left:0;}
.trinfo_board dl.type1 dd a{display:block;position:relative;width:225px;height:124px;}
.trinfo_board dl.type1 dd a span{width:28px;height:28px;display:block;position:absolute;left:13px;bottom:13px;background:url("../images/bul.png") no-repeat 0 -200px;}
.trinfo_board dl.type1 dd .teacher_mov_img{width:225px !important;height:124px !important;}
.trinfo_board dl.type1 dd a img{width:225px !important;height:124px !important;}
.trinfo_board dl.type2 dd{line-height:1;margin-bottom:12px;color:#999999;}
.trinfo_board dl dd.more_btn{background:#fff;position:absolute;right:5px;top:0;width:25px;height:25px;}
.trinfo_board dl dd.more_btn a{background:url("../images/bul.png") no-repeat 0 -146px;display:block;width:25px;height:25px;font-size:0;text-indent:-9999em;}

.trinfo_lec_movie{border:1px solid #454558;width:698px;margin:0 auto;}
.trinfo_lec_movie_con{color:#fff;height:339px;background:#000;border-bottom:1px solid #454558;}
.trinfo_lec_movie_tab {overflow:hidden;}
.trinfo_lec_movie_tab li{float:left;width:25%;}
.trinfo_lec_movie_tab.tab2 li{width:50%;}
.trinfo_lec_movie_tab.tab3 li{width:33%;}
.trinfo_lec_movie_tab.tab3 li:fisrt-child{width:34%;}
.trinfo_lec_movie_tab li a{border-left:1px solid #454558;text-align:center;padding-top:5px;height:38px;display:block;color:#717189;}
.trinfo_lec_movie_tab li.on a,.trinfo_lec_movie_tab li a:hover{color:#fff;}
.trinfo_lec_movie_tab li.fisrt a{border:0;}

.trinfo_lec .teacher_mov_img{width:698px;height:340px;}

#go_board{height:990px !important;}
.bg_area5{padding-top:50px;background:url('../images/common/bg_con3.jpg') repeat 100% top !important;}

/* 레이어 */
.layer_n {display:none; position:fixed; _position:absolute; top:0; left:0; width:100%; height:100%; z-index:99999;}
.layer_n .layer_bg {position:absolute; top:0; left:0; width:100%; height:100%; background:#000; opacity:0.7; filter:alpha(opacity=80);}
.btn_r_n{position:absolute;right:0;top:0;float:right;margin:20px 30px 0 0;width:22px;height:21px;background:url("/img/event/2014/common/btn_close.gif") no-repeat 0 0;}
.btn_r_n *{display:block;font-size:0;width:22px;height:21px;color:#fff;}
.layer_n .layer_box{ position: absolute; top: 50%; left: 50%;overflow:hidden;z-index: 10;}
/*.layer_n .layer_box{top:10%;}*/
.layer_n .login_layer_box{display:block;}
.layer_n .close_btn{position:absolute;right:0;top:0;}
.vod_box{text-align:center;width:800px;height:540px;margin-top:40px;padding-top:10px;}
.movie_area{width:775px;height:434px;margin:0 auto 20px;}