@charset "utf-8";
@import url('https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700');
@import url(swiper.min.css);
@import url(font.css);
/*
	font-family:'Roboto', sans-serif;
	font-family:'Roboto', 'Noto Sans', sans-serif;
*/

/* reset */
*, *:after, *:before{
	-webkit-box-sizing:border-box;box-sizing:border-box;
	-webkit-text-size-adjust:none;text-size-adjust:none;
	-webkit-tap-highlight-color:rgba(0,0,0,0);
	-webkit-font-smoothing:antialiased;
}
html, body{height:100%}
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video, button, input, textarea, select{margin:0;padding:0;border:0;font:inherit}
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section{display:block}
body{background-color:#fff;font:1rem/1.2 'Noto Sans',Dotum,Gulim,Sans-serif;letter-spacing:-.025rem;color:#000;-webkit-text-size-adjust:none;-webkit-font-smoothing:subpixel-antialiased;-webkit-font-smoothing:antialiased}
body.type{background-color:#eee}
ol, ul{list-style:none}
blockquote{word-break:break-all}
blockquote, q{quotes:none}
blockquote:before, blockquote:after,
q:before, q:after{content:none}
table{border-collapse:collapse;border-spacing:0;table-layout:fixed}
hr{display:none}
img, video, audio, object, embed, iframe{max-width:100%}
img{height:auto;vertical-align:top}
em, i, address{font-style:normal}
a,s{text-decoration:none}
legend {position:absolute;left:-9999px;text-indent:-1000em}
caption{visibility:hidden; font-size:1%; line-height:1%}
h1,h2,h3,h4,h5,strong,b,th{font-weight:500}
pre{word-break:break-all;white-space:pre-line}
.blind{overflow:hidden;position:absolute;width:1px;height:1px;margin:-1px;border:0;padding:0;clip:rect(0, 0, 0, 0)}
.scroll{overflow-x:hidden;overflow-y:auto;-webkit-overflow-scrolling:touch;position:relative}
:focus{outline:0}
html{font-size:117%;font-size:5vw} /* 가변 화면을 위한 */
@media all and (min-width: 586px) {
	html{font-size:20px}
}

/* default */
.fc_pur{color:#ce1c79 !important}
.fc_pur2{color:#4e25ff !important}
.fc_blu{color:#003fce !important}
.fc_org{color:#ff3c00 !important}
.error{font-size:.625rem;color:#ce1c79}
p.error{margin:.525rem 0 0 .1875rem}

/* text */
.txt_o{display:inline-block;width:1.78125rem;height:1.78125rem;line-height:1.88125rem;border-radius:50%;text-align:center;font-family:'Roboto', sans-serif;font-weight:700;font-size:.625rem;letter-spacing:0}
.txt_o2{display:inline-block;height:1.0625rem;line-height:1.1125rem;padding:0 .4375rem;border-radius:1rem;font-weight:300;font-size:.625rem;vertical-align:middle}
.txt_type{background-color:#2300b9;color:#fff}
.txt_type2{background-color:#af25ff;color:#fff}
.txt_type3{background-color:#f2f2f2;color:#000}
.txt_{background-color:#;color:#}

.elip1{display:inline-block;text-overflow:ellipsis;white-space:nowrap;word-wrap:normal;overflow:hidden;max-width:100%;line-height:1.2}
div.elip1, p.elip1{display:block}
.elip2{
	overflow:hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2; /* 라인수 */
  -webkit-box-orient: vertical;
  word-wrap:break-word;
  line-height: 1.2;
  /* height: 40px;  말줄임X 그냥 자르기 위해 */
}
.elip3{
	overflow:hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 3; /* 라인수 */
  -webkit-box-orient: vertical;
  word-wrap:break-word;
  line-height: 1.2;
  /* height:40px;  말줄임X 그냥 자르기 위해 */
}
.tstem{
	-webkit-touch-callout:none;
  -webkit-touch-select:none;
  -webkit-user-select:none;
  -user-select:none;
  -webkit-tap-highlight-color:rgba(0,0,0,0)
}

/* bg */
.bg_com{display:inline-block;background:url(../images/bg_com.png) no-repeat;background-size:10rem auto;vertical-align:middle;color:transparent;white-space:nowrap;text-indent:-1000rem}
.ico_arr_prev{width:.6875rem;height:1.0625rem;background-position:0 0}
.ico_arr_next{width:.28125rem;height:.53125rem;background-position:-1rem 0}
.ico_arr_next2{width:.34375rem;height:.6875rem;background-position:-9.625rem 0}
.ico_arr_next3{width:.19625rem;height:.3925rem;background-position:-1rem -.71875rem}
.ico_arr_next4{width:.19625rem;height:.3925rem;background-position:-2.09375rem -2.885rem}
.ico_arr_dw{width:.5rem;height:.4375rem;background-position:-3.8125rem -4.09375rem}
.ico_plus{width:.65625rem;height:.65625rem;background-position:-1.59375rem 0}
.ico_plus2{width:1rem;height:1rem;background-position:-8.75rem -1.6875rem}
.ico_x{width:1.05rem;height:1.05rem;background-position:-3.85625rem 0}
.ico_x2{width:.625rem;height:.625rem;background-position:-8.03125rem 0}
.ico_x3{width:1.6125rem;height:1.6125rem;background-position:-5.75rem -1.6875rem}
.ico_x4{width:.59375rem;height:.59375rem;background-position:0 -4.09375rem}
.ico_x5{width:.6875rem;height:.6875rem;background-position:-2.8125rem -4.09375rem}
.ico_n{width:1.15rem;height:1.1rem;background-position:-2.53rem 0}
.ico_refresh{width:.55875rem;height:.59375rem;background-position:-5.85625rem 0}
.ico_circle{width:.3rem;height:1.4125rem;background-position:-0.90625rem -4.05375rem}
.ico_{width:;height:;background-position:}

.bg_ico{display:inline-block;background:url(../images/bg_icon.png) no-repeat;background-size:20rem auto;vertical-align:middle;color:transparent;white-space:nowrap;text-indent:-1000rem}
.ico_p{width:1.3125rem;height:1.0625rem;background-position:-4.57375rem 0}
.ico_p2{width:1.3125rem;height:1.1875rem;background-position:-7.53125rem 0}
.ico_p3{width:2.53125rem;height:2.25rem;background-position:0 -7.96875rem}
.ico_light{width:1.3125rem;height:1.19375rem;background-position:-6.025rem 0}
.ico_light2{width:2.375rem;height:2.375rem;background-position:0 -10.8125rem}
.ico_wallet{width:1.3125rem;height:.975rem;background-position:-4.49375rem -1.48rem}
.ico_medal{width:1.3125rem;height:1.1625rem;background-position:-5.80125rem -1.48rem}
.ico_medal2{width:.875rem;height:.705rem;background-position:0 -3.6375rem}
.ico_spk{width:1.15625rem;height:.9875rem;background-position:-7.375rem -1.455rem}
.ico_bell{width:.94375rem;height:1.25625rem;background-position:-8.9375rem -1.5rem}
.ico_cau{width:1.19375rem;height:1.19375rem;background-position:-4.57375rem -2.94875rem}
.ico_note{width:.9375rem;height:1.06875rem;background-position:-6.09375rem -2.94875rem}
.ico_note2{width:2.09375rem;height:2.28125rem;background-position:0 -15.875rem}
.ico_note3{width:1.40625rem;height:1.40625rem;background-position:-2.4375rem -15.875rem}
.ico_person{width:.875rem;height:.755rem;background-position:-1.15625rem -3.6275rem}
.ico_wheel{width:6.45625rem;height:4.95625rem;background-position:-3.1875rem -7.96875rem}
.ico_lock{width:5.125rem;height:5.21875rem;background-position:-4.28125rem -12.4375rem}
.ico_balloon{width:1.475rem;height:1.175rem;background-position:-7.325rem -2.96875rem}
.ico_glass{width:1.1125rem;height:1.1125rem;background-position:-1.46875rem -4.0375rem}
.ico_srch{width:2.375rem;height:2.375rem;background-position:-10.4062rem 0}
.ico_memu{width:.59375rem;height:.5625rem;background-position:-9.28125rem 0;margin:-.15rem .1875rem 0 0}
.ico_404{width:4.8438rem;height:4.5313rem;background-position:-13.375rem 0}
.ico_reserve{width:1.5625rem;height:2.0625rem;background-position:-10.8438rem -2.9063rem}
.ico_{width:;height:;background-position:}


.bg_rank{display:inline-block;background:url(../images/bg_icon.png) no-repeat;background-size:20rem auto;vertical-align:middle;text-indent:-.25rem;font-family:'Roboto', sans-serif;font-weight:700;font-size:1rem;font-style:italic;color:#fff;text-align:center;text-shadow:.09375rem .09375rem 0 rgba(189,53,0,.2);width:1.89375rem;height:2.45625rem;padding-top:.35rem}
.ico_rank1{background-position:0 -4.9375rem}
.ico_rank2{background-position:-2.40625rem -4.9375rem}
.ico_rank3{background-position:-4.8125rem -4.9375rem}
.ico_rank4{background-position:-7.28125rem -4.9375rem;height:1.89375rem}

/* btn */
.btn_s{display:inline-block;height:1.0625rem;line-height:.9125rem;padding:0 .40625rem;border-style:solid;border-width:1px;font-weight:300;font-size:.625rem}
.btn_m{display:inline-block;height:1.3735rem;line-height:1.2735rem;padding:0 .59375rem;border-style:solid;border-width:1px;text-align:center;font-size:0.6875rem}
.btn_m .ico_arr_next3, .btn_m .ico_arr_next4{margin:-0.1rem 0 0 .3125rem}
.btn_m2{display:inline-block;height:1.875rem;line-height:1.775rem;border-radius:1rem;border-style:solid;border-width:1px;text-align:center;font-size:.75rem}
.btn_m3{display:inline-block;height:1.6875rem;line-height:1.5875rem;border-style:solid;border-width:1px;text-align:center;font-size:.75rem}
.btn_xr{display:inline-block;height:2.75rem;line-height:2.65rem;border-style:solid;border-width:1px;text-align:center;font-size:.875rem}
.btn_xr2{display:inline-block;height:2.8125rem;line-height:2.7125rem;border-style:solid;border-width:1px;text-align:center;font-size:.9375rem}
.btn_xr2 s{font-size:.75rem}
.btn_type{background-color:#bcbcbc;border-color:#bcbcbc;color:#fff}
.btn_type.on{background-color:#2300b9;border-color:#2300b9}
.btn_type2{background-color:#2300b9;border-color:#2300b9;color:#fff}
.btn_type3{border-radius:1rem;background-color:transparent;border-color:#333;color:#000}
.btn_type4{background-color:#f2f2f2;border-radius:.125rem;border-color:#ccc;color:#000}
.btn_type5{background-color:#2300b9;border-radius:.125rem;border-color:#2300b9;color:#fff}
.btn_type6{background-color:#fff;border-radius:.125rem;border-color:#ccc;color:#000}
.btn_type7{
	color:#fff;border:0;box-shadow:.15625rem .15625rem .3125rem rgba(0, 0, 0, .15);
	background: -webkit-linear-gradient(-45deg, #553cc1 0%, #2300b9 100%);
	background: linear-gradient(135deg, #553cc1 0%, #2300b9 100%);
}
.btn_type8{background-color:#545454;border-color:#545454;color:#fff}
.btn_type9{background-color:#fff;border-color:#fff;color:#4e25ff}
.btn_type10{background-color:transparent;border-color:#fff;color:#fff}
.btn_type11{border-radius:1rem;background-color:#000;border-color:#000;color:#fff}
.btn_{background-color:#;border-color:#;color:#}

.btn_area{display:flex;width:100%}
.btn_area a{display:block}
.btn_area button{width:100%}
.btn_area li{flex:1}
.btn_area li:first-child{flex:.5}

.btn_area_btm .ui_inner{padding-top:0 !important;padding-bottom:0 !important}
.btn_area_btm .cover{padding-top:.725rem;padding-bottom:.825rem;border-top:1px solid #f2f2f2}
.btn_area_btm button{width:100%}
.btn_area_btm .crime_txt{line-height:1.5;font-weight:300;font-size:.625rem}
.btn_area_btm .crime_txt h3{position:relative;font-weight:400;padding-left:.3125rem}
.btn_area_btm .crime_txt h3:before{content:'*';color:#000;position:absolute;top:.15rem;left:0}
.btn_area_btm.fix_btm{width:100%}

.btn_top_wrap{text-align:center}
.btn_top{width:1.83125rem;height:1.83125rem;background-position:0 -1.6375rem}
/*.btn_top i{width:285.;height:1.03125rem;background-position:-7.875rem 0}*/

/* form */
input,textarea,button,select{-webkit-appearance:none;border-radius:0;font-family:'Noto Sans',Dotum,Gulim,Sans-serif;letter-spacing:-.05rem}
button{cursor:pointer;border:none;background:none;-webkit-appearance:none}
input[type="checkbox"],
input[type="radio"]{margin:0;border:1px solid #999}
input[type="radio"]{-webkit-appearance:radio}
input[type="checkbox"]{width:1rem;height:1rem;border:1px solid rgba(0,0,0,0);-webkit-appearance:checkbox}
input:checked[type="checkbox"],
input:checked[type="radio"]{background-color:transparent}
input[type="number"],
input[type="tel"],
input[type="text"],
input[type="password"],
input[type="email"],
input[type="search"]{width:100%;height:1.3rem;line-height:inherit;border:0;background-color:transparent;padding:0 .6875rem .35rem;font-size:.75rem}
input[type="number"]:focus,
input[type="tel"]:focus,
input[type="text"]:focus,
input[type="password"]:focus,
input[type="email"]:focus,
input[type="search"]:focus{border-color:#2300b9}
input::-webkit-input-placeholder{padding-top:.3rem;font-size:.8125rem;color:#ccc}
input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration{display:none}
input:disabled{background-color:#fff}
button{cursor:pointer;border:none;background:none;-webkit-appearance:none;vertical-align:top}
button i{vertical-align:top !important}
select{overflow:hidden;white-space:nowrap;width:100%;height:1.5625rem;background:url(../images/select_arr.png) no-repeat 100% 50%;background-size:auto .375rem;border:0;border-bottom:1px solid #d1d1d1;padding:0 .6875rem;font-weight:300;font-size:.75rem;color:#b5b5b5}
select.selected{color:#000;font-weight:400}
.input{position:relative;display:inline-block;/*height:1.5625rem;*/border-bottom:1px solid #d1d1d1;padding-top:.225rem}
.input input{vertical-align:top}
.input .rtbx{position:absolute;top:.3125rem;right:.28125rem;font-weight:300;font-size:.6875rem}
.input .rtbx.cfm{top:auto;bottom:0;right:0;width:4rem;font-size:.75rem}
.input .ltbx{position:absolute;top:.3125rem;left:.28125rem;font-weight:300;font-size:.6875rem}
.input .ltbx.glass{top:1rem;left:0;padding:0 .75rem 0 1.375rem}
.input:before{content:'';display:block;width:0;height:1px;overflow:hidden;background-color:#2300b9;z-index:1;position:absolute;bottom:-1px;left:0;transition-duration:.35s}
.input.focus:before{width:100%}
div.input{display:block}
.input.text{padding:0 .6875rem;font-size:.75rem;letter-spacing:0}
.input_del{padding-right:1.5625rem}
.input_del .btn_del{display:none;position:absolute;top:-.7rem;right:0;padding:.25rem;z-index:1}
textarea{width:100%;padding:.65rem .6875rem;background-color:#f5f5f5;border:1px solid #f5f5f5;font-size:.75rem}
.textarea .lbl{top:.75rem}
.textarea textarea{vertical-align:top}
.textarea.focus textarea{border-color:#2300b9}
.placeholder{position:relative}
.placeholder .i_text{position:relative;width:}
.lbl{display:block;position:absolute;left:.6875rem;z-index:2;font-weight:300;font-size:.75rem;color:#b5b5b5}
.input.text{height:1.568rem;padding-top:.1725rem}
.lbl{top:.2625rem}

.checkbox{position:relative;display:inline-block;vertical-align:middle}
div.checkbox{display:block}
.checkbox input + label:before{content:'';background-repeat:no-repeat;background-size:100% auto;display:inline-block;position:absolute}
.checkbox input{width:1px;height:1px;border:0;margin:-1px;padding:0;overflow:hidden;position:absolute;clip:rect(0,0,0,0)}
.checkbox input + label{display:block;position:relative;cursor:pointer;-webkit-user-select:none;-moz-user-select:none;-ms-user-select:none;padding:0 0 .05rem 1.3125rem;font-weight:300;font-size:.8125rem}
.checkbox input:checked + label{}
.checkbox.check input + label:before{width:.9375rem;height:.8125rem;left:0;top:.1rem;background-image:url(../images/checkbox_check.png)}
.checkbox.check input + label:active:before,
.checkbox.check input:checked + label:active:before,
.checkbox.check input:checked + label:before{background-image:url(../images/checkbox_check_on.png)}

.form_type .stit{display:block;margin:0 0 .75rem .125rem;font-size:.8125rem}
.form_type .stit i{display:inline-block;margin:.4rem 0 0 .3125rem;vertical-align:text-top;line-height:.7;font-family:'Roboto', sans-serif;color:#ce1c79}
.form_type>li{margin-top:1rem}
.form_type>li:first-child{margin-top:0}
.form_type li.cmt textarea{height:8.5315rem}
.form_type li.fupload{margin-top:.625rem}
.form_type li.fupload button{font-size:0}
.form_type li.fupload ul{display:flex}
.form_type li.fupload li{position:relative;margin-left:.3125rem}
.form_type li.fupload li:before{content:'';display:block;position:absolute;top:0;bottom:0;left:0;right:0;background-color:#000;opacity:.5}
.form_type li.fupload li:first-child{margin-left:0}
.form_type li.fupload li>img{width:4.375rem;height:4.375rem}
.form_type li.fupload .btn_del{position:absolute;top:0;right:0;z-index:1;width:1.5625rem;height:1.5625rem}
.form_type li.fupload .btn_del:before{content:'';position:absolute;top:0;bottom:0;right:0;left:0;z-index:-1;background-color:#fff;opacity:.43}
.form_type li.fupload li.btn_pho:before{display:none}
.form_type li.fupload li.btn_pho button{width:1.5rem;height:1.5rem;border:1px solid #1d1d1b}
.form_type li.withdraw select{border-color:#000}
.form_type li.potchg .stit{margin-bottom:.35rem}
.form_type li.potchg .input input{height:auto;padding-bottom:0;padding-left:.15rem;font-family:'Roboto', sans-serif;font-weight:500;letter-spacing:-.07rem;font-size:1.5625rem}
.form_type li.potchg .lbl{top:.7rem;left:.15rem}
.form_type li.potchg .input_del .btn_del{top:0}
.form_type li.potchg p{margin:.4375rem 0 0 .2125rem;font-weight:300;font-size:0.75rem}
.form_type li.potchg p .fc_pur2{font-family:'Roboto', sans-serif}
.form_type li.tokchg{position:relative;margin-top:1.875rem}
.form_type li.tokchg .stit{margin-bottom:0}
.form_type li.tokchg .num{position:absolute;top:0;right:0;font-family:'Roboto', sans-serif;font-size:.9375rem}
.form_type li.tokchg p{margin:.4375rem 0 0 .2125rem;font-weight:300;font-size:.625rem}

.form_agree{background-color:#f5f5f5}
.form_agree .checkbox{vertical-align:top}
.form_agree li{position:relative;padding:.855rem 1rem .74rem;border-bottom:1px solid #d6d6d6}
.form_agree ul:last-of-type li:last-child{border-bottom:0}
.form_agree ul.all li{padding-top:.625rem;padding-bottom:.47rem;background-color:#fff}
.form_agree ul.all .checkbox input + label{font-weight:400}
.form_agree .btn_agr{position:absolute;top:0;right:0;padding:1.14rem .9375rem;font-size:0}

.form_write_bar{width:100%;padding-right:3.75rem;background-color:#fff}
.form_write_bar .input{height:3.125rem;border-top:1px solid #bfbfbf}
.form_write_bar .input_del .btn_del{top:0;padding:.75rem}
.form_write_bar .lbl{top:1.1rem}
.form_write_bar .input{padding-top:1rem}
.form_write_bar .input.focus:before{width:0}
.form_write_bar .input.focus{border-color:#2300b9}
.form_write_bar .btn_skip{position:absolute;top:0;right:0;width:3.75rem;height:3.125rem;background-color:#2300b9;color:#fff}

/* tab */
.tab_type{display:flex;text-align:center;font-weight:300}
.tab_type:before{content:'';display:block;height:1px;position:absolute;left:0;right:0;bottom:0;background-color:#ccc}
.tab_type>ul>li{flex:1;position:relative}
.tab_type>ul>li.active:before{content:'';display:block;height:2px;background-color:#2300b9;position:absolute;bottom:0;left:0;right:0}
.tab_type a, .tab_type button{height:1.96875rem;line-height:1.96875rem;font-size:.625rem;color:#666}
.tab_type a{display:block}
.tab_type>ul>li.active a, .tab_type>ul>li.active button{font-weight:400;color:#4e25ff}
.tab_type button{width:100%}

.tab_type{font-size:0}
.tab_type .swiper-slide{width:auto !important;;min-width:16%;flex:auto;-webkit-flex-shrink:0 !important;flex-shrink:0 !important;margin-left:1rem}

.tab_type2, .tab_type2 a, .tab_type2 button{border-radius:1rem;overflow:hidden}
.tab_type2{
	display:flex;text-align:center;background-color:#f4f4f4;
	box-shadow:.15625rem .15625rem .3125rem rgba(0, 0, 0, .15)
}
.tab_type2 li{flex:1;position:relative}
.tab_type2 a, .tab_type2 button{border:0;font-size:.625rem;color:#bebebe}
.tab_type2 a{display:block}
.tab_type2 button{width:100%}
.tab_type2 li:last-child button{text-indent:-.2rem}
.tab_type2 li.selected{flex:1.2}
.tab_type2 li.selected a, .tab_type2 li.selected button{
	color:#fff;
	background: -webkit-linear-gradient(-45deg, #553cc1 0%, #2300b9 100%);
	background: linear-gradient(135deg, #553cc1 0%, #2300b9 100%);
}

/* list */
.list_type{border-bottom:1px solid #f2f2f2}
.list_type>li{border-top:1px solid #f2f2f2}
.list_type>li:first-child{border-top:0}
.list_type>li>a{display:block}
.list_type>li>a, .list_type>li>button, .list_type .wrap{position:relative;padding:.766rem 1.03125rem .9475rem}
.list_type>li>a, .list_type>li>button{color:#000}
.list_type .sbj{font-size:.8125rem}
.list_type .btn_s{position:absolute;top:50%;margin-top:-.45rem;right:1rem}
.list_type .ico_n{position:absolute;margin:.25rem 0 0 .15625rem;vertical-align:top}
.list_type ul.data{display:flex;flex-direction:row;margin-top:.2rem;font-size:.625rem;font-weight:300;font-family:'Roboto', 'Noto Sans', sans-serif}
.list_type ul.data li{position:relative;margin-left:.53125rem}
.list_type ul.data li:before{content:'';display:block;width:.25rem;height:.46875rem;background:url(../images/bg_com.png) no-repeat -9.09375rem 0;background-size:10rem auto;position:absolute;left:-.40625rem;top:0.15rem;font-size:0.4rem}
.list_type ul.data li:first-child{margin-left:0}
.list_type ul.data li:first-child:before{display:none}
.list_type ul.data li.hit{color:#787878}
.list_type ul.data li.hit span{color:#000}
.list_type ul.data li.date{color:#787878}
.list_type span.date{display:block;margin-top:.2rem;font-family:'Roboto', sans-serif;font-weight:300;font-size:.625rem;color:#aeaeae}
.list_1on1>li>a{padding-right:4.75rem}
.list_toggle .wrap{padding-right:3rem}
.list_toggle>li{position:relative}
.list_toggle>li.q:before{content:'';display:block;width:.65625rem;height:.65625rem;position:absolute;top:50%;margin-top:-.325rem;right:1.15625rem;background:url(../images/bg_com.png) no-repeat -1.59375rem 0;background-size:10rem auto}
.list_toggle>li.a{display:none;background-color:#f2f2f2}
.list_toggle>li.a>blockquote, .list_toggle>li.a>blockquote h2{font-weight:300}
.list_toggle>li.a>blockquote{padding:.766rem 1.03125rem .9475rem;font-size:.6875rem;line-height:1.6}
.list_toggle>li.a>blockquote h2{font-size:.8125rem}
.list_toggle>li.q.active:before{margin-top:0;width:.6875rem;height:1px;background:#1d1d1b}
.list_noti .sbj{max-width:16.6rem;vertical-align:middle}

.list_type2{padding-top:1.09375rem}
.list_type2:before{content:'';display:block;width:1px;background-color:#d0d0d0;position:fixed;top:2.75rem;bottom:0;left:1.71875rem}
.list_type2>li{margin-top:1.775rem}
.list_type2>li:first-child{margin-top:0}
.list_type2>li>a{display:block;position:relative;padding:.2125rem 0 0 1.875rem}
.list_type2 .cat{display:inline-block;width:1.5625rem;height:1.5625rem;line-height:.6rem;padding:.2rem .28125rem 0;border-radius:.45rem;font-weight:500;font-size:.5rem;text-align:center;color:#fff;position:absolute;top:0;left:0}
.list_type2 .cat.ty1{
	background: -webkit-linear-gradient(-45deg, rgba(132,105,254,1) 0%,rgba(65,32,208,1) 100%);
	background: linear-gradient(135deg, rgba(132,105,254,1) 0%,rgba(65,32,208,1) 100%);
}
.list_type2 .cat.ty2{
	background: -webkit-linear-gradient(-45deg, #56dbe0 0%, #04acb7 100%);
	background: linear-gradient(135deg, #56dbe0 0%, #04acb7 100%);
}
.list_type2 .cat.ty3{
	background: -webkit-linear-gradient(-45deg, #fe56ae 0%, #d11f7c 100%);
	background: linear-gradient(135deg, #fe56ae 0%, #d11f7c 100%);
}
.list_type2 .sbj{padding-right:1rem;letter-spacing:-.07rem;font-size:.8125rem;color:#000}
.list_type2 .sbj:after{content:'';display:inline-block;background:url(../images/bg_com.png) no-repeat -7.65625rem -1.6875rem;background-size:10rem auto;vertical-align:middle;color:transparent;white-space:nowrap;width:.46875rem;height:.75rem;position:absolute;top:.37rem;right:0}
.list_type2 .date{display:block;margin-top:.25rem;font-family:'Roboto', 'Noto Sans', sans-serif;font-size:.625rem;font-weight:300;color:#9e9e9e;text-indent:.05rem}
.list_type2 figure{margin-top:.625rem}

.list_type3>li{margin-top:.9375rem}
.list_type3 dl:after{display:block;clear:both;content:''}
.list_type3 dt{overflow:hidden;position:relative;float:left;width:4.375rem;height:4.375rem;border-radius:0 .6rem .6rem}
.list_type3 dt:before{content:'';display:block;position:absolute;top:0;left:0;bottom:0;right:0;border-radius:0 .6rem .6rem;border:1px solid #c7c7c7}
.list_type3 dt i{position:absolute;top:0;left:0;width:.875rem;height:.875rem;line-height:.925rem;background-position:-6.6875rem 0;font-family:'Roboto', sans-serif;text-align:center;font-size:.75rem;color:#fff;text-indent:0}
.list_type3 dt img{width:100%;height:100%}
.list_type3 dd{overflow:hidden;position:relative;flex:7.7;padding-left:.9375rem}
.list_type3 .btn_go{position:absolute;top:0;right:0}
.list_type3 .elip1{vertical-align:top}
.list_type3 h4{padding-right:3.8rem;letter-spacing:-.05rem;font-size:.875rem}
.list_type3 h4.elip1{max-width:10.5rem;margin:.05rem .28125rem 0 0}
.list_type3 h4+.point{font-weight:500;font-family:'Roboto', sans-serif;font-size:.875rem}
.list_type3 h4+.point2{margin:.15rem 0 .3rem;font-weight:300;font-size:.75rem}
.list_type3 h4+.point2 strong{margin-left:.1rem;font-weight:500;font-family:'Roboto', sans-serif;font-size:.875rem}
.list_type3 h4+.point2 .bar{display:inline-block;vertical-align:top;margin:.05rem .25rem 0}
.list_type3 ul.data{font-family:'Roboto', 'Noto Sans', sans-serif}
.list_type3 ul.data li{display:flex;align-items:center;margin-top:.25rem}
.list_type3 ul.data li .name{flex-basis:3.8rem;font-size:0.6875rem}
.list_type3 ul.data li .name i{margin-top:-.15rem}
.list_type3 ul.data li .time{flex:1 1 0;padding-left:.1rem;font-size:0.6875rem;color:#666}
.list_type3 ul.data2{font-family:'Roboto', 'Noto Sans', sans-serif;margin-top:.5rem}
.list_type3 ul.data2 li{display:flex;align-items:center;margin-top:.2rem}
.list_type3 ul.data2 li:first-child{margin-top:0s}
/*.list_type3 ul.data2 li>span{flex:1}
.list_type3 ul.data2 li>span:last-child{flex:1.3;text-align:right}*/
.list_type3 ul.data2 li.corp{font-family:'Roboto', sans-serif;font-weight:300;color:#000}
.list_type3 ul.data2 li .name{font-weight:300;font-size:.8125rem}
.list_type3 ul.data2 li .name+strong{margin-left:.1rem}
.list_type3 ul.data2 li .point{margin-left:.1rem;font-weight:500;line-height:1;font-size:1rem}
.list_type3 ul.data2 li .gtime{font-size:.6875rem}
.list_type3 ul.data2 li .bar{display:inline-block;vertical-align:top;margin:-.05rem .25rem 0;font-size:.9rem}

.list_type4>li{position:relative;margin-top:1.25rem;border-top:.1875rem solid #eee}
.list_type4 hgroup{padding:.525rem 5rem .525rem 0;letter-spacing:-.05rem}
.list_type4 h4{font-size:.875rem}
.list_type4 h4+p{margin-top:.1275rem;font-family:'Roboto', 'Noto Sans', sans-serif;font-size:.6875rem;font-weight:300}
.list_type4 h4+p strong{font-size:.875rem}
.list_type4 h4+p.point{margin-top:.1rem;font-size:.75rem}
.list_type4 h4+p.point .bar{font-size:1rem;display:inline-block;vertical-align:top;margin:-.05rem .25rem 0}
.list_type4 h4+p.point strong{margin-left:.1rem}
/* .list_type4 h5, .list_type4 h5+p{margin:0 .21875rem} */
.list_type4 h5{margin-bottom:.2rem;font-weight:400;font-size:0.6875rem;color:#000}
.list_type4 .elip2{height:1.625rem}
.list_type4 .btn_down{position:absolute;top:.9375rem;right:0}
.list_type4 dl{display:flex;flex-direction:column;border-top:1px solid #eee;padding:.625rem 0 0}
.list_type4 dt{order:2;margin-top:0.75rem}
.list_type4 dd{order:1;font-weight:300;letter-spacing:-.05rem;font-size:0.6875rem;color:#666}

.list_type5>li{margin-top:0.875rem;background-color:#fff}
/* .list_type5>li:first-child{margin-top:0} */
.list_type5 dt{float:left}
.list_type5 dt img{width:7.6875rem;height:8.40625rem}
.list_type5 dd{overflow:hidden;height:8.40625rem;padding:.9375rem .9375rem 0 .9375rem}
.list_type5 dd>a{display:block;color:#000}
.list_type5 h3{font-size:.875rem}
.list_type5 article{margin-top:.35rem;font-weight:300;line-height:1.4;height:2.8rem;font-size:.6875rem}
.list_type5 .point_set{position:relative;margin-top:.75rem}
.list_type5 .point_set a{position:absolute;top:0;right:0}
.list_type5 .point{font-family:'Roboto', 'Noto Sans', sans-serif;font-size:.9375rem}

.list_type6{line-height:1.55;font-weight:300;font-size:.625rem}
.list_type6 li{position:relative;padding-left:.3125rem}
.list_type6 li:before{content:'*';position:absolute;top:.15rem;left:0}
.list_type6 b{font-weight:400}

.list_type7>li{display:flex;align-items:center;height:3.75rem;border-top:1px solid #f2f2f2}
.list_type7>li:first-child{border-top:0}
.list_type7>li:last-child{border-bottom: 1px solid #f2f2f2}
.list_type7 .col{position:relative;flex:1}
.list_type7 .col:last-child{text-align:right}
.list_type7 .bg_rank{margin:0 .4375rem 0 0}
.list_type7 .name{font-size:.9375rem}
.list_type7 .point{font-family:'Roboto', sans-serif;font-size:.9375rem}
.list_type7 .potset{font-size:.6875rem}
.list_type7 .date{display:block;text-indent:.1rem;font-weight:300;font-family:'Roboto', sans-serif;font-size:.625rem;color:#6c6c6c}
.list_type7 li.app{display:block;height:auto}
.list_type7 li.app .col:first-child{padding-left:2.6875rem}
.list_type7 li.app figure, .list_type7 li.app figure:before{border-radius:.4rem}
.list_type7 li.app figure{overflow:hidden;font-size:0;position:absolute;top:-.1rem;left:0;width:2.21875rem;height:2.21875rem                  }
.list_type7 li.app figure:before{content:'';display:block;position:absolute;top:0;left:0;bottom:0;right:0;border:1px solid #c7c7c7}
.list_type7 li.app figure img{width:100%;height:100%}

.list_type7 li.app .toggle_game{display:flex;width:100%;height:3.75rem;padding:0 .9375rem;color: #000;align-items: center}
.list_type7 li.app .toggle_list{display:none;padding:0 0.9375rem;background-color: #f8f8f8}
.list_type7 li.app .toggle_list.toggle{display:block}
.list_type7 li.app .toggle_list ul{padding: 0.4375rem 0}
.list_type7 li.app .toggle_list li{display:flex;align-items: center;padding:0.4375rem 0}
.list_type7 li.app .toggle_list .col:first-child{padding-left: 0}
.list_type7 li.app .toggle_list .name{display:block;margin-top:-1px;font-size:0.6875rem;font-weight:300}

.list_type8{font-weight:300;font-size:.8125rem;letter-spacing:-.07rem}
.list_type8:after{display:block;clear:both;content:''}
.list_type8 dt, .list_type8 dd{padding-top:.5rem;padding-bottom:.5rem}
.list_type8 dt{
	float:left;text-overflow:ellipsis;white-space:nowrap;word-wrap:normal;overflow:hidden;max-width:11rem;line-height:1.2
}
.list_type8 dd{overflow:hidden;text-align:right}
.list_type8 dd strong{margin-right:.15625rem;font-family:'Roboto', sans-serif;font-weight:500}
.list_type8{}

/* table */
.tbl_type{font-weight:300}
.tbl_type table{width:100%}
.tbl_type th{background-color:#fff;padding-top:.685rem;font-weight:300;font-size:.625rem}
.tbl_type th:after{content:'';display:block;height:.4375rem;margin-top:.7175rem;background-color:#f2f2f2}
.tbl_type td{padding-top:.96rem;padding-bottom:.94rem;border-bottom:1px solid #f2f2f2;text-align:center}
.tbl_type td.date, .tbl_type td.time{font-family:'Roboto', sans-serif;font-size:.625rem;color:#6c6c6c}
.tbl_type td.time>span{display:inline-block;min-width:3.6rem;text-align:right}
.tbl_type td.name, .tbl_type td.point{font-weight:500;font-size:.75rem}
.tbl_type td.name{text-align:left}
.tbl_type td.point>span{display:inline-block;min-width:3.4rem;text-align:right}
.tbl_type td.num{padding-right:1rem;text-align:right;font-family:'Roboto', sans-serif;font-weight:500;font-size:.75rem}
.tbl_wty th:first-child, .tbl_wty td:first-child{width:14.5%}
.tbl_wty th:nth-child(2), .tbl_wty td:nth-child(2){width:30%}
.tbl_wty th:nth-child(3), .tbl_wty td:nth-child(3){width:22%}

.tbl_wty2 th:first-child, .tbl_wty2 td:first-child{width:22%}
.tbl_wty2 th:nth-child(2), .tbl_wty2 td:nth-child(2){width:23%}
.tbl_wty2 th:nth-child(3), .tbl_wty2 td:nth-child(3){width:23%}

/* detail */
.detail_type .btn_go{display:inline-block;border-bottom:1px solid #2300b9;font-size:.6875rem;color:#4e25ff}
.detail_type header{padding-top:.8375rem;padding-bottom:1.25rem;border-bottom:1px solid #ccc}
.detail_type h3{line-height:1.4;font-size:.9375rem}
.detail_type h3 .btn_s{vertical-align:middle;margin:-.12rem .5rem 0 0;line-height:1rem;font-size:.5625rem}
.detail_type .date{margin-top:.3125rem;font-family:'Roboto', 'Noto Sans', sans-serif;font-weight:300;font-size:.625rem;color:#6c6c6c}
.detail_type article{margin-top:.9375rem;padding-bottom:1.25rem;font-weight:300;font-size:.8125rem}
.detail_type .imglist li{margin-top:.40625rem}
.detail_type .imglist li:first-child{margin-top:0}
.detail_type .ansbx{margin-top:1.34375rem;font-weight:300;font-size:.8125rem}
.detail_type .ansbx h4{padding-left:.9375rem;line-height:1.875rem;background-color:#f2f2f2;font-size:.625rem;font-weight:300;color:#787878}
.detail_type .ansbx h4 tt{margin-left:.25rem;font-family:'Roboto', sans-serif;color:#000}
.detail_type .ansbx p{padding:.9375rem .9375rem 0;line-height:1.3}
.detail_type .btn_game{position:absolute;top:.9375rem;right:.9375rem;width:4.8125rem}

.detail_type2 .ui_inner{position:relative}
.detail_type2 header{padding-top:.875rem;padding-bottom:.8125rem;border-bottom:1px solid #ccc}
.detail_type2 .btn_rvat{position:absolute;top:.9375rem;right:.9375rem}
.detail_type2 .btn_conf{display:inline-block;margin-top:.6rem;border-bottom:1px solid #2300b9;font-size:.8125rem;color:#4e25ff}
.detail_type2 .btn_outlink{display:inline-block;border-bottom:1px solid #2300b9;font-size:.8125rem;color:#2300b9;position:absolute;top:.8125rem;right:1.1rem}
.detail_type2 .btn_refresh{padding:.55rem 1.1875rem;font-weight:300;font-size:.625rem;color:#aaa}
.detail_type2 h3{padding-right:5.3rem;font-size:.9375rem}
.detail_type2 h3+p{margin-top:.3rem;font-family:'Roboto', 'Noto Sans', sans-serif;font-weight:300;font-size:.625rem;color:#6c6c6c}
.detail_type2 .detail{padding-top:.8125rem;padding-bottom:1.0625rem;word-break:break-all}
.detail_type2 .detail>h4{margin-bottom:.1rem;font-size:.8125rem}
.detail_type2 article{letter-spacing:-.07rem;line-height:1.4;font-size:.8125rem;font-weight:300}
.detail_type2 .total_set{height:1.875rem;background-color:#f2f2f2}
.detail_type2 .total_set .ico_refresh{margin:.1rem.1875rem 0 0}
.detail_type2 .total_set li{float:left;width:50%;text-align:right}
.detail_type2 .total_set li:first-child{padding:.625rem 0 0 1rem;text-align:left;font-family:'Roboto', 'Noto Sans', sans-serif;font-size:.625rem}
.detail_type2 .total_set li:first-child span{color:#787878}
.detail_type2 .cmt_list>li{position:relative;padding:.9375rem 2.59375rem .9375rem .9375rem;border-top:1px solid #f2f2f2;text-align:left;font-weight:300;font-size:.75rem}
.detail_type2 .cmt_list>li:first-child{border-top:0}
.detail_type2 .cmt_list .id{display:block;margin-bottom:0.375rem;color:#787878}
.detail_type2 .cmt_list .id .ico_balloon{position:absolute;left:1.15625rem;margin-top:-.15rem}
.detail_type2 .cmt_list .time{display:inline-block;vertical-align:middle;margin-left:.25rem;font-family:'Roboto', 'Noto Sans', sans-serif;font-weight:300;font-size:.625rem;color:#9e9e9e}
.detail_type2 .cmt_list>li.adm{padding-left:2.8125rem}
.detail_type2 .cmt_list>li.adm .id{color:#4e25ff}
.detail_type2 .cmt_list>li.nodata{padding:2.5rem 0;text-align:center;font-size:.8125rem;font-weight:300;color:#aaa}
.detail_type2 .cmt_list>li.nodata i{margin-bottom:.5rem}
.detail_type2 .cmt_list .btn_del{font-size:0;padding:.46875rem;position:absolute;top:50%;margin-top:-1.125rem;right:.6875rem}
.detail_type2.v1 header{border-bottom:0}
.detail_type2.v1 .detail{background-color:#f8f8f8}

/* popup */
.ly_pop{position:fixed;top:0;left:0;width:100%;height:100%;z-index:-1}
.ly_pop:before{content:'';position:absolute;top:0;left:0;z-index:-1;width:100%;height:100%;background:#000;opacity:.5;display:none}
.ly_cls{position:absolute;top:0;right:0;padding:.625rem}
.ly_cls i{vertical-align:top}
.ly_pop .cont{display:flex;align-items:flex-end;width:100%;height:100%;position:absolute;top:0;left:0;z-index:10}
.ly_pop .elm{position:relative;width:100%;background:#fff;text-align:center}
.ly_pop.full{display:none;z-index:10;background-color:#fff}
.ly_pop.full .cont{display:block}
.ly_pop.full .elm{bottom:0 !important;transition-duration:0s !important;height:100%;padding-top:2.75rem;text-align:left}
.ly_pop.full .scroll{height:100%}
.ly_pop.full .ly_cls{top:.2575rem;right:.4375rem}
.ly_pop.full header{position:absolute;top:0;left:0;right:0;border-bottom:1px solid #ccc}
.ly_pop.full header h2{height:2.75rem;line-height:2.75rem;font-size:1rem;font-weight:300;text-align:center}
.ly_pop.show{z-index:11}
.ly_pop.show:before{display:block}
.ly_pop.show .elm{bottom:0 !important;transition-duration:.35s}
.ly_pop.full.show{display:block}
.ly_pop.full.show:before{display:none}

/* animation */
.loading{position:absolute;top:50%;left:50%;margin-top:-1rem;margin-left:-1rem;box-sizing:border-box;width:2rem;height:2rem;background:transparent;border: 0 solid #fff;border-width:2px;border-bottom-color: transparent;border-radius: 100%;-webkit-animation: ball-clip-rotate 0.75s linear infinite;animation: ball-clip-rotate 0.75s linear infinite}
@-webkit-keyframes ball-clip-rotate{
	0%{-webkit-transform: rotate(0deg);transform: rotate(0deg)}
	50%{-webkit-transform: rotate(180deg);transform: rotate(180deg)}
	100%{-webkit-transform: rotate(360deg);transform: rotate(360deg)}
}
@keyframes ball-clip-rotate{
	0%{-webkit-transform: rotate(0deg);transform: rotate(0deg)}
	50%{-webkit-transform: rotate(180deg);transform: rotate(180deg)}
	100%{-webkit-transform: rotate(360deg);transform: rotate(360deg)}
}

.aninext{font-size:0;display:block;width:.9rem;margin:0 auto}
.aninext i, .aninext:before{background-size:10rem auto;background-image:url(../images/bg_com.png)}
.aninext i{
	float:left;width:.28rem;height:.31125rem;background-position:-4.75rem -1.6875rem;vertical-align:top;opacity:0}
.and5-below .aninext i{display:none}
.and5-below .aninext:before{content:'';display:inline-block;width:.7875rem;height:.38125rem;background-position:-4.75rem -2.1875rem}

/* datepicker */
.dateWrap{padding:1.5625rem 0 0.9375rem}
.ui-datepicker-prev,
.ui-datepicker-next,
.ui-state-default{cursor:pointer}
.ui-datepicker-header {
	display: flex;
	display: -webkit-flex;
	align-items: center;
	-webkit-align-items: center;
	justify-content: center;
	-webkit-justify-content: center
}
.ui-datepicker-title{padding:0 0.7813rem;text-align:center;order:0;font-size:0.8125rem}
.ui-datepicker-prev,
.ui-datepicker-next{width:0.4375rem;height:0.75rem;background-repeat:no-repeat;background-position:50% 50%;background-size:100% 100%}
.ui-datepicker-prev {order:-1;background-image:url(../images/date_prev.png)}
.ui-datepicker-next {order:1;background-image:url(../images/date_next.png)}
.ui-datepicker-prev,
.ui-datepicker-next span{font-size:0}
.ui-datepicker-calendar{width: 100%}
.ui-datepicker-calendar th,
.ui-datepicker-calendar td {height:2.5rem}
.ui-datepicker-calendar thead th{font-size:0.75rem;color: #000}
.ui-state-default {
	display: flex;
	display: -webkit-flex;
	width: 100%;
	height: 100%;
	position: relative;
	text-align: center;
	font-family: 'Roboto';
	font-size: 0.75rem;
	color: #bcbcbc;
	align-items: center;
	-webkit-align-items: center;
	justify-content: center;
	-webkit-justify-content: center
}
.ui-datepicker-calendar .ui-state-default:before {
	content: '';
	display: block;
	width: 1.875rem;
	height: 1.875rem;
	position:absolute;
	left:0;
	right:0;
	top:50%;
	z-index: -1;
	margin: -0.9375rem auto 0;
	border-radius: 50%;
	background-color: transparent;
	border: 1px solid transparent;
	box-sizing: border-box
}
.ui-datepicker-calendar td:first-child span,
.ui-datepicker-week-end span[title="Sunday"]{color:#e46150}
.ui-datepicker-calendar td:first-child .ui-state-active{color:#2300b9}
.ui-datepicker-calendar td.playDay .ui-state-default{color:#2300b9;font-weight:700}
.ui-datepicker-calendar td.playDay .ui-state-active,
.ui-datepicker-current-day .ui-state-active{color:#fff;font-weight:700}
.ui-datepicker-calendar td.playDay .ui-state-active:before,
.ui-datepicker-current-day .ui-state-active:before{border-color:#2300b9;background-color:#2300b9}
.ui-datepicker-today .ui-state-default {color:#2300b9}
.ui-datepicker-today .ui-state-default:before{border-color:#2300b9}

/* 달력 상세 게임 영역 */
.date_game{display: none;border-top: 1px solid #ccc;background-color: #f8f8f8;}
.date_game.selectDay{display: block;}