/* Noto Sans */
@font-face {
    font-family: 'Noto Sans';
    font-style: normal;
    font-weight: 100;
    src: local(※), url(font/NotoSansKR-Thin.woff) format('woff');
    text-rendering: optimizeLegibility;
}
@font-face {
    font-family: 'Noto Sans';
    font-style: normal;
    font-weight: 300;
    src: local(※), url(font/NotoSansKR-Light.woff) format('woff');
    text-rendering: optimizeLegibility;
}
@font-face {
    font-family: 'Noto Sans';
    font-style: normal;
    font-weight: 400;
    src: local(※), url(font/NotoSansKR-Regular.woff) format('woff');
    text-rendering: optimizeLegibility;
}
@font-face {
    font-family: 'Noto Sans';
    font-style: normal;
    font-weight: 500;
    src: local(※), url(font/NotoSansKR-Medium.woff) format('woff');
    text-rendering: optimizeLegibility;
}
@font-face {
    font-family: 'Noto Sans';
    font-style: normal;
    font-weight: 700;
    src: local(※), url(font/NotoSansKR-Bold.woff) format('woff');
    text-rendering: optimizeLegibility;
}

/* roboto */
@import url('https://fonts.googleapis.com/css?family=Roboto:400,500,700&display=swap');
/* font-family: 'Roboto', sans-serif; */
